[2019-05-19 00:10] rohandubal commented on #1549
Hello @rineek

Thanks for bringing this to our attention, it seems like a miss from our side. We'll provide an update here once we get back the original fix.

Thanks,
Rohan

[2019-05-19 00:13] rohandubal commented on #1550
Hello @pablogeek

For files less than 5 MB we do not use multi part uploads and that would explain why you don't see the errors for file size < 5 MB.

I think what is happening is that for multi-part uploads the MD5 should correspond to individual parts and not the whole file. You can use the standard upload method which does not use multi part for files > 5 MB.

Thanks,
Rohan

[2019-05-19 00:15] rohandubal commented on #1552
Hello @dankuchler

Thanks for explaining this use-case. I will take this as a feature request to the team.

Best,
Rohan

[2019-05-19 00:16] rohandubal commented on #1553
Hello @jodafm

Thanks for bringing this to our attention.  I will check with the service team to understand the expected behavior in this case and reply back.

Thanks,
Rohan

[2019-05-19 00:21] rohandubal commented on #1554
Hello @phanchutoan

Could you please specify that in the 2nd run of the app, is it only the 1st URL which takes long time and sub-sequent ones are faster? or is it that all URLs take time?

Thanks,
Rohan

[2019-05-19 00:23] rohandubal commented on #1557
Hello @thuanngo1990

Have you tried passing the image contents as `Data` object to the HTTP body parameter?

Thanks
Rohan

[2019-05-19 00:25] rohandubal commented on #1558
Hello @GeekOnIce

Thank you for a detailed description explaining the use-case. I will take this as feature request to the team.

Thanks,
Rohan

[2019-05-19 00:42] phanchutoan commented on #1554
@rohandubal all the urls take time to be create. But if I wait for about 30 minutes. An start the app again. I create all the urls very fast. And it become slow again right after I restart the app.

[2019-05-19 01:54] thuanngo1990 commented on #1557
Yes @rohandubal . Do you have any ideas for that?
Thank you :)

[2019-05-19 08:35] pablogeek commented on #1550
Hello @rohandubal that is what I suspected. How can I check the file md5 is the same as the file that has been uploaded.
Thanks

[2019-05-19 22:43] jamesatfish commented on #1505
@palpatim how can we help get this issue examined and addressed?  We are still seeing crashes from our users with this error from the AWS libraries and no apparent way for us to resolve the issues.

Here is one of the crash logs if that helps:

[code]

[2019-05-20 10:55] allanweir commented on #1548
Hey,

I had a different issue when manually setting the credentials provider in the past https://github.com/aws-amplify/aws-sdk-ios/issues/1521 - it seemed like letting the libraries automatically create the service configuration was working but now it's having issues after the session expires

[2019-05-20 12:22] kalpesh opened #1564 "AWSMTLModel Crash in UnitTest traget"
Getting below crash for Unit test target. App target is working fine, only crashing in Unit Test target.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Select Unit Test Target
2. Click Command  + U

**Which AWS service(s) are affected?**
AWSCore

**Expected behavior**
Should not crash for Unit test target

**Environment(please complete the following information):**
 - SDK Version: A

[2019-05-20 14:59] #1393 closed

[2019-05-20 14:59] #1024 closed

[2019-05-20 15:42] pablogeek commented on #1550
@rohandubal of course I meant for multipart uploads. Sorry

[2019-05-20 16:59] #1536 closed

[2019-05-20 17:04] fer662 commented on #1549
@rineek The app that had problems is still running on my fork so I haven't hit the regression. Thanks for the heads up anyway! FWIW it's been running great.

[2019-05-20 21:53] trzeciak opened #1565 "AWSS3TransferUtilityDownloadTask retains completionBlock after download finish"
**State your question**
Why AWSS3TransferUtilityDownloadTask retains completionBlock (and progressBlock) after download finish?

**Which AWS Services are you utilizing?**
AWSS3 + AWSCore

**Environment(please complete the following information):**
 - SDK Version: 2.9.7
 - Dependency Manager: Cocoapods
 (- ObjC)

**Device Information (please complete the following information):**
 - Device: Simulat

[2019-05-21 05:42] vladspreys opened #1566 "How to get UUID after sign up with AWSMobileClient.sharedInstance().signUp"
**State your question**
From reading the [docs](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_SignUp.html), the sign up response should contain three properties:

[code]

However, the `signUp` method returns the following `struct` which does not contain UUID:

[code]

What is the right way to get the UUID?

**Which AWS Services are you utilizing?**
Cognito

**Prov

[2019-05-21 08:30] redboxstudio opened #1567 "Can I use UserPool to only sign up with phone number?"
Looking at the docs and the User Pool I'm trying to figure out if it's possible to use it to have user only sign up and log in with a phone number and code sent to the phone. It does seem that I also need them to set a password as well as the MFA code?

[2019-05-21 12:26] allanweir commented on #1548
I've just had my app running on the simulator whilst I've been out, so about an hour and when I've come back the calls to lambda are no longer working. It is still sending a token which has the auth role but it seems like it's expired as lambda is returning a 403. The function it's calling is setup to work with both the auth and unauth roles. This is after changing the lambda registration to work

[2019-05-21 17:36] miguelbanda opened #1568 "API Gateway calls with Cognito authentication not working properly"
**API Gateway calls with Cognito authentication not working properly**
I was working with Cognito(SignUp, SignIn, Forgot Password, etc.) and everything works fine, until I got a problem calling my API Gateway, sometimes it works and insert the data into my Dynamo DB, but other times it shows this error message:

[code]

I was following [this tutorial](https://docs.aws.amazon.com/apigateway/latest/

[2019-05-21 17:40] kvasukib commented on #1568
@miguelbanda Sorry for the inconvenience caused. Is the Cognito Identity pool used in `CredentialsProvider` section in `awsconfiguration.json` file the same as the Cognito Identity Pool used in the constructor of `AWSCognitoCredentialsProvider`?

Have you enabled `Unauthenticated access to Identity pool` in the Amazon Cognito Identity Pools console?

[2019-05-21 17:52] miguelbanda commented on #1568
Yes they are the same Cognito Identity Pool ID in both places.

No, the access for the Cognito Identity Pool is only for Authenticated users via Cognito User Pools

[2019-05-21 18:04] kvasukib commented on #1568
If you only need to allow "Authenticated users via Cognito User Pools" in your Cognito Identity Pool, you need to have a valid Id Token from Cognito User Pools and federate this token into the Cognito Identity Pool and then retrieve credentials from Amazon Cognito which will be accepted by AWS API Gateway.

If you try to retrieve credentials without a valid Id Token being federated into Amazon Cog

[2019-05-21 18:15] jodafm commented on #1553
Thanks @rohandubal  👍

[2019-05-21 19:18] miguelbanda commented on #1568
I'm using this method to Sign In my users:
[code]

After this, how do I federate my tokens into my Identity Pool?

[2019-05-21 19:45] kvasukib commented on #1568
`AWSMobileClient` automatically federates the token retrieved from Cognito User Pools in the Cognito Identity pool configured through the `awsconfiguration.json` file. When you use `AWSMobileClient.sharedInstance()` as the credentials provider in your `AWSServiceConfiguration`, it should work.

[code]

See https://aws-amplify.github.io/docs/ios/api#iam-authorization for more details.

[2019-05-21 19:50] kvasukib commented on #1567
@redboxstudio Thank you for reporting to us. What part of our SDK are you using?

We have the following SDKs that will help you accomplish the authentication use-cases in your iOS app. Based on the SDK you are using, we can discuss how to accomplish your use-case.

- AWSMobileClient with SignIn UI provided by the SDK
- AWSMobileClient without SignIn UI provided by the SDK (API only and not UI)
- A

[2019-05-21 19:56] kvasukib commented on #1566
@vladspreys Thank you for reporting to us. The `SignUpResult` that is returned by `AWSMobileClient.signUp` method is a result object that lives in the `AWSMobileClient` SDK and is different from the `SignUpResult` that is returned by the Amazon Cognito User Pools service as part of the sign-up response.

If you take a look at https://github.com/aws-amplify/aws-sdk-ios/blob/master/AWSAuthSDK/Source

[2019-05-21 20:02] kvasukib commented on #1565
@trzeciak Thank you for reporting to us. The completion block and progress block could be freed upon successful completion of a transfer. I will tag this as a feature request and add it to our backlog.

[2019-05-22 06:53] yxwandroid commented on #1045
I'm having the same issue.

[2019-05-22 08:16] Can-Sahin commented on #1204
@rohandubal @ryancrunchi Hi.

I am also stuck with the 'passwordless' authentication, meaning custom auth challenges. In js it's so simple but `AWSMobileClient` doesn't support it yet. Can you share some code about doing it `AWSCognitoIdentityProvider`. Or any guide ?

Thanks.

[2019-05-22 10:41] modibhaviks commented on #932
@nick3389

I have solved this issue by removing `return; ` statement from AWSS3TransferUtility.m file in following method:

[code]

The return statement after Clean up were terminating the process of error handling and callback even if the Task consists an error.

[2019-05-22 10:46] modibhaviks commented on #1312
There is no specific closure available for Cancel event but we can manage it by handling error with following approach:

https://github.com/aws-amplify/aws-sdk-ios/issues/932#issuecomment-494749973

[2019-05-22 13:34] redboxstudio commented on #1567
AWSMobileClient with SignIn UI provided by the SDK or  AWSCognitoIdentityProvider

[2019-05-22 14:26] miguelbanda commented on #1568
I did some tests and it's working, thank you @kvasukib

[2019-05-22 16:06] kvasukib commented on #1568
@miguelbanda Thank you for the confirmation. Closing the issue.

[2019-05-22 16:06] #1568 closed

[2019-05-22 22:27] eanntuan commented on #1515
I'm having the same issue! Is there an update on this?

[2019-05-23 18:40] #1126 closed

[2019-05-23 18:54] dholdren commented on #1567
I'm also trying to do custom authentication without a password (token emailed to user).
I found this JS example: https://github.com/aws-samples/amazon-cognito-passwordless-email-auth which is referenced in a blog post: https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/

But I can't find an equivalent example for the iOS SDK, there's only regular

[2019-05-23 21:24] teymur291994 opened #1570 "Not record identity in identity pool"
**Describe the bug**
After successful login with google and created token, identity pool in was console not record any users also AWSMobileClient.sharedInstance().identityId == nil and AWSMobileClient.sharedInstance().identityPoolId == nil, these values I checked after get that user signIn.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to google authorization
2. After success authorizat

[2019-05-24 04:05] #1570 closed

[2019-05-24 05:38] Pumpkin-SweetPotato opened #1571 "Sometimes backgound tasks are not finished"
**Describe the bug**
Sometimes download tasks of AWSS3TransferUtility are not finished when Application entered background, but sometimes succeeded

**To Reproduce**
create multi download tasks about 70 and make App enter background

**Which AWS service(s) are affected?**
S3 Transferutility

**Expected behavior**

Always success background download tasks

**Screenshots**
tasks successfully complet

[2019-05-24 06:04] HareshGediya commented on #1045
Just had the same problem.
I did it by remove file in Pods -> Targets Support Files -> Pods-_AppName_ -> Pods-_AppName_-frameworks.sh.
And install pod again using **pod install**.

[2019-05-24 06:07] yunseok2 commented on #1045
I had the same problem. In my case, the problem was caused by the difference between the version of Node.js used by Cordova and the version of Node.js used by Xcode.

[2019-05-27 09:19] cbm-mghebaji opened #1574 "ScretsManager"
Hello,

Do you provide ScretsManager support in the iOS sdk ?

[2019-05-27 23:05] jamesatfish opened #1575 "InitiateAuth returning notAuthorized Error for some users"
**Describe the bug**
A subset of our users are experiencing issues where the InitiateAuth function returns a notAuthorized error for their account, despite them entering the correct credentials.

**To Reproduce**
There appears to be no particular pattern to reproduce the issue, but we're seeing scenarios like:

1. User signs up for a new account via our mobile app, obtains the identity and refresh

[2019-05-27 23:08] jamesatfish commented on #1532
@Nookaraju @palpatim I just raised a similar issue - #1575. We are seeing the same notAuthorized error, we also use email address as the username for signup.

[2019-05-28 02:17] SGA-ou-enhaku opened #1576 "Cache files left when AWSS3TransferUtilityMultiPartUploadTask canceled"
**Describe the bug**
After [AWSS3TransferUtilityMultiPartUploadTask cancel] calling, there are cache files left in /Library/Caches/S3TransferUtility.
If [S3TransferUtility uploadFileUsingMultiPart:...] -> [task cancel] all the time, there would be bad for iPhone' storage.

**To Reproduce**
Steps to reproduce the behavior:
1. Call [S3TransferUtility uploadFileUsingMultiPart:...]
2. Call [AWSS3Trans

[2019-05-28 15:37] crspybits commented on #1546
In my use case, our app has to run in the background and I want to make sure the KeyChain item setting works with that.

[2019-05-28 17:36] brockboe opened #1578 "Using aws-sdk-ios with custom DynamoDB endpoints"
**State your question**

Hello, I am working on an iOS application that uploads information to an Amazon DynamoDB. At the moment I have it successfully uploading and retrieving information from Amazon's own remote servers, but I would like to use my own dynamodb hosted on my own local network. I understand custom endpoints are a feature that have been added, and I am looking for  information, step

[2019-05-28 20:45] minbi commented on #1578
Hi @brockboe ,

As a starting point, you will need to change the endpoint for the DynamoDB client. This can be configured using the [endpoint property](https://github.com/aws-amplify/aws-sdk-ios/blob/806daa1279cb629e63a3dc4f33297a8d52bba4e1/AWSCore/Service/AWSService.h#L94)

Generally how the service configuration is passed in.

[code]

[2019-05-28 20:46] minbi commented on #1575
Hi @jamesatfish ,

Can you provide a code snippet so that we can investigate the code path you are using?

[2019-05-28 20:51] minbi commented on #1574
Hi @cbm-mghebaji ,

We do not currently support [Secret Manager](https://aws.amazon.com/secrets-manager/)

Potential duplicate #1012

[2019-05-28 20:56] minbi commented on #1576
Hi @SGA-ou-enhaku ,

Thanks for bringing this to our attention. This would be an agreeable improvement to the current behavior. We will look into prioritizing this item. In the meantime, we are open to pull requests if you are interested.

[2019-05-29 05:32] bolak2 commented on #1519
@rohandubal Anyway you can help?

[2019-05-29 06:02] jamesatfish commented on #1575
@minbi certainly.

Upon app launch we are attempting to automatically login the user (against our database) using the identityToken returned from `AWSMobileClient.sharedInstance().getTokens`:

[code]

If we end up at the loginNavigationController we use the SDK to directly call signIn with username and password credentials entered by the user:

[code]

[2019-05-29 07:26] Yannmm opened #1579 "AWSMobileClient compiled with older version of Swift language (unknown ABI version 0x06) than previous files (unknown ABI version 0x07) file"
**Describe the bug**
Use Carthage to setup ios sdk, follow the [documentation](https://aws-amplify.github.io/docs/ios/manualsetup), adding AWSCore.framework, compile successfully, but adding AWSMobileClient.framework, ending up with error as the title.

**To Reproduce**
Steps to reproduce the behavior:
1. Use carthage to generate aws-ios-sdk
2. follow the documentation to add AWSCore.framework, wh

[2019-05-29 07:42] cbm-mghebaji commented on #1574
Hi @minbi
Can i used the c++ sdk that have Secret Manager with an iOS application ? If not what solution do you advise to get keys from Secret Manager to iOS application ?

Thanks for help

[2019-05-29 15:03] brockboe commented on #1578
Yes, that did the trick! Looking through the objective-c code there is an AWSServiceConfiguration constructor that takes the endpoint as an argument [here](https://github.com/aws-amplify/aws-sdk-ios/blob/806daa1279cb629e63a3dc4f33297a8d52bba4e1/AWSCore/Service/AWSService.h#L104).

Once you have an endpoint and credentials constructed, plugging them into the function yields a connection to the desi

[2019-05-29 15:03] #1578 closed

[2019-05-29 22:00] #1527 closed

[2019-05-29 22:00] minbi commented on #1527
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-05-29 22:01] minbi commented on #1526
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-05-29 22:01] #1526 closed

[2019-05-29 22:01] minbi commented on #1528
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-05-29 22:01] #1528 closed

[2019-05-29 22:02] minbi commented on #1520
Hi,

We are closing this issue because there has been no activity. Please feel free to open a new issue if the problem persists. We ask this because closed issues are not actively monitored.

Thanks

[2019-05-29 22:02] #1520 closed

[2019-05-29 22:54] vladspreys commented on #1314
Hello Team,

Any update on this, please?

[2019-05-30 00:56] alejouribesanchez opened #1581 "AWSS3TransferUtility sometimes is not calling completionHandler"
Hi @kvasukib, Amazon engineers I am getting an issue related with "Stuck upload" the transfer appears to be stuck and the callback not being invoked. This is happening from time to time.

Can you share a code snippet where you construct the callback object?

[code]

Can you try with the latest version of the SDK?
Using AWSCore (2.9.7)
Using AWSS3 (2.9.7)

What version of iOS are you using? 12.2

W

[2019-05-30 01:06] alejouribesanchez commented on #1581
<img width="1144" alt="task_object" src="https://user-images.githubusercontent.com/3950665/58601132-236dc580-824d-11e9-84fd-939c75911313.png">
<img width="727" alt="task_complete" src="https://user-images.githubusercontent.com/3950665/58601146-2f598780-824d-11e9-99ea-27ab6ea89858.png">

[2019-05-30 16:19] klein-thibault commented on #993
Following up on this issue, we are facing the same problem and would like to have an API option rather than the hosted UI. Thanks in advance!

[2019-05-30 17:08] unmeshk75 commented on #993
It doesn’t work.

We tried everything given in the documentation and spent a lot of time on this. The AWS team also tried to help, but couldn’t.

The case I mentioned in my post above is not in working state with current Cognito or Amplify codebase. I wish they come out and say that clearly.

Don’t trust the docs. Save yourself some time & effort and go with a different solution till AWS team uplo

[2019-05-30 18:11] minbi commented on #1171
Hi @dannySaron ,

The authentication token is missing because you are not passing in a credentials provider here:
`let serviceConfiguration : AWSServiceConfiguration = AWSServiceConfiguration(region: .EUWest1, credentialsProvider: nil)`

We would recommend you use [AWSMobileClient](https://aws-amplify.github.io/docs/ios/authentication) to handle the authentication token because it handles authenti

[2019-05-30 18:16] minbi commented on #1265
Hi @HayTran94 ,

There are automatic reconnect procedures implemented that may delay the onConnectionError callback. We can investigate if there is a way to turn that off.

You can checkout `AWSIoTMQTTConfiguration` properties and specifically the `maximumReconnectTimeInterval` property to see if that changes your behavior.

[2019-05-30 18:21] minbi commented on #1261
Hi @nourahassan ,

This is service behavior that we don't have control over. We will send your feedback to the service team, but the SDKs won't be fixing this behavior.

[2019-05-30 18:21] #1261 closed

[2019-05-30 19:59] kvasukib commented on #1553
@jodafm Sorry for the delayed response.

Amazon Cognito User Pools and the supporting SDKs do send new passwords as plaintext over HTTPS. The service needs to receive the original password so that it can be checked against the password policy, and it relies on the encryption in HTTPS to secure the transmission. We will consider adding additional encryption as a potential feature in the future.

[2019-05-30 20:04] Foefirelord opened #1583 "Is AWSMobileClient.sharedInstance().interceptApplication() still required?"
**State your question**
The Amplify docs for authentication and analytics seem to have had the `interceptApplication()` method in them fairly recently, but I can no longer find it, so my question is: does AWSMobileClient still need to `return AWSMobileClient.sharedInstance().interceptApplication()` at the end of `application(_:didFinishLaunchingWithOptions:)` or is it deprecated?

**Which AWS Serv

[2019-05-30 21:07] rohandubal commented on #1248
Hello @alistra and @jamesingham

I have been investigating this issue and have some findings to share. I wrote an app which does exactly what @alistra has mentioned and found that:

- If the call to `confirmSignIn()` is made on the same thread as the one on which callback to `signIn` is received, it could result in the race condition which causes the described issue.
- If the call to `confirmSignI

[2019-05-30 22:00] minbi commented on #1227
Hi @iTransactions ,

If you use the remember devices feature you can achieve this use-case. You will need to enable the remember devices feature on the service-side before proceeding.

See [AWSMobileClient docs][1] on how to instantiate the client.
Sign-in the user. They user will go through user/pass, MFA code, etc.
Then once signed-in call [remember device][2] to register the device with the acc

[2019-05-31 04:10] fanbaoying opened #1585 "Certificate based mutual authentication"
**Mutual authentication based on fanhuiCertificate**

Call "iotDataManager. Connect" and "iotDataManager. ConnectUsingALPN method returns the link status: connection status = 1, the connection status = 5

1: AWSIoTMQTTStatusConnecting
2: AWSIoTMQTTStatusConnectionError

Is there a detailed error status statement

[2019-05-31 06:56] Wanxujie opened #1586 "AWS IOT AWSIoTMQTTClient crash"
**Describe the bug**
I am facing an issue cause with IoT open streams

libobjc.A.dylib | objc_msgSend + 16
-- | --
1 CoreFoundation | __inputStreamCallbackFunc + 56
2 CoreFoundation | __signalEventSync + 216
3 CoreFoundation | __cfstream_solo_signalEventSync + 244
4 CoreFoundation | __CFStreamSignalEvent + 308
5 CFNetwork | SocketStream::dispatchSignalFromSocketCallbackUnlocked(SocketStreamSignalH

[2019-05-31 13:39] rohit3d2003 commented on #1227
In the current use case, we are asking user to sign-up using just the phone number and they receive a verification code to confirm the entered number on their device. With MFA on, AWS sends the code twice - first to verify the phone number and second for MFA which is not something that we want.

@minbi - The scenario you mentioned will work for all registered users who are signing-in but for new u

[2019-05-31 17:11] minbi commented on #1581
Hi @alejouribesanchez ,

We have a sample app for S3 upload and download (although not multipart). Can you see if you can reproduce the issue in the sample app? The [upload method][1] and the [completionHandler][2] it uses.

[1]: https://github.com/awslabs/aws-sdk-ios-samples/blob/792dd0af3741b639071539b574b11100cb106b78/S3TransferUtility-Sample/Swift/S3BackgroundTransferSampleSwift/UploadViewCont

[2019-05-31 17:20] minbi commented on #1585
Hi @fanbaoying ,

We currently do not expose more detail in the status. What type of detail are you looking for and how would you use it?

@kvasukib Can you verify my statement?

[2019-05-31 17:26] minbi commented on #1586
Hi @Wanxujie ,

Thanks for bringing this to our attention.

@desokroshan Can you see if you have any context on this issue?

[2019-05-31 17:38] alejouribesanchez commented on #1581
Hi @minbi I finally found the reason for the issue, but I think it's important for developers to understand this, to replicate it is easy, just try to upload a file in the sample app, during the upload put your phone on airplane mode, you will see that task completed is called as I mentioned above but the completionHandler is never called, so after inspecting your code I found this:

`static NSTim

[2019-05-31 17:40] minbi commented on #1583
Hi @Foefirelord ,

If you have migrated over to the new usage pattern shown in [these docs][1], then I'm not aware of a use-case that requires this intercept.

@rohandubal Can you verify my statement?

[1]: https://aws-amplify.github.io/docs/ios/authentication

[2019-05-31 19:47] Foefirelord commented on #1505
Had this issue when trying to use the signOut method overload with the completion handler, resulting in crashes every time I'd attempt to sign out, but ONLY while signed in via social provider (Facebook) through User Pools (Hosted UI).

Switching to the regular signOut() method without arguments stopped the crashes.

So either the implementation of the completion block is bugged, or it's something

[2019-05-31 20:51] Foefirelord opened #1588 "Why does AWSMobileClient.sharedInstance().getUserAttributes fail for social providers?"
**State your question**
Discovered this while trying to retrieve the user's e-mail address to display in-app.

Using the Amplify SDK for authentication and following the latest docs, calling `AWSMobileClient.sharedInstance().getUserAttributes` works just fine when authenticating via e-mail/password, but returns an error when using Facebook or Google:

`notAuthorized(message: "Access Token does not

[2019-06-03 18:10] minbi commented on #1579
Hi @Yannmm ,

You will need to compile the frameworks with the flag `--no-use-binaries`. Your build will not be able to use our pre-built binaries.

[2019-06-03 19:00] minbi commented on #1588
Hi @Foefirelord ,

We currently do no support `getUserAttributes()` when using the HostedUI to sign-in. We will take this as a feature request to the team.

[2019-06-03 19:47] Foefirelord commented on #1588
Is there some other way to retrieve a user's e-mail address when they're signed in via a social provider?

My issue isn't so much the `getUserAttributes()` method specifically so much as that I can't find a way to get a user's e-mail in all authentication cases my app supports (e-mail, Facebook, Google).

[2019-06-04 16:23] w0mba7 commented on #313
Can we get this added now that there is support for iOS apps in Xcode 11?

[2019-06-04 17:53] jeffjvick commented on #1512
@palpatim Tim, Hi, has someone been assigned to this?

[2019-06-04 17:53] jeffjvick commented on #1513
@palpatim Tim, Hi, has someone been assigned to this?

[2019-06-04 18:26] ghost opened #1592 "How do I authenticate to Amazon Cognito using AWSMobileClient?"
Problem: I have two user pools in Cognito. Let's call them Pool A and B. I am able to authenticate a user to "Pool A" successfully.

I need to authenticate a user created by backend dynamically to "Pool B" from the client.

Docs I have read:
- Amazon Amplify
- Amazon Cognito
- Amazon SDK for iOS
- AWSMobileClient

My setup:
- AWSMobileClient v2.9.8
- iOS 12.0
- iPhone 7 Plus

I have tried the foll

[2019-06-04 21:24] rromanchuk commented on #1583
does anyone know if i can completely get rid of `AWSMobileClient`, i use in Federated identities to provide limited unauthenticated access via `AWSCognitoCredentialsProvider` and `AWSS3TransferUtility`, i'm worried about any potential voodoo that may disrupt my current implementation by removing this.

For example https://aws-amplify.github.io/docs/ios/analytics#add-analytics

[code]
What is the a

[2019-06-04 21:28] jamesatfish commented on #1505
Thanks @Foefirelord - interestingly when I contacted AWS Support (under a paid support contract) the advice I was given was to switch from using signOut() to the version with the completion handler in order to pass the additional token invalidation option.

As yet it doesn't appear that anyone on the AWS side has replicated the issue or is able to provide a definitive resolution.

[2019-06-04 21:31] Foefirelord commented on #1583
@rromanchuk You want to be going in the opposite direction. Replacing the old libraries with AWSMobileClient methods simplifies the necessary code by a country mile. It does all the same things the old libraries did but simpler and in an easier to grasp form.

[2019-06-04 21:51] palpatim commented on #313
@w0mba7

Although we do not have plans for server-side support, official iOS support makes this a more reasonable option now. I'm reopening this and adding it to our feature request backlog.

[2019-06-04 22:30] w0mba7 commented on #313
Awesome thanks!

[2019-06-05 03:00] rromanchuk commented on #1583
@Foefirelord  according to who?  I don't use amplify.

[2019-06-05 03:22] rromanchuk commented on #1583
And by "not using amplify" i mean, i don't interface with AWS through a marketing abstraction layer. I don't use  Amplify Auth™  (cognito user pools), i use federated identities, to do one thing, and one thing only.

It's been an extremely straightforward configuration. This SDK is being cannibalized into one giant hello world project.

[code]

[2019-06-05 19:07] desokroshan opened #1593 "Is it possible to use AWSMobileClient without using Cognito User Pool?"
Originally opened by @pai911

**State your question**
Is it possible to use **AWSMobileClient**  without using **Cognito User Pool**?

I am migrating from an old Cognito version, so I already set up identity pools for Facebook / Google / Developer Authenticated providers. It works fine with only **Identity Pools**.

In Amplify,  **AWSMobileClient** seems to be the correct way to do the login, such

[2019-06-05 22:29] aqeelbhat opened #1594 "AWSMobileClient SignIn() -> SignOut() followed by SignIn() fails to work"
**Describe the bug**
signIn to a user pool then a signOut followed by signing in again fails to work

**To Reproduce**
Steps to reproduce the behavior:

**Which AWS service(s) are affected?**
Cognito

**Expected behavior**
signIn to a user pool then a signOut followed by signing in again should work

**Screenshots**
<img width="565" alt="Screen Shot 2019-06-06 at 2 20 27 AM" src="https://user-imag

[2019-06-06 17:32] rohandubal commented on #1275
Hello @JimCSaratoga

Here are couple ways in which we can inspect and handle the error:

[code]

[2019-06-06 17:32] #1275 closed

[2019-06-06 19:50] rohandubal commented on #1505
Hello @jamesatfish

I am investigating this issue and will post an update.

Best,
Rohan

[2019-06-06 20:04] rohandubal commented on #1248
On investigating this further,  I identified that the code changes would be more involved and would require plenty of edge cases and race conditions if the APIs are accessed incorrectly.

I am going to mark this as an enhancement which we can revisit in the future.

But currently, my recommendation would be to use the APIs independently from user interactions rather calling the `confirmSignIn` fro

[2019-06-06 23:52] rainypixels commented on #1076
Thanks for this. I did find a bug here, though, and figured I should share the fix:

[code]

`task.isCompleted` is an unreliable if condition since all tasks (even tasks that return errors) complete. Your original extension was swallowing my errors because the if clause was returning the `nil` `task.result` instead of the `task.error`.

[2019-06-07 00:13] jamesatfish commented on #1505
Thanks @rohandubal - please let me know if you need any more information or logs to assist.

[2019-06-07 18:15] desokroshan commented on #1594
@aqeelbhat Thanks for reaching out. Can you please share the detailed stack trace of the error you are running into?

[2019-06-07 18:41] alexliuxe opened #1597 "why base64EncodedStringWithOptions returned 44 characters instead of 64?"
**State your question**
In getSessionInternal method (file: AWSCognitoAuth.m) `- (void)getSessionInternal: (nullable UIViewController *) vc completion: (AWSCognitoAuthGetSessionBlock) completion {`, there are a couple methods which will generate a 32 bytes string then encode it with sha256 then encode with base64. My question is why the result it not a string with 64 character. Instead the length

[2019-06-08 07:11] nator333 opened #1598 "How to use Cognito User Pools authorization for a function"
**State your question**

Although I followed the instruction on [the document here](https://aws-amplify.github.io/docs/ios/api#cognito-user-pools-authorization), The response from API Gateway is always this after `amplify push`

After I did `amplify update api`, then remove `Restrict API access` setting, everything worked fine.

It seems like more headers needed.
Is there any way to make it work t

[2019-06-09 09:28] SwipeInteractive commented on #1506
Hi,

Any updates on this?

Thanks,
Vick

[2019-06-09 21:56] colinhumber opened #1603 "Cannot compile for UIKit for Mac"
**Describe the bug**
With the new UIKit for Mac support in Xcode 11 and macOS Catalina, this library is currently unable to compile the My Mac target. There are unavailable keychain APIs preventing the SDK from being compiled.

**To Reproduce**
- install the SDK into an iPad Xcode 11 project
- enable Mac support
- compile the app for the My Mac target

**Which AWS service(s) are affected?**

**Exp

[2019-06-09 22:12] colinhumber commented on #1603
Just as a note, not asking specifically about macOS support, just that the internal dependency on UICKeychainStore be updates to remove any calls to unavailable APIs.

[2019-06-10 18:36] desokroshan commented on #1592
@aqeelbhat This is currently not supported in AWSMobileClient. I have marked this as a feature request. I will take it to the team for prioritization. At this point I do not have a specific timeline that I can share with you. I will update this thread when I have more information.

[2019-06-10 19:18] kvasukib commented on #1603
@colinhumber Thank you for reporting to us. I have tagged this as a feature request and added to the backlog for prioritization.

[2019-06-10 19:41] matthewbga commented on #1053
Did you create a pod repo for this work? I'd like to take advantage of that. Otherwise, I am going to work on ding the same.

[2019-06-11 00:23] colinhumber commented on #1603
@kvasukib I would be happy to work on this. After checking the custom prefixed `UICKeychainStore` code in both `AWSCore` and `AWSCognitoAuth`, the offending methods are already wrapped in an `#if TARGET_OS_IOS`. These methods are also not called anywhere in the AWS code. In Xcode 11 there's also a new `TARGET_OS_UIKITFORMAC` macro available to deal with these unavailable APIs. Of course, that can'

[2019-06-11 15:30] nneuberger1 commented on #1053
No I didn't. I ended up only using AWSIoT and AWSDynamoDB core libaries. IMO, I really struggled with implementing AWSAppSync and how it was complicated in fully understanding GraphSQL and it's auto generated classes. I may try and transition to it at some point though.

[2019-06-11 18:07] svsharsha commented on #1077
We are also facing this issue. In IOS we implemented direct lambda invocation, when user changes iPads time manually got below exception
"{"message":"Signature not yet current: 20190604T152329Z is still later than 20190604T090443Z (20190604T085943Z + 5 min.)"}"
AND
"Error Domain=com.amazonaws.AWSLambdaErrorDomain Code=0 "InvalidSignatureException" UserInfo={StatusCode=403, responseStatusCode=403,

[2019-06-12 07:35] sibtainali-px commented on #1276
Hi, I am also facing the same issue. I don't want to use the complex method ( doInvokeAPI() ) mentioned above. I just want a jwt token using federated sign in function.

[2019-06-12 08:17] vincenzo-favara opened #1605 "User is signed in on reinstalling the app"
**Describe the bug**
Though Re-installing App again, " AWSMobileClient.sharedInstance().isSignedIn " always return "true"

**To Reproduce**
Steps to reproduce the behavior:
1. Logi in
2. disinstall the app
3. reinstall
4. user is still logged in

**Which AWS service(s) are affected?**

**Expected behavior**
user should be logged out

**Environment(please complete the following information):**
 - S

[2019-06-12 11:46] sourabhardwaj commented on #1248
@rohandubal After decoupling the `confirmSignIn` call from `signIn`, I'm able to get the callback but it is always resulting in AWSMobileClientError:

`[Error] [NSOperationQueue 0x600002ddb060 (QOS: UNSPECIFIED)] [LoginViewController.swift:87] setNewPassword(_:) > invalidParameter(message: "Invalid attributes given, name is missing")`

It doesn't seem like `confirmSignIn` method requires us to pro

[2019-06-12 23:19] pablogeek commented on #1576
I'm also having this. Please how could we remove the cache?

[2019-06-13 03:08] kvasukib commented on #1224
@pablogeek @simeondrage Are you still facing this issue?

[2019-06-13 07:32] pablogeek commented on #1224
@kvasukib yes we are still having this. I can see errors in the logs sometimes, due timeouts, no space, etc and the callback is not called

[2019-06-13 16:56] kvasukib commented on #1216
@returnzer0 Sorry for the delayed response. I have created an issue in our aws-amplify/docs repo and this issue will be tracked there.

Ref: https://github.com/aws-amplify/docs/issues/735

Thank you for your patience.

[2019-06-13 16:56] #1216 closed

[2019-06-13 18:40] desokroshan commented on #1588
@Foefirelord Have you configured the identity provider attributes to the user pools attribute? If not, can you specify identity provider attribute mapping for your user pool as stated in the following doc :
https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-attribute-mapping.html
Once the attribute mapping is set you should be able to call getUserAttributes() to get user

[2019-06-13 21:22] Foefirelord commented on #1588
@desokroshan Yes, I have attribute mapping setup, including e-mail mapping.

Both Google and Facebook "email" attributes are being mapped to the user pool "Email" attribute.

Yet the method fails for users logged in via social providers with the aforementioned error.

[2019-06-14 06:00] DSPerson commented on #1045
Xcode -> File -> Workspace Setting... -> cut `Build System ` to Legacy Build System. Have Fun

[2019-06-14 07:26] manvendrasah opened #1606 "Using same service with Multiple Region Types"
**State your question**
I am working on an iOS app which has features that need downloading images/files from S3. Some files are in region APNortheast1 and some are in APSouth1.
How do i set the configuration so that i can switch between multiple region types midway through an app cycle depending on what feature the user is using ?

**Which AWS Services are you utilizing?**
- Cognito
- S3

**Provi

[2019-06-14 09:05] 18638597928 opened #1607 "aws connect faile on ios"
this is my code:
 let credentialProvider = AWSCognitoCredentialsProvider(regionType: .USEast1, identityPoolId: "us-east-1:c6d1e831-5135-49c0-b307-afa890b56a10")

        var configuration = AWSServiceConfiguration(region: .USEast1, credentialsProvider: credentialProvider)
        AWSServiceManager.default().defaultServiceConfiguration = configuration

        let d = a.connect(withClientId: "us-ea

[2019-06-14 09:37] jamesingham commented on #1248
Interestingly I have just been using the Android equivalent sdk and that handles this by providing a set new password view.

[2019-06-14 14:40] nunocnh opened #1608 "[AWSPinpointSessionClient startNewSession] -> Crash"
**Describe the bug**
I'm using AWSCore and AWSPinpoint iOS SDK on my application.

On Organizer, I'm getting a crash report on [AWSPinpointSessionClient startNewSession].

**To Reproduce**
Steps to reproduce the behavior:
Not available. Please see the crash report in attachment.

[BPcxwd0zi4He1QeFNPxdzB.xccrashpoint.zip](https://github.com/aws-amplify/docs/files/3285143/BPcxwd0zi4He1QeFNPxdzB.xccr

[2019-06-14 19:20] Tykhonkov commented on #1209
Guys any update on this?

[2019-06-15 08:42] manvendrasah commented on #1606
Fixed by registering multiple AWSS3TransferUtility instances with different keys for different region types.

[2019-06-15 08:42] #1606 closed

[2019-06-17 03:13] Wanxujie commented on #1586
@minbi Is anyone help here?

[2019-06-17 08:41] JesusMartinAlonso commented on #1605
I have faced the same issue. The "problem" is that AWS SDK stores the login information in the keychain, and this information is not deleted when the app is uninstalled.

My solution was to perform a signout in the first access of the user to the app. I use a Bool in UserDefaults to know if it is the first access.

[2019-06-17 14:01] adanaj opened #1612 "Connecting to the AWS IoT Service from iOS"
**State your question**
When following the readme, and making the changes on the iOS demo application, the device never connects to the IoT Service.

This is my output

2019-06-17 09:45:10:671 IoTSampleSwift[1768:1800959] Couldn't read the region configuration from `awsconfiguration.json` / `Info.plist`. Please check your configuration file if you are loading the configuration through it.
2019-06-

[2019-06-17 14:23] #1612 closed

[2019-06-17 17:36] kvasukib commented on #1608
@nunocnh Sorry for the inconvenience caused. From the CrashPoint file, I could see that the thread running `startNewSession` crashed.

In `startNewSession`, we acquire the sessionLock and create a new session and update the endpoint profile. I do see multiple threads doing startNewSession from the CrashPoint file.

Theory: The first thread that acquires the lock can proceed with starting the sessi

[2019-06-17 18:29] kvasukib commented on #1605
@vincenzo-favara What version of iOS are you using? This behavior is different for different iOS versions based on the Keychain implementation in the iOS version.

[2019-06-17 19:27] vijayendra-tripathi opened #1613 "Empty signup screen on iOS simulator/device"
I have configured AWS Cognito using Amplify. Please review following screenshot.
![SignIn](https://user-images.githubusercontent.com/11576681/59630673-8e7f2d80-9163-11e9-9bb8-7a3ef1bb06fb.png)

Following is screenshot of my configuration details.
![Cognito-Screenshot](https://user-images.githubusercontent.com/11576681/59630718-aa82cf00-9163-11e9-9e29-51f85996e84d.jpg)

I am testing it on XCode 10.

[2019-06-18 11:31] VikasPrajapatiSA opened #1614 "Not able to update AWSServiceConfiguration in AWSS3TransferUtility after register it one time."
**Not able to update AWSServiceConfiguration in AWSS3TransferUtility after register it one time.**
I am following this link to upload an image: https://aws-amplify.github.io/docs/ios/storage

I want to upload an image in AWSS3 bucket. So, I am using AWSS3TransferUtility to upload image in the bucket. Now, the problem is in my project we have session key which expires in one hour, So, I need to upd

[2019-06-18 16:31] gorevoy commented on #1613
I also have same issue. It because getDetails/getSession not coming to the block:

`[[self.user getDetails] continueWithBlock:^id _Nullable(AWSTask<AWSCognitoIdentityUserGetDetailsResponse *> * _Nonnull task) {
        // not coming to the block
}];`

I only see in log:

[2019-06-18 17:16] jweg29 opened #1615 "Prebuilt binaries are not built with Xcode 10.2 / Swift 5"
**Describe the bug**
Running `carthage bootstrap --platform iOS --cache-builds` downloads the AWS framework binaries as expected, but they are incompatible due to being built with Xcode 10.1 / Swift 4.2.1. I am then forced to build the frameworks locally, which can take over an hour since there is no way to specify specific AWS libraries in the cartfile.

**To Reproduce**
Steps to reproduce the be

[2019-06-18 20:39] rohandubal commented on #1614
Hello @VikasPrajapatiSA

Can you remove the registered client and re-add it? There is a `removeTransferUtilityForKey` API on `AWSS3TransferUtility` client which you can find here:
https://aws-amplify.github.io/aws-sdk-ios/docs/reference/Classes/AWSS3TransferUtility.html#//api/name/removeS3TransferUtilityForKey:

Thanks,
Rohan

[2019-06-19 05:15] VikasPrajapatiSA commented on #1614
Thanks for suggestion @rohandubal. I tried this but as I mentioned when I remove the registered client and re-add it then its some time remove or sometimes not.

Code:

AWSS3TransferUtility.remove(forKey: "transfer-utility-with-advanced-options")

    AWSS3TransferUtility.register(
        with: configuration,
        transferUtilityConfiguration: tuConf,
        forKey: "transfer-utility-with-adv

[2019-06-19 14:04] Czajnikowski commented on #1268
As every case has it's associated `message` we can also take this approach:
[code]
Or just add a `var message` :
[code]
This will still make selective reporting to the user possible.

[2019-06-20 10:44] RuiKQ opened #1616 "Use AWSS3TransferUtility Download is not the latest file"
**State your question**
I use AWSS3TransferUtility to download a file which was uploaded by AWSS3TransferUtility. Then I edit this file and upload it again. Then I use AWSS3TransferUtility to download it again. The file I downloaded at this time is not the latest. However I get the latest file when I use AWSS3TransferManager.

**Which AWS Services are you utilizing?**
AWSS3Transfer

**Provide code

[2019-06-20 17:05] #1171 closed

[2019-06-20 17:25] rohandubal commented on #1616
Hello @RuiKQ

- How have you implemented the logic to kick off re-downloading the new file? Is there a possibility of a race condition that the download begins before the upload has completed?
- Is the download location of new download same as the previous download?

Thanks,
Rohan

[2019-06-20 20:25] Foefirelord commented on #1588
Any updates on this? It's making the use of social sign-in providers with User Pools useless in many ways.

[2019-06-20 21:22] desokroshan commented on #1588
The access token can be used against Amazon Cognito User Pools if aws.cognito.signin.user.admin scope is requested. `aws.cognito.signin.user.admin` scope is needed so that access token works with User pool API `getUserAttributes`. Can you please add it as below :

[code]

[2019-06-21 02:24] RuiKQ commented on #1616
Thank you for your reply.
1. I use AWSS3 to backup and recovery file. When I edit a file( a database file) I will upload it.  Next time I will download it. It was work fine when I used AWSS3TransferManager.
2. The key of the same file is fixed. That is to say, The key for uploading the same file each time is the same. It is also when I download same file.

I just change this function in my project

[2019-06-22 10:04] dlednik commented on #313
+1

I'm surprised it's written in ObjectiveC and not with Swift from the start. But we really need a plain swift library so it can be used in plain linux swift projects. I was hoping I can write my project with swift but looks like I'm stuck with C no :D

[2019-06-22 17:40] m0s commented on #975
@muellerfr the "Multiple environments and team workflows" page that you linked with has somewhat unrealistic assumption about the workflow itself, at least when it comes to mobile client. From my experience there is never a separate dev, test and prod branches as assumed in the workflow that is described on that page.
If I need N test environments I don't really want to have N different builds if

[2019-06-23 14:40] yoci99 opened #1617 "Aws keep return "Upload failed with error: (The operation couldn’t be completed. (com.amazonaws.AWSS3ErrorDomain error 0.))" for callback"
Here is the code:

[code]

And these is the error message i get from callback, and i dont understand what is the problem:

[code]

[2019-06-23 22:42] AGoyal1980 opened #1619 "AWSMobileClient- signInUIOptions"
**Which AWS Services is the feature request for?**
AWSMobileClient SignInUIOptions

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I am using

[code]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

I need only Email, Password and Phonen

[2019-06-24 06:59] N1LaT commented on #1495
Guys... this ticket is almost 2 months old. Is it fixed yet or still not? A quick update would be very appreciated.

[2019-06-24 16:17] rohandubal commented on #1619
Hello @AGoyal1980

Thanks for the description. I will take this as a feature request to the team and post updates when we pick it up.

Thanks,
Rohan

[2019-06-24 16:21] rohandubal commented on #1617
Hello @yoci99

We have limited support for `AWSS3TransferManager` and its going to be removed from the SDK, could you please try `AWSS3TransferUtility` instead?

Thanks.
Rohan

[2019-06-24 17:22] james-ff commented on #1615
Same thing

[2019-06-25 12:29] pothunoorisk commented on #760
Hi @kvasukib  @cbommas  , we're still facing this issue where transferUtility never returns an error. For e.g., if network is gone, the SDK method seems to wait for an indefinite time and never really returns any error. It resumes the task once the network is restored.  We're using the iOS SDK - S3 pods version 2.6.35.

[2019-06-25 15:06] palpatim commented on #760
@pothunoorisk Please update your SDK to the latest version (the latest is 2.9.9), and if you are still seeing problems, open a new issue.

[2019-06-25 15:29] palpatim opened #1620 "Use Facebook native sdk to log in and create user pool"
_Original issue opened by @lovekumartrantor: https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/265_

---

**State your question**
I want to be able to use Facebook's native SDK to log in to my facebook account, which on completion, would also create a user in user pool.

I'm currently using the code below to log into facebook which also creates a user in user pool for me.

Problem with

[2019-06-25 15:52] Hema1Latha commented on #390
Error RAW: Optional(Error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=1 "(null)" UserInfo={Server=AmazonS3, Transfer-Encoding=Identity, Connection=close, Content-Type=application/xml, Date=Tue, 25 Jun 2019 15:49:12 GMT, x-amz-request-id=5FB137472340081A, x-amz-id-2=rxyS0KtBSSpGx8awu7J5zyET6g+wE3CbVozXI8Rhh+AWRrTyxJf8Z9DxTnK2gWZqTB+WFZL5Lvo=, x-amz-bucket-region=eu-west-1}) i'm facing

[2019-06-25 19:52] Dellybro commented on #1239
Any news on this? It seems as though this may be the issue to my users being signed out after not opening their app within 48hours.

[2019-06-25 20:06] dholdren commented on #1159
I'm also running into this issue. seems like a common use-case, register for updates and immediately get the device shadow

[2019-06-26 08:21] marwey commented on #313
The Smoke framework supports server-side Swift for AWS services.  Including the Swift package manager. See here: https://github.com/amzn/smoke-aws

[2019-06-26 10:10] ramakrishna013 opened #1622 "AWSTextract documentation in Swift"
This is not an issue in aws-sdk-ios.

I am just trying to confirm if Amazon Textract SDK is available in Swift?

I am currently referring this documentation - https://docs.aws.amazon.com/textract/latest/dg/how-it-works.html

It has Java, Python and AWS CLI. Any help would be greatly appreciated! Thank you! :)

[2019-06-26 14:44] palpatim commented on #1622
@ramakrishna013

Textract SDK is not yet available in the iOS or Android SDKs. We'll take this on as a feature request and update this thread when we have more information.

[2019-06-26 20:03] Foefirelord commented on #1588
I tried debugging it with AWS support a couple weeks back, and they had me enable literally all scopes. Still doesn't work.

[2019-06-27 04:11] ramakrishna013 commented on #1622
@palpatim  Thanks for the information. We are waiting for that.

[2019-06-27 15:38] TalDabush opened #1624 "Uploading big enough files with multipart crashes the app due to memory issues"
Describe the bug
when upload starts, it consume very large amounts of memory, which causes the app to crash due to low memory

To Reproduce
Upload a big file (mine was 800MB) using AWSTransferUtility

Which AWS service(s) are affected?
S3

Environment(please complete the following information):

AWS iOS SDK Version: 2.9.9
Dependency Manager: Cocoapods
Swift Version : 4.2
Device: any
iOS Version: a

[2019-06-27 16:15] afriedmanGlacier commented on #1548
We are not using AWSMobileClient, but we are having a similar issue where there are issues after the session expires such that we need to explicitly log out and then back in for it to work.

[2019-06-27 16:39] afriedmanGlacier commented on #1519
We are seeing something similar trying to download from S3 (we are not using AWSMobileClient, but using AWSCognitoCredentialsProvider and AWSS3 directly).

If we initially login, the download works fine. But after the session expires, it does not refresh and we need to explicitly log out and then back in for it to work.

[2019-06-27 16:53] bolak2 commented on #1519
Exactly what's going on with us, perhaps there is a way to manually use the refresh token to get a new access token?

[2019-06-27 17:29] kvasukib commented on #1062
This happens because of an error in the deserialization of the response received from EC2.

[2019-06-28 03:52] Foefirelord commented on #1548
Related question: how does the way OP sets up Lambda service config differ from this?

[code]
Are both ways of configuring it equally viable?

[2019-06-28 10:08] biogerm commented on #659
tweaking around NSError userInfo HTTPBody to get the returned message is really not fun... Return code support would be very handy

[2019-06-28 11:10] vtamnh14 opened #1625 "Crash: reason 'The Pinpoint AppId is `nil`"
**Describe the bug**
Hi supporter,
I try to init AWSPinpointConfiguration by custom appId
But I still got a crash when starting the application.
This is my code:
[code]
In my Info.plist file
I just added two fields: appId and PoolId

[code]
How can I init AWSPinpointConfiguration doesn't by awsconfiguration.json file.

Thanks,

[2019-06-28 17:32] Machanna opened #1626 "Support for new Facebook SDK version 5.0 and greater"
Tried adding AWSFacebookSignIn(2.9.9) to my project using cocoapods. My project also has facebook sdks with 5.0 version. pod installation throws me an error, saying that AWSFacebookSignIn doesnot support Facebook SDKs > 4.42.0

[2019-06-30 12:08] jmzwar commented on #993
Any update on this?

[2019-07-01 17:38] #1398 closed

[2019-07-01 19:10] kvasukib commented on #1624
@TalDabush Sorry for the inconvenience caused. We are looking into reproducing the issue.

When you say you could reproduce the issue with files of smaller file sizes, can you give an example of a file size where this issue occurs?

Do you have concurrent file transfers happening in the app? Or is this the only file transfer?

[2019-07-01 19:56] kvasukib commented on #1625
@vtamnh14 Thank you for reporting to us. You need to have a `AWSServiceConfiguration` object registered if you are not using `awsconfiguration.json` file.

[code]

[2019-07-01 20:38] kvasukib commented on #1626
@Machanna Thank you for bringing this to our attention. We will look into supporting the latest Facebook SDK version in the `AWSFacebookSignIn` SDK.

[2019-07-01 21:00] kvasukib commented on #1622
@ramakrishna013 To be precise, I am working on this, however the Textract SDK in iOS will be written in ObjC.

[2019-07-01 21:17] kvasukib commented on #1614
@VikasPrajapatiSA What is the key in `AWSS3TransferUtilityConfiguration` you are trying to update? We recommend using a fixed configuration (`AWSS3TransferUtilityConfiguration`) for the lifecycle of the app.

If you have varying configuration for different transfers, then we recommend you to create different `TransferUtility` objects based on the different configurations created.

The error you ar

[2019-07-02 06:05] VikasPrajapatiSA commented on #1614
I understand that the problem happens because of NSURLSession related stuff. But, If I am using the different key every time for TransferUtility object then I have to make sure to remove all old key when creating new TransferUtility object with a new key. So do you have another way to resolve it? Because I am removing key first and regenerate but now working which I mentioned above.

[2019-07-02 06:12] bartjacobs commented on #1574
The AWS SDK for iOS doesn't have built-in support for AWS Secrets Manager at the time of writing. What is the recommended approach to use AWS Secrets Manager in an iOS client?

[2019-07-02 07:07] TalDabush commented on #1624
Hey @kvasukib, thank you for your answer.
The files I upload starts to crash the app from about 800 MB (I used iPhone XS to test it and it didn't crash because it has more available RAM but devices that I tried like iPhone 6S couldn't handle it.)

My problem is exactly this transient bumps in the `All Heap & Anonymous VM` category,
they are so big that the device just couldn't handle it (As an exa

[2019-07-02 15:28] bernikovich commented on #1268
So you're saying that we should never use these messages in UI. But what error should we display to a user when he can't log in.

[2019-07-02 16:56] kvasukib commented on #1614
@VikasPrajapatiSA You could create new keys based on a random UUID for every unique configuration and store the keys in your app for future retrieval.

[2019-07-02 20:34] royjit commented on #1249
We made a fix to handle the crash in #1627. This will go to master in the next release.

[2019-07-02 23:26] jamesatfish commented on #1505
@palpatim @rohandubal would it be possible to get an update on this issue please?

[2019-07-02 23:29] jamesatfish commented on #1575
@minbi can we provide any further assistance with this issue to help diagnose?

We are seeing a fairly regular pattern in our app with users coming back to accounts they've not used for a while.  They will try to login with known/saved credentials, will get a 'notAuthorized' response and assume their account has been deleted so will try to sign-up again with the same account (where they get a 'use

[2019-07-03 23:24] kvasukib commented on #1249
This has been released in `2.9.10` version of the SDK.

[2019-07-04 14:59] mmdumi commented on #1603
Hi, Any other news regarding this ?

[2019-07-05 05:46] cylidGBS commented on #793
please can any one provide source code of resend confirmation code in cognito c#

[2019-07-07 03:29] vvorlov opened #1641 "Lightsail Support"
Do you plan to add Lightsail to the SDK?

[2019-07-07 13:15] TalDabush commented on #1624
Hi,
any update?
I updated to 2.9.10 and things became even worse.
![image](https://user-images.githubusercontent.com/45621174/60768898-0b9e2280-a0d2-11e9-875d-4ceb0d924394.png)

The upload starts at 900MB and climbs to 1.69GB (with multipart)
Many users are affected because of it so I will really appreciate any response or update.

[2019-07-07 15:43] pablogeek commented on #1576
this code solved my issue, I run this everytime something is correctly uploaded

[code]

[2019-07-08 12:13] steelzeh commented on #1615
+1
Building in Carthage seriously takes 15-30 minutes. Please update it to Swift 5.0
@cbommas

[2019-07-08 14:24] #1624 closed

[2019-07-08 14:28] TalDabush commented on #1624
I moved to uploadFile instead of uploadData and the problem was solved.

[2019-07-09 13:41] james-ff commented on #1106
+1 for this feature

[2019-07-10 14:04] manomuthu-optisol opened #1643 "How to get HTTP Status in iOS AWS API gateway auto generated file."
Need to access http header status code to show user appropriate error message. In response I can able access error object and result object.

Am using 'AWSAPIGateway', '~> 2.9.6' version

Thanks in advance

Regards,
Muthu

[2019-07-10 15:45] vvorlov opened #1644 "Information about user servers"
How to authorize users by the Amazon account in the app and get a token with access to users' servers info (e.g. EC2, Lightsail, etc.)? One way to get access for API calls like `GetInstances` is to ask Access keys, but it takes too many actions from the user. iOS app AWS Console (https://apps.apple.com/ru/app/aws-console/id580990573?l=en) has login by email, is it possible to integrate this flow t

[2019-07-10 17:32] ryan-mannion-zocdoc commented on #993
This capability would also be useful for integrating with Sign in with Apple

[2019-07-10 20:54] royjit commented on #1643
We have this tracked here issue #659. Please monitor #659 for updates.
Will be closing this issue.

[2019-07-10 20:54] #1643 closed

[2019-07-11 00:21] #1249 closed

[2019-07-11 02:24] RuiKQ commented on #1616
Does anyone know what the problem is?

[2019-07-11 11:25] ayushawasthi opened #1646 "AWSS3 v2.8.4 AWSS3TransferUtility.m line 423"
**Describe the bug**
When using `AWSS3TransferUtility.register`, `(instancetype)initWithConfiguration(AWSServiceConfiguration *)serviceConfiguration transferUtilityConfiguration:(AWSS3TransferUtilityConfiguration*)transferUtilityConfiguration identifier:(NSString *)identifier completionHandler: (void (^)(NSError *_Nullable error)) completionHandler` gets called and when session configuration `time

[2019-07-11 11:37] ayushawasthi commented on #1646
![Screenshot](https://user-images.githubusercontent.com/5653624/61047966-479cf480-a3fe-11e9-918c-f0602a0aa023.png)

[2019-07-11 13:42] bdering commented on #1236
Hi, I had the same issue. Instead of
`includes:
      - graphql/**/*.graphql`
amplify inserted 'y' in my file in the same line, this was cause why it was not possible for me to generate the Api.swift file.

[2019-07-12 07:25] RuiKQ opened #1648 "Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=2 "(null)""
**Describe the bug**
This error occurs randomly when I use AWSS3TransferUtility to download.

Failed to download file:/new-vs1-coverme-ws/5/storenew/3593206957921988-5745927ba892b972fe815791a8e3f156/iOS.72c42d8de274c76f5af4a816018d47b0/78f54a970ecec19904d8788c694a89f7/keys.txt to path: /var/mobile/Containers/Data/Application/F43EB16A-1710-4B24-8E4C-57F3B4BA59B2/Documents/cs/keys.txt : Error Domain

[2019-07-12 07:55] kramesh2005new commented on #1078
@palpatim @muellerfr Any update about tvOS support ?

[2019-07-12 18:40] palpatim opened #1649 "Add ability to configure AWSMobileClient via config object rather than awsconfiguration.json"
As reported by @aarons22 in #1609, an app that retrieves configuration values at runtime cannot use AWSMobileClient, because that class always reads from `awsconfiguration.json` for its configuration values.

This request is to allow AWSMobileClient to be optionally configured via a config object, which could be specified at runtime rather than compile time.

[2019-07-12 20:01] royjit commented on #1644
Hi @vvorlov

Thank you for contacting us. We do not support this use case in the aws iOS SDK. You can refer [here](https://aws-amplify.github.io/docs/ios/authentication) for the supported authentication mechanisms.

Thanks,
Jithin

[2019-07-12 20:15] royjit commented on #1644
Just wanted to clarify what you are trying to achieve.

1. Are you trying to let customer sign-in to your app using their Amazon account?
This is currently supported with AWS iOS SDK using Cognito.

2. Are you trying to let customer sign-in to their AWS account and see a list of all of their resources?
This is not supported with our SDK.

- Jithin

[2019-07-12 20:18] vvorlov commented on #1644
The second one. Maybe it could be achieved with something else, not iOS SDK?

[2019-07-13 16:34] adamdabbracci commented on #1154
@minbi @nikhil-dabhade Our API is trying to do just-in-time provisioning through Cognito. When a user hits our API for the first time, it creates a new user in the database if they haven't already been created. This bug is preventing us from using the access_token from the client to call the userinfo endpoint (which is the OIDC standard way of JIT provisioning).  Additionally, the ID token only co

[2019-07-15 18:03] Thuran opened #1651 "User migration trigger don’t called"
**Describe the bug**
We can’t set migration enabled in AWSMobile cliente.
In old ios-sdk i can set this in Pool configuration passing migrationEnabled=true:
[code]
**To Reproduce**
For reproduce this, you need create a lambda trigger for create user on not exists in cognito user pool.

**Which AWS service(s) are affected?**
Cognito

**Expected behavior**
Lambda trigger called for create user in co

[2019-07-16 07:26] RuiKQ commented on #1616
Hi @rohandubal

[2019-07-16 07:42] VikasPrajapatiSA opened #1655 "Sometimes getting error "A server with the specified hostname could not be found"."
**Describe the bug**
Sometimes when I try to login with username and password then its gives me error "A server with the specified hostname could not be found".
I don't know this issue root cause.

Using the below method for sign in.

AWSMobileClient.sharedInstance().signIn(username: "your_username", password: "Abc@123!") { (signInResult, error) in
    if let error = error  {
        print("\(erro

[2019-07-16 09:24] sourabhardwaj commented on #1527
@VikasPrajapatiSA  how did you manage to fix it? I'm bitterly doing the same steps and getting the same error.

[2019-07-16 09:46] rishabh-latfire opened #1656 "Completion Handler not called when device goes offline during upload task"
**Description**
During an upload using TransferUtility If I put my phone on offline mode the transfer stops with out any errors. No completion handler is called either.
I saw a related issue where it was suggested to use `transferUtilityConfiguration.timeoutIntervalForResource ` but in that case the request times out even on successful connection if the file is too big to be upload in the given ti

[2019-07-16 09:52] rishabh-latfire commented on #1656
Code I am Using:
		`let region = AWSRegionType.regionTypeForString(regionString: regionString)

		let credentialsProvider = MTCredentialsProvider(accessKey: accessKey,
		                                                secretKey: secretKey,
		                                                sessionToken: sessionToken)
		let configuration = AWSServiceConfiguration(
			region: region,
			credentialsPr

[2019-07-17 05:53] geysee opened #1662 "AWSCognitoIdentityProvider getSession memory leak"
**Describe the bug**
There is a memory leak when the getSession(username:password:validationData) method of AWSCognitoIdentityUser is called.

**To Reproduce**
1. Download and unzip the attached project [getSessionLeakSimpleSample.zip](https://github.com/aws-amplify/aws-sdk-ios/files/3400323/getSessionLeakSimpleSample.zip).
2. Run "pod install".
3. open xcworkspace.
4. Replace "please put yours."

[2019-07-17 10:09] vtniteshgunani commented on #1209
Any update on this issue?

[2019-07-17 12:23] VikasPrajapatiSA commented on #1527
@shingo-nakanishi  Actually I don't know the actual root cause. But its working fine for me most of the time, but some times it will give error.

[2019-07-17 16:49] palpatim commented on #1655
@VikasPrajapatiSA I'm not able to repro this in our sample app from my network. It sounds like it might be related to your network setup--perhaps you are testing in a poor network connectivity situation? Unfortunately, without more details, it's going to be hard to make any progress on this. If you can provide a small sample app, or identify some configurations that seem to cause this, we can inve

[2019-07-17 17:12] palpatim commented on #1656
@rishabh-latfire

I believe you are seeing expected behavior. TransferUtility queues uploads in the background specifically so it can process them reliably in all kinds of conditions: while the app is in the foreground, while it is in the background, or if the network drops. As such, only fatal conditions (such as a timeout) would trigger the completion handler because by definition, the transfer

[2019-07-17 17:34] palpatim commented on #1651
@Thuran As you point out, this is not yet supported in AWSMobileClient. Please add this as a feature request on our [Authentication RFC](https://github.com/aws-amplify/aws-sdk-ios/issues/1158) and we will prioritize it with other feature requests.

[2019-07-17 17:39] palpatim commented on #1392
Closing due to inactivity.

[2019-07-17 17:39] #1392 closed

[2019-07-17 17:40] #1408 closed

[2019-07-17 17:44] palpatim commented on #1539
Closing due to inactivity.

[2019-07-17 17:44] #1539 closed

[2019-07-17 17:49] palpatim commented on #1545
@ramakrishna013 You can import a DDB table as a GraphQL schema by following [these instructions](https://docs.aws.amazon.com/appsync/latest/devguide/import-dynamodb.html), then you can regenerate your API to access the new resource in your client code.

[2019-07-17 18:02] palpatim commented on #1554
@phanchutoan Thanks for the explanation. I agree that setting the local in-memory variable to the value stored in the keychain makes sense, if we're retrieving the value from the keychain anyway. We'll put this on our backlog to fix.

---

**Implementation Notes**

- Update both `-[AWSCognitoCredentialsProvider internalCredentials]` and `-[AWSWebIdentityCredentialsProvider internalCredentials]` to

[2019-07-17 18:11] palpatim commented on #1557
@thuanngo1990 As you point out API Gateway should [support binary data natively](https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-payload-encodings.html). Can you provide:

- A code snippet of the API call
- A sample of your API setup where you specify the content type of the binary data
- Any errors you receive
- The SDK version you're using

[2019-07-17 18:13] palpatim commented on #1265
Closing due to inactivity.

[2019-07-17 18:13] #1265 closed

[2019-07-17 18:13] palpatim commented on #1585
Closing due to inactivity.

[2019-07-17 18:13] #1585 closed

[2019-07-17 18:33] palpatim commented on #1268
We generally avoid propagating errors intended for the end user (although as @rohandubal noted there are some legacy exceptions). This should be something that falls squarely in the app domain. That way the app can handle localization of messages, aggregation of detailed error cases into simple user message, etc. @Czajnikowski's approach would be a good start, with the addition of localization usi

[2019-07-17 20:15] palpatim commented on #1644
Some Amazon billing applications allow customers to see a list of their resources in aggregate, but I'm not aware of any publicly exposed API that allows this.

[2019-07-17 20:56] palpatim commented on #1616
@RuiKQ

I believe this was an intentional change, not a bug, although the behavior does represent a change from the old client. You will need to specify a new URL to download to, and copy the file to the desired destination URL (removing any existing file before doing so).

[2019-07-18 01:02] RuiKQ commented on #1616
Thank you for your reply. I will do this.

[2019-07-18 01:02] #1616 closed

[2019-07-18 09:15] pothunoorisk commented on #760
Hi @palpatim , we did upload SDK to the v2.9.9 but the issue still persists. This is specifically related to bad/no network scenarios. I also saw another thread [https://github.com/aws-amplify/aws-sdk-android/issues/616] related to this, which is still open. Do we have any update on this ?

[2019-07-18 09:18] pothunoorisk commented on #760
Hi @palpatim , we are still facing this problem even after updating SDK to v2.9.9. This problem is more likely for bad / no network scenarios. I saw one related [thread](https://github.com/aws-amplify/aws-sdk-ios/issues/1065) which is still open. Do we have any solution?

[2019-07-18 14:02] palpatim commented on #1268
We released this in 2.10.0. Please let us know if you have any issues.

[2019-07-18 15:47] #1625 closed

[2019-07-18 15:53] Skifcha opened #1669 "AWSMobileClient initialize{} and addUserStateListener{} return different `userState`"
**Describe the bug**
I'm using AWSMobileClient only for Cognito authentication.
I've went through manual installation, so I have my awsconfiguration.json file and this is the only code I use for initialization:
[code]

awsconfiguration.json file:
[code]

I have no issues with sign in / sign up, it works just great.
For signed in users I also refetch tokens with `AWSMobileClient.sharedInstance().ge

[2019-07-18 18:57] palpatim commented on #1227
@rohit3d2003

I have brought this up to the service team as a feature request, but at this point this is not a supported feature. Since this request requires a service change, and has no client-side workarounds, I'm going to close this issue. We'll update Cognito docs if and when the status changes.

[2019-07-18 22:24] zcramos commented on #1614
I'm running into a similar issue. The primary use case is uploading photos (so, small files that should not have long-running URL sessions), and our credentials have a relatively short expiration timeout. I'm not setting a custom `AWSS3TransferUtilityConfiguration` - I just need to update the `AWSServiceConfiguration` with new credentials when necessary. My current code registers an `AWSS3Transfer

[2019-07-18 22:28] hishma commented on #313
+1

[2019-07-19 04:53] olegdanu-newstore commented on #1615
Experiencing the same issue :/

[2019-07-19 10:49] VikasPrajapatiSA opened #1670 "signOutGlobally in AWSMobileClient is not working."
**signOutGlobally in AWSMobileClient is not working**

I logged in with same username and password in two iOS devices. I logout from one device with the below code.
         AWSMobileClient.sharedInstance().signOut(options: SignOutOptions.init(signOutGlobally: true)) { (error) in
            if let errorObj = error{
                print("Error: ",errorObj.localizedDescription)
                sel

[2019-07-19 11:46] mohab2014 opened #1671 "Protecting awsconfiguration.json against jailbreak"
**Which AWS Services is the feature request for?**
Securing the AWS credentials from being exposed to malicious users.
A malicious user could expose the AWS credentials through jailbreak.

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Similar to the Android case described here https://github.com/aws-amplify/aws-sdk-android/issues/711

**De

[2019-07-19 16:19] palpatim commented on #1209
We have done some cleanup in the MQTT client over the intervening releases since this issue was reported. Is this still occurring on the latest release (2.10.0)?

[2019-07-19 16:50] royjit commented on #1248
@sourabhardwaj  We need to pass required attributes (if you have set them) while making confirmSignIn API call. In your case "name" is a required attribute, the code change will be:

[code]

I have raised a [PR #1672](https://github.com/aws-amplify/aws-sdk-ios/pull/1672) to support attributes on confirmSignIn method.

Thanks,
Jithin

[2019-07-20 19:09] #1656 closed

[2019-07-21 21:53] ilkayaktas commented on #621
I know this is an old question, however it's better to write my situation and solution.
In my iOS (Swift) project, I was trying to upload a picture after login (using Cognito) and I got this error:

    Error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=2 "(null)"

Everything seemed well on code below:
[code]
The solution is on [AWS Amplify Storage documentation][1]. As stated there,

[2019-07-21 21:54] ilkayaktas commented on #420
I know this is an old question, however it's better to write my situation and solution.
In my iOS (Swift) project, I was trying to upload a picture after login (using Cognito) and I got this error:

    Error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=2 "(null)"

Everything seemed well on code below:
[code]
The solution is on [AWS Amplify Storage documentation][1]. As stated there,

[2019-07-22 08:33] beilusen commented on #1612
How can you solve this problem? I also have this problem.

[2019-07-22 11:34] borisdering opened #1687 "Undefined extension for type "S3ObjectInput" in Api.swift"
**Describe the bug**
Undefined extension for type "S3ObjectInput" in Api.swift after adding storage through amplify add storage command.

**To Reproduce**
Steps to reproduce the behavior:
1. Add api resource as GraphQL endpoint.
2. Add auth resource with IAM.
3.(optional) let the amplify command "amplify codegen" run for api generation.
4. Add dependencies:  AWSAppSync (2.13.0),  AWSS3
5. Build th

[2019-07-22 12:30] adanaj commented on #1612
I figured it out. If you attempted the connection, and one of the credentials was incorrect, it creates some variable that stores the info for future connection attempts. I made sure the credentials were correct, also permissions on the AWS server, and uninstall the app, then reinstall. It worked!

[2019-07-22 13:49] Thuran opened #1676 "User migration trigger"
**Which AWS Services is the feature request for?**
Cognito user pool

**Is your feature request related to a problem? Please describe.**
We can’t set migration enabled in AWSMobileClient.
In old ios-sdk i can set this in Pool configuration passing migrationEnabled=true:
[code]

**Describe the solution you'd like**
I need to be able to migrate my users from the old base. So I need to set this flag

[2019-07-22 14:42] alexliuxe opened #1677 "Can't import as Static library with Cocoapods"
**Describe the bug**
Import `AWSCognitoAuth` as static library instead of dynamic library from `Cocoapods` and the way I did was remove `use_frameworks!` from podfile.

**To Reproduce**
Steps to reproduce the behavior:
1. In an empty project with Cocoapods, go to podfile. (Swift project)
2. remove this line if exists : `use_frameworks!`. Make sure you have this line as well `pod 'AWSCognitoAuth'`

[2019-07-23 13:30] steelzeh commented on #1586
@cbommas Our customers are experiencing this issue aswell.
![Screenshot 2019-07-23 at 15 29 38](https://user-images.githubusercontent.com/7465835/61716097-b400e780-ad5e-11e9-90f5-d706c22f5a1d.png)

Happening on the latest release.

[2019-07-23 17:40] palpatim commented on #1670
`AWSMobileClient.sharedInstance().isSignedIn` looks at the cached state of the login on that device. If you attempt to get credentials, you should see that the refresh token is no longer valid, and the user must go through a login process on that device.

[2019-07-23 18:55] palpatim commented on #1671
@mohab2014 The information contained in that file is considered non-sensitive. From [our Usage docs](https://aws-amplify.github.io/docs/cli-toolchain/usage#awsconfigurationjson-file):

With that, the feature to construct a configuration object from an in-memory representation is reasonable, so we'll take this on as a feature request. We'll update this when we have more information.

---
**Requirem

[2019-07-23 19:10] palpatim commented on #1677
@alexliuxe It's a bit unusual to be importing CognitoAuth; our auth functionality tends to be exposed through AWSMobileClient or AWSCore. What is your use case for importing CognitoAuth?

That said, I do confirm the unexpected behavior suppressing `use_frameworks!` even in AWSCore, so this is something we'll need to investigate.

[2019-07-23 21:09] palpatim commented on #1255
I'm reluctant to change this for a couple of reasons:

1. The message is being reported on a [third party library](https://github.com/kishikawakatsumi/UICKeyChainStore) we forked and brought into the AWSCore code as source. That library has [not changed that property declaration](https://github.com/kishikawakatsumi/UICKeyChainStore/blob/master/Lib/UICKeyChainStore/UICKeyChainStore.h) in the interv

[2019-07-23 21:54] palpatim opened #1680 "Limit Pinpoint batches to 100 events"
**Describe the bug**

As fixed in https://github.com/aws-amplify/aws-sdk-android/pull/1058, we need to update the iOS Pinpoint library to submit no more than 100 events per batch.

**Which AWS service(s) are affected?**
- Pinpoint

[2019-07-23 23:57] phanchutoan commented on #1554
Hi @palpatim
Thank you

I just tried your fix, it seem that 'internalCredentials' is being retrieved from keychain successfully.
But the internalCredential will die after 1 or 2 hours, I am not sure.
[code]
The `self.keychain[AWSCredentialsProviderKeychainExpiration];` seem to expire after 1 or 2 hours. May be it need to be renew some where.

[2019-07-24 06:50] bhavinmdesai commented on #1209
@palpatim I will upgrade the SDK and give it a go.

[2019-07-24 08:20] VikasPrajapatiSA commented on #1670
I checked RefreshToken after signout from another device but getting the same RefreshToken.

**Steps**
1. login in the first device
2. Login in another device
3. Globally signout in another device
4. check accessToken, idToken, refreshToken and also Access key, Secret key and Session key in the first device
5. All credentials and tokens are the same as before logout from another device.

Can you p

[2019-07-24 10:29] sourabhardwaj commented on #1248
Awesome @royjit , much needed change in the SDK.

[2019-07-24 14:18] caglardurmus commented on #1045
i found this solution and it fix my problem
write this code to terminal:

[2019-07-24 14:45] bdering commented on #800
Any updates on this issue?

[2019-07-24 16:34] bfallon opened #1682 "AWS Cogito Crashes"
**Describe the bug**
Reviewing Crashlytics reports, the SDK has a lot of crashes.

**To Reproduce**
There are no steps to reproduce this issue.

**Which AWS service(s) are affected?**
Cognito

**Expected behavior**
We expect the SDK to not crash.

**Code**
Below please find the classes and line numbers where the app crashes:

AWSTaskCompletionSource.m
line 56 -[AWSTaskCompletionSource setError:]

[2019-07-24 18:02] cbryantryback opened #1684 "License clarification for AWSCognitoIdentityProvider pod"
All code in this SDK appears to have been relicensed as Apache 2.0 via #1517, except for AWSCognitoIdentityProvider.podspec which was later changed back via #1559. Was the licensing of this particular pod with the Amazon Software License intentional?

**Environment:**
 - SDK Version: 2.9.9 (also applies to 2.10.0)
 - Dependency Manager: Cocoapods

[2019-07-24 19:35] #1605 closed

[2019-07-24 20:35] #1644 closed

[2019-07-24 21:45] royjit opened #1686 "AWSMobileClient race condition in calling confirmSignIn from sign callback"
Originally reported here #1248
**Describe the bug**
AWSMobileClient.confirmSignIn callback is not called when we invoke `AWSMobileClient.confirmSignIn` from `AWSMobileClient.signIn`'s callback.

**To Reproduce**
Steps to reproduce the behavior:

[code]
**Which AWS service(s) are affected?**
Cognito

**Expected behavior**
`AWSMobileClient.confirmSignIn`'s callback should be called

[2019-07-25 14:35] #1268 closed

[2019-07-25 16:22] royjit commented on #1248
The PR #1672  is approved and merged to 'develop' branch. The out standing bugs reported in thus issue that needs to be fixed:

1. Race condition when calling confirmSignIn from sign callback. Tracked here #1686
2. No callback when using drop-in UI  `AWSMobileClient.showSignIn` with FORCE_CHANGE_PASSWORD state.
3. The drop in UI handling of new password required case.

[2019-07-25 19:33] 101airborne commented on #745
I had the same problem when I ran the Amazon Polly Sample:

_2019-07-25 14:27:13.323716-0500 PollySample[2567:1701131] *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'The service configuration is `nil`. You need to configure `awsconfiguration.json`, `Info.plist` or set `defaultServiceConfiguration` before using this method.'_

My problem was fixed when I

[2019-07-25 19:45] #1227 closed

[2019-07-25 20:28] Foefirelord commented on #1588
This is still a critical problem, as it prevents the retrieval of the user's e-mail address in-app.

Is there any news on a potential fix?

I've checked the User Pool, and I can see the e-mail address under the "email" field for social accounts in the AWS control panel, so the e-mail address is there, but the SDK fails to retrieve user attributes altogether for users authenticated via external pro

[2019-07-26 00:16] hanslai commented on #958
The problem of not getting the OAuth2 scopes are still here.  new issue #3732

[2019-07-26 01:41] dokutoshi commented on #1548
Is AWS using dispatch_group in GCD to manage the async tasks?  Otherwise race conditions will lead to spurious events, e.g. identityId changing and the underlying accessToken and idToken.  This can lead to weird failures.

[2019-07-26 01:44] dokutoshi commented on #1410
Seems I am having a similar issue too.  AWS Please fix.

[2019-07-26 01:47] dokutoshi commented on #1320
Seems related to other issues that the identityId is changing.

[2019-07-26 07:25] kvanadev1gmail commented on #1020
Hi i am also getting the same issue while signin even my credentials are correct.
Getting error code is
**Terminating app due to uncaught exception 'NSRangeException', reason: '*** -[Swift.__SharedStringStorage substringFromIndex:]: Index 9223372036854775808 out of bounds; string length 46'**
can u please help me on this
@bfallon @muellerfr @gaborcsontos @rohandubal

[2019-07-26 13:17] palpatim commented on #1669
@Skifcha

We believe we understand the root cause of this and have put it in our queue to fix. We're tracking that issue on #1686 and will update it once it's finished.

Since you are reporting slightly different reproduction steps, it's possible that you're encountering a different issue (although I don't think so). Therefore, I'm going to leave this issue open so you can verify it separately onc

[2019-07-26 13:18] palpatim commented on #1686
Once we release a fix that resolves this issue, we need to ask @Skifcha to verify that it fixes #1669.

[2019-07-26 14:18] Skifcha commented on #1669
@palpatim ok, thanks!

[2019-07-26 16:06] palpatim commented on #1687
@bdering

Sorry for the confusion on this--we need to do a better job with this documentation and support it with samples. This seems to be mostly a documentation issue, but there may be functionality issues at work here as well.

I'm going to associate this issue with #1308, so we work on both the functionality and documentation together to get a consistent complex object story.

[2019-07-26 16:09] palpatim commented on #1308
Classifying this as a Doc bug.

Notes:

- There are currently multiple layers of indirection between the S3Object and S3ObjectInput, the generated model, the S3ObjectProtocol, and the actual S3 implementations. These layers are an attempt to provide library support for complex objects in the core code, but to avoid requiring the import of the `AWSS3` library until an app actually decides to use co

[2019-07-26 16:49] odaeagle opened #1689 "ifModifiedSince in AWSS3HeadObjectRequest does not work"
We are trying to retrieve a file only when it is last modified after a specific date, the code roughly look like this

let request = AWSS3HeadObjectRequest()
request?.bucket = "SOME_BUCKET"
request?.key = "SOME_KEY"
request?.ifModifiedSince = date1
request?.ifUnmodifiedSince = date2

let s3 = AWSS3.default()
        s3.headObject(request!).continueWith { (task) -> AnyObject? in
            if let

[2019-07-26 18:51] palpatim opened #1690 "Starting multiple uploads fails if no identity tokens are cached"
**Describe the bug**

A batch of S3 uploads requested against a TransferUtility that has not yet been hydrated with credentials will fail.

**To Reproduce**
Steps to reproduce the behavior:
- Set up a TransferUtility to use Cognito IdentityPool, set up policies for unauthenticated access, and create a hosting app to support a batch upload of multiple files
  - See https://github.com/awslabs/aws-sd

[2019-07-26 22:43] palpatim opened #1691 "Multiple presigned URL generation takes a long time"
Customer reports:

**Steps to reproduce**

**Preparation**
- Create Single View App (Objc)
- pod install AWSS3 2.9.3
- amplify init
- amplify add storage
- amplify push
- open [ProjectName].xcworkspace
- enable KeychainSharing
- Implement AppDelegate & ViewController as attached

**AppDelegate**

[code]

**ViewController**
[code]

**Execution**

1. Run App: It takes only few seconds to finished ge

[2019-07-26 22:50] palpatim commented on #1691
Seems to be related to #1554--that fix resolves this behavior as well.

[2019-07-28 20:29] YoanGJ commented on #1575
Same problem here, any update?

[2019-07-29 03:54] palpatim commented on #1575
Hi all,

We believe we've identified a race condition (#1686)  that causes the signIn callback and the user state change listener to report events out of order, and can also result in the user state being flipped between signed-in and not-signed-in states. We're investigating this and will update that issue when we have more information.

In the meantime, I'm linking this issue to that one so we c

[2019-07-29 08:44] ishiwara51 opened #1997 "Please add the landscape orientation to showSignIn()."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

The view shown by showSignIn() seems to support only portrait orientation, which conflicts my app with fixed landscape orientation.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

Please m

[2019-07-29 10:59] bernikovich opened #1697 "Absolute paths do not work in Sandbox"
Hello, guys

Looks like you are using absolute paths when creating an upload task in `TransferUtility.uploadFileUsingMultiPart`. According to my understanding, this causes issues when I cannot verify if the upload task continues loading after the application restart because the task fails.

Xcode 10.3, macOS 10.14, iPhone XR, iOS 12.3

[2019-07-29 11:00] bernikovich commented on #1697
https://stackoverflow.com/questions/2154576/nshomedirectory-returns-different-path-each-time-iphone-app-is-restarted

[2019-07-29 12:31] borisdering opened #1698 "AVURLAsset stream url for S3 stored video file"
**State your question**
Is there a way to get the class AVURLAsset imported from AVFoundation / AVKit to work with AWSS3? Maybe by setting request headers like in the attached example.
Currently, I'm able to download or upload files to or from S3 but not able to assign the URL due to unauthorized response which is fine, but I would like to use the predefined class in a UICollectionView and not man

[2019-07-29 14:12] palpatim commented on #1682
I believe this is a dupe of #1505

[2019-07-29 14:16] palpatim commented on #1684
@cbryantryback That reversion was unintentional. Thanks for catching that, and sorry for the confusion. We'll fix that on the next release.

[2019-07-29 14:43] palpatim commented on #1697
Thanks for the callout @bernikovich. Sounds like we need to reconstruct the paths from the appropriate source directory rather than storing the absolute path.

[2019-07-29 14:51] palpatim commented on #1697
@bernikovich Also to clarify: Are you seeing multipart upload failures as a result of this behavior?

[2019-07-29 15:18] palpatim commented on #1698
We've had some internal discussions about some utilities/wrappers to make it easier to work with Asset classes inside of TransferUtility, but haven't gotten very far with our thinking. In the meantime, you might explore the [AWSS3PresignedURLBuilder](https://aws-amplify.github.io/aws-sdk-ios/docs/reference/Classes/AWSS3PreSignedURLBuilder.html) to see if that would help with your use case.

[2019-07-29 15:23] bernikovich commented on #1697
@palpatim I will provide samples of the errors I receive. Sometimes they even contain something like “File does not exists”.

[2019-07-29 18:20] desokroshan commented on #1158
Add support for user migration, requested in https://github.com/aws-amplify/aws-sdk-ios/issues/1651

[2019-07-29 18:21] desokroshan commented on #1676
We are tracking this in the [Authentication RFC](https://github.com/aws-amplify/aws-sdk-ios/issues/1158). Closing.

[2019-07-29 18:21] #1676 closed

[2019-07-29 18:41] royjit opened #1700 "Sign in callback invoked before all sign in operations are complete"
**Describe the bug**
Callback for sign is called before the actual status is set internally.

**To Reproduce**
We call self.performUserPoolSuccessfulSignInTasks and then calls completionHandler without waiting for the first task to complete.
https://github.com/aws-amplify/aws-sdk-ios/blob/master/AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClient.swift#L480
i) Inside self.performUserPoolSuccessfulS

[2019-07-29 22:37] MattFoley commented on #1677
I currently ship a large (million user plus), dynamic framework, that uses AWS heavily. Previously we built and included static libraries directly, but as far as I can tell, AWS Amplify is only meant to be shipped as a dynamic framework. Does any documentation exist as far as including the raw source code, or static library versions of AWS?

[2019-07-30 00:14] palpatim commented on #1677
@MattFoley

I'm not aware of such documentation, and as you note, the projects are set up to be built as Dynamic Library. It's been quite a while since I've worked with static libraries, and unfortunately never had to worry about converting back and forth, so I don't have any advice for you. If you are able to figure this out, we'd welcome a PR against our [`README`](https://github.com/aws-amplify

[2019-07-30 01:18] MattFoley commented on #1677
Hey @palpatim, you’d likely want to setup your Xcode project to have both static and dynamic targets for each library. It can take awhile to set that up. For now, we’ll likely include the source directly, and tweak the imports to work with that. It’s not often that frameworks use other frameworks, so I understand not having a solution already built! If you’re curious, Lottie might be a good exampl

[2019-07-30 10:50] Lewanny opened #1703 "Help!!!! Swift demo error"
hi teams,
i download the demo at https://github.com/awslabs/aws-sdk-ios-samples/tree/master/Lex-Sample/Swift.

and change my configure like that:
{
    "Version": "1.0",
    "IdentityManager": {
        "Default": {}
    },
    "CredentialsProvider": {
        "CognitoIdentity": {
            "Default": {
                "PoolId": "us-west-2:64ec6961-c504-4622-86a2-d70fb05cb56a",
                "

[2019-07-30 13:58] palpatim commented on #1703
@Lewanny

Please also note that the setting up the sample requires a number of other [steps](https://github.com/awslabs/aws-sdk-ios-samples/tree/master/Lex-Sample/Swift) including role and policy setups, as well as setting up and publishing the bot itself. Having run through the demo myself several times, I sympathize that it be a bit tedious to set up for the first time, but I've successfully set

[2019-07-30 14:33] bernikovich commented on #1697
[code]

[2019-07-30 14:42] borisdering commented on #518
@helloniklas, sorry I'm pretty new to the AWS world. Can you explain how you achieved this?

[2019-07-30 19:22] palpatim commented on #1684
This is released in https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.10.1

[2019-07-30 19:22] #1684 closed

[2019-07-31 07:31] vtniteshgunani commented on #1209
I am still facing this issue in 2.10.0, please provide solution on urgent bases.

[2019-07-31 08:34] temitopefunmi opened #1706 "AWS transcribe model training"
Are there options to train aws transcribe models for dialects, accents, e.t.c? For instance, using datasets containing audio and human labeled transcriptions.

[2019-07-31 13:40] fer662 commented on #1549
@rohandubal is the regression fixed? I'm having other issue I'm about to log, and I suppose one initial answer would be for me to update to latest, but I need to be sure I can.

[2019-07-31 13:50] palpatim commented on #1592
This should be fulfilled when we implement #1649.

[2019-07-31 14:10] fer662 opened #1707 "Known good file ends up as 0 byte file in s3"
**Describe the bug**
We're seeing uploads that end up as 0 byte files in s3, which from our logging we know were good files with size > 0, and even the transfer progress indicates they still were good files at the point of their upload. Status code 200.

**To Reproduce**
I Don't know. This happened in production to a very small percentage of uploads

**Which AWS service(s) are affected?**
AWSS3Tra

[2019-07-31 15:17] palpatim commented on #1706
@temitopefunmi

We on the SDK team don't have deep knowledge of the Transcribe service beyond what APIs are available in the SDK itself. Please try asking your question on the [Transcribe AWS forum](https://forums.aws.amazon.com/forum.jspa?forumID=278) to see if someone there can provide an answer.

If I'm misunderstanding your question and you're asking about an SDK feature, please provide more c

[2019-07-31 15:21] palpatim commented on #1707
@fer662

We have made a number of improvements to the SDK since 2.8.4, which is several months old at this point. Are you able to replicate the issue on a newer version of the SDK?

[2019-07-31 15:23] rjwink commented on #1649
Just a watch out - app sync library is dependent on the AWSCore, which is where the Cognito stuff lives. Version was recently bumped to 2.10.0, but app sync’s dependency to AWSCore is set at ~>2.9, which means we’ll likely run into issues updating to the new Cognito stuff when it’s available if that remains.

Trying to prevent the scenario where this feature is ready and we are unable to use the u

[2019-07-31 15:41] palpatim commented on #1677
@MattFoley

Thanks for the pointer. At this point, we haven't heard a lot of customer requests for supporting static library builds from source, so I'm going to close this so it stays focused on the issue of building static via CocoaPods.

If you feel building static from source would be generally useful, please feel free to open a new feature request that we can add to the backlog.

[2019-07-31 17:17] garrettfritz commented on #1588
Hello, FWIW I thought I was having the exact same problem as @Foefirelord , and I definitely need those attributes in app to complete my user onboarding flow.  I knew everything else was working since I saw those attributes pulled in fine and mapped great on the AWS Cognito dash, but I kept getting 'notAuthorized' when trying to getAttributes for the user.

Turns out, the culprit was when I copy/p

[2019-07-31 17:25] garrettfritz commented on #1588
Actually, you can go even simpler, if you just leave off the 'scopes' param entirely it appears to use the aws configuration json file, which I think is probably the intended usage...

`let hostedUIOptions = HostedUIOptions( identityProvider: "Google")`

~G

[2019-07-31 18:01] palpatim commented on #1588
@garrettfritz Thanks for the suggestion.

@Foefirelord can you verify whether that suggestion works for you? Based on your earlier message ("...they had me enable literally all scopes. Still doesn't work.") I'm guessing it didn't. Can you share the code snippet you use to present the HostedUI to users?

[2019-07-31 20:43] Foefirelord commented on #1588
Thanks to @garrettfritz for the insight.

It never occurred to me that the initializer for `HostedUIOptions` would override the config file in an SDK that was crafted specifically to reduce the amount of confusion being caused by the way services were configured in the older SDK (as in, without a single-file config for all services).

Once I removed the `scopes` argument from the `HostedUIOptions`

[2019-07-31 20:43] #1588 closed

[2019-07-31 20:59] palpatim commented on #1588
Thanks for the followup. I've seen examples of runtime configurations overriding compile/file-provided configurations in the past, but we'll do a better job calling that out in the API documentation to ensure we don't create additional confusion.

[2019-08-01 02:49] mureatencio commented on #975
Any news? @muellerfr

[2019-08-01 03:38] Lewanny commented on #1703
@palpatim
Thank you. I solved this problem with the method you provided.

[2019-08-01 03:38] #1703 closed

[2019-08-01 05:48] karthironald commented on #1622
@kvasukib When can we expect this Textract iOS SDK? Is it released?

[2019-08-01 07:28] temitopefunmi commented on #1706
Okay. Thanks

[2019-08-01 08:39] yourPresents commented on #1703
hi,
i integrated AWSLex on mobile platforms android and iOS, and I found that AWSLex provided a way to record. But I want to record with my smart device, can this be done? If it can be done, what I need to do with the audio. Thanks for your reply.

[2019-08-01 08:42] yourPresents opened #1710 "The AWSLex problem: recording with smart devices"
hi,
i integrated AWSLex on mobile platforms android and iOS, and I found that AWSLex provided a way to record. But I want to record with my smart device, can this be done? If it can be done, what I need to do with the audio. Thanks for your reply.

[2019-08-01 13:05] fer662 commented on #1707
@palpatim I'm not able to replicate myself even on this SDK. This has a minuscule reproduction rate (but the user that had this problem had 3 files out of 200 upload like this). I am not able to update the SDK to test on production because of this being reopened still: https://github.com/aws-amplify/aws-sdk-ios/issues/1549 . I'm running my own fork that fixes that, which you merged in, but people

[2019-08-01 13:27] palpatim commented on #1622
@karthironald We just released this on https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.10.2

[2019-08-01 13:49] karthironald commented on #1622
Sorry if I'm missing anything. I have tried to integrate SDK manually by downloading and adding in Xcode. But I couldn't find Textract SDK. Can you please help with this?
<img width="772" alt="Screenshot 2019-08-01 at 7 17 59 PM" src="https://user-images.githubusercontent.com/19427160/62298780-49a02380-b491-11e9-9f6c-eeb48a6b716e.png">

[2019-08-01 15:44] palpatim commented on #1622
@karthironald Sorry for the error--I think I might know what's going on. Did you encounter this error while following the instructions at https://github.com/aws-amplify/aws-sdk-ios#frameworks ?

[2019-08-01 16:50] karthironald commented on #1622
I think, i downloaded from [here](https://aws-amplify.github.io/docs/ios/manualsetup#frameworks-setup). Though, first i tried to install via cocoapod using `pod AWSTextract`. But I got below error,

that's why i tried for manual integration. Please help me.

Thanks!

[2019-08-01 16:53] palpatim commented on #1622
Thanks! The framework link at https://sdk-for-ios.amazonwebservices.com/latest/aws-ios-sdk.zip is now up-to-date with the Textract library. I'll investigate the Pods as well, although I'm able to see a pod for it: https://cocoapods.org/pods/AWSTextract

Be sure to do a `pod repo update` before attempting to install via CocoaPods.

[2019-08-01 16:55] karthironald commented on #1622
Will try and update you soon. Thanks for your help!

[2019-08-01 17:18] #1706 closed

[2019-08-01 17:21] palpatim commented on #1710
The Lex SDK is intended to send audio to the Lex service for bot-driven interactions. If you wish to record audio on the device, I'd advise you to look at a different solution. If I'm misunderstanding your question, please provide more detail.

[2019-08-01 17:24] palpatim commented on #1707
@fer662 Thanks for the context. In the absence of a reliable repro, and since this is reported on an older SDK, I'm going to close this issue. We'll keep #1549 to track the potential regression.

[2019-08-01 17:24] #1707 closed

[2019-08-01 17:29] palpatim commented on #1691
Also possibly related to #1549, which reports a regression of #1188 (which was originally fixed in #1192).

[2019-08-01 18:19] palpatim opened #1711 "New password required state not propagated to drop-in UI"
**Describe the bug**

- Create a user from the Admin console
- Attempt to sign in as that user

**Expected behavior**

- Drop in UI presents the user with a password change screen

**Additional context**

There are a couple of underlying issues:

1. There appears to be no UI for handling the `FORCE_CHANGE_PASSWORD` state
1. We are not properly propagating errors for the `FORCE_CHANGE_PASSWORD` whe

[2019-08-01 19:28] Foefirelord commented on #861
Same issue still. Pinpoint simply can't manage to send updates to the backend. It appears to accumulate them locally, try to send them, and fails with the "Missing Address" error.

I have Push Notifications disabled for Pinpoint, so it doesn't make sense to add the code that supports push notification handling via Pinpoint. I'm just trying to get it to send updates to the endpoint, and it's failin

[2019-08-01 20:37] cjmartin opened #1740 "Generated API.swift sends mimeType and localUri from S3ObjectTypeInput with mutation."
**Describe the bug**
I've added storage to my amplify project, and wired it into my GraphQL API as described in the docs, by adding an S3Object type to my schema.

[code]

As expected, this adds the S3Object type to the schema in AppSync, along with it's associated S3ObjectInput.

[code]

The generated API.swift file correctly generates the S3ObjectInput struct, including `mimeType` and `localUri`

[2019-08-01 21:31] osandvold302 opened #1712 "Generic parameter Query could not be inferred with AppSync fetch"
**State your question**
How to solve error `Generic parameter 'Query' could not be inferred` when attempting an AppSync fetch?
**Which AWS Services are you utilizing?**
AWS AppSync, Amplify
**Provide code snippets (if applicable)**
[code]
Results in error `Generic parameter 'Query' could not be inferred`

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.29]
2.1

[2019-08-02 02:49] yourPresents commented on #1710
@palpatim
Thank you for your reply. i want to record audio on the device, and send audio streams to mobile phones.  Then send audio received to the Lex service for bot-driven interactions through mobile devices. I wonder if this solution can be achieved with Lex SDK, thanks.

[2019-08-02 13:42] palpatim commented on #1712
@osandvold302 The version of the Apollo client we forked is well before the 0.13.0 version on which that issue is filed, but the root cause is similar: the `fetch` completion handler returns a `(result, error)` tuple, and you are operating on only one parameter, `result`. See examples in our [docs](https://aws-amplify.github.io/docs/ios/api#run-a-query) for more detail.

Hope this helps.

[2019-08-02 13:46] palpatim commented on #1710
@yourPresents No, there is no facility for doing that via the Lex SDK.

[2019-08-02 14:40] osandvold302 commented on #1712
That works, not sure why I didn't catch it before :(

Thanks!

[2019-08-02 14:40] #1712 closed

[2019-08-02 15:07] bennettk commented on #1262
hi, any updates on this? we're still seeing users who are affected by this daily.

[2019-08-04 22:05] nkavian commented on #1405
[code]

[2019-08-05 00:50] phanchutoan commented on #1691
@palpatim. Fixing may be incomplete. As the credential still expire.
https://github.com/aws-amplify/aws-sdk-ios/issues/1554#issuecomment-514425999

[2019-08-05 02:08] jamesatfish commented on #1505
@palpatim yes, it appears #1682 is the same issue.

We have seen an increase in users with this crash over the last week or so, and unfortunately it's starting to have a major impact on our application stability.  Is there any word on when a solution might be available?

From the sounds of some other active issue tickets (#1686 which seems related to our other open ticket #1575) I presume there's

[2019-08-05 03:26] Foefirelord opened #1716 "Pinpoint Dispatches _session.start Event During Background App Activity"
**Describe the bug**
When dispatching a custom Pinpoint event while the app is temporarily activated in the background in response to a push notification action (`userNotificationCenter(_:didReceive:withCompletionHandler:)`), causes Pinpoint to think that the app has been brought to the foreground, so aside from the custom event being sent, it also locally records a `_session.start` event.

Howeve

[2019-08-05 15:08] palpatim commented on #1716
@Foefirelord

Thanks for the report. Without diving deeply into the code, I think what's likely happening is that the PP client is correctly stopping the session when the app is sent to background, then when it responds to a background event, it has to create a new session, since all events must be tied to an app session.

AFAIK, there aren't any lifecycle notifications for background notification

[2019-08-05 15:42] palpatim commented on #1614
Yes, since you're using a static identifier, the correct behavior is to register the client once per app launch.

The responsibility for providing refreshed credentials to the TransferUtility lies with the credentials provider registered with the service configuration, you shouldn't need to re-register a service configuration every time the credentials need to be refreshed.

The completion block w

[2019-08-05 15:48] palpatim commented on #1670
Please paste the actual code you're using to check those. There are "convenience properties" that only check the cached state of those properties rather than making a network call, and I want to verify which code path you're using.

[2019-08-05 16:08] palpatim commented on #1670
Please also see the discussion on #1082, as it seems like these may be related issues.

[2019-08-05 16:26] jasonbobier opened #1717 "Calling AWSMobileClient.signOut with completion handler never calls the completion handler if default SignOut options are used."
**Describe the bug**
Calling AWSMobileClient.signOut with completion handler never calls the completion handler if default SignOut options are used.

**To Reproduce**
Add this call to your code:

AWSMobileClient.sharedInstance().signOut { (error) in
    doSomething()
}

doSomething will never get called

**Expected behavior**
The completion handler will be called when signOut completes.

**Smartph

[2019-08-05 19:33] EmperiorEric commented on #1603
Hoping for updates here. Is there a branch with this working?

[2019-08-06 05:18] VikasPrajapatiSA commented on #1614
@zcramos  I found one solution as we can resolve this type of problem.
When you create again AWSS3TransferUtility then first remove this object with the same key and make the object again after a one-second delay. I think that it will work fine.

AWSS3TransferUtility.remove(forKey:"S3Utility")
DispatchQueue.main.asyncAfter(deadline: .now() + 0.1, execute: {
       // create object again
})

Hope i

[2019-08-06 05:22] VikasPrajapatiSA commented on #1670
I am checking with below code.
AWSMobileClient.sharedInstance().isSignedIn

Do you have another way to check that user logout from all devices?

[2019-08-06 13:50] palpatim commented on #1670
(Please see the discussion on https://github.com/aws-amplify/aws-sdk-android/issues/1082 as well.)

As I mentioned in my first response above, `isSignedIn` only at cached state. AWSMobileClient doesn't really support a "check state on the service" use case, since a big part of its value proposition is that it is intended to simplify credential management by removing the requirement for app develop

[2019-08-06 19:50] EmperiorEric commented on #1603
@kvasukib Any updates on this? We're probably about a month or less from release.

@colinhumber Did you work around this somehow?

[2019-08-06 20:21] air720boarder commented on #1603
Bumping for updates

[2019-08-06 20:27] colinhumber commented on #1603
I've been waiting to get an official update, but in the meantime I have this on a branch. I might just do a PR since there's been no word as to whether this will be internally handled.

https://github.com/colinhumber/aws-sdk-ios/tree/uikit-for-mac

[2019-08-07 11:41] quanguyen opened #1720 "AWSRekognition - How to separate collections/faces per user account?"
Hi everyone,

Thanks for the AWS Mobile SDK, which is a great way to explore and integrate AWS services into our mobile applications.

I am having this issue for several days but have not figured out how to solve yet.

Below is my system diagram:

![MyApp diagram](https://user-images.githubusercontent.com/11938078/62618864-85c6fe80-b93f-11e9-8cf7-50bd727fabd2.png)

1. From app, I make a request to

[2019-08-07 16:31] #1677 closed

[2019-08-07 23:22] royjit commented on #1700
PR for the fix - https://github.com/aws-amplify/aws-sdk-ios/pull/1721/

[2019-08-08 07:14] mrublev commented on #975
Isn't it something already implemented in the android sdk? (since 2018: [Link](https://github.com/aws-amplify/aws-sdk-android/commit/3b9f66afab09acbd233b9269b9cf0b9906651f54)) It has an option to pass configuration as a string to AWSConfiguration to [initialize AWSMobileClient](https://github.com/aws-amplify/aws-sdk-android/blob/master/aws-android-sdk-mobile-client/src/main/java/com/amazonaws/mobi

[2019-08-08 09:48] quanguyen commented on #1720
For now, the block `AWS Rekognition`, which is a service that I opened for my users, seems to be a "Singleton".

What should I do to make it separate for each of my users?
For ex: `user1` creates `collection1`; `user2` creates `collection2` => `user1` can only see `collection1`, `user2` can only see `collection2` while in my current situation, `user1` sees both `collection1` and `collection2`, and

[2019-08-08 15:46] inzinga commented on #1224
Was wondering if there was a resolution to this issue?  I'm seeing it randomly with latest iOS AWS SDK.  Similar symptoms that others note above.  Only occurs randomly.

[2019-08-08 16:35] palpatim commented on #975
@mrublev We have an in-progress task (#1649) on iOS to support configuring AWSMobileClient via in-memory object.

[2019-08-08 20:04] jaelee1993 opened #1723 "Storing Token on another Local Database such as Realm"
**State your question**
What is best practice?
**_Options_**
1) Storing id_token and access_token into a separate database such as Realm/CoreData and using it from there.
-or-
2) Just use the **AWSMobileClient.sharedInstance().getTokens**  api when I need to use a token.

**Which AWS Services are you utilizing?**
AWSMobileClient
AWS Cognito

**Provide code snippets (if applicable)**
`AWSMobileClie

[2019-08-08 20:12] dpachecols opened #1724 "AWSCognitoAuth logout not clearing tokens"
I am using AWSCognitoAuth to login and logout but when I logout the user is stays alive, it seems as if it does not erase the session globally.
Login:

[code]
Logout:
[code]

After I logout and login again the web page do not ask me for my credentials again it pass automatically, I want that cognito ask me my credentials again. I also try to clear the keychains but didn't not work.

Pod file:
`pod

[2019-08-08 20:54] palpatim commented on #861
Since there was never an actual resolution on this issue, we're reopening it to get it on the backlog.

[2019-08-08 21:00] barbara42 opened #1725 "Error when using AWSLexVoiceButton"
I'm running the LexSwift iOS app downloaded from https://github.com/awslabs/aws-sdk-ios-samples/tree/master/Lex-Sample/Swift

The text-based chat feature works fine, but when I try to use the voice chat feature I get the following error

`Error Domain=com.amazonaws.AWSLexInteractionKitErrorDomain Code=4 "(null)"`

I'm using XCode version 10.2.1 and running the app through the Simulator. This issue

[2019-08-08 21:22] Foefirelord commented on #861
Appears to be a device-only issue. Doesn't occur on simulators, but does occur on both iPhone and iPad.

Happens when the app is brought to foreground and attempts to update the endpoint. I was told by support that this isn't actually about dispatching events, like I thought. Updating the endpoint is a different operation.

The same error (Missing Address) also pops up when sending the app to back

[2019-08-08 23:18] royjit commented on #1723
I would recommend to use `AWSMobileClient.sharedInstance().getTokens` since it handles refreshing the token or informing if signIn is required etc. You can find details in the [iOS amplify documentation](https://aws-amplify.github.io/docs/ios/authentication#managing-security-tokens)

[2019-08-09 00:25] Foefirelord commented on #861
Just read this part of the Pinpoint docs:
https://aws-amplify.github.io/docs/ios/analytics#assigning-user-ids-to-endpoints

It says that as long as you're using Cognito User Pools, you don't need to implement that code to set the endpoint based on the signed in user's ID manually, but the error seems to indicate that Pinpoint doesn't see an endpoint to use, or the Pinpoint library fails to set the

[2019-08-09 12:34] jaelee1993 commented on #1723
Thank you for your response @royjit. So does AWS check the validation of the token using the expiration date internally or does it make another network request to AWS servers?

[2019-08-09 14:19] #1710 closed

[2019-08-09 20:52] royjit commented on #1567
Cognito does not support password-less signup and signin. But you can make use of custom authentication to achieve this feature which is explained in the blog [post](https://aws.amazon.com/blogs/mobile/implementing-passwordless-email-authentication-with-amazon-cognito/).

But custom auth is not currently supported in AWSMobileClient. We have a backlog item for this #1204

[2019-08-09 20:52] nator333 commented on #1598
After updating the version from 2.7.4 to 2.9.10, the code above worked out.

[2019-08-09 20:52] #1598 closed

[2019-08-09 23:12] royjit commented on #1723
It checks the validation internally and makes network request if the the token is expired.

[2019-08-11 18:50] jaelee1993 commented on #1723
@royjit Awesome, thank you for the help!

[2019-08-11 18:50] #1723 closed

[2019-08-12 02:53] Chesong-Lee-Hospii opened #1732 "Wrong confirmation code returns unexpected error"
**Describe the bug**
When calling `AWSMobileClient.sharedInstance().confirmForgotPassword(...)` and inserting the wrong `confirmationCode` the error I get is `userNotFound(message: "Username/client id combination not found.")`. I would expect the error to return `securityFailed`

**To Reproduce**
Steps to reproduce the behavior:
1. Call `AWSMobileClient.sharedInstance().forgotPassword(...)` with a

[2019-08-12 04:01] Foefirelord commented on #861
Turns out you HAVE to implement the Pinpoint SDK methods that intercept push notification registration and intercept the receiving of silent notification, in order for analytics to function properly without throwing errors.

This is absolutely asinine. The code to do this is in the document section called "Push Notifications" -- a section that no one will ever even open if all they want out of Pin

[2019-08-12 04:07] Foefirelord commented on #1700
So would this be why using `getIdentityId()` or invoking a Lambda based on `addUserStateListener`'s `.signedIn` state fails for a certain period of time but then suddenly starts succeeding?

Any ETA on when this will be fixed?

[2019-08-12 08:20] JesusMartinAlonso opened #1733 "[AWSCognitoAuth] idToken and accessToken from session are nil after user attributes update"
**Describe the bug**

We are using Cognito and AWSMobileClient to authenticate users in one of our apps. This is a code snippet showing how we are authenticating the user:

After sign in the user, we perform an update of its attributes in order to update its nickname. After this step, `idToken` and `accessToken` from `AWSMobileClient.getTokens()` method are nil.

I have debugged the SDK and the pr

[2019-08-12 15:32] palpatim commented on #1725
[Error code 4](https://github.com/aws-amplify/aws-sdk-ios/blob/6ab2982040eaca984eab38e311b98c3b9227b773/AWSLex/AWSLexInteractionKit.h#L43) is a `AWSLexInteractionKitErrorCodeNoSpeechTimeout` error, indicating that the device didn't send audio in the specified time period. I don't recall off the top of my head whether using the simulator to record audio is supported. Does this occur if you run the

[2019-08-12 15:39] palpatim commented on #1732
@Chesong-Lee-Hospii Thanks for reporting this. We'll need to investigate to see if this behavior is intentional or not.

[2019-08-12 15:42] palpatim commented on #1733
@JesusMartinAlonso Thanks for reporting and for the detailed analysis and PR. We'll take a look at this and update as soon as we have more info.

[2019-08-12 15:53] palpatim commented on #1700
No ETA yet but we are actively working on it.

[2019-08-12 16:10] #1255 closed

[2019-08-12 16:10] #1557 closed

[2019-08-12 16:10] #1545 closed

[2019-08-12 16:10] #1655 closed

[2019-08-12 16:13] barbara42 commented on #1725
Great news, the simulator doesn't support recording audio! It works perfectly on an actual device. Thank you for helping.

[2019-08-12 16:13] #1725 closed

[2019-08-13 10:42] Hardiktspaceo commented on #1603
When we get the updated pod which is also support macCatalyst ?

[2019-08-13 14:42] #1614 closed

[2019-08-13 16:43] royjit commented on #1505
PR is pushed to develop branch PR #1726

[2019-08-13 18:23] royjit commented on #1717
PR #1700  for the fix

[2019-08-13 19:13] royjit commented on #1700
PR #1721 approved and pushed to develop branch.

[2019-08-13 21:44] royjit commented on #1700
Had to revert the PR since we found another callback which was invoked before signIn completes. This is caused by [`currentSignInHandlerCallback`](https://github.com/aws-amplify/aws-sdk-ios/blob/abba0bf6c4895b92077484adceaa1e9fb996670c/AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift#L916) which is called in `getTokens` method during signIn.

[2019-08-14 11:05] bharathreddy-97 commented on #1193
I am facing the same issue. Does anyone have any solution for this?

[2019-08-14 11:09] bharathreddy-97 commented on #1193
@Bsin1 were you able to solve it?

[2019-08-14 12:53] bharathreddy-97 opened #1736 "Domain Code 2 from AWSS3TransferUtility"
Problem:
Getting Domain Code 2 when uploading the file from iOS App to S3 Bucket. Issue occurs only when this line is added
'uploadExpression.setValue("public-read", forRequestHeader: "x-amz-acl")'

Services used:
AWSS3

Code Snippet:
`AWSServiceManager.default()?.defaultServiceConfiguration = configuration
        let transferUtility:(AWSS3TransferUtility?) = AWSS3TransferUtility.default()

[2019-08-14 13:05] #1736 closed

[2019-08-14 13:08] bharathreddy-97 commented on #1736
Turns out I have to enable 'putObject' in Write permissions and 'putObjectAcl' in Permission Management section. After setting those parameters it was uploading, is publicly accessible now.

[2019-08-14 18:23] garrettfritz opened #1737 "Hosted UI sign in fails with AWSCognitoAuthErrorDomain error -7000 when previous hosted sign in user is deleted"
**Describe the bug**
I have hosted ui sign in working fine in my application, logging out and re-logging in all works as expected.  The problem comes when the user is deleted.  My delete flow goes like this:

0) user signs in with hosted ui (facebook)
1) iOS app signals back end to delete user
2) back end deletes cognito user with javascript:

`let AWS = require('aws-sdk');

	AWS.config.update(aws

[2019-08-14 20:23] garrettfritz commented on #1737
So i have an odd work around that ends up making it work, but it is not ideal....

if I call

`  AWSCognitoAuth.default().signOut(self.navigationController!) { (error) in }`

before re-attempting to login with the same provider that was deleted, it will then succeed.  (note: I had to set EnableSFAuthenticationSesssion = YES in my info.plist in order for that to actually work as well....

This is n

[2019-08-14 22:26] sindhugudivada opened #1739 "Using AWS Amplify for Mobile App authentication"
I like to use Amplify for a Mobile app for authentication(social and general) as well.   I'm planning to build my backend (REST API) with Django/Flask.  So, when the user submits login in my app, I do I share the fact that he is successfully logged in user and infact he can use all the Django REST APIs. **Is there a Amplify App ID that I need to provide to my REST APIs and is there a Python wrappe

[2019-08-15 06:40] mahgolfa commented on #1045
I removed the script from run scripts in build phases, then built my app, and re added my script
cleaning project (ie. removing build folder from Xcode/DerivedData) has caused it I suppose.

[2019-08-15 16:59] palpatim commented on #1739
It sounds like what you want to do is solved by [Cognito Resource Servers](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-define-resource-servers.html), where you would use Cognito to authenticate using an OAuth 2.0 flow, and then use the resource server to control access to your application resources. Please review those docs and see if that matches your requirements

[2019-08-15 20:06] lawmicha commented on #1732
I was able to get
`codeMismatch(message: "Invalid verification code provided, please try again.")`

can you confirm you are using the existing username?

[2019-08-15 22:19] juliogarcia93 commented on #1204
Hi @rohandubal and @ryancrunchi,

I too am interested in such functionality. I agree with Ryan in that the AWSMobileClient is much easier to use and that it would be nice if the API client had a way of initializing a Custom Auth flow and allow us to work with the cognito lambda triggers nicely. Is there any plan for something like this in the future? I'd be happy to help with any PR's needed

[2019-08-16 09:08] msk-psp opened #1742 "Sometime occur runtime error 'Task created in a session that has been invalidated' when cancel tasks"
**State your question**
 I want to know that how to cancel tasks properly using transfer utility for Download files from S3

 I make a lot of download tasks to downloading files from S3 bucket about 50 ~ 100 tasks
 And I made a function that allows users cancelling download tasks, but sometimes the function occur errors which error message is 'Task created in a session that has been invalidated'.

[2019-08-16 11:07] james-ff commented on #1204
Would very much be for this feature too

[2019-08-16 19:12] drochetti commented on #1308
I merged a PR ([aws-amplify/docs/pull/836](https://github.com/aws-amplify/docs/pull/836)) to the documentation site to clarify how the integration between the `AppSync` client and the required protocols (`AWSS3ObjectManager`, `AWSS3ObjectProtocol` and `AWSS3InputObjectProtocol`) is done.

Check https://aws-amplify.github.io/docs/ios/storage#usage-with-graphql-apis-complex-objects for more details

[2019-08-16 19:14] #1406 closed

[2019-08-18 03:29] bnlerner commented on #1053
@cbommas any update on when both pods could be used together? is there a milestone this is tied to?

[2019-08-18 07:18] demosthese commented on #1045
None of these solutions helped. Any other ideas?

[2019-08-18 18:21] sykhan88 opened #1773 "Retrieving Cognito Identity ID using credentialsProvider vs AWSMobileClient"
**Why am I successfully getting getting Cognito ID when I use getIdentityID from credentials provider but get an error when using AWSMobileClient?**
I have setup a Federated Identity with a custom developer provider. I am initializing the Amazon Cognito credentials provider using the code snippet generated by the Amazon Cognito console.
[code]
Following this, I am retrieving the cognito Identity I

[2019-08-18 20:01] sykhan88 opened #1774 "Developer authentication with Cognito Identity using Custom Provider"
**How can I setup developer authentication for a custom provider. The documentation [here](https://docs.aws.amazon.com/cognito/latest/developerguide/developer-authenticated-identities.html) isn't sufficient and left a lot of unanswered questions. Unfortunately, there isn't much info out in the sites like stack overflow so turning to the developers on github. If there is a sample out there, I would

[2019-08-19 14:43] slootzky opened #1777 "FABKitProtocol.h file not found while compiling AWSCognitoIdentity+Fabric.m"
**Describe the bug**
Getting this error in build time.
I'm using Fabric 1.6.13
and AWSAPIGateway 2.6.35

**Environment(please complete the following information):**
 - SDK Version: AWSAPIGateway (2.6.35)
 - Dependency Manager: Cocoapods 1.7.3
 - Swift Version : 4.2
 - Xcode : 10.1

**Device Information (please complete the following information):**
 - Device: Simulator Iphone X
 - iOS Version: iOS

[2019-08-19 20:52] cjmartin commented on #1740
@kaustavghosh06 thanks!

@yuth Let me know if you need more clarification on this. It's a bit complicated since most people who are currently using this have probably gone ahead and added the `mimeType` and `localUri` fields to the `S3ObjectInput` type in their graphql schema and are ignoring the values on The AppSync side in their resolvers (this is what I'm currently doing).

It would be really

[2019-08-19 20:54] cjmartin commented on #1740
Not sure what I did to unassign @yuth there ☝️ 🤷‍♂

[2019-08-19 21:53] yuth commented on #1740
@palpatim is there some thing that SDK can do to remove `mimeType` and `localUri`

[2019-08-21 06:14] slootzky commented on #1777
help?

[2019-08-21 15:45] palpatim commented on #1740
If the fields are code-generated, they'll be included in the request automatically, but the SDK doesn't do any field-level filtering. I wouldn't really want us to be in that business in any case--once we start inspecting fields at the SDK level, we run into all kinds of problems with potentially inconsistent behaviors across app versions, platforms, etc, not to mention the cognitive burden of reme

[2019-08-21 15:49] palpatim commented on #1740
Opened https://github.com/aws-amplify/docs/pull/866 to clarify the expected behavior

[2019-08-21 17:05] palpatim commented on #1670
Closing due to inactivity

[2019-08-21 17:05] #1670 closed

[2019-08-21 17:53] james-ff commented on #1522
This would be great to have for us too!

[2019-08-21 19:47] cjmartin commented on #1740
Currently it isn't necessary to add `localUri` and `mimeType` to the declared `S3ObjectType`, they are added automatically in the swift code by Codegen. The issue is that since they're being sent with the GraphQL request, the request will fail unless they _are_ added to the `S3ObjectInput` in the schema.

It would be great if they were added in swift, but not sent with the GraphQL request unless t

[2019-08-21 19:56] cjmartin commented on #1740
I should clarify that when I say "schema" I'm referring to the amplify file, not the codegen'd file.

[2019-08-22 04:07] Pumpkin-SweetPotato commented on #1742
Without completionHandler

<img width="619" alt="스크린샷 2019-08-22 오후 1 06 28" src="https://user-images.githubusercontent.com/23733661/63485298-b4b3a780-c4dd-11e9-85ad-845067eca19a.png">

[code]

[2019-08-22 13:54] coreybrown89 commented on #1308
I'm having the same issues, but with the Javascript / React Native SDK

[2019-08-22 14:05] cornr opened #1809 "Support federated "Sign In With Apple""
**Which AWS Services is the feature request for?**
AWS SDK iOS, Cognito

**Is your feature request related to a problem? Please describe.**
We are offering Federated Sign In via `AWSGoogleSignInProvider` and `AWSFacebookSignInProvider`. Later this year Apple will force us to support "Sign in with Apple"  see https://developer.apple.com/news/?id=06032019j

**Describe the solution you'd like**
We wo

[2019-08-22 17:29] palpatim commented on #1608
@nunocnh Can you validate whether this is happening on the latest version of the SDK? We made some changes to session management a while back and you don't specify which version you're seeing the crash on.

[2019-08-22 18:21] palpatim commented on #1809
We'll update this thread once we have word back from the service team on this feature.

[2019-08-22 20:55] ankitnaugariya commented on #1399
Consider using device tracking with an option to suppress MFA for tracked devices: https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-device-tracking.html

[2019-08-22 23:33] lawmicha commented on #1512
Thanks for the details in this issue. I agree that the the behavior of the progress handler should reflect the actual progress of the work being done, and leave it up to the app developer to decide whether to use the reset-ed value, or use the largest value seen, if for example to show the progress in a progress bar.

I was able to verify that an upload with wifi toggle does reset to the beginning

[2019-08-23 01:20] dilunika commented on #1280
Hi, If this is the case, how should I use Cognito user pool as the authentication provider attached to API GW. I initially thought to attach API GW to Cognito User Pool to authenticate API requests.

[2019-08-23 03:30] palpatim commented on #1682
This was released on [2.10.3](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.10.3). Please let us know if you continue to experience problems.

[2019-08-23 03:31] #1682 closed

[2019-08-23 03:31] palpatim commented on #1505
This was released on [2.10.3](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.10.3). Please let us know if you continue to experience problems.

[2019-08-23 03:32] palpatim commented on #1717
This was released on [2.10.3](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.10.3). Please let us know if you continue to experience problems.

[2019-08-23 03:50] youki49 commented on #1045
In my case installing the latest version of Node.js solved it.

[2019-08-23 08:09] Ramkumartr opened #1814 "Failed with error: Error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=2 "(null)""
I'm using sdk 2.10.2 and using AWSS3TransferUtility to upload file (Video and text files)
this is the upload
[code]
getting this error after the progress

[code]

Environment
 - SDK Version: 2.10.2
 - Dependency Manager: Added Manually
 - Swift Version : 5

Device Information
  iOS 12.1.4 (16D57)
 Model: iPhone XS Max

[2019-08-23 09:04] sykhan88 commented on #1774
Hello guys. Would really appreciate a response on this. Essentially still stuck and would really like to understand if i am on the right track or way off..

[2019-08-23 19:33] devlogin commented on #1809
Thanks for opening this issue cornr.  We are in need of supporting this going forward.   We are eagerly waiting for an update on this issue as we cannot release our product (and still use AWS cognito) without Cognitor supporting this feature.

[2019-08-23 19:33] jeffjvick commented on #1512
Thanks @lawmicha for taking this on.  You can see my suggested changes in the description if that is helpful in your PR.

[2019-08-23 19:36] jeffjvick commented on #1513
Thanks @lawmicha for assigning this.  Please let me know what you find regarding this one. It is why we still have not switched to AWSS3TransferUtility.

[2019-08-24 00:07] #1680 closed

[2019-08-24 16:00] Xcode09 opened #1816 "com.amazonaws.AWSCognitoIdentityErrorDomain error 0"
when i sign up the user form AWSCognitouserpool this error comes.com.amazonaws.AWSCognitoIdentityErrorDomain error 0
i tried but failed can you please help me
App Delegate Code in didFinsihed

let credentialsProvider = AWSCognitoCredentialsProvider(regionType:.EUWest2,
                                                            identityPoolId:"eu-west-2:575436483707:userpool/eu-west-2_ZFeX7mjgyh")

[2019-08-25 17:10] palpatim commented on #1575
An update:

The race condition is more difficult to resolve than we originally thought, but we are continuing to work on it. In the meantime, @royjit has merged #1815, which fixes an error where signIn and confirmSignIn callbacks would sometimes not be called.

We'll update this issue when we have more information.

[2019-08-25 17:13] palpatim commented on #1669
An update:

The race condition is more difficult to resolve than we originally thought, but we are continuing to work on it. In the meantime, @royjit has merged #1815, which fixes an error where signIn and confirmSignIn callbacks would sometimes not be called. That resolves #1686, but will not address the race condition we believe is at the heart of this issue.

We'll update this issue when we hav

[2019-08-25 17:40] palpatim commented on #1814
Code 2 is `AWSS3TransferUtilityErrorClientError`, which can be thrown in a number of cases during the upload flow. Inspecting the `userInfo` dictionary returned with the error should give more information about the underlying cause. It seems like you may be using the TransferUtility integration test as a basis for error reporting, but that test only reports the `Error` key of the `userInfo` object

[2019-08-25 17:46] palpatim commented on #1816
There are many cases where one might encounter a `AWSCognitoIdentityErrorUnknown` code. The `userInfo` object of the returned error may contain more detail that will help troubleshoot the issue. Can you post the contents of that dictionary?

Also, please see our [Cognito UserPools Sample App](https://github.com/awslabs/aws-sdk-ios-samples/tree/master/CognitoYourUserPools-Sample/Swift) for an examp

[2019-08-25 17:49] palpatim commented on #1225
New PR is https://github.com/aws-amplify/docs/pull/865

[2019-08-25 17:52] palpatim commented on #1378
@rohit3d2003 We have made a number of improvements in mutation handling in the intervening time since you filed this issue. Is this still occurring on the latest SDK?

[2019-08-25 18:08] palpatim commented on #1740
@cjmartin Thanks for the clarification. The issue we're wrestling with is that the AppSync programming model is very much geared toward using the code-generated objects all up and down the chain. Adding special case logic to the serializer for just that object type makes me uncomfortable.

And wouldn't really be the right solution in 100% of the cases; it's conceivable that some app may actually *

[2019-08-25 18:14] palpatim commented on #1308
@coreybrown89 Please open an issue on the [JS repo](https://github.com/aws-amplify/amplify-js/issues) -- that team will have much more experience dealing with issues on that platform.

[2019-08-25 18:14] #1308 closed

[2019-08-25 19:39] jasonbobier commented on #1717
It works for me now. Thanks

Jason

[2019-08-25 22:47] jamesatfish commented on #1505
Thanks @palpatim - we have prepared an app update using 2.10.3 and I will update this issue thread once the release has been in the wild for a week or so.

Thanks again for helping get this issue resolved.

[2019-08-26 03:43] Pumpkin-SweetPotato commented on #1742
I've researched a little and I think this exception is caused because attempt to cancel tasks while download tasks are adding

So do I need to cancel tasks when tasks are all added ?

[2019-08-26 04:20] martaGonz opened #1820 "Failed to authenticate request. Error: notSignedIn(message: "User is not signed in, please sign in to use this API.")"
**State your question**

Is it possible to make a query of a dynamoDB table as a guest user? I keep getting this error.

Just in case I repeated the process where I allow unauthenticated logins on "amplify update auth".

**Which AWS Services are you utilizing?**
AppSync, DynamoDB

**Provide code snippets (if applicable)**

[code]

**Environment:**
 - SDK Version: [e.g. 2.6.29]
 - Dependency Manage

[2019-08-26 07:02] Pumpkin-SweetPotato commented on #1742
I could prevent this issue using DispatchGroup..

[2019-08-26 07:45] romeoflute opened #1821 "AWSS3TransferUtility error: Error Domain=kCFErrorDomainCFNetwork Code=310"
**State your question**
I downloaded the sample SWift iOS project for AWSS3TransferUtility from https://github.com/awslabs/aws-sdk-ios-samples/tree/master/S3TransferUtility-Sample/Swift and followed all the outlined steps to use S3TransferUtility to upload an image to s3, running it in Xcode 10.3, with Swift 5, to an iOS 12.4 simulator. The project though resulted in an error. The steps in the pro

[2019-08-26 09:01] Ramkumartr commented on #1814
It was working fine with AWSS3TransferManager.
The issue is now fixed. I have changed  tuConf.isAccelerateModeEnabled = true
 to false.

[2019-08-26 17:12] romeoflute commented on #1821
@palpatim thanks a lot for your reply. I could not remember the exact choices as per the options but  I checked and saw that both Auth and NonAuth roles have these:

{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": [
                "s3:PutObject",
                "s3:GetObject"
            ],
            "Resource": [
                "arn:aws:s3:::mys3bucketname/p

[2019-08-27 09:37] romeoflute commented on #1821
Hello sir Tim, @palpatim. I'm shifting from calling s3transferutility to upload a file to using a complex type with s3object reference. I have this code in the appDelegate of an iOS Swift app that instantiates appSyncClient but the problem is the s3objectmanager is nil when I upload a file. Since I am using User Pools, I learned that the proper way to initialize appSyncClient is this way:

[code]

[2019-08-27 09:58] Pumpkin-SweetPotato commented on #1742
@palpatim Thank you for your answer

First, I create a TransferUtility for every task but the each task download files about 40 ~ 80, Isn't a proper way ?, Should I Handle tasks with one TransferUtility ?

And I updated version of SDK to 2.10.3 but it still occurs below error

[code]

[2019-08-27 15:32] romeoflute opened #1823 "Integrating S3ObjectManager in AppSync Initialization: For User Pools"
**State your question**
How to include instance of S3ObjectManager during AppSync initialization using this initialization:

[code]

**Which AWS Services are you utilizing?**
Amplify to scaffold the project: amplify init, amplify push, amplify add auth, amplify push, amplify add storage, amplify push

Authenticated Role:
[code]

AppSync to upload an image s3object attribute to S3 such as below:

[

[2019-08-28 03:47] martaGonz commented on #1820
Yes, is AppSync, I am new on this and is the first time I use AWS.

Do you recommend that I use API Key authorization instead of Cognito? The app has user accounts so this is why I thought it is best to use Cognito. Once the user logins I can do the query, but I also want to let guest users to see some data.

The app is a social network so some data is private(user account) and some is public (pos

[2019-08-28 08:09] phanchutoan commented on #1691
Any update for this?

[2019-08-28 16:54] #1739 closed

[2019-08-28 19:54] #1732 closed

[2019-08-28 21:13] stevensanborn commented on #1224
just turn off wifi, and try and make a transfer download and completion hander never fires with an error. Yet outputs with :
`Task <7A7D0A7A-2936-40D1-BD68-CB77B2EFF7A3>.<1> finished with error - code: -1009`
`load failed with error Error Domain=NSURLErrorDomain Code=-1009 "The Internet connection appears to be offline." UserInfo={_kCFStreamErrorCodeKey=50, NSUnderlyingError=0x2830efa80 {Error Dom

[2019-08-29 11:13] ramoliahardik opened #1825 "Crash in AWSTask.m - [AWSTask continueWithExecutor:successBlock:cancellationToken:]"
**To Reproduce**
The crash is intermittent, I grab it from users' crash logs.

**Which AWS service(s) are affected?**
AWSCore

**Expected behavior**
The application should not crash.

**Environment(please complete the following information):**
 - SDK Version: 2.9.3
 - Dependency Manager: Cocoapods
 - Swift Version : 4.2

**Device Information (please complete the following information):**
 - Device

[2019-08-29 16:11] palpatim commented on #1158
Additional customer request:

When an automatic token refresh encounters a situation where the user must sign in (e.g., the refresh token has expired), if there is no UI delegate assigned [sic--it's unclear exactly what is meant by this or how we would detect it], do not wait and ask for a sign-in flow, but rather return an error. This could be accomplished by a configuration option to suppress th

[2019-08-29 22:34] vin047 commented on #1669
I'm experiencing this same issue but with Federated sign-in instead of Cognito User pools.

`AWSMobileClient.sharedInstance().initialize` gives UserState as `signedIn`, but when using TransferUtility to download a file, `AWSMobileClient.sharedInstance().addUserStateListener` gives UserState as `signedOutFederatedTokensInvalid`.

After I get the `signedOutFederatedTokensInvalid`, I invoke `AWSMobil

[2019-08-30 01:11] lawmicha commented on #1224
hi @stevensanborn here's what I found regarding "turn off wifi, try to make transfer download and completion handler never fire with an error"

Setup
- I am running the sample app https://github.com/awslabs/aws-sdk-ios-samples/tree/master/S3TransferUtility-Sample/Swift
-  added extra code for uploadDataUsingMultiPart, and AWSS3TransferUtilityConfiguration.timeoutIntervalForResource set to 30 secon

[2019-08-30 04:21] ObjCjoe opened #1827 "Cannot iOS Archive: AWS framework - library not found for -lAWSS3"
- Xcode 10.3, using Objective C
- AWS-IOS-SDK-2.10.3
- Frameworks SDK method

I added SDK Framework (AWSS3, AWSCore, AWSCognito) using this:
https://aws-amplify.github.io/docs/ios/manualsetup

RUN and BUILD works fine, so app runs on devices and simulator.
But when I try to ARCHIVE, I get error:

ld: library not found for -lAWSS3
clang: error: linker command failed with exit code 1 (use -v to see

[2019-08-30 07:34] pablogeek commented on #1224
@lawmicha thanks for the details. I'm also using `configuration?.timeoutIntervalForResource = 30`
I use multipart upload because we normally upload big files. I can easily reproduce with multipart uploads but no with non multipart.

[2019-08-30 16:19] Mahaswami commented on #1809
We too are stuck due to this. This is likely will impact our decision to use Amplify JS moving forward. Ultimately Amplify is meant to encourage use of more services from AWS without friction and hence more revenue for AWS.

Having committed a development path using Amplify, for something as important as this and clearly indicated by Apple in June itself as requirement, we should not be chasing AW

[2019-08-30 16:42] lawmicha commented on #1224
@pablogeek can you reiterate on the repro steps again?

version of SDK?
how large is a typical file size you are testing with?
on device/simulator?
actions you took? used network conditioning at which step of the process?
and any logs and code snippet will be helpful

[2019-08-30 17:39] jdrobert opened #1828 "Setting tokens after Google login"
**Which AWS Services are you utilizing?**
Cognito

**Environment:**
 - SDK Version: 2.9.10
 - Dependency Manager: Cocoapods
 - Swift Version : 5.0

**Device Information:**
 - Device: iPhone XS
 - iOS Version: iOS 12.3.1
 - Specific to simulators: No

I'm confused about how to link the `id_token` and `access_token` I get back when calling `/oauth2/token`.

I'm using the hosted login to prompt the u

[2019-08-30 18:19] Dellybro opened #1829 "AWSMobileClient is signed in does not equal actual value"
**Describe the bug**

After calling AWSMobileClient.sharedInstance().signIn(....), AWSMobileClient.sharedInstance.isLoggedIn / isSignedIn, is equal to false.

**To Reproduce**
Steps to reproduce the behavior:

Create a new iOS project, add AWSMobileClient, create a new user, and signin, then call AWSMobileClient.sharedInstance.isLoggedIn.

**Which AWS service(s) are affected?**

AWSMobileClient

*

[2019-08-30 20:59] stevensanborn commented on #1224
@lawmicha

Yes looking back at the samepl you are correct. When i formatted the download request just like the sample  i did get a proper completion handler call back . I believe i originally had the code:

[code]

and then i converted to:

[code]

[2019-08-31 00:01] Skifcha commented on #1669
@royjit Hey, I'll check on Monday and let you know.

[2019-08-31 00:09] Skifcha commented on #1669
@royjit yep, it's the same as @vin047 said. So different states are (kinda) fine, but callback from `getAWSCredentials` in my case is never called - that's the real issue. Eeven if I get valid state from `login state listener` method, the only way to fix frozen response from `getAWSCredentials` is to completely sigh out and and sign in again.

[2019-08-31 19:35] vin047 commented on #1669
Some more info to add:

1. `initialize` and `addUserStateListener` return different states (`signedIn` and `signedOutFederatedTokensInvalid`). This causes the SDK to refresh the tokens when a service is accessed - if they were the same (e.g. both `signedOutFederatedTokensInvalid`) the listener would not be fired, meaning the logic to call sign-in again would not work. I'm not sure if this behaviou

[2019-09-01 06:27] slootzky commented on #1777
Hey,
although my app is React-Native, I think we can ignore this because issue is pure native (IMHO).
I finally hunted down the issue and managed to reproduce it easily.
Issue shows up whenever there's Branch.io and AWSCore in the same project.
I've created a new example app to reproduce it (simple swift ios app and added branch via npm).
instructions are in the ReadMe

[app](https://github.com/sl

[2019-09-01 08:08] martaGonz opened #1830 "Video file uploaded as a 0 byte file in S3 after converted from .mov to .mp4"
UPDATE:  it was a mistake in my code. Transferutility works great. I couldn't find where to delete this. Sorry!

**Describe the bug**

Transferutility uploads 0 byte files after I converted them from .MOV to .MP4. (Content type changed from movie/quicktime to video/mp4).
I don't know if this is a bug or I am doing something wrong.

**Which AWS service(s) are affected?**
AWSS3TransferUtility, S3

*

[2019-09-01 08:12] Dereex commented on #1045
In my case i just enter password from my mac and press allow always

[2019-09-01 15:14] adamdabbracci commented on #1154
@minbi @nikhil-dabhade Is there any plan to update the client to meet OIDC standards? At this point, the access_token generated from this client does **not work** against the userinfo endpoint, as we cannot use all of the **standard** OIDC scopes.

[2019-09-02 08:19] deter3 commented on #1669
I installed amplify auth , removed and reinstalled . I came across "Failed to authenticate request. Error: notSignedIn(message: \"User is not signed in, please sign in to use this API" when AWSMobileClient.sharedInstance().isSignedIn says the state is true . But my cognito is empty  and  AWSMobileClient.sharedInstance().identityId is nil .

My solution is

`if AWSMobileClient.sharedInstance().isSi

[2019-09-02 15:05] #1225 closed

[2019-09-02 17:05] #1814 closed

[2019-09-02 20:51] sykhan88 opened #1833 "Need to resolve AWSCore version dependency for AWSAppSync and AWSMobileClient"
**Describe the bug**
I want to install AWSAppSync and AWSMobileClient, both of which depend on different versions of the AWSCore. How can I resolve this conflict in the AWSCore version dependency so that I can install both AWSAppSync and AWSMobileClient

**To Reproduce**
I am trying to install the following pods:
- pod 'AWSAppSync', '~> 2.12.0'
- pod 'AWSMobileClient', '~> 2.10.0'

However, AWSApp

[2019-09-03 09:44] thomers commented on #1314
Thank you @royjit !

[2019-09-03 12:16] #1830 closed

[2019-09-03 14:17] bfallon opened #1835 "AWS iOS SDK closure not called"
**Describe the bug**
Using the latest iOS SDK (2.10.3), there are two functions where the closure is not called:

• AWSMobileClient.sharedInstance().getTokens({ (tokens, error) in ...

• AWSMobileClient.sharedInstance().signIn(username: email, password: password) { (signInResult, error) in …

**To Reproduce**
Steps to reproduce the behavior:
Unfortunately, this is not easy to reproduce. We were ab

[2019-09-03 19:55] royjit commented on #1835
Thank you for reporting this issue. Could you be able to provide more details on when this issue is happening? Is this happening when the app has been running for a while or just in the fresh install itself?
What kind of logs are you referring to?

[2019-09-03 20:16] royjit commented on #1829
Hi, this issue should be addressed in this [PR #1822](https://github.com/aws-amplify/aws-sdk-ios/pull/1822). This will be available in the next release.

[2019-09-03 20:18] Dellybro commented on #1829
What's the status on this release? Currently i'm using a timeout function so it's fine until the release, but also on a side note this happens on both React native and the react aws amplify packages.

[2019-09-03 20:33] royjit commented on #1833
Hi, @sykhan88  thanks for reaching out. Looks like a documentation issue, we will update it. In the mean time could you try this:
[code]

[2019-09-03 21:28] royjit commented on #1515
Hi, Thank you for reporting this issue. Could you please provide us the steps you  performed. Did you call `getSession` on the user?

[2019-09-03 21:40] semerda commented on #1581
Is there any update on this issue from AWS team? @minbi ?

[2019-09-03 21:41] royjit commented on #1410
Hi, When refresh token expires the SDK will call `startPasswordAuthentication`, here you have to return an object that conforms to `AWSCognitoIdentityPasswordAuthentication` protocol.

SDK then will invoke `getPasswordAuthenticationDetails` method on the object. Please verify that you have this logic in place. [Ref Cognito Doc](https://docs.aws.amazon.com/cognito/latest/developerguide/using-amazon

[2019-09-03 21:42] sykhan88 commented on #1833
Hi @royjit . Same issue again. AWSAppSync is reliant on AWSCore (~> 2.9.0) where is the AWSMobileclient on AWSCore (= 2.10.1). Error is as follows:
[code]

[2019-09-03 21:51] bfallon commented on #1835
We are using cocoalumberjack for logging. It seems to happen after the app is running for a long time and the token expires. In the logs it finally started working again as expected after 7 hours.

[2019-09-03 22:15] royjit commented on #1495
Hi @N1LaT  Apologies for the delayed response.

I tried to replicate the issue and I am not able to reproduce the issue. Could you please provide us the following details:

1. Are you using the same user name for signUp and signIn operation?
2. Were you trying to login using the email address?
3. What settings you have enabled under the section "How do you want your end users to sign in?" in your

[2019-09-03 23:29] royjit commented on #1833
I have the following podfile and it worked for me:

[code]
Could you please try clearing the pods cache and then try a `pod update`.

[2019-09-04 14:43] jpelayo opened #1837 "SwiftUI login success completionHandler not being triggered"
How can be the outcome of a successful login trigger events in the ContentView?

Better said, **can AWS provide a sample Cognito/MobileHub+Cognito implementation for SwiftUI?**

_(Xcode 11 Beta 7 for ios 13 iPhone Xs simulator - using cocoa pods)._

I have included the UIViewController provided as a sample by AWS inside a UIViewControllerRepresentable that is correctly launched over the UINavigati

[2019-09-04 17:39] royjit commented on #1773
Hi, thank you for reaching out. Do you have `awsconfiguration.json` in your project? The above error occurs when AWSMobileClient doesnot have a valid credentialProvider.

[2019-09-04 17:59] royjit commented on #1532
Hi @Nookaraju Can you provide more information about your use case so that we can try to reproduce the same behavior? It be great if you can share some code sample on how you are invoking the api. Also, could you share your Cognito settings.

[2019-09-04 20:47] palpatim commented on #1691
## Background

There are two basic issues here:

1. Depending on the timing of the initial invocation, all but one of the requests may fail
1. Subsequent to at least one successful call to retrieve credentials, calls do not read the credentials from memory, but instead read from the keychain each time, as reported in #1554. For a network call, this amounts to a latency on the order of 10ms for a s

[2019-09-05 01:20] WilliamKatz commented on #1045
In my case, I built the project without the script running first.  And then re-enabled the script and it worked.

This was the cause of a lot of frustration.

Carthage method, btw

[2019-09-05 12:37] sykhan88 commented on #1773
Hi, I do have an awsconfiguration.json in my project which looks like the following:
[code]
A blank awsconfiguration.json file was created when i initialised amplify. Then i manually added the CredentialsProvider section as seen above where xxxx is part of my pool id from the console. i have added the .json file to my iOS project. Am i missing anything in my awsconfiguration file?

[2019-09-05 13:33] sykhan88 commented on #1833
Thanks @royjit . Removing cache and using ```pod update``` did the trick. Why is this the case? Is it worth clearing cache and doing pod update periodically?

[2019-09-05 14:35] jdrobert commented on #1828
Can I get some help with this, please?

[2019-09-05 15:13] palpatim commented on #1691
#1678 does appear to fix the issue, and we have a fix pending the next release. No firm ETA on it, but we're actively working on resolving the last blocking issues.

[2019-09-05 15:18] palpatim commented on #1554
Regarding the original issue of slow presigned URL generation on app restart: #1678 does appear to fix the issue, and we have a fix pending the next release. No firm ETA on it, but we're actively working on resolving the last blocking issues.

Regarding the second issue of expiring credentials--this is expected behavior. The system would require a credential refresh before proceeding. In the discu

[2019-09-05 15:36] marcabrera opened #1838 "Getting no result with Textract in iOS"
**State your question**
I'm trying to extract some text from a JPEG image using Textract converting it into bytes. I have set up all the configuration with Cognito and it is working, but when I try to create a request to detect text I keep getting this result

`<AWSTask: 0x6000033ee680; completed = NO; cancelled = NO; faulted = NO;>`

Am I doing something wrong?

**Which AWS Services are you utili

[2019-09-05 17:22] royjit commented on #1838
Hi @marcabrera Thank you for reaching out. detectDocumentText is an asynchronous operation. You have to assign callback block to get the response as shown below:

[code]

[2019-09-05 21:53] #1828 closed

[2019-09-06 00:19] royjit commented on #1833
Frankly I do not know much about the internals of pods. More details about pods can be found here - https://guides.cocoapods.org/. `pod update` tries to get the updated version from the package without looking into `Podfile.lock`, which might have done the trick for you.

[2019-09-06 06:33] hatjs880328s opened #1842 "AWSS3TransferManager upload success but use AWSS3TransferUtility fail"
**Describe the bug**
use AWSS3 sdk
when i upload  a file to my own server , use AWSS3TransferManager  success....
but use AWSS3TransferUtility  fail
config  have no difference.

i saw  'AWSS3TransferManager' request-header have something.
'AWSS3TransferUtility' request-header have no , but url is long.

**To Reproduce**
Steps to reproduce the behavior:
Like the Describe the bug

**Which AWS servic

[2019-09-06 10:23] marcabrera commented on #1838
Thank you for your quick answer. I did that but I just keep getting this response
`Should not produce error: Optional(Error Domain=com.amazonaws.AWSTextractErrorDomain Code=10 "(null)" UserInfo={__type=ProvisionedThroughputExceededException, Message=Provisioned rate exceeded})`
It happens since I have updated the code, so I assume no images have been uploaded.

Also, reading the documentation it s

[2019-09-06 16:48] royjit commented on #1842
Hi, Thank you for reaching out. Could you please share the code sample that you use for both `AWS3TransferManager` and `AWSS3TransferUtility`?

Also, do you get any error message when it fails?

[2019-09-06 18:24] royjit commented on #1318
Hi @thomers, Apologies for the delayed response.
Looks like this [api call](https://docs.aws.amazon.com/cognitoidentity/latest/APIReference/API_GetCredentialsForIdentity.html) is failing with your current setup. Could you please provide us with the following info:
1. Do you have authRole setup in your IdentityProvider console?
1. Are you using `awsconfiguration.json` file to configure the SDK?

[2019-09-06 18:38] royjit commented on #1248
Closing this issue since we are tracking the sub issues in the related github issues (#1686 #1711 ). The original posted issue is tracked here #1686  and is waiting release.

[2019-09-06 18:38] #1248 closed

[2019-09-06 19:23] royjit commented on #1700
This should be solved in the [PR #1822](https://github.com/aws-amplify/aws-sdk-ios/pull/1822).

[2019-09-06 19:38] royjit commented on #1495
Are you trying to use an email to signIn for an unconfirmed user?

If you have signed up a user with `username` and gave `email` as user attribute, you will get `userNotConfirmed` if you signIn with `username` and `password` and you will get `userNotFound` if you signIn with `email` and `password`.

We are actively working on this to see if we can provide appropriate error message in both cases. W

[2019-09-06 19:59] lawmicha commented on #1513
hi @jeffjvick, here are some of my findings

So I was able to reproduce the issue with these steps
1. On device, connected to the debugger, using sample app
2. Select an image and begin upload with transferUtility.uploadData()
3. Watch progressHandler gets fired a couple of times
4. Press the the home button, the progress handler stops firing after a second or so
5. Regardless whether I keep the a

[2019-09-06 20:01] royjit commented on #1773
Did you override ` AWSInfo.defaultAWSInfo.defaultCognitoCredentialsProvider` to some value?  Make sure that `AWSMobileClient.sharedInstance().initialize` is the first thing you do in your app, so that all configurations are setup correctly.

Also, can you check if `AWSInfo.defaultAWSInfo.defaultCognitoCredentialsProvider` is not nil after initializing AWSMobileClient.

[2019-09-06 22:51] royjit commented on #1724
Hi @dpachecols Thank you for reaching out. Could you please provide us some information about your setup.
1. What identity provider are you using?
2. When you call signOut, does it shows a webpage?

[2019-09-06 23:26] royjit commented on #1469
Hi @johnmurphy01 Thank you for reporting this issue. I have raised a PR #1844  to handle this.

[2019-09-07 00:02] lawmicha commented on #1513
TransferUtility is using Background Transfer Service and this describes the problem quite well https://forums.developer.apple.com/thread/77666

The thread contains a workaround, eskimo on Dec 21, 2018:

[2019-09-07 00:22] lawmicha opened #1845 "[TransferUtility] Changing intValue to longLongValue for upload and download paths"
Opening this issue because i think we need another change for https://github.com/aws-amplify/aws-sdk-ios/pull/1836 and that is merged already. The PR only covers multipart upload flow.
Should close this issue out after some investigation on longLongValue, then to decide whether we need make the according change in all progress reporting functionality (upload/download)

[2019-09-07 02:19] hatjs880328s commented on #1842
@objc class IIAWSCore: NSObject {

    /// key
    fileprivate let iiawsKey: String = ""

    var credentialProvider: AWSBasicSessionCredentialsProvider!

    var config: AWSServiceConfiguration!

    var tuConf: AWSS3TransferUtilityConfiguration = AWSS3TransferUtilityConfiguration()

    @objc public func registerIIAWS(uploadInfo: AwsUploadFile) {

        //tuConf.isAccelerateModeEnabled = true

[2019-09-07 02:20] hatjs880328s commented on #1842
2 Classes , first is progress the manager & utility config

last is use them upload a file ...

[2019-09-07 15:07] royjit commented on #1838
As per [here](https://docs.aws.amazon.com/textract/latest/dg/API_DetectDocumentText.html) it looks like you have reached your limit of allowed request.

[code]

[2019-09-08 03:28] royjit commented on #1597
Hi @alexliuxe Apologies for the delayed response. SHA256 produces a 256 bit result. When we do a base64 on this the 256bits, it will be chunked into 6 bits group ie `256/6 = 42.6666666667` and with padding this will go to 44.

Please reach out to us if you are facing any issue or have any other question with using our SDKs.

[2019-09-08 06:46] meyumeapps commented on #1603
Another vote for an updated pod please with support for macCatalyst

[2019-09-09 03:00] guigons commented on #1045
reboot my MAC works for me! Thanks!

[2019-09-09 06:48] #1833 closed

[2019-09-09 07:23] sykhan88 commented on #1773
All the code that i have put in above to describe the issue is in my AppDelagate.swift. That is all the code i currently have in my AppDelegate. I haven't overridden ```AWSInfo.defaultAWSInfo.defaultCognitoCredentialsProvider``` to some value. Since I am calling ``` AWSMobileClient.sharedInstance().initialize``` in my AppDelagate, is it early enough?

 I am however calling the ```AWSMobileClient.s

[2019-09-09 10:34] RajSingh007 opened #1847 "uploading speed issue in ios"
AWSS3TransferUtility uploading file speed is very slow. When I upload an image of 1 mb it takes almost 12-15 second to upload and 5mb image takes more than a minute. The region is us-east-2. Please help I am stuck.
This is how I use AWSS3TransferUtility

        let name = "\(Int(Date().timeIntervalSince1970))\(String.randomString(length: 8))\(file.contentType == .image ? ".jpeg" : ".mp4")"

[2019-09-09 16:58] drochetti commented on #861
Hi @Foefirelord,

First of all, thanks for providing such detailed report for this issue and your patience. I've been investigating it and created an app from scratch with Pinpoint configured in order to isolate the issue and reproduce it.

I was not able to repro the exact issue you described *yet*. When following the steps on [iOS Analytics](https://aws-amplify.github.io/docs/ios/analytics) I wa

[2019-09-09 20:07] royjit commented on #1583
Hi, apologies for the delayed response.
@Foefirelord `AWSMobileClient.sharedInstance().interceptApplication()` is deprecated and will be removed in the next release.
@rromanchuk Yes, you can use the SDK without using `AWSMobileClient` if you prefer to use so.

[2019-09-09 22:04] desokroshan commented on #1847
@RajSingh007 Thanks for reaching out. Can you please provide following details :

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.29]
 - Dependency Manager: [e.g. Cocoapods, Carthage]
 - Swift Version : [e.g. 4.0]

**Device Information (please complete the following information):**
 - Device: [e.g. iPhone6, Simulator]
 - iOS Version: [e.g. iOS 11.4]
 - Specifi

[2019-09-10 03:50] palpatim commented on #1649
We released this in https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0

Please let us know if you have any problems with this feature.

[2019-09-10 05:17] RajSingh007 commented on #1847
**@desokroshan**
SDK Version: [Using AWSCore (2.10.3), Using AWSS3 (2.10.3)]
Dependency Manager: [Cocoapods]
Swift Version : [4.2]

**Device information**
I tested from iPhone 6 to iPhone x and same in the simulator
iOS Version 11.4 and above

**Additional context**
Some times uploading start after 5-10 seconds when I press the upload button and also there is no delay.

[2019-09-10 08:57] dimpiax commented on #1120
The same error here today:
`[NetworkInfo] Signal strength query returned error: Error Domain=NSPOSIXErrorDomain Code=13 "Permission denied", descriptor: <CTServiceDescriptor 0x280d7ad80, domain=1, instance=2>`

[2019-09-10 10:01] marcabrera commented on #1838
Yes, that is what it seems. Weird because I didn't upload any images yet due to the past issue

[2019-09-10 13:50] palpatim commented on #1680
We released this in https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0

[2019-09-10 13:51] palpatim commented on #1686
We released this in https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0

Please let us know if you have any problems with this feature.

[2019-09-10 13:52] dpachecols commented on #1724
Hi @royjit thank you for taking my request.
1.-  Is a SAML external provider, Microsoft ADFS, SAML 2.0
2.- Yes, it redirect to safari web page but the page is always blank and then redirect back to the app. After the singOut, the user state changes successfully to logged out but then when I try to login again the redirect page does not ask for the user, it automatically login with the past user.

[2019-09-10 13:54] palpatim commented on #1691
We released this in https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0

Please let us know if you have any problems with this feature.

[2019-09-10 13:56] palpatim commented on #1554
We released the fix for this in https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0

Thanks for the callout and the initial suggestion!

[2019-09-10 13:58] palpatim commented on #1469
We released this in https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0

Please let us know if you have any problems with this.

[2019-09-10 13:58] palpatim commented on #1512
We released this in https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0

Please let us know if you have any problems with this.

[2019-09-10 13:59] palpatim commented on #1314
We released this in https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0

Please let us know if you have any problems with this.

[2019-09-10 13:59] palpatim commented on #1700
We released this in https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0

Please let us know if you have any problems with this.

[2019-09-10 14:01] palpatim commented on #1575
We released a fix for some of the surrounding issues in https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0

As noted, the underlying condition still exists, but overall, AWSMobileClient should be more stable.

[2019-09-10 16:41] royjit commented on #1829
We released this in https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0
Please let us know if you have any problems with this.

[2019-09-10 16:46] royjit commented on #1519
We did some fixes around getIdentity, this would potential fix your issue. We released this in https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0

Could you please try the new SDK and see if that fixes your issue?

[2019-09-10 16:54] bolak2 commented on #1519
Hey royjit, thats great to hear! I was able to fix the issue on my end in amplify 2.9. The trick was to include S3TransferUtility in the awsconfiguration file:

[code]
This solved the refresh access token issue.

[2019-09-10 17:22] Dellybro commented on #1829
@royjit

I have just tested this morning removing the 0.5s timer i used to wait for the credentials to sync, and it worked!

Thank you, also the rest of the updates are awesome to!

[2019-09-10 17:24] jeffjvick commented on #1512
Thanks @palpatim, I will try this out this evening.

[2019-09-11 12:28] SeanSith opened #1850 "STS Role Assumption in AWS Console iOS Application"
**Which AWS Services is the feature request for?**
AWS Console iOS Application (and potentially Android)

**Is your feature request related to a problem? Please describe.**
Our company (agency-style contract development) makes extensive use of Organizations for segmenting our customers' AWS infrastructure. As we do ongoing support for these customers, we need to perform operations in other account

[2019-09-11 14:36] RajSingh007 commented on #1847
@desokroshan
now I am using acceleration for uploading data

        let credentialsProvider = AWSCognitoCredentialsProvider( regionType: .USEast2,
                                                                 identityPoolId: poolID)
        let configuration = AWSServiceConfiguration(region:.USEast2, credentialsProvider:credentialsProvider)

        // Configuration
        configuration?.time

[2019-09-11 16:02] lilianafma opened #1851 "pintpont aws services issus"
Rencently I had a problem with email campaing using pintpoint aws service. Within the message I used Message variables like {{User.UserAttributes.name}} but the users received the email with blank spaces.
I checked: the segments headers are ok , the message variables in the email template are ok too so  Any idea about what could had happened?

[2019-09-11 16:39] royjit commented on #1829
Thank you @Dellybro for verifying the fix.
 I am closing this. Feel free to reach out if you face any other issue.

[2019-09-11 16:39] #1829 closed

[2019-09-11 17:09] benkraus commented on #1777
We are experiencing a similar issue. We can't use the `amplify-js` package, as it doesn't support client secrets. Thus, we use the native iOS SDK which does.

However, when using both the native iOS SDK and the Branch library, conflicts arise as both copy some of the Fabric headers.

Here's a related issue: https://github.com/aws-amplify/aws-sdk-ios/issues/351

Our workaround was to turn on the le

[2019-09-11 17:10] benkraus commented on #1777
(@slootzky have you tried enabling the legacy build system?)

[2019-09-11 17:12] benkraus commented on #1777
I would also call out that this would also be an issue in a standard native app, not localized to a React Native app. So "use the amplify js lib" wouldn't solve anything here.

[2019-09-11 20:59] #1847 closed

[2019-09-12 01:09] happasquared opened #1852 "AWSS3TransferUtility.default().downloadData downloads error message without throwing exception"
AWS S3 2.11

AWSS3TransferUtility.default().downloadData() doesn't throw any exception if access to the s3 bucket/key is denied.

Instead, it downloads the message as the target object data, such that the download appears to be successful.

This forces me to check explicitly if the data is in fact the data i was looking for, or just some error message from the the backend.

[2019-09-12 07:20] jeffjvick commented on #1512
@lawmicha @palpatim
Hi, I tested 2.11.0 and confirmed that your PR behaves in the same manner as the changes I suggested.  Thanks for integrating this into the project.

[2019-09-12 07:20] #1512 closed

[2019-09-12 07:46] jeffjvick commented on #1513
@lawmicha
Have you done any tests to see if this workaround helps?  I quickr tried the following and did not see a change but I'm not sure AWSTasks are the same:

[code]

[2019-09-13 03:36] martaGonz opened #1853 "AWSCloudFront not working in iOS?"
**Describe the question**
I am using AWS CloudFront to play videos hosted in my S3 bucket.  I am following AWS team suggestion of changing the video url from S3 to CloudFront since the app has many videos. However this is not working on the app, I am not sure what I am missing here.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new CloudFront Distribution
2. Put the video URL on t

[2019-09-13 08:36] hatjs880328s commented on #1842
@royjit royjit

[2019-09-13 17:11] royjit commented on #1548
We made few bug fixes related to identityId in the last iOS release of the SDK,  https://github.com/aws-amplify/aws-sdk-ios/releases/2.11.0. Could you please check if the issue still exists with the updated SDK.

Please let us know if you have any problems with this.

[2019-09-13 17:17] royjit commented on #1519
Glad to hear that it fixed your issue. Did you use https://aws-amplify.github.io/docs/ios/storage for setting up storage for your project?

[2019-09-13 17:30] royjit commented on #1521
Hi @allanweir If you have initialized AWSMobileClient, the credential provider should be created for you by default. And you can go with default configuration like you did to modify timeout and retries.

Please let us know if you face any other issue with the SDK.

[2019-09-13 18:05] royjit commented on #1835
Just trying to understand the behavior here. The SDK stop working for 7 hours and then it starts to work? Do you have to signIn back again to fix this?

The token expires after sometime, and the callback for service calls will wait till the token is refreshed. So the callback will wait till this happens, but this shouldnt take 7 hours.

Also, we have made a few bug fixes related to identityId and

[2019-09-13 18:30] lawmicha commented on #1224
@pablogeek this issue may have some out dated repro steps since it's been so long, can you provide the latest more details on the scenario you are doing? This will help me focus on the issue that you are seeing exactly because right now I would have to try and identity variations of the usability for multipart upload hoping to get a repro.

Another suggestion is we can set up some sort of shared s

[2019-09-13 18:52] lawmicha commented on #1581
@alejouribesanchez @semerda , sorry the behavior of the large default timeoutIntervalForResource caused such a confusion on the usability of the transfer utility. we will take this issue into consideration when choosing better default values, as the purpose of it is cover the most common use cases for the developers. It sounds like you are able to get the completion handler invoked on network issu

[2019-09-13 19:50] lawmicha commented on #1312
@modibhaviks thanks for letting us know the approach you taking to have the completionHandler called for cancelled task which also have an error. To summarize the feature request, as a developer i want to be able to be notified of the completion of a cancelled task through a callback mechanism so that I can control the outcome of a failed cancellation.

Another note, I don't think the error that i

[2019-09-13 20:15] #1399 closed

[2019-09-13 20:55] royjit commented on #1304
Hi @JLau-cy apologies for the delayed response.

You do not have to call `AWSCognitoIdentityCustomChallengeDetails.task.continueOnSuccessWith`. You just need to set the result on AWSCognitoIdentityCustomChallengeDetails object. SDK will take care of the rest. When the custom auth completes you will get a call back on `didCompleteStepWithError`. If `error` object is nil, that means the step succeed

[2019-09-13 21:09] royjit commented on #1626
Closing as duplicate issue #1516

[2019-09-13 21:09] #1626 closed

[2019-09-13 21:18] royjit commented on #1774
Hi @sykhan88 Please follow the guide given [here](https://aws-amplify.github.io/docs/ios/authentication#developer-authenticated-identities-with-cognito-identity). I think you are mixing two ways of doing the same thing.

Basically you just need to initialize `AWSMobileClient` and then pass the token that you get from authentication to `AWSMobileClient.sharedInstance().federatedSignIn`. After this

[2019-09-13 22:14] lawmicha commented on #1513
hi @jeffjvick , thanks for trying to test the workaround, I gave it a shot and here's what i found
- setup: on sample app, on device, with network conditioning set to 3g to slow down the transfers (device's settings app->developer->network link conditioner ON -> 3g)

option 1. using AWSTask.sessionTask.resume()

You are right that the AWSTasks are not the same as in the workaround, underneath they

[2019-09-14 01:06] jweg29 commented on #1615
@rohandubal  @kvasukib @cbommas is there any timeline on this? Swift 5 and Xcode 10.2 have been out for months now.  Xcode 11 with Swift 5.1 will be officially released next week which will make your binaries even more out of date. You should either support specifying individual AWS frameworks in Carthage or keep your prebuilt binaries reasonably up to date, but forcing every developer to deal wit

[2019-09-14 01:48] JiaLeXian opened #1854 "JSQMessagesViewController Deprecated"
JSQMessagesViewController used in Lex swift example is Deprecated

[2019-09-14 09:43] james-ff commented on #1615
I've had to reluctantly switch to cocoapods because of this. Can't understand why you can target individual packages in Pods but not in Carthage.

[2019-09-15 04:23] #1597 closed

[2019-09-15 13:28] happasquared commented on #1852
Figured it out! Sorry, I didn't understand it correctly!

[2019-09-15 13:28] #1852 closed

[2019-09-16 07:58] slootzky commented on #1777
@benkraus yeah , tried to enable legacy build and it didn't help.
eventually - upgrading branch.io version to v3.1.1 solved the issue for me.

[2019-09-16 13:48] FMJobr commented on #1809
@palpatim Any updates on this due to the upcoming iOS 13 release this week?

[2019-09-16 14:59] JesusMartinAlonso opened #1858 "Cannot update to version 2.11.0 using cocoapods"
**Describe the bug**
I have tried to update AWS dependencies to the latest version (`2.11.0`) but I receive the following error when I execute `pod install` command

[code]

I have printed the `AWSAppSync` pod spec dependency and it depends on a old version of `AWSCore` (`2.10.2`). This seems to be the problem. It has been reported also on #1812

**To Reproduce**
Steps to reproduce the behavior:
1

[2019-09-16 17:33] palpatim commented on #1858
@JesusMartinAlonso Thanks for pointing this out, we neglected to update the AppSync SDK when we released 2.11.0 last week. https://github.com/awslabs/aws-mobile-appsync-sdk-ios/pull/296 should fix that

[2019-09-16 19:35] palpatim commented on #1858
Sorry about the premature close: I forgot that GH closes issues that are referenced as "Fixes".

We are releasing this now.

[2019-09-16 19:51] desokroshan commented on #1850
@SeanSith Thanks for reaching out. I will investigate into this and get back to you.

[2019-09-16 19:52] desokroshan commented on #1851
@lilianafma Thanks for reaching out. Can you share more details about the SDK you are using such as version number, relevant code snippet etc.

[2019-09-16 19:54] desokroshan commented on #1853
@martaGonz Can you please let us know what SDKs and what version are you using in your iOS app? Also can you share relevant code snippets?

[2019-09-16 19:55] desokroshan commented on #1854
@CathyXian Thanks for bringing this up. We will look into updating the sample app.

[2019-09-16 19:56] sykhan88 commented on #1774
What two ways are you referring to? I have followed the mentioned guide, however it doesn't lend enough detail. I have tried for a few days without success. Does the federatedSignIn method use the openID connect token generated by Cognito? **Can you please provide further detail on how to retrieve the token?** My above trial of retrieving the token has failed.

[2019-09-16 20:04] sarahcec commented on #1809
Hi all, I'm the PM for Amazon Cognito, which is the service that Amplify uses to provide authentication. Thanks for the feedback. We're glad that you're excited about implementing Sign In with Apple. We're excited too. We are working with Apple closely to make sure that Amazon Cognito customers will have this feature available before Apple requires it in April 2020.

[2019-09-16 20:24] #1583 closed

[2019-09-16 20:33] markmckim commented on #1809
Hi @sarahcec, the April 2020 date is for existing apps. Apple are requiring Sign in with Apple to be implemented for new apps already:

https://developer.apple.com/news/?id=09122019b

This will prevent developers (myself included) from being able to submit my app to App Store until April.

I can’t wait this long and will have to look at alternatives to Cognito unless AWS can bring this date substa

[2019-09-16 21:32] palpatim commented on #1858
This was released on https://github.com/awslabs/aws-mobile-appsync-sdk-ios/releases/tag/2.14.2

Please let us know if you have any problems

[2019-09-16 21:43] Mahaswami commented on #1809
@markmckim  and all, here is also something confusing about Apple's submission guideline language.

Basically there are three possibilities here:

1. An App implements their own Sign In only (no social or third party)
2. An App Implements social/third party only (nothing on their own)
3. A mix of #1 and #2

What Apple says is that "Apps that **exclusively** use a third-party or social login servic

[2019-09-16 22:16] behrooziAWS commented on #1774
For these steps:

    // 1. Write code to call your backend:
    // 2. pass username/password to backend or some sort of token to authenticate user, if successful,
    // 3. from backend call getOpenIdTokenForDeveloperIdentity with logins map containing "your.provider.name":"enduser.username"

You need to actually have a backend you are calling.  [GetOpenIdTokenForDeveloperCredentials](https://doc

[2019-09-16 22:28] Foefirelord commented on #1809
The bullet points that follow seem to counter the "exclusively" wording, so it's just confusing all around.

Definitely need clarification both from Apple on who will be forced to implement Apple Sign-in and from AWS on how soon we'll be able to implement it within the confines of AWS Amplify/Cognito.

[2019-09-16 22:38] Foefirelord commented on #861
@drochetti I'm afraid I don't have time right now to provide code or much more info on top of what I've already provided.

The short of it is that we implemented AWS Amplify authentication via AWSMobileClient and the code in the Analytics section for Pinpoint analytics, but that wasn't enough to allow all analytics features to function properly, as the SDK was throwing errors about being unable to

[2019-09-16 23:54] palpatim commented on #1853
@martaGonz To expand somewhat on @desokroshan's comment: this repo is specifically for the AWS SDK for iOS, which would encompass usage of the AWSS3 SDK and the AWSTransferUtility, but not general usage questions. General questions about using CloudFront resources in an iOS would be more appropriate on the [AWS CloudFront Forum](https://forums.aws.amazon.com/forum.jspa?forumID=46).

[2019-09-16 23:56] palpatim commented on #1851
@lilianafma To expand somewhat on @desokroshan's comment: this repo is specifically for the AWS SDK for iOS, which would encompass usage of the AWSPinpoint SDK, but not general usage questions such as emails from the service. General questions about using Pinpoint would be more appropriate on the [AWS Pinpoint Forum](https://forums.aws.amazon.com/forum.jspa?forumID=225).

[2019-09-17 00:07] palpatim commented on #1850
@SeanSith This repo is specifically for the AWS SDK for iOS, which would encompass usage of the STS SDK in your app, but not the AWS Console mobile app or website. Feedback and feature requests for those products would be better sent through their respective "Contact" or "Support" links.

[2019-09-17 00:37] SeanSith commented on #1850
I agree. However,[ I am working as directed](https://twitter.com/AWSSupport/status/1171688241109639168), and I didn't see one when I went looking the other day.

[2019-09-17 01:11] martaGonz commented on #1853
Hi!

The problem was that I was using the url as "http://". The video worked after I used "https://" instead.

SDKs I am using:

AWSAppSync (2.14.1)
AWSAuthCore (2.10.3)
AWSAuthUI (2.10.3)
AWSCognitoIdentityProvider (2.10.3)
AWSCognitoIdentityProviderASF (1.0.1)
AWSCore (2.10.3)
AWSMobileClient (2.10.3)
AWSS3 (2.10.3)
AWSUserPoolsSignIn (2.10.3)

And the code for creating the url's and playing the

[2019-09-17 06:41] JesusMartinAlonso commented on #1858
Working! Thanks

[2019-09-17 06:41] #1858 closed

[2019-09-17 07:18] phanchutoan commented on #1554
Thanks you @palpatim. It seem working fine now after update.

[2019-09-17 07:18] #1554 closed

[2019-09-17 14:00] SeanSith commented on #1850
Either way, in playing around with the application this morning, I found "Switch role" in the application menu, which seems to do what I was asking. It's either a welcome addition or my fault for not paying more attention (far more likely). Sorry for the trouble.

[2019-09-17 14:00] #1850 closed

[2019-09-17 20:01] palpatim commented on #1853
I'm glad to hear you were able to resolve the issue. I'm going to close this issue, but if you encounter a problem using the SDK, please feel free to open a new one.

[2019-09-17 20:01] #1853 closed

[2019-09-17 20:57] palpatim commented on #1842
@hatjs880328s What error message are you receiving?

[2019-09-17 21:28] palpatim commented on #1777
@slootzky Thanks for confirming that upgrading to the latest version of branch.io solved your issue.

[2019-09-17 21:36] palpatim commented on #975
We released the ability to configure AWSMobileClient via object in 2.11.0. Please let us know if you have any issues with this.

[2019-09-17 21:47] #1410 closed

[2019-09-18 16:14] palpatim opened #1861 "Allow Pinpoint targeting client to update user attributes"
See https://github.com/aws-amplify/aws-sdk-android/issues/1207 for the Android equivalent feature request.

---

The `targetingClient`'s `updateEndpoint` flows do not expose the ability to update UserAttributes, which is supported by the Pinpoint [UpdateEndpoint](https://docs.aws.amazon.com/pinpoint/latest/apireference/apps-application-id-endpoints-endpoint-id.html#UpdateEndpoint) operation.

Thes

[2019-09-18 21:35] sykhan88 commented on #1774
How do you mean, I don't have a backend? I am using [FB AccountKit](https://developers.facebook.com/docs/accountkit/ios) as my backend for user passwordless authentication. The user is successfully able to login using either email address or phone number. This is quite straightforward and i have followed the approach [here](https://medium.com/flawless-app-stories/facebook-account-kit-using-swift-1

[2019-09-19 01:24] lawmicha commented on #1513
A task has been created in our internal task tracking tool regarding this issue

[2019-09-19 03:29] elGuille opened #1862 "Deprecated API Usage - Apple will stop accepting submissions of apps that use UIWebView APIs"
**Describe the bug**
I have received the following warning from App Store Connect:

**To Reproduce**
Steps to reproduce the behavior:
1. Look for UIWebView inside your project
Only the following folders use them on my app:
Bolts, FBSDKCoreKit and FBSDKLoginKit

**Which AWS service(s) are affected?**
AWSFacebookSignin

**Expected behavior**
No warning from App Store Connect.
Probably migrating to W

[2019-09-19 08:10] VGudenko commented on #1733
Hi here!
@palpatim any updates on this issue?
it is not possible for us to use the SDK with this bug.
When do you plan to have a fix?

[2019-09-19 12:04] JesusMartinAlonso commented on #1733
Hi @VitaliiHudenko. I submitted a Pull Request #1734 that solves the issue.

If you use cocoapods you can use my solution until the AWS team approve it:
[code]

[2019-09-19 15:11] palpatim commented on #1862
This would be fixed by #1397

[2019-09-19 15:53] timwhunt commented on #1774
Hi sykhan88,
behrooziAWS was explaining that you need to have your own "backend" to call GetOpenIdTokenForDeveloperCredentials. That is, you need to have an environment (e.g., on Amazon EC2 or Lambda) from which you can call GetOpenIdTokenForDeveloperCredentials using AWS credentials (i.e., for an AWS IAM user). That call to GetOpenIdTokenForDeveloperCredentials must be authenticated with your AWS

[2019-09-19 16:02] palpatim commented on #1862
Tagged this as a "Duplicate", but I'm leaving it open since it increases the urgency of #1397.

[2019-09-19 17:13] royjit commented on #1495
Looks like this is the intended behavior of Cognito User pool. If you configure a user pool with usernames and also allow users to sign in with email addresses (and/or phone numbers), the email (or phone) can only be used to sign in once it has been verified. The email/phone becomes an active "alias" for the user once it is verified.

Because of this limitation that an unverified email/phone can't

[2019-09-19 17:13] #1495 closed

[2019-09-19 21:34] xC0der opened #1926 "PinPoint Push Notification Endpoint Address issue with iOS 13.0"
**Describe the bug**
It appears that Endpoint addresses are being saved incorrectly on iOS 13.  The CLI shows that they are being saved as follows:
`"Address": "{length=32,bytes=0xbffe8061069c0eee935443596bdaeaa3...7aeb1d152cb856d0}"
`

instead of the following on iOS 12:
`"Address": "ff37d7e6a223f0014d5409de0b42ffeb16e3059dedcb425b2546f1ada14cd71d",`

The above are both from the same version of t

[2019-09-19 21:59] palpatim commented on #1926
@xC0der Thanks for the report and the investigation. Looks like we'll need to change the way the address is serialized into the payload.

[2019-09-19 22:36] palpatim commented on #1926
Looks like the problem is how we convert from NSData to string. In https://github.com/aws-amplify/aws-sdk-ios/blob/master/AWSPinpoint/AWSPinpointEndpointProfile.m#L67, we use `description` to retrieve a hexadecimal representation of the bytes, and then do some string manipulation:

[code]

The `description` behavior changed in iOS 13:

[code]

We'll need to convert the bytes directly or use a purp

[2019-09-20 00:08] palpatim commented on #1926
We've put in a fix for this on #1928, which we're reviewing and testing now. Assuming all goes well, we'll plan on releasing this tomorrow with 2.11.1.

In the meantime, you can use the PR as a patch; or wait for it to be merged into the `master` branch and build from that.

Thanks again for finding & troubleshooting the issue--it saved a lot of time on our end!

[2019-09-20 00:15] xC0der commented on #1926
Awesome turnaround time - thanks!

[2019-09-20 01:39] awumsuri commented on #1603
Please update

[2019-09-20 06:48] jeffjvick commented on #1513
@lawmicha I tested out option 2 for multi-part uploads on a modified version of AWSS3 sample app I have been using for testing these issues and it appears to band-aid the problem.  I have not had a chance to test in our real app yet as it has been a while since we touched that part of the code but I will try to get to it soon.  This is promising however as a workaround as it is simple to implement

[2019-09-20 17:11] #1515 closed

[2019-09-20 17:43] lawmicha commented on #1513
Thanks for trying it out @jeffjvick

Yes this is the plan we have in our backlog, one option we have internally is that we can directly resume them without having to pause the tasks. I think the workaround will work by resuming just one task (as mentioned in the Apple forums link), which is something we need to test as well.

[2019-09-20 18:04] palpatim commented on #1926
This was released on https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.11.1. Please let us know if you have any problems.

[2019-09-20 18:12] xC0der commented on #1926
I just finished testing, and can confirm that it does now store the token properly on iOS 13 and push notifications are successful.  Thanks again!

Response from the CLI below:
`{
    "EndpointsResponse": {
        "Item": [
            {
                "Address": "5cd3b73d6a5ec0f56a8ce5361583cebe6ad67eec14f57f5b04f7d03396c76eed",
                "ApplicationId": "99f506c7dd954d6883b738ad020f5364

[2019-09-20 18:12] #1926 closed

[2019-09-20 18:14] palpatim commented on #1926
Thanks for confirming!

[2019-09-20 21:51] kirilstrax opened #1930 "Clear authentication on re-installation / upgrade"
**State your question**
Currently, if user is signed in, and then uninstalls and then reinstalls the app (or upgrades to next version of the app), previous authentication remains valid (user is still signed in after uninstallation/reinstallation or upgrade). Is it possible to cause AWS to "forget" the user on uninstallation / reinstallation or upgrade?

**Which AWS Services are you utilizing?**
Co

[2019-09-21 11:08] martaGonz commented on #1862
Following. I understand we have to wait for an update of the SDKs to get this fixed, right? Can we do something else in the meantime? like deleting the pods with uiwebviews: Bolts, FBSDKCoreKit and FBSDKLoginKit

[2019-09-22 19:05] palpatim commented on #1930
@kirilstrax AWSMobileClient doesn't offer a feature for detecting installation/reinstallation, and it's relatively uncommon for customers to want to clear authentication during an app upgrade. You could accomplish this in your app code by keeping track of an "installation check" in the UserDefaults. Since UserDefaults are deleted when the app is deleted, that would not be present during an uninsta

[2019-09-22 19:15] palpatim commented on #1862
The AWSFacebookSignIn code relies on those SDKs, so if your app uses Facebook sign in, you'll need to keep them in place. As noted in the linked issue (#1397) the latest FB SDK introduced some unexpected API changes that we have to figure out how to work with before we can upgrade.

[2019-09-23 07:46] xerxses opened #1933 "AWSS3TransferUtility download bug"
**Describe the bug**
If I want use default AWSS3TransferUtility. I have a problem with downloading files which I downloaded from AWS, remove them and repeat download in one session. I think problem in NSURLSession. I resolve it with reinitialise service, but it should have other way.

**To Reproduce**
1. Download files
2. Remove it locally
3. Repeat downloading
4. Error "load failed with error Err

[2019-09-23 14:15] kirilstrax commented on #1930
The authentication is clearly preserved during uninstallation and reinstallation scenario. I can reproduce it like this:
- Install application and sign in
- Uninstall application by long hold on app-> click X
- Install the app (same version) ==> still signed in
Is this unusual behavior? what could be a reason for that?
(we are not managing any authentication data outside AWS SDK)

[2019-09-23 14:28] sub96 opened #1934 "Closure not called on login"
Describe the bug**
Using the latest iOS SDK (2.10.3), there is a function where the closure is not called:

`AWSMobileClient.sharedInstance().showSignIn(navigationController:nav, signInUIOptions: config) { (userState, error) in …`

To Reproduce**
Steps to reproduce the behaviour:
When a user registers a new account, he gets an email with a temporary password that he needs to login with.
Upon login

[2019-09-23 14:41] palpatim commented on #1930
@kirilstrax Re-reading my above response, I realize I wasn't very clear in my initial explanation. Basically, what you're seeing is expected behavior based on the current design and implementation of the SDK.

Please see below for a hopefully clearer explanation, and sorry for the confusion:

---

@kirilstrax

Regarding your two cases:
1. Uninstall/reinstall: AWSMobileClient doesn't offer a featur

[2019-09-23 14:46] palpatim commented on #1933
@xerxses Off the top of my head, I believe we do rely on the OS to cache downloads as appropriate, so that if the service reports the content hasn't changed and the cache hasn't expired, we would expect the OS to return the cached resource rather than attempt a re-download. It may be that by removing the local file, you're subverting that behavior by removing the resource the OS wants to return.

[2019-09-23 14:48] #1930 closed

[2019-09-23 14:48] palpatim commented on #1934
@sub96 The latest SDK is actually 2.11.1, and we fixed several errors in the Authentication area, including missing callbacks, in 2.11.0. Can you reproduce this issue in the latest SDK?

[2019-09-23 20:03] royjit commented on #1291
Hi @zhang-bo-lilly Apologies for the delayed response. Are you still facing this issue? If yes, what error are you seeing for the Archive failure?

[2019-09-23 20:13] royjit commented on #1607
HI @18638597928 Apologies for the delayed response.
Could you please provide more details on the error? Not sure what the variable `a` in your code sample points to.
Are you trying to use AWSConnectService? Please provide details:

**Which AWS service(s) are affected?**

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.29]
 - Dependency Manager: [e.g. Cocoapods

[2019-09-23 20:21] royjit commented on #1504
`CognitoSDK` for iOS does not support this. You need to have a delegate. If you are using `AWSMobileClient` for signing in the user, you can get the token by `AWSMobileClient.getToken` as explained (here)[https://aws-amplify.github.io/docs/ios/authentication#managing-security-tokens]

[2019-09-23 20:53] w0mba7 commented on #1615
+1

[2019-09-23 23:22] oahhariri opened #1936 "Subscription suffers delay when receiving new Data"
**Describe the bug**
Subscription suffer Delay when receiving new data after the Subscription starts and then wait for new data for some time (in my case 15+ minutes). then whenever new data is send to the Subscription ,it get delayed for 2-10 minutes

Note:
-subscription status show Connected and no errors
-All subscriptions are started from Singleton class

**To Reproduce**
1- Start subscription