[2021-02-01 01:34] lawmicha commented on #2355
Hi @ChrisInspect,

I don't believe the SDK provides a method to sign the request and connect to the websocket, so you will have to roll your own, I got this working using Foundation Websocket and the `AWSSignatureV4Signer`.

I have a Websocket API from API Gateway, with auth type set to IAM, Cognito Identity Pool with unauth access, and unauth access to connect to the API Gateway.

**Signing the r

[2021-02-01 01:42] lawmicha commented on #2355
Thanks for sharing this @ChrisInspect. I think it would be better to use token auth over IAM signing but I haven't tried this myself, it should be along the lines of
- Adding new Cognito UserPool Authorizer in the Websocket API Gateway
- Updating the auth type of the `$connect` route to use the new Authorizer
- In the App, sign in with AWSMobileClient, and retrieve the `idToken`
- Add the `idToken

[2021-02-01 05:10] abildgaard commented on #3033
@palpatim very happy to see XCFramework release.

Sadly when we use the 2.22.1 XCFramework our app crashes with the following error message:

Fatal error: Use of unimplemented initializer 'init()' for class 'AWSMobileClientXCF.SignInUIOptions'

This happens when either of the following calls are made after we have initialized the AWSMobileClient:

import AWSMobileClientXCF
...
mobileClient = AWSMo

[2021-02-01 08:45] stevenkramer commented on #2355
@lawmicha my approach is similar (the last three steps seem to be identical), except that I validate the token with a lambda instead of going through Cognito - which I didn't know was even possible. The lambda code validates the token's validity date/issuer/etc using some common libraries.

[2021-02-01 10:55] mregnauld commented on #313
So, any update on this?
I personally need the support for:

- API Gateway
- Cognito
- S3

[2021-02-01 14:29] bsarrazin commented on #313
AppSync is what our team needs this for...
https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/288

[2021-02-01 20:13] abildgaard commented on #3033
@palpatim very happy to see XCFramework release.

Sadly when we use the 2.22.1 XCFramework our app crashes with the following error message:

**Fatal error: Use of unimplemented initializer 'init()' for class 'AWSMobileClientXCF.SignInUIOptions'**

This happens when the mobileClient.showSignIn() call is made after we have initialized the AWSMobileClient:

import AWSMobileClientXCF
...
mobileClient

[2021-02-03 13:40] VishnuNCS commented on #894
Any Update on this issue

[2021-02-03 16:19] royjit commented on #3141
We have created a PR [here](https://github.com/aws-amplify/amplify-ios/pull/1037) with the change that uses ASWebAuthenticationSession. Will update once it is released.

[2021-02-03 20:46] abildgaard opened #3410 "XCFramework 2.22.1 - iOS app crashes with error: "Use of unimplemented initializer 'init()' for class 'AWSMobileClientXCF.SignInUIOptions' ""
**Describe the bug**
Our IOS app crashes when using the XCFramework 2.22.1 release (downloaded as XCFrameworks).

We use AWSMobileClient(configuration: ...) to initialize our AWS mobile client and the app crashes when invoking the AWSMobileClient function showSignIn(...) -- when we want it to show a web login to authenticate our users.

_This does not happen for the same code when we use the 2.22.

[2021-02-04 16:53] royjit commented on #3410
We are investigating this issue and this PR should fix it - https://github.com/aws-amplify/aws-sdk-ios/pull/3411. In the mean time you might be able to work around the crash by invoking hostedUI using a dummy `SignInUIOptions`:

[code]

[2021-02-04 17:03] lawmicha opened #3412 "AWSLocation model updates replaces existing podspec source_files"
this is a bit of a concern as we have manually modified the podspec to expose the high level AWSLocationTracker client, and the model updates are removing this change

_Originally posted by @lawmicha in https://github.com/aws-amplify/aws-sdk-ios/pull/3405#r570386116_

[2021-02-04 22:23] abildgaard commented on #3410
Latest release version (2.22.2) works with my testing - thanks for the fast turnaround!

[2021-02-04 22:23] #3410 closed

[2021-02-05 16:14] palpatim commented on #2513
Thanks for your patience as we investigated the issues and potential solutions for this issue. I want to describe both the current state of Sign In With Apple (SIWA) support in AWS Mobile SDK for iOS (and by extension, Amplify for iOS), and describe options for supporting SIWA in your apps.

## Cognito support of Sign In With Apple

The AWS Mobile SDK for iOS and Amplify iOS library (from now on,

[2021-02-05 16:40] HiLittlePiper opened #3420 "How to get HLS URL with AWSKinesisVideoArchivedMedia"
Hello everyone:

I want to use AWSKinesisVideoArchivedMedia to fetch the HLS URL of Video Stream, but it will return the error below:

**error	Error?	domain: "com.amazonaws.AWSKinesisVideoArchivedMediaErrorDomain" - code: 7	0x0000000282044990

[1]	(null)	"NSLocalizedFailureReason" : "ResourceNotFoundException:https://kinesisvideo.amazonaws.com/doc/2017-09-30/"**

but actual web client can get the

[2021-02-05 16:54] palpatim commented on #3033
https://github.com/aws-amplify/aws-sdk-ios/issues/3410 closed by https://github.com/aws-amplify/aws-sdk-ios/issues/3033.

I'm optimistically closing this issue since we haven't heard any other issues on this. Please feel free to open a new issue with details if you have problems with the XCFrameworks distributions.

[2021-02-05 16:54] #3033 closed

[2021-02-05 17:32] royjit commented on #3141
Hi,

Thank you for the patience while we were working on this. We have upgraded hostedUI to use ASWebAuthenticationSession and the changes are released in - https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.22.0

We have added new apis for supporting `ASWebAuthenticationSession` :

[code]

You can enable private session by setting the flag `signInPrivateSession` in `HostedUIOptions`:

[cod

[2021-02-05 17:35] pedrofspinho commented on #3141
Hi royjit,

Just confirming that when we call logout we will no longer see the same popup as login. Is this correct?

Thank you,
Pedro

[2021-02-05 17:40] allanweir commented on #2513
Hi Tim,
Thanks for all that! It’s all really useful and great to know how it all stands. We won’t get chance immediately, but we’ll investigate the custom server side authentication option using identity pools and will report back. Thanks again for looking into it and all the detail

[2021-02-05 17:40] doc-rj-celltrak commented on #3141
@royjit Does this resolve all 3 issues in the issue description above?  Also, can you explain a private session? What's the purpose of it?

[2021-02-05 18:17] saravr commented on #2755
@palpatim I am using Amplify 1.5.0. Where do I configure the timeout / retries for sign In/sign up etc?
I tried setting it like below

        let credentialsProvider = AWSCognitoCredentialsProvider(regionType: .USWest2, identityPoolId: Constants.IDENTITY_POOL_ID)
        configuration = AWSServiceConfiguration(region: .USWest2, credentialsProvider: credentialsProvider)
        configuration.allow

[2021-02-06 21:17] rromanchuk commented on #3385
@fantapop i use `AWSS3TransferUtility` extensively  in similar fashion.  Clients are granted access via authenticated _and_ unauthenticated federated identity pools, with IAM roles for each, that are responsible granting appropriate permissions for direct-to-bucket accelerated s3 uploads.

For the "authenticated" role, I have created a `DeveloperAuthenticatedIdentityProvider` which handles the fet

[2021-02-06 22:14] rromanchuk commented on #3385
Sounds like the limitation is just do to Role chaining.   Here's pseudo code of how i'm doing it.

### Backend, ruby client sdk, ec2-instance IAM role

[code]

### Ios client

[code]

[code]

More chatter on expiration depending who is granting the creds https://stackoverflow.com/a/57792699/775762

[2021-02-07 08:33] mikeper031 opened #3423 "MQTT reconnect in background getIdentityRef error: -25308"
Hi. We are experiencing connection issues using the IotDataManager mqtt API  in the following circumstances

1. connect the app to IOT using **iotDataManager.connect(...)** when app in foreground - success publish/subscribe
2. issue disconnect after a while when app is in foreground
3. issue a connection after a while when the app is in background using **iotDataManager.connect(...)** i get the er

[2021-02-08 09:07] saravr opened #3425 "How to set timeout and maximum retry in AWSCognitoIdentityUser?"
**State your question**

How to change retry and timeout values for signin/up operations with AWS Cognito Identity module?

**Which AWS Services are you utilizing?**

Cognito, S3, IAM, CloudFront, etc.

**Provide code snippets (if applicable)**

I tried setting it like below

    let credentialsProvider = AWSCognitoCredentialsProvider(regionType: .USWest2, identityPoolId: Constants.IDENTITY_POOL_I

[2021-02-08 15:42] p4checo commented on #313
👋
Thanks for looking into this! On our side, we're using:
- AWSCognito
- AWSKinesis

[2021-02-08 17:23] #3412 closed

[2021-02-08 17:38] doc-rj-celltrak commented on #3141
Hi @royjit I'm using the new APIs for ASWebAuthenticationSession, and I'm setting signInPrivateSession to true. However, when I sign out with the new API, I'm still getting the permission popup. I'm including a screenshot (please disregard the yellow color). Can you help? Thanks.

![Simulator Screen Shot - iPhone 12 Pro Max - 2021-02-08 at 11 33 52](https://user-images.githubusercontent.com/551098

[2021-02-08 20:37] palpatim commented on #3005
@EdGonzalez- As of 2.22.2, we are distributing the binary frameworks as XCFrameworks. Can you try with this version and see if you still see the issue?

[2021-02-08 20:48] royjit commented on #3141
@pedrofspinho  SignOut popup will not be shown if you signIn via private session and then do a local signOut during the signOut. Explained below with code samples.

@doc-rj-celltrak  Yes, the three issues can be addressed if you use privateSession during signIn and then just do a local only signOut. Private session sets the `prefersEphemeralWebBrowserSession` field of [ASWebAuthenticationSession](

[2021-02-08 20:58] #3169 closed

[2021-02-08 22:03] james-mallory commented on #3141
@royjit I found this issue while researching the same desired behavior in a react-native app. What is the best way for me to know when https://github.com/aws-amplify/amplify-js gets updated with these changes?

[2021-02-09 00:31] royjit commented on #3350
Closing this issue because of inactivity, feel free to reach back to us if you have any other questions.

[2021-02-09 00:31] #3350 closed

[2021-02-09 01:43] danquack opened #3429 "AWSCognito Cocoapods not updated to 2.22"
**Describe the bug**
A clear and concise description of what the bug is. Please be as detailed as possible and help us help you.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://cocoapods.org/pods/AWSCognito https://github.com/CocoaPods/Specs/tree/master/Specs/7/9/a/AWSCognito

**Observed Behavior**
The latest available is 2.19.1

**Expected Behavior**
2.22.2 Should be in line w

[2021-02-09 01:45] danquack commented on #3429
/label cognito

[2021-02-09 11:28] nick3389 commented on #3328
Any news about this? I also use AWS SDK for uploading to S3 and certificate pinning would be very useful...

[2021-02-09 15:03] mregnauld commented on #1357
I don't understand why that thread is closed, since that problem is still here, almost 2 years later...

[2021-02-09 15:45] palpatim commented on #3429
@danquack The AWSCognito SDK was [deprecated in December 2018](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.8.0), and we [stopped distributing it in December 2020](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.20.0).

[2021-02-09 15:45] #3429 closed

[2021-02-09 17:50] dmiluski opened #3430 "Invalid archive - Found multiple frameworks with the same unarchiving destination"
**Describe the bug**

Unable to install latest 2.2.2, using Carthage 0.37.0.
`Invalid archive - Found multiple frameworks with the same unarchiving destination`

While we use Carthage cache to speed up CI builds (~9 min), each dependency update due to the large size of AWS SDK items can push CI build time well over an hour (90+ min causing failures). I was seeing if this was a known issue? Or if o

[2021-02-09 18:04] royjit commented on #3187
We have added support for XCFramework in AWS SDK for iOS 2.22.1, please follow the steps here to use xcframework - https://github.com/aws-amplify/aws-sdk-ios#setup. I am optimistically closing this issue, feel free to reach out if you are facing any issue.

[2021-02-09 18:04] #3187 closed

[2021-02-09 18:13] tylerjames opened #3431 "AWSMobileClient returning same error (notAuthorized) in different scenarios. How are we to differentiate?"
**State your question**
I'm using a native experience for sign in and I'd like to add some reliable error handling. However I'm running into some issues with the API that make it difficult to do so. They are the following:

1. The `AWSMobileClientError` enum is roughly 40 items long. The documentation for something like `AWSMobileClient.signIn()` doesn't state which errors could be thrown so we're

[2021-02-09 19:14] ruiguoamz commented on #3380
Hi @chehodgins

I couldn't have it reproduced. Can you share with us more information?
Like how do you configure your IoT Endpoint? how do you create IAM role? something like that

[2021-02-09 19:44] joeboyscout04 opened #3432 "Update Facebook SDK to version 9.x"
**Which AWS Services is the feature request for?**
AWSFacebookSignIn, Cognito, AWSMobileClient

**Is your feature request related to a problem? Please describe.**
The `AWSFacebookSignIn` portion of the AWS SDK is currently locked to version 8.0.0 of `FBSDKCoreKit`/`FBSDKLoginKit` in Cocoapods.  (See #2944 ).

Facebook recently released version 9.0 of their SDK and deprecated version 8.0 and below.

[2021-02-09 22:01] sungwonshinn commented on #2146
For those experiencing the error code 34 (AWSMobileClientError.userNoFound,)  the error occurs when:

1. A user is signed in once. AWSMobileClient will cache the refresh token in the keychain.
2. The user's account in the user pool gets deleted. The cached refresh token in the keychain is now invalid because the account is deleted, but AWSMobileClient.initialize and isSignedIn will still return tr

[2021-02-10 01:40] bumbleparrot commented on #2513
@palpatim Thanks for the update and clear explanation as to what is going on and the options available.

For my app, it seems reasonable to just let the user re-sign in with FaceID or TouchID for now.

[2021-02-10 03:05] kingsofteng commented on #2886
This is still happening with
Amplify 1.5.2
AWSAuthCore 2.21.1
...

@palpatim Can you check and reopen this issue?

[2021-02-10 04:57] royjit commented on #3430
Looks like carthage archive is not supported in the latest Carthage which is used to create the prebuilt zip file. Raised an issue in Carthage repo to get more information - https://github.com/Carthage/Carthage/issues/3130.

[2021-02-10 15:05] royjit commented on #3263
I am optimistically closing this issue due to inactivity. Feel free to reach back if you have any other question.

[2021-02-10 15:05] #3263 closed

[2021-02-10 17:55] royjit commented on #3141
@james-mallory Feel free to create a Github issue in the JS repo and link this issue there.

[2021-02-10 19:38] dmiluski commented on #3430
Thanks @royjit , I'm following along the in flight Pr for support https://github.com/Carthage/Carthage/pull/3123

Hoping to bring our initial CI build times down soon

[2021-02-10 19:56] doc-rj-celltrak commented on #3141
@samrayner and/or @royjit I still have issue #1 (can't fully sign out when offline) in Android. Do you know if there is an Android equivalent solution to this issue? Thanks.

[2021-02-10 21:30] royjit commented on #3432
@joeboyscout04 Thank you for bringing this to our notice.

Concerns regarding adding the new SDK:

1. This looks like a breaking change from the release notes Facebook has removed Auto Initialization of SDK.

2. We might need to provide an api to adjust "Limited" login. mode.

Created a draft PR - https://github.com/aws-amplify/aws-sdk-ios/pull/3433

[2021-02-11 07:56] serkandemirhan commented on #2383
We are experiencing the same problem.Is there any update about it?

[2021-02-11 09:19] ppave opened #3435 "federatedSignIn always returns `signIn`state"
I've set up project using `amplify add auth`. Successfully checked guest users appeared in Cognito Identity Pool. After I have enabled my OpenID Authentication provider in Identity Pool settings.

I've tried the following scenarios:
1. No guest users allowed, no custom identity providers allowed
2. Guest users allowed, no  custom identity providers allowed
3. Guest users allowed, custom identity p

[2021-02-11 10:07] axelguilmin opened #3436 "Segmentation Fault on Xcode 12.5"
**Describe the bug**
I can not build a project using AWSS3 pod with **Xcode 12.5**, the compiler crashes

**To Reproduce**
Use the method [`AWSS3TransferUtility.enumerateToAssignBlocksForUploadTask:downloadTask:`](https://aws-amplify.github.io/aws-sdk-ios/docs/reference/AWSS3/Classes/AWSS3TransferUtility.html#/c:objc(cs)AWSS3TransferUtility(im)enumerateToAssignBlocksForUploadTask:downloadTask:) an

[2021-02-11 21:43] afern247 commented on #2978
I don't understand how this is not available in macOS as well... We are moving towards cross-platform, when we build an app it's not only for web or mobile but for desktop as well., is there any ETA?

[2021-02-12 02:59] royjit commented on #3435
Closing this as duplicate - https://github.com/aws-amplify/aws-sdk-ios/issues/1307. We will update the [ticket 1307](https://github.com/aws-amplify/aws-sdk-ios/issues/1307) when we have more info.

[2021-02-12 02:59] #3435 closed

[2021-02-12 03:06] royjit commented on #3141
@doc-rj-celltrak I am not sure about how Android logic works, please raise an issue in Android repo - https://github.com/aws-amplify/aws-sdk-android

[2021-02-12 03:26] royjit commented on #1579
We have added support for xcframework from 2.22.1 - https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.22.1. Please take a look with the latest SDK and let us know if the issue still exists. I am optimistically closing this issue since there has been no activity for a long time.

[2021-02-12 03:26] #1579 closed

[2021-02-12 15:33] palpatim commented on #3436
Can you clarify a few things?

- Just to be very clear: if you remove the code you listed above, do you no longer see the segmentation fault during the build?
- Does this happen on Xcode 12.4?
- We've seen similar behaviors in the past related to Swift's type inference getting lost. Are you able to work around the issue by providing explicit type signatures for your closure?

[2021-02-12 17:05] doc-rj-celltrak commented on #3141
Thanks @royjit I raised the issue in aws-sdk-android -- https://github.com/aws-amplify/aws-sdk-android/issues/2359

[2021-02-12 18:22] palpatim commented on #1809
We've posted a [summary of Cognito support of Sign In With Apple](https://github.com/aws-amplify/aws-sdk-ios/issues/2513#issuecomment-774130422) that outlines options for both User Pools and Federated Identities. We are closing this issue since we do support SIWA for Federated Identities/Cognito Identity Pools. If you have other questions or concerns, please feel free to open a new issue and refer

[2021-02-12 18:22] #1809 closed

[2021-02-14 15:36] axelguilmin commented on #3436
Hi @palpatim

Exactly

No, it only happens on Xcode 12.5. I updated the issue with these details :)

I tried
[code]
And still got a segmentation fault. Then with the following code :
[code]
Xcode shows another Error : `Type of expression is ambiguous without more context`, so I tried adding the complete type :
[code]
And got the same segmentation fault as before 😢

[2021-02-15 11:32] mudilajaganios commented on #3141
I just updated my cocoapod for Amplify. I am seeing the version 1.5.0. When will be the 1.6.0 version available in Cocoapods

[2021-02-15 17:13] palpatim commented on #3141
@mudilajaganios 1.6.0 has been available since 4-Feb. Please make sure you update your pods with `pod update` rather than installing them with `pod install`. (Although if you do a `pod install --repo-update`, you can get the same behavior.)

[2021-02-15 21:11] bumbleparrot commented on #2513
@palpatim , a bit of clarity here:

In what state from the AWSMobileClient.default().currentUserState would I know that I need to refresh the Google Token?

If i call This method from the GoogleSignIn pod GIDSignIn.sharedInstance()?.currentUser.authentication.refreshToken I get a refresh token.

Do I submit that the refresh token from the GIDSignIn to AWSMobileClient somehow?

[2021-02-15 21:32] palpatim commented on #3141
@mudilajaganios Please open a different issue for this, since it's not really related to the HostedUI problem. That will let us track your problem separately.

[2021-02-15 21:32] #3141 closed

[2021-02-15 22:41] palpatim commented on #2633
Please see https://github.com/aws-amplify/aws-sdk-ios/issues/2513#issuecomment-774130422 for a discussion of the current state of Cognito support for Sign In With Apple. Please feel free to comment there if there are any outstanding questions about Cognito & SIWA.

As @BillBunting noted, his change in https://github.com/aws-amplify/aws-sdk-ios/pull/3308 also exposes the credential for the initial

[2021-02-15 22:41] #2633 closed

[2021-02-15 22:48] palpatim commented on #2513
You would detect that you needed to refresh tokens when the [AWSMobileClient state change listener](https://docs.amplify.aws/sdk/auth/how-it-works/q/platform/ios#state-tracking) reports `signedOutFederatedTokensInvalid`. At that point, you’d use your refresh token to request new tokens **from Google**, and pass the new identity token to Cognito to get refreshed credentials.

If you have any other

[2021-02-16 07:15] qqskda commented on #2014
In case anyone still has some issue with retrieving the identity properly due to the code structure you have.

It seems like function calls such as Amplify.API.query ensures that you retrieve the identity before it queries - because you have to interact with the backend server eh?

So, find such calls and use it like...

[code]

It will never return nil unless you are using such calls wrongly.

[2021-02-17 02:00] AMORFATI-TRL opened #3443 "Crash in AWSCredentialsProvider.m line 606"
**Describe the bug**
We have had multiple crash reports in AWSCredentialsProvider.m line 606

**To Reproduce**
Not sure as we've only been getting the crash reports

**Expected Behavior**
Not crashing

**Stack Trace**
[code]

**Areas of the SDK you are using (AWSMobileClient, Cognito, Pinpoint, IoT, etc)?**
AWSS3

**Environment(please complete the following information):**
 - SDK Version: 2.22.1

[2021-02-17 02:27] AMORFATI-TRL opened #3444 "Crash in AWSS3PreSignedURL.m line 253"
**Describe the bug**
We have had multiple crash reports in AWSS3PreSignedURL.m line 253

**To Reproduce**
Not sure as we've only been getting the crash reports

**Expected Behavior**
Not crashing

**Stack Trace**
[code]

**Areas of the SDK you are using (AWSMobileClient, Cognito, Pinpoint, IoT, etc)?**
AWSS3

**Environment(please complete the following information):**
 - SDK Version: 2.22.1
 - Dep

[2021-02-17 08:01] axelguilmin commented on #3436
I check with Xcode 12.5 beta 2 and the issue is still here

[2021-02-17 08:56] pathakota9966 commented on #938
I am also facing the same issue like with preSignedUrl AVPlayer is not playing the videos.
Can anyone help in this regard.
Thanks in advance.

[2021-02-17 23:40] #3268 closed

[2021-02-18 00:30] diegocstn commented on #3371
Closing because of inactivity, please feel free to open a new issue if you are still encountering problems.

[2021-02-18 00:30] #3371 closed

[2021-02-18 00:59] diegocstn commented on #3444
Hi @AMORFATI-TRL,
can you share the snippet of code showing how you're calling `AWSS3TransferUtility uploadFile:bucket:key:contentType:expression:completionHandler:`?

[2021-02-18 01:01] diegocstn commented on #3443
Possibly related to https://github.com/aws-amplify/aws-sdk-ios/issues/3444

[2021-02-18 01:42] diegocstn commented on #3070
Closing due to inactivity but feel free to open a new issue if are still encountering problems.

[2021-02-18 01:42] #3070 closed

[2021-02-18 04:34] Nomad-Go commented on #313
AWSCognito
S3
IoT Core

[2021-02-18 11:24] jacobsapps commented on #313
Is there also the intent to support AWS Amplify with this too?

I'm using the main services given by Amplify:
- Amplify
- AWSCognitoAuthPlugin
- AWSAPIPlugin
- AWSDataStorePlugin
- AWSS3StoragePlugin

[2021-02-18 22:17] girijeshkumar2007 commented on #722
I tried this code but it not getting 2MFA is not getting enaled

        let mfaOptions = AWSCognitoIdentityUserMFAOption()
        mfaOptions.attributeName = "phone_number"
        mfaOptions.deliveryMedium = AWSCognitoIdentityProviderDeliveryMediumType.sms
        let settings = AWSCognitoIdentityUserSettings()
        settings.mfaOptions = [mfaOptions]
        let user = AWSCognitoIdentityUserP

[2021-02-19 02:22] girijeshkumar2007 commented on #722
I did fix it by doing
func twoMfaEnable() {
        let mfaOptions = AWSCognitoIdentityUserMFAOption()
        mfaOptions.attributeName = "phone_number"
        mfaOptions.deliveryMedium = AWSCognitoIdentityProviderDeliveryMediumType.sms

        let settings = AWSCognitoIdentityUserSettings()
        settings.mfaOptions = [mfaOptions]
        let preferences = AWSCognitoIdentityUserMfaPreferences

[2021-02-19 21:14] royjit commented on #3432
The PR is merged in and released in AWS iOS SDK 2.23.0 - https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.23.0

[2021-02-20 07:33] joeboyscout04 commented on #3432
Thanks for the quick work!

[2021-02-21 23:15] AMORFATI-TRL commented on #3444
Hi @diegocstn

Here is the code snippet

[code]

[2021-02-22 15:55] palpatim commented on #3443
@AMORFATI-TRL The [line linked in the crash report](https://github.com/aws-amplify/aws-sdk-ios/blob/2.22.1/AWSCore/Authentication/AWSCredentialsProvider.m#L606) is a reference to `self.internalCredentials` used as an existence check, so it's not immediately clear how invoking that getter would cause a crash. Possibly a data race condition where the credentials provider is being cleared in one thre

[2021-02-22 15:57] palpatim commented on #313
As @drochetti mentioned [above](https://github.com/aws-amplify/aws-sdk-ios/issues/313#issuecomment-713731221), that is our priority for SPM support. :)

[2021-02-22 16:27] #3432 closed

[2021-02-22 16:49] lawmicha commented on #2355
Thanks for the reply @stevenkramer. That makes sense, i'm guessing you are using some Cognito APIs to validate the token. As for the original problem, please see above comment @ChrisInspect https://github.com/aws-amplify/aws-sdk-ios/issues/2355#issuecomment-770502587

[2021-02-22 16:49] #2355 closed

[2021-02-22 22:28] brennanMKE commented on #3436
I've confirmed that with Xcode Version 12.5 beta 2 (12E5234g) calling this function results in a segmentation fault. We'll follow the instructions in the build log [submit a bug report[(https://swift.org/contributing/#reporting-bugs) so that Apple is aware of the issue.

In the meantime one way to get around function calls which do not work with Swift is to create an extension of the Objective-C c

[2021-02-22 22:38] brennanMKE commented on #3436
The bug has been submitted to Apple. It includes the sample project called MyApp to repro the compiler failure.

* [SR-14264](https://bugs.swift.org/browse/SR-14264)

[2021-02-22 22:47] brennanMKE commented on #3436
@axelguilmin Let me know if the Objective-C Category allows you to get past this for now with the Xcode beta.

[2021-02-23 18:14] #3436 closed

[2021-02-23 22:35] arnaudcisse opened #3454 "how to use update mutation on ios graphQL with swift"
Hello, I am really struggling to run an update mutation on swift ios with amplify AWS (GraphQL API)

I am sure this question will help a lot of beginners on AWS, as it is directly related to the tutorial.

The tutorial from: (https://docs.amplify.aws/lib/graphqlapi/mutate-data/q/platform/ios)](url) says that to update/create a todo, you should:

`
func updateTodo() {
// Retrieve your Todo using Am

[2021-02-23 22:43] AMORFATI-TRL commented on #3443
@palpatim I'm going to share the code below but just as a matter of background info, this crash started to occur about 2-3 months ago but our S3 upload code has not changed for more than 18 months and we believe this issue emerged when we upgraded the S3 dependency.

We are registering a AWSS3TransferUtility within the initializer of a class that is only used as a singleton and therefore initializ

[2021-02-24 13:33] rahulvyas commented on #3395
I have standalone iOS app. I'm just using transferutility to upload video to bucket.
My flow of the app is like this

Step 1 - User selects a video from gallery
Step 2 - I create **AWSS3TransferManagerUploadRequest** object with all the required details like body,bucket,key,mime-type etc.
Step 3 - Upload media using Transfer Utility **uploadData method of TransferUtility and it works** but If I us

[2021-02-25 12:37] ppave opened #3455 "How to refresh federated token and proceed with other AWS calls?"
As per https://docs.amplify.aws/sdk/auth/federated-identities/q/platform/ios
[code]
1. I call `Amplify.API.post(request: request)` - OK
2. I catch `signedOutFederationTokensInvalid` - OK
3. I catch `Amplify.API.post(request: request)` API error
4. I refresh my OpenID token - OK
5. I call federatedSignIn - OK
6. I refresh federatedSignIn token - OK
7. How to proceed with my `Amplify.API.post(reques

[2021-02-25 17:17] palpatim commented on #3395
Thanks for clarifying @rahulvyas. A quick search shows others experiencing similar problems as of iOS 13:

- https://stackoverflow.com/questions/56909566/video-upload-error-when-choosing-from-library
- https://github.com/dropbox/SwiftyDropbox/issues/256

And the root cause appears to be that iOS 13+ treats assets returned from the Image Picker more explicitly as resources owned by another app, and

[2021-02-26 00:40] danieldekerlegand commented on #2314
Any updates on this issue? We're on version 2.19.1, and we've been receiving reports of crashes that appear to be related to TransferUtility multipart uploads. We seem to receive more crash reports right after releasing a new version of the app. For months we weren't receiving any crash logs, but now that we've received a few, they all appear to be related to `createTemporaryFileForPart`. Most of

[2021-02-26 18:10] #2513 closed

[2021-02-26 19:00] palpatim commented on #3443
@AMORFATI-TRL

For further clarification as we dig into this:
- What version did you upgrade from?
- You list one device & iOS version in the crash report--is this crash appearing on multiple devices & iOS versions, or just the one listed?

[2021-02-27 00:38] brennanMKE commented on #3443
My first look has been to confirm the code for the Task and Executor are current. This code comes from the Bolts code base from Facebook. I pulled the latest code for that repo and made sure the code built into this SDK is current. I found that it is. That is a good baseline to make sure we are not behind on that code or living with a bug which has been resolved already. I will now evaluate the re

[2021-02-27 00:51] diegocstn commented on #3362
Closing in favor of https://github.com/aws-amplify/amplify-ios/issues/977

[2021-02-27 00:51] #3362 closed

[2021-03-02 06:50] SanthoshMKunthe commented on #3379
any updates. . .

[2021-03-02 18:15] palpatim commented on #2314
@diesal11 & @danieldekerlegand Thanks for reporting the issue and for the context.

The implicated method (`linkTransfersToNSURLSession:tempTransferDictionary:completionHandler`) is invoked during creation of a new TransferUtility instance (e.g., from `+[AWSS3TransferUtility registerS3TransferUtilityWithConfiguration:transferUtilityConfiguration:forKey:completionHandler:]` or one of the TransferUt

[2021-03-02 22:41] AMORFATI-TRL commented on #3443
@palpatim we upgraded from version `2.19.1` to `2.22.1`
Below is a list of devices/iOS versions that we received the crash log for them

- iPhone XR ( iOS 14.3.0)
- iPhone XR ( iOS 14.4.0)
- iPhone XR ( iOS 14.0.1 )
- iPhone 11 ( iOS 14.3.0)
- iPhone XS Max ( iOS 14.3.0)
- iPhone 11 Pro Max (iOS 14.3.0)
- iPhone 11 Pro Max (iOS 14.4.0)
- iPhone 11 Pro Max (iOS 13.6.1)
- iPhone SE (2nd generation)

[2021-03-02 23:37] brennanMKE commented on #3436
@axelguilmin Could you provide the crash reports with all of the stack frames to provide more context?

I've reviewed the stack frame which was shared but it does not provide enough detail. It may be a crash caused by a race condition but I do not see the reason for the crash here. This will be in the crash reports (.ips files)  so I can look at what is happening on other cores at the time of the

[2021-03-02 23:38] brennanMKE commented on #3444
@AMORFATI-TRL Could you provide the crash reports with all of the stack frames to provide more context?

I've reviewed the stack frame which was shared but it does not provide enough detail. It may be a crash caused by a race condition but I do not see the reason for the crash here. This will be in the crash reports (.ips files) so I can look at what is happening on other cores at the time of the

[2021-03-03 01:49] AMORFATI-TRL commented on #3444
@brennanMKE

[code]

[2021-03-03 01:54] AMORFATI-TRL commented on #3444
@brennanMKE AWSS3PreSignedURL.m line 253

[code]

[2021-03-03 05:41] rahulvyas commented on #3395
@palpatim thanks for the heads up. I'll look into it. Also, when do you guys fix this issue?

[2021-03-03 12:31] badarovska commented on #2553
Is there any resolution to this problem? In my case, this error does not happen all of the time, and I have not been able to recreate it, but I'm getting error logs on production. There have not been any changes to the upload logic for a while now, but there has been a significant increase in this error in January and February. The increase does not correspond to any releases we have had, which le

[2021-03-03 16:34] hassanctech commented on #3379
@ruiguoamz it looks like what you linked is for kinesis data, but I think the ask here is for kinesis video.  @SanthoshMKunthe Would you please open a ticket here:  https://github.com/awslabs/amazon-kinesis-video-streams-producer-c

Especially if you want video to be streamed to KVS back-end then WebRTC SDKs will not do that, we will need to work with the producer SDK.  Let's engage in that repo a

[2021-03-03 18:58] kylelin47 commented on #2434
Is this related to sessions being configured as background sessions? https://github.com/aws-amplify/aws-sdk-ios/blob/main/AWSS3/AWSS3TransferUtility.m#L441

Is there a way to configure this to be foreground sessions when appropriate?

[2021-03-03 22:07] palpatim commented on #3395
We wouldn't be able to fix this issue--your app is providing data to the TransferUtility for upload, so it would have to be your app that copies the data to a place where it can be accessed for the duration of the upload routine.

[2021-03-03 22:12] palpatim commented on #2553
We haven't been able to reproduce this in our samples or testing. If someone who is experiencing this issue could provide some repro steps that would certainly be helpful, but right now there's nothing actionable in this ticket. @badarovska in particular: if you haven't changed client code but are seeing different behavior, I'm unclear how we can help.

I'm going to leave this open as "requesting

[2021-03-03 22:21] palpatim commented on #2434
In the intervening time since this issue was opened, we updated the S3 SDK to use [virtual host-style S3 endpoints for the S3 client](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.17.0). It would be interesting to hear if you are still seeing a performance difference using direct S3 client access.

However, as @kylelin47 points out, the AWSS3TransferUtility hands off all transfers to a

[2021-03-04 00:01] kylelin47 commented on #2434
That's good to know. I would like to use the S3 client directly, but last I checked I was not able to enable transfer acceleration. Has this been added to the SDK/always existed and I missed it?

[2021-03-04 01:21] brennanMKE commented on #3444
@AMORFATI-TRL Can you provide the details at the top of this crash report?

What I am seeing from these frames is that there could be some thread contention here. In the last stack frame the thread is stopped at `mach_msg_trap` which means it is waiting on the run loop for for an event in the form of an input source. It appears to have send a message and it waiting for a reply. The input source wi

[2021-03-04 01:22] brennanMKE commented on #3443
See #3444

[2021-03-05 14:40] palpatim commented on #2434
It probably wouldn't have worked before the change to support VHost style URLs, but I have verified that transfer acceleration does work using the S3 SDK. See https://github.com/aws-amplify/aws-sdk-ios/pull/3460 for a newly-added integration test that demonstrates it.

Hope this helps.

[2021-03-05 16:53] kylelin47 commented on #2434
🔥 I'll try it out!

[2021-03-05 18:11] sha8wn opened #3462 "Cannot archive project for the app store or build XCFramework when setting -fembed-bitcode in project settings"
Hello AWS Team,

**Describe the bug**
I am developing an XCFramework and have integrated the AWSLambda pod as my only dependency for my needs https://cocoapods.org/pods/AWSLambda which I believe also installs AWSCore. I want my framework to support bitcode so after looking at some ideas online, I added -fembed-bitcode to my framework project's build settings:
![image](https://user-images.githubuse

[2021-03-05 19:39] palpatim commented on #1307
The `federatedSignIn` routine does not validate the token before returning. The reasoning here is that the application, not the SDK, owns management of federated sign in tokens, so we are optimistically assuming that the token material is valid.

**Next Steps for @aws-amplify/ios-team**

During the flow, the SDK does send the token to Cognito. We need to validated whether the failure in that call

[2021-03-05 21:07] palpatim commented on #3462
Thanks for the detailed report @sha8wn. Minor note: Could you attach your screenshot images to the GitHub issue rather than linking to a third party solution like prntscr.com? That domain in particular is blocked by some enterprises (including ours), so it'll be challenging for everybody to see the settings & messages you're referencing.

In any case, we may be able to fix this by enabling bitcode

[2021-03-06 02:53] sha8wn commented on #3462
Hello @palpatim - Thanks for your response. I have added the screenshots as per your request.

I understand this will probably take some time to fix and release, is there any solution I can take in the interim so that I can build my project ?

As I mentioned, I am open to manually installing the AWS Lambda and AWS Core frameworks for now and manually changing the build settings for them if you can

[2021-03-08 07:49] DayuEJ commented on #3168
I have the same problem as you，Can you tell me how the final problem was solved? Thanks

[2021-03-08 16:53] palpatim commented on #3462
@sha8wn Sorry, without more troubleshooting, I can't suggest a workaround. You might be able to build the SDK projects from source as you build your framework, but I'm guessing that's not a great option for you.

[2021-03-08 16:57] sha8wn commented on #3462
Hello @palpatim ,

Hope you had a good weekend.

I am open to that solution until you'll investigate and fix this with cocoapods.

If I can understand which specific frameworks I need and any other settings I need to modify when manually integrating these frameworks, that would be helpful.

Is it just AWS Core and AWS Lambda to work AWS Lambdas ?

Thank you for your support and guidance.

[2021-03-08 18:31] palpatim commented on #3462
Correct! The **AWSLambda** SDK depends on **AWSCore**, which itself has no additional external dependencies.

[2021-03-09 14:59] ameedsayeh commented on #2330
this is still happening in iOS 14, any updates?

[2021-03-09 17:26] palpatim commented on #2330
We've seen some new customer reports of this including yours. Please refer to https://github.com/aws-amplify/amplify-ios/issues/1095 since this issue is pretty old and we'd like to track on the more recent one.

[2021-03-10 03:56] sha8wn commented on #3462
Hi @palpatim - it's proving quite difficult to manually build this so I was wondering if there was a way to manually make calls to AWSCognito and invoke AWSLambdas without the frameworks as a raw HTTP request or something like that you could point me towards ?

[2021-03-10 10:06] DayuEJ commented on #3168
Solved this problem by updating bucket policy. Please check the following:
https://aws.amazon.com/premiumsupport/knowledge-center/s3-troubleshoot-403/?nc1=h_ls
good luck for you

[2021-03-11 12:31] bvirlet opened #3466 "Set NSURLSessionConfiguration httpMaximumConnectionsPerHost"
I'd like to be able to increase the AWSNetworking underlying NSURLSessionConfiguration httpMaximumConnectionsPerHost value. iOS sets it by default to 4. I'd like to be able to increase it.

The use case for this is to be able to upload more than 4 files in parallel to AWS S3.

A good solution would be to expose the NSURLSessionConfiguration for injection so that we can inject our own configuration

[2021-03-11 16:48] lawmicha commented on #3466
Hi @bvirlet Thanks for bringing this to our attention. It looks like the previous issue was closed due to the stale bot, will reopen it. Depending on more information, we could close this and track the previous issue if it is similar.

Are you looking to increase the parallelization on all types of requests or just S3 operations? If just S3 operations, could you use TransferUtility to perform the

[2021-03-12 10:33] axelguilmin commented on #3436
The workaround works great 👍 (beta 3)
Thank you @brennanMKE

[2021-03-12 15:21] palpatim commented on #2314
Creating the TU instance at startup (or once before you begin processing transfers) is the recommended way of managing TU. The NSURLSessions are bound to the Transfer Utility's **key** (in your case, the `instanceKey` parameter), so if you were creating utilities with the same **key** value, there could be conflict there.

That seems like the most likely scenario. If the two TU instances were regi

[2021-03-12 15:26] palpatim commented on #3462
It is certainly *possible* to manually make calls to any AWS service, including Cognito or Lambda--they're just HTTPS endpoints on the public internet. Whether it's *practical* is a very different story. :) If you'd like to explore it further though, you can look through the AWS service documentation for the services you want to interact with. The service's API reference will explain the various r

[2021-03-12 15:29] mstaylor opened #3469 "Could not find module 'AWSMobileClient' for target 'x86_64-apple-ios-simulator'; found: arm64, armv7-apple-ios, arm64-apple-ios, arm, armv7"
**Describe the bug**
Using carthage xc frameworks and compiling for simulator, I get the following:

Could not find module 'AWSMobileClient' for target 'x86_64-apple-ios-simulator'; found: arm64, armv7-apple-ios, arm64-apple-ios, arm, armv7

**To Reproduce**
Steps to reproduce the behavior:
Follow carthage integration steps detailed in the WIKI and try to build for a simulator target.

**Observed

[2021-03-12 15:30] palpatim commented on #3168
@DayuEJ Thanks for your update--IAM and S3 bucket policies are the most likely culprit when dealing with permissions errors such as this.

@valentary Are you still experiencing this issue? If so, could you describe your S3 bucket policies, and the S3-related IAM policies you have assigned to your Cognito Auth & Unauth roles? As noted, the policy configuration is a likely culprit, and can be tricky

[2021-03-13 01:03] brennanMKE commented on #3469
@mstaylor I have reproduced this build locally with the same version of Xcode and a fresh install of Carthage. I also built with the Carthage binaries for both a SwiftUI and UIKit app and ran the unit tests for both projects. I've compressed and included these sample projects which are placed in the Carthage directory with the Cartfile. The `Carthage/Build` directory is below it and the Xcode proj

[2021-03-13 12:10] 39otrebla opened #3470 "Developer authenticated identities?"
**Which AWS Services is the feature request for?**

1. Support for developer authenticated identities
2. Splitting Amplify in "smaller pieces", so that developers can use services like Cognito and S3 without configuring and maintaining Amplify configuration and (not less important) without shipping tons of **useless** line of codes to our users

**Is your feature request related to a problem? Plea

[2021-03-13 16:45] mstaylor commented on #3469
@brennanMKE - I tried replacing my AWSMobileClient carthage xcframework with the zip provided and the issue remained.

StaylorsTemple2:Build mstaylor$ find . -name AWSMobileClient -exec lipo -info {} \;
Architectures in the fat file: ./AWSMobileClient.xcframework/ios-arm64_i386_x86_64-simulator/AWSMobileClient.framework/AWSMobileClient are: x86_64 i386 arm64
Architectures in the fat file: ./AWSMob

[2021-03-14 20:16] mstaylor commented on #3469
@brennanMKE  - actually I've confirmed this is not an issue.  My problem was related to cmake and simulator vs. device targets.  Thanks for looking into this issue.

[2021-03-15 17:35] #3469 closed

[2021-03-17 04:43] sha8wn opened #3472 "Creating an AWSDynamoDBObjectModel subclass with an existing property name"
Hello AWS Team,

Hope you are doing well.

**State your question**
I am trying to scan a DynamoDB table and to make things easier for me, I want to map the results to an AWSDynamoDBObjectModel. The issue I have currently is that one of the items in my table have the key `description` so you can say my data is something like this:
[code]

Now in my AWSDynamoDBObjectModel subclass, I try to create a

[2021-03-17 08:26] sha8wn opened #3473 "The right way to clear AWSCognitoCredentialsProvider"
Hello AWS Team,

**State your question**

This is possibly a duplicate to #1014 but I could not find a useful solution there that worked for me.

I have two environments `development` and `production` which has it's own `identityPoolIds` respectively.

My team constantly needs to switch between these two environments.

It seems that once I set the environment on launch, there is no going back in t

[2021-03-17 10:53] Faisal666 opened #3474 "Auto resume multi-part upload not working after restarting the app using transfer utility"
**Describe the bug**
Auto resume multi-part upload not working after restarting the app using transfer utility with key, I've tried looking for similar issues to this and applied solution provided but none seems to work, as far as I read some says it upload automatically after giving the same parameters on the in-completed uploads and others say i need to iterate through tasks in and fire .resume(

[2021-03-17 14:20] palpatim commented on #3470
As this is a feature request to support Developer Authenticated Identities in Amplify, I'm moving this feature request to the Amplify repo.

[2021-03-17 15:00] palpatim commented on #3472
@sha8wn You'll have to override this at your model source. Currently we face similar challenges as we translate service APIs into service clients--the service might define a `description` field on a request or response object, and we have to translate that to something like `descriptionValue` to avoid conflicting with keywords & reserved property names.

(As a side note, we don't generally recomme

[2021-03-17 15:04] palpatim commented on #3473
@sha8wn We don't currently support switching environments without restarting the app. You can read a more extensive discussion here: https://github.com/aws-amplify/amplify-ios/issues/527 (that issue happens to be in the Amplify repo, but the underlying issues are the same).

[2021-03-17 15:04] #3473 closed

[2021-03-17 15:09] sha8wn commented on #3472
Thanks @palpatim - got it, clear.

Thanks for the advice as well, for now we are connect to DynamoDB only for our app used by our QA team to make sure everything is done right and not in any release or client facing applications.

[2021-03-17 15:09] #3472 closed

[2021-03-17 15:38] palpatim commented on #3474
This appears to be a duplicate of https://github.com/aws-amplify/aws-sdk-ios/issues/3173, which was fixed in [2.21.0](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.21.0).

Do you still see the issue using the latest version of the SDK?

[2021-03-18 08:47] logdok opened #3476 "Sign in with Apple. "Something went wrong. Please try again" message is displayed in the web form."
**To Reproduce**
Steps to reproduce the behavior:
1. Tap on "Sign in with Apple" button -> system alert message is displayed, select [Continue] button.
2. The system proposes user to choose to hide Apple ID or not (grey popup) -> lock the device on this screen, wait for 5+ min.
3. Unlock the device -> the grey popup is missing.
4. We see the screen. See below in screenshort area.

**Observed Behav

[2021-03-18 11:17] sha8wn commented on #3473
@palpatim - can I conclude that I also cannot have multiple service configurations in the same session ?

[2021-03-19 13:41] jayaseelan-coder commented on #1016
@cbommas @Aviru  I am beginner in aws can u please help me out how to upload file using multipart in iOS Swift, I have checked out some examples and tutorials but it was not help me out, kindly help me, to achieve this, Thanks in advance

[2021-03-19 22:24] royjit commented on #3476
Hi @logdok Thank you for reaching out. The gray popup is shown by Apple and we do not have any control over it. Apple might dismiss the popup if not used. Will you be able to cancel the webview and continue the signIn process?

Can you also attach the screenshot to the github ticket instead of an external link.

[2021-03-21 00:05] Faisal666 commented on #3474
@palpatim  I used to have 2.19.1 and now i updated the SDK to the latest 2.23.2
[code]
And the issue remains when initializing transferUtility
`let transferUtility = AWSS3TransferUtility.s3TransferUtility(forKey: key) `
I get this console error:
[code]
yet upon investigation seems like  `transferUtility?.getMultiPartUploadTasks().result ` is always empty though the key of transferUtility before an

[2021-03-21 13:08] 1Cor125 commented on #3083
In [this closed ticket](https://github.com/xamarin/xamarin-macios/issues/7101) the team discussed trying to match Xcode's behavior of signing apps automatically when using a sim. This sort of thing creates friction for devs. Now if I build a little sample app in one of my package repos I need to sign the app to make sure everything works well in the sim. Is there a ticket somewhere to track this r

[2021-03-22 22:36] danieldekerlegand commented on #2314
@palpatim We've refactored our code to make sure that only one TU instance per key can exist at a time, and we haven't been able to replicate any `createTemporaryFileForPart` crashes coming from `linkTransfersToNSURLSession`. However, we _have_ been able to replicate one coming from `internalUploadFileUsingMultiPart`. We experienced this crash while attempting to upload a ~ 5.5 GB file with a repo

[2021-03-23 13:32] Faisal666 opened #3478 "Auto resume multi-part upload not working & getMultiPartUploadTasks() is empty after restarting & the app using transfer utility"
**Describe the bug**
Auto resume multi-part upload not working after restarting the app using transfer utility with key, I've tried looking for similar issues to this and applied solution provided but none seems to work, as far as I read some says it upload automatically after giving the same parameters on the in-completed uploads and others say i need to iterate through tasks in and fire .resume(

[2021-03-23 13:39] Faisal666 opened #3479 "multi-part upload resume after restarting the app using transferUtility with key"
**State your question**
How to make upload resume after restarting the app using transferUtility with key

**Which AWS Services are you utilizing?**
AWS S3

**Provide code snippets (if applicable)**

**Environment(please complete the following information):**
 - SDK Version: 2.23.2
 - Dependency Manager: Cocoapods
 - Swift Version : 4.3

**Device Information (please complete the following informat

[2021-03-23 23:17] EdGonzalez- commented on #3005
@palpatim Latest frameorks are working properly. Thanks.

[2021-03-24 01:55] drochetti commented on #1603
It's very unlikely we will add support to anything other than iOS to the SDKs, but we are evaluating and working on a plan to support more platforms on Amplify. An issues was created recently asking for macOS support, feel free to +1 it and also leave comments about your needs. The more info we have about developers' needs, the better: https://github.com/aws-amplify/amplify-ios/issues/1124

[2021-03-24 07:08] rahulvyas commented on #3395
In this case, I have to manually create a copy and then delete the copy once the upload is finished. Isn't it possible to give a path of the location where TransferUtility can access the resource and then later at some point I call a method that clears the uploaded resoures ?

[2021-03-24 10:30] TijiJoy opened #3480 "AWSMobileClient confirmSignIn success callback not called"
Create 2 new user from backend/cognito with password change required
1-Login with first user
2-Force change password with new user
3-Fill OTP and confirm login
4-Logout with user
5-Login with second user
6-Force change password with new password
Crash happens
And it is happening with two different applications with iOS only and for Android both applications working with same steps

error is as fol

[2021-03-24 14:47] palpatim commented on #3474
Thanks for clarifying. We'll need to dig into this more then.

[2021-03-24 15:01] ameedsayeh commented on #1278
getting the same - version 2.23.0

[2021-03-24 15:21] palpatim commented on #2314
My initial thought is that iOS is reaping temporary files to reclaim space, and the multipart files are being removed before they're uploaded.

Since the system behavior isn't under our control, if my hypothesis is correct, the best option I can think of is to move multipart temp files into a non-Cache, non-Temporary app-specific directory like **Documents/some/transferutility/path**, that is also

[2021-03-24 15:27] palpatim commented on #3478
@Faisal666 Are you reporting something different than you already reported in https://github.com/aws-amplify/aws-sdk-ios/issues/3474 ?

[2021-03-24 15:28] palpatim commented on #3479
@Faisal666 are you reporting something different than you reported in https://github.com/aws-amplify/aws-sdk-ios/issues/3474 ?

[2021-03-24 15:31] Faisal666 commented on #3479
@palpatim
I'm requesting only an info or guide here not reporting a issue.

[2021-03-24 15:34] Faisal666 commented on #3478
@palpatim no it's exactly the same, sorry I thought i needed to add new one since it's different SDK version issue, I can close it if it needs to be only on #3474

[2021-03-24 15:56] #3005 closed

[2021-03-24 16:35] palpatim commented on #3395
That is correct. The TransferUtility doesn't recognize that these assets should be handled differently. It's not likely that we'd attempt to take this on as a feature request, since the rules for handling these assets are opaque, and it's not clear that we'd be able to identify them as such in any case, since the returned URL is just a pointer to a .mov file.

[2021-03-24 16:39] palpatim commented on #3480
@TijiJoy Can you confirm the version of the SDK you're running, and the version of iOS you're seeing this crash on?

[2021-03-24 16:58] palpatim commented on #3479
Thanks for clarifying. Please see the [Managing Transfers When an App Restarts](https://docs.amplify.aws/sdk/storage/transfer-utility/q/platform/ios#managing-transfers-when-an-app-restarts) documentation.

[2021-03-24 16:58] #3479 closed

[2021-03-24 16:58] palpatim commented on #3478
Thanks for clarifying. Closing this as a dupe of the previous issue.

[2021-03-24 16:58] #3478 closed

[2021-03-24 23:48] diegocstn commented on #2992
Closing in favor of https://github.com/aws-amplify/aws-sdk-ios/issues/3025

[2021-03-24 23:48] #2992 closed

[2021-03-25 05:21] danieldekerlegand commented on #2314
@palpatim Thanks, that makes sense and is along the lines of what I was anticipating. Let me know if you need any more information on reproducing the crash.

[2021-03-25 17:29] diegocstn commented on #3328
Hey @rsakhnievych @nick3389,
we don't support certificate pinning. We recommend to use the OS-provided security measures such as [App Transport Security](https://developer.apple.com/documentation/security/preventing_insecure_network_connections) which includes enforcement of minimum TLS levels (version 1.2 or later), validation of trust chains, and Certificate Transparency..

[2021-03-25 17:29] #3328 closed

[2021-03-25 20:34] diegocstn commented on #3380
Closing due to inactivity.

[2021-03-25 20:34] #3380 closed

[2021-03-26 02:48] rikutech commented on #1278
still getting the same.
[code]

[2021-03-26 08:56] AlleniCode opened #3483 "signUp Error: A client attempted to write unauthorized attribute"
**State your question**
When I sign up a new user by using the 'signUp' func with userAttributes call back a task error 'A client attempted to write unauthorized attribute'
[code]

**Which AWS Services are you utilizing?**
Signup and Login

**Provide code snippets (if applicable)**
[code]

**Environment(please complete the following information):**
 - SDK Version: [Not clear]
 - Dependency Manager

[2021-03-29 02:34] colinhumber commented on #1603
@drochetti If you're cool with it, I'm going to close this issue as you mentioned there's a feature request already set that's a better place for people to +1.

[2021-03-29 08:41] martaGonz opened #3484 "Sign in with Apple token invalid after sign in"
After a successful sign in, my federated tokens get invalidated. It only happens with "Sign in with Apple". So the users who sign in with Apple can't make API requests.

**Which AWS Services are you utilizing?**
Amplify
Cognito

**Provide code snippets (if applicable)**
[code]

The result in the console:
AWSMobileClient Event listener - signedIn
AWSMobileClient Event listener - signedOutFederatedT

[2021-03-29 23:02] palpatim commented on #3483
Hi @AlleniCode,

We will need to understand your config a bit better.

- What attributes have you configured in your user pool? Which ones are custom? Which are required vs. optional? Which are mutable?
- What version of the SDK you're running? (You note it as "not clear")

[2021-03-30 09:53] martaGonz commented on #2366
Any solution to this? I have the same problem

[2021-03-30 12:28] sha8wn opened #3485 "AWSDynamoDBObjectMapper scan function causes a crash"
Hello AWS team,

**Describe the bug**
I create an AWSDynamoDBObjectMapper subclass to help me pull some data from our AWSDynamoDB instance.

Everything seemed to be working fine for the last couple of weeks until today I found my app was crashing with the following:

![image](https://user-images.githubusercontent.com/1778742/112986721-e806ef80-9172-11eb-8cf7-5ee643239824.png)

The two issues I not

[2021-03-30 12:35] hamzakhanfar opened #3486 "Hosted UI permission alert before iOS 13.0"
**State your question**
After login using hosted UI, I'm trying to logout but a permission alert is being presented, so how to sign out without presenting a webview?.

**Which AWS Services are you utilizing?**
AWS SDK (Cognito).

**Provide code snippets**
AWSMobileClient.default.signOut() { error in }

**Environment:**
 - SDK Version: [e.g. 2.23.2]
 - Dependency Manager: [Cocoapods]
 - Swift Versi

[2021-03-30 14:08] KirilSivokoz commented on #3303
Hi!

Are there any updates on the fix for this issue?

Thanks!

[2021-03-30 14:22] palpatim commented on #2366
@martaGonz Please see https://github.com/aws-amplify/aws-sdk-ios/issues/2513#issuecomment-774130422 for a discussion of the current state of Sign In With Apple support in the AWS Mobile SDK for iOS and Amplify for iOS. If you are still having problems after reviewing, please feel free to open a new issue with your specific details (use case, repro steps, config details, etc). Feel free to referenc

[2021-03-30 14:58] palpatim commented on #1603
Thanks @colinhumber, it would be great to consolidate feedback on that issue rather than splitting the conversation.

[2021-03-30 14:58] #1603 closed

[2021-03-30 16:00] palpatim commented on #3484
Hi @martaGonz,

Please see https://github.com/aws-amplify/aws-sdk-ios/issues/2513#issuecomment-774130422 for a discussion of Cognito's current support for Sign In With Apple. In that discussion, you'll see that the options for supporting `federatedSignIn` are to require your user to login after the initial Apple **identity token** expires (24 hours), or to set up a backend layer that can use the a

[2021-03-30 16:24] palpatim commented on #3486
Unfortunately, there is no way to prevent the alert from showing up on iOS versions prior to 13.0. That alert is presented by the system as a security measure to let end users know which site is asking to perform OAuth flows. There is no way to tell from the URL whether a given flow is a sign in or sign out flow, which means iOS' alert has a misleading message in "sign out" cases. Sorry we don't h

[2021-03-31 06:07] martaGonz commented on #3484
Hi @palpatim,

I read that thread before but I don't know how to to do that backend layer for the authorization token. Is there a tutorial about how to do that?

1) I did this 1-2 years ago and it has been working well until recently.
The Apple Service ID is different from the app bundle ID.

2) The token I pass is the AppleIDCredential from here:

` if let appleIDCredential = authorization.creden

[2021-03-31 18:23] ruiguoamz commented on #3485
Hi, @sha8wn
Thanks for reaching out.

There are few questions I have
1. What dependencies are you using? just AWSDynamoDB?
2. Are you using AWSAppSync to first send some data to DynamoDB first?
3. How do you configure `DynomoDBObjectMapper`?
4. What does the DynamoDB part looks like in you `awsconfiguration.json`?
5. If the answer to Q2 is yes, could you share the schema that you are using?

[2021-03-31 18:28] palpatim commented on #3484
Sorry for the confusion: You don't need to create the service ID in Apple's site, you need to update your Cognito Identity Pool's "Sign In With Apple" configuration with your bundle ID.

[2021-03-31 18:31] palpatim commented on #3484
I'm surprised that you got automatic token refresh working with Sign In With Apple in the AWS Mobile SDK for iOS. Can you share the code you used to obtain the token and pass it to the Identity Pool? The SDK doesn't have any particular refresh mechanisms, and would have relied on you manually passing it in just like Amplify does (although the API calls to pass the token are obviously different bet

[2021-04-01 07:42] Ramesh707 opened #3488 ""Amplify.Auth.signIn(username, nil)" triggers "SRP_A" challenge"
**Describe the bug**

When attempting to trigger the custom auth challenge by using `Amplify.auth.signin(username, nil)` we receive a session containing **SRP_A** in the define auth challenge trigger, when instead we are expecting `CUSTOM_CHALLENGE`

**Response:**
{
    "version": "1",
    "region": "xxxxxxx",
    "userPoolId": "xxxxxxxx",
    "userName": "xxxxxxxxx",
    "callerContext": {

[2021-04-01 15:10] martaGonz commented on #3484
Yes, I ask the user to login again when the token is no longer valid, so I guess that's fine.

I have made the changes you suggested and it's working now. It's weird that I have been sending the other id to  "federated sign in" for one year and it worked.

About the bundle ID, I have put it on the identity pool configuration, but not in the user pool. Is this correct? In the user pool I let it as

[2021-04-01 18:09] ruiguoamz commented on #3488
Hi, @Ramesh707
Thanks for reaching out

The [link](https://docs.amplify.aws/sdk/auth/custom-auth-flow/q/platform/ios) your provided is for `aws-sdk`, but based on your description, you are using Amplify library. This is the [link](https://docs.amplify.aws/lib/auth/signin_with_custom_flow/q/platform/ios#configure-auth-category) for `Amplify Auth Custom Flow`.

And since you are using custom flow. W

[2021-04-02 15:11] palpatim commented on #3484
Confusingly, yes, this is correct. :(

The User Pool uses the service-side OAuth flow, which expects the Service ID you set up on your Apple Developer account. Federated identities uses the bundle ID.

Glad it's working for you.

[2021-04-05 11:41] jtarun4625 commented on #756
Facing the same problem.

[2021-04-05 17:22] JoshClarke commented on #756
Not sure if you'll get this email reply, but here is what I did to fix it:

I was able to work around this issue, and figured out how to reproduce it
as well. Just a note, this is only necessary on iOS 11, the code was
working fine before 11 came out.

I was trying to put the voice button in the iOS navigation bar, and doing
so would freeze the app unless I explicitly added the button through the

[2021-04-06 02:48] yang5155324 opened #4161 "There is a error when define a custom endpoint(CDN domain)"

[2021-04-06 02:48] yang5155324 opened #4898 "There is a error when define a custom endpoint(CDN domain)"
**Describe the bug**
The SDK shows an error after we change the endpoint domain to our own domain.
please kindly check the snapshot.

How do we define a custom endpoint? we must upload files via CDN to accelerate in China.

![image](https://user-images.githubusercontent.com/4687090/113651912-71fc0e80-96c5-11eb-950b-ee625463eacc.png)

![image](https://user-images.githubusercontent.com/4687090/11365

[2021-04-06 04:13] VishnuNCS commented on #3141
Hi,

Not able to update to Amplify iOS version 1.6.0 through pods. It is still updating to 1.5.0. Any suggestions?

[code]

[2021-04-06 05:54] VishnuNCS opened #3491 "Pod update is not updating to Amplify 1.6.0"
Hi,

Not able to update to Amplify iOS version 1.6.0 through pods. It is still updating to 1.5.0. Any suggestions?

[code]

[2021-04-06 14:39] dhananjay2011 opened #3493 "AWS S3 Bucket Upload Fails"
Hello Team,
I am using the AWS S3 bucket for the last 3 years. Also, My application is live on App Store & Play Store. Basically, I am using an S3 bucket for uploading images & videos. Also, at end of the last year, I have updated my application version on the App Store and it is working fine with the S3 bucket. But from the last few days, I am getting errors while uploading images & videos in the

[2021-04-07 17:17] palpatim commented on #3491
Moving this to the Amplify repo.

@VishnuNCS Can you share your Podfile? Also what command are you using to update? If you're using `pod install`, did you do a `pod repo update` before attempting that, to make sure your local repo cache is up to date?

[2021-04-07 17:23] palpatim commented on #3493
Please ensure your app is compatible with the latest S3 certificates: https://aws.amazon.com/blogs/storage/reminder-amazon-s3-and-amazon-cloudfront-migrating-service-certificates-to-amazon-trust-services-starting-march-23-2021/

Apps that use custom trust stores or other custom security measures such as SSL pinning may need to update.

If this is not relevant to your situation, please provide more

[2021-04-07 18:29] palpatim commented on #313
The AWS Mobile SDK for iOS can now be installed via Swift Package Manager. See the [README](https://github.com/aws-amplify/aws-sdk-ios/blob/main/README.md) for full details.

[2021-04-08 06:07] bvirlet commented on #3466
I definitely want to elaborate on that, I'm a bit short on time for now. Will do ASAP!

[2021-04-08 06:42] shishir87 opened #3500 "Getting "The network connection was lost" error in the response for GetClip API"
Hi,

I am developing an iOS app which have the functionality of downloading a 5 minutes Clip from KVS.
I am using GetClip API to download the clip by following this documentation.
https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_reader_GetClip.html

But I am facing the error "The network connection was lost" frequently when clip is getting downloaded.

Please find below details

 - SD

[2021-04-08 07:47] #3484 closed

[2021-04-09 16:36] palpatim commented on #3500
@hassanctech any thoughts on this one?

[2021-04-09 18:19] palpatim commented on #3431
Long term, we need to audit errors from the service to ensure we have comprehensive coverage of error scenarios.

Unfortunately, there is not a good short-term fix for this--any changes we make to error structures or behaviors are likely to break existing clients, and without the audit noted above, it's not clear what we could do to enhance the current developer experience.

We'll take this on as

[2021-04-09 18:22] palpatim commented on #3025
**Summary**
- Most of these warnings are coming from the CocoaLumberjack code that we imported long ago when the SDK was young.

**Next Steps**
- @aws-amplify/ios-team is evaluating the best way to handle this:
  - Update CocoaLumberjack wholesale: requires bumping min deployment target to iOS 10
  - Manually apply patches to CocoaLumberjack to address the warnings

[2021-04-09 18:35] palpatim commented on #3480
This seems like a fairly unusual use case. Is this still affecting your app? If so, please let us know the version of the SDK you're running, and the version of iOS you're seeing this crash on. If not, we're not inclined to spend too much time trying to dig into this.

[2021-04-09 18:39] palpatim commented on #3444
Closing due to inactivity

[2021-04-09 18:39] #3444 closed

[2021-04-09 18:39] brennanMKE commented on #3443
Closing due to inactivity.

[2021-04-09 18:39] #3443 closed

[2021-04-09 19:51] palpatim commented on #2313
We're investigating some data race conditions in the IoT SDK that could be causing some of these (and other) issues. Tracking that in https://github.com/aws-amplify/aws-sdk-ios/issues/3303

[2021-04-09 20:00] palpatim commented on #2972
@mananzemote As @wooj2 pointed out above, we don't have any way forward on this. If you can provide some actionable detail, we're happy to revisit it, but the universe of possible causes external to the SDK is vast, and not something we can isolate with the resources we're able to allocate to this.

[2021-04-10 08:31] Parag2385 commented on #257
Hey @vphamdev, were you able to upload files with TransferUtility with your server-generated pre-signed URLs? I'm having the same problem.

[2021-04-10 18:26] vphamdev commented on #257
Hi @Parag2385, yes, I forked the repo in order to add a few convenience wrapper methods that accepted the presigned url as a parameter then calling through to the standard paths

[2021-04-11 03:16] Parag2385 commented on #257
@vphamdev Cool, nice. I'll try that. Is there any way you still have that forked repo, you can share?

[2021-04-11 15:28] jtarun4625 opened #3508 "APP freezes(Memory Leak) while using Lex Sample Example"
**Describe the bug**
We are using this sample application: https://github.com/awslabs/aws-sdk-ios-samples/tree/main/Lex-Sample/Swift
It freezes or hangs while using the voice method to interact with the application.  AWSLexVoiceButton does not work after the first initialization, according to me the problem is due to the memory leak and sudden increase in the CPU usage (up to 99%).
Please see the

[2021-04-12 05:29] TijiJoy commented on #3480
Hi,
Check the screenshot below for the details of SDK and this issue is
observed in almost all iPhones.

With Regards,
Tiji Joy

On Sat, Apr 10, 2021 at 12:05 AM Tim Schmelter ***@***.***>
wrote:

--
With Regards
Tiji Joy M

[2021-04-12 05:38] TijiJoy commented on #3480
From ios version 13.6 only we have recognised this issue.But not sure if it
was present in before versions also.Because we have tested this
scenario first in ios 13.6 version

On Mon, Apr 12, 2021 at 10:59 AM Acoustic Malayali ***@***.***>
wrote:

--
With Regards
Tiji Joy M

[2021-04-12 06:28] deveshmittalncs commented on #3141
Is there a parallel flag on the Android SDK as well?

[2021-04-12 07:53] mudilajaganios commented on #3141
Just see if it works for you

https://github.com/aws-amplify/amplify-ios/issues/1082

[2021-04-12 09:30] CSolanaM opened #3509 "Unable to read S3 Select Records Payload stream"
**State your question**

I'm trying to use the S3 Select feature directly from an iOS app without success. I've been reading the docs and trying different things, as I see the result is an event stream object that handles the chunked transfer. I've been able to get it in Node and Python, but not in iOS, I'm aware it's missing something that reads every received chunk, since the Payload is an `AWSS

[2021-04-12 20:41] palpatim commented on #3500
Also pinging @disa6302

[2021-04-13 16:15] samitaha2 opened #3511 "Cannot refresh access tokens"
**Describe the bug**
Once `defaultServiceConfiguration` is set, it cannot be changed. This means if a user's credentials expire mid-session, they cannot be refreshed

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Observed Behavior**
The keys/secret for 1&2 was printed.

**Expected Behavior**
I expect the key/secret for 3&4 to print.

**Areas of the SDK you are using (AWSMobileClient,

[2021-04-13 18:54] huluyige commented on #3474
Hello, any update? same here, transferUtility?.getMultiPartUploadTasks().result returns always empty. I checked it in s3 sdk' DB "transfer_utility_database", it does contain data of paused transferred task.

[2021-04-14 11:13] AlexKarpov commented on #313
Does anyone have have an error during compile saying: `Failed to build module 'AWSMobileClientXCF' from its module interface; it may have been damaged or it may have triggered a bug in the Swift compiler when it was produced`?

[2021-04-14 16:38] palpatim commented on #313
@AlexKarpov I encountered that error while we were testing & developing SPM itself. We resolved it by:

- Quit Xcode
- If applicable: Deintegrate CocoaPods (See the "Migrating to SPM from CocoaPods" of @Kilo-Loco's [blog post](https://aws.amazon.com/blogs/mobile/swift-package-manager-support-for-amplify/))
- Clear derived data
- Reopening the app in Xcode from the ".xcodeproj" file (not the "works

[2021-04-14 16:40] palpatim commented on #3480
OK, thanks for confirming. Can you provide the SDK version you're using?

[2021-04-14 16:54] palpatim commented on #3511
The AWSCognitoStaticCredentialsProvider is intended for use only by static credentials--that is, credentials that don't change over the course of your app session. If you are manually managing credentials via some other mechanism, you'll need to write a custom type that conforms to `AWSCredentialsProvider` and use it as the CredentialsProvider for your SDK configuration. The `AWSCredentialsProvide

[2021-04-15 06:48] TijiJoy commented on #3480
ios sdk version is 19.1

On Wed, Apr 14, 2021 at 10:11 PM Tim Schmelter ***@***.***>
wrote:

--
With Regards
Tiji Joy M

[2021-04-15 18:34] martaGonz opened #3532 "Which AWS service can I use for audio live streaming?"
I have seen services and tutorials for live streaming video only.
Can you recommend me any service, documentation or tutorial for getting this done using AWS?

[2021-04-16 16:39] AlexKarpov commented on #313
@palpatim Thank you! It helped.

[2021-04-16 17:08] royjit commented on #3480
@palpatim  meant the AWS iOS SDK version that you using in your app. The latest AWS iOS SDK version is 2.23.3 - https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.23.3. Please check whether you can reproduce the issue in the latest AWS iOS SDK.

[2021-04-17 02:48] TijiJoy commented on #3480
Hi,

I updated aws SDK to the latest version and still getting the same crash.

On Fri, Apr 16, 2021, 10:38 PM Jithin Roy ***@***.***> wrote:

[2021-04-17 11:14] VidhiDifferenz opened #3534 "manage multiple user session Cognito authentication"
I need to fetch the previously logged-in user's session id. For that, I'm using below code -

[code]

Now, on getSession, it's reauthenticating the user with startPasswordAuthentication delegate method but never returning the user session inside the block.

I have also added below delegate method for the authentication which is being called after getSession. But not sure how to handle that with th

[2021-04-17 19:23] Ricardo1980 commented on #2261
@MightyFine
I'm implementing the same flow.
To resend the code again, do you call AWSMobileClient.default().signOut() before calling signUp/signIn again?
Thanks.

[2021-04-18 07:23] MightyFine commented on #2261
Sorry @Ricardo1980, I've moved onto another role so I don't have access to that project and couldn't tell you exactly 😅 good luck though!!

[2021-04-19 09:04] taliwolk opened #3535 "uploadFileUsingMultiPart is not returning the task with the AWSS3TransferUtilityMultiPartUploadTask"
**Describe the bug**
upon calling **uploadFileUsingMultiPart**, the expected return value is the AWSTask containing the AWSS3TransferUtilityMultiPartUploadTask, from which the caller can retrieve the transferID in order to track the upload.

However it always returns an AWSTask with null result.

The reason is that the last return line of **internalUploadFileUsingMultiPart** is never reached, beca

[2021-04-19 16:26] jfranckretrieve opened #3537 "Assert failing for NSParameterAssert([modelClass isSubclassOfClass:AWSMTLModel.class]);"
**Describe the bug**
I am seeing an assert fail in + (NSValueTransformer *)awsmtl_JSONDictionaryTransformerWithModelClass:(Class)modelClass

The assert is on NSParameterAssert([modelClass isSubclassOfClass:AWSMTLModel.class]); and the class being passed in AWSS3CompletedMultipartUpload which does appear to inherit from AWSMTLModel.

**To Reproduce**
Upload a large video file that will result in an

[2021-04-20 06:39] taliwolk opened #3538 "uploadFileUsingMultiPart completionHandler is not returning the error from the AWS response."
**Describe the bug**
Upon using uploadFileUsingMultiPart, the completion handler is in some cases called with a task is error state, but with the error being null.

**To Reproduce**
I encountered this by inadvertently causing an error to be returned from AWS: I wanted to see if I can lower the part size used to be 2 MB instead of 5.
So I changed **AWSS3TransferUtilityMultiPartSize** to be 2 * 1024

[2021-04-20 08:14] yutao86 opened #3539 "[IoT] list thing types failed with error "the timestamp value is invalid:<null>""
**Describe the bug**
[IoT] list thing types failed with error `the timestamp value is invalid:<null>`

It only can be reproduced if one or more than one undeprecated thing types.
If all thing types are deprecated, listing will be successful.
Reason:  JSON parsing process treats an optional value as required. Normal thing type(not deprecated) has no "deprecationDate".

**To Reproduce**
Steps to rep

[2021-04-20 15:55] rromanchuk commented on #3485
This is my favorite product in the SDK, but  when it comes to`AWSDynamoDBObjectModel`, `AWSDynamoDBModeling` bridging between objective c/swift  is an absolute minefield of danger. Especially true if you have other sources writing to the document.

Maps/Sets are by far the worst to defend against.

Oddly enough, i am also getting an uptick of crashes here too. It's a nightmare to debug if you can'

[2021-04-21 09:28] taliwolk commented on #1697
Is there any progress regarding this issue?
I'm also having the same problem. This prevents multipart uploading from resuming reliably after app restart.

Would greatly appreciate any update!

[2021-04-21 12:28] taliwolk commented on #3049
Hi,
Is there any update regarding this issue? I'm encountering the same problem.
Multipart uploads will not reliably resume after app restart, because the app home directory sometimes change. (and always changes when launching from xcode).

Would appreciate any update,
Thanks!

[2021-04-22 15:06] lawmicha commented on #3534
Hi @VidhiDifferenz, could you provide more details for us reproduce/understand the problem better?

1. How did you set up the backend? Could you describe the authentication you case you have set up for your users? What happens when they go through your sign up/sign in flows?
2. What SDK version are you using?
3. Amplify CLI version, if any, are you using and steps taken?
4. Can you clarify, is the

[2021-04-22 16:16] palpatim commented on #3485
We haven't touched this code in quite a while other than standard version bumps.

@sha8wn

Do you have an example of such an object? As noted above, we rarely touch this code, so anything you can do to jump-start the investigation would be appreciated.

[2021-04-22 16:19] palpatim commented on #3049
Duplicate of https://github.com/aws-amplify/aws-sdk-ios/issues/1697

[2021-04-22 16:19] #3049 closed

[2021-04-22 18:11] lawmicha opened #3546 "AWSCloudWatch integration test inconsistent response"
**Describe the bug**
Running AWSCoudWatch integration test `testGetMetricStatisticsFailed` is inconsistent.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `testGetMetricStatisticsFailed`
[code]
2. Test fails differently and passes sometimes. The service call returns different results each time:

**Response 1**
[code]

**Response 2**
[code]

**Response 3**
[code]

**Response 4**
[code]

[2021-04-22 19:25] lawmicha opened #3550 "[AWSMobileClient] Dropin UI getToken call is stuck"
**Steps to reproduce**

1. Sign in to Cognito user pool using drop in UI
1. In a loop call getToken and getAWSCredentials multiple times.
1. Try to manually deprecate  the tokens while the above loops are executing, so that AWSMC will ask to signIn again. This is block all the pending getToken, getAWSCredential calls.
1. SignIn with the same user using dropInUI.
1. Notice that the blocked calls ar

[2021-04-23 19:29] lawmicha commented on #3508
Hi @jtarun4625 could you paste the images into this github issue? prefer to access them through github, and also the links are broken now

[2021-04-24 07:35] katsamsoft commented on #3508
https://ibb.co/TB3rTQK ....
Will add the images here as well.

[2021-04-25 10:27] 353243186 commented on #3049
Hi,
I have the same problem. Have you solved it?

[2021-04-25 10:55] sha8wn commented on #3485
@palpatim - I believe my initial post had the way to reproduce this issue and also how I solved it. This is the issue at a high level is handling nil values for objects perceived as `Maps` in my opinion.

A more deeper dive as follows:

- In an AWSDynamoDB table, there is a possibility to create a sophisticated object as a property. I believe this is something like a class / dictionary type object

[2021-04-26 08:20] 353243186 commented on #3049
Hello!
I have the same problem. Have you solved it?

[2021-04-26 13:38] taliwolk commented on #3049
Hi there,
My solution was to save the relative path to the transfer utility DB instead of the full path.

For that purpose I have added the following helper functions to file **AWSS3TransferUtilityDatabaseHelper.m**

[code]
And I'm using them when saving the file to the DB:

In function **insertTransferRequestInDB**, change line:
`@"file": file,`
to:
`@"file": [AWSS3TransferUtilityDatabaseHelper r

[2021-04-26 15:59] lawmicha commented on #3546
We can either update the test with more details in the request to get a consistent response, for example

Pass everything in, except for 1 parameter. Then consistently get `AWSCloudWatchErrorMissingRequiredParameter` with the exact message everytime

[2021-04-27 04:22] #3349 closed

[2021-04-27 06:57] taliwolk commented on #1697
Hi all,

Just wanted to refer your attention to the solution I wrote on
https://github.com/aws-amplify/aws-sdk-ios/issues/3049

I don't know if this is the way you prefer to handle it, but it's simple and I believe fixes the issue, if I didn't miss anything, so you may want to use it.

In short, on saving the "file" to the DB I remove the home directory from the path and save just the relative pat

[2021-04-27 07:53] 353243186 commented on #3049
There is no problem with this solution. But I have another problem. As you know, the task status is  because they reconstructed the slice upload task (the absolute address was used during the reconstruction process). They did not resume the previous upload progress before restarting, but started from the beginning, which means that they did not resume the upload at a breakpoint.

[2021-04-27 07:59] 353243186 commented on #3049
May I add your contact information? I am a developer from China。

[2021-04-27 15:03] bumbleparrot commented on #2373
Checking in on this.

Is the only way to get the metadata from an S3 item still to use the AWSS3 object's AWSS3.headObject(request) method?

So when I download an item from S3 (say an image), I have to make a SECOND network call just to get the associated metadata?

[2021-04-28 01:27] diegocstn commented on #2972
Closing due to inactivity.

[2021-04-28 01:27] #2972 closed

[2021-04-28 01:34] diegocstn commented on #3379
Closing due to inactivity.

[2021-04-28 01:34] #3379 closed

[2021-04-28 08:59] ffittschen opened #3562 "Binary XCFrameworks do not contain debug symbols"
**Describe the bug**
The binary xcframeworks distributed with Swift Package Manager via https://github.com/aws-amplify/aws-sdk-ios-spm do not contain any debug symbols.

**To Reproduce**
Steps to reproduce the behavior:
1. Integrate any target of the AWS SDK into an app that uses some crash reporter, such as Visual Studio AppCenter
2. Trigger a crash within the AWS SDK
3. Look at the crash logs in

[2021-04-28 10:59] HyunjoonKo opened #3563 "Segmentation fault: 11 occurs in Xcode 12.5."
**Describe the bug**
When I put code that tries to cancel a job using AWSS3TransferUtility in Xcode 12.5, a Segmentation fault occurs in SIL.
This code worked fine in previous versions of Xcode.

There is a problem with the extension function (I use the Share extension).

**To Reproduce**
Steps to reproduce the behavior:
1. Insert and build code that uses enumerateToAssignBlocksForUploadTask.
[cod

[2021-04-28 17:47] diegocstn commented on #3563
hi @HyunjoonKo, looks like a Swift compiler bug. We've already submitted a bug report a while ago https://bugs.swift.org/browse/SR-14264.

A possible workaround would be to expose a simpler function to Swift through an Objective-C category, like the following:
[code]

[2021-04-28 17:52] diegocstn commented on #3563
Duplicate of #3436

[2021-04-28 22:35] diegocstn commented on #3493
Closing due to inactivity.

[2021-04-28 22:35] #3493 closed

[2021-04-29 02:17] HyunjoonKo commented on #3563
@diegocstn Wow! It's a CompileSwift error, so Objective-C was able to avoid the problem. It's a solution I never even thought of. Thanks!

[2021-04-29 02:17] #3563 closed

[2021-04-29 04:23] rochabr commented on #3300
This bug is still happening in the current version(4.49.0)

[2021-04-29 11:45] radianttap commented on #2398
Where in the configuration.json you MigrationEnabled = true?

[2021-04-29 18:04] thisisabhash commented on #3508
Fix merged with https://github.com/awslabs/aws-sdk-ios-samples/pull/353. Please pull the latest changes from `main` to try it out.

[2021-04-29 18:04] #3508 closed

[2021-04-29 19:17] palpatim commented on #3550
This only applies to drop-in UI, not to `AWSMobileClient.signIn`?

[2021-04-29 19:41] palpatim commented on #2373
That is correct. To my knowledge, S3 doesn't return metadata with object data, so the feature request is to either add a new S3 service API to return object data plus metadata, to make a convenience call to the `AWSS3.headObject` before fulfilling the TransferUtility download, or to expose a convenience `getMetadata` or similar function.

[2021-04-29 20:02] lawmicha commented on #3546
PR has been merged

[2021-04-29 20:02] #3546 closed

[2021-04-29 20:56] VinnyScorsatto commented on #2398
@radianttap , I had to it in the code, by the time it did not work in the .json file

 static let configuration: [String: Any] = [
         "CognitoUserPool": [
           "Default": [
             "PoolId": "",
             "AppClientId": "",
             "Region": "",
             "MigrationEnabled": "YES"
           ]
         ],
         "Auth": [
             "Default": [
               "auth

[2021-04-29 22:54] fernandoaguilar commented on #2398
this is what worked for us
[code]

[2021-04-30 03:26] dlamon1 commented on #3431
Could there be an attribute added to the response object with a string stating which aspect of the auth threw the error e.g. password / username / email / phone. With just that attribute alone a switch case could easily be checked client side.

[2021-04-30 09:00] radianttap commented on #2398
Thank you both, will try as soon as I can. It's amazing to me that there's no documentation for the structure of this JSON, at least I could not find it anywhere.

[2021-04-30 10:47] radianttap commented on #2398
Adding `MigrationEnabled` param into `CognitoUserPool.Default` part of the config worked; now SDK obeys the auth flow type specified in `Auth.Default` section of the config.
Thanks again.

[2021-04-30 17:57] diegocstn commented on #3476
Closing due to inactivity.

[2021-04-30 17:57] #3476 closed

[2021-05-03 14:15] lawmicha commented on #3539
Hi @yutao86, sorry for the inconvenience caused. I was able to reproduce this, documenting the steps here

**Pre-req**

1. Cognito Identity authenticated role has access to IoT actions
2. Logging enabled in the app
[code]

3. On app launch, register `AWSIoT` using it's own `AWSServiceConfiguration`
[code]

4. Sign in using the app

5. Created a thing type in IoT console

Then i performed the API c

[2021-05-03 14:17] lawmicha commented on #3539
This may be related and some of the code paths in this PR may be useful for debugging: https://github.com/aws-amplify/aws-sdk-ios/pull/3182

[2021-05-03 23:46] dakrawczyk commented on #1158
Hi all, this is the closest thread I could find to password policies. I am wondering if it is possible to access the `AWSModel` object `AWSCognitoIdentityProviderPasswordPolicyType` (found here: [link](https://github.com/aws-amplify/aws-sdk-ios/blob/6dfaf175a3b551ea3b1f8764f71bceda8942a2f1/AWSCognitoIdentityProvider/AWSCognitoIdentityProviderModel.m#L4163))

We are trying to guide the user to crea

[2021-05-05 14:26] clipchak opened #3564 "MQTT IoT data manager connection status occasionally registers as AWSIoTMQTTStatusUnknown, connectUsingWebSocket does not return a status callback"
**Describe the bug:**
In iOS 13+, when our application has not been built and ran for a certain amount of time, AWS IoT Data Manager occasionally has a connection status of AWSIoTMQTTStatusUnknown. MQTT connectUsingWebSocket then does not return any status callback. This issue only occurs after our application has not been built and ran for an extended amount of time and never occurs on successive

[2021-05-05 23:23] ruiguoamz commented on #3564
Hi @clipchak Thanks for reaching out

1. Could you provide us how do you configure IoT in AWS IoT console?
2. And also a more specific reproduction steps as in format below

[2021-05-06 05:43] yutao86 commented on #3539
@lawmicha yes, deserialization failure. Should handle "deprecationDate" as an optional field.

[2021-05-06 13:21] florentdouine commented on #3303
Hi ! Do you have any updates on this issue ?
Thanks

[2021-05-07 00:53] clipchak commented on #3564
Hi @ruiguoamz thank you for the reply.
Could you specify what you mean when you ask how IoT is configured in AWS IoT console?

Also, to reproduce the issue we are seeing, this issue occurs when our application hasn't been built and ran for an unspecified amount of time (at least 30 minutes). To describe this issue more specifically, the registerToAwsIoT() and connectingToAwsIoT() methods in my pos

[2021-05-07 11:58] feitiandalong opened #3566 "BackgroundSession <96751838-47CB-451D-BF2D-1B9FCF60CAA0> connection to background transfer daemon interrupted"
**Describe the bug**

I use the dynamic creation configuration, AWSS3TransferUtility to upload the file, and when I return to the background, the file has been uploaded successfully. But no system method is called:

-(void) application:(UIApplication *)application
    handleEventsForBackgroundURLSession:(NSString *)identifier
    completionHandler:(void (^)(void))completionHandler;

I am using the

[2021-05-08 02:16] lgh89 opened #3568 "There is a conflict between amplify and awsiot Library"
There is a conflict between amplify and awsiot Library；
My podfile is as follows:
[code]

Compilation error:
In file included from /Users/lgh/Desktop/awsProject/Todo/Pods/AWSTranscribeStreaming/AWSTranscribeStreaming/Internal/AWSSRWebSocketDelegateAdaptor.m:17:
/Users/lgh/Desktop/awsProject/Todo/Pods/AWSTranscribeStreaming/AWSTranscribeStreaming/Internal/AWSSRWebSocketDelegateAdaptor.h:17:9: fatal

[2021-05-08 06:12] #3566 closed

[2021-05-10 12:10] RahulWhiz opened #3569 "Error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=2 "(null)" UserInfo={Server=AmazonS3, Transfer-Encoding=Identity, Connection=close, Content-Type=application/xml, Date=Thu, 06 May 2021 11:17:04 GMT, x-amz-request-id=G08XH9BJXF245TEZ, x-amz-id-2=kd/dynZ7oiyyfut1gb7iwezVW63XL+cmN54R6LN7fyiS7R2icbQsDWXaU5a3vRYjY44FUYgJick=}"
**Describe the bug**
When the user login and calls AWSS3TransferUtilityUploadTask then it works perfectly and gets success in response. But once the user logout and then login with a different user then AWSS3TransferUtilityUploadCompletionHandlerBlock gets failed.
**get the following error: **
Error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=2 "(null)" UserInfo={Server=AmazonS3, Tra

[2021-05-10 18:45] jarvis32123 opened #3570 "Hosted UI signOutOptions completion not called if it was previously cancelled by the user."
I use this pattern to log out of AWS using the hosted UI. This pops up the safari browser and if you click "Continue", it will sign you out and the completion will then be called. This is good because I can ensure the user is logged out before I navigate them to a new viewcontroller.

[code]

There is one issue: If the user clicks "cancel" to the alert that comes up asking them to navigate to safa

[2021-05-10 19:24] jarvis32123 opened #3571 "signOut with options shows incorrect alert to launch browser."
When I use this code to sign out it shows me an alert that says "sign in" when it should show "sign out. This is confusing the the end user and they may not press "continue" to sign out.

[code]

<img width="262" alt="Screen Shot 2021-05-10 at 12 21 50 PM" src="https://user-images.githubusercontent.com/50498410/117713441-859a0980-b18a-11eb-881e-fb3d8c199e25.png">

2.24.0

[2021-05-11 00:18] palpatim commented on #3568
To further clarify: I would only expect to see this happen if a customer app is including both the AWSIoT SDK *and* the AWSPredictionsPlugin

[2021-05-11 06:04] bishowu opened #3572 "Data packet is parsed"
**Describe the bug**
Use 'Burp Suite' as proxy agent, the data packets to AWS Lambda can be captured and parsed. All information are public.
Do I need more settings to avoid this issue ?

**To Reproduce**
Steps to reproduce the behavior:
1. Set up Burp Suite and generate CA certificate
2. Import CA certificate to iPhone and trust the certificate
3. Operate iPhone app and capture by Burp

**Observe

[2021-05-11 09:18] lgh89 opened #3574 "How can I attach the myIOTPolicy policy to the user’s Cognito Identity Id in code?"
**Describe the bug**

How can I attach the myIOTPolicy policy to the user’s Cognito Identity Id in code?
Just like Android code：
AttachPolicyRequest attachPolicyReq = new AttachPolicyRequest();
attachPolicyReq.setPolicyName("myIOTPolicy"); // name of your IOT AWS policy
attachPolicyReq.setTarget(AWSMobileClient.getInstance().getIdentityId());
AWSIotClient mIotAndroidClient = new AWSIotClient(AWSMo

[2021-05-11 11:04] raven-connected commented on #3303
Pinging this issue.   Any updates?

[2021-05-11 18:33] jonathantorrens425 opened #3573 "AWSS3TransferUtility Does not Appear to Work for Buckets with Hyphens"
**Describe the bug**
When attempting to use the iOS AWSS3TransferUtility SDK to upload files to S3, the uploads fail for buckets that have hyphens in the name. This appears to be an issue that other developers have run into when using the SDK. It does work with buckets that have no hyphens in the bucket name.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to upload to a bucket with

[2021-05-11 23:30] palpatim commented on #3573
Can you clarify? You say "hyphens", but the error is about "periods". "Hyphens" (that is, the `-` character or ASCII 0x2d) are supported in bucket names, which we prove every time we run our TransferUtility integration tests (which use bucket names containing hyphens).

Periods, on the other hand (that is, the `.` character or ASCII 0x2e) are *not* supported in bucket names. This is because Transf

[2021-05-11 23:34] palpatim commented on #3569
The latest version is 2.24.0, and we have made changes to the authentication code in the intervening time between 2.19.0 and 2.24.0.

Can you provide additional info? What calls are you using to log the user in & out?

[2021-05-11 23:41] palpatim commented on #3571
I'm not sure what you're asking. The flow is iOS' standard implementation of OAuth, which explicitly prevents an app from knowing anything about the underlying auth flow, to protect user credentials like username & password. What are you concerned about?

[2021-05-12 12:13] Rishabh6211 commented on #3083
Hi @preethiChimerla did you solve it yet.
I am facing same issue

[2021-05-12 13:40] RahulWhiz commented on #3569
Actually, We are using AWSCognito (2.19.1), AWSCore (2.21.0), AWSCognitoIdentityProvider (2.21.0),  and AWSS3 (2.21.0). The latest version of the AWSCognito is 2.19.1 that's the reason we have used v2.19.1.

We are getting the following error when I have tried to Update AWSCore to 2.24.0
"CocoaPods could not find compatible versions for pod "AWSCore"(2.24.0)."

Please let me know If I am missing a

[2021-05-12 18:37] jonathantorrens425 commented on #3573
Hi, thanks for the quick response. The error does indeed state that periods can't be used, but in our experience, the `-` character is what is triggering the error. We tried uploading to a bucket with no hyphens/dashes, and one with hyphen/dashes in the name. The bucket with hyphens/dashes returned the above error.

The upload that failed on a bucket called `cognoa-dev` but succeeded on a bucket c

[2021-05-12 19:37] palpatim commented on #3573
@jonathantorrens425 As mentioned, dashes are definitely supported, and I've proven that within the past hour by running integration tests against buckets with dashes in the name. If you can provide more details around configuration, API invocations, etc, we can try to troubleshoot further.

[2021-05-14 06:18] RahulWhiz commented on #3569
Please advise

[2021-05-14 16:58] palpatim commented on #3569
`AWSCognito` has been deprecated for a couple of years, and we removed it altogether in December 2020. You probably won't be able to use different versions of SDK components together--we usually have validation to ensure that the versions of each SDK match Core. We haven't made a lot of code changes to the S3 SDK since 2.19.0, but we have made one that might be relevant: https://github.com/aws-amp

[2021-05-15 12:01] Ricardo1980 commented on #2024
I was going to open exactly the same issue until I realised it was already done.
This should be public.

[2021-05-17 08:53] nastasiupta opened #3582 "How to set AWSNetworkingRetryType.shouldCorrectClockSkewAndRetry for AWSS3TransferUtility"
I want to set `shouldCorrectClockSkewAndRetry` when using `let transferUtility = AWSS3TransferUtility.s3TransferUtility(forKey: "USEast1S3TransferUtility")` to upload a file to server.
If I set my device time to manual and change it the current date - 30 mins, for example, and using `transferUtility?.uploadFile(fileURL, bucket: bucketName, key:...` I get an error while uploading. I want to retry t

[2021-05-17 12:34] RahulWhiz commented on #3569
Could you please tell me What functionality AWSCognito had? We are using AWSCognito v2.19.1. Actually, what happened, I have commented AWSCognito in the podfile and installed the pod, still my app working fine. That means We are not using AWSCognito Or Other AWS frameworks use It internally. Please advise.

[2021-05-17 15:41] oleg-moseyko opened #3583 "uploadUsingMultiPart error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=2"
**Describe the bug**
1. I used transferUtility.uploadData and it works perfect
2. Switched to transferUtility.uploadUsingMultiPart and have such process behavior with error:
image.jpg Upload Starting!
image.jpg progress: 52 %
image.jpg progress: 78 %
image.jpg progress: 100 %
image.jpg Failed with error: Error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=2 "(null)" UserInfo={Server=Am

[2021-05-18 12:33] dpwspoon commented on #3539
Not sure if this is the proper fix, but I was able to work around this by changing this line: https://github.com/aws-amplify/aws-sdk-ios/blob/2ce94a7fda175ed6ffd86c993b0ace219b926ac2/AWSCore/Serialization/AWSTimestampSerialization.m#L56

to

[code]

[2021-05-18 15:15] royjit commented on #2434
Closing this ticket due to no activity.

[2021-05-18 15:15] #2434 closed

[2021-05-18 15:16] royjit commented on #3168
Closing this ticket due to no activity.

[2021-05-18 15:16] #3168 closed

[2021-05-18 15:16] royjit commented on #2553
Closing this ticket due to no activity.

[2021-05-18 15:16] #2553 closed

[2021-05-18 15:17] royjit commented on #3483
Closing this ticket due to no activity.

[2021-05-18 15:17] #3483 closed

[2021-05-19 08:26] shivam-heady commented on #3431
I've been facing a similar situation re: error handling.
There can be a lot of possibilities of what went wrong during any authentication flow and we should be in a position to convey this to the user to ensure they're aware of next steps on their part.

One possible workaround I've been thinking of is to show the user a verbose message of _what could've possibly gone wrong_ and how best they can

[2021-05-19 22:08] jarvis32123 commented on #3571
@palpatim I think I misunderstood. Never mind, thank you.

[2021-05-20 04:24] doc-rj-celltrak opened #3586 "AWSMobileClient showSignIn() failure on iOS 14.5"
**Describe the bug**
Starting in iOS 14.5, there is a crash when calling showSignIn() and starting an ASWebAuthenticationSession. The problem is that the callback uri needs to be url encoded.

A potential solution is found here:  https://developer.apple.com/forums/thread/679251?answerId=675057022#675057022

The crash looks like this:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Ca

[2021-05-20 04:31] doc-rj-celltrak commented on #3586
Looks like this was fixed in issue 1086 and release 2.23.1.  I'll leave this open until I can confirm.

[2021-05-20 05:30] doc-rj-celltrak commented on #3586
Closing, this was fixed in 2.23.1.

[2021-05-20 05:30] #3586 closed

[2021-05-22 00:59] royjit commented on #3583
Hi @oleg-moseyko

Could you please provide us the following information to debug further?

- AWSSDK Version: [e.g. 2.6.29]
- Dependency Manager: [e.g. Cocoapods, Carthage]
- Swift Version : [e.g. 4.0]
- Xcode Version: [e.g. 11.4]
- Does this issue happen when you the app is in background?
- Is the issue reproducible consistently for multi part uploads?
- What is the average size of file trying to

[2021-05-24 17:37] clipchak commented on #3564
Hi @ruiguoamz ,

After further investigation, the issue seems to be regarding sessions. When the app has been sitting for 15 minutes or so and the session expires, the calls to IoT are ignored. However if the app is terminated or a user logs out and logs back in, it works perfectly fine. The solutions i've tried were trying to use the AWSMobileClient.default.initialize() method which worked when A

[2021-05-24 19:50] royjit commented on #1278
Hi all, apologies for the delayed response here. Could you please try the latest AWS iOS SDK, the fix - https://github.com/aws-amplify/aws-sdk-ios/pull/3501 should address this issue.

[2021-05-24 22:53] palpatim commented on #3569
AWSCognito was used for "Cognito Sync", which was a data synchronization feature that has been replaced AWS AppSync. No frameworks use it internally. Your app may have used it, but it's also possible that it was in your dependency tree because the Pod contained the word "Cognito" which makes it sound like something that you should pull in to get auth working. :)

[2021-05-24 23:04] #3571 closed

[2021-05-24 23:41] jamescrowley commented on #2513
@palpatim Just wondering if you've had a chance to update documentation / code samples on this approach yet? Many thanks.

[2021-05-25 18:13] michaeljajou commented on #2633
Are there any updates on this issue? It seems that everywhere I look, no one has given a concrete answer as to how we should implement a native sign in with Apple experience. All I am reading is "we are working on this," yet i've seen posts from 2 years ago that say this exact thing. This is such a stressful experience, and other cloud services do not have this problem (Firebase & Realm both suppo

[2021-05-26 05:20] jeky1990 commented on #2016
@wooj2 same issue with the latest SDK also...

check this crash report.

Date/Time:           2021-05-26 09:44:05.6241 +0530
Launch Time:         2021-05-26 09:28:06.0107 +0530
OS Version:          iPhone OS 14.5.1 (18E212)
Release Type:        User
Baseband Version:    8.52.01
Report Version:      104

Exception Type:  EXC_BREAKPOINT (SIGTRAP)
Exception Codes: 0x0000000000000001, 0x0000000184cff0

[2021-05-26 11:14] jacobsapps commented on #1937
Hey, I'm trying to get Sign In With Apple to work in my app - obviously if I showed users a web UI to do that, it'd be pretty egregious. I'm able to create and sign a user in through the Apple services and sign in via federatedSignIn but as others have noticed nothing is created in a user pool.

[2021-05-27 06:19] pwinterh opened #3597 "getCurrentUser.username returns userID instead of username"
**Describe the bug**
The amplify sdk returns the userID instead of the username when using Amplify.Auth.getCurrentUser()?.username.
In our setup the username is the email of the user, so i would expect that the email is than also returned

**To Reproduce**
Steps to reproduce the behavior:
1. Register a new user account
2. Sign In with with the user account
3. Access the current user with Amplify.A

[2021-05-27 23:26] brennanMKE opened #3600 "AWSPinpointEndpointProfile fails with unarchiving with NSCoding"
**Describe the bug**

NSCoding fails with AWSPinpointEndpointProfile when attributes are added. When the archived data is unarchived it fails with the error below.

[code]

**To Reproduce**
Steps to reproduce the behavior:

Add the following unit test.

[code]

**Observed Behavior**

**Expected Behavior**

NSCoding should allow for unarchiving this type.

**Stack Trace**

The unit test above is su

[2021-05-27 23:27] brennanMKE commented on #3600
Below is the full set of unit tests for the repro.

[code]

[2021-05-28 18:32] royjit commented on #1737
I am hoping that this PR fixes the issue - https://github.com/aws-amplify/aws-sdk-ios/pull/3565 . This will be available in the next release. In the mean time would it be possible for you to test this change by directly pointing to the main branch?

[2021-05-28 19:19] lawmicha commented on #3539
I tested the API call with the branch from https://github.com/aws-amplify/aws-sdk-ios/pull/3587 and was able to get a successfully deserialized response:

[code]

[2021-05-28 19:21] lawmicha commented on #3539
Hi @yutao86 we'll update this when https://github.com/aws-amplify/aws-sdk-ios/pull/3587 has been merged and released. In the meantime, if you're using pods, feel free to give it a try using that branch, ie.
[code]

[2021-05-28 23:47] royjit commented on #3480
I have tried following your step and was not able to reproduce the crash. These are the steps I followed:

1. Created two user in AWS console - "testuser1" and "testuser2". The two user are in state `FORCE_CHANGE_PASSWORD `
2. Created a sample app and called `AWSMobileClient.signIn` with "testuser1" and then `AWSMobileClient.confirmSignIn` with new password. The user was signed in successfully
3.

[2021-05-29 00:00] royjit commented on #1307
Currently SDK does not set the status change during the flow. Possible fix is to call `getIdentityId` to update the identity which will use the passed in token. The call will return `notAuthorized` error and we can use this error to update the user state.

We need to make sure that this is not a blocking call in case of session expiry situation.

[2021-05-29 17:29] TijiJoy commented on #3480
Hi ,

Did you close the application from background before doing second user
login?.In this case app will work.

But if you just login as user1 signout and move to login screen and login
with second user then app will crash when you call confirm signin.

On Sat, May 29, 2021, 5:17 AM Jithin Roy ***@***.***> wrote:

[2021-05-31 04:03] enteleca commented on #2633
Agreed. Can we get an update on this? This seems to be a core feature that hasn't been looked into at all...

[2021-05-31 10:06] valentary commented on #3168
Sorry not to get back on this. I have since tracked down the error, the credentials are being lost by the Transfer Utility at some point while preparing for the upload.
Using the debugger and stepping through, the credentials are lost in the internalUploadFileUsingMultiPart method, when it calls validateParameters, suddenly, the credentialsProvider property of the configuration becomes unset

[2021-05-31 11:46] valentary commented on #3168
That might not be the precise spot, but the credentialsProvider is lost at some point,

[2021-06-01 09:12] oleg-moseyko commented on #3583
Any news?)

[2021-06-01 14:00] cameroncooke commented on #313
I'm having trouble consuming the AWS Mobile SDK as a depdencncy of another SPM package. My `Package.swift` file looks like:

[code]

Getting error:

[code]

I've tried without specking the package name in the dependency but then it errors saying `unknown package 'AWSiOSSDKV2' in dependencies of target 'MyPackage'; valid packages are: 'aws-sdk-ios-spm'`

[2021-06-01 14:10] royjit commented on #1307
To verify that the token is valid immediately after sign in, you can call `getAWSCredentials` which will set the right status.

[2021-06-01 14:12] royjit commented on #3480
I did not close the app before second user login. Please provide us with the crash stack trace to debug further.

[2021-06-01 19:12] brennanMKE commented on #3600
Merged to main.

[2021-06-01 19:12] #3600 closed

[2021-06-01 20:06] #313 closed

[2021-06-02 17:51] #3534 closed

[2021-06-02 17:51] #3486 closed

[2021-06-02 17:51] #3230 closed

[2021-06-02 17:51] #3395 closed

[2021-06-03 04:34] Corgizzz opened #3618 "No error message with Transfer Utility when loss network"
**State your question**

I am using TransferUtility to upload my data to S3, When task in progressing I put my phone on airplane mode or close network , The task will be pause but I didn't get any error message or handler, I know that network become connection the task will automatically upload again, Is there any error response to tell me the task is paused ?

**Which AWS Services are you utilizi

[2021-06-03 08:22] 18295718240 commented on #1245
Please ask me how to solve it in the end. I also encounter the same problem. When guest users click live, error to get channel endpoint
Error to get channel endpoint: Error Domain=com.amazonaws.AWSKinesisVideoErrorDomain Code=1 "null" UserInfo={NSLocalizedDescription=null, NSLocalizedFailureReason=AccessDeniedException:http://internal.amazon.com/coral/com.amazon.coral.service/}

[2021-06-03 18:00] royjit commented on #1737
The bug fix is released in the latest version of AWS iOS SDK - https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.24.2

[2021-06-04 16:08] #3564 closed

[2021-06-04 16:08] clipchak commented on #3564
Closed, the issue was that occasionally our data manager was being retrieved before it was properly initialized.

[2021-06-04 17:15] lawmicha commented on #3539
this has been released in https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.24.2 please let us know if you are still seeing issues

[2021-06-04 17:15] #3539 closed

[2021-06-04 17:57] lawmicha commented on #1307
please see above work around https://github.com/aws-amplify/aws-sdk-ios/issues/1307#issuecomment-852157967

[2021-06-04 17:57] #1307 closed

[2021-06-04 21:09] brennanMKE commented on #3303
@florentdouine I have tried to reproduce this crash by disconnecting from IoT when moving into the background. It has not caused a runtime exception for me. Could you provide a few of the crash reports with more details? There may be some activity in other stack frames which are relevant. What I see is the crash appears related to closing the stream and removing it from the run loop. It is possibl

[2021-06-04 23:10] brennanMKE opened #3622 "Remove strip-frameworks.sh AWSCore build product"
**Describe the bug**

A shell script is included in the build product when it should not be a part of the build target.

**To Reproduce**

1. Build AWSCore
2. View the contents in the .framework directory
3. See strip-frameworks.sh is in there

**Observed Behavior**

Script is included as a resource in the framework.

**Expected Behavior**

This is a script meant to be run as a part of the build,

[2021-06-04 23:44] brennanMKE commented on #3562
Updated CircleCi script to include debug files and confirmed with FileMerge between the output before and after the update.

<img width="1129" alt="XCF-Debug" src="https://user-images.githubusercontent.com/277419/120872613-0ebb1b00-c554-11eb-8b6e-db090de69327.png">

[2021-06-05 08:58] winfast opened #3625 "iOS crash in APP enterbackground and close MQTT"
**Describe the bug**
A clear and concise description of what the bug is. Please be as detailed as possible and help us help you.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Observed Behavior**

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Stack Trace**
Please provide a stac

[2021-06-07 22:28] royjit commented on #3625
Closing this as duplicate, please add more details to this thread - https://github.com/aws-amplify/aws-sdk-ios/issues/3303

[2021-06-07 22:28] #3625 closed

[2021-06-08 17:08] royjit commented on #3574
Do you have `TestFullPolicy` IAM policy defined in your  AWS IoT Console? Looks like the error is `ResourceNotFoundException` suggesting that the policy might not be present?

[2021-06-08 23:12] jamescrowley opened #3627 "Clarify when to use AWSS3TransferUtility vs Amplify Storage?"
Can you clarify when someone should use the AWSS3TransferUtility and when we should be using the Amplify.Storage mechanism, when implementing a new project?

Are there any functionality differences between them, or limitations on how many files you can queue for background upload?

The examples for AWSS3TransferUtility seem to require referencing the AWSMobileClient (https://github.com/awslabs/aws

[2021-06-09 00:02] royjit commented on #3570
I could not reproduce this issue in my sample app. Followed the same steps as you mentioned. Could you please provide more  information?

1. Is this issue consistently reproducible?
2. Did you restart the app after the first `Cancel` during signout?
3. What version of iOS SDK you are  using?
4. Can you provide the code snippet that used to signIn the user.

[2021-06-09 12:03] EitanGoldfrad commented on #3563
I'm able to cancel uploading tasks like this:

`            let uploadTasks = AWSS3TransferUtility.default().getUploadTasks().result

            for task in uploadTasks! {
                (task as? AWSS3TransferUtilityUploadTask)?.cancel()
            }`

[2021-06-09 23:43] cosimtaiuz commented on #2978
Could you explain how you got the files from S3 without including the S3 library?

[2021-06-12 02:20] cosimtaiuz opened #3632 "Can't use the Storage library with App Clips because of background downloads"
The S3 storage library cannot be used with App Clips because such library defaults to downloading using background tasks, which App Clips don't allow.

It would be great to have a way to force the download to happen in the foreground to obviate this issue.

[2021-06-14 18:44] brennanMKE commented on #3303
@florentdouine Please PM me if you'd like to get on a call to go over this issue. We'd like to understand what could be causing these crashes.

[2021-06-14 22:54] palpatim commented on #3583
We've tested multipart uploads previously and they work as expected, so we'll have to try to reproduce this issue with a local sample.

[2021-06-15 17:55] OwenCozine opened #3634 "Issue using cognito with xcode"
**State your question**
I have been unable to get cognito to work on the app I am building. I copied the AWS IOS tutorial app and have been using the same code for sign in. However, whenever I try to run the app I get stuck on the sign in screen and have this error:
Sign in failed AuthError: There is already a user which is signed in. Please log out the user before calling showSignIn.
Any idea how

[2021-06-15 17:56] palpatim commented on #3618
Hi @Corgizzz,

You are correct, the task won't report an error until the [`timeoutIntervalForResource`](https://docs.amplify.aws/sdk/storage/transfer-utility/q/platform/ios#timeoutintervalforresource) expires. Behind the scenes, TransferUtility starts the transfer with an NSURLSession configured for background operation, and that task will automatically retry up to the configured timeout, so you w

[2021-06-16 10:07] TijiJoy commented on #3480
<img width="1440" alt="Screenshot 2021-06-01 at 9 42 44 PM" src="https://user-images.githubusercontent.com/31757119/122200315-8c6a1980-ceb8-11eb-97b8-d86e832b5624.png">
Hi,

The error is still reproducible at our end.It actually happens with third user.
1)User  'A'  already logged in with his credentials
2) User  'A ' logout from application
3)Use new user Testuser1 credentials  and confirm signin

[2021-06-16 18:32] palpatim commented on #3622
Now that we're building XCFrameworks, we should be able to remove this altogether, and remove references from it in docs.

@royjit, thoughts?

[2021-06-16 21:36] palpatim commented on #3632
Currently, the AWS SDK for iOS is only supported for iOS apps, not extensions, app clips, or widgets. Closing this issue in favor of the [open feature request](https://github.com/aws-amplify/aws-sdk-ios/issues/2978)

[2021-06-16 21:36] #3632 closed

[2021-06-16 21:42] palpatim commented on #3634
Can you specify which tutorial app you're using? There are a few out there, and it will be helpful to start from the same place.

Does the tutorial app work as expected? If so, what changes did you make between the tutorial and your app code that might account for the different behavior?

[2021-06-16 23:25] #3511 closed

[2021-06-16 23:25] #3573 closed

[2021-06-16 23:25] #1278 closed

[2021-06-16 23:25] #1737 closed

[2021-06-17 04:20] jamescrowley opened #3643 "Upload to S3 slows to halt after queueing multiple files"
**Describe the bug**

I need to queue several thousand images for background upload into S3. However, the more files I add by calling `Amplify.Storage.uploadFile` the slower everything seems to get - after about 20 it essentially seem to be doing little at all. It looks as if there's no queueing mechanism and Amplify is just trying to upload everything at once.

I'm not sure if this is a bug or a

[2021-06-17 08:11] jamescrowley commented on #3643
Sorry, closing - should have been in the amplify repo

[2021-06-17 08:11] #3643 closed

[2021-06-17 21:08] #3634 closed

[2021-06-18 08:14] Corgizzz commented on #3618
Hi @palpatim ,
I try add `timeoutIntervalForResource` and `retryLimit` but I still not receieve any error,
Will this issue be fixed in the future ? or Now is the final usecase , Thanks

Regards

[2021-06-18 16:11] palpatim commented on #2313
We haven't been able to reproduce these. We're hoping to get some additional information from folks reporting similar issues on #3303.

[2021-06-18 18:08] brennanMKE commented on #3627
@jamescrowley For now you will be better off using Transfer Utility for background transfers. As for the number of pending requests the primary factor to consider is whether the transfers will complete before your pre-signed URLs expire since the OS will be using them when the transfer can be processed. If you have the background with [allowsCellularAccess] set to false on [URLSessionConfiguration

[2021-06-18 18:26] palpatim commented on #3538
@brennanMKE has explored the function where this is being set, and we are investigating the best way forward. The challenge is that we don't want to introduce breaking changes--some customers may rely on the fact that the errors are reported in different places for different failure scenarios.

Next step:
- Provide an example of monitoring for these failures. If this does not give us sufficient vi

[2021-06-18 23:28] palpatim commented on #3618
What values did you set each of those properties to?

[2021-06-19 12:28] mregnauld opened #3644 "Downloading file from S3 does not exist locally before the end of the download"
In my iOS app, I download an audio file from an AWS S3 bucket using the following:

[code]

The download runs smoothly and I can track the downloading progress without any issue. When the download is complete, I got my `music.ogg` file at the expected URL.

That said, I want to access the file ***while*** it's downloading, since I need to play the music while it's downloading.

And when I check if

[2021-06-19 21:51] jamescrowley commented on #3627
@brennanMKE thanks - good to know. Is there any chance you can clarify exactly what the limitations currently are for amplify storage for background transfers? We currently have an amplify storage implementation, and just want to understand what issues to look out for so we can decide if it will be a problem for our use case

[2021-06-22 16:55] yoasha opened #3646 "Xcode Analyze warnings"
- I am using Xcode 12.5.1
- I am using cocoapods  with the following:
   pod 'AWSCore'
   pod 'AWSS3'

Now this is not a bug report but rather report about Xcode Analyzer warnings. I assume Xcode warnings might eventually lead to actual bugs so it's probably better to to target them sooner than later.

When choosing Xcode > Product > Analyze, there are 4 different warnings as appear in the followi

[2021-06-22 20:29] jarvis32123 opened #3647 "Can you sign in with Hosted UI and not have the browser cache your credentials?"
Is there a way to specify the browser to not cache the login credentials when using the sign in with hosted UI function?

Here is the code I use to launch and log in via hosted UI:

[code]

I do know that you can sign out and clear that browser cache, but we have found sometimes it doesn't clear it. And also, there is a bigger issue: if the user uninstalls the mobile app without logging out, the n

[2021-06-23 07:12] Corgizzz commented on #3618
I set timeoutIntervalForResource = 20, retryLimit = 3

[2021-06-23 09:53] Hareesh17 opened #3648 "Parse Issue"
I'm using OpenCV to draw spots on face. while using openCV, I got below errors,
1. Out-of-line definition of '~basic_ostream<_CharT, _Traits>' does not match any declaration in 'basic_ostream<_CharT, _Traits>'
2. Expected member name or ';' after declaration specifiers

Latest OpenCV used. Added OpenCV in app, iOS Version 14.2

Please help me

[2021-06-25 01:23] diegocstn commented on #3646
Hi @yoasha, thanks for taking to report this. We'll investigate more and post our findings here

[2021-06-28 17:34] brennanMKE commented on #3568
@lgh89 I've recreated the build with your Podfile. That was very helpful. Thanks for making the repro easy. What I found is the headers which was not found is a private header in the *AWSTranscribeStreaming* framework. The import statements being used in this source file are not meant for importing headers from frameworks. I have updated them and prepared a [PR](https://github.com/aws-amplify/aws-

[2021-06-28 18:24] brennanMKE commented on #3648
@Hareesh17 This repo is for the AWS SDK. If you need help with OpenCV I would have you create an issue with [that repo](https://github.com/opencv/opencv).

[2021-06-28 18:24] #3648 closed

[2021-06-29 00:13] danquack commented on #3357
Please keep this issue open.

[2021-06-29 00:34] ENRAG3DCHICKEN commented on #1538
Solution is to use Firebase (j/k not j/k)

[2021-06-29 07:51] idrougge commented on #2821
I would appreciate a followup from AWS here.

[2021-06-29 12:53] gt-in opened #3654 "updateUserAttributes errors about not being logged, despite being logged in?"
After updating from an older version of the SDK, calls to updateUserAttributes began failing, claiming there was no user signed in, despite a user being logged in.

My app is using userPools, but I've tracked this down to the guard statement in updateUserAttributes in AWSMobileClientExtensions (that did not exist previous to SDK 2.15 or so).

It seems that the internal federationProvider variable

[2021-06-29 16:24] oleg-moseyko commented on #3583
It looks like you guys are in no hurry to help 😕 so  i found the reason of issue.
Added:
        //Setup Log level
        AWSDDLog.sharedInstance.logLevel = .debug
        AWSDDLog.add(AWSDDTTYLogger.sharedInstance)

in log file found this:

2021-06-29 18:25:42:815 Tmp[22686:4105178] Received a 500, 503 or 400 error. Response Data is []
2021-06-29 18:25:42:817 Tmp[22686:4105178] Bucket name 'my.b

[2021-06-29 17:30] oleg-moseyko commented on #2157
Have the same issue

[2021-06-29 20:29] brendenk1 opened #3656 "AWSAuthCore & AWSCognitoIdentityProviderASF Fatal Error Xcode 13 SPM"
**Describe the bug**
Adding AWSiOSSDKV2 to Xcode 13 project using SPM and selecting AWSAuthCore and / or AWSCognitoIdentityProviderASF causes fatal error when launching application.

**To Reproduce**
Steps to reproduce the behavior:
1. Add ASWiOSSDKV2 to project packages
2. Select AWSAuthCore and or AWSCognitoIdentityProviderASF
3. Build and run project
4. See error

**Observed Behavior**

After b

[2021-06-29 22:15] brennanMKE commented on #3656
@brendenk1 Have you linked and embedded the required frameworks in your app?

See [Adding Package Dependencies to Your App].

[Adding Package Dependencies to Your App]: https://developer.apple.com/documentation/swift_packages/adding_package_dependencies_to_your_app

[2021-06-30 01:22] brendenk1 commented on #3656
@brennanMKE yep! Added and use a number of Swift packages in a variety of projects.

What's interesting about this is it will crash without even adding a single import or calling any code in the library. Just simply adding the SPM with those two modules causes the issue.

[2021-06-30 02:53] qingliu-github opened #3657 "[Lex] Multi-language issue when using iOS SDK - AWSLexInteractionKit"
**Describe the bug**
When we are using `AWSLexInteractionKit`, we have noticed that for Japanese language, Lex bot response text contains question marks instead of actual Japanese characters. For European languages such as Spanish, French etc., they seem to work fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a Lex bot that returns text in Japanese
2. Use `AWSLexInteractionKi

[2021-06-30 12:53] btrane commented on #3656
I'm seeing this in Xcode 12.5 as well. It _does_ resolve the package and build successfully, but crashes on startup with the same message:
[code]

Here's my stack trace:
[code]
[code]

[2021-06-30 18:31] brennanMKE commented on #3656
@brendenk1 & @btrane Can you confirm that you are also bringing in AWSCore?

See the attached files which includes an Xcode workspace, Swift package and an Xcode project for the app which uses AWSCognitoIdentityProviderASF. It brings in AWSCore as well. It is able to build and run without the error you are seeing. Can you try it to see how it works for you?

[Issue3656.zip](https://github.com/aws-

[2021-07-02 00:00] brennanMKE opened #3663 "Limit change to Blob handling to Location Service"
**Describe the bug**

A recent change to Blob handling has caused changes which break integration tests.

**To Reproduce**
Steps to reproduce the behavior:
1. Run integration tests for AWSLambda
2. See failed tests

[2021-07-05 21:11] royjit commented on #3480
I have again tested the same flow with multiple users, please find the screen recording of the same.

https://user-images.githubusercontent.com/51138777/124517998-41964000-dd9a-11eb-9b81-6c8ae2838a4b.mov

Please note that `confirmSignIn` should not be called if the `signIn` api return [SignInState. signedIn](https://github.com/aws-amplify/aws-sdk-ios/blob/2ce94a7fda175ed6ffd86c993b0ace219b926ac2/A

[2021-07-06 04:36] oleg-moseyko opened #3668 "Bug: TransferUtility suspend is not working properly when upload multi files"
I clonod app from https://github.com/awslabs/aws-sdk-ios-samples/tree/main/S3TransferUtility-Sample/Swift
Made small changes to upload all photos from device. I faced with issue if i suspended multipart uplod it automaticaly started afte 1 min

Steps to reproduce the behavior:
1. MultipartUpload multi files with.
2. Click Suspend the upload with suspendAll() function.
3. Wait about 1 min 6 seconds

[2021-07-06 09:53] androidshivam opened #3669 "Getting an Error on iPhone 12/ 12 Pro (running on iOS 14.6)"
**Description of bugs:** Unhandled Exception: SessionExpiredException(message: Session expired could not fetch user sub, recoverySuggestion: Invoke Auth.signIn to re-authenticate the user, underlyingException: null)

**To Reproduce:** While installing the app in iOS 12 & 12Pro

**Expected Behavior:** Initialise the AWS plugins and fetch the current session of user null if User is not signin else g

[2021-07-06 13:46] loves-bruins opened #3670 "MQTT communications lost when turning iOS device screen off"
Publishing messages to an IoT topic works well when the iOS device screen is on.  However when I turn the device screen off (even with my application still in foreground), when the application attempts to publish to the topic, the inner workings of AWS IoT will send a connection error, and will then retry the IoT connection.
Then attempt again to publish the message, and go through the same cycle.

[2021-07-06 21:00] mojodna commented on #3215
https://github.com/aws-amplify/aws-sdk-ios/pull/3378 claims that this was addressed in https://github.com/aws-amplify/amplify-ios/pull/1080 (see also https://github.com/aws-amplify/amplify-ios/commit/e5eb079aae91516455320bf61f93ba40c8e5316c).

These appear to touch Amplify, but not the AWS SDK for iOS (as described above).

[2021-07-07 00:08] #3574 closed

[2021-07-07 00:08] #3572 closed

[2021-07-07 00:08] #3570 closed

[2021-07-07 00:08] #3569 closed

[2021-07-07 00:08] #3264 closed

[2021-07-07 00:08] #3133 closed

[2021-07-07 00:08] #2712 closed

[2021-07-07 00:08] #2670 closed

[2021-07-07 07:58] NALanhnt2 commented on #3657
me too

[2021-07-07 15:22] palpatim commented on #3644
There are a couple of reasons NSURLSession does this, but a primary one is to make its downloads "atomic"--that is, to ensure that you aren't operating on partially downloaded files. In order to access the file while it's playing, you'd need to use a streaming API rather than a `download` API.

To my recollection AWSTransferUtility doesn't support streaming tasks. Its primary use case is for uploa

[2021-07-07 15:36] palpatim commented on #3647
On iOS 13 and above, you can pass [`signInPrivateSession` to your HostedUIOptions](https://github.com/aws-amplify/aws-sdk-ios/blob/2ce94a7fda175ed6ffd86c993b0ace219b926ac2/AWSAuthSDK/Sources/AWSMobileClient/AWSMobileOptions.swift#L125) to set the underlying `ASWebAuthenticationSession.prefersEphemeralWebBrowserSession` flag. This will cause the HostedUI session to login with a private cookie store

[2021-07-07 15:40] palpatim commented on #3618
We will need to investigate this further then. We've validated this behavior in the past, but perhaps there's something about a network connectivity loss that causes it to behave differently.

[2021-07-07 19:45] lawmicha commented on #1622
This issue is quite old now and should be unblocked since the release of the AWSTextract SDK. For those that are coming here looking for API reference: https://aws-amplify.github.io/aws-sdk-ios/docs/reference/AWSTextract/Classes/AWSTextract.html

Amplify Predictions also provides this use case: https://docs.amplify.aws/lib/predictions/identify-text/q/platform/ios

[2021-07-07 19:45] #1622 closed

[2021-07-07 19:50] lawmicha commented on #1838
@marcabrera @bluepixeltech were you able to resolve the service limit issue? If so, what did you do? I'd suggest reaching out to the AWSTextact service team, perhaps the forums is a good start: https://forums.aws.amazon.com/forum.jspa?forumID=338&start=0

For new developers, we recommend trying out Amplify Predictions: https://docs.amplify.aws/lib/predictions/identify-text/q/platform/ios

[2021-07-08 00:07] #1958 closed

[2021-07-08 00:07] #1837 closed

[2021-07-08 00:07] #1827 closed

[2021-07-08 00:07] #1821 closed

[2021-07-08 07:06] #1119 closed

[2021-07-09 00:08] #3622 closed

[2021-07-09 00:08] #3562 closed

[2021-07-09 08:39] mregnauld commented on #3644
@palpatim Thanks for your detailed answer.
That's what I tried recently on Android and it works great, even better than the AWS SDK.
I'm currently working on it on iOS, and I'll check what you suggested.

[2021-07-09 10:35] Corgizzz commented on #3618
Wait for good news , Thanks ~

[2021-07-10 07:34] yoasha commented on #3646
Do I need to take any action to keep this issue opened?

[2021-07-13 06:40] oleg-moseyko commented on #3583
any news?

[2021-07-13 07:04] oleg-moseyko commented on #3668
I have tested it on real device iphone 6s and had the same result like on emulator

[2021-07-13 10:21] mregnauld commented on #3644
@palpatim Do you have any example of `AWSPresignedURLBuilder ` in Swift? I can't find any.

[2021-07-13 21:08] diegocstn commented on #3644
@mregnauld let us know how that goes, and feel free to comment on the open RFC for [Media](https://github.com/aws-amplify/amplify-cli/issues/6896).

[2021-07-13 21:15] diegocstn commented on #2870
Updated documentation around data usage by both SDKs and Amplify: https://docs.amplify.aws/lib/info/overview/q/platform/ios

[2021-07-13 21:15] #2870 closed

[2021-07-13 21:27] diegocstn commented on #2639
Closing due to inactivity, feel free to reopen if you have further questions.

[2021-07-13 21:27] #2639 closed

[2021-07-13 21:32] diegocstn commented on #3669
@androidshivam In order to diagnose the issue it'd be helpful for us to have following information:

**Describe the bug**
_A clear and concise description of what the bug is. Please be as detailed as possible and help us help you._

**To Reproduce**
_Steps to reproduce the behavior:_
_1. Go to '...'_
_2. Click on '....'_
_3. Scroll down to '....'_
_4. See error_

**Observed Behavior**

**Expected

[2021-07-15 09:06] idrougge commented on #2821
I would appreciate a followup from AWS here.

[2021-07-15 17:51] oleg-moseyko commented on #3583
I fixed issue with multipart upload. It was related with metadata.
To add metadata we use:

         for (metaKey, metaValue) in meta.data {
                expression.setValue(metaValue, forRequestParameter: metaKey)
         }

and to fix i changed forRequestParameter to forRequestHeader:

         for (metaKey, metaValue) in meta.data {
                expression.setValue(metaValue, forRequestH

[2021-07-16 00:08] #1820 closed

[2021-07-16 00:08] #1742 closed

[2021-07-16 00:08] #1724 closed

[2021-07-16 00:08] #1720 closed

[2021-07-16 00:08] #1698 closed

[2021-07-16 00:08] #1690 closed

[2021-07-16 16:15] diegocstn commented on #3663
Fix released with [v.24.3](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.24.3)

[2021-07-16 16:15] #3663 closed

[2021-07-16 16:40] diegocstn commented on #3562
dSYMs are included in binary XCFrameworks since version v2.24.3 of the SDKs.

[2021-07-16 16:40] royjit commented on #3485
Does your schema has an attribute of type "NULL", looks like this is not supported in `AWSDynamoDBObjectMapper`. It could be helpful for us if you can provide a sample dynamodb entry that would case the crash.

[2021-07-16 17:29] royjit commented on #3382
Can you use xcframework for your use case? You can download the latest xcframeworks for the AWS SDK from here - https://releases.amplify.aws/aws-sdk-ios/latest/aws-ios-sdk.zip

[2021-07-17 00:08] #1687 closed

[2021-07-17 00:08] #1648 closed

[2021-07-17 00:08] #1646 closed

[2021-07-17 00:08] #1586 closed

[2021-07-17 00:08] #1564 closed

[2021-07-17 00:08] #1547 closed

[2021-07-17 00:08] #1506 closed

[2021-07-17 00:08] #1498 closed

[2021-07-17 00:08] #1488 closed

[2021-07-17 00:08] #1289 closed

[2021-07-17 00:08] #1256 closed

[2021-07-17 00:08] #1250 closed

[2021-07-17 08:35] mregnauld commented on #3644
OK, it's working now!
First, I followed that [blog post](https://medium.com/@madhurjain874/how-to-integrate-awss3-in-your-ios-swift-application-6492e4d2f246) to create a presigned URL each time I need to download a file (even if it's the same file, even if I need to resume a download), and then I created my own HTTP client using a `URLSession` and a `URLSessionDataTask`, that help me download a fi

[2021-07-17 08:35] #3644 closed

[2021-07-18 13:04] smaccoun commented on #2513
Sorry if I'm misunderstanding something here, but it seems like you're saying the core issue here is that Apple does not provide a client side API for providing a refreshed identity token. That makes sense, yet what I don't get is why the hosted UI somehow solves this problem, yet for native mobile it can't? The hosted UI is just a browser client...how is it able to solve it but not a native mobil

[2021-07-19 15:38] palpatim commented on #3583
Leaving this open with the following followups:

1. Improve documentation for metadata handling on single-part vs. multi-part
2. See if there's anything we need to do on the Amplify.Storage side to make sure this works properly (we automatically split large files into multipart uploads, but I'm not sure whether we support custom metadata in Amplify.Storage)
3. See if there is any cross-platform is

[2021-07-20 07:22] bitcot commented on #1937
Is there any update on federated sign in creating user pool? Using federated sign in for social login is more native way of doing things, but the problem with the approach is it doesn't create anything on the user pool which cannot be ignored as it's an important piece. Let me know is there a way to create a user pool once user signs in using federated signin?

[2021-07-20 07:36] bitcot commented on #993
Is there any update on this ticket? Do we have any way to create an instance on user pool on using federated social sign in?

[2021-07-20 10:46] thombles commented on #3303
Hi all, I was tracking down precisely this crash/backtrace today (CFArrayGetCount) and the cause was calling `[NSStream close]` on two separate threads simultaneously. The single backtrace won't tell you the full story.

I don't actually use the AWS SDK but since this is the only Google result for this particular problem I thought I'd leave a note. Good luck with it!

[2021-07-20 16:10] palpatim commented on #3303
Thanks for the callout @thombles!

[2021-07-21 06:06] jonathantorrens425 commented on #3535
I am running into this issue as well. Has there been any resolution?

[2021-07-22 00:08] #3656 closed

[2021-07-22 22:53] fdarsot commented on #1506
@palpatim were you able to successfully create a post-authentication lambda? Im new to lambdas and looking to implement this exact same function. would you mind helping me out?

[2021-07-23 18:04] palpatim commented on #3627
@jamescrowley

The biggest limitation right now is that Amplify Storage doesn't support "reattaching" to in-process tasks when resuming from background. We're tracking that in an open [feature request](https://github.com/aws-amplify/amplify-ios/issues/1102), but we don't have any information to add right now.

[2021-07-23 18:35] palpatim commented on #3657
Currently, Lex returns the message as part of HTTP response headers, which restricts the character set in the response. Currently to unblock customers wanting to use special characters in speech-to-text use cases, they would need to use base64 encoded strings when creating the bot and base64 decode the responses.

**Next steps:**
- Investigate whether this is something that we can do in the Lex in

[2021-07-23 20:00] brennanMKE commented on #3670
When your screen is off your app will be put into the background even if it was on screen when you locked your screen. It will soon become suspended unless your app is using a [background mode](https://developer.apple.com/documentation/bundleresources/information_property_list/uibackgroundmodes) supported by iOS. Once your app is suspended no work will run. If you are making use of a background mo

[2021-07-24 11:53] Ricardo1980 opened #3695 "Question about threading in AWSMobileClient and initialize/addUserStateListener"
**State your question**
When using
`AWSMobileClient.default().initialize`
and
`AWSMobileClient.default().addUserStateListener`
Do I have to use `DispatchQueue.main.async {}` in their completion closures?
I don't see anything about threading in the documentation.

**Which AWS Services are you utilizing?**
AWSMobileClient

**Provide code snippets (if applicable)**
NA

**Environment(please complete t

[2021-07-25 14:14] gadget-man commented on #2033
I'm on the latest 2.24.0, and once again seeing this issue. If a user logs out then tries to log back in again, the login screen just stays and doesn't go away. The only solution is to force quit the app then reload, at which point the login page doesn't appear as the user has successfully logged in from the previous session.

Did anyone ever find a solution to this?

[2021-07-25 16:50] pzmudzinski commented on #2583
@lawmicha I assume you meant login via email/password but what about Google/Apple/Facebook sign in?
If user logs in with email and password we actually can save those in keychain and use it later for automatic login but what about social platforms? SDK does not expose anything which could be used for further relogin.

[2021-07-26 13:45] oleg-moseyko commented on #3583
it looks like I was overjoyed early.
"Failed with error: Error Domain=NSURLErrorDomain Code=-999 "(null)" went away for small files (1.5 MB) but still occurs for large files (50 MB) after progress: 42 %.

Maybe it's related: I wrote a library for uploading (which use AWSS3TransferUtility)
That library installed via a pod for react-native app.
https://reactnative.dev/docs/native-modules-ios

[code]

[2021-07-26 16:33] maanvender commented on #2434
Hey guys,

Did you find any solutions for this issue. Please let me know so I can use same solution.
**IOS 14
AWS 2.19.1**

[2021-07-26 17:26] royjit commented on #3669
@androidshivam  Are you using Amplify Flutter library?

[2021-07-26 17:44] maanvender opened #3696 "S3 uploads are 2 - 3 times slower in IOS compared to Android."
**In iOS 14 or more I am getting upload speed very low.**

**Which AWS Services are you utilizing?**
S3 for uploading videos.

**Environment(please complete the following information):**
 - SDK Version: S3 versions 2.19.0
 - Dependency Manager:  Cocoapods
 - Swift Version : 5

**Device Information (please complete the following information):**
 - Device: Iphone 11 pro or newer
 - iOS Version: 14.5

[2021-07-27 01:45] DanHansens opened #3698 "API Authorization Error"
**Describe the bug**
In attempting to add an API to update an existing DynamoDB table, I received this in the log

**To Reproduce**
Steps to reproduce the behavior:
I can provide the URL to hit the API on request.  Hitting directly is showing `{"message":"Missing Authentication Token"}`.  Confirmed in API Gateway that Method Request `Auth: NONE` for `ANY`

**Observed Behavior**
Received stack trac

[2021-07-27 04:12] royjit commented on #3654
Hi @gt-in You have to call `AWSMobileClient.default().initialize` before accessing any AWSMobileClient apis. `AWSMobileClient.default().initialize` should set the federationProvider correctly.

[2021-07-27 06:13] androidshivam commented on #3669
Yes

[2021-07-27 22:25] mojodna commented on #3215
@ameter did your implementation run into this problem, or are you using a different signer (Amplify vs. aws-sdk-ios)?

[2021-07-28 13:36] ameter commented on #3215
@mojodna I ran into the same problem.  I ended up implementing essentially the same workaround you did.

[2021-07-28 20:50] royjit commented on #3669
Closing this since you already have a Github issue https://github.com/aws-amplify/amplify-flutter/issues/747 with Flutter team

[2021-07-28 20:50] #3669 closed

[2021-07-29 00:51] royjit commented on #3696
@maanvender Thank you for reaching out. Few questions to debug further:

- Are you using TransferUtility for the uploading videos?
- Are these multi part upload?
- What are the average size of videos that you are trying to upload?
- Is iOS and Android uploading to the same bucket location?

[2021-07-29 00:55] royjit commented on #3695
@Ricardo1980 Thank you for reaching out. Using of `DispatchQueue.main.async` depends on your app use case. `initialize` api is called on sync with the current thread. `addUserStateListener`'s callback will be called from multiple thread which would be asynchronous from the calling thread of `AWSMobileClient.default().addUserStateListener`

[2021-07-29 05:05] maanvender commented on #3696
Hello,

Are you using TransferUtility for the uploading videos?
Yes

Are these multi part upload?
Yes

What are the average size of videos that you are trying to upload?
150MB

Is iOS and Android uploading to the same bucket location?
we are creating different folders in same bucket for android and iOS.

[2021-07-29 18:45] royjit commented on #2053
Looks like `completedTaskDictionary` items are not removed in the TU. We might need to remove the reference of items from the dictionary when the task get completed, `NSURLSession` delegate completion api would be the place where we need to clean up the dictionary.

[2021-07-29 20:50] Ricardo1980 commented on #3695
Thanks a lot @royjit

That's what I saw reading the source code, but no mention or documentation about that.

So, as far as I understand, when using `initialize` from a view controller or app delegate, it does not require anything special because it is already using the main thread, but when using `addUserStateListener` from these cases, then I must use `DispatchQueue.main.async`.
Am I right? Than

[2021-08-02 13:34] granchenkooleg commented on #2776
I tried on a Mac with Intel and this finds the module, but with M1 I couldn't find the module

[2021-08-02 22:19] royjit commented on #2314
Further investigation: TU creates temporary files during upload [here](https://github.com/aws-amplify/aws-sdk-ios/blob/2ce94a7fda175ed6ffd86c993b0ace219b926ac2/AWSS3/AWSS3TransferUtility.m#L1426) and the background session for upload also creates temporary files as per this [Apple doc](https://developer.apple.com/documentation/foundation/nsurlsessionuploadtask). This will put strain on the availab

[2021-08-02 22:22] royjit commented on #2314
Adding to the list of items to check - See if a single instance of TU have any threading issue and the file write is working in a thread safe manner.

[2021-08-05 08:00] guris12 opened #3704 "AWS lex initialisation error"
Getting error while initialising amazon lex service

**Which AWS Services are you utilizing?**
AWS lex
**Provide code snippets (if applicable)**
error Error Domain=com.amazonaws.AWSLexErrorDomain Code=0 "null" UserInfo={NSLocalizedDescription=null, NSLocalizedFailureReason=AccessDeniedException:http://internal.amazon.com/coral/com.amazon.coral.service/}

[2021-08-05 08:15] guris12 commented on #3704
Please provide guide on how to use Amazon lex sample code

[2021-08-05 21:11] wmaca commented on #1937
Same problem here. In our case, we are using a webview that communicates with a native app.

We want to use the native Google  Sign-in experience on Android. We are able to get the token from google, but we can't create a Cognito user with `federatedSign()`.

Is there any way around this? We could use the token from Google to make Cognito create the user ourselves, but it doesn't seem to be the be

[2021-08-06 17:20] brennanMKE commented on #3568
Released

[2021-08-06 17:20] #3568 closed

[2021-08-07 00:16] brennanMKE commented on #3538
@taliwolk I created a project to repro this issue. It runs successfully for me. Perhaps you could try it.

I did it with a simple SwiftUI app.

MainView.swift:

[code]

MultipartUploader.swift:

[code]

I am getting the value for `bucket` from `transferUtilityConfiguration` which was just an internal property so I exposed it by adding to `AWSTransferUtility.h` right after the `configuration` prope

[2021-08-09 04:49] maanvender commented on #3696
Hello,

Still waiting for your reply on this.

[2021-08-09 16:11] royjit commented on #3668
I was able to reproduce this locally in simulator and real device using a sample app. After waiting a while the control comes back to the NSURLSession delegate:  - `(void)URLSession:(NSURLSession *)session task:(NSURLSessionTask *)task didSendBodyData:(int64_t)bytesSent totalBytesSent:(int64_t)totalBytesSent totalBytesExpectedToSend:(int64_t)totalBytesExpectedToSend`. As per this [Apple dev post](

[2021-08-09 17:35] brennanMKE commented on #3083
@preethiChimerla Were you able to try associating a provisioning profile with your app to authorize background sessions? It appears this is either a restriction in the iOS Simulator which is intentional or a bug. Please try a current version of Xcode and the iOS Simulator and associating a provisioning profile.

[2021-08-09 20:48] parachutemind commented on #1603
ditto for this request. Catalyst open up the possibility of using UIKit code in macOS. However, with Swift UI and Apple Multiplatform projects it is  possible to write "pure" UIs that can easily run on macOS. We have a project that requires macOS support and we hit this early snag of not able to use graphql with Amplify and AppSync.

[2021-08-10 06:37] McSims commented on #3303
@brennanMKE @palpatim  Could you please reopen the issue as it still crashes on the `2.24.3` ?

[2021-08-11 20:01] lawmicha commented on #3704
Hi @guris12, there is a sample here: https://github.com/awslabs/aws-sdk-ios-samples/tree/main/Lex-Sample/Swift

[2021-08-12 02:35] aaadonai opened #3717 "Segmentation fault: 11 occurs in Xcode 12.5. No simple workaround."
**Describe the bug**
This issue is the same as #3563 and #3436 although the workaround presented on those issues don't work in my case.
In my case, I have implemented as proposed in the sample code here: https://github.com/awsdocs/aws-ios-developer-guide/blob/master/build/s3transferutility.rst#when-a-suspended-app-returns-to-the-foreground

I want to pass the block to the new extension method as p

[2021-08-12 23:17] brennanMKE opened #3719 "Make propagateHeaderInformation:requestHeaders: function public"
**Which AWS Services is the feature request for?**

AWS S3

**Additional context**
Add any other context or screenshots about the feature request here.

This code is currently internal and needs to be accessible from Amplify.

[2021-08-13 12:50] lawmicha commented on #3550
I believe this is only related to drop-in UI, + @royjit to clarify, steps to repro originally from him

[2021-08-13 12:55] lawmicha commented on #3695
To clarify, i believe you should use `DispatchQueue.main.async` in the callback of `addUserStateListener` when your use case requires it- being the need to be on the main thread to perform UI work.

[2021-08-13 13:05] lawmicha commented on #3696
Hi @maanvender, uploading 150MB seems reasonable. We don't benchmark against other platforms, but would be good to know what the time it takes for Android and time for iOS?

[2021-08-13 13:13] lawmicha commented on #3532
Since this question has been out for awhile now and no traction, i'm going to close it since there isn't a related SDK in the repo related to this. Feel free to reach out further to the community in the Discord channel https://discord.gg/jWVbPfC

[2021-08-13 13:13] #3532 closed

[2021-08-13 13:18] lawmicha commented on #3430
I can see https://github.com/Carthage/Carthage/pull/3123 is merged in, just checking in to see if ths can be closed or if there are any other actions to take @royjit, and @dmiluski  are you unblocked?

[2021-08-13 13:25] lawmicha commented on #2647
@wxforgb what APIs are you trying to use with the SDK and how are you setting up the native app to get the error message?

[2021-08-13 13:42] lawmicha commented on #2579
Thanks for the response, what did your users do in this production use case? Did they have to reinstall the app to get it working? I'm going to mark this as feature request, as related to https://github.com/aws-amplify/amplify-ios/issues/527

[2021-08-13 13:53] lawmicha commented on #2546
Does this work for you?
[code]

[2021-08-13 15:06] dmiluski commented on #3430
@lawmicha i've fully moved over to SwiftPM and unblocked

[2021-08-13 16:20] julien-tamade commented on #2579
I think just restarting the app worked. So after they updated the app they would open it. They would be forced to create a new password as part of the environment migration and when they got logged in to their new account, the app wouldn't be able to pull their info from appsync. If they Fully restarted the app and went back in it would work but a lot of users didn't know to do that or know how so

[2021-08-13 21:52] lawmicha commented on #3537
Hi @jfranckretrieve  we have since deprecated TransferManager. Our recommendation for S3 is through [Amplify.Storage](https://docs.amplify.aws/lib/storage/getting-started/q/platform/ios). we recommend migrating over to this as we're constantly making improvements to it

[2021-08-13 21:58] lawmicha commented on #3420
Hi @HiLittlePiper, coud you provide more details to reproduce this? Could like to narrow this down to an issue with the SDK or the service.

Could you provide how you set you the AWS backend and the code snippet that you are referring to that is causing the error?

what does this mean? is that the AWS Console?

[2021-08-13 22:28] brennanMKE commented on #3717
@aaadonai I am looking at your code from the other repo. Thanks for sharing that. I have made it build and here is the code below.

.h:

[code]

.m:

[code]

Then in the Swift code I have this code.

[code]

Please try this out and let us know if it works for you.

[2021-08-13 23:06] aaadonai commented on #3717
@brennanMKE Thanks a lot!
I have just implemented your solution on my main project and it is building now.
I really appreciate your help.

[2021-08-13 23:27] #3717 closed

[2021-08-15 01:38] YanZhaoNV opened #3721 "Amplify.Auth.signIn not throwing userNotFound error"
**Describe the bug**
Using iOS signIn function with none existing account, expecting userNotFound error but throw notAuthorized. Using the same account testing on Android give back the right error type.

**To Reproduce**
Steps to reproduce the behavior:
1. try to sign in any cognito user db
2. login with none existing user
3. throw "notAuthorized" error

**Observed Behavior**

**Expected Behavior*

[2021-08-16 13:18] gabimo commented on #1115
I also am waiting for an update on this, doesnt seem to update for OIDC from the console/cognito

[2021-08-17 19:09] brennanMKE opened #3725 "Create Swift friendly method for assigning blocks for AWSS3 upload and download tasks"
**Which AWS Services is the feature request for?**

S3

Provide an alternative to the enumerate block functions which are not compiling with Xcode for Swift.

Segmentation fault: 11 occurs in Xcode 12.5

## Related Issues

* #3436
* #3563
* #3717

[2021-08-20 01:35] rjuliano commented on #1861
This feature was added to amplify-android.

https://github.com/aws-amplify/amplify-android/pull/1306

[2021-08-23 09:00] huzunhao opened #3733 "Error Domain=com.amazonaws.AWSS3ErrorDomain Code=0 "(null)""
**Describe the bug**
When I run the demo file and execute the task of uploading pictures, the following error is reported for the first upload
"task.error is Error Domain=com.amazonaws.AWSS3ErrorDomain Code=0 "(null)""
But the second upload was successful.

**To Reproduce**
Steps to reproduce the behavior:

The error message is from "NSLog(@"upload fail! %@",task.error);"

Any advice you can give

[2021-08-25 06:55] patrickschumacher opened #3739 "The new expiration date of the access token is not used. (Cognito)"
**Describe the bug**
In the backend, an expiry time of one hour was set for the access token. A user then logged into the app and the expiry time of the access token was then set to 5 minutes (for test purposes). The user then logs out and back in, but the expiry time is still one hour.
If you check the access token, on a webpage like jwt.io ,  you find that the expiration is set correct.

**To Re

[2021-08-25 15:41] j2inet commented on #450
Glad you left this post. Here I am years later having run into the same problem. I don't quite understand why it worked without the protocol for on one AWS IOT MQTT instance and not the other, but that solved my problem.

Thanks, @seanhamstra

[2021-08-26 11:37] sochalewski opened #3741 "Missing support for `GetClip` request"
**Which AWS Services is the feature request for?**
AWSKinesisVideoArchivedMedia

**Is your feature request related to a problem? Please describe.**
The iOS library misses suport for [`GetClip`](https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_reader_GetClip.html) request.

On the other hand this is already live in the Android library. See [GetClipRequest.java](https://github.com/aws-a

[2021-08-27 17:19] #3083 closed, assigned to brennanMKE

[2021-08-31 21:12] bennnjamin commented on #2151
@drochetti @palpatim According to the release notes at https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.17.0, configuring a client with a FIPS endpoint will not use virtual host style URLs. Are there any plans to make this SDK compatible with FIPS endpoints?

[2021-09-01 15:30] ameter commented on #280
For anyone that comes across this ticket looking for tvOS support, the new [aws-sdk-swift](https://github.com/awslabs/aws-sdk-swift) will support tvOS as well as all other platforms that are supported by Swift.  At the time of this writing, [aws-sdk-swift](https://github.com/awslabs/aws-sdk-swift) is available as an alpha release.

For more information, see this [blog post](https://aws.amazon.com/

[2021-09-03 01:31] pqhuy87it opened #3754 "Compare time to upload both method uploadData and uploadUsingMultiPart"
**State your question**

i have tested to upload a big file (more than 100mb) to Amazon S3 Bucket, i realize the time to upload both method uploadData and uploadUsingMultiPart is the same, do i get a mistake anything else ?
Sorry about my english.

**Which AWS Services are you utilizing?**

AWSS3
s3TransferUtility - uploadUsingMultiPart

**Provide code snippets (if applicable)**
[code]

**Environm

[2021-09-03 05:08] rakshithManchester opened #3755 "Error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=2 "(null)" s3"
Problem:
Getting Domain 2 error, while upload image to S3 bucket using iOS swift.
[code]
[code]
Requesting you kindly help to resolve the issue. Thank you..

[2021-09-03 11:22] oleg-moseyko opened #3756 "WiFi only uploading"
**Which AWS Services is the feature request for?**
AWSS3TransferUtility

**Is your feature request related to a problem? Please describe.**
I  would like to have option in my app to have ability for user to upload any image/video with:
- WiFi only
- WiFi or Cellular

**Describe the solution you'd like**
it would be good to have setting: onlyWiFi.
[code]
**Code example**
[code]

[2021-09-03 17:06] #3538 closed

[2021-09-03 17:07] ameter commented on #3538
Closing due to lack of activity.

[2021-09-04 01:30] brennanMKE commented on #3535
@taliwolk & @jonathantorrens425 See the attached sample project.

You will want to run `amplify pull` to set up the configuration files for it and also run `setup.sh` which clones the AWS SDK and checks out a branch that I modified to show more details and make the configuration accessible so I could use the bucket from the configuration. I also set the concurrency limit with the current active pr

[2021-09-04 01:36] brennanMKE commented on #3583
@oleg-moseyko Please refer to the code shared I #3535 which also uses the Multipart Upload feature. You can the file size to whatever you would like to try.

[code]

For example, you could try a much larger size so long as the app can use this much memory.

[code]

You can see from the other issue that it is important to retain the task while it is operating.

I also see you are putting work on th

[2021-09-05 06:42] tapiwakundi commented on #420
Thank you so much @msencenb . You literally saved my. I was pulling my hair struggling with the aws sdk

[2021-09-08 07:13] invinciible opened #3795 "Unable to Build AWSMobileClientXCF"
I have added the target dependency as .product(name: "AWSMobileClientXCF", package: "AWSiOSSDKV2")

However in the existing project which was using `AWSMobileClient` and now when I add

#if canImport(AWSMobileClientXCF)
import AWSMobileClientXCF
#endif

It doesn't build.

Error: Failed to build module 'AWSMobileClientXCF' from its module interface; the compiler that produced it, 'Apple Swift versi

[2021-09-10 03:38] royjit commented on #3755
Please provide us with the following information:

Environment(please complete the following information):

SDK Version:
Dependency Manager:
Swift Version :
Device Information (please complete the following information):
iOS Version:

[2021-09-10 03:41] royjit commented on #3754
You are uploading the same size file right? The time to upload them would be similar. Are you seeing any issue here?

[2021-09-10 03:44] #1838 closed

[2021-09-10 03:44] #2546 closed

[2021-09-10 03:45] #2647 closed

[2021-09-10 03:45] #3420 closed

[2021-09-10 03:45] #3462 closed

[2021-09-10 03:45] #3647 closed

[2021-09-10 03:46] #3654 closed

[2021-09-10 03:46] #3695 closed

[2021-09-10 03:46] #3704 closed

[2021-09-10 23:19] royjit commented on #3733
That error is unknown error, could you enable logs and see if there are any specific error from the server? Also if you are starting with your project I recommend you to use the new Amplify library. https://docs.amplify.aws/lib/q/platform/ios/

[2021-09-10 23:20] royjit commented on #3733
You are hard coding the AWS credentials in your code, which is not a good practice. If you use the Storage category along with Auth category in the Amplify library the credentials will be handled for you.

[2021-09-11 01:23] ShyamSampath commented on #1937
Is there anyway we can get to know when this feature will be available.This issue is open for 2 years now and there were no update provided from AWS on this.We are loosing customers due to this feature not available with native google UI. We don't want to use social.singinwithwebui as it only works with chrome.

[2021-09-12 09:25] rakshithManchester commented on #3755
Please find the below details:
SDK Version: AWSS3 (2.24.2), AWSCore (2.24.2)
Dependency Manager: cocoapods (1.8.4),  cocoapods-core (1.8.4)
Swift Version : Swift 5
Device Information : MacBook Pro (13-inch, 2020, Four Thunderbolt 3 ports), macOS Catalina version 10.15.7 (19H15)
iOS Version: iOS 13.0

[2021-09-12 09:33] rakshithManchester commented on #3755
We used the following methods.

func uploadFile(withImage image: UIImage) {

    let credentialsProvider = AWSCognitoCredentialsProvider(regionType:AWSRegionType.USEast2,identityPoolId:"us-east-2:fe41c293-df49-49a4-886d-094f2cd8d0fd")
    let configuration = AWSServiceConfiguration(region:.USEast2, credentialsProvider:credentialsProvider)
    let tuConf = AWSS3TransferUtilityConfiguration()
    AW

[2021-09-12 09:45] rakshithManchester commented on #3755
2) We used this following methods to upload audio to S3 bucket using iOS swift.

func serviceConfiguration() {
        let credentialsProvider = AWSStaticCredentialsProvider(accessKey: accessKey, secretKey: secretKey)
        let AWSRegionUSEast2 = AWSRegionType(rawValue: AWSRegionType.USEast2.rawValue)
        let configuration = AWSServiceConfiguration(region: AWSRegionUSEast2!, credentialsProvi

[2021-09-12 15:41] 00p6wise commented on #552
Any updates

[2021-09-12 18:53] oleg-moseyko commented on #3668
any news ?

[2021-09-14 07:49] JohannSopraSzck opened #3769 "Can't connect using a temp certificate obtained from provisioning claim."
**State your question**

How can I connect using a temp certificate obtained from provisioning claim ?

**Which AWS Services are you utilizing?**

AWS IoT

**Provide code snippets**

I request a temp certificate from provisioning claim and with that done I try to connect using the iotDataManager and my freshly received cert.

[code]

The problem is inside the connect() function there is a check to

[2021-09-15 09:45] isaac-patterson-xero commented on #745
@abvijaykumar did you find a solution to this. Currently running into this problem. Both target and aws configuration is setup correctly as far as I can tell. Very frustrating for a core feature

[2021-09-15 19:59] brennanMKE commented on #3725
PR has been merged to main.

[2021-09-15 20:16] brennanMKE commented on #3725
If you have come to this issue because you have experienced the compiler crash when using the enumerate function the code below will show you how to use the new blocks type to call an updated enumerate function which will work with Swift.

It works by first creating an instance which will hold all of the blocks. Each block is optional so you can pass in nil when you do not intended to provide a bl

[2021-09-16 22:24] piyushtank opened #3776 "Kinesis data stream support in the Amplify iOS library"
**Which AWS Services is the feature request for?**
Kinesis data stream support in the Amplify iOS library

**Is your feature request related to a problem? Please describe.**
Based on [this](https://docs.amplify.aws/lib/analytics/getting-started/q/platform/ios/#view-analytics-console) doc, the Kinesis support is available only in the JavaScript library, not for iOS and Android.

**Describe the solu

[2021-09-17 00:05] brennanMKE opened #3777 "Replace brew with AWS CLI installer for CircleCI configuration"
The install has been failing with brew. See error below.

Instead we can use `curl` and `installer` on macOS.

[code]

The command which fails: `brew install awscli`

[code]

[2021-09-17 12:31] AllioNicholas commented on #1662
I get the same memory leak using Amplify SDK version 1.13.3

[2021-09-17 18:45] brennanMKE opened #3779 "MQTT over WSS Connection Management & Status"
The documentation or examples lack information on connection management.
How can the status of connection be checked?
How to connect without subscribing?

[2021-09-17 23:11] royjit commented on #3668
Added a PR to update the document. https://github.com/aws-amplify/docs/pull/3591
We will track this as a feature request to support complete pause / resume.

[2021-09-18 00:44] brennanMKE commented on #3779
Attached is the work in progress.

[3779.zip](https://github.com/aws-amplify/aws-sdk-ios/files/7188926/3779.zip)

[2021-09-19 02:05] sha8wn commented on #3485
Unfortunately I am no longer working on that project and no longer have access to the database but I can say with quite a high level of certainty, yes, it is because the schema has an attribute which has a type NULL.

Handling a NULL object works well for most cases, there is a type in `AWSDynamoDB` which gets converted into a `Map` when being parsed in the `AWSDynamoDBObjectMapper`

If the value

[2021-09-19 15:02] FilipeNobrega opened #3780 "Bug when trying to get AWSServiceInfo dictionary when cognito is not present."
**Describe the bug**
The SDK throws an error when trying to get a service info dictionary when Cognito is not present.
It seems like a major bug because it doesn't check for credentials for Cognito but make it mandatory for all other services.

**Code Snippet**

Line 183 from AWSInfo.m:

[code]

From the behavior and comments, I believe this if should be changed to:
[code]

[2021-09-20 08:33] pocket7878 opened #3781 "Unable to refresh cognito credential with OpenID provider federated-signin after 1-hour."
**Describe the bug**

Unable to refresh cognito credential with Federated-Sign in with OpenID provider after 1-hour.

**To Reproduce**

1. Create Cognito id-pool with Auth0 as OpenID provider as follows:
https://auth0.com/docs/integrations/amazon-cognito
2. federatedSign in with Auth0 id token
3. Cognito sign in succeeded and connecting AWS services(AWS Kinesis DataStream in my case)
4. after 1 ho

[2021-09-20 16:26] brennanMKE commented on #3779
Attached is the work in progress.

 * [3779.zip](https://github.com/aws-amplify/aws-sdk-ios/files/7197174/3779.zip)

[2021-09-20 17:22] AzharRaeisi commented on #1126
Trick worked for me

[2021-09-20 20:53] ukhan-amazon commented on #2171
Closing due to inactivity.

[2021-09-20 20:53] #2171 closed

[2021-09-20 21:04] ukhan-amazon commented on #1118
Closing due to priority given to Swift Documentation going forward.

[2021-09-20 21:04] #1118 closed

[2021-09-20 21:05] royjit commented on #1549
Are you still facing this issue? Wondering whether you have analyzed the root cause or got it fixed with the latest releases. I am putting this to closing soon, since there are no much activity in this thread.

[2021-09-20 21:09] ukhan-amazon commented on #2313
Closing in favour of tracking these crashes in #3303

[2021-09-20 21:09] #2313 closed

[2021-09-20 21:15] ukhan-amazon commented on #3537
Closing due to recommendation to use [Amplify.Storage](https://docs.amplify.aws/lib/storage/getting-started/q/platform/ios/).

[2021-09-20 21:15] #3537 closed

[2021-09-20 21:25] lawmicha commented on #1845
I don't know if this is actually an issue without looking further at the other operations. Originally i opened this based on my speculation from the fix from the other PR for multi-part upload. Since it's also been open for awhile now without any customer interactions on this issue, i will close it out.

[2021-09-20 21:25] #1845 closed

[2021-09-20 21:26] ukhan-amazon commented on #960
Closing due to new alpha [Swift SDK release](https://github.com/awslabs/aws-sdk-swift).

[2021-09-20 21:26] #960 closed

[2021-09-20 21:28] ameter commented on #3618
When network connectivity is lost during upload, I confirmed that the completionHandler is called with an error as expected after timeoutIntervalForResource expires.  However, it's important to note that [timeoutIntervalForResource must be configured prior to instantiating the service client](https://aws-amplify.github.io/aws-sdk-ios/docs/reference/AWSS3/Classes/AWSS3TransferUtility.html#/c:objc(c

[2021-09-20 21:29] #740 closed

[2021-09-20 21:31] #1854 closed

[2021-09-22 22:47] brennanMKE commented on #3769
@JohannSopraSzck Please review this docs for [AWSIoTManager](https://docs.aws.amazon.com/AWSiOSSDK/latest/Classes/AWSIoTManager.html#//api/name/importIdentityFromPKCS12Data:passPhrase:certificateId:) which includes `+importIdentityFromPKCS12Data:passPhrase:certificateId:` which is the method you will want to use. You can see used in our [sample code](https://github.com/awslabs/aws-sdk-ios-samples/

[2021-09-23 00:15] brennanMKE opened #3785 "Enable NS_BLOCK_ASSERTIONS to suppress users of NSAssert in Release builds"
`NS_BLOCK_ASSERTIONS` should be defined for Release builds. Normally it is included in an Xcode project by default but is missing in the AWS SDK project.

* [Best Practices for Xcode Configurations](https://dhoerl.wordpress.com/2013/04/25/best-practices-for-xcode-configurations/)

[2021-09-23 00:53] brennanMKE opened #3788 "Make AWSS3TransferUtilityConfiguration accessible as a read-only property"
Access to this property would make the configuration available which includes properties for `bucket` and `multiPartConcurrencyLimit`. Having these values public eliminates the need to hard-code the bucket into client code.

[2021-09-23 23:02] brennanMKE commented on #2314
@diesal11 The code for creating the partial file has been updated so that it is more reliable. It will be included in the next release.

[2021-09-23 23:27] brennanMKE commented on #3303
@McSims I tried to repro the crash to observe it. Can you provide more context? Perhaps either more crash logs or a project which can repro the crash? I'd like to understand it so we can fix it.

[2021-09-24 14:31] yoasha commented on #3646
Using Xcode 13 now, and still notice several static analyzer warnings. Can you please handle?

[2021-09-24 16:11] andheroe commented on #1937
We're currently evaluating whether to invest our engineering efforts into AWS Amplify. The ability to provide a native social Sign In flow is critical for us and it's currently a big red flag. Please provide us with an update on whether this feature is something we could expect in the near future and is there a workaround for us to use in the meantime.

[2021-09-24 17:09] diegocstn commented on #3583
Closing due to inactivity.

[2021-09-24 17:09] #3583 closed

[2021-09-28 17:19] lawmicha commented on #3795
Hi @invinciible, thanks for opening this issue, i've transferred it over to the main repro from https://github.com/aws-amplify/aws-sdk-ios-spm so that there is more visibility

[2021-09-29 19:49] royjit commented on #3500
Requesting @aws-amplify/amplify-codegen  to check if we can get the models updated.

[2021-09-30 05:27] McSims commented on #3303
@brennanMKE Thanks for opening this issue.

Due to complexity of the project I was not able to create separate repository or programatically reproduce the crash.

Meanwhile analysing crash reports we notice:
- this happens 76% when the app is in background.
- time to time we observe couple of threads accessing AWS frameworks at the same time.
- a lot of crashes tries happens after disconnection an

[2021-09-30 15:21] lawmicha opened #3799 "AWSSQS integration test failures testGetQueueAttributesRequestFailure"
**Describe the bug**
SQS integration tests are failing: **testGetQueueAttributesRequestFailure**

[code]

Error code 12 is `AWSSQSErrorQueueDoesNotExist` which may indicate there was a change to the resource

[2021-09-30 15:32] #3799 closed

[2021-10-01 16:52] lawmicha commented on #2314
2.26.1 has been released https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.26.1

[2021-10-01 17:23] #3618 closed

[2021-10-01 22:39] royjit commented on #3795
Looks like the CircleCI was using older Xcode version, created this PR to address this - https://github.com/aws-amplify/aws-sdk-ios/pull/3803

[2021-10-01 23:22] ameter commented on #3215
Fixed!

The next release of aws-sdk-ios (which will be released sometime next week) will include the fix.  Note that the fix is backward compatible with the workaround of double-encoding the url before passing it to the signer, so existing code will not break.

[2021-10-01 23:22] #3215 closed

[2021-10-04 10:44] invinciible commented on #3795
Thank you. It's working now.

[2021-10-04 18:23] #1549 closed

[2021-10-04 18:32] #2314 closed

[2021-10-04 18:41] brennanMKE commented on #2314
@diesal11 Please let us know if you are not able to repro the crash with your code with this update. We can reopen the issue if the crash is still happening. The new code replaces the low level POSIX calls with higher level Objective-C methods which Apple supports along with the changes which have been made to the filesystem implementation. My expectation is that using NSFileHandle will behave bet

[2021-10-04 19:23] royjit commented on #1078
Please ref - https://github.com/aws-amplify/aws-sdk-ios/issues/280#issuecomment-910398359 regarding support on other platforms with AWS SDK.

[2021-10-04 19:23] #1078 closed

[2021-10-07 17:13] SilvioPulitano opened #3809 "Embed AWSCore inside Framework cause crash"
Hi,

I try to embed AWSCore inside my own xcframework. I have a crash at runtime only on Device, works fine on simulator.
Seems to be a code signature problem.

[code]
I use Xcode 12.5.1 and SPM. It works fine with other SPM library.
I have one project with 2 targets: The framework and the sample.

![Capture d’écran 2021-10-07 à 19 08 07](https://user-images.githubusercontent.com/83234816/136432

[2021-10-11 20:54] brennanMKE opened #3814 "Enable IoT configuration with awsconfiguration.json"
It should be possible to use `AWSIoT.default()` to get the default instance for IoT and have it load settings from `awsconfiguration.json` like other AWS services.

[code]

[2021-10-11 23:37] brennanMKE commented on #3303
@edfanhouse & @thombles Please try your apps with the `stehlib.iot.3303-sync` branch with a targeted change which could prevent this race condition. It includes the other changes required for the sample project. If this limited change prevents the crashes you've been experiencing I can prepare a PR with the update.

[2021-10-12 15:16] edfanhouse commented on #3303
@brennanMKE thank you for your response, we will try the fix and I'll keep you informed

[2021-10-13 01:48] brennanMKE opened #3817 "Multipart uploads which a recovered after app restart do not complete"
**Describe the bug**

Multipart uploads stop before completing after the restart and recovery process.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the app
2. Start a fairly large multipart upload
3. Kill the app just as parts are uploading
4. Restart the app
5. Observe that parts stop uploading and the process does not complete

**Observed Behavior**

For my dev app the MU process

[2021-10-13 13:22] dsinha999 opened #3819 "Got some crash reports on Crashlytics from AWSMobileClient. The app is on poduction and we are getting these crashes frequently."
We have implemented Auth Cognito using Amplify SDK. Below is the crash log :

Crashed: com.apple.main-thread
0  AWSMobileClient                0x2ec0c $s15AWSMobileClientAAC17getViewControllerSo06UIViewE0CyF + 276
1  AWSMobileClient                0x2ec34 $s15AWSMobileClientAAC17getViewControllerSo06UIViewE0CyFTo + 28
2  AWSMobileClient                0xb984 -[AWSCognitoAuth signOut:] + 108
3  AWS

[2021-10-13 14:49] Newsid commented on #2886
I confirm, this is still an issue in 2.24.0.
is seems that the SDK had a regression about that. Is it planned to be fixed again?

[2021-10-13 20:58] thombles commented on #3303
Hi, no I don't use this project as mentioned above. (https://github.com/aws-amplify/aws-sdk-ios/issues/3303#issuecomment-883293473) My outsider's opinion was that one need only revive @royjit's PR #3487 and it would put this issue to bed, but I'm no longer understanding the conversation - I'll leave it to @edfanhouse to test.

[2021-10-13 21:15] brucerune commented on #3348
Any update on a fix for this?
Is 2.22.0 solid from a security POV?

[2021-10-14 20:18] brennanMKE commented on #3303
@Jonge Thanks a lot for the update. I will prepare this branch for the next release.

[2021-10-15 10:12] cyrillelegrand opened #3824 "Ability to delete a cognito user through the Amplify iOS SDK (AWSMobileClient)"
This is a clone of issue #1207 which has been closed.

Ability to delete a user will be mandatory starting January 21, 2022, as per Apple's recent annoucements.

[2021-10-15 10:14] cyrillelegrand commented on #1207
Re-opened as https://github.com/aws-amplify/aws-sdk-ios/issues/3824 because it will be mandatory starting jan. 31, 2022, as per Apple's annoucement.

[2021-10-16 02:39] brennanMKE commented on #3474
The next release will include improvements which will help with auto-resume.

[2021-10-16 07:07] JeneaVranceanu commented on #3430
Had a similar issue with `MobileVLCKit` while using Carthage 0.36.0 with XCode 13.0 (13A233) on macOS Big Sur 11.6 (20G165).

Fixed the issue by upgrading the Carthage to 0.38.0.

[2021-10-19 01:40] brennanMKE commented on #3303
@florentdouine The release went out today. Please let us know how it works for you.

* [v2.26.2](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.26.2)

[2021-10-19 01:41] brennanMKE commented on #3817
Released: [v2.26.2](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.26.2)

[2021-10-19 01:41] #3817 closed

[2021-10-19 01:43] brennanMKE commented on #3474
Released: [v2.26.2](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.26.2)

[2021-10-19 01:43] #3474 closed

[2021-10-19 01:43] #3303 closed

[2021-10-21 17:10] jbb1003 opened #3830 "AWSCognitoAuth leaks ASWebAuthenticationSession and itself"
Git tag 23185bcf6c - version 2.26.2
Xcode 13.0 (13A233)
iPhone SE running iOS 14.8
iPhone simulator running iOS 15.0

Although not documented, it is clear from checking memory traces that ASWebAuthenticationSession retains its completionHandler block after it has been called. The reference for self (AWSCognitoAuth) is not weak, so AWSWebAuthenticationSession holds a strong ref to AWSCognitoAuth. A

[2021-10-27 06:58] brennanMKE opened #3837 "Fix regressions to integration tests on main branch related to S3 changes"
**Describe the bug**

A unit test verifies that tasks are available after the task is completed so they cannot be removed from the completed dictionary or task dictionary.

[2021-10-27 08:56] HashimPhilips opened #3839 "Cannot use AWSCore latest(2.26.2) with AWSCognito"
AWSCognito latest version available in cocoapod is 2.19.1 which depends on AWSCore 2.19.1 so basically we cannot use AWSCore 2.26.2

**To Reproduce**
Steps to reproduce the behavior:
* create new project
* pod init
* add the following to the pod file
[code]
* pod install

**Observed Behavior**
error while pod install
[code]

**Expected Behavior**
AWSCognito (2.26.2) version should be there which d

[2021-10-29 20:44] brennanMKE opened #3851 "IoT: Add back Message as a public type"
This type should be a part of the public IoT API.

[2021-10-29 21:29] lawmicha commented on #3851
this is related to https://github.com/aws-amplify/aws-sdk-ios/pull/3782

[2021-10-29 23:23] #3814 closed

[2021-10-29 23:24] #3785 closed

[2021-10-29 23:25] #3719 closed

[2021-10-29 23:28] brennanMKE commented on #2053
Now `AWSS3TransferUtility` includes a property named `shouldRemoveCompletedTasks` which is off by default. It can be set to `true` so that it will release all tasks once they are completed. It will also clear the expression on the task which is retaining the closures for the progress and completion handlers. The expression itself may be used for multiple operations so the handlers should not be cl

[2021-10-29 23:28] #2053 closed

[2021-10-29 23:30] brennanMKE commented on #2053
@jasonbobier & @dydus0x14  Please let us know if this new property helps with your apps.

[2021-11-01 23:16] boek commented on #1063
any updates? 😻

[2021-11-02 11:37] jbb1003 commented on #3830
Testing shows this is also a problem for sfAuthSession (which is hardly surprising, because it works the same way under the hood)

[2021-11-02 19:19] brennanMKE commented on #3479
See #3817

[2021-11-02 19:19] brennanMKE commented on #3478
See #3817

[2021-11-04 16:29] brennanMKE opened #3860 "Support resuming builds with the create frameworks script"
Update create_frameworks.py to support skipping XCF files which are already in the destination directory.

[2021-11-05 16:13] #3837 closed

[2021-11-05 16:15] lawmicha commented on #3851
PR has been merged and pending release

[2021-11-05 23:57] #3809 closed

[2021-11-07 17:50] mozadeh commented on #2633
this is a very poor user experience AWS is enabling here for customers, the fact that this is not available yet doesn't show "Customer obsession"

[2021-11-08 19:27] lawmicha commented on #3500
Pending release of https://github.com/aws-amplify/aws-sdk-ios/pull/3866

[2021-11-10 23:38] cody1024d commented on #3795
Having the same issue as @invinciible.

[2021-11-11 00:46] brennanMKE opened #3871 "Eliminate blocking code in block operations"
**Describe the bug**

There are Block Operations being added to OperationQueues which use DispatchGroup to `enter()` and `leave()` with `wait()` which blocks the thread while async work is done. This work may include network activity which introduces latency while the thread is blocked. There has been evidence of thread explosion which lead to the [getAWSCredentials](https://github.com/aws-amplify

[2021-11-11 01:48] diegocstn commented on #3696
Closing due to inactivity.

[2021-11-11 01:48] #3696 closed

[2021-11-11 02:14] diegocstn commented on #3839
@HashimPhilips we've deprecated and then removed in [v2.20.0](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.20.0) the `AWSCognito` pod. We recommend using [Amplify DataStore](https://docs.amplify.aws/lib/datastore/getting-started/q/platform/ios).

[2021-11-11 02:15] #3754 closed

[2021-11-11 02:16] diegocstn commented on #3754
Closing due to inactivity, but feel free to reopen if you need more assistance.

[2021-11-11 12:02] karasahinemre commented on #2039
Hi, any updates?

[2021-11-11 14:13] cody1024d opened #3874 "Recompile AWSMobileClientXCF with Swift 5.5 (Xcode 13.1 support)"
Currently, when adding `AWSMobileClientXCF`, you get errors stating it was compiled with Swift v. 5.3.2. This is currently a **blocker** for any devs using XCode 13.1.

Creating this issue for visibility, although this was also reported in #3795

[2021-11-12 08:03] skytoup opened #3880 "Huge memory issue when trying to MultiPart upload a big file"
**Describe the bug**
Add a 3GB file for MultiPart upload, the app will be killed for out of memory usage.
I found that the problem is that when the file is created in chunks, the memory is not freed, resulting in excessive memory usage.

look like #1254

**Observed Behavior**

**Expected Behavior**
A clear and concise description of what you expected to happen.

**Stack Trace**
Please provide a st

[2021-11-12 19:26] diegocstn commented on #3733
Closing due to inactivity.

[2021-11-12 19:26] #3733 closed

[2021-11-12 23:17] royjit commented on #3780
You can create a service without using the Cognito Credential provider like this:
[code]

Will this work for your use case? If not, can you please provide a code sample where you use AWSInfo and this issue is happening.

[2021-11-12 23:45] diegocstn commented on #3500
Released with AWS SDKs [v2.26.4](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.26.4)

[2021-11-12 23:45] #3500 closed

[2021-11-15 17:36] MuhammadAbdullah54321 opened #3884 "How to handle when user cancels the pop up for federated Sign In"
I am developing app in React Native

When a user clicks on the button to sign in with google, a pop up appears but I don't see an option to handle the situation if user clicks on cancel on the top of pop up(in iOS). It do not trigger any event in the Hub listener

**Provide code snippets (if applicable)**
![WhatsApp Image 2021-11-06 at 7 25 12 PM](https://user-images.githubusercontent.com/34376568

[2021-11-17 12:03] wvidana commented on #1262
`wontfix`? @wooj2 Can you please advise on how to implement a fix using Amplify? This is still an issue and it is not very clear how we can work around it

[2021-11-17 12:36] albemala commented on #1262
@wooj2 @kvasukib @rohandubal Given that

1. This is not an edge-case issue. Usernames with non-ascii characters is a common use-case scenario in current apps
2. We pay Amazon (hence you) a lot of money for these services

you should

1. Re-open this ticket
2. Work on a fix ASAP
3. Provide us with a proper workaround we can apply in the meantime

Thanks

[2021-11-17 18:30] wooj2 commented on #1262
Hi @wvidana -
Based on your description, it sounds like there is a use case while using Amplify where there is not a work around for this use case (or not an obvious work around).  Sorry about that.  I will re-open this ticket, set to pending triage, and add it to our bug bash queue.

[2021-11-18 18:07] orestesgaolin commented on #2633
Also wondering what is the current status of native support of SIWA.

[2021-11-19 17:27] valzevul opened #3892 "XCTPerformanceMetrics and AWLogs?"
Hey folks,

Is there any advice or documentation on using `XCTPerformanceMetrics` [1] (or `XCMetrics` for that matter) in conjunction with `AWSLogs` or `AWSLogsWrapper`?

I'd like to be able to define a few transactions within the app, measure their performance on a slice of our user base and plot the data as a chart in a CloudWatch dashboard.

Is it something feasible?

[1]: https://developer.app

[2021-11-19 21:42] thisisabhash commented on #2039
Thank you for raising the PR. We are currently discussing this within our team and will post here with further updates.

[2021-11-20 05:05] alionthego commented on #1522
any update or workaround to get authentication tokens in app extension?

[2021-11-20 06:55] alionthego commented on #2978
How did you make it work?  I need to use Auth in extension.  I notice a few people here say they made it work but without explaining how.

[2021-11-22 15:23] jbb1003 commented on #2171
SDK version 2.26.3
Dependency manager: Cocoapods
iOS Version: 14.0, 14.8.1 (two different devices)

I don't see why this was "closed due to inactivity". It was agreed to be a bug. I've just run into the same thing - two calls to getSession can cause the second one never to complete, because AWSCognitoAuth.getSessionBlock has been nilled.

getSessionInternal calls prepareForSignin from inside the N

[2021-11-22 22:06] jbb1003 opened #3897 "AWSCognitoAuth getSessionInternal race condition"
**Describe the bug**
In AWSCognitoAuth.m, `getSessionInternal` has a race condition on all values set in prepareForSignin

Access to this method is serial and controlled by the getSessionQueue.

At the start of getSessionInternal, it calls
` [self prepareForSignIn:vc completion:completion];` which sets `getSessionBlock`

In the simplest case, no token refresh is required, and `getSessionInternal`

[2021-11-25 01:58] #3769 closed

[2021-11-25 01:58] #3780 closed

[2021-11-25 01:59] #3839 closed

[2021-11-25 14:01] los-ko commented on #2633
Why is this issue even closed? Please re-open since this has not been fixed. The WebView solution doesn't get accepted by reviewers at apple, also if it would its still a really bad ux.

[2021-11-25 15:34] michaeljajou commented on #2633
Is it true that the web view solution will not be accepted by Apple reviewers?

[2021-11-25 15:35] michaeljajou commented on #2633
Is it true that the web view solution will not be accepted by Apple reviewers?

[2021-11-25 15:38] los-ko commented on #2633
"We discovered one or more bugs in your app. Specifically, all three features “Sign In with Apple”, login with Facebook and Google were implemented but did not function on their UI. Please review the details below and complete the next steps."

This is what they sent to us, we are waiting for the clarification of what "it did not function on their UI" means.

[2021-11-25 15:40] michaeljajou commented on #2633
Gotcha, please let us know

[2021-11-28 05:14] umair0214 commented on #3083
Hi @brennanMKE,
I am getting the same error. Working well on the device(IOS15) but not on Simulator(IOS15). I am using the latest version of Xcode 13.1 and AWS

I am also getting it in the same file. AWSS3TransferUtility.m file.

Exactly after executing this line:
_session = [NSURLSession sessionWithConfiguration:configuration
delegate:self
delegateQueue:nil];

Did you get a chance to fix this iss

[2021-11-29 04:24] royjit commented on #3741
GetClip is currently supported in the SDK - https://github.com/aws-amplify/aws-sdk-ios/blob/509d4df3cb5ca09415ee98fb446b1b5221d35f5d/AWSKinesisVideoArchivedMedia/AWSKinesisVideoArchivedMediaService.m#L287

[2021-11-29 04:24] #3741 closed

[2021-11-29 09:41] sochalewski commented on #3741
@royjit But `AWSKinesisVideoAPIName` is still missing `GET_CLIP`, so it's unusable.

[Source](https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_reader_GetClip.html)

[2021-11-30 06:21] mhrjnamar commented on #3036
Hi
I am getting this error while build app for iOS
'''Undefined symbols for architecture arm64:
  "_OBJC_CLASS_$__TtC20amplify_auth_cognito16SwiftAuthCognito", referenced from:
      objc-class-ref in AuthCognito.o
ld: symbol(s) not found for architecture arm64
clang: error: linker command failed with exit code 1 (use -v to see invocation)'''

I have tried these.
This error seems to be caused by a

[2021-12-01 08:23] sspogra commented on #2434
Same with 2.26.5 and iOS 15.

[2021-12-01 08:34] sspogra commented on #2835
Same with 2.26.1 and iOS 15

[2021-12-01 12:47] sochalewski opened #3916 "Missing support for `AWSKinesisVideoAPINameGetClip`"
**Which AWS Services is the feature request for?**
AWSKinesisVideo

**Is your feature request related to a problem? Please describe.**
The iOS library misses suport for `AWSKinesisVideoAPINameGetClip` (`GET_CLIP`) in `AWSKinesisVideoAPIName`.

**Describe the solution you'd like**
An easy way to get an endpoint URL to be used in [`GetClip`](https://docs.aws.amazon.com/kinesisvideostreams/latest/dg/

[2021-12-01 13:46] oleg-moseyko commented on #3668
Hi @brennanMKE
Six months have passed ... Is there any progress?

[2021-12-01 14:34] oleg-moseyko opened #3917 "Unable to find information for task in taskDictionary"
**Describe the bug**
I make several launches to upload images.
The exact number of launches can’t be said because it’s a different number each time.
Everything works fine.
Those I can upload 20, 50, ... photos.
Then, for some reason, at the next attempt to upload, the process stops running.
Those continueWith indicates a successful start and the status of the task goes to the state IN_PROGRESS.
[c

[2021-12-04 19:32] pzmudzinski commented on #2583
I assume answer is no - it's only viable for email/pwd login. Implemented it using `LocalAuthentication` framework.

[2021-12-07 16:38] suggestedfixes opened #3931 "Sample Request: getMediaForFragmentList API sample with AVPlayer"
**Which AWS Services is the feature request for?**
Amazon Kinesis Video Streams

**Is your feature request related to a problem? Please describe.**
The problem we are solving is trying to stream a subset of video fragments. It seems as though getMediaForFragmentList is a perfect candidate for this purpose. We had tiny roadblocks trying different request formats for getMediaForFragmentList and are

[2021-12-08 11:46] look1n commented on #2513
@palpatim any update please?

[2021-12-08 14:30] sarojkumarojha opened #3932 "Backup file to bucket failed : error -NSURLErrorDomain Code=-1200"
**Describe the bug**
we use  aws sdk in our App  to upload/download zip file to AWS bucket  , through cocoa pod
[code]
currently we are facing backup failure issue for more number of users
The error details here :
Error Domain=NSURLErrorDomain Code=-1200 "An SSL error has occurred and a secure connection to the server cannot be made." UserInfo={NSErrorFailingURLStringKey=https://s3.us-east-1.amazo

[2021-12-08 16:42] collindutter commented on #2513
@look1n this diagram from [here](https://developer.apple.com/documentation/sign_in_with_apple/sign_in_with_apple_rest_api/verifying_a_user) explains the flow pretty well.

The response from the ["Token authorization code"](https://developer.apple.com/documentation/sign_in_with_apple/generate_and_validate_tokens) api contains a refreshed identity token, and a refresh token. You can pass the identit

[2021-12-09 00:49] bfwizard opened #3937 "AWS Kinesis Video IOS Producer SDK is not fully supported."
AWS Kinesis Video IOS Producer SDK is not fully supported.

We are using mobile phones as cameras and wish to process those videos in AI/ML models we have in AWS.

It would be great if your team could work with awslabs/amazon-kinesis-video-streams-producer-sdk-cpp teams to get this working by creating a swift to c bridge so we can use PutMedia calls, which is missing in this SDK

Currently there i

[2021-12-09 01:09] brennanMKE opened #3938 "IoT Tests are flaky"
`testPubSubWithMultipleMQTTBrokersWithWebSocket - AWSIoTTests.AWSIoTDataManagerTests`

This test is flaky and should be reviewed.

**To Reproduce**
Steps to reproduce the behavior:
1. Run test automation multiple times
2. Observe this test failing

[2021-12-09 20:01] jonathanarevalogaray commented on #1574
Is this still not supported?

[2021-12-09 23:15] brennanMKE opened #3939 "OCMock binary is not compatible with Apple Silicon M1 Macs"
**Describe the bug**

The OCMock binary (libOCMock.a) has not been built for modern Apple Silicon and is included in the repo as a binary. It will need to be updated to include a slice for arm64 for Apple Silicon.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone SDK repo to M1 Mac
2. Build
3. Run tests
4. See error

Since this binary has not been updated in a while and the header files

[2021-12-09 23:24] brennanMKE commented on #3939
Here is the full script.

[code]

* [locate-build-path](https://gist.github.com/brennanMKE/5ca36274b3249c2086a09950039feb8f)

Since `libOCMock.a` is linked directly by many test targets the most minimal change would be to replace that binary. I do not know if a FAT binary will work in this case since arm64 for Macs may be different than it is for iPhones which are also arm64. If a single binary ca

[2021-12-13 08:29] invinciible commented on #3874
@royjit This isn't fixed yet in the new release.

[2021-12-14 05:33] sainiketan47 commented on #2886
For iOS you can use Prefer private session during signIn it will not show any alert on signing and signout

Amplify.Auth.signInWithWebUI(presentationAnchor: self.view.window!, options: .preferPrivateSession()) { ... }

[2021-12-15 17:28] viktor992 commented on #993
Any update on this?

[2021-12-15 19:45] brennanMKE opened #3941 "Create CocoaPods linter for all podspecs to run before starting a release"
`pod lib lint AWSCognitoAuth.podspec --verbose`

This command should be run on the latest commit prior to starting a release to ensure the CP trunk release for each pod will be successful. If a pod does fail during release it will require a manual release for CP, SPM and possibly other steps. This check could prevent the automated release process from failing late in the release process.

[2021-12-15 23:43] jscottarmstrong opened #3943 "How long should verifying packages via Swift Package Manager take?"
**State your question**
How long should the Swift Package Manager take to move the progress bar in the verifying aws-sdk-ios-spm... step? I'm at well over 17 minutes.

**Which AWS Services are you utilizing?**
aws-sdk-ios via Swift Package Manager

**Provide code snippets (if applicable)**
n/a

**Environment(please complete the following information):**
Swift Package Manager
Swift 5+

**Device Inf