[2018-01-31 17:47] alombard commented on #529
This would be really useful - thanks for your consideration.

[2018-01-31 22:01] billykahl commented on #769
@kvasukib any time line on when we can expect multi-part on `TransferUtility`. I am having the same issue as @jeffjvick

[2018-02-01 01:28] behrooziAWS commented on #797
Although you can get the policies associated with an iam user: https://docs.aws.amazon.com/cli/latest/reference/iam/get-user-policy.html it's probably more effort than it's worth to parse these to determine if someone has access to something.  Your best bet, especially if the user is an AWS Developer is when you make the call and you get an AccessDeniedException to notify them to confirm they have

[2018-02-01 01:28] #797 closed

[2018-02-01 01:49] huyttn123 commented on #818
Anyone please help me about this. Thanks

[2018-02-01 12:37] balajikondalrayal opened #820 "This is more of a question than an issue."
We are trying to consume a 'AWS API Gateway' API from iOS (using Swift) that needs signature V4 signing. What are the available approaches?

Do we have to use the generated SDK for the API from the API Gateway console? Is this the only approach?

OR

Can we sign and access the API by using 'only' the AWSAPIGateway.framework? (i.e.) without the generated SDK.

[2018-02-01 22:24] kvasukib commented on #818
Hello @huyttn123,

Sorry for the inconvenience caused. The code in the repository "amazon-cognito-ios" is no longer supported. The Google SignIn functionality is currently offered by the Amazon Cognito Auth library. This provides you the sign-in in a web/hosted UI rather than a native UI.

https://github.com/awslabs/aws-sdk-ios-samples/tree/master/CognitoAuth-Sample

[2018-02-01 23:30] twobitlabs opened #821 "File corruption when using AWSS3TransferManager"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

S3

* In what version of SDK are you facing the problem?

2.6.11

* Is the issue limited to Simulators / Actual Devices?

Actual devices

* Can your problem be resolved if you bump to a higher version of SDK?

No, on the latest

* Is this problem related to specific iOS version?

[2018-02-02 01:01] kvasukib commented on #821
`AWSS3TransferManager` doesn't support transfers while the app is in the background. `AWSS3TransferUtility` supports background transfers. For more information: https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html#how-to-transfer-utility-add-aws-user-data-storage-download

[2018-02-02 01:52] twobitlabs commented on #821
That's fine if AWSS3TransferManager doesn't handle transfers in the background (I don't need it to) but it still shouldn't return a corrupted file at the requested url when the app is foregrounded. Ideally it would handle it gracefully and return an Error.

I can't find anything in the docs at https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-ios-s3-transfermanager.html that expl

[2018-02-02 05:25] masarusanjp commented on #815
I have same issue.
So I avoid this issue by following code .

[code]

Looking at the current implementation, it seems unnecessary to depend on UINavigationController.

https://github.com/aws/aws-sdk-ios/blob/master/AWSAuthSDK/Sources/AWSAuthUI/AWSAuthUIViewController.m#L43

I hope this dependency is gone in the next version

[2018-02-02 08:01] vysotsky opened #822 "Lambda uses unauth credentials after a user sign in"
## To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Cognito, IAM, Lambda, S3

* In what version of SDK are you facing the problem?
2.6.10

* Is the issue limited to Simulators / Actual Devices?
No

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How

[2018-02-02 11:32] johnmclee opened #823 "AWSIoT Code Signing issue"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSIoT

* In what version of SDK are you facing the problem?
2.6.11

* Is the issue limited to Simulators / Actual Devices?
Compiling error

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How are

[2018-02-05 10:40] balajikondalrayal opened #824 "AWSAPIGateway framework for Swift limitation - App Crashing while parsing JSON 64-bit integer"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSAPIGateway

* In what version of SDK are you facing the problem?
2.6.11

* Is the issue limited to Simulators / Actual Devices?
No, happens in both simulator and an actual device.

* Can your problem be resolved if you bump to a higher version of SDK?
Using the latest version

[2018-02-05 17:57] minbi commented on #824
Hi @balajikondalrayal ,

Are you saying that integrating the AWSAPIGateway framework is interfering with network calls that are not made through an API Gateway client?

[2018-02-05 18:57] minbi commented on #820
@balajikondalrayal ,

You'll need to write your own marshallers and unmarshallers, but the signing is available through the AWSAPIGateway.framework.

[2018-02-06 05:25] balajikondalrayal commented on #824
Yes. That's the behaviour we are observing.

Once we undo the integration of the framework, the REST API call works normally.

Can you confirm if this is an issue with the latest version of the framework? Do you recommend integrating an earlier version of the framework?

[2018-02-06 18:02] sleman opened #825 "Amazon SES : Request timing out with attachments"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Amazon SES

* In what version of SDK are you facing the problem?
2.6.11

* Is the issue limited to Simulators / Actual Devices?
Actual Device

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
Not sure

*

[2018-02-06 18:21] sleman commented on #825
Found out that issue was caused by not having a line break after `Content-Transfer-Encoding: base64` and before the base64 encoded attachment. This drove me nuts for a day and Amazon should really not return a timeout on their end for this.

[2018-02-06 18:38] kvasukib commented on #825
Thank you @sleman for reporting to us. We will look into improving it.

[2018-02-06 18:38] #825 closed

[2018-02-07 08:58] gabrielkaputa commented on #659
any news about this? would be useful

[2018-02-07 11:00] steveRobert opened #826 "Crash: - AWSPinpointSessionClient endCurrentSessionTimeoutWithTimer"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Pinpoint

* In what version of SDK are you facing the problem?
2.6.10

* Is the issue limited to Simulators / Actual Devices?
Can't reproduce locally in the simulator or on device, but reported by Crashlytics (production - App Store)

* Can your problem be resolved if you bump to

[2018-02-07 18:40] twobitlabs commented on #821
I'm also getting reports from production users of our app that our audio files are sometimes corrupted by the AWSS3TransferManager (even if the app is in the foreground the entire time). Here's a log from a production user of ours where the app requested the download with AWSS3TransferManager.default().download(request) and the contentLength is 3178795 (the actual size of the file) but the file we

[2018-02-07 18:51] twobitlabs commented on #821
Also likely related to this issue: https://github.com/aws/aws-sdk-ios/issues/415

[2018-02-07 19:35] kvasukib commented on #821
Sorry for the inconvenience caused. Can you give us more details about the network configuration? WiFi/Cellular? Speed of the network? Any packet loss observed? With the information in #415 we weren't able to reproduce it on WiFi network. We are looking into it and will have an update soon. Thanks.

[2018-02-07 20:26] twobitlabs commented on #821
I can't tell from the Instabug logs if the users reporting the issues are on wifi or cellular.

I've been testing with network link conditioner and can't reproduce the logs I occasionally get from production users so perhaps it's a race condition that you won't be able to reliably reproduce. If I background the app, wait a minute, and then foreground with a download left running then I 100% of the

[2018-02-07 21:11] kvasukib commented on #821
Thank you @twobitlabs. This is useful information for the further investigation. I will update here once I am able to reproduce the issue.

[2018-02-07 21:25] lquigley commented on #738
+1

[2018-02-08 06:08] balajikondalrayal commented on #824
Hi Team,

Any update on this yet? Are you able to reproduce? Do you want any more information?

[2018-02-08 12:48] peteradel commented on #800
I am facing the same issue can you tell me how did you fix it?

[2018-02-09 05:23] shashiLBB opened #828 "Crash at line 303 in AWSService.m for iOS 11"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
I am using **AWSCognitoCredentialsProvider**

                    identityPoolId:(NSString *)identityPoolId

* In what version of SDK are you facing the problem?
`Using AWSCognito (2.4.12)
Using AWSCognitoIdentityProvider (2.4.12)
Using AWSCore (2.4.12)
Using AWSKinesis (2.4.12)`

[2018-02-09 05:46] kvasukib commented on #828
Thank you @shashiLBB for reporting to us. Sorry for the inconvenience caused. Can you post the code snippet and include the exception and stacktrace here? That would be helpful for us in debugging.

[2018-02-09 07:24] shashiLBB commented on #828
AWSRegionType defaultRegionType = [region aws_regionTypeValue];
    NSLog(@"defaultRegionType %ld", (long)defaultRegionType);
    AWSCognitoCredentialsProvider *credentialsProvider = [[AWSCognitoCredentialsProvider alloc]
                                                          initWithRegionType: defaultRegionType
                                                          identityPoolId:poolID];

[2018-02-09 08:57] shashiLBB commented on #828
defaultRegionType = 11
It's crashing only on iOS 11, pls check

[2018-02-09 18:49] kvasukib commented on #828
Thank you @shashiLBB for posting the code snippet.

`Code:`

[code]

**Debugger output:**

[code]

I ran it on iPhone 8 Plus running latest iOS version and I don't see a crash in versions 2.4.12 ad well as 2.6.12.

What version of XCode are you using? Are you running on simulators?

[2018-02-09 19:39] vikram17000 commented on #692
Thanks! All good now!

[2018-02-10 11:19] steveRobert commented on #826
Hi @kvasukib ,
I use Pinpoint in basic configuration for tracking events and send push notifications for my users.
I have 2000+ users in my application, and last week, crashlytics notified me for a pinpoint crash for one user. I use 2.6.10 AWS SDK.

Here is my simple code for AWS:
[code]

[2018-02-12 14:20] slavoie06 commented on #814
This is still happening even with version aws-ios-sdk-2.6.12.

[2018-02-12 17:20] mathieugarcia commented on #815
Hello!

I second this request. My app uses a custom widget library and rely only occasionally on UIKit widgets. Most 3rd party SDK we use, that have custom UI's, use `UIViewController`'s, not `UINavigationController`'s.

Thanks for considering this!

Cheers,
Mathieu.

[2018-02-13 15:44] rajeejones opened #829 "HIPPA based Signup with Cognito"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Cognito Federated Identity, Cognito User Pool, DnyamoDB, Lambda
* In what version of SDK are you facing the problem?
2.6.12
* Is the issue limited to Simulators / Actual Devices?
Doesn't matter
* Can your problem be resolved if you bump to a higher version of SDK?
No
* Is this pr

[2018-02-13 17:18] guna opened #830 "AWS SNS, error subscribing to a topic"
Hello,  my iOS client is trying to subscribe to a topic but I get this error:

Error subscribing: Optional(Error Domain=com.amazonaws.AWSSNSErrorDomain Code=1 "(null)" UserInfo={Type=Sender, Message=User: arn:aws:sts::612274203562:assumed-role/Cognito_TipsAppAuth_Role/CognitoIdentityCredentials is not authorized to perform: SNS:Subscribe on resource: arn:aws:sns:us-west-2:612274203562:XXXX, Code=A

[2018-02-13 18:24] rohandubal commented on #830
Hello @guna

Have you attached the permissions to both the Auth and Un-Auth roles? I see the error being raised for Auth role.

Could you also mention the policy you have attached to Auth role?

Thanks,
Rohan

[2018-02-13 18:28] guna commented on #830
Hi @rohandubal - We are only using Auth role and we did attach the right policy to Auth role.

[2018-02-13 19:41] guna commented on #830
I removed the MultiFactorAuthPresent condition and also added permission for ConfirmSubscription and  I am able to successfully subscribe and receive notifications. But I still get this error message on my console?:

Subscribed succesfully
Error subscribing: Optional(Error Domain=com.amazonaws.AWSSNSErrorDomain Code=4 "(null)" UserInfo={Type=Sender, Message=Invalid token, Code=InvalidParameter, __

[2018-02-13 22:40] Vi-dot opened #831 "Verify your bundle identifier - Prebuilt frameworks install"
I'm following the **Prebuilt frameworks** install steps.
Then I downloaded package **aws-sdk-ios-2.zip**

Issue is happening when I want to send the application to App Store (with "Upload to App Store" or "Application Loader").

The frameworks are embedded and I added the Script Phase to strip frameworks.

But at the end I still have this error : **No suitable application records were found. Verif

[2018-02-14 04:12] keshavx11 commented on #752
Is this issue resolved?
if so, please share the resolution. I am facing the same crash.

[2018-02-14 11:18] Incorporalis opened #832 "AWSSNS: Too many symbol files issue after iTunes Delivery process"
Hello! We have a problem with using AWSSNS (+AWSCore) as prebuilt frameworks in our project.

It is the latest version of the SDK. 2.6.12 Mobile SDK

It occurs only if we upload a new build to iTunes Connect, it doesn't bring any problem with publishing, just a warning

It seems like dsym files for sliced binaries (with run script strip-frameworks.sh).

[code]

[2018-02-14 18:28] twobitlabs commented on #821
Any updates? We continue to get reports from users of corrupted downloads and we can see from the log the file that AWSS3TransferManager gives us is occasionally larger than the original file on S3.

[2018-02-15 06:24] keshavx11 commented on #752
**What service are you using?**
AWSIoT

**In what version of SDK are you facing the problem?**
v2.6.12

**Is the issue limited to Simulators / Actual Devices?**
Actual Devices

**Can your problem be resolved if you bump to a higher version of SDK?**
We are on the highest available version but still facing the crash.

**Is this problem related to specific iOS version?
Operating systems affected by

[2018-02-15 17:11] joelkraut opened #833 "Linker errors when using static libraries"
Hi there. I'm trying to build some of the SDK as a set of static frameworks in order to incorporate them into a single dynamic framework used for my app and app extension, as per [https://github.com/Carthage/Carthage/blob/master/Documentation/StaticFrameworks.md](https://github.com/Carthage/Carthage/blob/master/Documentation/StaticFrameworks.md). Building the frameworks static seems to work, but w

[2018-02-15 17:31] joelkraut commented on #831
@Vi-dot this is not an AWS issue, it's Apple. What they're saying is that you haven't created an application in iTunes Connect called "com.amazonaws.sdk…". That's probably not what you want, either, unless you work at Amazon. Sign in to itunesconnect.apple.com, create a new application record, then set your project's bundle identifier to the match.

[2018-02-15 18:28] jondwillis commented on #376
Any updates on this?

[2018-02-15 20:26] joelkraut commented on #833
Looks like this is caused by including the `-ObjC` linker flag.

[2018-02-15 23:32] Stan-Ost opened #834 "API Gateway throws an error on Post request with body encoded with Codable"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS API Gateway

* In what version of SDK are you facing the problem?
2.6.12 and below

* Is the issue limited to Simulators / Actual Devices?
Both

* Can your problem be resolved if you bump to a higher version of SDK?
No, it persists across all versions

* Is this problem relat

[2018-02-16 22:08] afbeaver opened #835 "AWSAuthUIViewController sign-in is covered by keyboard"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSAuthUIViewController

* In what version of SDK are you facing the problem?
2.6.12

* Is the issue limited to Simulators / Actual Devices?
No

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How

[2018-02-17 00:20] kvasukib commented on #835
Hi @afbeaver, Thank you for reporting to us. Sorry for the inconvenience caused. Are you using a custom AuthUIConfiguration? If so, can you post the code snippet here?

[2018-02-17 00:28] rohandubal commented on #834
Hello,

Could you provide a code snippet of how you are using the SDK for invocation? Do you use the generated API Gateway SDK?

Thanks
Rohan

[2018-02-17 00:32] rohandubal commented on #832
Hello,

Do you follow the process of stripping symbols as specified by Carthage?

Thanks,
Rohan

[2018-02-17 00:44] Incorporalis commented on #832
Hello,

@rohandubal Yes, we use carthage with stripping symbols, but AWS is installed as prebuilt framework, so carthage doesn't do anything with our embed frameworks. If it makes any sense.

Ivan

[2018-02-17 16:34] afbeaver commented on #835
I have done some more testing.  The default screen without any config is ok.  When you use a custom image or remove the facebook or google sign-in, the textfield ends up below the keyboard.  Here is a custom config example:
`let config = AWSAuthUIConfiguration()`
`config.enableUserPoolsUI = true`
`config.backgroundColor = UIColor.blue`
`config.isBackgroundColorFullScreen = false`
`config.canCancel

[2018-02-17 20:25] Stan-Ost commented on #834
I call directly `client.invokeHTTPRequest:` method to return the request, and than use `.continieWithTask()`.

[code]
Is there any specific way to form Body from Codable? `invokeHTTPRequest` uses `Any`, not `Data`.

[2018-02-18 23:36] waynemock opened #837 "AWSTranscribe Framework?"
Hi aws-sdk-ios team!

I'm starting a new macOS project using the AWS Transcribe preview. This SDK is great, but missing a framework for Transcribe. Just wondering if one is in the works. I've started developing my own, and would love to contribute once it's ready if that make sense. I'm following the S3 framework as a model for how to structure it.

I've ported this SDK over to macOS, and it seems

[2018-02-19 01:48] rohandubal commented on #834
No, there is no direct way to use Codable. Could you try integrating with the generated SDK and then passing the specified parameters?

[2018-02-19 01:50] rohandubal commented on #832
@Incorporalis

Have you tried doing a force build on your client side? Does it have the same impact? As a minimum comparison, you could check the size of binaries.

[2018-02-19 01:59] rohandubal commented on #830
@behrooziAWS  could you share some insight on policy for MFA requirement?

[2018-02-19 03:07] waynemock commented on #498
I’ve got a port of the kit to macOS working well for my needs. It’s the latest version 2.6.12. Has all the frameworks except AWSLex and AWSPinpoint.

https://github.com/waynemock/aws-sdk-ios

[2018-02-19 14:11] dharmendra-ios commented on #800
I am facing the same issue can you tell me how did you fix it?

[2018-02-19 14:28] Stan-Ost commented on #834
I created an API based on how it's structured in the generated SDK. Here is the example from generated file:
[code]

Body is `nil` here, but I have a body to pass. So what format does it support? `Data`?  Or `[String:Any]`?

[2018-02-19 15:48] rohandubal commented on #834
You should be able to use either a string body as used [here](https://github.com/aws/aws-sdk-ios/blob/a50e487cc71fc9345bdd55b8bdfe0eb08c7250ac/AWSAPIGatewayTests/AWSAPIGatewayInvokeTest.swift#L65).

You could also use a dictionary like shown [here](https://github.com/aws/aws-sdk-ios/blob/a50e487cc71fc9345bdd55b8bdfe0eb08c7250ac/AWSAPIGatewayTests/AWSAPIGatewayInvokeTest.swift#L154).

You can use a

[2018-02-19 15:56] rohandubal commented on #822
Hello,

You will have to provide an identityManager here:

[code]

which manages the user pools token and federates it with Cognito Identity to use the auth role.

You can also use Identity Manager which is a high level abstraction to achieve this. The documentation for same is specified here: https://docs.aws.amazon.com/aws-mobile/latest/developerguide/add-aws-mobile-user-sign-in.html

Thanks,
Ro

[2018-02-19 15:56] #822 closed

[2018-02-19 16:38] rohandubal commented on #817
You are using the `continueWithSuccess` block. To catch the errors, you will have to use `continueWith` block. `continueWithSuccess` gets called only if the call successfully goes through. To debug, you will have to use `continueWith` block.

[2018-02-20 20:39] interactivematt commented on #738
+1

[2018-02-20 23:15] reaganwood1 commented on #370
Hey all, I just wanted to let you know that the isSignedIn attribute is slow to set for the current logged in user. @behrooziAWS

Preface: I log in, dismiss the view ondidcompletestepwitherror, then the following set of code runs in my vc presented:

`func isCustomerLoggedIn () -> Bool {
        let isCustomerLoggedIn = AppDelegate.defaultUserPool().currentUser()?.isSignedIn

        if let isCust

[2018-02-21 06:48] itsmeichigo commented on #580
I just got the same issue with the exact same stack trace using version 2.6.11. Please take a look again?

[2018-02-21 15:05] johndpope opened #838 "enhancement - Need example for adminLinkProviderForUser for facebook / google"
I want to be able to link a new facebook / google login to an existing user account.
It's not clear how to do this. yes - I've seen the docs and header
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CognitoIdentityServiceProvider.html#adminLinkProviderForUser-property

### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
s

[2018-02-23 08:47] kvasukib commented on #738
Thank you @liuxuan30 for reporting to us. Sorry for the inconvenience caused. We are looking into it.

[2018-02-26 09:34] YousefED commented on #737
We're seeing similar issues in Firebase Crash Reporting with the following stack traces. Resulting in app crashes for our users:

[code]

[2018-02-26 16:57] johndpope opened #839 "enhancement - mobilehub login via amazon - email / password"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
mobilehub

* In what version of SDK are you facing the problem?
latest

website should allow user to be able to select amazon login as a social login
![screen shot 2018-02-26 at 11 54 17 am](https://user-images.githubusercontent.com/289994/36683584-f3882ea6-1aeb-11e8-8975-31c4c34

[2018-02-26 17:01] johndpope commented on #839
if !AWSSignInManager.sharedInstance().isLoggedIn {
            let config = AWSAuthUIConfiguration()
            config.enableUserPoolsUI = true
            config.addSignInButtonView(class: AWSGoogleSignInButton.self)
            config.addSignInButtonView(class: AWSFacebookSignInButton.self)

I want to be able to plugin amazon

       config.addSignInButtonView(class: AWSAmazonSignInButton.self)

[2018-02-26 17:17] johndpope commented on #839
these repos seems to be only swift code using amazon login.

![screen shot 2018-02-26 at 12 11 21 pm](https://user-images.githubusercontent.com/289994/36684394-2c84f64c-1aee-11e8-9b96-d94eef08dc76.png)

https://github.com/LuAndreCast/amazonAlexaLogin/blob/038a9dbd13b7e0e856ee53d9162300b8fb6da220/Library%20Version%202/Alexa%20and%20Amazon%20Login/SWIFT/AmazonLoginSwift/amazon%20login/AmazonAuthoriz

[2018-02-26 20:44] johndpope commented on #839
Adding Login with Amazon as an Identity Provider
Create an app in the Login With Amazon App Console at http://login.amazon.com/manageApps. Note the client ID and client secret (shown in the Web Settings section).

Sign in to the Amazon Cognito console. You may be prompted for your AWS credentials.

In the navigation pane, choose Manage your User Pools, and choose the user pool you want to edit.

C

[2018-02-26 20:49] johndpope commented on #839
persevering with instructions from above -  I can add and see amazon social login - it has client secret only for web app though. This obviously is not integrated with mobilehub yet.

![screen shot 2018-02-26 at 3 45 14 pm](https://user-images.githubusercontent.com/289994/36694413-5761d6a0-1b0c-11e8-9e18-aab7a774744b.png)
<img width="905" alt="screen shot 2018-02-26 at 3 47 50 pm" src="https://use

[2018-02-27 13:06] waynemock opened #840 "AWS Transcribe returning AccessDeniedException"
I am working on a macOS app that will use the AWS Transcribe service. I've ported the AWS iOS SDK over to macOS. Things like MobileHub, Cognito, and S3 work fine from my macOS App. For example, I'm able to write/read files to/from S3 without issue.

Currently, the iOS SDK does not have AWS Transcribe support. I'm in the process of adding it to the SDK. I've run into an issue with the role I'm usin

[2018-02-27 15:53] iosjillian commented on #738
+1, thanks for investigating!

[2018-02-27 16:10] johndpope commented on #839
found this login via amazon which exposes ios api key / secret

<img width="1308" alt="screen shot 2018-02-27 at 11 08 29 am" src="https://user-images.githubusercontent.com/289994/36739695-9347e838-1bae-11e8-9ba5-c7c055c4026b.png">

[2018-02-27 16:35] mirkokiefer commented on #498
+1

[2018-02-27 16:48] johndpope commented on #839
so this test app - https://github.com/grimlockrocks/login-with-amazon-swift3-sample-app
successfully logs in with ios in swift. but there's no integration with cognito

import **LoginWithAmazon**

need clarification on how to integrate with awscognitoidentity provider.

[2018-02-27 19:40] avishsaha opened #841 "MAY DAY MAY DAY MAY DAY - com.amazonaws.mobileconnectors.api gateway.Api Clientexception invalid login token"
<img width="1049" alt="screen shot 2018-02-28 at 1 03 56 am" src="https://user-images.githubusercontent.com/2059466/36750656-1cf564d2-1c24-11e8-912d-52f7faf49fd6.png">

[2018-02-27 19:54] #841 closed

[2018-02-27 22:13] minbi commented on #840
Can you paste the role that you are attempting to use here?

[2018-02-27 23:15] waynemock commented on #840
Here you go: arn:aws:iam::959944903584:role/sytrans_unauth_MOBILEHUB_1445786753

[2018-02-28 00:46] minbi commented on #838
Hi @johndpope ,

Based on the Javascript issue [linked](https://github.com/aws/amazon-cognito-identity-js/issues/560), the same API could be called from the iOS' client. I have not implemented this code, but the call would be something along these lines.

The Facebook token can be extracted after a login-in process separate from the Cognito UserPools SDK by using `[FBSDKAccessToken currentAccessTo

[2018-02-28 13:52] freynolds commented on #623
Hey guys, I'm also intrested on what @emresebat is asking. I would love to see my logs in cloudwatch directly from the app.

[2018-02-28 16:11] Dellybro opened #842 "getSession login does not authenticate user until app is restarted"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

MobileHub, Cognito, Lambda

* In what version of SDK are you facing the problem?

2.6.6

* Is the issue limited to Simulators / Actual Devices?

Both

* Can your problem be resolved if you bump to a higher version of SDK?

No

* Is this problem related to specific iOS version?

[2018-02-28 17:51] minbi commented on #840
Thanks, I am contacting the team to see if the policy is correct for access. I assume you have already been accepted into the preview.

[2018-02-28 18:25] waynemock commented on #840
Thx. I do have preview access. This role does work when I assume it with the AWS CLI or the Transcribe console.

[2018-02-28 18:47] waynemock commented on #840
To clarify the AWS CLI transcribe commands work with the role.

[2018-02-28 20:25] fyredave commented on #842
I work with Travis and to elaborate, the issue was, on the first time login, the credentials would be out of sync, resulting in an unauthenticated identity being sent to API gateway when use the API client generated by mobile hub.

I was able to resolve the issue by making sure we used the default client, and invalidating the temporary caching credentials of the default client's configuration, cre

[2018-02-28 20:33] behrooziAWS commented on #842
@fyredave Your remediation steps seem similar to the suggestions I put on this issue: https://github.com/awslabs/aws-sdk-ios-samples/issues/249 may I close?

[2018-02-28 21:06] fyredave commented on #842
Well I would normally expect the credentials to be updated when a successful getSession call goes through. It was the source of quite a bit of frustration for our team when the Android SDK worked seamlessly by following the documentation and the iOS SDK did not. I would at least like to see some better documentation. I was able to resolve it by performing a single line after the getSession call.

[2018-02-28 23:06] minbi commented on #839
Hi @johndpope ,

You should be able to set the token shown in this example:
https://docs.aws.amazon.com/cognito/latest/developerguide/amazon.html#set-up-amazon-1.ios-swift

[code]

[2018-03-01 01:12] johndpope commented on #839
will try and post update here in due course and close ticket.

[2018-03-01 07:10] joke-lee opened #843 "how to set pathstyle and signature version in AWSServiceConfiguration"
i try to use ios sdk for ceph rgw, and how to set pathstyle  and signature version

we can set signature version and style in boto3

[code]
so how to set pathstyle and signature version in ios sdk(swift and object-c)

[2018-03-01 10:48] joke-lee commented on #843
hi @kredden, would you mind tell me how to set signature version and addressing style?

[2018-03-01 15:37] danipralea commented on #397
@xaksis can you maybe provide a gist with your solution please?
I'm struggling for a while now to move from unauthenticated to authenticated as well.
I used the sample from AWS, but I don't want to use a popup as a sign-in controller, but a custom one

[2018-03-01 18:07] minbi commented on #840
The AWS Transcribe team is available to help at:
aws-transcribe-preview-feedback@amazon.com

[2018-03-01 18:20] behrooziAWS commented on #840
Hi @waynemock Cognito applies a scope down policy to unauthenticated roles which restricts what services you can access.  This prevents you from accidentally allowing your unauthenticated users access to spin up EC2 instances for example.  Transcribe isn't currently part of the whitelist, but may be added in the future.  If you need a workaround can you try creating your credentials provider using

[2018-03-01 23:49] minbi commented on #806
Model:
[code]

Client Code:
[code]

[2018-03-01 23:49] #806 closed

[2018-03-01 23:49] minbi commented on #806
Please re-open or create another issue if further discussion is required.

[2018-03-02 04:24] Hello-Bye opened #844 "sent APNs with Pinpoint Campaigns not have ‘sound’ and ‘badge’"
"aps":{
"alert":{
"title":"s",
"body":"s"
},
"content-available":1
},

Hi

When i sent APNs with Pinpoint Campaigns to iOS, I received notification message is this way, "aps" need have "alert" "sound" and "badge", but it only has "alert" now. What did I miss？Do you have any ideas about this？

[2018-03-02 06:12] minbi commented on #844
This is an example taken from [apple documentation](https://developer.apple.com/library/content/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/CreatingtheNotificationPayload.html):

[code]

You also need to ask for permission to show these items in your app code.

[2018-03-02 07:09] Hello-Bye commented on #844
Hi

I'm sure I've registered the notifications correctly. For example：

`
[[UNUserNotificationCenter currentNotificationCenter] requestAuthorizationWithOptions:UNAuthorizationOptionSound | UNAuthorizationOptionAlert | UNAuthorizationOptionBadge  completionHandler:^(BOOL granted, NSError * _Nullable error) {}];
        [[UIApplication sharedApplication] registerForRemoteNotifications];
`

I wonder

[2018-03-02 08:30] minbi commented on #843
AWS iOS SDK does not expose this option and uses sigv4 for most of the services.

[2018-03-02 08:36] minbi commented on #844
Have you included the sound and badge keys in your push payload?

[2018-03-02 09:33] Hello-Bye commented on #844
Thanks for your help

The problem has been solved now.

But i has a new problem:
I tried to set up a badge of ‘1’ or ‘+1’ with a payload. But it always shows ‘1’ on the phone app icon.

How should I set the value of the badge.
How should I manage Badge.

[2018-03-02 09:47] joke-lee commented on #843
hi @minbi  do you know which one AWS iOS SDK use, path style or vitual host style? we have a domain only support pathstyle for ssl,(example: https://eos.cloud.com/bucketname)  ,so it mean i can not user iOS SDK?

[2018-03-02 21:44] minbi commented on #843
@joke-lee The S3 code is using path style, please check to confirm for your specific method calls.

Example delete using path style: https://github.com/aws/aws-sdk-ios/blob/master/AWSS3/AWSS3Service.m#L211

[2018-03-03 03:00] waynemock commented on #840
Thx for the reply. I thought it was something like that. I’ll give your suggestion a try and report back.

[2018-03-03 14:18] waynemock commented on #840
OK! That worked. Thx for the help. I eventually will be using authenticated users, but want something "easy" to get started.

[2018-03-05 17:55] minbi commented on #844
The payload should contain the total badges that the application should show.
For instance, if payload contains `"badge": 8` then the app will should 8

Other Apple APIs are available to manage the badge count on client side.
For instance, iOS 10 has these APIs https://developer.apple.com/documentation/usernotifications/unusernotificationcenter

[2018-03-05 17:55] #844 closed

[2018-03-05 23:37] DavidPhysics commented on #817
@rohandubal
Thank you giving me answer. I have found out problem. :)

[2018-03-05 23:58] kvasukib commented on #817
Thank you @DavidPhysics for confirming. Please feel free to re-open if you face any issue.

[2018-03-05 23:58] #817 closed

[2018-03-06 00:00] kvasukib commented on #837
#845 Linking the PR here.

[2018-03-06 06:43] joke-lee commented on #843
hi @minbi @kredden

[code]
but it still use v4 signatue， do you kown how to set use v2 signature ? thanks

[2018-03-06 14:21] DavidPhysics opened #846 "How to pass the data array of the dynamodb scan function result with the segue method in Objective C?"
### How to pass the data array of the dynamodb scan function result with the segue method in Objective C?

My problem:
I want to pass the AWS dynamodb scan function result from the view controllers file to another view controller files with segue methods? I think the segue methods are easy passing the data from the view controller files to another view controller file, but it is really not true.

[2018-03-06 16:24] nick3389 commented on #755
@kvasukib  do you have any news about this issue?

[2018-03-07 07:44] Vincent-St opened #847 "Any practice on building a timeline with AWS Mobile Hub?"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

AWS Mobile Hub

* In what version of SDK are you facing the problem?

The AWS Mobile SDK for iOS 2.6.12

* Is the issue limited to Simulators / Actual Devices?

Both Simulators and Actual Devices

* Can your problem be resolved if you bump to a higher version of SDK?

Nope

* Is

[2018-03-08 10:55] spencerkohan commented on #753
Why has this issue been closed?  I have attempted to use a gateway SDK generated today and I am still running into this issue.  Swift 4 has been out for 6 months.  It seems absurd to have to manually edit all AWSModel subclasses to target the current language version.

[2018-03-09 01:15] joke-lee commented on #843
hi @karthiksaligrama ,do you know how to set to use v2 signature ?

[2018-03-09 18:21] kvasukib commented on #739
Hello @tbuscher,

Can you try `AWSS3TransferUtility` which has multi-part and background support for uploads in 2.6.13? You can have a look at the API Reference here: https://docs.aws.amazon.com/AWSiOSSDK/latest/Classes/AWSS3TransferUtility.html#//api/name/uploadDataUsingMultiPart:key:contentType:expression:completionHandler:NS_SWIFT_NAME:

[2018-03-09 18:27] kvasukib commented on #769
Hello @jeffjvick, @billykahl, @chrisscholly,

We have implemented Mulit-part for the uploads in TransferUtility in 2.6.13. Please try it and let us know. See https://docs.aws.amazon.com/AWSiOSSDK/latest/Classes/AWSS3TransferUtility.html#//api/name/uploadDataUsingMultiPart:key:contentType:expression:completionHandler:NS_SWIFT_NAME:

[2018-03-09 18:30] #784 closed

[2018-03-09 18:52] kvasukib commented on #785
Hello @farzaa,

We have added support for mulit-part uploads in TransferUtility. This will speed up the uploads in TransferUtility. Can you upgrade to 2.6.13 and give a try? See [APIDoc](https://docs.aws.amazon.com/AWSiOSSDK/latest/Classes/AWSS3TransferUtility.html#//api/name/uploadDataUsingMultiPart:key:contentType:expression:completionHandler:NS_SWIFT_NAME:) for more details.

[2018-03-09 18:56] jeffjvick commented on #769
@kvasukib Oh wow, so first, thanks, I seriously didn't think you guys were actually working on this. :)

Unfortunately though I literally (today) just finished pushing the feature complete version of my app for the client and had been forced to make do with Transfer Manager.  Doing so required a myriad of band-aids and work-arounds to deal with its issues (this was just one of many).

I spoke with

[2018-03-09 19:30] kvasukib commented on #821
Hello @twobitlabs, We have implemented Mulit-part for the uploads in TransferUtility in 2.6.13. Please try it and let us know. [APIDoc](See https://docs.aws.amazon.com/AWSiOSSDK/latest/Classes/AWSS3TransferUtility.html#//api/name/uploadDataUsingMultiPart:key:contentType:expression:completionHandler:NS_SWIFT_NAME:)

[2018-03-11 02:37] cbommas commented on #816
hello @ThiyagarajanShivSankaran, @chrisscholly

We have addressed this issue in version 2.6.13 of the SDK. The issue is that the TransferUtility gets a `RequestTimeout` 400 error from S3 when the paused transfer is resumed. We have addressed this by adding error-retry capability for the TransferUtility.  You can adjust the number of times the TransferUtility retries by setting the retryLimit param

[2018-03-12 14:58] chrisscholly commented on #769
@kvasukib Thank you very much! Will take some time asap to test these new awesome feature :)

[2018-03-12 16:57] swaminator commented on #769
Hi @jeffjvick. I'm a PM at AWS Mobile. Appreciate your contributions to this project. I'd like to chat with you sometime to get your feedback on our updates to TransferUtility. You can reach me at https://twitter.com/TheSwaminator

[2018-03-12 18:29] twobitlabs commented on #821
@kvasukib did you post this comment in the wrong ticket? We're not looking for multi-part uploads. We regularly experience corruption in single downloads with AWSS3TransferManager. Frankly I feel like you should deprecate AWSS3TransferManager since it's buggy and not well supported. Seems like TransferUtility is what everyone should be using.

[2018-03-13 08:30] nick3389 commented on #755
@kvasukib any news about this?

[2018-03-13 09:48] petrpavlik commented on #826
@kvasukib hi, has this been fixed yet? I couldn't find any release notes.

[2018-03-13 16:43] kvasukib commented on #755
Hi @nick3389 Sorry for the delayed reply. We did make enhancements to the `AWSS3TransferUtility` by supporting multi-part for uploads in `2.6.13`. Investigating completion handlers is the next task in our queue. Can you share any code/logs from your application? That will help us expedite the root-cause.

[2018-03-14 09:41] SSDIAshokPathak opened #850 "Data Encryption"
Dear ,

Thank you for your support.

I just want to know that is this library using any Data Encryption processing (like "AES", "3DES", "RSA", "DH" etc), if yes could you please give some information about it, if possible.

Thanks in advance.

[2018-03-15 13:59] adjustnox commented on #580
Yes, please reopen this, we had the same issue again as well as of Mar 14.

[2018-03-15 17:11] rohandubal commented on #850
Hello @SSDIAshokPathak

Could you please elaborate a little further on your use-case? With which service do you want to use Data Encryption?

Thanks,
Rohan

[2018-03-15 17:38] rohandubal commented on #847
Hello,

You could use paginated queries which would let you query a fixed number of items and load additionally as required. As a starter you can look at the documentation here: [Link](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/add-aws-mobile-nosql-database.html)

You can use the `.limit` property in the query expression for `DynamoDBObjectMapper` and set the number of items you

[2018-03-15 17:42] rohandubal commented on #846
Hello,

I think `prepareForSegue` is not a good place to run the network operation and get the async callback from the SDK. The code for what you are trying to achieve is correct, but you need to perform the scan operation either before the user triggers the change in View Controller or after.

Example: You can pass the required details to the destination view controller and then call the dynamo d

[2018-03-16 00:03] DavidPhysics commented on #846
@rohandubal
Network operation? Does you mean the network operation center(NOC)?
Can you tell me more about the network operation concept?

[2018-03-16 11:54] SSDIAshokPathak commented on #850
Thanks Rohan.

Thank you for your reply.

I wan to use Amazon Simple Email Service (Amazon SES).

[2018-03-16 21:57] amruth-peel opened #851 "AWS IOT sdk for iOS : No way to find if publish was successful"
@karthiksaligrama  @kvasukib @gkwicker @rohandubal

### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS IOT

* In what version of SDK are you facing the problem?

* Is the issue limited to Simulators / Actual Devices?
all

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to s

[2018-03-17 04:37] kvasukib commented on #851
Thank you @amruth-peel for reporting to us. Sorry for the inconvenience caused.
We currently do not have a callback for the `publishString` method. However we suggest two partial workarounds:

1) You can change the `QoS` to `AWSIoTMQTTQoSMessageDeliveryAttemptedAtLeastOnce` which will retry the delivery of messages. However this has a downside of delivering more than once.
2) Your app can subscrib

[2018-03-17 04:41] kvasukib commented on #769
@chrisscholly Thank you for the response! Please try it and let us know any feedback you have.

[2018-03-19 00:09] DavidPhysics commented on #846
I try to use your idea, but it has same as problem. I find out the " [[dynamoDBObjectMapper scan:[Books class] expression:scanExpression]" can't keep running. It always jump to end point in the first time running.

My function code.
`
-(NSMutableArray *)ScanDB
{
    NSMutableArray *MustableArray = [[NSMutableArray alloc] init];

    AWSDynamoDBObjectMapper *dynamoDBObjectMapper = [AWSDynamoDBObjec

[2018-03-20 06:43] rahulvyas commented on #800
I am getting the same error.

[2018-03-20 14:11] SanyasiraoM opened #852 "How to know the topic to which the message received as like in android SDK?"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS IOT

* In what version of SDK are you facing the problem?
2.6.6

* Is the issue limited to Simulators / Actual Devices?
Both

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How are you consum

[2018-03-20 14:12] SanyasiraoM commented on #852
@kvasukib Can you look into this please?

[2018-03-20 15:01] SanyasiraoM commented on #852
I found another callback named extendedCallback to know the topic. Thank you!

[2018-03-20 15:01] #852 closed

[2018-03-22 06:36] cbommas commented on #744
hello @randalb1991

We have plans to move to Swift 4, but the timing for it is TBD at this point. Please look for a Forum announcement or an update to this thread once we have a timeline identified.

[2018-03-22 07:13] joke-lee opened #853 "LICENSE question"
hi,
i fork and modify some code for adapt ceph radosgw  s3 service, and i find

3.3 Use Limitation. The Work and any derivative works thereof only may be used or intended for use with the web services, computing platforms or applications provided by Amazon.com, Inc. or its affiliates, including Amazon Web Services, Inc.

in LICENSE.AMAZON

here is my fork
https://github.com/joke-lee/aws-sdk-ios

i

[2018-03-22 07:55] shrawan2015 opened #854 "Configure Amazon Pinpoint Campaigns via Email address in iOS app."
Currently I am using AWSPinpoint for analytics and **Amazon Pinpoint Campaigns**--

So I want to use email based Campaign so, how we have to configure endpoint to set email address or phone number .

Is this proper way to configure the profile of endpoint.

            let profile: AWSPinpointEndpointProfile = currentEndPoint
            profile.user?.userId = withValue
            profile.address

[2018-03-22 08:29] ekordin opened #855 "Spelling error on Confirm email page"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

Cognito SignUp feature

* In what version of SDK are you facing the problem?

2.6.12, 2.6.13

* Is the issue limited to Simulators / Actual Devices?

All devices

* Can your problem be resolved if you bump to a higher version of SDK?

No

* Is this problem related to specific iO

[2018-03-22 10:06] ArisSarris opened #856 "IoT Websocket Connection retry doesn't work as expected if the first attempt fails due to no Internet connectivity"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS IOT
* In what version of SDK are you facing the problem?
2.6.13
* Is the issue limited to Simulators / Actual Devices?
all
* Can your problem be resolved if you bump to a higher version of SDK?
Tried with the latest version
* Is this problem related to specific iOS version?
N

[2018-03-23 12:42] rahulvyas commented on #154
I am using the latest sdk objective-c version and it doesn't work as well when I pause the upload and then resume it stuck.

[2018-03-23 13:16] serddmit opened #857 "AWSCognitoAuth signIn error"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
  AWSCognitoAuth

* In what version of SDK are you facing the problem?
  SDK 11.2

* Is the issue limited to Simulators / Actual Devices?
  NO

* Can your problem be resolved if you bump to a higher version of SDK?
  NO

* Is this problem related to specific iOS version?
  NO

*

[2018-03-23 13:40] captainuberawesome opened #858 "AWSS3TransferUtility multipart upload does not work when adding custom metadata"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
S3

* In what version of SDK are you facing the problem?
2.6.13

* Is the issue limited to Simulators / Actual Devices?
All

* Can your problem be resolved if you bump to a higher version of SDK?
Already using the latest version

* Is this problem related to specific iOS version?

[2018-03-23 15:57] hyandell commented on #853
My apologies @joke-lee, we can't provide you with legal advice.

As the license says, your fork may only be used with Amazon services/platforms/applications. There are other conditions to comply with if you distribute or modify+distribute.

If you are concerned your activity may not be permitted under the license, please consult an attorney.

[2018-03-23 15:57] #853 closed

[2018-03-25 01:34] cbommas commented on #858
hello @captainuberawesome

Thank you for reporting this error and apologies for any inconvenience caused. This is a bug and we will fix it in the next SDK release. I will update this thread once the release is completed.

[2018-03-26 05:24] cbommas commented on #821
hello @twobitlabs

Yes, I can confirm that TransferUtility is what everyone should be using.  We will be deprecating TransferManager in one of our upcoming releases.

[2018-03-26 10:45] pramittewari opened #859 "Media upload fails from a specific region. Upload successful from India/SouthAfrica (I have successful results from these two) but it is specifically failing from Singapore."
AWS pod version :
Using AWSCore (2.6.13)
Using AWSS3 (2.6.13)

Device version :
iPhone 6 , iOS 11.2.6

I am using the following method to upload any media:
[code]

This works fine from the above mentioned regions but fails specifically from Singapore. Is there any particular reason for this?
Thanks in advance!

[2018-03-26 14:43] cbommas commented on #859
hello @pramittewari

Sorry to hear that you are having issues. Can you share logs/error messages/stacktraces etc to help debug this further?

[2018-03-26 14:44] kubbing commented on #580
Bump, same issue here in production :/.

[2018-03-26 14:55] petrpavlik commented on #826
@kvasukib Any news on this one? We're getting a significant amount of crashes with SDK 2.6.13 (the most recent one at this point) when the app goes to the background.

[2018-03-26 14:58] itsmeichigo commented on #826
I actually had to set `enableAutoSessionRecording` to `NO` and handle the sessions myself to get rid of all the crashes.

[2018-03-26 15:10] petrpavlik commented on #826
Thx @itsmeichigo! I'll have a look at that.

[2018-03-27 18:10] daviskoh commented on #745
Was wondering. Why is `Info.plist` or `awsconfiguration.json` required if necessary configuration is set in the code. Ex:

[code]

[2018-03-27 21:38] kvasukib commented on #745
Thank you @daviskoh for reporting to us. Info.plist or awsconfiguration.json is necessary for the User SignIn feature as described in the https://docs.aws.amazon.com/aws-mobile/latest/developerguide/add-aws-mobile-user-sign-in.html page. User SignIn however as an exception doesn't use AWSServiceConfiguration and relies on Info.plist or awsconfiguration.json.

For other parts of the SDK AWSServiceC

[2018-03-28 10:39] kainoffke commented on #857
I can confirm this issue. I am currently facing the same problems. As a workaround I created an extension for `AWSCognitoAuth` like so:

[code]

The problem seems to be, that the redirects in the SafariViewController are happening too fast for it to actually load the page initially.

[2018-03-28 11:21] serddmit commented on #857
I end up by removing this method at all:
`public func safariViewController(_ controller: SFSafariViewController, didCompleteInitialLoad didLoadSuccessfully: Bool) {
        // I was just implemented do stop AWSCognitoAuth calling its own delegate implementation.
    }`
This will not impact functionality, but leave user to make done/cancel by itself.

[2018-03-29 04:28] patpawasantanon opened #860 "Crashes: AWS Pinpoint"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
pinpoint
* In what version of SDK are you facing the problem?
2.6.13
* Is the issue limited to Simulators / Actual Devices?
no
* Can your problem be resolved if you bump to a higher version of SDK?
no
* Is this problem related to specific iOS version?
no
* How are you consuming t

[2018-03-29 07:18] sauravexodus opened #861 "Unable to successfully update endpoint."
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS Pinpoint, AWS Mobile Hub

* In what version of SDK are you facing the problem?
2.1.2

* Is the issue limited to Simulators / Actual Devices?
No

* Can your problem be resolved if you bump to a higher version of SDK?
 No

* Is this problem related to specific iOS version?
No

[2018-03-29 12:01] #616 closed

[2018-03-29 12:55] woph commented on #675
Hi Folks,

we're also facing this issue and unfortunately the workaround doesn't work for us.
Is there in the meantime a better solution available?
APIGateway is giving us a hard time.

Please find below the following APIGateway schema definition for our response body.

`responses:
                    "200":
                      description: Some fancy description
                      schema:

[2018-03-29 18:08] kvasukib commented on #861
Thank you @sauravexodus for reporting to us. Can you upgrade to 2.6.13 (latest as of 03/28) and see if that fixes the problem?

[2018-03-29 18:45] kvasukib commented on #759
Hi @simeondrage @pablogeek, We have introduced multi-part support for uploads with ability to pause/resume/cancel transfers in `AWSS3TransferUtility`. You can take a look at our [documentation](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html) here. This was released in 2.6.13. Please let us know if this solves your problem.

[2018-03-30 00:33] pablogeek commented on #759
Hello @kvasukib thanks for the update! I will integrate the new version and I will let you know.

[2018-03-30 00:51] kvasukib commented on #835
Hi @afbeaver This has been fixed with 2.6.14 (https://github.com/aws/aws-sdk-ios/blob/master/CHANGELOG.md#2614). Please upgrade, check and let us know if it fixes the issue.

[2018-03-30 01:11] runmad opened #862 "Undefined symbols for architecture x86_64 when running Unit Tests"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
**AWSS3**

* In what version of SDK are you facing the problem?
**2.6.13**

* Is the issue limited to Simulators / Actual Devices?
Both when running tests **Tests**

* Can your problem be resolved if you bump to a higher version of SDK?
**N/A**

* Is this problem related to speci

[2018-03-30 02:33] kvasukib commented on #826
Hi @petrpavlik @itsmeichigo @steveRobert This has been fixed with 2.6.14 (https://github.com/aws/aws-sdk-ios/blob/master/CHANGELOG.md#2614). Please upgrade, check and let us know if it fixes the issue.

[2018-03-30 02:33] kvasukib commented on #858
Hi @captainuberawesome This has been fixed with 2.6.14 (https://github.com/aws/aws-sdk-ios/blob/master/CHANGELOG.md#2614). Please upgrade, check and let us know if it fixes the issue.

[2018-03-30 04:51] captainuberawesome commented on #858
Hello @kvasukib
Unfortunately I'm still repeating this issue with version 2.6.14. Same conditions, same error.

[2018-03-30 15:34] amit2908 commented on #791
I too have the exactly same issue. Please help.

[2018-03-30 16:54] kvasukib commented on #752
@marcmatta @keshavx11 Sorry for the delayed response.

The log messages https://github.com/aws/aws-sdk-ios/blob/master/AWSIoT/Internal/MQTTSDK/MQTTEncoder.m#L120,L130 and https://github.com/aws/aws-sdk-ios/blob/master/AWSIoT/Internal/MQTTSDK/MQTTEncoder.m#L180 will help us identify what happened in the encodeMessage. Do you have the verbose logs? If so, can you attach it here?

[2018-03-30 21:13] kvasukib commented on #759
Thank you @pablogeek for confirming!

[2018-03-31 15:01] captainuberawesome commented on #858
Hi @kvasukib
I've looked at the code and it seems the problem is in `AWSS3TransferUtility` method
```createUploadSubTask:subTask:startTransfer:```
specifically line 1025
`[transferUtilityMultiPartUploadTask.expression assignRequestParameters:request];`

[code]

Since `createUploadSubTask:` is called for each part in multipart request and there's no check for "x-amz-meta" prefix when adding paramet

[2018-03-31 19:07] njcme commented on #835
Your fix in #2614 pushes the input fields off the top of the screen - I am not sure this is an improvement. For example - the sign-in screen when typing the username:
![image](https://user-images.githubusercontent.com/25744035/38166637-00030cb4-34f5-11e8-898c-1698f4f090d1.png)

[2018-04-01 03:48] cbommas commented on #716
hello @brutasse

I have added this request to the backlog for consideration and prioritization. Will reply back on this thread when we have an update.

[2018-04-01 10:51] captainuberawesome commented on #858
Hi @cbommas

I was using `setValue:forRequestParameter:` method to add custom metadata to upload request as described [here](https://github.com/aws/aws-sdk-ios/issues/277). I was under impression that this was the correct method to use to add metadata, but since you're referencing method `assignRequestHeaders:`, apparently I was supposed to use `setValue:forRequestHeader:` instead. It's not very c

[2018-04-01 10:51] #858 closed

[2018-04-01 17:29] cbommas commented on #810
hello @jignesh-chovatiya, @nimishanumbertank

I did a little bit of digging and found this on stack overflow (https://stackoverflow.com/questions/32890018/nsurlsession-could-not-communicate-with-background-transfer-service). According to this post, share extension and app shouldn't have the same NSURLSession.

Can you instantiate the TransferUtility with different keys in the App and AppExtension.

[2018-04-01 18:18] kteman opened #863 "Deprecated use of Objective-C code needs removal"
Hi guys, are you planning to fix the deprecated use of Objective-C methods? These are now warnings, and next they will be crippling!

<img width="1159" alt="screen shot 2018-04-01 at 12 16 21 pm" src="https://user-images.githubusercontent.com/1731595/38176138-c0042e42-35a6-11e8-965c-00dd0068a50e.png">

[2018-04-01 19:13] rohandubal commented on #835
Hello,

Does this happen on real devices as well or just the simulator? Which simulator are you using?

Thanks,
Rohan

[2018-04-01 20:03] njcme commented on #835
This happens on real devices - in my case an iPhone X running 11.3. When the keyboard appears on the sign-in screen the view is pushed up so far the fields are no longer visible. This is also with the default sign in screen not a custom one.
It does not happen on my simulator (iPhone 8) as the keyboard does not appear.

[2018-04-01 22:16] kvasukib commented on #863
Thank you @kteman for reporting to us. Sorry for the inconvenience caused. We are looking into it.

[2018-04-02 03:56] Reetalibrarian commented on #861
I just update to sdk 2.6.14 and have the same problem.

[2018-04-02 06:31] cbommas commented on #843
Hello @joke-lee

The AWS iOS SDK does not support SigV2 for the S3 Service. As you can see in line 162 of https://github.com/aws/aws-sdk-ios/blob/master/AWSS3/AWSS3Service.m, the AWSS3 client code overwrites any previous value in the requestInterceptors with a SigV4 interceptor.

Please note that we recommend that you use SigV4 as the best practice. SigV2 is only supported in a limited fashion for

[2018-04-02 17:08] kvasukib commented on #856
Thank you @ArisSarris for reporting to us. We are looking into it.

[2018-04-02 17:37] balaji2591 commented on #860
Hi @patpawasantanon
A newer version of aws ios sdk was released last thursday (2.6.14) that contains fixes for some of the issues listed out here. Can you verify and update the issue ?

[2018-04-03 04:55] Reetalibrarian commented on #861
whatever, I randomly write value (such as iPhone vendor ID)
[code]
and now it works, though I think SDK should generate it when there is no such parameter.

[2018-04-03 07:04] brutasse commented on #716
Thank you @cbommas

[2018-04-03 17:45] doctorcolinsmith opened #864 "Very large number of warnings about using 'self' in AWS SDK with Xcode 9.3"
I just updated to AWS SDK version 2.6.14 and to Xcode 9.3.   I have the AWS SDK installed in my app's workspace with Cocoapods.

There are now a very large number of occurrences of the warning "Block implicitly retains 'self'; explicitly mention 'self' to indicate this is intended behavior" coming out of AWSCore.  There are a few instances of the same warning in other AWS pods.  I believe this is

[2018-04-03 18:15] kvasukib commented on #864
Thank you @doctorcolinsmith for reporting to us. We are looking into it.

[2018-04-03 20:21] gomigbg opened #865 "How does iOS specify which alias of a Lambda function to use?"
I used the Streamlined Steps to set up AWS Lambda in my project:
https://docs.aws.amazon.com/aws-mobile/latest/developerguide/add-aws-mobile-cloud-logic.html

How do I specify an alias for a Lambda function?

[2018-04-03 21:59] rohandubal commented on #865
You will have to configure the alias from the API Gateway console. You can invoke a stage from the SDK for a particular API though. The Cloud Logic feature invocation is done via API Gateway.

Thanks,
Rohan

[2018-04-03 21:59] #865 closed

[2018-04-04 09:20] captainuberawesome opened #869 ""x-amz-meta-" metadata prefix duplicating on multipart upload (also wrong content-type and access permission)"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
S3

* In what version of SDK are you facing the problem?
2.6.14

* Is the issue limited to Simulators / Actual Devices?
All of the above

* Can your problem be resolved if you bump to a higher version of SDK?
Already using the latest version

* Is this problem related to specific

[2018-04-04 10:15] alionthego opened #870 "how can I invoke lambda function when user changes email attribute in cognito user pools"
I am using the latest iOS SDK for cognito and swift.

I allow the user to change their email using the following:

var attributes = [AWSCognitoIdentityUserAttributeType]()
let email = AWSCognitoIdentityUserAttributeType()
email?.name = "email"
email?.value = "example@example.com"
attributes.append(email!)

user?.update(attributes).continueOnSuccessWith(block: { (task) -> Any? in
...
})

I have two

[2018-04-04 15:28] SkyFred27 opened #871 "API Gateway: Cognito & Unauthenticated"
Hi,

I'm quite new with aws services.
I've setup API Gateway to end up to a lambda function. everything is working fine.
Just added cognito, to authorize only log in user. (iOS)
How can I now authorize also unauthenticated user to access API Gateway ?

I know that I can get an identityId and also accessKey, SecretKey and SessionKey but what should I do with that. I was not able to find any documen

[2018-04-04 15:34] kubbing opened #872 "submitAllEvents startup freeze @synchronized(self.lock)"
This is an PinPoint iOS SDK startup freeze issue. Pinpoint gets stuck on its own lock on main thread. We managed to get the call stack by manually pausing the app in debugger. In production iOS Watchdog kills the app on launch. Very critical issue.

0. receive a push notification, warm launch (background -> foreground)
1. We call `pinpointAnalytics.record(event)` (in our code) with a remote notifi

[2018-04-04 17:30] mciccarello commented on #835
Same here, on my iPhone 7. The cure is worse than the disease. Please fix this!
![disease](https://user-images.githubusercontent.com/75937/38323802-31d8941a-37f3-11e8-8da4-202d4dc9f35f.png)

[2018-04-04 18:04] minbi commented on #871
Hi Fred,

Unauthenticated users have an IAM policy attached and can be viewed in the Cognito Federated Identities console. Access to the API Gateway APIs that should be accessed will need to be added to the IAM policy.

Please post in AWS Forums for specific assistance to services.

[2018-04-04 18:04] #871 closed

[2018-04-04 18:21] YousefED opened #873 "Duplicate Pinpoint events"
We're using Pinpoint to record user events. Although we only call record event once, we see a lot of duplicate events ending up in S3 (our firehose copy of Pinpoint data). In extreme cases 100+ duplicates of the same event. Is this a known issue in the sdk?

### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

Pinpoint

* In what

[2018-04-04 18:38] #751 closed

[2018-04-04 19:10] SkyFred27 commented on #871
This doesn't really help, anyway thank you for your answer.
I know the forum, but there's no one there, at least here I got an answer

[2018-04-04 22:46] cbommas commented on #869
Hello @captainuberawesome

Thanks for reporting this issue and sorry for any convenience. I will investigate this issue and get back to you.

[2018-04-05 00:04] LarissaChangLiu commented on #781
Hi @kvasukib , Has the SDK started to support AWS S3 Select yet? thanks

[2018-04-05 00:44] drwjf opened #874 "Would you like to provide iOS SDK for cloudsearch?"
* What service are you using?

Cloudsearch

* In what version of SDK are you facing the problem?

No iOS SDK provide Cloudsearch interface.

No sample code for signaturing to call Cloudsearch api.

* Is the issue limited to Simulators / Actual Devices?

N/A

* Can your problem be resolved if you bump to a higher version of SDK?

Hope so.

* Is this problem related to specific iOS version?

N/A

*

[2018-04-05 03:17] dproton opened #875 "AmazonDaxClient for iOS ?"
Are there any ways to use DAX (Amazon DynamoDB Accelerator) for iOS ? Currently, java supports DAX for clients (at here https://github.com/aws/aws-sdk-java/tree/master/aws-java-sdk-dax/src/main/java/com/amazonaws/services/dax)

[2018-04-05 15:01] minbi commented on #875
Hi @dproton ,

We currently do not have DAX support. We will take this as a feature request.

[2018-04-05 15:07] minbi commented on #874
Hi @drwjf ,

We do not currently support Cloud Search. We will take this as a feature request.

[2018-04-05 16:00] kubbing commented on #860
@patpawasantanon ?

[2018-04-05 16:12] minbi commented on #850
Hi @SSDIAshokPathak ,

Encryption is optional and is not on by default, please read more here: https://docs.aws.amazon.com/kms/latest/developerguide/services-ses.html

Please open another issue if there are further questions. Closed issues are not monitored.

[2018-04-05 16:12] #850 closed

[2018-04-06 08:04] mraarone commented on #659
gabrielkaputa, it looks like error.code has been added, however I do not see a way to see the HTTP status code in the AWSTask result, this is probably because if an error doesn't exist, the code should be HTTP 200 OK.

[2018-04-06 12:32] sauravexodus commented on #861
Sometimes I also get this error:

[code]

[2018-04-06 12:38] sauravexodus commented on #854
Sadly there is no documentation for adding endpoints.

I ended up using `AWSPinpointTargeting.default().updateEndpointsBatch(batchRequest)` and created instances of `AWSPinpointTargetingEndpointBatchItem()` which lets you assign `channelType` and `address`.

However, it is not very reliable so I have already created an issue #861

[2018-04-06 22:39] daviskoh opened #876 "How to get a new idToken using refreshToken (Cognito)?"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

Cognito

* In what version of SDK are you facing the problem?

latest

* Is the issue limited to Simulators / Actual Devices?

N/A

* Can your problem be resolved if you bump to a higher version of SDK?

already on the latest

* Is this problem related to specific iOS version?

[2018-04-07 08:45] RushanB commented on #815
I am having a problem with the keyboard in AWSAuthUIViewController. When clicking on username textfield or password textfield it moves both of upwards and out of the view. How can I fix this? I just started experiencing this when I updated to Swift 4.1.

[2018-04-07 13:44] RushanB opened #877 "AWS Auth UI Present Login Keyboard Bug"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

AWS iOS SDK - AWS Auth UI
* In what version of SDK are you facing the problem?

Latest version: 2.6.14 - Carthage
* Is the issue limited to Simulators / Actual Devices?

Occurs on both actual and simulator
* Can your problem be resolved if you bump to a higher version of SDK?

O

[2018-04-07 16:39] King-Kira commented on #815
@RushanB I have the same issue. I tested it on different versions of iPhone in the XCode simulator and the issue doesn't happen for iPhone X.
It used to be that the view wouldn't move upward but that the keyboard would (at least partially) block the textfields. This problem appeared recently and I'm unsure as to what can be done about it.

[2018-04-07 18:10] King-Kira opened #878 "AWSAuthUI textfields disappear with keyboard"
I'm developing an app that requires user sign-in. Unfortunately, the sign-in UI provided by Amazon shifts upwards and the textfields disappear when the keyboard appears, leaving an unsightly black space. It happens in both the simulator and on my physically phone. However, it doesn't happen for a simulator of iPhone X. I notice that for iPhone X, the view shifts upward such that the textfields are

[2018-04-07 22:06] RushanB commented on #815
@King-Kira Yes, I remember but that was at least usable. At the moment a user can't even Sign In as they can't see what they are typing.

[2018-04-07 23:40] King-Kira commented on #815
I know. It's quite frustrating.
I posted a new issue on this Git if you want to comment on it.
https://github.com/aws/aws-sdk-ios/issues/878

[2018-04-08 03:15] cbommas commented on #869
Hello @captainuberawesome

The problems with the custom metadata and x-amz-acl are due to bugs in the code. They will be fixed and included in the next release of the SDK.

The content-type for the uploaded file can be specified directly in the `contentType` parameter in the upload function call. If you specify this in the expression as a request header, it will be overridden by the value passed i

[2018-04-08 03:37] captainuberawesome commented on #869
Hi @cbommas

I am specifying content type directly in the function call, but it still gets overwritten

[code]

[2018-04-08 12:45] FahdSaif opened #879 "The certificate for this server is invalid. You might be connecting to a server that is pretending to be “mybucketname” which could put your confidential information at risk.""
func uploadData(with data: Data) {

        //var data: Data = Data() // Data to be uploaded
        //let mykey="\(resource).\(type)" //filename.jpeg
        //data=UIImagePNGRepresentation(UIImage(named: mykey)!)!

        //let image=myimageview.image

        print("data length")
        print (data.count)

        let expression = AWSS3TransferUtilityUploadExpression()
        expression.prog

[2018-04-08 12:53] RushanB commented on #878
I was curious so I looked into the SDK. They are using hard-coded values instead of dynamic which is why I think its behaving the way it is.

 This is how they are doing it:
- (void)keyboardDidShow:(NSNotification *)notification {
    CGSize size = ((NSValue *)[[notification userInfo]
                               valueForKey:UIKeyboardFrameBeginUserInfoKey]).CGRectValue.size;

    [self.view set

[2018-04-09 05:03] itsmeichigo commented on #529
Hi, is there any update for this soon?

[2018-04-09 05:48] cbommas commented on #869
hi @captainuberawesome

Ah, I see the problem. The content type that is being passed in via the method is not being properly propagated to the `AWSS3CreateMultipartUploadRequest` object that is used to initiate the multi part transfer. The server sees a blank value, because of the propagation issue, and is setting up a default contentType.

The fix for this issue will also be included in the next

[2018-04-09 07:34] #843 closed

[2018-04-09 16:29] eman8519 opened #880 "Add Certificate Pinning"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS Core

* In what version of SDK are you facing the problem?
All

* Is the issue limited to Simulators / Actual Devices?
No

* Can your problem be resolved if you bump to a higher version of SDK?
Yes
* Is this problem related to specific iOS version?
No

* How are you consuming

[2018-04-09 17:27] minbi commented on #864
Merged pull request https://github.com/aws/aws-sdk-ios/pull/868
Release with next version

[2018-04-09 17:27] #864 closed

[2018-04-09 19:35] balaji2591 commented on #872
Hi Kubbing,
Can you upload a screen shot that is using the 2.6.14 version ? (so that we can confirm that issue exists in 2.6.14 as well. Looks like the screen shot is not from the 2.6.14 version)
because Line number 486 is different in 2.6.14
https://github.com/aws/aws-sdk-ios/blob/master/AWSPinpoint/AWSPinpointEventRecorder.m#L486

[2018-04-09 19:39] rohandubal commented on #880
Hello @eman8519

Thanks for submitting this issue. I am taking this as a feature request to the team and will keep posted if we work on this.

Also if you can work on a PR, that would be awesome!

Thanks,
Rohan

[2018-04-09 19:54] rohandubal commented on #879
Hello @FahdSaif

This might be because of you trying to use the folder name as a part of bucket name for your uploads/ downloads. The S3 host naming varies a little and the recommended way is to use bucket name separately from the folder. The key should have the folder name.

This seems related to #https://github.com/awslabs/aws-sdk-ios-samples/issues/263

Could you please answer those questions t

[2018-04-10 17:11] balaji2591 commented on #737
Hi YousefED,
The latest 5 versions of the ios sdk doesn't have this stop variable .The method definitions have been changed. Can you use the latest version ?

[2018-04-10 17:39] YousefED commented on #737
Yes seems better in latest version.

[2018-04-10 17:45] balaji2591 commented on #737
Thanks , closing this issue now . Can be reopened if the issue continues

[2018-04-10 17:45] #737 closed

[2018-04-10 18:10] tomoguisuru commented on #738
+1

[2018-04-10 23:51] waynemock commented on #837
Going to mark as answered since I’m developing the addition to the SDK myself.

[2018-04-10 23:51] #837 closed

[2018-04-11 00:07] Abeansits commented on #280
Any news @yosuke-matsuda ?

[2018-04-11 00:08] Abeansits commented on #280
There's an open PR for it: https://github.com/aws/aws-sdk-ios/pull/608

[2018-04-11 01:01] kdbertel commented on #588
Any idea if this has been addressed in the latest versions of the SDK?

[2018-04-11 02:16] garygriswold commented on #683
Thanks for taking care of this problem.

[2018-04-11 03:03] ericmgoeken commented on #693
@cbommas, any update? stale bot is trying to remove my hope that this will get fixed.

[2018-04-11 03:14] cbommas commented on #693
Hello @ericmgoeken

Transfer Utility now supports multipart uploads [see https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html]. Please upgrade to the latest version and let us know if you run into any issues.

[2018-04-11 04:47] captainuberawesome commented on #869
Hi @cbommas

Thanks for the update, the bug is fixed now.

[2018-04-11 04:48] #869 closed

[2018-04-11 10:48] karpov3 opened #886 "Pinpoint doesn't register notification token since 2.6.14 version"
* What service are you using?
**Pinpoint**

* In what version of SDK are you facing the problem?
**>=2.6.14**

* Is the issue limited to Simulators / Actual Devices?
**NO**

* Can your problem be resolved if you bump to a higher version of SDK?
**NO**

* Is this problem related to specific iOS version?
**NO**

* How are you consuming the SDK? CocoaPods / Carthage / Prebuilt frameworks?
**CocoaPods

[2018-04-11 11:08] mirkokiefer commented on #498
Still very much interested in this...

[2018-04-11 14:22] danilke opened #891 "S3 multipart uploading with aws-sdk-ios. resume on error."
I'm trying to handle errors (no internet connection) on multipart uploading to s3. It is possible somehow to resume uploading from the same percentage when the internet connection is back? Thank you!

[code]

[2018-04-11 14:51] mackoj commented on #441
😔

[2018-04-11 15:16] pjktk2 commented on #768
Any progress on this? Basically if you use auto-verify for initial user pool signups, the functionality is broken because users cannot change their email address.

[2018-04-11 20:46] pablogeek commented on #759
Hello @kvasukib I'm having a problem with multipart uploads. This what I'm doing

[code]

The upload never gets started. The callbacks are not called, and the task inside `continueWith` block has no error.

Help would be appreciated! Thanks!

[2018-04-11 20:56] balaji2591 commented on #886
Hi @karpov3 ,
Thanks for reporting this issue. This will be fixed in the next release.

[2018-04-11 21:00] kvasukib commented on #759
Thank @pablogeek for sharing the code snippet. Sorry for the inconvenience caused. Can you explain us what AWSTransfer is and what it does?

`let transferUtility = AWSTransfer(video: video)`

Does it construct a transfer utility object and return? If possible can you share us this code?
Which version of SDK are you using? We released 2.6.15 yesterday which contains updated to the S3 high-level and

[2018-04-11 21:02] pablogeek commented on #759
@kvasukib Thanks for your quick reply!  I'm using 2.6.15 but I have tried with 2.6.13 and I'm experiencing the same.

[code]

Thanks!

[2018-04-11 22:05] #876 closed

[2018-04-11 23:51] kvasukib commented on #891
Thank you @danilke for reporting to us. We have introduced multi-part support with ability to pause/resume transfers in `AWSS3TransferUtility`. We recommend using the `AWSS3TransferUtility`, where we will accept feature requests and bug reports.

Currently `AWSS3TransferUtility` does not listen to network connectivity changes. However you can use `Reachability.swift` library to listen for network

[2018-04-12 02:02] alionthego commented on #793
can you please let me know which method that is?  I'm having issues getting a new verification link.  thanks

[2018-04-12 02:05] rohandubal commented on #862
Which mode are you running the tests in? Debug/ Release? Can you run it in Release mode?

[2018-04-12 02:05] runmad commented on #862
`Debug`.

I've switched to compiling the project and linking it that way to solve it.

[2018-04-12 05:13] sourabhzynq opened #893 "Refresh credentials"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS Cognito, Lambda, APIGateway,  DynamoDB
* In what version of SDK are you facing the problem?
2.4.12
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
I guess no
* Is this problem related to specific

[2018-04-12 05:25] markmacau commented on #743
I got same situation and solved by changing range key type. I could not find any documentation talking about that solution. Please consider to update error message and documentation.

[2018-04-12 05:36] sourabhzynq commented on #793
Same method that we use to resend the confirmation code i.e. resendConfirmationCode. This sends a code via email - not the link.

[2018-04-12 05:43] alionthego commented on #793
I see.  Sorry, I misunderstood.  I am trying to have the verification link sent again in case the user did not receive it or it has expired.  Not the code.

[2018-04-12 05:49] sourabhzynq commented on #793
Try the same method. It will send a link to email. I incorrectly wrote the "code" in above answer, corrected it.

[2018-04-12 06:02] alionthego commented on #793
I'm using the swift SDK to create a new user.  So I can't use the same method.  The best I've found so far is to use the updateAttributes method with the new email.  That works fine but instead of sending a verification link like I get when the user signs up, this time it sends a code for some reason and I don't think there is anyway to get around that and send another link.  I don't want to regis

[2018-04-12 07:28] danilke commented on #891
Thank you, I will try it.

[2018-04-12 07:28] #891 closed

[2018-04-12 09:29] danilke commented on #891
Hi, @kvasukib,  where I can listen to the network connectivity changes on uploading?

I was trying put listener to `transferManager.upload(uploadRequest).continueWith... ` block,  but connection error was faster then than listener. It is same with ` uploadRequest.uploadProgress = { (bytesSent, totalBytesSent, totalBytesExpectedToSend) -> Void in`

Thank you.

[2018-04-12 10:18] damisv opened #894 "AWSCognitoAuth Facebook SignOut Issue"
Hello,
I'm using the AWSCognitoAuth fw into my iOS app, to achieve login with Facebook. All works pretty well, except the signout. Although it clears the keychain, I can't login with other facebook user. It shows the previously user logged in and waiting for my approval to continue.
I've already tried clearing cache & cookies but no luck.

[2018-04-12 10:28] kubbing commented on #872
@balaji2591 Can't confirm, hard to replicate atm. We are running another beta testing to see if the issue  is still present.

[2018-04-12 11:17] petrpavlik commented on #872
We have received reports of our app "freezing" even after we've updated the SDK to 2.6.14.

[2018-04-12 12:07] coreyjv commented on #763
As far as I understand this is a bug in the library that needs to be fixed. Can this issue be kept open please?

[2018-04-12 12:14] bvirlet opened #895 "THIS_FILE macro conflicts with CocoaLumberjack macro"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

AWSCore

* In what version of SDK are you facing the problem?

2.6.14

* Is the issue limited to Simulators / Actual Devices?

Compilation

* Can your problem be resolved if you bump to a higher version of SDK?

No

* Is this problem related to specific iOS version?

No.
Reprodu

[2018-04-12 13:39] danilke commented on #489
@jeffjvick can I ask you for code sample with AWSS3TransferManagerUploadRequest and Reachability.swift?

[2018-04-12 15:11] waynemock commented on #498
I've been actively working on my port. I'm using AWSCore and S3 in a project that uses AWS Transcribe. I've also added a framework for Transcribe in a separate branch. The port has taking a bit of a back seat to my project that uses it. It still needs to get the unit tests up and running.

[2018-04-12 15:41] kvasukib commented on #489
Hello all, We have added support for multi-part uploads in `AWSS3TransferUtility` in 2.6.13. Please upgrade to the latest and let us know any feedback you have.

[2018-04-12 17:59] kvasukib commented on #755
Hi @nick3389 Sorry for the delayed reply. We did make enhancements to the AWSS3TransferUtility by supporting multi-part for uploads in 2.6.13. Investigating completion handlers is the next task in our queue. Can you share any code/logs from your application? That will help us expedite the root-cause.

[2018-04-12 21:04] gwander commented on #894
Currently, Cognito doesn't support signout flow on Facebook, but this is a feature request on our roadmap.

[2018-04-12 22:50] rohandubal commented on #895
Hello @bvirlet Thanks for reporting this! We will try to get this fix soon, in the meanwhile, would it possible for you to send us a PR? Thanks!

[2018-04-13 03:25] mendirattanishant opened #896 "Custom endpoint without credentials"
I get the WebSocket url from AWS API. How do I connect to the web socket using that socket without using credentialsProvider? Is there a way?

My url is like
`let url = protocol + '://' + host + uri + '?' + canonicalQuerystring1`

Service: AWS-IoT

[2018-04-13 06:39] bvirlet commented on #895
TBH I don't know the right way of fixing this!

[2018-04-13 06:46] rohandubal commented on #886
Fixed with 2.6.16 release.

[2018-04-13 06:46] #886 closed

[2018-04-13 06:47] rohandubal commented on #863
Fixed with 2.6.15 release.

[2018-04-13 06:47] #863 closed

[2018-04-13 21:28] rohandubal commented on #896
Is the URL already pre-signed for accessing your endpoint?

[2018-04-13 22:05] mendirattanishant commented on #896
It is pre signed.

[2018-04-13 23:04] codeslubber commented on #508
Jesus headless horseman? what is going on here? I am using carthage and it also failed saying no such file.

[2018-04-15 02:43] sagar-turvo commented on #798
It's been 3 months since last comment. Have you guys (AWS Mobile iOS SDK) started supporting `Swift 4`?

[2018-04-16 06:09] fantapop commented on #769
we'll be implementing this very soon. Probably within this week.  Will let
you know how it goes.

On Sun, Apr 15, 2018 at 10:07 PM, stale[bot] <notifications@github.com>
wrote:

[2018-04-16 06:42] rohandubal commented on #896
I believe there isn't a direct way to use a presigned URL for the MQTT client. I am taking this as a feature request to the team.

Could you use any MQTT client since you have a pre-signed URL?

Thanks,
Rohan

[2018-04-16 06:50] rohandubal commented on #879
Closing it in accordance with #awslabs/aws-sdk-ios-samples#263

[2018-04-16 06:50] #879 closed

[2018-04-16 09:28] sanjivsoni17 opened #898 "Unable to add new attribute to DynamoDB"
I am using Mobile Hub for iOS with DynamoDB only. I am trying to add a new attribute to the table, but unable to send data from iOS App. I have added the attribute '_experiementId' through aws mobile hub console and verified it. I am unable to save data to DynamoDB.

Here is my DynamoDB Mapper Class
`class Shots: AWSDynamoDBObjectModel, AWSDynamoDBModeling {

    var _shotId: String?
    var _user

[2018-04-16 15:55] rohandubal commented on #898
Are you using Swift 4? If yes, you will have to specify `@objcMembers` directive for your class as specified here: https://github.com/aws/aws-sdk-ios/issues/750#issuecomment-337046816

Thanks,
Rohan

[2018-04-16 21:32] daviskoh commented on #670
any updates on this?

[2018-04-17 00:59] joelkraut commented on #833
It would actually be really great if someone looked at this.

[2018-04-17 08:59] awe-mt opened #899 "Cannot distribute app because AWSCognito not built with full bitcode"
* What service are you using?
  - AWSDynamoDB
  - AWSMobileAnalytics
  - AWSCognito
  - AWSCore
  - AWSS3

* In what version of SDK are you facing the problem?

2.6.16 (latest)

* Is the issue limited to Simulators / Actual Devices?

The issue occurs when attempting to archive the app for distribution.

* Can your problem be resolved if you bump to a higher version of SDK?

Currently using latest

[2018-04-17 09:28] awe-mt commented on #899
Looks like this is a duplicate of #814.

[2018-04-17 18:08] ashtonmeuser commented on #752
This may not be the most helpful addition but here is the stack trace that I am seeing with this issue. I am also unable to reproduce the issue. Rather, it seems to happen randomly.

Using AWS SDK 2.6.16, iOS 11.3 (15E216), iPhone 8 (Model A1863, A1905, A1906, A1907)

![Image](https://i.imgur.com/iZDXdNn.jpg)

[2018-04-17 19:07] kvasukib commented on #752
Thank you @ashtonmeuser for the details. Would you be able to collect the logs from the XCode console and attach it here?

[2018-04-17 19:26] pablogeek commented on #759
@kvasukib Hello :) Any news on this? I appreciate your help!

[2018-04-17 23:55] #824 closed

[2018-04-17 23:55] #828 closed

[2018-04-17 23:55] #814 closed

[2018-04-17 23:55] #829 closed

[2018-04-17 23:55] #376 closed

[2018-04-17 23:55] #831 closed

[2018-04-17 23:55] #832 closed

[2018-04-17 23:55] #830 closed

[2018-04-17 23:55] #834 closed

[2018-04-17 23:55] #397 closed

[2018-04-17 23:55] #838 closed

[2018-04-17 23:55] #839 closed

[2018-04-17 23:55] #739 closed

[2018-04-17 23:55] #785 closed

[2018-04-17 23:55] #816 closed

[2018-04-18 00:55] #587 closed

[2018-04-18 00:55] #457 closed

[2018-04-18 00:55] #256 closed

[2018-04-18 00:55] #717 closed

[2018-04-18 00:55] #750 closed

[2018-04-18 00:55] #567 closed

[2018-04-18 00:55] #660 closed

[2018-04-18 00:55] #611 closed

[2018-04-18 00:55] #782 closed

[2018-04-18 00:55] #493 closed

[2018-04-18 00:55] #805 closed

[2018-04-18 00:55] #802 closed

[2018-04-18 00:55] #521 closed

[2018-04-18 00:55] #525 closed

[2018-04-18 00:55] #562 closed

[2018-04-18 00:55] #789 closed

[2018-04-18 00:55] #808 closed

[2018-04-18 00:55] #807 closed

[2018-04-18 00:55] #812 closed

[2018-04-18 00:55] #811 closed

[2018-04-18 00:55] #786 closed

[2018-04-18 00:55] #552 closed

[2018-04-18 00:55] #773 closed

[2018-04-18 00:55] #818 closed

[2018-04-18 00:55] #823 closed

[2018-04-18 00:55] #820 closed

[2018-04-18 01:55] #718 closed

[2018-04-18 01:55] #701 closed

[2018-04-18 01:55] #699 closed

[2018-04-18 01:55] #689 closed

[2018-04-18 01:55] #658 closed

[2018-04-18 01:55] #654 closed

[2018-04-18 01:55] #649 closed

[2018-04-18 01:55] #415 closed

[2018-04-18 01:55] #632 closed

[2018-04-18 01:55] #626 closed

[2018-04-18 01:55] #603 closed

[2018-04-18 01:55] #591 closed

[2018-04-18 01:55] #600 closed

[2018-04-18 01:55] #594 closed

[2018-04-18 01:55] #559 closed

[2018-04-18 01:55] #668 closed

[2018-04-18 01:55] #602 closed

[2018-04-18 01:55] #645 closed

[2018-04-18 01:55] #742 closed

[2018-04-18 01:55] #749 closed

[2018-04-18 01:55] #761 closed

[2018-04-18 01:55] #762 closed

[2018-04-18 01:55] #758 closed

[2018-04-18 01:55] #488 closed

[2018-04-18 02:51] SanyasiraoM commented on #717
@kvasukib If the some issue is labeled as featured request and stale bot closes. What will you guys do?

[2018-04-18 02:55] #112 closed

[2018-04-18 02:55] #314 closed

[2018-04-18 02:55] #328 closed

[2018-04-18 02:55] #204 closed

[2018-04-18 02:55] #411 closed

[2018-04-18 02:55] #416 closed

[2018-04-18 02:55] #403 closed

[2018-04-18 02:55] #496 closed

[2018-04-18 02:55] #541 closed

[2018-04-18 02:55] #558 closed

[2018-04-18 02:55] #583 closed

[2018-04-18 02:55] #549 closed

[2018-04-18 02:55] #555 closed

[2018-04-18 02:55] #414 closed

[2018-04-18 02:55] #711 closed

[2018-04-18 02:55] #710 closed

[2018-04-18 02:55] #731 closed

[2018-04-18 08:12] captainuberawesome opened #900 "Multipart upload doesn't work when using custom AWSS3TransferUtility instance with custom configuration"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
S3

* In what version of SDK are you facing the problem?
2.6.16

* Is the issue limited to Simulators / Actual Devices?
All

* Can your problem be resolved if you bump to a higher version of SDK?
Already using the latest version

* Is this problem related to specific iOS version?

[2018-04-18 11:11] keshavx11 commented on #752
2018-02-23 14:57:14:136 Intouchapp[988:529545] Auto-resubscribe is enabled. Resubscribing to topics.
2018-02-23 14:57:14:137 Intouchapp[988:529545] MQTT session error, code: 3
2018-02-23 14:57:14:138 Intouchapp[988:529545] closing encoder stream.
2018-02-23 14:57:14:138 Intouchapp[988:529545] closing decoder stream.
2018-02-23 14:57:14.162416+0530 Intouchapp[988:536637] [] nw_socket_get_input_fram

[2018-04-18 18:37] ashtonmeuser commented on #752
@kvasukib I did not have verbose logging enabled for the SDK. I'll enable it and submit the logs if/when I encounter this error again.

[2018-04-18 21:15] daviskoh commented on #670
If there is no desire to change this design what is the recommended way of mocking `AWSCognitoIdentityUserPool`?

[2018-04-19 08:47] haiiro-shimeji opened #901 "AWSIoTDataManager statusCallback is never called after reconnecting"
statusCallback is never called after reconnecting MQTT over websocket connection because of the code linked below:

https://github.com/aws/aws-sdk-ios/blob/master/AWSIoT/Internal/AWSIoTMQTTClient.m#L881

Once MQTT over websocket connection is closed, then nil is set to statusCallback. So the application never knows the connection is restored or not.

I expect that AWSIoTDataManager will automatica

[2018-04-19 15:25] radekwilczak commented on #760
I have exacly the same issue but with downloading images ~500 KB.

[2018-04-20 00:53] cbommas commented on #899
hello @awe-mt

We have fixed this issue and the updated libraries will be available in our next release.

[2018-04-20 15:16] dproton opened #902 "How to deal with optional property in Swift ?"
My custom model is
[code]
But sometimes, the json returned by the server don't have `expirationDate` and app crashs. How can I deal with this case ?
Thank for your support!

[2018-04-20 20:52] cbommas commented on #895
Hello @bvirlet
We have fixed this and it will be included in the next rev of the SDK.

[2018-04-21 18:38] #847 closed

[2018-04-22 20:00] castus opened #904 "Fatal Exception: NSInvalidArgumentException or EXC_BAD_ACCESS in [MQTTDecoder close]"
I have a great problem here. Actually first time in my life I have stability alert from Crashlytics. App starts to crash like crazy. From the stacktrace I see that when I invoke disconnect the app will crash. This bug is very hard to reproduce, in fact I cannot invoke it, but I see errors in Crashlytics.

Stacktrace:
[code]

Exception:
[code]

* What service are you using?
AWSIoT

* In what versio

[2018-04-23 02:38] Cyan-pactera opened #905 "Not support ECDSA cipher suite for aws-sdk-ios"
In principle,ECDSA cipher suite is supported in AWS IoT
[Elliptic Curve Cryptography and Forward Secrecy Support in AWS IoT](https://aws.amazon.com/blogs/iot/elliptic-curve-cryptography-and-forward-secrecy-support-in-aws-iot-3/)
[Security and Identity for AWS IoT](https://docs.aws.amazon.com/iot/latest/developerguide/iot-security-identity.html)

But in aws-sdk-ios, all certificates save as RSA typ

[2018-04-23 05:34] #851 closed

[2018-04-23 08:28] yiytan92 commented on #800
why was this issue closed? I'm getting the same error

[2018-04-23 10:37] petrpavlik commented on #826
Hi @kvasukib we finally have a new build with 2.6.16 in production and it looks this is now fixed. Thanks!

[2018-04-23 11:07] petrpavlik commented on #860
Hi @balaji2591 @kvasukib, I'm responding on behalf of @patpawasantanon.

We have finally released a new version of our app using version 2.6.16 of your SDK in production and this is what we're seeing so far:

http://crashes.to/s/01c4bbbe72f seems fixed
http://crashes.to/s/198696e7d6d is not fixed
http://crashes.to/s/c16072fd945 is not fixed
http://crashes.to/s/4d7480d0e18 is not fixed
http://crash

[2018-04-23 13:30] petrpavlik opened #906 "-[AWSPinpointEndpointProfile encodeWithCoder:] crash"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Pinpoint

* In what version of SDK are you facing the problem?
2.6.16

* Is the issue limited to Simulators / Actual Devices?
I don't think so

* Can your problem be resolved if you bump to a higher version of SDK?
no

* Is this problem related to specific iOS version?
no

* How

[2018-04-24 01:55] jschwab923 opened #907 "Crash in [AWSS3TransferUtility deleteTransferRequestFromDB:databaseQueue]"
* What service are you using?
AWSS3 iOS SDK

* In what version of SDK are you facing the problem?
Version 2.6.16

* Is the issue limited to Simulators / Actual Devices?
Happens on all devices.

* Is this problem related to specific iOS version?
Unknown

* How are you consuming the SDK? CocoaPods / Carthage / Prebuilt frameworks?
Cocoapods

After updating from the iOS sdk version 2.6.2 I started in

[2018-04-24 03:48] mendirattanishant commented on #896
@rohandubal  Yes. I am using MQTT-Client-Framework

https://github.com/novastone-media/MQTT-Client-Framework

[2018-04-24 05:30] cbommas commented on #907
hello @jschwab923

Sorry to hear that you are running into issues. We will investigate it and get back to you. If there is any more information you can provide about the specifics of your scenario, that would be really helpful in debugging this further.

[2018-04-24 08:20] yiytan92 opened #908 "Returning ENOTCONN because protocol has not yet been set up"
I'm getting an error when attempting to upload an image onto my S3 bucket with AWSS3 Transfer Manager. This is the code I am using,

`
    func uploadPhoto (){

        if profileImageView.image == nil {
            print("no photo selected")
            // Do something to wake up user :)
        } else {
            let image = profileImageView.image!
            let fileManager = FileManager.def

[2018-04-24 12:52] petrpavlik commented on #906
Some more issues we're experiencing related to encoding/decoding of `AWSPinpointEndpointProfile`
http://crashes.to/s/25c390afee5
http://crashes.to/s/47aa34aa0ea

[2018-04-24 14:13] kubbing commented on #872
@balaji2591 we are no longer getting report of this freeze

[2018-04-24 16:38] balaji2591 commented on #861
Hi @sauravexodus ,
Can you upgrade the sdk to 2.6.16 and let us know whether you are still facing this issue

[2018-04-24 17:27] balaji2591 commented on #906
Hi @petrpavlik
Are you including the sdk as a static library ?

[2018-04-24 17:33] petrpavlik commented on #906
I don't think so, we are using cocoapods 1.5.0, but we still have `use_frameworks!` in our podfile and I can see pinpoint as a framework in the cocoapods project.

[2018-04-24 20:44] balaji2591 commented on #906
I have been trying to reproduce this at my end, still no luck. Will wait for your update on this , if you managed to replicate this locally.

[2018-04-24 21:01] yoterpa opened #909 "Option to stop audio playback for 'audioInAudioOut' interaction mode."
I could not find a way (other than implementing a custom `LexInteractionKit` class) to stop the playback of the audio response gotten from **Lex**. Am I missing something here? Is there a way to stop audio playback for `audioInAudioOut` interaction mode using the default `AWSLexInteractionKit` class in the SDK itself?

[2018-04-25 00:28] jschwab923 commented on #907
@cbommas I added a few more bits of info.

[2018-04-25 01:45] #846 closed

[2018-04-25 07:25] jeffjvick commented on #769
@kvasukib, @swaminator I've finally started to test the new multi-part for transfer utility.  First, please update your aws-sdk-ios-samples to included a multi-part example. This would be helpful for others using it.  Also, please add enumerateToAssignBlocksForUploadTask to the swift examples.  They are there for the objc examples but not for swift.  That being said, I'm still a little unclear how

[2018-04-25 08:50] steelzeh commented on #752
Any information on this, i'm getting a crash randomly whenever the internet is disconnected, and i call iotDataManager.disconnect()

<img width="369" alt="screen shot 2018-04-25 at 10 46 51" src="https://user-images.githubusercontent.com/7465835/39235561-78dae6cc-4876-11e8-94ae-fd59fde95537.png">

[2018-04-25 09:00] nick3389 opened #910 "AWSS3TransferUtilityTimeoutIntervalForResource configuration"
I opened a similar issue several months ago, but it is closed due to inactivity. There i still no response for this:
Will there be a future possibility to customize the AWSS3TransferUtilityTimeoutIntervalForResource static property of AWSS3TransferUtility class? I cannot use any other service because only transfer utility uses background transfers, which I must implement.

Thank you!

[2018-04-25 13:57] nadein opened #911 "[AWSTask exception]: unrecognized selector sent to instance"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
_AWS iOS SDK (AWSCore, AWSDynamoDB)._

* In what version of SDK are you facing the problem?
_2.6.14 (through Cocoapods)._

* Is the issue limited to Simulators / Actual Devices?
_Reproduced both on Simulator and iOS devices._

* Can your problem be resolved if you bump to a highe

[2018-04-25 14:33] ekordin commented on #894
Have the same thouble. Would be great to have it fixed soon.

[2018-04-25 15:43] nadein commented on #911
I found `AWSMobilehubHelper` source at [this repo](https://github.com/aws/aws-mobilehub-helper-ios).
But unfortunately can't manage to build a static library (because of building script issue).
So I added it's source to project with the bridging header.
And it's seems to fix my issue.

[2018-04-25 16:55] kvasukib commented on #911
Thank you @nadein for reporting to us. Sorry for the inconvenience caused. The Auth component of the AWSMobileHubHelper is moved to the SDK under AWSAuthSDK. What part of the AWSMobileHubHelper are you using? We recommend using AWSAuthSDK for the Auth component.

[2018-04-25 19:04] rromanchuk opened #912 "[Documentation] Is there a schema of all potential configuration for AWS dictionary for Info.plist"
I have been using services independent of MobileHub for a long time and i've been recently seeing a lot of documentation drift over configuration. I can't use mobile hub because i can't figure how to import my existing cognito.  Anyways, i currently have an AWS dictionary in my `Info.plist` with settings for each service, probably through some old guide I used, no idea about how or why.

Now i'm s

[2018-04-25 19:11] rromanchuk commented on #912
Ok looks like i answered my question by hunting it down https://github.com/aws/aws-sdk-ios/blob/199553710fac562a4ce10e747d9b4ff25d89ba11/AWSS3/AWSS3TransferUtility.m#L209

I've tried googling, but is there anyway to get these values for each service besides looking at the source?

[2018-04-25 22:31] kvasukib commented on #912
Thank you @rromanchuk for reporting to us. Sorry for the inconvenience caused. Currently our documentation lacks the details for the list of keys that are supported through the Info.plist file. We will work on to improve the documentation.

`awsconfiguration.json` has the configuration information for the backend resources that you have configured and the SDK understands this file much like Info.p

[2018-04-25 23:47] kvasukib commented on #773
We have added support for Mulit-part in uploads in `AWSS3TransferUtility` in `2.6.13`. Please upgrade and let us know any feedback you have.

[2018-04-26 07:26] zaxonus commented on #898
I am having similar issues, and I have tried to specify @objcMembers to the class or @objc to each member. But to no avail: the error message didn't change a bit.

[2018-04-26 08:37] jschwab923 commented on #907
@cbommas Any chance you can point me towards a hot fix while I wait for the next revision?

[2018-04-26 16:52] Wilsonilo commented on #899
I can confirm, trying to release got "ld: bitcode bundle could not be generated because './AWSCore.framework/AWSCore' was built without full bitcode. All frameworks and dylibs for bitcode must be generated from Xcode Archive or Install build file './AWSCore.framework/AWSCore' for architecture arm64"

Turning bitcode off was only solution to bypass

[2018-04-26 17:31] kvasukib commented on #910
Thank you @nick3389 for reporting to us. Sorry for the inconvenience caused. We are still tracking this as a feature request internally. I added the `investigating` tag so that the stale bot wouldn't close it.

Will you be able to use Static Credentials (Access and Secret Access Key) instead of Cognito Credentials? Static Credentials will not have this time limit and are valid till they are expire

[2018-04-26 17:32] kvasukib commented on #905
Thank you @Cyan-pactera for reporting to us. Sorry for the inconvenience caused. As you pointed out, the SDK only supports RSA for key exchange though the IoT service supports ECDSA. We will take it as a feature request to support the different cipher suites that AWS IoT supports in the TLS connection.

[2018-04-26 20:37] vccabral commented on #878
I just encountered this issue. I want to get this resolved for my app.

[2018-04-26 20:39] jschwab923 opened #913 "Crash [AWSURLSessionManager taskWithDelegate:] Fatal Exception: Task created in a session that has been invalidated"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSS3 sdk
* In what version of SDK are you facing the problem?
2.6.2-2.6.12
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
Have been unable to test most recent 2.6.16 because of other issue.
* Is th

[2018-04-26 21:12] RushanB commented on #878
The only way to resolve this at the moment is to downgrade to the previous version of the SDK. @vccabral

[2018-04-26 21:48] vccabral commented on #878
@RushanB

I am using this repo/branch with the following Podfile

[code]

I look forward to a merge, so I can remove an explicit reference to a random fork.

[2018-04-26 21:53] dhrebeniuk commented on #878
Hello @RushanB ,
1. Which version from AWSAuthUI bug free?
2. When, you will be able my branch into main release?

P.S. I also need fix of this issue for my project.

[2018-04-26 22:12] kvasukib commented on #913
Thank you @jschwab923 for reporting to us. Sorry for the inconvenience caused.

1. Can you try the latest SDK version: 2.6.16 and report us the problem you see with multi-part upload?
2. What is the size and type of the file you are uploading? How frequently does this crash happen? Are there any network disconnect and reconnects observed during the crash? Are there any socket timeouts or hang when

[2018-04-26 22:32] vccabral commented on #878
@dhrebeniuk I tested your branch on my iPhone 6. It worked well. Not sure what the optimal is or how the automated tests work here. I can take a look at that later but the keyboard no longer covered UI.

[2018-04-26 22:51] jschwab923 commented on #913
@kvasukib
1.  I am unable to really test it on 2.6.16 due to issue #907. However I did not see if occurring on that version in my limited use of it.

2. It appears to happen on fetches only for me. The images are very minimal in size <500mb total usually in the 1000s of kbs. The crash is happening about 50-60 times a day. The times I've been able to recreate have been on stable internet.

This is

[2018-04-26 23:09] jschwab923 commented on #913
@kvasukib I have a very large number of crash report stack traces for it but they all appear to just be version of the one I've pasted above. Only difference is sometimes varying numbers of execute cycles before it eventually hits the crash.

[2018-04-26 23:12] jschwab923 commented on #913
Here's another with some slightly different things going on.

[code]

[2018-04-27 04:08] yiytan92 commented on #908
![screen shot 2018-04-27 at 12 06 48 pm](https://user-images.githubusercontent.com/26014963/39344209-97eadd30-4a13-11e8-9ff5-96644013fe21.png)

@kvasukib  Ok, i've changed uploadRequest?.bucket = "cubichat"

This is the complete error code i'm getting

[2018-04-27 10:51] nick3389 commented on #910
@kvasukib I already use static credentials, but as I can see from your code the time interval is used in createUploadTask for:

`getPreSignedURLRequest.expires = [NSDate dateWithTimeIntervalSinceNow:AWSS3TransferUtilityTimeoutIntervalForResource];`

[2018-04-27 22:13] kvasukib commented on #904
Thank you @castus for reporting to us. Sorry for the inconvenience caused. Can you share us the code snippet if you have one? Did you upgrade to 2.6.11 recently and started noticing the crash? Have you encountered this issues in the prior releases?

[2018-04-28 01:55] jschwab923 commented on #907
@cbommas Thank you. I have been unable to recreate this issue on 2.6.17.

[2018-04-28 02:05] jschwab923 commented on #913
I've recreated this issue in 2.6.17. Unfortunately wasn't able to get the stack trace. Trying to recreate sn capture the crash.

[2018-04-28 04:30] #907 closed

[2018-04-28 05:42] cbommas commented on #913
Hello @jschwab923

Sorry to hear that you are continuing to have this issue. I have tried to reproduce this on my side, but haven't been able to so far.  I looked into the code and I have a working theory as to why this may be happening, but haven't been able to validate as I have been able to get the thing to crash.

Would you be able to try out the following step and let me know if the crash sti

[2018-04-28 07:37] #744 closed

[2018-04-28 12:46] castus commented on #904
Hi @kvasukib ,

The singleton that I use for connection is here https://gist.github.com/castus/fea6d241f967d8cc63aeb009142f1c65
And the usage is here https://gist.github.com/castus/03ec6d8bf5e0f4167e6d4dfe9437db37

This is my first release of AWSIoT so I don't have the comparison.

[2018-04-28 20:48] #855 closed

[2018-04-29 22:15] jschwab923 commented on #913
By commenting out that code I have been unable to reproduce the issue on my own. Will let you know how it fares in the wild. Should know by the end of today if it is still occurring for production user base.

[2018-04-30 04:46] ekordin commented on #855
Hey, and why it will not be fixed?

[2018-04-30 08:37] David-Madpixel opened #914 "Uploading with Multipart is crashing because low memory on big files."
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

AWS iOS SDK (AWSS3TransferUtility)

* In what version of SDK are you facing the problem?

2.6.16

* Is the issue limited to Simulators / Actual Devices?

Device (I couldn't test on Simulator)

* Can your problem be resolved if you bump to a higher version of SDK?

No

* Is this

[2018-04-30 15:25] kvasukib commented on #855
Hi @ekordin, This has been fixed in our latest releases. https://github.com/aws/aws-sdk-ios/blame/2.6.15/AWSAuthSDK/Sources/AWSUserPoolsSignIn/UserPoolsUI/AWSUserPoolSignUpViewController.m#L215

[2018-04-30 15:26] cbommas commented on #913
Good to know that the initial results were promising. Can you let me know how things worked out for the production user base?

[2018-04-30 17:40] cbommas commented on #914
hello @David-Madpixel

Sorry to hear that you are running into issues. I will look into this and get back to you.

[2018-04-30 18:30] jschwab923 commented on #913
@cbommas Appears to be fixed! We've had a fair number of sessions on the newest version and have yet to see this crash again. Thanks for all the help!

[2018-04-30 21:39] cbommas commented on #913
@jschwab923 Good to hear! We will include this fix in the next rev of the SDK. Thank you for your patience and for working with me on this issue.

[2018-05-01 04:50] rohandubal commented on #908
Hello @yiytan92

Could you use `TransferUtility` instead of `TransferManager`? We recently added support for multi-part upload as well and is preferred over TransferManager.

[2018-05-01 05:06] rohandubal commented on #898
the _userId attribute should be a valid cognitoIdentityId and not a random string. `shotItem._userId = "Tester-A"` will get rejected due to policy set by MobileHub.

[2018-05-01 05:29] #862 closed

[2018-05-01 17:49] rohandubal commented on #815
The issue regarding the keyboard is resolved in the latest release `2.6.17`

Thanks,
Rohan

[2018-05-01 18:30] cbommas commented on #900
Hello @captainuberawesome

This issue has been fixed in version 2.6.17. I am closing this issue - please feel free to reopen if issue hasn't been fixed.

[2018-05-01 18:30] #900 closed

[2018-05-01 18:32] kvasukib commented on #895
This has been fixed in 2.6.17. Please upgrade to the latest and let us know if it fixes the issue. Closing the issue.

[2018-05-01 18:32] #895 closed

[2018-05-01 18:33] kvasukib commented on #899
We have fixed it in 2.6.17. Please upgrade and let us know the feedback. Closing the issue.

[2018-05-01 18:33] #899 closed

[2018-05-01 19:21] rainypixels opened #916 "Support Swift 4/4.1 for API Gateway Generated SDK"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
API Gateway.

* In what version of SDK are you facing the problem?
2.6.14.

* Is the issue limited to Simulators / Actual Devices?
Both.

* Can your problem be resolved if you bump to a higher version of SDK?
No actually.

* Is this problem related to specific iOS version?
Doesn'

[2018-05-01 20:17] rohandubal commented on #916
Hello @rainypixels

Currently the generated code is for Swift 3.2. To make it work with Swift 4/ Swift 4.1 you will have to mark the members of your model class with @objc / @objcmembers as specified [here](https://github.com/aws/aws-sdk-ios/issues/750#issuecomment-337046816).

I will mark this as an enhancement and update once we have support for Swift 4+

Thanks,
Rohan

[2018-05-02 09:51] nick3389 commented on #910
@kvasukib Actually, if I understand correctly, you use this as the timeout of the request...

[2018-05-03 07:53] rainypixels commented on #916
Thanks, @rohandubal! Do you have a rough ETA for when Swift 4/4.1 support is coming?

[2018-05-03 11:15] steelzeh commented on #904
I'm also experiencing this.

[2018-05-03 14:58] Wilsonilo commented on #899
Bitcode seems to be fixed now doing my archive.

[2018-05-04 10:13] ryancrunchi commented on #762
I have the same problem.
With interactive auth, the SDK is retaining the AWSCognitoIdentityXXXAuthentication delegate object (LoginVC in the example above) in the CompletionSource task that is waiting for authentication details.
If for some reason we cancel the interactive auth and deinit the AWSCognitoIdentityXXXAuthentication object, it leaks.
In the example we dismiss the LoginVC but it is reta

[2018-05-04 16:52] Abeansits commented on #670
@daviskoh We chose to extend `AWSCognitoIdentityUserPool` with a protocol. This protocol mapped all functions that we were using ourselves.
That solution had too much maintenance so in the end we chose to wrap all of our Cognito calls inside a service. In our tests we mocked the whole service.

Preferably AWS will wake up see the importance of this. 💤

[2018-05-04 18:28] rohandubal commented on #835
Hello,

This issue is fixed with the latest SDK release (2.6.17)

Thanks,
Rohan

[2018-05-04 18:28] #835 closed

[2018-05-04 18:36] rohandubal commented on #916
I currently do not have a timeline/ ETA for this. I will try to get some information from the team and keep this Issue updated.

[2018-05-04 21:58] cbommas commented on #914
hello @David-Madpixel

I was able to reproduce the issue on my side. The problem was that the Multipart logic has a fast loop for chunking the files, which reads the input file and breaks them into smaller chunks. In this tight loop, the contents of the file are read and used to create the part-files. While there was no memory leak, the code was asking for memory to be allocated and deallocated in

[2018-05-04 22:37] cbommas commented on #738
hello @tomoguisuru

We have recently implemented multipart transfers on the `TransferUtility` and are recommending that people use that instead of `TransferManager`. The `TransferManager` is on a deprecation path and will be be deprecated in an upcoming release.

Let me know if there are specific features you are looking for that the `TransferManager` has that are not supported in the `TransferUti

[2018-05-05 19:34] #859 closed

[2018-05-05 20:34] #857 closed

[2018-05-06 19:44] pablogeek commented on #759
@kvasukib The latest version of AWS S3 fixed the problem! but I can't resume if the app crashes. You can save the task id and resume but once your app crashes or you force close the app, you lose the reference to that task. AWS should persist the task in some kind of database. Do you know if this is in progress? Thanks!

[2018-05-07 01:13] liuxuan30 commented on #738
But have you found the root cause of the mem leak? Simply move to another place or a refactor does not solve the problem.

[2018-05-07 02:11] cbommas commented on #738
@liuxuan30
The difference between the TransferManager and the TransferUtility is that the TransferUtility uses background transfers. This has been a much requested feature from many developers. We have spent the bulk of the time over the past few months adding features and capabilities to the TransferUtility and making sure that it did not have memory leaks, uses memory efficiently etc.

As the Tr

[2018-05-07 09:13] pablogeek commented on #759
@kvasukib As I can see it works in Android, the documentation says that. But it is not mentioned in the iOS SDK

[2018-05-07 09:39] haiiro-shimeji commented on #901
Hi,

Does anyone have the similar problem about AWSIoTMQTTClient`s reconnecting behavior ??

My problem is the following.

1. Connect to AWSIoT server with AWSIoTDataManager.connectUsingWebSoketWithClientID() method.
2. Down the network.
3. The callback is called with AWSIoTMQTTStatusDisconnected.
4. Restore network and wait until reconnected to AWSIoT server.
5. The callback is not called (I expe

[2018-05-07 15:04] dproton opened #918 "How to check if has the newer version of the file on S3 ?"
I try this code but `knownRemoteLastModifiedDate` always nil and if I call `self.downloadContent(content, policy: .ifNewerExists, completionHandler: completionHandler)`, SDK always re-download file without checking the newer version exists or not. How to check if has a newer version of the file on S3 ?
Thanks for your support !
[code]

[2018-05-07 23:32] cbommas commented on #918
Hello @dproton

You should be able to do a conditional download of the file using the `If-Modified-Since` header.
See snippet below for how you would do this with the TransferUtility

[code]

[2018-05-08 16:03] harryzhao1 commented on #752
I am also experiencing this crash.
Whenever when the user goes to home screen and re-enters the app, we disconnect from IOT and then reconnect.
This crash occurs sometimes randomly. It seems like something is strongly referenced instead of weak in the IOT SDK.

[2018-05-08 16:20] giovazjim opened #919 "AWS IOT sdk for iOS : No way to find if subscription to a topic was failed"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS IoT

* In what version of SDK are you facing the problem?
2.6.1

* Is the issue limited to Simulators / Actual Devices?
all

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How are you consumi

[2018-05-08 22:03] brynbodayle opened #920 "Likely crash in AWSMTLModel.m from property_getName returning nil"
Not sure if this codepath is hit, but noticed this in an audit of a larger codebase.

https://github.com/aws/aws-sdk-ios/blob/e465aa8ed2f9051895c2b5865ec72b202a33d948/AWSCore/Mantle/AWSMTLModel.m#L149-L150

It's very possible for `property_getName` to return nil which would cause the following exception:
[code]

You'll see that a few years back Mantle updated MTLModel, form which this is based off

[2018-05-09 15:36] dproton opened #921 "How can download a file on S3 multiple times concurrent?"
If I use `content.download( with: policy, pinOnCompletion: pinOnCompletion, progressBlock, completionHandler:)` to download a file on S3 multiple times concurrent, SDK will invoke `completionHandler` with error `AWSContentManagerErrorTypeTransferAlreadyInProgress: Initiated a transfer on a content that is already running.`
How can download a file on S3 multiple times concurrent?
Thanks for your su

[2018-05-09 18:10] minbi commented on #921
Hi @dproton ,

Can you explain your use-case? Why do you need to download the same file multiple times?
Are you trying to propagate copies of the file to multiple places?

[2018-05-09 18:47] minbi commented on #920
Hi @brynbodayle ,

Thanks for pointing this out. We will work on getting this incorporated.

[2018-05-09 18:56] minbi commented on #920
It looks like the same check that prevents nil was moved in the new code.
from https://github.com/Mantle/Mantle/commit/c4812ac2b3c48a70fd339914f8e9f11d6c7b9f45#diff-34eb4dd8d9e1738c04c21a73f3fb8b0bL109
to https://github.com/Mantle/Mantle/commit/c4812ac2b3c48a70fd339914f8e9f11d6c7b9f45#diff-34eb4dd8d9e1738c04c21a73f3fb8b0bR215

Core still has the check here https://github.com/aws/aws-sdk-ios/blob/e

[2018-05-10 05:32] VictorBuzz commented on #916
Workaround from @rohandubal works, but I had to make one other change to make it work:

1. Go to **AWSMTLJSONAdapter.m** file.
2. Comment out line 150 to 153. It should look like:

[code]

There's a problem with this validation, could be that it's checking the string object and not the string value.

[2018-05-10 10:50] David-Madpixel opened #922 "Error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=2 "(null)""
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

AWS iOS SDK (AWSS3TransferUtility)

* In what version of SDK are you facing the problem?

2.6.16 and 2.6.17

* Is the issue limited to Simulators / Actual Devices?

both

* Can your problem be resolved if you bump to a higher version of SDK?

No

* Is this problem related to spe

[2018-05-10 16:48] cbommas commented on #922
Hello @David-Madpixel

Sorry to hear that you are running into issues. I will look into this and get back to you.

[2018-05-10 17:13] brynbodayle commented on #920
@minbi We had this line in our codebase as well, but still were getting crashes
https://github.com/aws/aws-sdk-ios/blob/e465aa8ed2f9051895c2b5865ec72b202a33d948/AWSCore/Mantle/AWSMTLModel.m#L147

There are a few other checks in MTLModel that guard against the case where the property name is nil. Sorry they weren't added until after that PR I sent you.

https://github.com/Mantle/Mantle/blob/master/

[2018-05-10 17:40] balaji2591 commented on #854
The sdk by default registers an endpoint as either APNS/ APNS Sandbox endpoint. Any changes to that will not be reflected.

[2018-05-11 04:32] anthonynovatsis commented on #916
Also hitting this issue with Swift 4. The workaround mentioned in #753 was not sufficient as per above https://github.com/aws/aws-sdk-ios/issues/916#issuecomment-387956454. Any update on when the generated SDK will be fixed?

[2018-05-11 07:15] guna commented on #830
Hello Rohan - I have a question using AWS Pinpoint. Currently I have
working AWS backend in N-California region, with UserPools in Oregon
Region. Now I would like to start using AWS Pinpoint that is available only
in N.Virginia region. When I create a project into Pinpoint, it
automatically uses UserPool in N.Virginia region. How can I do this with
two userPools, as my active userPool is in Oregon

[2018-05-11 07:26] guna opened #923 "AWS Pinpoint with existing UserPools(in USWest-Oregon)"
I have a question using AWS Pinpoint. Currently I have
working AWS backend(DB in N-California region and UserPools in Oregon
Region). Now I would like to start using AWS Pinpoint that is available only
in N.Virginia region. When I create a project into Pinpoint, it
automatically generates a configuration json file that has UserPool in N.Virginia region.
This creates a conflict in my  awsconfigurat

[2018-05-11 10:37] #870 closed

[2018-05-11 18:14] steelzeh commented on #752
Will this ever be fixed, been an issue since 24'th of October 2017.

[2018-05-11 18:44] minbi commented on #923
Hi @guna ,

Are you using AWS Mobile Hub to configure Pinpoint?

The SDKs do not require that the Cognito User Pool and Pinpoint be in the same region.

[2018-05-11 19:21] #873 closed, assigned to nobody

[2018-05-11 20:54] minbi commented on #913
Hi @jschwab923 ,

We have release version 2.6.18 of the SDK. Please see if the issue is resolved.

[2018-05-11 20:54] minbi commented on #914
Hi @David-Madpixel ,

We have released version 2.6.18 of the SDK. Please see if the issue is resolved.

[2018-05-11 21:07] jschwab923 commented on #913
@minbi Will install as soon as the cocoapod is available. Looking at the commits I believe it will resolve the issue though, as it includes the exact change I made. Thanks for the update!

[2018-05-12 07:19] jeffjvick opened #924 "S3 Transfer Utility multi-part upload hangs after two or more suspend / resumes"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSS3 (iOS)
* In what version of SDK are you facing the problem?
2.6.17
* Is the issue limited to Simulators / Actual Devices?
Actual device
* Can your problem be resolved if you bump to a higher version of SDK?
This is the highest version
* Is this problem related to specific iO

[2018-05-12 07:34] jeffjvick commented on #595
@rohandubal, wait, what?  I don't see anything about suspending / resuming the tasks in the enumerateToAssignBlocks example at https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html

Can you please elaborate on what we are supposed to do regarding suspending and resuming tasks after calling enumerateToAssignBlocks?  I'm currently having troubl

[2018-05-12 15:16] cbommas commented on #922
Hello @David-Madpixel

A value of 2 for AWSS3TransferUtilityErrorDomain  indicates that a 4XX error was returned from the server for the request. The latest version of the SDK, 2.6.18, contains logic to propagate additional diagnostic information (thanks to PR https://github.com/aws/aws-sdk-ios/pull/666 submitted by @k4ety ). Can you upgrade to the latest and send me the details of the error?

See

[2018-05-12 16:54] cbommas commented on #919
Hello @giovazjim

We implemented callbacks for publish and subscribe in the latest rev of the SDK (2.6.18).  See code snippet below

       iotDataManager.subscribe(toTopic: testTopic, qoS: .messageDeliveryAttemptedAtLeastOnce, messageCallback: { (payload) ->Void in
        //callback that is invoked on receipt of a message.
        .....
        ......
        }, ackCallback: {
        //callback

[2018-05-12 16:54] #919 closed

[2018-05-12 19:28] cbommas commented on #769
@jeffjvick

Sorry to hear that you are still facing issues. We fixed a couple of the crashes in 2.6.18. Could you try with that version - Also, I would appreciate it very much if you could file the specific issues and will work to get them resolved.

[2018-05-12 19:29] #810 closed

[2018-05-12 19:32] cbommas commented on #908
@yiytan92

Thank you for your patience as we are working through this issue. I will need you to make one more change to get more diagnostic information. A value of 2 for AWSS3TransferUtilityErrorDomain  indicates that a 4XX error was returned from the server for the request. The latest version of the SDK, 2.6.18, contains logic to propagate additional diagnostic information (thanks to PR https://g

[2018-05-12 19:34] cbommas commented on #752
@steelzeh

I am actively working on this issue and hope to release a fix fairly soon. I will make sure to loop back on this thread.

[2018-05-13 07:00] kvasukib commented on #877
Thank you for reporting to us. We fixed this issue in 2.6.17 https://github.com/aws/aws-sdk-ios/blob/master/CHANGELOG.md#2617. Can you upgrade and provide us any feedback on the issue?

[2018-05-13 07:01] kvasukib commented on #878
Thank you for reporting to us. We fixed this issue in 2.6.17 https://github.com/aws/aws-sdk-ios/blob/master/CHANGELOG.md#2617. Can you upgrade and provide us any feedback on the issue?

[2018-05-13 07:39] dhrebeniuk commented on #877
@kvasukib Thanks you, issue was fixed

[2018-05-13 07:40] dhrebeniuk commented on #878
@kvasukib , Thank you, issue was fixed

[2018-05-13 07:45] #878 closed

[2018-05-13 07:45] #877 closed

[2018-05-14 15:35] serddmit opened #925 "SSL failure IOS"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Cognito

* In what version of SDK are you facing the problem?
2.6.18

* Is the issue limited to Simulators / Actual Devices?
simulators/devices

* Can your problem be resolved if you bump to a higher version of SDK?
no

* Is this problem related to specific iOS version?
no

* How

[2018-05-14 19:25] ryan-mannion-zocdoc opened #926 "AWSCognitoAuth Google sign out causes subsequent sign-in to fail"
* **What service are you using?** AWSCognitoAuth
* **In what version of SDK are you facing the problem?** 2.6.16
* **Is the issue limited to Simulators / Actual Devices?** No
* **Can your problem be resolved if you bump to a higher version of SDK?** N/A
* **Is this problem related to specific iOS version?** No, tested with iOS 10.3 and iOS 11.3
* **How are you consuming the SDK? CocoaPods / Cartha

[2018-05-15 00:03] liugrego opened #927 "AWSPinpointEndpointProfile.setOptOut incorrectly sets optOut to ALL even when opted into push notifications"
https://github.com/aws/aws-sdk-ios/blob/7898e71963e77bcddb14168425a33795abfcf70c/AWSPinpoint/AWSPinpointEndpointProfile.m#L119-L121

This code wrongly sets the Pinpoint endpoint profile to optOut = "ALL" even if the endpoint is opted in to push notifications, but does not have badging, alerts, or sounds turned on.

https://developer.apple.com/documentation/uikit/uiusernotificationtype?language=obj

[2018-05-15 00:12] liugrego commented on #927
Please also note that use of currentUserNotificationSettings is deprecated as of iOS 10, and UNUserNotificationCenter.getNotificationSettingsWithCompletionHandler is the recommended approach (i.e. optOut should ONLY be set when authorizationStatus is UNAuthorizationStatusDenied).

[2018-05-15 00:22] liugrego opened #928 "AWSPinpointEndpointProfile.setOptOut overrides calls to setting optOut property with a String"
https://github.com/aws/aws-sdk-ios/blob/7898e71963e77bcddb14168425a33795abfcf70c/AWSPinpoint/AWSPinpointEndpointProfile.h#L57

https://github.com/aws/aws-sdk-ios/blob/7898e71963e77bcddb14168425a33795abfcf70c/AWSPinpoint/AWSPinpointEndpointProfile.m#L117-L124

Attempting to set `AWSPinpointEndpointProfile.optOut` property to a String value from Swift results in a call to `setOptOut` (above) rather

[2018-05-15 13:52] kdbertel commented on #588
It does not make it "super clear". It indicates that for a particular instance of the object, I can only do the thing once. I would _never_ expect that an _instance_ method on a class could only be called once for _all instances of that class_. It's not a standard API paradigm, and wasted hours of my time trying to figure out what was going on, instead of being productive and writing tests and cod

[2018-05-15 14:06] kdbertel commented on #588
If something only happens once in the lifetime of the app, it should be marked as static/class.

The code in question was part of a library being used by a much larger app. There was no app delegate. And if I didn't test where the SDK interacted with the code, then I'd literally have no tests, and no way of automatically knowing whether or not a test user can properly log in against our backend.

[2018-05-15 19:45] rex-remind101 commented on #313
Please do this

[2018-05-16 01:36] loganallenc commented on #498
I want Mac OS X support.

[2018-05-16 05:27] cbommas commented on #925
Hello @serddmit

Sorry to hear that you are running into issues. Can you provide a code snippet that we can use to debug this issue further?

[2018-05-16 05:49] #529 closed

[2018-05-16 09:51] David-Madpixel commented on #922
Hello. Looks like its a size problem:

    MaxSizeAllowed = 5368709120;
    Message = "Your proposed upload exceeds the maximum allowed size";
    ProposedSize = 7703575944;

With multipart is working.

Thanks.

[2018-05-16 09:53] David-Madpixel commented on #914
Hello.

I can confirm the issue is resolved with last version

Thank you

[2018-05-16 12:25] pothunoorisk commented on #893
@kvasukib any update on this? This is a high priority issue for us now as user is not able to use AWS services  after some time with "Authentication delegate not set" error. Please help.

[2018-05-16 13:38] cbommas commented on #922
Thank you for confirming @David-Madpixel

[2018-05-16 13:38] #922 closed

[2018-05-16 13:38] cbommas commented on #914
Thank you for confirming @David-Madpixel

[2018-05-16 13:38] #914 closed

[2018-05-16 15:13] cbommas commented on #910
hello @nick3389

I am working on this request and will have an update soon for you on this thread.

[2018-05-16 18:47] lundhjem commented on #738
Is it possible this isn't exclusive to the TransferManager? I get lots of leaks which look extremely similar and I don't use the TransferManager, just S3 `putObject:` and `getObject:`. Using 2.6.18

![screen shot 2018-05-16 at 11 39 17 am](https://user-images.githubusercontent.com/6576378/40137095-7bd2f35e-58fe-11e8-913d-c94844b696dd.png)

[2018-05-16 21:16] dimaborenko commented on #443
I'm having the exact same issue using the latest version of SDK. The issue is pretty critical, since it breaks Lambda Edge function on CloudFront. Lambda function fails every time CDN serves a file with Content-Encoding header set to an empty string.

This is definitely a bug in the SDK, which really needs to be fixed. Should I file a new issue, since this was automatically closed? Please advise.

[2018-05-16 21:57] yorkepb commented on #443
did anything ever come of the investigation originally mentioned by @karthiksaligrama?

[2018-05-16 22:28] kvasukib commented on #443
Hi @yorkepb, just to summarize the problem and correct my understanding:

"Using the AWSS3TransferManager and try to upload a file to S3, when content-encoding is set to nil, the SDK changes it to aws-chunked but on the S3 console, the content-encoding is empty"

Am I correct here? Can you share a code snippet if possible?

FYI, we introduced support for multi-part uploads in AWSS3TransferUtility

[2018-05-16 23:40] dimaborenko commented on #443
Hi @kvasukib, I'm sharing my code in the meantime:

[code]

That's what I see in AWS S3 console after uploading is done:

<img width="500" alt="screenshot 2018-05-16 19 18 06" src="https://user-images.githubusercontent.com/39347024/40149134-ea79aa32-593f-11e8-84f0-a227c5d67d87.png">

Please let me know if there are any other useful details I can provide.

[2018-05-17 05:13] pothunoorisk commented on #893
@rohandubal @behrooziAWS pls have a look at this.

[2018-05-17 07:47] JesusMartinAlonso opened #931 "AWSAuthUIViewController sign-in in landscape orientation"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSAuthUIViewController

* In what version of SDK are you facing the problem?
2.6.18
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
No
* Is this problem related to specific iOS version?
No
* How are

[2018-05-17 16:33] behrooziAWS commented on #893
@pothunoorisk  Hi Shiva, the approach you are taking sounds correct.  When you say custom auth, are you actually using custom authentication via lambdas?  If so, you would need to have set the `pool.delegate` to an implementation of `AWSCognitoIdentityInteractiveAuthenticationDelegate` and if you are still seeing this error, are you instantiating multiple instances of the user pool instead of usin

[2018-05-18 01:28] #280 closed

[2018-05-18 04:49] bhabani-sixt commented on #752
Looks like the crashes are happening in main thread. Can we avoid connect/disconnect getting executed from main thread.

[2018-05-18 15:49] #441 closed

[2018-05-18 15:49] #768 closed

[2018-05-19 13:11] #763 closed

[2018-05-21 03:52] vccabral commented on #459
I know this is an old thread but I am searching for compilation instructions. Does anyone have those?

[2018-05-21 07:47] nick3389 opened #932 "Upload issue with AWSS3TransferUtility"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSS3
* In what version of SDK are you facing the problem?
2.6.18
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
No
* Is this problem related to specific iOS version?

* How are you consuming the SD

[2018-05-21 08:03] dproton commented on #921
Example use case:
User goes to view A. In this view, the app needs to download file a.json. But user exit view A when the downloading still in progress. And after that user re-enters view A. App should download file a.json again. Because we don't have API to cancel the download, so the 2nd downloading process will failed  with error `AWSContentManagerErrorTypeTransferAlreadyInProgress `.

[2018-05-21 10:19] pothunoorisk commented on #893
@behrooziAWS Thank you for your response.  By custom auth, I mean userpool authentication. And I am not using lambdas for that. I am only calling getSession on app login page.
Your last sentence - "...when you call getSession after 1 hour?" - So did you mean, I explicitly have to call getSession if token is expired ? Can you also look at my earlier comment in which I've asked few queries in respon

[2018-05-21 11:56] tushar666 opened #933 "Though Re-installing App again, " pool.currentUser()?.isSignedIn " always return "true""
Though Re-installing App again, " pool.currentUser()?.isSignedIn " always returning "true", i want user to go for login screen, if user is reinstalling the app again, i know i can detect using custom flag in my app, but just the same thing is possible using AWS

- And also what is the difference between, getUser("+91**********") and getUser(), When to use one appropriately.

[2018-05-21 16:32] cbommas commented on #932
hello @nick3389
Sorry to hear that you are having issues. I will look into this and get back to you.

[2018-05-21 18:46] behrooziAWS commented on #933
isSignedIn is based on whether the user has a refresh token or not which persists app installs in the keychain, it doesn't make any service calls to verify the refresh token is still valid.  There isn't any built-in support to detect whether the app launch is for a reinstall or not.

The difference is that you may not know the username up front.  With interactive authentication, you may need to di

[2018-05-22 04:25] tushar666 commented on #933
Thank you for your valuable reply, it was helpful.

[2018-05-22 07:38] nick3389 commented on #932
@cbommas thank you very much! It is a very serious issue, as we lose data from a production application.

[2018-05-22 08:18] keshavx11 commented on #752
Any updates on this issue?

[2018-05-22 08:52] nick3389 commented on #932
@cbommas Is it possible that this pull request caused this problem?

https://github.com/aws/aws-sdk-ios/pull/666/commits/344aa6567f4ad781b492eca08fb86ceb02c1bbae

Should we check now for the data too??

[2018-05-22 17:39] aat2703 commented on #752
@cbommas any news?

[2018-05-22 17:42] cbommas commented on #752
hello all,

We are targeting a bunch of fixes to address these issues in the next rev of the SDK.
I will circle back once the release is out.

[2018-05-22 17:45] aat2703 commented on #752
@cbommas sounds great... Any idea of a possible release date (+-) yet?

[2018-05-22 18:45] cbommas commented on #752
hello @aat2703

The next release is slated to go out by the end of the week. I will let you know once I get confirmation that the fixes made it into the release.

[2018-05-22 18:54] aat2703 commented on #752
Great @cbommas ! Our customers is experiencing a lot of interruptions because of crashes/reconnect issues

Have you found the core issue with the crashes yet?

I'll wait for your confirmation 👍

[2018-05-23 00:50] kvasukib commented on #921
Are you referring to the [Mobile Hub Helper library] (https://github.com/aws/aws-mobilehub-helper-ios/blob/4a1573af7115788ecf83b27221fe32407c3afe0d/AWSMobileHubHelper/ContentDelivery/AWSContentManager.h#L30)? AWSContentManager is part of the Mobile Hub Helper library.

We have moved portions of the Mobile Hub Helper library into the AWS iOS SDK. AWSS3TransferUtility in iOS can replace AWSContentMa

[2018-05-24 02:15] #833 closed

[2018-05-24 22:33] rynosoft commented on #498
+1

[2018-05-25 00:19] dimaborenko commented on #443
Hi @kvasukib, just checking in to see if there are any updates on this issue.

[2018-05-25 00:39] jeffjvick commented on #924
Thanks @cbommas for looking into this.  Yes, before I knew Transfer Utility was doing this I was probably messing things up by also doing it myself.  After letting it handle pause/resume on it's own it is significantly more stable.

Please let me know when you have an update on any improvements you have made to this logic.

[2018-05-25 04:38] cbommas commented on #918
hello @dproton
closing this issue as I haven't heard back in a while. Looks like you are all set. Please feel free to reopen if you are still facing issues.

[2018-05-25 04:38] #918 closed

[2018-05-25 04:43] behrooziAWS commented on #893
Yes,  you should call getSession to get a current token when you implement the logins method.  You can see how the user pool implements the AWSIdentityProviderManager protocol here: https://github.com/aws/aws-sdk-ios/blob/master/AWSCognitoIdentityProvider/AWSCognitoIdentityUserPool.m#L290  It calls getSession to get the current token each time.  If it isn't able to user the refresh token and compl

[2018-05-25 04:43] cbommas commented on #752
hello @aat2703, all

The bulk of the crashes were around the disconnect logic which had a few bugs in it. We released version 2.6.19 today with bug fixes and architectural changes which should resolve the bulk of the crashes. Can you give it a try and let me know how it goes.

[2018-05-25 04:49] cbommas commented on #856
hello @ArisSarris

We released version 2.6.19 earlier today with fixes in the re-connection logic. I was able to reproduce your scenario on a simulator and verify that the fix works. Can you please upgrade to the latest SDK and let us know how it goes?

[2018-05-25 05:10] cbommas commented on #901
hello @haiiro-shimeji

We made a bunch of changes to the IoT SDK in version 2.6.19. Can you please upgrade and let us know how it goes?

The behavior is that AWSIoTDataManager will automatically reconnect to the server in case of connection failures and will behave the same as before disconnecting. For each reconnect, it will call the callback with AWSIoTMQTTStatusConnecting to indicate that it is

[2018-05-25 05:12] cbommas commented on #904
@castus , @steelzeh

We made a number of crash fixes in 2.6.19. Can you upgrade to the latest and let us know how you fare?

[2018-05-25 05:19] cbommas commented on #932
hello @nick3389

I looked into this and could not find any regression in the tests I ran to verify the functionality - I am seeing the callbacks being called as normal. The PR you are referencing adds additional diagnostics in case of errors, but it hasn't cause any regression that I could find.

If you could provide the following info, it would be very helpful in debugging further
1)  a code snip

[2018-05-25 05:28] cbommas commented on #924
hello @jeffjvick

Confirming that I am still working through this logic. One of the areas I am looking to adjust is to add an exponential back-off strategy for the retries. This should give some more control over the retries.

One thing you can try, in the meantime to make it more stable is to adjust the retryLimit. It defaults to 5, but can be adjusted up or down, based on your needs. See the Tra

[2018-05-25 05:34] cbommas commented on #490
hello all,

Since the last update on this thread, we have made a significant number of changes and bug fixes to the TransferUtility and perform rigorous testing on it. I haven't seen this issue/crash happen till date after the big changes were made.

I am going to mark this thread as closed - please feel free to reopen if you are continuing to see this in the latest version of the SDK and we will

[2018-05-25 05:34] #490 closed

[2018-05-25 07:22] alexberlato opened #937 "Building v2.6.19 with Carthage fails"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSIoT

* In what version of SDK are you facing the problem?
2.6.19

* Is the issue limited to Simulators / Actual Devices?
No

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How are you consumin

[2018-05-25 07:45] kvasukib commented on #937
Thank you @alexberlato for reporting to us. We found the root cause of the issue. We will fix it by end of the day today. Thank you!

[2018-05-25 08:18] steelzeh commented on #937
@kvasukib Could you also supply the carthage frameworks, so we don't have to build the entire SDK, like in the other releases?

[2018-05-25 10:31] nick3389 commented on #932
@cbommas

1. The code snippet is the one I wrote in the initial post. I really don't do anything else:

`completionBlockUpload = { (task, error) -> Void in
      if let error = error {
          //do nothing and retry later to upload the file
      } else {
         //delete file
      }
}
`

So imagine that I never get an error, the code goes into the else clause and I delete the file.

2. Yes it

[2018-05-25 15:22] opteamix-ppalanisamy opened #938 "Play video files (.m3u8) using AVPlayer directly from S3"
I'm using AWS iOS SDK 2.6. I'm using cocoapods to integrate AWS.
I would like to upload my video files in S3 buckets and manually convert those files as .m3u8 files and store it another S3 bucket. I'm not planning to use AWS cloud front due to my financial restrictions. I've done till this point.

Now i'm trying to play these .m3u8 files from AVPlayer. If i change my access permission to public i

[2018-05-25 15:52] opteamix-ppalanisamy commented on #938
It might help somone. I can get the AWSCredentials like access key, secret key,etc using below code.

        let credentialsProvider = AWSCognitoCredentialsProvider(regionType: .USEast1, identityPoolId: "POOL_ID")
        let configuration = AWSServiceConfiguration(region: .USEast1, credentialsProvider: credentialsProvider)
        AWSServiceManager.default().defaultServiceConfiguration = configu

[2018-05-25 16:14] cbommas commented on #924
hello @jeffjvick
Just a minor correction, the retrylimit defaults to 0, not 5 as I'd originally stated. I've edited my post above to reflect that, but just wanted you to know in case you were interested in adjusting that parameter.

[2018-05-25 16:29] cbommas commented on #938
hello @opteamix-ppalanisamy

For your scenario, you could use presigned urls to create short-lived urls that you can pass to the video player. This way, your bucket doesn't have to be public. See https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-ios-s3-presigned-urls.html for more information on how to generate a presigned URL.

[2018-05-25 18:18] kvasukib commented on #937
Hi @steelzeh, Thank you for the feedback. I will look into it.

[2018-05-25 20:40] kvasukib commented on #937
I have uploaded the carthage frameworks here: https://github.com/aws/aws-sdk-ios/releases/tag/2.6.19

[2018-05-25 22:46] kvasukib commented on #937
I have updated the xcodeproj to fix this problem. Closing the issue. Please feel free to re-open if the issue persists.

[2018-05-25 22:46] #937 closed

[2018-05-26 00:41] cbommas commented on #932
@nick3389

I am continuing to dig into this. The 2 big changes in the 2.6.18 in the transfer utility were improved memory handling for multi-part transfers and improvements to general error handling.

One question: are you using multi-part transfers? Can you check if the errors are isolated to multi-part transfers (if you are using them?). This will help in my debugging.

[2018-05-26 00:43] cbommas commented on #910
@nick3389
I have made good progress on this request and am targeting the feature to be included in the next rev of the SDK

[2018-05-26 00:46] cbommas commented on #769
@jeffjvick

I will investigate the enumerateToAssignBlocks topic and get back to you on this thread.

[2018-05-26 04:05] cbommas commented on #932
@nick3389

I am pretty confident that I have found the problem. There is indeed a regression in 2.6.18, due to the improved error handling logic.  The fix will be included in the next rev of the SDK.

If you need this fix before the next rev, here is what you would need to change locally.
On line 1619, add
     `uploadTask.error = error`

One line 1766, add
     `downloadTask.error = error`

If yo

[2018-05-27 03:32] jeffjvick commented on #924
thanks @cbommas I will try setting the retry limit to 5 to see if it is more resilient to the network tests I'm am conducting.

[2018-05-27 03:45] jeffjvick commented on #769
thanks @cbommas

Here is a copy of the code I made for enumerateToAssignBlocks for multipart uploads (I didn't see an exact example for multipart, just normal uploads).

[code]

One thing I noticed is that AWSS3TransferUtilityMultiPartUploadTask does not have a taskIdentifier while AWSS3TransferUtilityUploadTask does.  Why?  I'm not sure if why I'm doing is correctly reassigning the progress and c

[2018-05-27 19:18] ssferrazza opened #940 "Modify Volume in EC2 missing?"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS EC2

* In what version of SDK are you facing the problem?
2.6.18

* Is the issue limited to Simulators / Actual Devices?
No

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How are you consumi

[2018-05-29 14:27] GreatWiz opened #941 "usage of stringWithUTF8String causes a heap overflow in AWSS3TransferUtility.m"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
upload file to bucket
* In what version of SDK are you facing the problem?
2.6.19

* Is the issue limited to Simulators / Actual Devices?
actual device (didn't try simulator, but no reason to assume it would behave differently)

* Can your problem be resolved if you bump to a hig

[2018-05-29 16:39] wallowabk opened #942 "AuthSDK User Pools UserNotConfirmedException"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

Cognito / AuthSDK

* In what version of SDK are you facing the problem?

2.6.19

* Is the issue limited to Simulators / Actual Devices?

No. Happens on both.

* Can your problem be resolved if you bump to a higher version of SDK?

No. Am on latest.

* Is this problem related to

[2018-05-29 17:22] w0mba7 opened #943 "Can not build 2.6.19 with Carthage."
### To help us solve your problem better, please answer the following list of questions.
I am trying to build with Carthage using the no binaries flag but it is failing.  I need to use the no binaries flag as the binaries are currently build with a different version of swift.

* What service are you using? Cognito

* In what version of SDK are you facing the problem? 2.6.19

* Is the issue limited

[2018-05-30 11:22] Prasad018 opened #945 "When app minimised AWS session gets paused and stucked"
When app minimised and after few seconds opening the app , AWS not getting reinitialised  and    for every touch events app get crashed .
When app minimised AWS session gets into a  status like  "event_type" = "_session.pause"  and "_session.stop"
e.g.
Session Stopped.
2018-05-30 16:45:24:271 Middi[473:163740] saveEvent: [{
    "event_type" = "_session.stop";
    timestamp = "2018-05-30T11:15:24.2

[2018-05-30 12:07] #826 closed

[2018-05-30 15:34] cbommas commented on #932
@nick3389
Thank you for confirming.

[2018-05-30 17:33] kvasukib commented on #943
Thank you @w0mba7 for reporting to us. Sorry for the inconvenience caused. We fixed this issue in the latest commit in the repository, but the git tag points to the second latest commit, hence Carthage update fails. However, Carthage build succeeds and we have verified this. We will fix it with the next upcoming release.

Meanwhile there are two options:
1) Carthage build --no-skip-current
2) Down

[2018-05-30 19:58] cbommas commented on #941
@GreatWiz

Thank you for bringing this to our attention. It will be fixed in the next rev of the SDK.

[2018-05-30 20:59] w0mba7 commented on #943
Thanks, I saw the commit and figured something else was going, but if it just not in the release I can get around with the no-skip flag.

[2018-05-30 21:10] w0mba7 commented on #943
Sorry Reopened as the build still fails, looks like there is a missing file.  I opened up the project file and yup the credentials.json is red in the project navigator in xcode.

error: /Users/kylekilgour/code/RxMobile_iOS/Carthage/Checkouts/aws-sdk-ios/AWSCoreTests/Resources/credentials.json: No such file or directory

[2018-05-31 03:57] anhkieet opened #946 "Multipart upload does not work"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSS3
* In what version of SDK are you facing the problem?
2.6.19
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
No, this is the highest version
* Is this problem related to specific iOS version?


[2018-05-31 09:46] Bhadresh4488 opened #947 "Not work sign out function in AWSCognitoAuth.default()"
auth.signOut { (error:Error?) in
              if(error != nil){
                   alertWithTitle("Error", message: (error! as NSError).userInfo["error"] as? String)
              }else {

                session = nil
                alertWithTitle("Info", message: "Session completed successfully")
            }
            self.refresh()
        }

- I am use this method but can't successfully

[2018-05-31 12:12] Prasad018 opened #948 "How to easily convert to iPhone X"
We have developed our iOS application (portrait mode), but it is not compatible with iPhone X, so how can we easily convert to IPhone X, (now the screens are   little bit stretched in width  in iPhone X see the images ...)
So any one can suggest some good methods to solve the issue of converting to iPhone X
(Curretly app is working in all other versions above 5 well, except  iPhone X)

![simulator

[2018-05-31 15:28] #872 closed

[2018-05-31 17:15] cbommas commented on #946
hello @anhkieet

Sorry to hear that you are having issues. I have a question, just so that I can debug this further: have you been able to get non multipart uploads to work?

Also, there is a sample app available at https://github.com/awslabs/aws-sdk-ios-samples/tree/master/S3TransferUtility-Sample. This currently only has a non-multipart example, but once we get this working, I can walk you throu

[2018-05-31 22:43] minbi commented on #947
SFSafariViewController will keep cookies of the user's session and not prompt the user for login. You may use logout URLs to simulate a logout in the view controller.

[2018-05-31 22:49] minbi commented on #947
Closing to track in #894

[2018-05-31 22:49] #947 closed

[2018-06-01 03:04] anhkieet commented on #946
Hi @cbommas

Yes, non-multipart upload functions work well. Only multipart upload does not work

[2018-06-01 05:45] cbommas commented on #946
hi @anhkieet

I dug into this and found a bug in the instantiation logic for the TransferUtility. This will be fixed in the next release of the SDK.

To unblock you immediately, make the following changes on the TransferUtility instantiation logic

        let serviceConfiguration = AWSServiceManager.default().defaultServiceConfiguration
        let transferUtilityConfiguration = AWSS3TransferUtil

[2018-06-01 05:47] cbommas commented on #932
@codebender
The fix has been completed and will be included in the next rev of the SDK, which will be released in the next few days. I will update this thread once the new release is out.

[2018-06-01 06:57] steelzeh opened #949 "IoT iOS 9 crash."
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS IoT

* In what version of SDK are you facing the problem?
2.6.19

* Is the issue limited to Simulators / Actual Devices?
Actual device.

* Can your problem be resolved if you bump to a higher version of SDK?
No higher version of SDK

* Is this problem related to specific iOS

[2018-06-01 15:09] recreational-snacker commented on #793
Hi,
I'm getting:
{
  "code": 400,
  "message": "Can't resend confirmation code for this user (Service: AWSCognitoIdentityProvider; Status Code: 400; Error Code: NotAuthorizedException; Request ID: 71383829-65ac-11e8-b265-a701b68c006a)"
}
When trying resendConfirmationCode in Cognito (Java SDK version 1.11.279). Can anyone help me shed light on this?

[2018-06-01 16:18] cbommas commented on #946
@anhkieet

Thank you for confirming. Please feel free to reopen this thread if you run into further issues.

[2018-06-01 16:18] #946 closed

[2018-06-01 16:22] cbommas commented on #949
hello @steelzeh

Thank you for reporting this issue. I will investigate and get back to you.

[2018-06-01 18:06] #911 closed

[2018-06-01 20:06] #860 closed

[2018-06-02 00:57] cbommas commented on #910
Hello @nick3389

The latest version of the SDK, 2.6.20 released on 6/1/2018, contains this feature.

        let serviceConfiguration = AWSServiceManager.default().defaultServiceConfiguration
        let transferUtilityConfiguration = AWSS3TransferUtilityConfiguration()
        //Set the timeoutIntervalForResource parameter (in seconds)
        transferUtilityConfigurationWithRetry.timeoutInterval

[2018-06-02 01:02] cbommas commented on #941
@GreatWiz
The latest version of the SDK, 2.6.20, contains this fix.
Please feel free to reopen this thread if you run into further issues.

[2018-06-02 01:02] #941 closed

[2018-06-02 01:03] cbommas commented on #946
@anhkieet
The underlying bug that was causing the issue has also been fixed and included in the latest rev, 2.6.20.

[2018-06-02 05:55] Bhadresh4488 commented on #947
Give me logout URLs

[2018-06-02 05:56] Bhadresh4488 commented on #947
also i am clear cookies:
let cookieJar = HTTPCookieStorage.shared

        for cookie in cookieJar.cookies! {
            // print(cookie.name+"="+cookie.value)

            cookieJar.deleteCookie(cookie)
        }

[2018-06-02 09:47] daviskoh opened #950 "getAttributeVerificationCode requires authentication"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

Cognito

* In what version of SDK are you facing the problem?

latest

* Is the issue limited to Simulators / Actual Devices?

Both

* Can your problem be resolved if you bump to a higher version of SDK?

No

* Is this problem related to specific iOS version?

No

* How are you

[2018-06-02 15:48] cbommas commented on #949
@steelzeh

The fix for this issue will be included in the next rev of the SDK. I will loop back on this thread once the release is completed.

[2018-06-03 15:19] TigranIsk opened #951 "Error when trying to sync AWS Cognito Identy Pool identity dataset when signing-in via Facebook"
I'm using AWS Cognito for implementing a sign-in/sign-up functionality in an iOS app. To do that, I use my own UI. I also want to enable sign-in by using a Facebook account.
I create an app in AWS Mobile Hub and add a User Pool (for the issue it doesn't matter whether I create a new pool or add and existing one; more on that below). As I've noticed, when using AWS Mobile hub, it creates a new Id p

[2018-06-03 15:22] #951 closed

[2018-06-03 15:33] TigranIsk opened #952 "Getting an error when trying to synchronzie an AWS Cognito Identity Pool identity dataset for for Facebook users"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS-Cognito, AWS Mobile Hub
* In what version of SDK are you facing the problem?
2.6.12 for Cognito
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
No
* Is this problem related to specific iOS versio

[2018-06-03 18:41] aat2703 commented on #949
When is the fix scheduled to be released?

[2018-06-04 04:15] cbommas commented on #949
@aat2703

We are looking to get this released next week.

[2018-06-04 07:34] pothunoorisk commented on #893
Hi, I am calling getSession on userpool log-in button - so this is getting called only when user proceeds with log-in UI. Once I get a valid session in getSession, I call logins method - This is also true for other types of providers -  Facebook, Google and Twitter - where I am calling logins once I've a valid token from the respective provider.

Userpool login button action:

[code]

[code]
AWSCo

[2018-06-04 08:45] aat2703 commented on #949
@cbommas okay - We cannot release a new version and fix this issue: https://github.com/aws/aws-sdk-ios/issues/752 because of this. So its really important to get this fixed...

[2018-06-04 17:34] minbi commented on #943
The problem should be resolved in the 2.6.20 release

[2018-06-04 18:05] opteamix-ppalanisamy commented on #938
Thank you cbommas for reply. I have tried to create presigned url using the above example. Still i'm not able to download the s3 file.  I'm using below code

        let getPreSignedURLRequest = AWSS3GetPreSignedURLRequest()
        getPreSignedURLRequest.bucket = "bucketname/protected"
        getPreSignedURLRequest.key = "h264_master.m3u8"
        getPreSignedURLRequest.httpMethod = .GET

[2018-06-04 18:27] kvasukib commented on #773
Hello @nick3389 @chrisscholly

The latest version of the SDK, 2.6.20 released on 6/1/2018, contains this feature.

        let serviceConfiguration = AWSServiceManager.default().defaultServiceConfiguration
        let transferUtilityConfiguration = AWSS3TransferUtilityConfiguration()
        //Set the timeoutIntervalForResource parameter (in seconds)
        transferUtilityConfigurationWithRetry.t

[2018-06-04 18:28] kvasukib commented on #541
Hello @nick3389

The latest version of the SDK, 2.6.20 released on 6/1/2018, contains this feature.

        let serviceConfiguration = AWSServiceManager.default().defaultServiceConfiguration
        let transferUtilityConfiguration = AWSS3TransferUtilityConfiguration()
        //Set the timeoutIntervalForResource parameter (in seconds)
        transferUtilityConfigurationWithRetry.timeoutInterval

[2018-06-04 23:40] #943 closed

[2018-06-04 23:43] rohandubal commented on #940
This issue should be fixed with 2.6.20.

[2018-06-04 23:43] #940 closed

[2018-06-05 00:50] cbommas commented on #949
@aat2703

I understand. I will loop back on this thread once the release is completed.

[2018-06-05 12:50] ali-mehmood-10p commented on #370
@jbailey2010,  any update on this or we still need implement other workaround?

[2018-06-05 14:10] voyager163 opened #953 "Pinpoint Error When using iOS 10.2 Version"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS Pinpoint

* In what version of SDK are you facing the problem?
iOS 2.6.21

* Is the issue limited to Simulators / Actual Devices?
Both

* Can your problem be resolved if you bump to a higher version of SDK?
No.

* Is this problem related to specific iOS version?
Yes, it is re

[2018-06-05 18:23] cbommas commented on #938
@opteamix-ppalanisamy

I tried the exact same code on my side and it worked fine. The way I tested it was that I took the link that was printed out in the continueWith block and loaded it from a browser and it downloaded the file successfully.

Can you paste the exact error that you are seeing?

 Also, I see that you are using "Unauth" access of the Identity Pool. Can you share how you have setup

[2018-06-05 19:08] ppamorim opened #954 "S3 crash on iPhone 4S using multi part upload"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using? S3

* In what version of SDK are you facing the problem? 2.6.17

* Is the issue limited to Simulators / Actual Devices? Only iPhone 4S

* Can your problem be resolved if you bump to a higher version of SDK? Not tested

* Is this problem related to specific iOS version? No idea, b

[2018-06-06 02:27] voyager163 opened #955 "Systemgroup.com.apple.configurationprofiles Warning"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Cognito

* In what version of SDK are you facing the problem?
iOS 2.6.21

* Is the issue limited to Simulators / Actual Devices?
Simulator

* Can your problem be resolved if you bump to a higher version of SDK?
Nope.

* Is this problem related to specific iOS version?
Nope.

* Ho

[2018-06-06 06:32] cbommas commented on #949
@aat2703

We released ver 2.6.21 today (6/5) with the fix. Please try this out and let us know how it goes.

[2018-06-06 10:25] ppamorim commented on #954
@cbommas Probably related to #913 ?

[2018-06-06 10:56] steelzeh commented on #949
Seems to be working again, thanks @cbommas

[2018-06-06 15:33] cbommas commented on #949
Thank you @steelzeh  for confirming. Please feel free to reopen this thread if you run into further issues.

[2018-06-06 15:33] #949 closed

[2018-06-06 15:37] cbommas commented on #954
@ppamorim

It is possible - Are you seeing the "Fatal Exception: Task created in a session that has been invalidated" message in your logs.  I would recommend updating to the latest revision of the SDK and seeing if that resolves the issue.

[2018-06-06 15:46] cbommas commented on #738
@lundhjem
Let me look into this and get back to you.

[2018-06-06 16:58] rohandubal commented on #955
Hi,

This is likely just extra logging and can be removed by steps specified here:
[Link](https://stackoverflow.com/questions/37800790/hide-strange-unwanted-xcode-logs)

Thanks,
Rohan

[2018-06-06 16:58] #955 closed

[2018-06-06 17:03] ppamorim commented on #954
@cbommas I will check. Thanks.

[2018-06-06 19:05] christwsy commented on #498
+1

[2018-06-06 22:02] JohnyBeG opened #956 "API Gateway SDK Generation is broken"
Hi,

When the SDK generation will be available ? Currently the link is broken.
Will it be available for Swift 4 ?

Regards

[2018-06-07 02:15] minbi commented on #952
Hi @TigranIsk ,

You are correct that the permissions required for Cognito Sync are missing from the generates roles. I have notified our team about this issue.

[2018-06-07 05:35] #898 closed

[2018-06-07 15:18] voyager163 commented on #955
Thanks. i think it is extra logging by Apple Developer. I tested with my other projects with Firebase.

[2018-06-07 17:58] michaeleconomy opened #957 "AWSCognitoIdentityPasswordAuthentication.didCompleteStepWithError called, but identityPool?.currentUser()?.isSignedIn still returns false for another second or so"
Hi,

I'm using AWSCognitoIdentityPasswordAuthentication and AWSCognitoIdentityInteractiveAuthenticationDelegate to add cognito authentication to my ios app.  For the most part this is working.   This was particularly annoying and weird so i'm reporting it.

So after i put in my username and password, hit login, do:
let authDetails = AWSCognitoIdentityPasswordAuthenticationDetails(username: emailFi

[2018-06-07 19:35] #902 closed

[2018-06-07 19:40] rohandubal commented on #957
I think the confusion stems from the method name. `didCompelteStepWithError` is called with an error object indicating there was an error signing in the user and that the username and password needs to be requested again. Thats why the isSignedIn correctly returns false.

[2018-06-07 19:51] rohandubal commented on #956
which link are you mentioning?

Currently there is a workaround which you can use as mentioned here: #916

[2018-06-07 20:03] michaeleconomy commented on #957
Nope, thats not the problem.   I see how people could make that mistake however.

[2018-06-07 20:10] JohnyBeG commented on #956
Sorry. I didn't know.
The link is from the aws api gateway console.

What service are you using?
API Gateway.

In what version of SDK are you facing the problem?
Not from the SDK but from the aws api gateway console

Is the issue limited to Simulators / Actual Devices?
None

Can your problem be resolved if you bump to a higher version of SDK?
No actually.

Is this problem related to specific iOS v

[2018-06-07 20:11] rohandubal commented on #956
Let me investigate what is going on with the generation in console and get back to you.

[2018-06-07 20:27] JohnyBeG commented on #956
Ok. I understant where the problem is : it's from Safari navigator (i don't know why).
It works fine from Google Chrome.

Sorry for the disturbing and thank you for your help

[2018-06-07 21:14] behrooziAWS commented on #957
`didCompletePasswordAuthenticationStepWithError` doesn't mean the authentication has completed, it just means the current step has completed or errored out, there may not be tokens yet.  `getSession`, like most of the apis is an asynchronous task, there is no guarantee that it has completed unless you call `continueWith` or `continueWithSuccess` on it. `getSession` which is called by most apis, in

[2018-06-08 06:38] cbommas commented on #954
thanks @ppamorim. Please let me know what you find.

[2018-06-08 07:13] tomjanne opened #958 "Feature Request: Cognito "InitiaateAuth" request allowed custom "scopes" in AccessToken"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS Cognito

Hello,

we are currently using a Cognito User Pool for authenticating our Application Users. These are accessing an Amazon API Gateway secured by a Cognito Authorizer with OAuth (custom) scopes.

At first we tried using the Android sdk from your Documentation
https:/

[2018-06-08 09:44] ppamorim commented on #954
I need to send the app to production first to check if the problem has been solved. I was not able to replicate on two iPhone 4s I have here unfortunately.

[2018-06-08 09:47] kiwi-26 commented on #957
I'm encountering the same problem.

I use Cognito federated identity with userpool.
Before a user signs in, the user have cognitoIdentityId with unauthenticated role, and after signs in, I want user to use identityId with authenticated role.

So I wrote some code like
[code]
but I can't getIdentityId correctly because userpool object (or currentUser object) is not updated with signed in tokens.

H

[2018-06-08 11:08] danilke commented on #498
+1

[2018-06-08 12:47] polurezov8 opened #959 "The operation couldn’t be completed. (com.amazonaws.AWSDynamoDBErrorDomain error 5."
I used latest SDK in cocoa-pod, I got this error "The operation couldn’t be completed. (com.amazonaws.AWSSNSErrorDomain error 5) " when i scan data base some time. What is the issue?

[2018-06-08 16:48] behrooziAWS commented on #957
@michaeleconomy yeah that is the correct pattern.  FWIW, it should also work with `getDetails().continueOnSuccessWith` since it is doing exactly that: https://github.com/aws/aws-sdk-ios/blob/master/AWSCognitoIdentityProvider/AWSCognitoIdentityUser.m#L148

@kiwi-26  To support unauth and auth users, there are a couple ways to doing it, but I wouldn't do it in the didStep method.  Instead maybe you

[2018-06-08 17:04] rohandubal commented on #959
Hi @polurezov8

Can you provide more information like SDK logs and error info?

Thanks,
Rohan

[2018-06-08 20:27] shufankang commented on #952
Looking for Amazon Cognito Sync? If you are a new user, use AWS AppSync instead. AppSync is a new service for synchronizing application data across devices. Like Cognito Sync, AppSync enables synchronization of a user's own data, such as game state or app preferences. AppSync extends these capabilities by allowing multiple users to synchronize and collaborate in real-time on shared data, such as a

[2018-06-09 02:58] OBannon37 opened #960 "AWSDynamoDB Framework Still Uses NSNumber"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS DynamoDB

* In what version of SDK are you facing the problem?
2.6.21

* Is the issue limited to Simulators / Actual Devices?
All Devices

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How a

[2018-06-10 18:41] #670 closed

[2018-06-10 23:07] joshwoods commented on #948
@Prasad018 this has nothing relating to the iOS AWS SDK. This should probably be closed.

[2018-06-11 04:55] Prasad018 commented on #945
Can anyone give some tips for this , because we nearing to Launch of our app

[2018-06-11 05:09] Prasad018 commented on #948
give the correct link to post this

[2018-06-11 05:29] joshwoods commented on #948
This is a repository for AWS. Your question is about iOS. Use google to find what you’re looking for.

[2018-06-11 06:10] 0x5e opened #961 "duplicate symbol _OBJC_CLASS_$_MQTTDecoder"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSIoT

* In what version of SDK are you facing the problem?
2.6.21

* Is the issue limited to Simulators / Actual Devices?
No

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How are you consumin

[2018-06-11 16:28] rohandubal commented on #961
We will have to refactor the whole MQTT client in our SDK to make sure it does not result into duplicate errors. I will take this as an feature enhancement request to the team. Thanks.

[2018-06-11 16:42] rohandubal commented on #960
Hi, the SDK currently uses Mantle internally to do the transformation and it would be a very big change (and probably breaking) to support the native types. But I definitely see your point in supporting native types for conforming to Codable. I will take this as feature request to the team.

Thanks,
Rohan

[2018-06-11 16:52] michaeleconomy commented on #957
Ok ".getSession().continue" is not working,  instead it seems to be firing AWSCognitoIdentityInteractiveAuthenticationDelegate.startPasswordAuthentication()
 and never calling the block.

What i was doing instead, that seems to work is:

 func waitForSignIn(_ callback: @escaping () -> Void) {
        if (identityPool?.currentUser()?.isSignedIn) {
            callback()
            return
        }

[2018-06-11 21:22] cbommas commented on #956
Closing the issue. @JohnyBeG, please feel free to reopen if you run into further issues.

[2018-06-11 21:22] #956 closed

[2018-06-12 19:58] harish2sista opened #962 "Integrating both audio and text input for Lex."
I am trying to integrate both audio inputs(using LexVoiceButton) and text inputs(using InteractionKit). At first, I tried to send the audio input using voice button which worked fine. Later, I tried to send text input with session attributes using Interaction kit. I did send the input to Lex but it also generated this error.

2018-06-12 13:58:09.228122-0400 TestBot[4392:244566] 317:  ca_debug_stri

[2018-06-12 23:03] froggomad commented on #800
The owner closed it, open a new one

[2018-06-13 20:09] ryan-mannion-zocdoc commented on #926
Bump / anti-inactivity

[2018-06-14 09:10] haiiro-shimeji commented on #901
@cbommas
Sorry for my late reply.

In 2.6.21, everything works perfectly as I had expected!
Thanks a lot!!

[2018-06-14 09:10] #901 closed

[2018-06-14 11:52] AndreiBoariu commented on #424
@Pinturaj Please check this post
[https://stackoverflow.com/a/50856785/800313](url)
Today I fixed also on my side!

[2018-06-14 20:11] giovazjim commented on #919
@cbommas Thanks so much for your help, I've already implemented  :)

[2018-06-15 03:56] mpirogov opened #963 "S3TransferUtility Upload failed. SSL Error"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSS3/Transferutility(including MultipartUpload)

* In what version of SDK are you facing the problem?
2.6.18 ~ 2.6.21
* Is the issue limited to Simulators / Actual Devices?
Actual Devices
* Can your problem be resolved if you bump to a higher version of SDK?
No
* Is this problem

[2018-06-15 04:01] gray-goose commented on #498
+1

[2018-06-15 17:12] cbommas commented on #963
@mpirogov

Sorry to hear that you are running into issues. Can you provide some more details about your scenario and share a code snippet if possible. Also if you could share details about where your bucket is located and any specific settings ( such as serverside encryption, bucket acceleration), that would help in debugging this further.

The 1200 means that ATS is rejecting the SSL handshake. S

[2018-06-15 17:14] mpirogov commented on #963
I already have done it.

[2018-06-15 17:29] mpirogov commented on #963
I have attached my info.plist.
What do you need more from me?

[2018-06-15 17:32] cbommas commented on #963
Thanks, that should rule out any ATS related issues. How are you getting the credentials? Are you using Cognito/using static credentials? Also, where is your bucket located?

[2018-06-15 17:34] mpirogov commented on #963
bucket located in USEAST1.
static credentials

[2018-06-15 17:47] mpirogov commented on #963
ohh sorry.

[2018-06-15 17:48] mpirogov commented on #963
I have attached one screenshot.
![info_plist 2](https://user-images.githubusercontent.com/19306638/41482166-664152b4-70dd-11e8-90b4-fda0779ac8d6.png)

[2018-06-15 17:59] cbommas commented on #963
Excellent, everything looks good. I was basically looking to see what the credentials expiry was; since you are using Cognito identity pool, expiry is not an issue as the credentials will be refreshed as needed.

Can you setup retries for the TransferUtility to see if the issue is being caused by transient errors. By default, it is set to 0, but you change it to a different value. See sample code

[2018-06-15 18:03] mpirogov commented on #963
thank you.
I also coded it.
![appdelegate_m](https://user-images.githubusercontent.com/19306638/41482817-78220c42-70df-11e8-960f-628892167024.png)

[2018-06-15 18:21] mpirogov commented on #963
from ago 2years, I worked with aws sdk.
whenever new release, I always upgrade as new.
recently I am getting these missing upload issues from our customers.

[2018-06-15 19:08] mpirogov commented on #963
sorry, I am not sure what is certain.
maybe after multipart upload version.
from ago about 40 days

[2018-06-15 20:01] cbommas commented on #963
I ran a bunch of tests locally and saw instability whenever I increased the `timeoutIntervalForResource` on the transferUtilityConfiguration beyond 50 minutes.

The credentials generated by Cognito are valid for 50 minutes and setting the `timeoutIntervalForResource`greater than that may be causing the issue. I will do some more testing on my side to dive further into this. Can you try this on you

[2018-06-15 20:04] mpirogov commented on #963
Thank you. I will try on my side.

[2018-06-15 20:36] mpirogov commented on #963
when you have anything, can you let me know?
Thank you.

[2018-06-15 20:51] cbommas commented on #963
Will do. The internal test I'm running uploads a 3.3G file using a simulator and so far, 5+ attempts, every run with a value greater than 50 minutes for `timeoutIntervalForResource` is failing and every run with a value less than or equal to 50 minutes is passing.

[2018-06-15 21:35] mpirogov commented on #963
I am testing with my app.
when I upload a image/video, it is working well.
when I upload multiple images/videos with multi thread, it is not working well.
max file size is not exceed than 3Gbytes.

[2018-06-16 17:48] #932 closed

[2018-06-16 17:49] #910 closed

[2018-06-16 17:49] #856 closed

[2018-06-16 17:49] #904 closed

[2018-06-16 17:51] #752 closed

[2018-06-16 17:53] cbommas commented on #954
@ppamorim
Any updates?

[2018-06-16 18:39] mpirogov commented on #963
hello
any suggestion or solution?

[2018-06-16 19:11] #854 closed

[2018-06-17 20:36] #923 closed

[2018-06-18 00:43] rainypixels commented on #916
Any update on this?

[2018-06-18 10:40] ppamorim commented on #954
Not yet, still waiting Apple review.

[2018-06-18 21:22] #912 closed

[2018-06-19 04:27] pothunoorisk commented on #893
@behrooziAWS @rohandubal  plz have a look at the above query.

[2018-06-19 16:40] mattczech opened #965 "AWSIoT reconnecting issues"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

AWSIoT

* In what version of SDK are you facing the problem?

2.6.21

* Is the issue limited to Simulators / Actual Devices?

Actual devices

* Can your problem be resolved if you bump to a higher version of SDK?

No

* Is this problem related to specific iOS version?

No

* How

[2018-06-19 17:08] cbommas commented on #965
@mattczech
Thank you for reporting this issue. I will look into this and get back to you.

[2018-06-19 21:23] jeffjvick commented on #769
@cbommas Have you had a chance to look at the code snip I added above?  Am I handling this correctly?

[2018-06-21 01:13] #927 closed

[2018-06-21 01:13] #928 closed

[2018-06-21 15:37] cbommas commented on #963
@mpirogov

Were you able to try with the `timeoutIntervalForResource` set to a lower value? Did that make things better.

With regards to the multi-threaded scenarios, I've tried to reproduce them on my side, but haven't been able to see any SSL handshake issues. Can you provide some more details about your scenario - specifically around how you creating the transfer utility client (are you using

[2018-06-21 15:45] fernnando opened #966 "What AWSCognitoAuthErrorDomain actually means?"
* What service are you using?
Amazong Cognito

Im getting this error (com.amazon.cognito.AWSCognitoAuthErrorDomain) when i try to login for the second time(after a successful logout), but cant find it on any AWS documentation.

[2018-06-21 16:53] kvasukib commented on #966
Thank you @fernnando for reporting to us. Sorry for the inconvenience caused. Can you post the exception message and complete stack trace and a code snippet?

[2018-06-21 17:45] mpirogov commented on #963
- (void) startDataUpload:(NSData *)data contentType:(NSString *)contentType
{
    if(self.status == UPLOAD_SUCCESS) {
        NSLog(@"ignoring upload, has successed for %@\n", _fileName);
        return;
    }

    if(self.status == UPLOAD_CANCELLED) {
        NSLog(@"ignoring upload, was cancelled for %@\n", _fileName);
        return;
    }

    AppDelegate *appDel = (AppDelegate*)[[UIApplicatio

[2018-06-21 17:51] mpirogov commented on #963
do you need more details?
can you let me know what is the best value for timeoutIntervalForResource?
mine is now 7200.

[2018-06-21 20:21] cbommas commented on #963
Change the `timeoutIntervalForResource` to 3000. Cognito sets the credentials it provides with a 50 minute expiry, so staying within/at that limit is good.

[2018-06-21 20:50] mpirogov commented on #963
Thank you @cbommas
I will try it, let you know.

[2018-06-22 06:19] #925 closed

[2018-06-22 09:56] ppamorim commented on #954
@cbommas Seems to be solved. I will close it.

[2018-06-22 09:56] #954 closed

[2018-06-22 15:40] cbommas commented on #954
@ppamorim Thank you very much for confirming!

[2018-06-22 18:47] kvasukib commented on #928
We have fixed this issue in 2.6.22. Please upgrade and let us know any feedback you have.

[2018-06-22 18:55] mpirogov commented on #963
@cbommas

Thank you for your advise.
I have configured it to 3000.
it is good for upload only.
but multipart is bad, getting same issue.
multipart is still in improvement? I thought it is a good solution for upload big files.

and one thing.
sometimes I am getting an another issue "storage full" when upload files.
can you give me any advise for storage full issue?

Thank you for your help.

[2018-06-23 02:12] kvasukib commented on #924
@jeffjvick Do you have any update after setting the retry limit?

[2018-06-25 10:39] MrLiuYunPing opened #968 "Too many bugs like memory leaks or cpu usage too high."
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Iot
* In what version of SDK are you facing the problem?
2.6.21
* Is the issue limited to Simulators / Actual Devices?
NO
* Can your problem be resolved if you bump to a higher version of SDK?
NO
* Is this problem related to specific iOS version?
NO
* How are you consuming the SD

[2018-06-25 15:40] cbommas commented on #968
@MrLiuYunPing

Sorry to hear that you are running into issues. To help debug this further, can you provide a code snippet, logs and stacktraces if possible

[2018-06-25 15:49] cbommas commented on #963
@mpirogov

The best way to know if a transfer succeeded or failed is by using the completion handler mechanism. Checking the underlying NSURLSessionTask for the status of completion is not the recommended way as it may not work in all cases. I am working on improving the statusing mechanism for a future rev of the SDK, but for now it would be good to use the completion handler.

I am curious about

[2018-06-25 17:32] justinpawela commented on #313
I assume this would be a prerequisite to supporting Swift on Lambda... would be very nice.

[2018-06-26 10:45] sangios commented on #968
Dear all,

The case that you will see CPU usage too high when turns off wifi, or in airplane mode, or no internet connection.

while (self.runLoopShouldContinue in - (void)openStreams:(id)sender of AWSIoTMQTTClient.m never exits. Also "[runLoopForStreamsThread runMode:NSDefaultRunLoopMode beforeDate:[NSDate distantFuture]];"  without input source will make cpu too high.

[2018-06-27 03:43] sangios opened #971 "CPU too high when connection lost"
Dear all,

The case that after connects MQTT successfully, you will see CPU usage too high when turns off wifi, or in airplane mode, or no internet connection.

while (self.runLoopShouldContinue in - (void)openStreams:(id)sender of AWSIoTMQTTClient.m never exits. Also "[runLoopForStreamsThread runMode:NSDefaultRunLoopMode beforeDate:[NSDate distantFuture]];" without input source will make cpu too

[2018-06-27 08:57] baileycolbert commented on #963
@cbommas
sorry to late.
I will provide a stack trace and details soon.
thank you.

[2018-06-27 09:03] mpirogov commented on #963
@cbommas
Sorry to late.
I will soon provide a stack trace and details for storage full error.
I am getting same issue on android.(Android sdk version 2.6.19)
now I have downgraded to 2.4.3 (android) and watching it now.
Thank you.

[2018-06-27 09:16] aat2703 commented on #965
Any news regarding this issue, seems like there still is issues with reconnecting logic?

[2018-06-27 11:05] aat2703 opened #972 "Disconnect error: DUPLICATE_CLIENT_ID"
Some of our customers is experiencing disconnects which is causing some sockets to not reach our application.

All errors is logged to CloudWatch all with the same error: DUPLICATE_CLIENT_ID even though every time we instantiate connect() method a new uuid is generated?

Do you guys have any clue what the issue can be?

<img width="652" alt="duplicate" src="https://user-images.githubusercontent.co

[2018-06-27 17:44] rohandubal commented on #971
Hello @sangios

Thanks for reporting this. I will investigate this further and reply back to you. Are you noticing this behavior for specific devices / OS versions?

Thanks,
Rohan

[2018-06-28 05:46] #933 closed

[2018-06-28 07:18] cbommas commented on #965
@mattczech, @aat2703

Just a quick update. I have been able to reproduce the issue on my side and am continuing to work on it. Will post an update once I finish up my analysis.

[2018-06-28 07:46] cbommas commented on #968
@sangios
I tried to reproduce this issue on my side by running instruments on a iPhone 5s, iOS 9.3.5 and did not see the high CPU usage. Would be great if you could provide details on how you are observing this to help me reproduce it so that I can debug the issue.

The while loop in the `openStreams` method runs as long as the `runLoopShouldContinue` instance variable is set to `YES`. This run lo

[2018-06-28 09:58] sachinB94 commented on #420
@nafetswirth @anushkmittal Hey, how did you fix this? I'm facing this in production. Happens really randomly.

[2018-06-28 14:27] wfan9 opened #974 "AWSSignInManager.resumeSession completionHandler not called with google sign in error"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS Mobile SDK
* In what version of SDK are you facing the problem?
2.6.22
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
No
* Is this problem related to specific iOS version?
No
* How are you consu

[2018-06-29 01:46] #921 closed

[2018-06-29 10:07] sangios commented on #971
I think all of iOS version

[2018-06-29 10:13] sangios commented on #971
@rohandubal There is one more case that will cause the CPU usage too high as step belows:
- connect to mqtt successful
- app enters background
- wait for about 60 seconds
- open app again
- cpu is too high after that

[2018-06-29 17:02] annamalairaj commented on #619
@jaskooo how did you fix this issue?

[2018-06-29 23:26] Dellybro opened #975 "awsconfiguration.json file should have configurable filename"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

AWSMobileClient / DynamoDB / authoCore / APIGateway / UserPoolsSignin / AuthUI / S3 / Cognito

* In what version of SDK are you facing the problem?

2.6.6

* Is the issue limited to Simulators / Actual Devices?

No

* Can your problem be resolved if you bump to a higher version

[2018-06-30 08:13] balaSshashanka commented on #743
Hi,
I have been facing same issue for some time but was able to find a solution to this [here](https://stackoverflow.com/questions/50034920/dynamodb-mobilehub-not-working)

if you are using Swift 4 then you need to add @objcMembers on top of the class definition line as shown below. This worked for me

import AWSDynamoDB

@objcMembers
class TableName: AWSDynamoDBObjectModel, AWSDynamoDBModeling {

[2018-07-01 12:18] orenyaar opened #976 "Host is not updated when changing S3 configurations"
Hi,

* What service are you using?
AWS iOS SDK

* In what version of SDK are you facing the problem?
v2.4.12

* Is the issue limited to Simulators / Actual Devices?
Actual devices.

* Can your problem be resolved if you bump to a higher version of SDK?
No, I tried 2.6.22 and it reproduces there as well.

* Is this problem related to specific iOS version?
No.

* How are you consuming the SDK? Cocoa

[2018-07-02 00:00] rohandubal commented on #976
Hi,

The recommended way to handle this would not be to share the same client, but rather use the `register:withKey` method and then register different client for different regions. You can have different clients for different regions and that should resolve the issue.

Thanks,
Rohan

[2018-07-02 00:00] #976 closed

[2018-07-02 00:36] rohandubal commented on #975
Hello @Dellybro

Thanks for the feedback! I will take this as a feature request to the team to see when we can get this prioritized.

I do see a valid use-case in using different filenames for different stages of backend.

Thanks,
Rohan

[2018-07-02 00:39] Dellybro commented on #975
Yes please let me know, and keep me updated, because at this current moment, I have to release 2 different versions 1. For External beta testing. Than once the external beta testing has came back as a success, i have reupload another version with our Live awsconfiguration.json file.

This is rather quite cumbersome.

[2018-07-02 01:50] rohandubal commented on #963
Hello @mpirogov

Could you open a separate issue for Android? Also for the storage error, might be best to open a separate issue since it might help other users in discovery.

[2018-07-02 01:56] rohandubal commented on #962
Hello @harish2sista

Have you tried out our sample here: https://github.com/awslabs/aws-sdk-ios-samples/blob/master/Lex-Sample/swift-3/LexSwift/ ?

We also demonstrate switching of input types from voice to text here:
https://github.com/awslabs/aws-sdk-ios-samples/blob/master/Lex-Sample/swift-3/LexSwift/ChatViewController.swift#L207

Thanks,
Rohan

[2018-07-02 02:21] rohandubal commented on #974
Hello @wfan9

Thanks for reporting this. You are right, it needs to be surfaced. I am marking this as a bug in the SDK and discuss with the team when to prioritize it.

Thanks,
Rohan

[2018-07-02 04:57] tzzen93 opened #977 "The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details."
How to calculate aws signature in swift 3?

My calculation is below. Could you please kindly check it? I got "The request signature we calculated does not match the signature you provided. Check your AWS Secret Access Key and signing method. Consult the service documentation for details." message for authorization.

func getAuthorization(request: URLRequest, secretSigningKey: String, accessKeyId:

[2018-07-02 05:02] rohandubal commented on #977
Hi @tzzen93

Are you implementing your own signing solution? What is the use-case which prompts you to not use our iOS SDK?

You can take a dependency on `AWSCore` and use the Signature utility from this class: https://github.com/aws/aws-sdk-ios/blob/91426a8faf782cbae1f1ee60f217adac5534047b/AWSCore/Authentication/AWSSignature.h#L36

I am closing this issue as the issue about your signature is not

[2018-07-02 05:02] #977 closed

[2018-07-02 05:05] tzzen93 commented on #977
Hi Thanks for your replying

[2018-07-02 06:49] orenyaar commented on #976
Thanks @rohandubal !! 👍

[2018-07-02 08:36] aat2703 commented on #972
@cbommas

[2018-07-02 14:47] bhoopendrayash commented on #414
How we can check  AccelerateMode is enabled or not on S3 bucket in android with Transfer Utility SDK

[2018-07-02 17:20] cbommas commented on #924
Closing this issue.

[2018-07-02 17:20] #924 closed

[2018-07-02 18:45] daviskoh commented on #950
...

[2018-07-02 21:32] aat2703 commented on #965
Cool @cbommas

Could this issue have any relation to https://github.com/aws/aws-sdk-ios/issues/972 ?

[2018-07-02 21:44] cbommas commented on #948
Closing this issue.
@Prasad018  Please feel free to post if you have any questions or issues using the AWS SDK.

[2018-07-02 21:44] #948 closed

[2018-07-03 00:34] cbommas commented on #965
@aat2703

Yep, these are related. I have a fix that I am testing on my side and am hoping to include in the next rev of the SDK.

[2018-07-03 12:47] aat2703 commented on #965
@cbommas thats what i thought hehe.. Will you loop back when you have an scheduled release date with this bug fix? 👍

[2018-07-03 15:46] cbommas commented on #965
Absolutely. I will circle back on this thread once the fix is out.

[2018-07-03 21:47] cbommas commented on #968
@sangios

While I haven't been able to reproduce the high CPU situation, I have made some tweaks to the runloop code as per your reccomendation. I have replaced the `[NSDate distantFuture]` with `[NSDate dateWithTimeIntervalSinceNow:10]`.  So each cycle of the run loop will exit after 10 seconds if no event was received.

Also, I added an  additional timer to the runloop to make sure that there is

[2018-07-03 21:49] cbommas commented on #971
Closing this issue as we are tracking it in #968

[2018-07-03 21:49] #971 closed

[2018-07-05 08:58] aat2703 commented on #965
@cbommas do you have an eta for the next rev of the SDK?

[2018-07-05 09:36] shashank-rps opened #980 "AWSS3TransferUtility Acceleration not working when deleting and installing the app."
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSCore | AWSCognito | AWSS3

* In what version of SDK are you facing the problem?
2.6.22

* Is the issue limited to Simulators / Actual Devices?
NO

* Can your problem be resolved if you bump to a higher version of SDK?
NO

* Is this problem related to specific iOS version?
NO

[2018-07-05 22:43] rohandubal commented on #980
Are you using `CognitoIdentity` for your auth mechanism? Could you call `clearCredentials()` on cognito identity client when your app launches to see if this error goes away?

Thanks,
Rohan

[2018-07-06 09:45] shashank-rps commented on #980
No, I am not using any auth mechanism, It's being used internally when I try to upload any media to my bucket.

[2018-07-06 09:57] steelzeh commented on #972
@cbommas any news on this?

[2018-07-06 15:42] cbommas commented on #972
@steelzeh @aat2703

Version 2.6.23 was released yesterday ( july 5) and contains the fixes for this issue.
Please upgrade to this version and let me know how it goes.

[2018-07-06 15:42] cbommas commented on #968
@sangios @MrLiuYunPing

Version 2.6.23 was released yesterday ( july 5) and contains the changes for this issue.
Please upgrade to this version and let me know how it goes.

[2018-07-06 15:44] cbommas commented on #965
@aat2703 @mattczech

 Version 2.6.23 was released yesterday ( july 5) and contains the fixes for this issue.
Please upgrade and let me know if you are still running into issues.

[2018-07-06 16:39] cbommas commented on #489
Hello all,

The latest version of the SDK (2.6.23) has support for resuming transfers after app restart. 3 convenience methods have been added to the TransferUtilityTask

- `status`: to get the current status of the transfer. Returns an enumeration of type `AWSS3TransferUtilityTransferStatusType`
- `setCompletionHandler`: to set a completion handler to the transfer
- `setProgressBlock`: to set a p

[2018-07-06 16:47] cbommas commented on #755
@nick3389 @ItsProf

The latest version of the SDK (2.6.23) has additional support for resuming transfers after app restart. 3 convenience methods have been added to the TransferUtilityTask

- `status`: to get the current status of the transfer. Returns an enumeration of type `AWSS3TransferUtilityTransferStatusType`
- `setCompletionHandler`: to set a completion handler to the transfer
- `setProgres

[2018-07-06 16:53] cbommas commented on #759
@pablogeek

The latest version of the SDK (2.6.23) has additional support for resuming transfers after app restart. Three convenience methods have been added to the TransferUtilityTask

- `status`: to get the current status of the transfer. Returns an enumeration of type `AWSS3TransferUtilityTransferStatusType`
- `setCompletionHandler`: to set a completion handler to the transfer
- `setProgressBlo

[2018-07-06 17:03] cbommas commented on #769
@jeffjvick

Apologies for the delay in my response. There has been a bunch of confusion on about how to use the enumerateToAssignBlocks from other folks as well. So, I have a taken a crack at simplifying getting the latest status of a transfer, how to associate/re-associate progressBlocks and connectionHandlers ongoing transfer in the latest version of the SDK (2.2.23).

I have added three conveni

[2018-07-06 17:08] cbommas commented on #769
@jeffjvick

Regarding - _"One thing I noticed is that AWSS3TransferUtilityMultiPartUploadTask does not have a taskIdentifier while AWSS3TransferUtilityUploadTask does"_

The Mulitpart transfer mechanism uses a NSURLSessionTask per part to upload the file in pieces. That is the reason why there is no taskIdentifier on it. All tasks, however, have a unique TransferID, that you should use instead of

[2018-07-06 17:15] cbommas commented on #908
@yiytan92

Just checking back to see if you had a chance to try out the changes

[2018-07-06 17:23] cbommas commented on #963
@mpirogov

As suggested by @rohandubal, please create separate issues for the Android and the Storage Error.
As mentioned previously, we have added support for getting status information more easily from a transfer utility task. The latest version of the SDK (2.2.23) has a convenience method to get the status of an ongoing transfer

- `status`: to get the current status of the transfer. Returns an