[2018-11-20 18:17] muellerfr commented on #598
Hi @commando24,

Please open a new issue if you are still experiencing problems. This particular issue was closed a long time ago. Be sure to state which version of the SDK are you on.

[2018-11-20 20:44] muellerfr commented on #1087
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-11-20 20:44] #1087 closed

[2018-11-21 04:43] johnflanagan-spok opened #1117 "AWSCognitoAuth doesn't called completion handler when "Done" button pressed."
**Describe the bug**
When attempting to sign in with `AWSCognitoAuth` if the user taps the `Done` button on the `SFSafariViewController` the `getSessionBlock` is not called.

**To Reproduce**
Steps to reproduce the behavior:
1. Start user authentication by calling `AWSCognitoAuth.getSession:completion:`
2. Click `Done` on the `SFSafariViewController` presented by the SDK
3. Observe that the comple

[2018-11-21 11:04] sshilko commented on #454
Same issue, cant use bucket with dashes

[2018-11-21 17:13] muellerfr commented on #454
Hi @sshilko,

sorry your running into a problem. Please create a new [bug report ](https://github.com/aws-amplify/aws-sdk-ios/issues/new?template=bug_report.md) with details such as SDK version, OS version. etc.

[2018-11-21 17:20] muellerfr commented on #1115
@rohandubal is working on a fix. Should go out with the next SDK release.

[2018-11-21 17:31] rohandubal commented on #1117
Hello @johnflanagan-spok

We recently fixed this issue by moving the de-allocation of `svc` before the completion handler. Are you consistently experiencing this error on latest version of the SDK? Asking since we had another customer who verified that the fix made sure they got the correct callback.

Thanks,
Rohan

[2018-11-21 17:47] johnflanagan-spok commented on #1117
Hi @rohandubal

I saw that conversation on the other issue, but I'm still experiencing the issue. It's never entering the dismiss completion handler, so it never doesn't run either `dismissBlock()` or the `svc` de-allocation.

I saw the `SFAuthenticationSession` option for iOS 11+, but our app is targeted to support iOS 10+. 12.1 is just what my development device that I did the testing on was run

[2018-11-21 20:06] rprieto commented on #993
Hi, does the assignment mean there might an update on this topic?

Many mobile users use the Facebook native app (not the mobile site). Showing the hosted UI means it will likely prompt them for Facebook credentials since they don't have a web session. It makes more sense to do the federation natively between our app and the Facebook app.

Cognito Identity Pools support this (registering a user ba

[2018-11-22 07:42] LekhaWiinnova opened #1118 "[FeatureRequest] AWS SDK doc for Objective c"
I am trying to implement user authentication with Amazon Cognito Federated Identities (Google sign in). I am using objective c language. Currently the doc is available only in swift language. So can you please share any doc in objective c language?

Available doc in swift language: https://aws-amplify.github.io/docs/ios/start

**Which AWS Services are you utilizing?**
Amazon Cognito Federated Iden

[2018-11-23 16:57] vkosmirak opened #1119 "Memory Leak: MTLValidateAndSetValue in AWSMTLModel"
**Description**
Memory Leak in MTLValidateAndSetValue (AWSCore/AWSCore/Mantle/AWSMTLModel.m:45)
I know this memory leak was addressed in #738 and #1021, however, there is no update for more than 6 months
Do we have any plans to investigate this issue? Do we have any workarounds?

**To Reproduce**
1. Open app with Instruments > Leaks
2. Call any func that use `AWSTask` under the hood.
Example: `aws

[2018-11-23 21:50] jodafm opened #1120 "It's not possible to cast signIn errors to AWSMobileClientError"
When the signIn function fails of the AWSMobileClient, the SDK is not trying to map the error using the exiting helper called "getMobileError". So, it's not posible to cast the error object to AWSMobileClientError when the sign In function fails and it implies that it's more difficult to handle the errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to sign In using the AWSMobileClie

[2018-11-26 11:54] Birowsky commented on #993
@rohandubal I'm waiting on this feature for Cordova apps, but even if it's not implemented there, if you built a mechanism that solves the issue here, but requires some custom work, please provide details, I'm willing to do whatever it takes to adapt it for Cordova and finally have social auth there.

[2018-11-26 14:59] cornr commented on #1104
Hi @Mazyod
we have the same issue. It takes really long to build all AWS Frameworks and there is no way to only build those needed. For now our workaround is to use a 2.6.x version which afaik does not contain any Swift.
Cheers

[2018-11-26 16:21] cornr opened #1123 "Archive Validation Error: The bundle at AWSMobileClient.framework contains disallowed file 'Frameworks'."
**Describe the bug**
After updating from 2.6.18 to 2.7.3 we get following error when deploying to the app store.

**To Reproduce**
1. Use Carthage Setup as described in https://aws-amplify.github.io/docs/ios/manualsetup#carthage-setup (with carthage command:  carthage update --platform ios --cache-builds --no-use-binaries)
2. Upload to AppStore

**Which AWS service(s) are affected?**
AWSiOSSDKv2 2

[2018-11-26 17:15] gaborcsontos commented on #1020
Hello @rohandubal

I found the error which crashed the SignIn...
The thing is my clientId has "-" separator characters, instead of "_".

So it had to be changed in AWSCognitoIdentityUserPool.m file from rangeOfString:@"_" to rangeOfString:@"-".

[code]
But still I can't singIn, because I got error all the time.
"Content-Length" = 79;
    "Content-Type" = "application/x-amz-json-1.1";
    Date = "M

[2018-11-26 17:22] gaborcsontos commented on #1020
@muellerfr would you please check this error as well?
Thanks (L)

[2018-11-26 17:59] zigfreid5 commented on #975
@muellerfr Do you have an opinion on how best to implement this? And by "this" I mean variable environment support?

[2018-11-26 18:16] muellerfr commented on #975
Hi @zigfreid5 and @Dellybro,

for multi-environment support please check out this newly release beta feature for the Amplify CLI.
https://aws-amplify.github.io/docs/cli/multienv?sdk=ios

**Note**: The use of this newer version (@multienv) might cause existing projects initialized using a previous Amplify CLI version to no longer function when attempting to manage resources in the existing project,

[2018-11-26 20:34] kvasukib commented on #1118
@LekhaWiinnova

Thank you for reporting to us. I will bring it our product team for prioritization. Will loop back once there is more information.

[2018-11-26 20:39] zigfreid5 commented on #975
@muellerfr I'm very grateful to see that there has been a lot of effort put into supporting this! That being said (and I apologize if this isn't the right place to bring this up), overall, I'm not a big fan of Amplify. It seems to  fit small localized teams starting new, simple projects very well, but doesn't seem to account for the needs of larger, globalized enterprises. We have pre-existing dev

[2018-11-26 22:26] gaborcsontos opened #1124 ""NotAuthorizedException","message":"Incorrect username or password."
Hello.

I can register a new user, but when I would like to use the credentials(email and password)to login, it always fails and I get an error:
:"NotAuthorizedException","message":"Incorrect username or password.

I use the correct password and the email which I registered.
@muellerfr ?

Thanks.

[2018-11-27 04:16] LekhaWiinnova commented on #1118
Thank you so much

[2018-11-27 10:10] cheeyi opened #1125 "Possible to change AWSServiceManager defaultServiceConfiguration halfway through in app?"
**State your question**
I see that the `defaultServiceConfiguration` property of AWSServiceManager can only be set once, but I'm trying to implement the ability to sign in and out of an AWSIoT MQTT session using different sets of credentials in the same app lifecycle and that requires me to tear down the old session and recreate a new certificate sometimes. This doesn't seem possible based on the

[2018-11-27 10:15] baljakbratislav opened #1126 "AWSMobileClient-Swift.h not found"
I use Cocoapods to install your framework. Version for 'AWSMobileClient' is 2.7.3, and for 'AWSIoT' is 2.7.3. After installation, Xcode report me error with message ''AWSMobileClient/AWSMobileClient-Swift.h' file not found'.
After that I downgrade both versions to 2.6.10, and now is working well.

Version of my Xcode is 10.1.
Swift 4
MacOs Mojave 10.14.1

[2018-11-27 10:59] cheeyi commented on #1125
I was able to fix this by registering a config with my AWSIoTManager instead of using `default()` on AWSIoTManager:

[code]

[2018-11-27 10:59] #1125 closed

[2018-11-27 13:33] omerwaqaskhan commented on #1001
We are facing the same issue in latest SDK

[2018-11-27 16:44] palpatim commented on #932
@commando24 Can you move your question to a new issue so we can track it separately?  That helps keep conversations more targeted, and makes it easier for future developers to search and find the answers they need.

Be sure to include all the requested information in the issue template (SDK version, iOS version, etc) as well as repro steps and if possible, a code snippet, to help us diagnose the p

[2018-11-27 19:26] kvasukib opened #1127 "Missing API References for AWSMobileClient"
The API Reference for `AWSMobileClient` is missing. https://aws-amplify.github.io/aws-sdk-ios/docs/reference/ should be updated with the API for `AWSMobileClient`

[2018-11-27 19:30] muellerfr commented on #1001
Hi @omerwaqaskhan,

Can you please confirm which  version of the SDK you are using?

[2018-11-27 21:30] gasparuff opened #1128 "[FeatureRequest] Getting jwt tokens when using user pools login with facebook/google"
I have my AWS API Gateway configured so that is uses user pool authorization and not IAM. So it expects a valid JWT token in the request header. The question is - how can I get those tokens when the user logs in by using facebook or google? I have followed the tutorial on showing the login (https://aws-amplify.github.io/docs/ios/authentication) and I'm able to get valid jwt tokens by calling
[code

[2018-11-27 22:12] muellerfr commented on #975
Hi @zigfreid5,

Thank you for the feedback. I did not mean to imply that the new multi-environment support in the Amplify CLI solved exactly your use case, and I should have been more clear when I asked you to take a look at the feature. The specific functionality you are asking for currently does not exist in the SDKs, which is why we took it as a feature request. We will let you know on this thr

[2018-11-27 22:17] Dellybro commented on #975
Hi @muellerfr

Thank you for the explanation, I am excited to see this feature be released and will be happy to test it as soon as it does for the iOS SDK.

Thanks.

[2018-11-27 23:36] palpatim commented on #1123
It looks like we are setting the `ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES` flag in the AWSMobileClient project. I'm testing to make sure our samples work as expected when we unset that, but I think that will be the fix.

[2018-11-27 23:38] palpatim commented on #1126
The 2.7.0 version of AWSMobileClient is a mixed Swift and Objective-C project. I'm investigating to see if there is a project setting we missed, or whether we just need to update our integration docs (and changelog/release notes) to ensure that developers set header & framework search paths.

[2018-11-28 04:06] fasngo commented on #1070
Hi @RyanCodes did you figure out why the subscribe call was not working with the network link conditioner on?  Do you mind sharing 😄

[2018-11-28 04:09] RyanCodes commented on #1070
@fasngo sure thing... in my case we actually were setting the subscribe callback after we called `iotDataManager.publishString` so when we were getting results back the subscribe callback wasn't initialized yet.. it was a strange scenario

[2018-11-28 17:58] palpatim commented on #1125
Hi @cheeyi. Thanks for the update--that's what I would have suggested as well. :)

[2018-11-28 18:09] palpatim commented on #1128
Hi @gasparuff, can you confirm:

* What version of the SDK are you using?
* Are you using Amplify to provision & configure your backend, or is it manually configured?
* Via what mechanisms are you tying your UserPool to your API Gateway API?
* You mention that you're able to manually retrieve tokens if the user does login via username/password. Does that also imply that the API request work as exp

[2018-11-28 18:32] gasparuff commented on #1128
Hi @palpatim ,
as stated by the instructions on this page (https://aws-amplify.github.io/docs/ios/manualsetup), I have added all the dependencies into my podfile and installed all the pods.

_What version of the SDK are you using?_
all AWS libraries were pulled with version number 2.7.3.

_Are you using Amplify to provision & configure your backend, or is it manually configured?_
The backend is ma

[2018-11-28 19:31] nourahassan opened #1129 "Use carthage to update to version 2.7.3 gives error on building"
When doing `carthage update`, I got version `2.7.3`. Carthage built successfully but when run the app on Xcode, at strip frameworks phase I got next error:

[code]

 - SDK Version: 2.7.3
 - Dependency Manager: Carthage
 - Swift Version : 4.2.1
- Xcode 10.1

[2018-11-28 19:43] nourahassan commented on #1129
Same with `2.7.0` too. Here's the cartfile:

[code]

Resolved to this:

[code]

[2018-11-28 19:47] muellerfr commented on #893
This issue has been automatically closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-11-28 19:47] #893 closed

[2018-11-28 19:48] muellerfr commented on #1066
This issue has been automatically closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-11-28 19:48] #1066 closed

[2018-11-28 19:56] muellerfr commented on #1124
Hi @gaborcsontos, can you please provide a code snippet?  Have you tried using our new AWSMobileClient? https://aws-amplify.github.io/docs/ios/authentication

[2018-11-28 23:24] adamup928 opened #1131 "federatedSignIn for Developer Authenticated Identities fails"
**Describe the bug**
Configuring the mobile client (version 2.7.3) for a developer-authenticated login using the `federatedSignIn` method does not result in an authenticated client.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an identity pool and add a custom authentication provider (e.g. login.com.test).
2. In awsconfiguration.json, reference the identity pool:

[code]

3. Upon i

[2018-11-30 07:47] itzAsim commented on #793
There is an in-built methods for same from Cognito-
First get a user from AWS Cognito UserPool
user = pool?.getUser(email!)
user?.resendConfirmationCode().continueWith(block: {[weak self] (task: AWSTask) -> AnyObject? in
})

[2018-11-30 16:07] gaborcsontos commented on #1124
Hi @muellerfr! Thanks man, its working properly now:) Cheers mate.

[2018-11-30 17:53] #1124 closed

[2018-11-30 21:41] NiltiakSivad opened #1134 "AWSCognitoAuth getSession memory leak"
**Describe the bug**
There is a memory leak when the `getSession` method is called.

**To Reproduce**
I originally was seeing the issue in my project, but isolated it using the Swift AWSCognito sample project found here: https://github.com/awslabs/aws-sdk-ios-samples/tree/master/CognitoAuth-Sample/Swift

1. Download the project and comment out all of the code in `ViewController.swift` other than t

[2018-12-02 20:20] #1019 closed

[2018-12-03 06:02] muellerfr commented on #1045
Hi @codeslubber, can you share your findings or even just a consistent repo for the issue?

[2018-12-03 19:31] rohandubal commented on #1127
We should be using [`jazzy`](https://github.com/realm/jazzy) to generate docs for `AWSMobileClient`. We should be generating it for public methods for the class `AWSMobileClient`.

[2018-12-03 21:50] rohandubal commented on #1131
Hello @adamup928

Sorry that you are having issues using `AWSMobileClient`, the `getIdentityId()` method which you are calling will asynchronously fetch the `identityId` for the given logins map. It returns an object of type `AWSTask<String>` which on completion would have the identityId or an error.

To help us debug this issue better, could you please provide with what is the error message that

[2018-12-03 21:57] rohandubal commented on #1129
Hello @nourahassan

Sorry you are having trouble using the SDK.

Could you please build the Carthage dependencies using `--no-use-binaries` and see if the issue still happens for you? I will also try to reproduce this on my side in the meanwhile.

Thanks,
Rohan

[2018-12-03 22:06] adamup928 commented on #1131
Hi @rohandubal -

Thanks for your message.  No error is generated in that snippet.  It returns with an `identityId` that acts as if it's unauthenticated.  The returned `identityId` does not match the one returned with the generated token using the AWS CLI's `get-open-id-token-for-developer-identity` method.

If I use the AWS web console's cognito identity browser, I can see the SDK's returned `ide

[2018-12-03 22:12] cbommas commented on #716
@brutasse

Can you check if https://github.com/aws-amplify/aws-sdk-ios/pull/1114 addresses your request? I am targeting to include this PR in the next rev of the SDK. I will respond back on this thread once I have confirmation.

[2018-12-03 22:34] rohandubal commented on #1129
I tried to re-produce this issue on my side but was un-able to. Could you please provide a  minimal sample project where we could debug this?

[2018-12-03 22:39] rohandubal commented on #1131
Hello @adamup928

Thanks for getting back. That is interesting, once you provide a token, the un-authenticated identity should be cleared.

This can be seen in this method:
https://github.com/aws-amplify/aws-sdk-ios/blob/master/AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift#L439

From what I understand based on above information, you are in a `signedIn` state with an unauthenti

[2018-12-03 22:43] rohandubal commented on #1128
Hello @gasparuff

Sorry that you are having issues using the SDK. I understand the use-case you are trying to achieve. Unfortunately, this is currently not supported in `AWSMobileClient` and you will have to use `AWSCognioAuth`.

I am taking this as a feature request to the team for prioritization. I will update this thread when I have more information.

Thanks,
Rohan

[2018-12-03 22:47] rohandubal commented on #1126
Hello @baljakbratislav

Since the project was changed to be a Swift-ObjC code project from ObjC, you will have to do a clean build to clear all the cache files generated by XCode. You will also have to close your `xcworkspace` file and re-open it. You can clean the cache by pressing `CMD + Shift + K`

Hope this helps.

Thanks,
Rohan

[2018-12-03 23:13] rohandubal commented on #1120
Hello @jodafm

I can acknowledge this bug. Thanks for submitting a PR! This will be merged in a future release.

Thanks,
Rohan

[2018-12-04 00:18] rohandubal commented on #1113
Hello, this is will be fixed in future SDK release.

[2018-12-04 00:48] rohandubal commented on #1108
Hello @WhiteHexagon,

We released `AWSMobileClient` version `2.7.0` recently which introduces new API like `initialize` which streamlines usage of method of `resumeSessionWithCompletionHandler`. The `initialize` method will make sure there are no race conditions or duplicate callbacks.

Please refer to documentation here: https://aws-amplify.github.io/docs/ios/authentication

Thanks,
Rohan

[2018-12-04 00:48] #1108 closed

[2018-12-04 00:51] rohandubal commented on #1106
@undefobj Want to get your thoughts on this, might be a good utility.

[2018-12-04 02:05] rohandubal commented on #1107
Hello @nomad3k

We have identified a fix for this bug and will be fixed in a future release.

Thanks,
Rohan

[2018-12-04 06:46] rivkiG opened #1135 "crash at reateUploadSubTask:(AWSS3TransferUtilityMultiPartUploadTask *) transferUtilityMultiPartUploadTask subTask: (AWSS3TransferUtilityUploadSubTask *) subTask startTransfer: (BOOL) startTransfer in uploadTaskWithRequest"
hi,
I'm developing an app that was working well for me. I updated the SDK a month ago to 2.6.31
my app uploads all the data from the phone to the AWS cloud. I use the S3TransferUtility class.
but when I run the app in the background after a while the app crashes and it crashes in the
-(NSError *) createUploadSubTask:(AWSS3TransferUtilityMultiPartUploadTask *) transferUtilityMultiPartUploadTask  su

[2018-12-04 09:48] brutasse commented on #716
Thanks @cbommas, that looks good! :+1:

[2018-12-04 13:58] cbommas commented on #1135
@rivkiG

Sorry to hear that you are running into issues.

Can you check if you are calling the `removeS3TransferUtilityForKey` method on the TransferUtility anywhere within the app? If you are, please remove that and see if that resolves the crash. Please let me know how it goes.

[2018-12-04 15:39] lucianboboc opened #1136 "[FeatureRequest] Allow user to select which Google/Facebook Account to sign in when using `AWSCognitoAuth`"
**Describe the bug**
If you login with google and then logout, the user will remain logged in in the SafariVC and he will not be able to login with a different google account, the app must be deleted from the device.
This might be related to the way SafariVC works, after iOS 11 it will not share the cookies between the iOS Safari App and the SafariVC from any app.

**To Reproduce**
Steps to reprod

[2018-12-04 17:19] tmjordan commented on #1120
I still have the same problem, i don't have more information.

[NetworkInfo] Signal strength query returned error: Error Domain=NSPOSIXErrorDomain Code=13 "Permission denied", descriptor: <CTServiceDescriptor 0x282321680, domain=1, instance=1>
The operation couldn’t be completed. (AWSMobileClient.AWSMobileClientError error 8.)

[2018-12-04 19:44] nourahassan commented on #1129
I used the flag and get same error.
I am building with Xcode 10.1 and simulator iPhone X which has iOS 12.1

I will try to make a sample project on the weekend.

[2018-12-04 20:53] rromanchuk commented on #1097
@palpatim

**edit**: _I forgot to hit send on this two weeks ago, half of it is probably invalid/changed since then, you guys move fast._

Yeah, I think my anxiety stems from lifting my head up and not being able to find the answers i'm looking for. My relationship with mobile and aws is using services to solve problems and using language SDKs to work with those services. It feels like my country

[2018-12-04 22:05] rohandubal commented on #1136
Hello @lucianboboc

Sorry that you are having issues using the SDK. Currently, this feature is not supported by the service. I will take this as a feature request to the team and loop back once we have an update.

Thanks,
Rohan

[2018-12-04 22:56] rohandubal commented on #1134
Hello @NiltiakSivad

Thanks for reporting this. I am looking into this issue.

[2018-12-04 22:57] rohandubal commented on #1129
Thanks @nourahassan. Appreciate the effort!

[2018-12-04 22:58] rohandubal commented on #1120
@tmjordan the error which you are seeing is different from the purpose of this issue. You are getting that error likely due to you not having access to unauthenticated identities. Please open a different issue with the details.

[2018-12-05 00:41] rohandubal commented on #1123
Thanks for confirming @gokeji

We are working on a fix and it will be fixed in a future release.

Thanks,
Rohan

[2018-12-05 09:49] lucianboboc commented on #1136
@rohandubal thanks for the info.

[2018-12-05 11:07] lucianboboc commented on #1136
I've tried after logout to delete the cookies from HTTPCookieStorage but the only cookie found was with the domain value of the url used by CognitoAuthWebDomain.There are no google specific cookies.

[2018-12-06 01:44] rohandubal commented on #1064
Hello @eimantas

I am working on a fix to resolve this issue and it will be fixed in a future SDK release.

Thanks,
Rohan

[2018-12-06 09:35] wtdu opened #1137 "Can't get sns filter policy"
I want  to subscribe  a user and  write new  filter policy  to backend what is success. but when I  unsubscribe the user ，I get the  empty filter policy。Please help！！！

code：

[code]

[2018-12-06 12:12] MrLiuYunPing opened #1138 "ios 12.1.1 MQTT could not connect ,our app cannot use!"
**Describe the bug**
mqtt cannot connected in IOS 12.1.1 ,and it is normal in lower version.

**To Reproduce**
Steps to reproduce the behavior:

**Which AWS service(s) are affected?**
Iot
**Expected behavior**

**Screenshots**
Connecting...
2018-12-06 20:04:24:347 IoTSampleSwift[1120:38283] username is : ?SDK=iOS&Version=2.6.19
2018-12-06 20:04:24:347 IoTSampleSwift[1120:38283] Metrics collection

[2018-12-06 16:10] adamup928 commented on #1131
Hi @rohandubal -

Here's how I'm setting up the mobile client and attempting the federated login.  The console shows the same `identityID` before and after calling `federatedSignIn`:

[code]

[2018-12-07 02:46] rohandubal commented on #1134
Hello,

This issue is resolved in `2.7.4` SDK release. Please let us know if you continue to face issues.

Thanks,
Rohan

[2018-12-07 02:46] rohandubal commented on #1113
Hello,

This issue is resolved in `2.7.4` SDK release. Please let us know if you continue to face issues.

Thanks,
Rohan

[2018-12-07 02:47] #1113 closed

[2018-12-07 02:47] #1134 closed

[2018-12-07 02:47] rohandubal commented on #1115
Hello,

This issue is resolved in `2.7.4` SDK release. Please let us know if you continue to face issues.

Thanks,
Rohan

[2018-12-07 02:47] #1115 closed

[2018-12-07 02:48] rohandubal commented on #984
Hello,

This issue is resolved in `2.7.4` SDK release. Please let us know if you continue to face issues.

Thanks,
Rohan

[2018-12-07 02:48] #984 closed

[2018-12-07 02:48] rohandubal commented on #1064
Hello,

This issue is resolved in `2.7.4` SDK release. Please let us know if you continue to face issues.

Thanks,
Rohan

[2018-12-07 02:49] rohandubal commented on #1123
Hello,

This issue is resolved in `2.7.4` SDK release. Please let us know if you continue to face issues.

Thanks,
Rohan

[2018-12-07 02:49] #1123 closed

[2018-12-07 02:49] rohandubal commented on #1107
Hello,

This issue is resolved in `2.7.4` SDK release. Please let us know if you continue to face issues.

Thanks,
Rohan

[2018-12-07 02:49] #1107 closed

[2018-12-07 03:00] rohandubal commented on #1120
Hello,

This issue is now fixed in `2.7.4` release. Please let us know if you continue to face issues.

Thanks,
Rohan

[2018-12-07 03:00] #1120 closed

[2018-12-07 05:06] MrLiuYunPing commented on #1138
any one see the issue?

[2018-12-07 08:55] BronzeWareH commented on #1138
I can repro this issue. @rohandubal , Can you help to assign someone to follow up?

[2018-12-07 16:01] cbommas commented on #1138
@MrLiuYunPing, @BronzeWareH

Sorry to hear you are running into issues. I will look into this and get back to you. One quick thing to check - is your MQTT endpoint configured with an Amazon Trust Services certificate? The easiest way to check is your endpoint has a `-ats` or a `.ats` in it.

If it is not, then can you got the AWS Console->IoT Core ->Setting page and use the URL present there _( AT

[2018-12-07 16:51] cbommas commented on #1088
@rivkiG
For the connection error, I think it may be related to a change we made to create NSURLSession tasks in a "just in time" fashion for multi-part uploads as opposed to all at once. This is resulting in some of the tasks being created in the background and having a low priority assigned to them by the OS.

I am working to get this reverted back and this may help with reducing/resolving the ti

[2018-12-07 16:54] cbommas commented on #716
@brutasse
Version 2.7.4 of the sdk contains this change. I will go ahead and close out this issue.
Please feel to reopen this thread if you run into issues.

[2018-12-07 16:54] #716 closed

[2018-12-07 17:01] MrLiuYunPing commented on #1138
OK I will try as the way you have provided !Thank you for your suggestions! Can you repro this issue?

[2018-12-07 17:38] eimantas commented on #1064
Thanks a heap, Rohan! I will test this. Closing the issue for now.

[2018-12-07 17:38] #1064 closed

[2018-12-07 17:41] adamup928 commented on #1131
@rohandubal  - just wanted to add here that I was able to successfully implement developer authenticated logins with the Amplify Javascript SDK.  Unfortunately, it didn't provide me any insight into why the iOS SDK is failing to login with the same identity pool, generated tokens, etc.

[2018-12-07 19:56] edwin0527 commented on #1115
Any time frame when 2.7.4 will be released? 2.7.1 is the current release I see now.

[2018-12-07 20:07] johnflanagan-spok commented on #1138
I'm having the same issue. The endpoint we're using ends with `-ats.iot.us-east-1.amazonaws.com`

[2018-12-07 20:47] rohandubal commented on #1104
Hello all,

With SDK release `2.7.4` we are now building binaries with Xcode version 10.1.0. This is currently the latest available Xcode version and uses Swift 4.2.1.

Please let us know if you continue to face issues.

Thanks,
Rohan

[2018-12-07 20:47] #1104 closed

[2018-12-07 22:35] adamup928 commented on #1131
Some progress.  Here are some notes that hopefully will help somebody going down the same path with developer-authenticated identities.

1.  Removing my call to `[[AWSMobileClient sharedInstance] interceptApplication:application didFinishLaunchingWithOptions:launchOptions]` (this is a mixed objective-c/swift project) inside the application delegate and just relying on `AWSMobileClient.sharedInstan

[2018-12-07 22:55] ambarc commented on #1112
+1 to this feature request.

[2018-12-07 23:50] arrow53 commented on #1138
Same issue. I'm on west-2.

[2018-12-07 23:53] cbommas commented on #1138
@arrow53
Is your endpoint configured with an ATS certificate. See my post earlier in this thread on how to verify

[2018-12-08 00:41] cbommas commented on #1138
@arrow53
good to hear! thank you for letting me know.

@MrLiuYunPing @BronzeWareH @johnflanagan-spok
Can you also validate on your side please

[2018-12-08 08:13] ufosaga commented on #1138
@cbommas
Problem solved by using the new endpoints.
In us-east Virginia it is '-ats', in cn-north Beijing it is '.ats'

[2018-12-08 08:55] MrLiuYunPing commented on #1138
thank you ，my problem is resolved!@cbommas

[2018-12-08 12:45] gasparuff commented on #1128
Hi @rohandubal

thanks for your answer. I tried doing it with `AWSCognitoAuth` but then I had troubles using `AWSMobileClient` properly. It would be great to have this functionality added into `AWSMobileClient` :).

[2018-12-08 16:08] cbommas commented on #1138
Thank you all.

[2018-12-09 05:16] rivkiG commented on #1088
thank you for the answer the multiPartConcurrencyLimit didn't help it even though it's much better.
if you can please let me know  about any updates on this

[2018-12-10 16:08] johnflanagan-spok commented on #1138
@cbommas I'm still getting an `SSLHandshake failed` error.

Our IoTCore endpoint contians `-ats`, but it doesn't look like it's even getting far enough to attempt to reach that address. It's failing trying to connect to `wss://data.iot.us-east-1.amazonaws.com/mqtt?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=...` at https://github.com/aws-amplify/aws-sdk-ios/blob/c60cfce7e2445668fc631418ac3be

[2018-12-10 16:22] cbommas commented on #1138
@johnflanagan-spok

It appears that it still connecting to the non ATS endpoint. It could be that your configuration is still pointing to the old URL. Can you share a code snippet on how you are configuring and instantiating the IoT client?

Also, can you make sure that you have followed the steps to configure the client as documented here - https://aws-amplify.github.io/docs/ios/pubsub.

I will r

[2018-12-10 16:33] Atticus08 commented on #1129
I've been getting this issue ever since I moved to v2.7.* as well. @nourahassan have you been able to make any progress on this? I've reverted back to the last revision in v2.6, but I'd really like to start using some of the newer features implemented in 2.7

[2018-12-10 16:49] johnflanagan-spok commented on #1138
@cbommas

I wasn't explicitly setting the endpoint in the `AWSServiceConfiguration`. I've set that and it looks to be working now. Thanks!

[2018-12-10 17:02] cbommas commented on #1138
Excellent. Thank you for confirming.

[2018-12-10 17:02] #1138 closed

[2018-12-10 18:00] nourahassan commented on #1129
I am also using last version on 2.6. I will try and attach a sample project with the error to the ticket so they can fix it (if they cannot reproduce).

[2018-12-10 21:18] jamesatfish opened #1141 "confirmSignIn() failing with Error 32 in .newPasswordRequired flor"
**State your question**
I am attempting to implement a very basic Cognito authentication process using AWSMobileClient in a Swift 4 iOS App, but can't get past the 'FORCE_CHANGE_PASSWORD' state for a new Cognito user.

The Cognito user pool & identity pool are configured correctly, and I created a new Cognito user via the AWS Console for which a default password was generated by Cognito and emaile

[2018-12-10 21:49] rohandubal commented on #1141
Hello @jamesatfish

This seems like a bug in the SDK to me. I will investigate and reply back.

Thanks,
Rohan

[2018-12-10 21:51] jamesatfish commented on #1141
Thank you @rohandubal - if you require more complete code samples from our implementation please let me know.

James

[2018-12-11 01:09] rohandubal commented on #1141
Hello @jamesatfish

This is a bug in the SDK and will be fixed in an upcoming release.

Thanks,
Rohan

[2018-12-11 21:58] rohandubal commented on #1115
Hello @edwin0527

To get the latest SDK you will have to run the command `pod install --repo-update` and then `pod update` to make sure your project is using the latest release.

Thanks,
Rohan

[2018-12-11 22:19] rohandubal commented on #1129
Hello @nourahassan @Atticus08

With release `2.7.4` we updated our release to include binaries built with Xcode 10.1.0 and latest Swift version. Could you please confirm if this works for you?

Thanks
Rohan

[2018-12-11 22:36] Atticus08 commented on #1129
Hi @rohandubal ,

Release 2.7.4 seems to work for me for the most recent version of Xcode now. I should have mentioned that I was on the same version as @nourahassan  earlier. Thank you!

[2018-12-11 22:43] muellerfr commented on #1129
@Atticus08, thank you confirming! I am going ahead and closing the issue.

[2018-12-11 22:43] #1129 closed

[2018-12-11 23:01] rohandubal commented on #1038
Hello @mrmrdolph

To simplify this use-case and some other use-cases, we have released an updated version of `AWSMobileClient` with SDK version `2.7.x+`

You can now do that with simple `signIn` and `confirmSignIn` APIs without setting any delegates. You can find the documentation here:

https://aws-amplify.github.io/docs/ios/authentication#force-change-password

Please let us know if this resolve

[2018-12-11 23:08] rohandubal commented on #1092
Hello @evzgor

There is no explicit action required from your side for handling the token refresh. The SDK internally refreshes it before giving a callback. The code for that can be found here:

https://github.com/aws-amplify/aws-sdk-ios/blob/master/AWSCognitoIdentityProvider/AWSCognitoIdentityUser.m#L178-L226

Hope this helps.

Thanks,
Rohan

[2018-12-11 23:08] #1092 closed

[2018-12-12 00:04] muellerfr commented on #1129
@nourahassan - Awesome!

[2018-12-12 01:08] rohandubal commented on #1014
Hello @ShadyBoukhary

To clear the `identityId` you will have to call the `clearKeychain` method on your `self.credentialsProvider` object.

Reference: https://github.com/aws-amplify/aws-sdk-ios/blob/master/AWSCore/Authentication/AWSCredentialsProvider.h#L252

As you can see in the reference, that method will clear the `identityId` and other credentials stored in  the keychain.

Please let us know

[2018-12-12 01:19] rohandubal commented on #791
Hello @sourabhzynq

Apologies for the delayed response.

The error you are seeing is due to the requirement of setting `interactiveAuthDelegate`. The expectation of the SDK is that you always set the `interactiveAuthDelegate` so that whenever there is a requirement of getting user authentication again we invoke it.

Also, FYI, we recently released an updated `AWSMobileClient` version `2.7.x` where

[2018-12-12 01:39] rohandubal commented on #1001
Hello @omerwaqaskhan

Could you please specify if you specifically face this issue with Google/ Facebook? Can you also specify the simulator/ device iOS  version and model?

I have written a sample application where I was able to reproduce this issue with SDK version < 2.7.2 but in the latest SDK version it is working as expected. So some input from you will be helpful in identifying a fix.

Thank

[2018-12-12 01:40] muellerfr commented on #1116
Hello @r-plus,

sorry for the delay and thank you for reporting the issue. Can you provide sample code that reproduces the crash?

[2018-12-12 01:42] rohandubal commented on #661
Hello @igor-plygime

Apologies for the delayed response.

I tried to reproduce this error on my side with the latest SDK version (`2.7.4`) and was unable to do so. I got the message propagated back to the client.

Could you please confirm if this is still an issue for you?

Thanks,
Rohan

[2018-12-12 01:43] rohandubal commented on #1001
@anupsarode @lucianboboc @pothunoorisk would be helpful if you can share your experience using this feature in the latest SDK version (`2.7.3`+)

[2018-12-12 02:00] rohandubal commented on #1061
Hello @dsonara

To help you better, I would need to understand the use-case you are trying to achieve.

- Are you using API Gateway with un-authenticated access via Amazon Cognito?
- Are you expecting any federation/ sign in to occur in the app?
- When you say missing auth token, which token is this?

Also I see that you are clearing credentials every time you initialize. Whats the purpose for tha

[2018-12-12 02:11] rohandubal commented on #1072
Hello @iosfitness

I do not see in your code where you are setting the delegate to the implementing class. As @behrooziAWS pointed out, you need to set the delegate and then the SDK will automatically call the `startCustomAuthentication ` in your delegate.

Thanks,
Rohan

[2018-12-12 02:12] rohandubal commented on #1075
Hello @santhoshappdev

This error is due to incorrect User Pool ID. You need to specify a valid user pool id to use the app correctly.

Thanks,
Rohan

[2018-12-12 02:12] #1075 closed

[2018-12-12 11:02] sajadkhan commented on #1045
@palpatim I was able to resolve this issue by restarting my computer. By reading the comments I have realized that you people have figured it out. Sorry for the delay I wasn't around.

[2018-12-12 11:02] #1045 closed

[2018-12-12 13:11] lucianboboc commented on #1001
@rohandubal for me v2.7.2 works fine. I'm able to logout and login again with google without any error.

[2018-12-12 17:37] rohandubal commented on #1001
That's great to hear @lucianboboc!

I will keep this issue open for a couple more days to make sure no one else is facing this issue.

Thanks,
Rohan

[2018-12-12 23:21] rohandubal commented on #1103
Hello @jorgej-ramos

I created a User Pool with a configuration similar to yours and used it with this sample app:
https://github.com/awslabs/aws-sdk-ios-samples/tree/master/CognitoYourUserPools-Sample/Objective-C

I was able to use the forgot password functionality with my registered email (without specifying my username)

Is it possible for you to try the above sample application and see if the

[2018-12-12 23:23] rohandubal commented on #1106
Marking this as a feature request pending discussion with team. @undefobj @muellerfr

[2018-12-12 23:58] rohandubal commented on #1117
Hello @johnflanagan-spok

Could you please specify some steps to reproduce this? I am using the latest version of the SDK and unable to reproduce this issue. A sample app or steps to reproduce would be very helpful. Also if you could provide information like how frequently this happens and if it only happens on specific devices, that would be helpful too.

We have some other customers who confirme

[2018-12-13 00:17] rohandubal commented on #1101
Hello @r-plus

We have now resolved this by using a tag format [`2.8.1_api_docs`](https://github.com/aws-amplify/aws-sdk-ios/tree/2.8.1_api_docs) (similar to what you suggested) and it is not impacting Carthage.

Thanks,
Rohan

[2018-12-13 00:17] #1101 closed

[2018-12-13 00:19] rohandubal opened #1142 "Add documentation tags on gh-pages for every release"
We need to tag every API docs with tag which can be used for future reference. Previously when we did that it caused an issue with Carthage (Refer #1101 )

It was fixed by using a format 2.8.1_api_docs format as specified [here](https://github.com/aws-amplify/aws-sdk-ios/issues/1101#issuecomment-446794224)

We need to update the CircleCI script to do this when we release the docs.

[2018-12-13 00:47] rohandubal commented on #1084
Hello @alexander-aernos

I tried to reproduce this issue on my side but was unable to do so. Your code looks correct to me.

Will it be possible for you to provide a sample app where we can reproduce this? It will be also nice if you could paste the full stack (bottom right of image you posted) which can help us identify where the leak originated from.

Thanks,
Rohan

[2018-12-13 00:48] rohandubal commented on #1131
Hello @adamup928

Sorry was caught up in another issue. I will work on this and have an update soon.

Thanks,
Rohan

[2018-12-13 01:03] rohandubal commented on #1137
Hello wtdu

I think the issue is in usage of return type of `getSubscriptionAttributes` method.

Could you please update your code to following and see if it helps?

[code]

Thanks,
Rohan

[2018-12-13 01:07] alexander-aernos commented on #1084
@rohandubal Hey, thanks for getting back to me.  I re-ran instruments leak checker just now and am surprised to find no memory leaks.  Whatever the issue was, I can't recreate it anymore.

[2018-12-13 01:07] #1084 closed

[2018-12-13 01:46] johnflanagan-spok commented on #1117
@rohandubal

This demo app exhibits the problem: https://github.com/johnflanagan-spok/aws-test

[2018-12-13 01:51] rohandubal commented on #1117
Thanks for the sample app @johnflanagan-spok

I tried the app and I can confirm there was no callback given. This will be helpful in debugging this issue.

I will update back once I identify the root cause.

Thanks,
Rohan

[2018-12-13 02:31] rohandubal commented on #1117
I think this was introduced as a regression of #1000

We will have to update  the completion block to be called after the dismiss call outside of the completionBlock.

[2018-12-13 05:38] jorgej-ramos commented on #1103
Thank you @rohandubal I'll give it a try. Just an observation: yesterday I made it work by using `AWSMobileClient.sharedInstance()` directly for managing signup, signin and password recovery flows (Xcode 10.1, Swift 4.1).
I think the AWS documentation has a serious lack of clarity when it comes to explaining the steps to follow to achieve an end, for example, the case that concerns us. It is very

[2018-12-13 11:01] mrikh opened #1143 "AWSS3TransferUtility download progress when coming back to foreground"
**Describe the bug:**

The bug seems to be that we don't get callbacks for the progress continuously if we start the download, put the application in the background and then come back to the foreground. The download does keep on happening just the progress callbacks aren't received.

I am sure the download is happening in the background as the UI gets updated once the download is complete but not

[2018-12-13 13:43] Rico9260 opened #1144 "TransferManager already exists"
I get `A background URLSession with identifier com.amazonaws.AWSS3TransferUtility.Identifier.TransferManager already exists` if I try to upload second image after the first one.

AWSS3 iOS SDK

[2018-12-13 17:52] cbommas commented on #1143
@mrikh

Thanks for reporting this - I have observed this in my testing as well and had the same understanding as you i.e, the progress update callback in the `NSURLSession` delegate is invoked at different times as determined by the OS. I have previously looked at `NSURLSession` options and didn't find any ways of configuring it so that the OS will report progress more often. Are you aware of any

[2018-12-13 17:55] cbommas commented on #1144
@Rico9260
Can you post a code snippet and logs? My guess is that you are trying to register the transfer Utility object multiple times using the `AWSS3TransferUtility.register` method, but looking at your code should help identify what is happening.

[2018-12-13 17:59] mrikh commented on #1143
I thought there might be something wrong with my implementation and was mainly focusing on the online AWS docs and its proper implementation rather than the `NSURLSession` callbacks.

Ahh unfortunately i don't. My knowledge regarding `NSURLSession` isn't all that extensive apart from the basics. Additionally i tried enabling the background modes and testing on the off chance that it helps but sadl

[2018-12-13 18:07] cbommas commented on #1143
@mrikh
Sounds good. As the transfers are being completed and you are getting a final progress update, I will go ahead and close this issue for now as it working as expected. Please feel free to reopen or open a new issue when you have more data.

[2018-12-13 18:07] #1143 closed

[2018-12-13 18:09] Rico9260 commented on #1144
The flow is that everytime a user signs up and `AWSS3TransferUtility` gets registered.
When you say that I'm `trying to register the transfer Utility object multiple times` do you mean that `AWSS3TransferUtility` should be registered only once per session(until the application is killed)?

[2018-12-13 18:13] rohandubal commented on #1103
Hello @jorgej-ramos

As @muellerfr pointed out, we are centralizing our docs to above link.

`AWSMobileClient.sharedInstance()` is the recommended flow for all your auth/ user pool related operations. Were you able to do the `forgotPassword` flow with it as well?

Thanks,
Rohan

[2018-12-13 19:02] cbommas commented on #1144
Yes, there are a couple of ways to go about this
1.  Register the `AWSS3TransferUtility` only once per session and the use `AWSS3TransferUtility.S3TransferUtilityForKey` to get the instance wherever needed.
2.  If these are for different users within the app, ( since you mentioned sign-up) and you want to keep them separate, register `AWSS3TransferUtility` with a different key (preferably the same

[2018-12-13 20:20] ekordin commented on #1014
@rohandubal , what has been changed? As in the description of the issue the function clearKeychain was actually called, but the issue is present... no?

[2018-12-13 20:58] kwallace-abvio commented on #1136
Ditto for Facebook!  I have not released the features of my app that use AWSCognitoAuth but I'm already dreading that I have tell my users that the only way to switch to a different Facebook user is to open to the iOS Settings app, visit the Safari settings, and Clear History and Website Data.  Or the user can delete and reinstall my app.  Yuck!  That just all seems ridiculous to me.  Can't you do

[2018-12-14 04:16] BillBunting commented on #1001
After upgrading to 2.8.1 and switching to using:
AWSMobileClient.sharedInstance().initialize { (userState, error) in
...
AWSMobileClient.sharedInstance().showSignIn(navigationController: nav,signInUIOptions: SignInUIOptions(...

When the "Sign in with Google" button is selected, the login screen goes away and the callback is never called and the user is not signed in.

Is this the same issue or a

[2018-12-14 06:58] jorgej-ramos commented on #1103
Hello @rohandubal and @muellerfr
Thank you both for your time and help. As @rohandubal said, I'm able to do the `forgotPassword` flow with `AWSMobileClient`.
At the beginning, I could not guess that the documentation that @muellerfr points, is the official and newest, and I was browsing many pages until I found it. Finally, it is clear to me. Thanks again to both of you.

[2018-12-14 07:21] #1103 closed

[2018-12-14 07:46] KleMiX opened #1145 "Linker warning with bitcode enabled"
**Describe the bug**
There is a linker warning when building with bitcode enabled - `Linker asked to preserve internal global: 'AWSPinpointSessionKey'`.
There are 2 `AWSPinpointSessionKey` strings in the project, one is static other one is not. Making both of them static, or making static one as extern fixes warning.

**To Reproduce**
Build AWSPinpoint with bitcode enabled.

**Which AWS service(s)

[2018-12-14 10:21] rinov commented on #833
Enable `Edit Scheme -> Test -> Options -> Code Coverage` with `all targets` works for me.
The other way is set `Other Linker Flags` to `-fprofile-instr-generate`.

[2018-12-14 15:43] sunchunqiang commented on #1145
Hi @KleMiX
Thanks for your information and suggestion. We will check and fix the issue.

[2018-12-14 21:48] BillBunting opened #1147 "AWSMobileClient with AWSGoogleSignInProvider sign-in does not complete"
**Describe the bug**
Google Sign-in does not complete, does not return to `AWSMobileClient.sharedInstance().showSignIn`, does not call `AWSMobileClient.sharedInstance().addUserStateListener` registered listeners,  and reports no error (error == null).

[code]

Note, Google sign in works with the following legacy objective code (the app is being upgraded to use AWSMobileClient in swift)

[code]
**T

[2018-12-14 22:13] palpatim commented on #1032
Hi @Bhat123,

Sorry for the delayed response on this--can you explain your use case in a bit more detail? I'm trying to understand the behavior you're trying to achieve that `clearAllGlobalSessionAttributes()` isn't accomplishing. Is it that you are trying to start a new interaction session before the timeout of the previous one has expired?

[2018-12-14 22:56] kalpitad opened #1148 "Return API Gateway HTTP Status Codes (reopen issue #659)"
Hi there, please re-open issue #659. https://github.com/aws-amplify/aws-sdk-ios/issues/659

It's crazy that the http status code isn't being returned by API Gateway, especially after working so hard to return the right codes in our API, and configuring API Gateway Integration & Method Responses to return each response code individually. We requested this through customer support and via the API Ga

[2018-12-14 23:21] muellerfr commented on #659
Reopening the issue per request in #1148

[2018-12-15 00:16] kalpitad commented on #1148
Thank you!!

[2018-12-15 01:00] rohandubal commented on #1131
Hello @adamup928

I identified the issue. The issue is missing spec for specifying `Cognito Identity ID` in the `federatedSignIn` API. Developer Authenticated Identities use a different flow as compared to other identity providers like Social providers.

I am working on a solution to add this field in the API and make it work. This will be released in a future release.

Thanks for your patience!

[2018-12-15 16:20] adamup928 commented on #1131
Thanks for the update, @rohandubal.

Adam

[2018-12-16 22:05] sunchunqiang commented on #1145
Hi @KleMiX

Did you get the warning when you build AWSPinpoint or build your project which uses AWSPinpoint?

[2018-12-17 06:45] dsonara commented on #1061
Hello Rohan,

I have been seeking a reply since 2 months.
I have applied another solution of that. I have been storing credentialProvider object in shared object. And I am using that object for refreshing cognitoID.

This solution work for me at the moment. I will check for newer version release.

Thank you !!

[2018-12-17 19:38] rohandubal commented on #1117
Hello @johnflanagan-spok

I have identified the root cause for this issue and working on a fix. It will roll out in a future version.

Thanks,
Rohan

[2018-12-17 19:38] johnflanagan-spok commented on #1117
Thanks @rohandubal !

[2018-12-17 20:09] sunchunqiang commented on #1145
Hi @KleMiX
I still cannot reproduce the issue. Could you please provide a small sample project with which I can reproduce the issue?

[2018-12-17 21:05] muellerfr commented on #1061
Hi @dsonara,

Thanks for letting us know, and great to hear you found a solution. Please try out `AWSMobileClient` as it is the recommended solution. I am going to close this issue. Please open a new issue if you encounter any problems.

[2018-12-17 21:05] #1061 closed

[2018-12-18 00:05] BillBunting commented on #1147
I have found that Google logins are returning in "guest" mode only, if that helps troubleshoot.

The app registered for notifications:

[code]

Upon Facebook login,
`AWSMobileClientHelper(swift): StateListener: user is signed in.`

Upon Google login,
`AWSMobileClientHelper(swift): StateListener: user is in guest mode.`

Also, the configuration is exactly the same as used in an Android app that is

[2018-12-18 05:45] josh-chai opened #1149 "Amplify Pub/Sub only first cognito user can work"
**State your question**
Develop on the Swift
When using AWSMobileClient to connect IoT Pub/Sub/Shadow, only the first cognito user can success, but second and more new user both can't connecting IoT.

I have use amplify js SDK on the web frontend, try the same parameters, Cognito User Pool, Idp, Idp Auth Role, IoT. That's all success. so I check my settings was right

**Which AWS Services are you

[2018-12-18 09:16] alemarcon commented on #1120
Hello, i'm using the AWSMobileClient version ~> 2.8.0 but i still have the same problem. When i have an error from the singin method (i don't know from other methods), i'm unable to cast the error. On error object i only have localizedDescription method that give to me this message "Error The operation couldn’t be completed. (AWSMobileClient.AWSMobileClientError error 14.)" no more!

Thanks
Alessa

[2018-12-18 09:42] alemarcon opened #1150 "Unable to cast AWSMobileClientError on singIn operations"
When I try to login to my UserPool and i need to reset my account password, from the method singUp i receive an error, but i'm unable to cast this error. I only have a localizedDescription method that return this string "Error The operation couldn’t be completed (AWSMobileClient.AWSMobileClientError error 14.)"

**To Reproduce**
Steps to reproduce the behavior:
1. Select an user in a UserPool e pu

[2018-12-18 20:57] muellerfr commented on #1120
Looks like you create a separate issue for this: https://github.com/aws-amplify/aws-sdk-ios/issues/1150 If that's right, let's track your issue there.

[2018-12-18 20:59] cbommas commented on #1150
hello @alemarcon

Can you post a code snippet to help debug this further.  An example of how to cast the error and inspect it for the type of error is shown here - https://github.com/aws-amplify/aws-sdk-ios/blob/335e4d82a641fdb9cdc84773bf115951e850b884/AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientTests.swift#L81

[2018-12-18 21:00] cbommas commented on #1149
@josh-chai

Sorry to hear that you are running into issues. Can you post a code snippet and logs - that will help debug this further.

[2018-12-18 21:02] cbommas commented on #1135
@rivkiG

Closing this thread as I haven't heard back. Please feel free to reopen if you are still running into issues.

[2018-12-18 21:02] #1135 closed

[2018-12-19 07:48] KleMiX commented on #1145
Hi,
Never mind I guess, I wasn't able to reproduce it in a test project no matter what, tried to use configuration as close as possible. Still getting it in my project though.

[2018-12-19 07:48] #1145 closed

[2018-12-19 09:02] alemarcon commented on #1150
Hello @cbommas i resolved my issue. It was my error. The cast works correctly. Many thanks and sorry for report this "false issue".

Alessandro

[2018-12-19 09:02] #1150 closed

[2018-12-19 16:32] BillBunting commented on #1147
After login with a Google user, initialize is returning "guest" as the user state upon calls to initialize()

`AWSMobileClient.sharedInstance().initialize { (userState, error) in`  returns userState "guest" for Google. The sample code was calling:
 `DispatchQueue.main.async { AWSMobileClient.sharedInstance().signOut() }` for the default case resulting in all Google users getting signed out immedia

[2018-12-20 02:31] josh-chai commented on #1149
@cbommas
I can't get any logs, only has error callback.

I have define AWSDDLog.sharedInstance.logLevel = .verbose in AppDelegate, but can't get any error logs.

[code]

[2018-12-20 05:50] mobileben opened #1151 "Support for building static library versions of the build"
**Which AWS Services is the feature request for?**
MobileAnalytics

**Is your feature request related to a problem? Please describe.**
it would be easier to manage what library dependencies are needed for size sensitive applications. If one includes all the frameworks, the frameworks are huge. 130MB+, which can easily push your app to be outside of the downloadable by WiFi size.

More preferred wo

[2018-12-20 05:51] mobileben commented on #1151
Also note that I have have bitcode disabled in my game.

[2018-12-20 13:47] diesal11 opened #1152 "AWSS3TransferUtility URLSession didCompleteWithError crashes when subtask is nil"
**Describe the bug**
A user has experienced a crash in our app which Crashlytics has reported as coming from the AWS SDK, this process would have been initiated via a multipart upload.
[code]
A quick glance shows the crash occurred on the following line:
[code]

Only a few lines above that the subtask is grabbed from the same inProgressPartsDictionary it's about to be removed from:
[code]

I'm not

[2018-12-20 17:18] BillBunting commented on #1147
I continue to have a variety of problems with the AWSMobileClient.  Calls to login or getIdentifyId are returning error 8 or error 27.

After more refactoring, I have a method called checkLoginWithNav in swift that is called by an Objective C wrapper. Unfortunately, I am now back to getting the error (which I understood was fixed by the latest API, to manage concurrent requests properly).

2018-12

[2018-12-20 17:42] rohandubal commented on #1147
Hello @BillBunting

Sorry that you are having issues using `AWSMobileClient`. This is a bug in the SDK. The session is not recorded correctly for Google Sign In I believe. I will root cause it and reply back here to give an idea of when we can get a fix released.

Thanks,
Rohan

[2018-12-20 18:45] cbommas commented on #1152
@diesal11

Thank you for reporting this issue. I will look into it and will update this thread once I have more info.

[2018-12-20 19:14] cbommas commented on #1149
@josh-chai

You will need to do one additional step to turn on logs and route them to the console.

         AWSDDLog.sharedInstance.logLevel = .verbose
         AWSDDLog.add(AWSDDTTYLogger.sharedInstance)

Can you run with this setting and post the logs here.

[2018-12-20 19:15] #1137 closed

[2018-12-20 22:00] BillBunting commented on #1147
I continue to receive unexpected errors when the new AWSMobileClient with showSignIn and getUserId methods should be handling token refresh and maintaining an active login when called?

`2018-12-20 16:50:12:708 modlist[9151:3088456] GetCredentialsForIdentity failed. Error is [Error Domain=com.amazonaws.AWSCognitoIdentityErrorDomain Code=8 "(null)" UserInfo={__type=NotAuthorizedException, message=A

[2018-12-22 14:02] josh-chai commented on #1149
@cbommas Thanks for help

I have enabled logs
2018-12-22 21:57:13:519 Coral[32323:744261] Initializing AWSIoTMqttConfiguration with KeepAlive:300.000000, baseReconnectTime:1.000000,minimumConnectionTime:20.000000, maximumReconnectTime:128.000000, autoResubscribe:Enabled, lwt topic: message:
2018-12-22 21:57:13:528 Coral[32323:744261] IOTDataManager: Connecting to IoT using websocket, client id: 66

[2018-12-22 18:17] cbommas commented on #1151
@mobileben

I will discuss this request with my team and post back on this thread. Also, I would recommend that you use AWSPinpoint instead of AWSMobileAnalytics. AWSPinpoint has been deprecated as of version 2.8.0

[2018-12-24 15:36] mehulmistri commented on #1024
Version 2.7.3 has the same issue, when we  set `passwordAuthenticationCompletion.result`. Please post if there are any findings.

[2018-12-24 18:56] desokroshan commented on #1149
@josh-chai from the logs it looks like the user does not have correct policy attached to it. Can you please attach a policy to the user as follows and check if it fixes the issue:

[code]

[2018-12-26 10:27] rivkiG opened #1153 "AWSS3TransferUtility upload - single 9"
**Describe the bug**
in my app, I upload all my files from the iPhone to the cloud: photos, videos, audio
if I have a big amount of files for example 5000 image and the app is in the background what happens is after a while it could be 10 mins or 7 hours the app gets killed and I can see:
“Message from debugger: Terminated due to signal 9”

**Which AWS service(s) are affected?**
 TransferUtility

[2018-12-26 16:45] #661 closed

[2018-12-26 17:05] #1072 closed

[2018-12-26 17:05] #791 closed

[2018-12-26 17:05] #1038 closed

[2018-12-26 17:21] cbommas commented on #1153
@rivkiG

Thanks for reporting this issue. Some questions
1) Can you run some test with the app in the foreground and see if this issue occurs?
2) How many files are you uploading in parallel?

[2018-12-26 17:54] rivkiG commented on #1153
hi,
thank you for the answer. in the foreground, it works perfectly the crash happens only in the background
I try to upload 750 files in a parallel but it happened also in 10 at a parallel

[2018-12-27 09:34] josh-chai commented on #1149
Thanks @desokroshan @cbommas
We are correct connected to AWS IoT after add attach policy process

But we also use AppSync, when "Archive" will fail.
<img width="678" alt="screen shot 2018-12-27 at 5 33 16 pm" src="https://user-images.githubusercontent.com/37574247/50474888-93a5c000-09fd-11e9-982d-b53163340ece.png">

[2018-12-27 22:57] muellerfr commented on #1053
Reopening this feature request until it is implemented.

[2018-12-27 23:00] muellerfr commented on #1149
Hello @josh-chai,

Sounds like the original issue has been addressed. Unfortunately, you can't use both the AWSIOT and AWSAppSync framework in the same project. The AWSAppSync project has a slightly customized implementation of the AWSIOT code with overlapping classes, because of which the two can't be used together in the same app.

We're already tracking this as a feature request with issue #105

[2018-12-27 23:00] #1149 closed

[2018-12-28 02:55] Wanxujie commented on #1138
@cbommas  Should I need insert RootCA to iOS Application?

[2018-12-28 05:15] kuchhadiyaa opened #1154 "Set custom Role(Scope) in AWSCognitoIdentityProvider"
**State your question**
We are using AWSCognitoIdentityProvider to provide login and signup in our app. We would like to change the spope from ` "scope": "aws.cognito.signin.user.admin",` to `"scope": "openid profile"`

Currently, there seems no way or changing scopes after or before login.

**Which AWS Services are you utilizing?**
We are using `AWSCognitoIdentityProvider`

**Provide code snippet

[2018-12-28 16:31] johnflanagan-spok commented on #1138
@Wanxujie I didn't need to install a certificate. The issue I was making was not explicitly supplying an endpoint to initialize `AWSServiceConfiguration`. I changed my code from:
[code]
to
[code]
and that fixed it for me. (obviously `config` and `environment` were coming in form somewhere else)

[2018-12-28 19:46] minbi commented on #1154
Hi @kuchhadiyaa ,

In your case you may want to check `App client settings` in the Amazon Cognito console for your User Pool. There are checkbox options in the `Allowed OAuth Scopes` that allow you to add/change the scopes during sign-in.

What is the method call you are using to sign-in users?

[2018-12-28 20:45] minbi commented on #1127
Verified with @sunchunqiang. Code is in place. Documentation will be released with next SDK release.

[2018-12-29 00:19] cbommas commented on #1138
@johnflanagan-spok

Thanks for helping with this.

@Wanxujie
can you confirm if that fixes your issue. Otherwise, please open a new issue so that we can track it and get it addressed for you.

[2018-12-29 13:44] larryonoff commented on #1106
I would like to like one more PR #1155 that adds ability to configure credentials sharing.

[2018-12-29 19:59] BillBunting opened #1156 "AWSMobileClient AWSUserPoolSignUpViewController validation error messages"
**Which AWS Services is the feature request for?**
AWSMobileClient signUp UI (AWSMobileClient.sharedInstance().showSignIn), AWSUserPoolSignUpViewController

**Is your feature request related to a problem? Please describe.**
Desire to customize or improve readability of sign-up and other validation messages displayed to a non-technical end user. Error messages for invalid values return very technic

[2018-12-29 20:06] BillBunting commented on #1147
@rohandubal  Thank you for attending to this issue.  I am unable to release a new version of my app until Google sign-in and other issues with AWSMobileClient sign-in/sign-up and token refresh are resolved. The app is currently getting a lot of error 8, error 27, and error 28 returned to AWSMobileClient.sharedInstance().getIdentityId() or .showSignIn() in addition to issues with Google Sign-in. Fo

[2018-12-31 18:38] minbi commented on #1156
Hi @BillBunting ,

Thanks for submitting this feedback. We will keep this in mind for improvements that we are working on.

[2019-01-01 03:19] rohit3d2003 opened #1168 "Error uploading images to S3 with Cognito authentication"
I am getting an error while uploading an image to S3 bucket. I have added auth followed by storage as per the documentation(https://aws-amplify.github.io/docs/ios/storage) but when I try to upload an image, I am receiving following error.

com.amazonaws.AWSServiceErrorDomain error 11.

This is in regards to an iOS app. Once the user is signed-in, I am using AWSS3TransferUtility.default() to get th

[2019-01-01 07:00] rivkiG commented on #1153
From: Bommas <notifications@github.com>
Reply-To: aws-amplify/aws-sdk-ios <reply@reply.github.com>
Date: Saturday, 29 December 2018 at 2:22
To: aws-amplify/aws-sdk-ios <aws-sdk-ios@noreply.github.com>
Cc: Rivka Glick <rivkag@hyperlync.com>, Mention <mention@noreply.github.com>
Subject: Re: [aws-amplify/aws-sdk-ios] AWSS3TransferUtility upload - single 9 (#1153)

@rivkiG<https://github.com/rivkiG>

[2019-01-01 07:13] rivkiG commented on #1153
default	16:30:49.842106 +0200	bluetoothd	Local LE address is now "<private>"
default	16:30:49.842489 +0200	bluetoothd	Sending XPC message "CBMsgIdAdvertisingAddressChanged" to session "com.apple.wirelessproxd-central-55-0"
default	16:30:49.842759 +0200	bluetoothd	Sending XPC message "CBMsgIdAdvertisingAddressChanged" to session "com.apple.sharingd-peripheral-57-7"
default	16:30:49.842983 +0200	blu

[2019-01-01 07:13] rivkiG commented on #1153
default	16:31:30.034486 +0200	locationd	CellService, convert, add, GSM, <private>
default	16:31:30.034521 +0200	locationd	CellService, convertCells, 3, neighbors, 1
default	16:31:30.035124 +0200	locationd	CellService, convert, add, GSM, <private>
default	16:31:30.035335 +0200	locationd	CellService, convert, add, GSM, <private>
default	16:31:30.035378 +0200	locationd	@CellService, selection, inst,

[2019-01-01 07:14] rivkiG commented on #1153
default	16:31:59.816156 +0200	nsurlsessiond	Task <A7D74A8B-C310-49FE-AE38-06832BB16E9E>.<1541> didReceiveChallenge: <private> protection space: <private> for client <private> received auth challenge with type NSURLAuthenticationMethodServerTrust
default	16:31:59.816381 +0200	nsurlsessiond	Task <A7D74A8B-C310-49FE-AE38-06832BB16E9E>.<1541> client doesn't implement session-level or task-level auth c

[2019-01-01 07:15] rivkiG commented on #1153
default	16:32:40.109495 +0200	nsurlsessiond	TIC TLS Event [8696:0x10fdc9150]: 2, Pending(0)
default	16:32:40.289322 +0200	nsurlsessiond	TIC TLS Event [8696:0x10fdc9150]: 2, Pending(0)
default	16:32:40.297244 +0200	nsurlsessiond	TIC TLS Event [8696:0x10fdc9150]: 11, Pending(0)
default	16:32:40.298573 +0200	nsurlsessiond	TIC TLS Event [8696:0x10fdc9150]: 14, Pending(0)
default	16:32:40.300486 +0200

[2019-01-01 07:16] rivkiG commented on #1153
default	16:33:36.530214 +0200	locationd	<PCPersistentTimer: 0x107b3d690> Device is plugged in, overriding earlyFireProportion to be 1.0
default	16:33:36.530251 +0200	locationd	<PCPersistentTimer: 0x107b3d690> Calculated minimum fire date [2018-12-31 16:38:36 +0200] (100%) with fire date [2018-12-31 16:38:36 +0200], start date [2018-12-31 16:33:36 +0200], minimum early fire proportion 0.9, power st

[2019-01-01 07:17] rivkiG commented on #1153
should Adjust? NO
default	16:34:06.051108 +0200	apsd	Wake schedule for '<private>'(<private>) completed for [<private>] (took 0.004 seconds; result code 0)
default	16:34:06.051360 +0200	apsd	Canceling system wake for simpletimer [2018-12-31 16:44:26 +0200]
default	16:34:06.051431 +0200	apsd	Request to schedule wake 0 date 2018-12-31 16:44:26 +0200 leeway 0 service identifier com.apple.apsd(push.ap

[2019-01-01 07:17] rivkiG commented on #1153
default	16:34:06.714542 +0200	apsd	<private>: Outstanding data received: <private> (length 2) onInterface: NonCellular. Connected on 1 interfaces.
default	16:34:06.714634 +0200	apsd	<private>: Stream processing: complete yes, invalid no, length parsed 2, parameters <private>
default	16:34:06.714705 +0200	apsd	<private>: Received successful keep-alive ack on interface NonCellular: <private>
default

[2019-01-01 10:19] rivkiG commented on #1153
default	16:34:20.515121 +0200	nsurlsessiond	1.069s [C8704.1 <private> 192.168.1.4:65132<->IPv4#ea63534e:443 channel-flow] path:satisfied
default	16:34:20.515320 +0200	nsurlsessiond	1.070s [C8704.1 <private> 192.168.1.4:65132<->IPv4#ea63534e:443 channel-flow] flow:start_nexus
default	16:34:20.515635 +0200	nsurlsessiond	1.072s [C8704.1 <private> 192.168.1.4:65132<->IPv4#ea63534e:443 channel-flow] fl

[2019-01-01 11:48] rivkiG commented on #1153
default	16:35:10.599424 +0200	nsurlsessiond	0.013s [C8707.1 <private> 192.168.1.4:65135<->IPv4#185fa1f5:443 channel-flow] flow:start_nexus
default	16:35:10.600336 +0200	nsurlsessiond	0.016s [C8707.1 <private> 192.168.1.4:65135<->IPv4#185fa1f5:443 channel-flow] flow:receive_nexus
default	16:35:10.600722 +0200	nsurlsessiond	0.020s [C8707.1 <private> 192.168.1.4:65135<->IPv4#185fa1f5:443 channel-flow

[2019-01-01 11:49] rivkiG commented on #1153
default	16:35:31.546614 +0200	nsurlsessiond	[C8708 Hostname#0c1c3bac:443 tcp, bundle id: com.hyperlync.BackgroundBackup, url: https://hyperlync-yourcopy-dev.s3.amazonaws.com/rivka/Photos/CameraRoll/104APPLE-IMG_4665.JPG?X-Amz-Algorithm=AWS4-HMAC-, traffic class: 200, tls, indefinite] cancel
default	16:35:31.547058 +0200	nsurlsessiond	[C8708 Hostname#0c1c3bac:443 tcp, bundle id: com.hyperlync.Backg

[2019-01-01 11:49] rivkiG commented on #1153
default	16:35:42.634493 +0200	WirelessRadioManagerd	<private>
default	16:35:42.933024 +0200	powerlogHelperd	{"msg":"CLCopyAppsUsingLocation", "event":"activity"}
default	16:35:42.953414 +0200	nsurlsessiond	Task <279BCB00-2623-4C17-ADB5-6DB9F111A9A6>.<1552> sent request, body S
default	16:35:43.934273 +0200	powerlogHelperd	{"msg":"CLCopyAppsUsingLocation", "event":"activity"}
default	16:35:44.25530

[2019-01-01 11:50] rivkiG commented on #1153
default	16:36:20.838991 +0200	dasd	'com.apple.CFNetwork-cc-88-8353-Task <001361FE-D554-4758-8C02-DDAD620ECF3B>.<com.hyperlync.BackgroundBackup>.<com.amazonaws.AWSS3TransferUtility.Default.Identifier>.<1554>:E96C54' DecisionToRun:1 (Bypasses Predictions)
default	16:36:20.839625 +0200	dasd	With <private> ...Tasks running in group [<private>] are 1!
default	16:36:20.840685 +0200	dasd	Stop network pat

[2019-01-01 11:51] rivkiG commented on #1153
default	16:36:40.972786 +0200	nsurlsessiond	Task <AC0185C2-E14B-42CC-A1B1-67A93923ACDA>.<1555> resuming, QOS(0x9)
default	16:36:40.972963 +0200	nsurlsessiond	Task <AC0185C2-E14B-42CC-A1B1-67A93923ACDA>.<1555> resuming
default	16:36:40.973003 +0200	nsurlsessiond	Task <AC0185C2-E14B-42CC-A1B1-67A93923ACDA>.<1555> has not requested a begin delay
default	16:36:40.973141 +0200	nsurlsessiond	Task <AC018

[2019-01-01 11:51] rivkiG commented on #1153
default	16:37:20.561188 +0200	apsd	Started simple timer <PCSimpleTimer: 0x102641e10> with fire date [2018-12-31 16:44:20 +0200]
default	16:37:20.561944 +0200	apsd	<PCSimpleTimer: 0x102641e10> created preventSleepTimer <PCDispatchTimer: 0x102644960> and fireTimer <PCDispatchTimer: 0x102666410> on queue <OS_dispatch_queue_serial: PCSimpleTimer-timerQ>
default	16:37:20.562919 +0200	apsd	Enabling powe

[2019-01-01 11:52] rivkiG commented on #1153
default	16:37:41.174125 +0200	nsurlsessiond	Task <FE218785-8556-4785-B5F0-F27457B113F0>.<1558> setting up Connection 8716
default	16:37:41.174436 +0200	nsurlsessiond	Task <FE218785-8556-4785-B5F0-F27457B113F0>.<1558> for client <private> is waiting for connection - reason: 10000
default	16:37:41.177016 +0200	dasd	Submitted Activity: com.apple.CFNetwork-cc-88-8357-Task <FE218785-8556-4785-B5F0-F274

[2019-01-01 11:57] rivkiG commented on #1153
default	16:38:07.232253 +0200	dasd	COMPLETED com.apple.CFNetwork-cc-88-8358-Task <DAB78810-8D8E-43B1-8304-36B3881E4B96>.<com.hyperlync.BackgroundBackup>.<com.amazonaws.AWSS3TransferUtility.Default.Identifier>.<1559>:7BFD69 <private>!
default	16:38:07.232410 +0200	dasd	Stop network path monitoring for '<private>'
default	16:38:07.233004 +0200	dasd	NO LONGER RUNNING com.apple.CFNetwork-cc-88-8358-Ta

[2019-01-01 11:58] rivkiG commented on #1153
default	16:38:41.834418 +0200	nsurlsessiond	TIC TLS Event [8719:0x10fdc56c0]: 1, Pending(0)
default	16:38:41.835929 +0200	nsurlsessiond	TIC TLS Event [8719:0x10fdc56c0]: 2, Pending(0)
default	16:38:41.931088 +0200	powerlogHelperd	{"msg":"CLCopyAppsUsingLocation", "event":"activity"}
default	16:38:42.019761 +0200	nsurlsessiond	TIC TLS Event [8719:0x10fdc56c0]: 2, Pending(0)
default	16:38:42.022253

[2019-01-01 11:58] rivkiG commented on #1153
default	16:39:08.289311 +0200	apsd	<private> _adjustPollTimerIfNecessary  rightStyle NO  isRunning NO  isInReconnectMode NO   intervalTimer (null)  firingIsImminent NO - should Adjust? NO
default	16:39:08.289432 +0200	apsd	Wake cancel for '<private>'(<private>) completed for [<private>] (took 0.003 seconds; result code 0)
default	16:39:08.289583 +0200	apsd	Opening <private> with environment <priva

[2019-01-01 11:59] rivkiG commented on #1153
default	16:39:13.981128 +0200	apsd	<private> _connectStream has None preference and dual channel is enabled.
default	16:39:13.981178 +0200	apsd	<private> _connectStream - kicking WWAN for dual channel
default	16:39:13.981212 +0200	apsd	<private> attempting to _connectStream. currently onInterface NonCellular consecutiveFailures 0 preference WWAN shouldUseDualChannel YES. Connected on 1 interfaces.

[2019-01-01 11:59] rivkiG commented on #1153
default	16:39:46.933313 +0200	powerlogHelperd	{"msg":"CLCopyAppsUsingLocation", "event":"activity"}
default	16:39:47.931729 +0200	powerlogHelperd	{"msg":"CLCopyAppsUsingLocation", "event":"activity"}
default	16:39:47.941784 +0200	nsurlsessiond	TIC TCP Conn Cancel [8722:0x10fe7baa0]
default	16:39:47.942735 +0200	nsurlsessiond	[C8722 Hostname#0c1c3bac:443 tcp, bundle id: com.hyperlync.BackgroundBack

[2019-01-01 12:07] rivkiG commented on #1153
default	16:39:46.720985 +0200	UserEventAgent	POSM disabled...
default	16:40:03.491467 +0200	locationd	Last system wake date (2018-12-29 19:07:15 +0200) was longer than half of the timer duration, so setting minimum fire date to fire date.
default	16:40:03.491524 +0200	locationd	<PCPersistentTimer: 0x107b2e780> Device is plugged in, overriding earlyFireProportion to be 1.0
default	16:40:03.491572 +

[2019-01-01 12:08] rivkiG commented on #1153
efault	16:40:48.314691 +0200	locationd	{"msg":"adapter details", "adapterDescription":"usb host", "batteryChargerType":"kChargerTypeUsb"}
default	16:40:48.379894 +0200	atc	<ATLegacyMessageLink: 0x14302cd70, wifi=0> ---> [Ping Request. id=12526, Session=0, params=(null)]
default	16:40:48.936720 +0200	powerlogHelperd	{"msg":"CLCopyAppsUsingLocation", "event":"activity"}
default	16:40:49.523942 +0200

[2019-01-01 12:08] rivkiG commented on #1153
EC630EB9-4F02-4AC8-BFAF-C4271510F8F4/Library/Caches/HLMediaExtractor/105APPLE-IMG_5103.JPG
default	16:41:42.482941 +0200	nsurlsessiond	Task <DEA962C9-0D8F-470F-8A93-A7D1CD58D37C>.<1570> uploadTaskWithRequest: <private> fromFile: <private>
default	16:41:42.484375 +0200	nsurlsessiond	Current discretionary status for <private> is non-discretionary, since the app is being debugged
default	16:41:42.487

[2019-01-01 12:09] rivkiG commented on #1153
6:42:40.423632 +0200	CommCenter	QMI: Svc=0x22(COEX) Ind MsgId=0x0021 Bin=[<private>]
default	16:42:40.431169 +0200	WirelessRadioManagerd	<private>
default	16:42:40.439464 +0200	WirelessRadioManagerd	<private>
default	16:42:40.916521 +0200	powerlogHelperd	{"msg":"CLCopyAppsUsingLocation", "event":"activity"}
default	16:42:41.125002 +0200	nsurlsessiond	Triggering periodic update to powerlog for clie

[2019-01-01 12:10] rivkiG commented on #1153
1default	16:43:29.107309 +0200	dasd	NO LONGER RUNNING com.apple.dataaccess.dataaccessd.fetch.0B357193-D81F-47AD-9EF3-2DF4640F3620:5C5D1F ...Tasks running in group [com.apple.dasd.defaultNetwork] are 2!
default	16:43:29.108745 +0200	UserEventAgent	Rescheduling XPC Activity: com.apple.dataaccess.dataaccessd.fetch.0B357193-D81F-47AD-9EF3-2DF4640F3620
default	16:43:29.109108 +0200	UserEventAgent	SUBMI

[2019-01-01 12:11] rivkiG commented on #1153
ddefault	16:41:42.445322 +0200	BackgroundBackup	calling uploadFile for file:///var/mobile/Containers/Data/Application/default	default	16:44:11.387893 +0200	apsd	<private> _adjustPollTimerIfNecessary  rightStyle NO  isRunning NO  isInReconnectMode NO   intervalTimer (null)  firingIsImminent NO - should Adjust? NO
default	16:44:11.387966 +0200	CommCenter	<private> _adjustPollTimerIfNecessary  rightS

[2019-01-01 12:11] rivkiG commented on #1153
default	16:44:30.606878 +0200	nsurlsessiond	nw_protocol_tcp_log_summary [C8736.1:3]
	[<private> <private>:65165<-><private>:443]
	Init: 1, Conn_Time: 276.288ms, Syn's: 1, WR_T: 0/0, RD_T: 0/0, TFO: 0/0/0, ECN: 0/1/1, TS: 0
	RTT_Cache: none, rtt_upd: 11, rtt: 268.687ms, rtt_var: 164.937ms rtt_nc: 268.687ms, rtt_var_nc: 164.937ms
default	16:44:30.607572 +0200	nsurlsessiond	nw_endpoint_flow_protocol_

[2019-01-01 12:12] rivkiG commented on #1153
default	16:45:24.496772 +0200	nsurlsessiond	Task <01D8CDDD-B47C-44DD-B513-7310A79F7A59>.<1581> now using Connection 8739
default	16:45:24.932383 +0200	powerlogHelperd	{"msg":"CLCopyAppsUsingLocation", "event":"activity"}
default	16:45:25.215583 +0200	symptomsd	L2 Metrics on ifname en0: rssi: -54 (txFrames/txReTx/txFail) 84/8/0 -> (was/is) 0/0
default	16:45:25.926716 +0200	powerlogHelperd	{"msg":"C

[2019-01-01 12:12] rivkiG commented on #1153
waiting for connection - reason: 10000
default	16:46:24.165293 +0200	dasd	Submitted Activity: com.apple.CFNetwork-cc-88-8383-Task <ACAEB0B9-6599-4A13-A543-8B89BF7EF2D8>.<com.hyperlync.BackgroundBackup>.<com.amazonaws.AWSS3TransferUtility.Default.Identifier>.<1584>:D982D2 <private>
default	16:46:24.167374 +0200	dasd	Start network path monitoring for '<private>'
default	16:46:24.168268 +0200	dasd	co

[2019-01-01 12:12] rivkiG commented on #1153
default	16:46:24.162810 +0200	nsurlsessiond	Task <ACAEB0B9-6599-4A13-A543-8B89BF7EF2D8>.<1584> for client <private> is default	16:47:44.944436 +0200	nsurlsessiond	nw_endpoint_flow_protocol_connected [C8746.1 IPv4#29b29788:443 in_progress channel-flow (satisfied)] Transport protocol connected
default	16:47:44.965195 +0200	nsurlsessiond	TIC TLS Event [8746:0x10fe3eb00]: 1, Pending(0)
default	16:47:4

[2019-01-01 12:13] rivkiG commented on #1153
default	16:48:53.130981 +0200	nsurlsessiond	8.075s [C8749] path:cancel
default	16:48:53.133321 +0200	nsurlsessiond	nw_protocol_tcp_log_summary [C8749.1:3]
	[<private> <private>:65180<-><private>:443]
	Init: 1, Conn_Time: 272.407ms, Syn's: 1, WR_T: 0/0, RD_T: 0/0, TFO: 0/0/0, ECN: 0/1/1, TS: 0
	RTT_Cache: none, rtt_upd: 20, rtt: 299.312ms, rtt_var: 46.312ms rtt_nc: 299.312ms, rtt_var_nc: 46.312ms
d

[2019-01-01 12:14] rivkiG commented on #1153
default	16:49:18.019800 +0200	locationd	#ctcl,#ci,cellListSize,<private>
default	16:49:18.025477 +0200	locationd	#ctcl,#ci,fetch,cellListSize,<private>
default	16:49:18.025607 +0200	locationd	CellService, convertCells, 1, neighbors, 1
default	16:49:18.025868 +0200	locationd	@CellFlow, ctnotify, kCellInfoNotification, havedata, 1
default	16:49:18.026478 +0200	locationd	#ctcl,#ci,fetch,cellListSize,

[2019-01-01 12:14] rivkiG commented on #1153
default	16:49:47.398850 +0200	CommCenter	#I RAT has changed from kRatGSM to kRatUTRAN
default	16:49:47.398898 +0200	CommCenter	#I RAT changed to kRatUTRAN
default	16:49:47.398946 +0200	CommCenter	#I Handling RAT changed: kRatUTRAN
default	16:49:47.399090 +0200	CommCenter	#I SMS not ready since service state = not ready
default	16:49:47.399147 +0200	CommCenter	#I Handling network info update...
def

[2019-01-01 12:15] rivkiG commented on #1153
default	16:49:47.522565 +0200	CommCenter	QMI: Svc=0x03(NAS) Req MsgId=0x004f Bin=[<private>]
default	16:49:47.522639 +0200	CommCenter	#I DATA: old_copyAPNFromManagedPreferences: Pulling APN settings for 0 from profile or carrier settings
default	16:49:47.522809 +0200	CommCenter	#I DATA: old_copyAPNFromManagedPreferences: IPCU file DOES NOT exist - old style profile reading skipped
default	16:49:47

[2019-01-01 12:18] rivkiG commented on #1153
default	16:49:47.660467 +0200	identityservicesd	Registration Control Checking On the state of Phone Number registration disablement
default	16:49:47.660573 +0200	identityservicesd	Done checking if device is setup {isSetup: YES, needsToRun: NO, tokenUpgradeDone: YES}
error	16:49:47.660631 +0200	CommCenter	SIM configuration '<private>' is not active yet
error	16:49:47.660660 +0200	identityservicesd

[2019-01-01 12:18] rivkiG commented on #1153
default	16:50:26.031736 +0200	nsurlsessiond	System Trust Evaluation yielded status(0)
default	16:50:26.044960 +0200	nsurlsessiond	TIC TLS Trust Result [8754:0x10fd6e340]: 0
default	16:50:26.186980 +0200	MobileMail	TCP Conn 0x280dc4cc0 SSL Handshake DONE
default	16:50:26.210733 +0200	nsurlsessiond	nw_endpoint_flow_protocol_connected [C8754.1 IPv4#955f30eb:443 in_progress channel-flow (satisfied)] O

[2019-01-01 12:19] rivkiG commented on #1153
] sumScores:29.916667, denominator:35.700000, FinalDecision: Can Proceed FinalScore: 0.838002}
default	16:51:46.004587 +0200	dasd	'com.apple.CFNetwork-cc-88-8399-Task <68DD1F9F-466B-46E8-B95B-8E569EC1694D>.<com.hyperlync.BackgroundBackup>.<com.amazonaws.AWSS3TransferUtility.Default.Identifier>.<1600>:7C8F6C' DecisionToRun:1 (Bypasses Predictions)
default	16:51:46.004738 +0200	dasd	With <private> .

[2019-01-01 12:19] rivkiG commented on #1153
default	16:53:07.198214 +0200	nsurlsessiond	TIC TCP Conn Connected [8762:0x10fe57cf0]: Err(16)
default	16:53:07.200425 +0200	nsurlsessiond	TIC TCP Conn Event [8762:0x10fe57cf0]: 1
default	16:53:07.200634 +0200	nsurlsessiond	TIC TCP Conn Event [8762:0x10fe57cf0]: 8
default	16:53:07.200819 +0200	nsurlsessiond	TIC TLS Handshake Complete [8762:0x10fe57cf0]
default	16:53:07.202568 +0200	nsurlsessiond	T

[2019-01-01 16:09] mrikh opened #1157 "Amazon Elastic Transcoder Usage"
I am looking for the functionality of being able to trim videos to a specific duration using the AWS SDK. For example lets say the video is of a length 20 seconds that i uploaded before to my bucket and i want to trim 2 seconds out of it at a later date. I was looking around the AWS products and the Amazon Elastic Transcoder seems to offer what i want as far as i can understand it. Am i correct in

[2019-01-02 09:54] rivkiG commented on #1153
https://jumbomail.me/j/XIr36Vrc7Ua_uxr

[2019-01-02 19:58] rohandubal commented on #1147
Hello @BillBunting

This issue will be fixed in our next release which should be very soon.

I will keep this thread posted as soon as the release is out.

Thanks,
Rohan

[2019-01-02 22:16] rohandubal opened #1158 "RFC - Auth workflows as part of AWSMobileClient"
## Feature Request

With the launch of [AWSMobileClient](https://aws-amplify.github.io/docs/ios/authentication), we simplified lot of authentication/ authorization workflows.  We now want to extend `AWSMobileClient` to support additional use-cases outlined below:

As a developer:

1. AWSMobileClient functionality:

    1. I want to enable SAML based authorization
    1. I want to add social button

[2019-01-03 15:50] armandr opened #1159 "AWSIoTDataManager.getShadow() timeout [race condition with AWSIoTDataManager.register()?]"
**State your question**

How does one know AWSIoTDataManager.register(withShadow) has **completed the registration**(finished subscribing)?

In my IoS app I'm calling AWSIoTDataManager.register() with QoS:1 and on success immediately calling AWSIoTDataManager.getShadow().  This often, but not always leads to a AWSIoTShadowOperationStatusTypeTimeout.

It seems possible for getShadow() to be called

[2019-01-03 20:57] BillBunting commented on #1158
1 iv. _I want to allow my end user to sign out of all devices_. That would be nice.
1 v. _I want to enable device remember features_ That would be nice.

2 iii. _I want to add custom input fields on the registration screen_
That would be helpful. Currently, my app has its own profile view to collect additional user information (like a public display name, Instagram account, and user bio).  I could

[2019-01-04 00:15] minbi commented on #1131
Hi @adamup928 ,

We have just released version 2.8.2 of the SDK. Please check if this fixes the issue for you.

[2019-01-04 00:15] minbi commented on #1088
Hi @rivkiG,

We have just released version 2.8.2 of the SDK. Please check if this fixes the issue for you.

[2019-01-04 00:16] minbi commented on #1065
Hi @simeondrage,

We have just released version 2.8.2 of the SDK. Please check if this fixes the issue for you.

[2019-01-04 00:16] minbi commented on #769
Hi @jeffjvick @Jane930525 @rromanchuk ,

We have just released version 2.8.2 of the SDK. Please check if this fixes the issue for you.

[2019-01-04 00:17] minbi commented on #1147
Hi @BillBunting,

We have just released version 2.8.2 of the SDK. Please check if this fixes the issue for you.

[2019-01-04 00:17] minbi commented on #1117
Hi @johnflanagan-spok ,

We have just released version 2.8.2 of the SDK. Please check if this fixes the issue for you.

[2019-01-04 00:18] minbi commented on #1152
Hi @simeondrage,

We have just released version 2.8.2 of the SDK. Please check if this fixes the issue for you.

[2019-01-04 00:18] minbi commented on #1049
Hi @fans3210 ,

We have just released version 2.8.2 of the SDK. Please check if this fixes the issue for you.

[2019-01-04 00:34] minbi commented on #1127
Documentation added in 2.8.2 release

[2019-01-04 00:34] #1127 closed

[2019-01-04 02:19] dennispost commented on #1158
_Are you using Cognito UserPools(authentication) and Cognito IdentityPools(authorization) both in your app?_
No, only Cognito UserPools

_Are you using drop-in UI in your app?_
No

_Do you want more functionality in drop-in UI or more/ easy-to-use APIs in AWSMobileClient to better provide functionality in your app UI?_
No drop-in UI, but easy-to-use APIs for login, logout, password change, mfa...

[2019-01-04 02:31] r-plus opened #1161 "Support reinitialize SQLite(FMDB) file that used by KinesisRecorder."
**Which AWS Services is the feature request for?**
Kinesis

**Is your feature request related to a problem? Please describe.**
Sometimes we encountered problem that is app using kinesis(data stream) could not save/send any string(application log string) In our production.
According to our investigation, error was always SQLite database file is malformed error(error code 11 is `SQLITE_CORRUPT`).
[c

[2019-01-04 02:40] BillBunting commented on #1147
@rohandubal , @minbi , Thank you! Preliminary testing shows it works now.  I can now sign-in with Google, sign-out, sign in again with Facebook (or Cognito User Pool with username/password), sign-out, and sign in with Google; no issues found.  What a relief!  The Google issue appears to be resolved.

I need to test token expiration to see that the token is automatically refreshed (it was working p

[2019-01-04 02:59] r-plus commented on #1116
Sorry we could not reproduce this crash.

[2019-01-04 03:38] diesal11 commented on #1152
Thanks!
I can't say this is one I would be able to reliably reproduce and check for you. Feel free to close the issue and i'll reopen if i run into this again :)

[2019-01-04 10:00] simeondrage commented on #1065
we are currently using the old SDK. We can't reliably reproduce this issue (though we did have about 20 reports from customers). We can't risk using the new SDK at the moment I'm afraid as we wont be able to confirm if the issue is resolved.
@minbi

[2019-01-04 13:25] JesusMartinAlonso opened #1162 "AWSMobileClient, updateUserAttributes completionHandler not called when success"
**Describe the bug**

I need to update the user attributes of an user. I am using
`updateUserAttributes(attributeMap: [String: String], completionHandler: @escaping (([UserCodeDeliveryDetails]?, Error?) -> Void))` of `AWSMobileClient`

The attributes are updated successfully but the `completionHandler` is not getting called. I have looked the implementation of the function and there is not a call

[2019-01-04 16:04] kuchhadiyaa commented on #1154
Hi @minbi ,

Yes, We already have enabled those settings when we created the pool.

We are using the following method to sign in
[code]
and save a closure from the following method to call it when a user does sign in. (AWSCognitoIdentityPasswordAuthentication)
[code]

When a user does sign in we set the result to closure
[code]

[2019-01-04 16:41] cbommas commented on #1152
@diesal11
Sounds good. Thank you.

[2019-01-04 16:41] #1152 closed

[2019-01-04 17:05] minbi commented on #1147
Thanks for confirming. Feel free to open a new issue if anything arises.

[2019-01-04 17:05] #1147 closed

[2019-01-04 17:10] minbi commented on #1161
Hi @r-plus ,

Thanks for reporting this issue. We will investigate and update this thread.

[2019-01-04 17:13] minbi commented on #1162
Hi @JesusMartinAlonso ,

Thanks for reporting this issue and looking at the code. We will investigate the missing callback and post back here. For issues like this you may also open a pull request, but we'll take action on this one.

[2019-01-04 17:18] muellerfr commented on #1116
@r-plus,

Do you have any additional information that would help us debug the issue? What is your backend configuration? Has this issue repeated at all?

[2019-01-04 17:40] cbommas commented on #1065
@simeondrage

I understand.

The change in this most recent version of the SDK was to create all the NSURLSession tasks up-front, which should prevent tasks being created when the app is in the background. The idea is that tasks created when the app is in the background are prioritized lower by the OS and this would prevent that.

I will go ahead and close this issue. When you are able to upgrade

[2019-01-04 17:40] #1065 closed

[2019-01-04 17:49] cbommas commented on #1088
@rivkiG
Version 2.8.2 creates NSURLSession tasks up front and this should help increase the speed of transfers and reduce the timeouts you are encountering.

[2019-01-04 17:51] cbommas commented on #1049
@fans3210

2.8.2 contains the error checking I mentioned previously. Please upgrade and let us know how it goes.

[2019-01-04 18:05] minbi commented on #1159
Hi @armandr ,

I took a look at the code and it looks like we don't currently support passing this information back. The subscribe code returns void [on this line](https://github.com/aws-amplify/aws-sdk-ios/blob/master/AWSIoT/Internal/AWSIoTMQTTClient.m#L775). I'm marking this as a feature request and also assigning @cbommas who might have more/better information.

[2019-01-04 18:14] minbi commented on #1157
Hi @mrikh ,

We have not published an iOS SDK for that service. The AWS SDK for Java has published [aws-java-sdk-elastictranscoder](https://github.com/aws/aws-sdk-java/tree/master/aws-java-sdk-elastictranscoder) which you may look at for your server side.

I will mark this as a feature request and have our team evaluate this service.

[2019-01-04 18:41] johnflanagan-spok commented on #1117
@minbi ,

Looks good to me. Thanks!

[2019-01-04 18:44] #1117 closed

[2019-01-04 22:08] minbi commented on #1142
The script has been added. Due to issues with the last release the job was not run automatically. Resolved with next release when the job runs.

[2019-01-05 03:48] minbi commented on #1154
We will followup with the service team to see which method calls are appropriate.

[2019-01-07 02:18] fans3210 commented on #1049
@cbommas  Sorry I'm unable to test this functionalities recently. At least have some back up solutions as mentioned above. Will reopen this issue again if face any problem in the future.

[2019-01-07 02:18] #1049 closed

[2019-01-07 20:10] palpatim opened #1165 "[Notice] Incorrect release 2.9.2"
**tl;dr: Please don't use 2.9.2 released on 4-Jan-2019. The correct release number for that date is 2.8.2**

**Discussion**

We had an error in our release process of version 2.8.2 of the SDK last week, and inadvertently released an additional version of the SDK under the tag `2.9.2`.

We have removed the release from GitHub and deleted the tag, but it's possible that a developer might have includ

[2019-01-07 21:53] johnflanagan-spok commented on #1112
+1
Could this support also be added to the web socket connect methods?

[2019-01-07 22:13] ambarc commented on #1112
Btw - I tested custom authorizers over websockets with some modifications to the SDK code. Will see if I can get cycles to get a PR together.

[2019-01-07 23:00] cbommas commented on #769
@jeffjvick

This version has the change to create all the NSURLSession tasks upfront. It also has a new approach for calculating progress for multipart transfers - which should resolve the progress tracking issue that you have been encountering. Please upgrade to this when you have some time and let me know if you run into issues.

[2019-01-08 02:53] adamup928 commented on #1131
Hi @rohandubal and @minbi -

Version 2.8.2 works great, and I'm able to successfully authenticate.

Thanks,

Adam

[2019-01-08 02:53] #1131 closed

[2019-01-08 05:16] returnzer0 opened #1167 "Generate swift code for custom queries?"
** Which Category is your question related to? **
Amplify Codegen for iOS

** What AWS Services are you utilizing? **
appsync, amplify

** Provide additional details e.g. code snippets **
How do I go about generating swift code for custom (nested) queries?

I am following the example ChatQL app listed [here](https://github.com/aws-samples/aws-mobile-appsync-chat-starter-angular), my goal is to por

[2019-01-08 09:55] aniketudeshmukh opened #1166 "Crash in AWSIoTManager importIdentity - Wrong Passphrase"
When a wrong passphrase is supplied to importIdentity api, the app crashes.

[2019-01-08 11:10] NaiyerAghaz commented on #1138
thanks brother error has fixed.

[2019-01-08 18:11] desokroshan commented on #1166
@aniketudeshmukh Thanks for reporting the issue. Could you please share the stack trace?

[2019-01-08 22:13] muellerfr commented on #1167
Hi @returnzer0, you opened the issue in AppSync iOS repo already, which is the correct location.  Let's keep tracking the issue there: https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/146

[2019-01-08 22:13] #1167 closed

[2019-01-09 12:13] lreddy90 commented on #782
Same error is throwing when i use getdetails() method. can any one suggestion me the solution?

[2019-01-09 18:58] SreekanthGudisi opened #1169 "How to get ImageURL after uploaded a image to S3Bucket ?"
Need to get ImageURL after uploaded a image to S3Bucket

[code]

After printing the imageURL it's coming **file:///Users/sreekanthgudisi/Library/Developer/CoreSimulator/Devices/605B1B4A-0C72-495A-B919-41390E0EF9A7/data/Containers/Data/Application/581187A0-2C1B-4B7B-8278-D41CE29BEF59/Documents/asset.JPG**    .......    but i need  start with **http:// + imagedetails** like this [http://i.imgur.com/

[2019-01-09 21:44] desokroshan commented on #1169
@SreekanthGudisi
You can access files on S3 using URL in following format :
https://s3.amazonaws.com/<bucket-name\>/\<key\>
Accessibility of the file however depends on the permission set for the file.

[2019-01-09 22:43] desokroshan commented on #1168
@rohit3d2003 As you correctly pointed out a particular user needs to know the identity Id of all the users to be able to access their images. The attached policy should be such that it allows all the users to list the files within `protected/<user-a-cognito-identity-id>` but only `user-a` can upload files to it.

[2019-01-10 03:14] rohit3d2003 commented on #1168
@rohandubal - As mentioned earlier, I am able to upload the images now but with the same 'key', nothing comes back. There isn't any error, just the 'data' is nil. Any idea?

[2019-01-10 07:50] aniketudeshmukh commented on #1166
Here it is:

[AWSIotCrash.txt](https://github.com/aws-amplify/aws-sdk-ios/files/2744176/AWSIotCrash.txt)

[2019-01-10 17:24] zigfreid5 opened #1170 "Offline Mutation (optimistic update) transaction fails if performed before query"
Attempting to create an offline mutation fails if the query used for the transaction has not been used previously. This is troublesome for a "Create User" scenario.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt performing mutation with an optimistic update transaction that uses a query that has not been used previously
2. An error will be thrown stating "missing value"

**Expected

[2019-01-10 17:45] desokroshan commented on #1170
Migrated to [appsync-ios repo](https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/149).

[2019-01-10 17:45] #1170 closed

[2019-01-10 21:16] desokroshan commented on #1168
Can you please confirm from the console if the data was uploaded successfully in the folder?

[2019-01-11 01:02] rohit3d2003 commented on #1168
After looking further, I am able to download the image now without making any change

[2019-01-11 01:02] #1168 closed

[2019-01-11 09:22] dannySaron opened #1171 "MissingAuthenticationToken when I use SNS and Cognito"
Hello guys, I have a problem when, after get session from Cognito, I try to create an endpoint for SNS.

`static let manager = CognitoService()

    let serviceConfiguration : AWSServiceConfiguration = AWSServiceConfiguration(region: .EUWest1, credentialsProvider: nil)

    let cognitoConfiguration : AWSCognitoIdentityUserPoolConfiguration = AWSCognitoIdentityUserPoolConfiguration(clientId: "\(Bun

[2019-01-11 12:49] lucianboboc commented on #1136
I've open a bug report for Apple too, maybe they will agree to add a `clearCookies` call to SafariViewController to be used from an app. That way AWSCognitoAuth can just call clearCookies when the user will sign out from cognito.

[2019-01-11 14:47] lucianboboc commented on #1136
@kwallace-abvio I think you can using `WKURLSchemeHandler`.

[2019-01-11 15:32] hotbott opened #1172 "AWS IoT SSL handshake fails (invalid certificate)"
**Describe the bug**
I'm receiving an SSL handshake error while connecting to an AWS IoT endpoint via a socket connection. Looks like the certificate for `*.iot.us-east-1.amazonaws.com` is not valid anymore. Starting from iOS 12.1.1, [Symantec was removed from the list of trusted certificate authorities](https://support.apple.com/en-us/HT208860).

**To Reproduce**
Connect to an AWS IoT endpoint us

[2019-01-11 16:06] cbommas commented on #1172
@hotbott

You will need to use the use an endpoint configured with a Amazon Trust Services certificate. In anticipation of this issue, AWS IOT has proactively configured this URL for you. You can get the update URL by going to the AWS Console->IoT Core ->Settings page. See the installation and configuration section of https://aws-amplify.github.io/docs/ios/pubsub for documentation on how to do thi

[2019-01-11 16:35] cbommas commented on #1153
@rivkiG

I was hoping for some logs specific to the app. The logs you pasted appear to be for everything that is running on the device. Are you able to perhaps run the app from XCode on a physical device, put the app into background and then paste the log in XCode when the app crashes?

Since you mentioned that this works fine when the app is running in the foreground, one hypothesis is that the a

[2019-01-11 16:39] hotbott commented on #1172
@cbommas Thanks! Using the ATS enabled endpoint works!

[2019-01-11 16:39] #1172 closed

[2019-01-11 18:36] vitalyster opened #1173 "S3TransferUtility: PHAssetResourceManager integration"
**Which AWS Services is the feature request for?**
S3
**Is your feature request related to a problem? Please describe.**
I want to upload big video using `S3TransferUtility`. It provides `uploadFileUsingMultipart` and `uploadDataUsingMultipart` methods where I need to provide file URL (while Photos URLs are inaccessible for background tasks and I need to extract data to temporary directory) or ful

[2019-01-13 09:07] kuchhadiyaa commented on #1154
@muellerfr any updates on this?

[2019-01-14 07:00] muellerfr commented on #1173
@vitalyster thank you for submitting the feature request. I will discuss with the team and we will update this issue thread when we have updates.

[2019-01-14 15:56] BillBunting commented on #1156
Hello @minbi ,  I continue to receive negative feedback from new app focus group members regarding the User Interface for sign-up using AWSMobileClient' sign-in UI.  Users continue to complain about (1) lack of clear and understandable end-user-facing validation error messages and (2) the phone number format which requires users to include the international code (+1 for USA). Please keep this on y

[2019-01-14 17:20] jeffjvick commented on #769
@cbommas Hi, thanks, I will try testing it this evening.

[2019-01-14 18:04] rohandubal commented on #1162
Hello @JesusMartinAlonso

This issue is resolved in SDK version `2.8.3`. Please let us know if you continue facing the issues.

Thanks,
Rohan

[2019-01-14 18:04] #1162 closed

[2019-01-14 18:11] rohandubal commented on #1156
Thanks for the feedback @BillBunting. We will keep this in mind while prioritizing our next task.

Tagging @undefobj @muellerfr @nikhil-dabhade for visibility.

[2019-01-14 19:22] #1165 closed

[2019-01-15 08:05] MinCheTsai opened #1177 "[Auth] Federated sign in with Cognito Identities"
**State your question**
I want to use ```AWSMobileClient.sharedInstance().federatedSignIn()``` but I can't get any feedback
I have checked my cognito & facebook settings, it is correct running on the website software.
And I have setting the awsconfiguration.json and Info.plist follow with Amplify Authentication document.
Please let me know, what' is my lost? thank you.

**Which AWS Services are yo

[2019-01-16 08:11] mobileben commented on #1151
@cbommas sorry for the late reply.

Would all I need is only the AWSPinpoint framework? Or are there other dependencies that are needed? This is one of the unfortunate things I'm finding with this SDK is that there isn't great documentation on what needs what. The number of frameworks built is pretty overwhelming. So if you are starting off, it makes it hard to onboard in a relatively short period

[2019-01-17 00:52] gangadharbonda opened #1178 "Need source code for libAWSCognitoIdentityProviderASFBinary.a to build specially for tvOS"
I am currently looking for source code which is used for building  libAWSCognitoIdentityProviderASFBinary.a in https://github.com/aws-amplify/aws-sdk-ios/tree/master/AWSCognitoIdentityProviderASF, so I can recompile it specifically for tvOS

As the current library is built only for iOS. Any help on this is greatly appreciated

[2019-01-17 08:39] #1088 closed

[2019-01-17 09:40] medvedNick opened #1179 "Get other user's attributes by its id/username through AWSMobileClient"
I'm making an iOS app using amplify. Auth is performed using Cognito, and the database is Appsync GraphQL.

There is a `Post` entity in the database, which has `userID` attribute got from Cognito. I'd like to show creator's info in that `Post` in app UI. For example, `username` and a few other attributes from Cognito user (like profile picture).

Is there any way I can achieve this? I do not see a

[2019-01-17 16:16] cbommas commented on #1063
@SanCHEESE
I am marking this as a feature request and will post back here once I have a timeline that I can share.

[2019-01-17 18:51] creed360 opened #1180 "AWS connection not established in testflight"
I am using Dynamodb, S3 and Facerekognition using ios SDK, all the app works perfect through xcode, but when i install it through testflight, the connection to any of the above 3 is rejected (seen from the log) and the app doesnt work. Any solution?

[2019-01-17 20:44] palpatim commented on #1180
Hi @creed360,

Sorry to hear you're having problems. Can you provide some more information to help us troubleshoot this with you?

General bug report info:

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.29]
 - Dependency Manager: [e.g. Cocoapods, Carthage]
 - Swift Version : [e.g. 4.0]

**Device Information (please complete the following information):**
 - D

[2019-01-17 21:34] creed360 commented on #1180
Thanks for the concern. I was using SDK 2.6.3, i updated my sdk to 2.8.4 and it works fine now both in release and debug mode

[2019-01-17 21:34] #1180 closed

[2019-01-17 21:50] palpatim commented on #1177
Hi @MinCheTsai,

I'm going to let @rohandubal reply with a more authoritative followup, but in the meantime:

Do you mean, you're using the same configuration values in your `awsconfiguration.json` file as in your web application?

A couple of other questions:

1. Can you confirm that you are using CognitoIdentityPools to federate identities?
1. Can you confirm that you added the required [configu

[2019-01-17 22:44] rohandubal commented on #1177
Hello @MinCheTsai

The first obvious change which I can suggest in the code snippet is to change the provider name to `graph.facebook.com` since it is a facebook token.

[code]

Other follow up question I have is:

- Q. Are you using developer authenticated identities?

[2019-01-17 22:57] palpatim commented on #1178
Hi @gangadharbonda,

I am investigating whether this source code is available and will reply when I have more info.

[2019-01-18 00:05] bhargavat commented on #1156
Hi Rohan. I too was looking all over the Internet for a way to customize those alert messages for invalid user logins and sign up. Seems like the API doesn't have this feature yet, if I am not mistaken. If so, this seems like a critical aspect that is being overlooked since it may be a poor reflection of our app's user experience if it were in production with real users.

[2019-01-18 02:20] MinCheTsai commented on #1177
1. Yes, I'm using CognitoIdentityPools for connect to AWS IoT, It's work.
2. My Info.plist has added
[code]

About federated setting on AWS console, I'm only fill in the Cognito User Pool, not in the Cognito Identity Pool is correct?

[2019-01-18 02:31] MinCheTsai commented on #1177
A. Yes, I has created facebook app on the developer.facebook.com

I changed the providerName to ```graph.facebook.com```, but still not resolve.
Then I add user state listener, ``` AWSMobileClient.sharedInstance().addUserStateListener(self) { (userState, info) in```
I can receive signedIn state when I call ``` AWSMobileClient.sharedInstance().federatedSignIn()```, but the simulator not popup any f

[2019-01-18 16:43] om-ha commented on #880
Any update on this? @rohandubal

[2019-01-18 17:22] dankuchler commented on #1179
I do not see the getUserAttributes() API in the amplify documentation either.  In the unit tests it looks like there is an example of how to retrieve the user attributes from AWSMobileClient:

https://github.com/aws-amplify/aws-sdk-ios/blob/cf6611a407c6290f2bf12df69f98f34175ade80b/AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientTests.swift#L206

[2019-01-18 17:37] dankuchler opened #1181 "Update Amplify iOS SDK documentation for Change Password"
Please add a sample or documentation for how to change a user's password using AWSMobileClient to the AWS Amplify iOS documentation:

https://aws-amplify.github.io/docs/ios/authentication#working-with-the-api

It looks like the unit tests demonstrate the ability to change the password - just asking for it to be included within the documentation.

https://github.com/aws-amplify/aws-sdk-ios/blob/cf6

[2019-01-18 17:41] dankuchler opened #1182 "Ability to update a user attribute through Amplify iOS SDK (AWSMobileClient)"
Within the Amplify AWSMobileClient iOS SDK unit tests I see an example for how to retrieve user attributes:

https://github.com/aws-amplify/aws-sdk-ios/blob/cf6611a407c6290f2bf12df69f98f34175ade80b/AWSAuthSDK/Tests/AWSMobileClientTests/AWSMobileClientTests.swift#L206

In the Amplify iOS SDK documentation I see an example where the user attributes are provided as part of sign up:

https://aws-ampli

[2019-01-18 18:16] rohandubal commented on #1177
Hello @MinCheTsai

I think I understand the issue.

The `federatedSignIn` API is supposed to be used when you have a Facebook token already with you (from your own implementation.)

If you want to use a managed UI, I would recommend using our drop-in UI which manages the Facebook authentication for you. You can find the documentation for that here:

https://aws-amplify.github.io/docs/ios/authentic

[2019-01-18 19:08] muellerfr commented on #1181
@dankuchler - thank you for this suggestion. I moving this issue to our docs repo.

[2019-01-18 21:08] rohandubal commented on #1156
Linking with #1158

[2019-01-19 00:37] palpatim commented on #1179
Closing this in favor of https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/154.

[2019-01-19 00:58] rromanchuk opened #1183 "[WIP - Investigating] uploadUsingMultiPart stalls when running after a termination event after at least one previous completed upload"
**Describe the bug**
I'm picking up the crash below with increased velocity, i believe since the update to `2.8.2` https://github.com/aws-amplify/aws-sdk-ios/blob/master/CHANGELOG.md#282

[code]

Full stack trace is here: https://gist.github.com/rromanchuk/f43cdd8badf93905b03681d4e68be147

**To Reproduce**
I have no known way to reproduce this myself yet, still investigating. Here is basically a f

[2019-01-19 01:09] #1179 closed

[2019-01-19 01:16] rromanchuk commented on #1183
I just noticed i'm also getting an increased number of

[code]

[code]

Also, can you give me a little insight on how aws manages an unauthenticated cognito user? For example, is there anything the end user needs to know in terms of credential management besides the timeout. I'm under the assumption that calling `uploadUsingMultiPart` manages refreshing the token etc. Are there caveats we should k

[2019-01-19 01:46] cbommas commented on #1183
@rromanchuk
Sorry to hear that you are running into issues. Would it be possible for you to share details about how you are using the TransferUtility in your app ( how are you instantiating, are you doing anything on background vs. foreground etc)

On the question regarding `upload.status`, note that the status can take on any of the values specified in the `AWSS3TransferUtilityTransferStatusType`

[2019-01-19 01:48] palpatim commented on #1182
Hi @dankuchler,

You can use the `updateUserAttributes` method for that:

[code]

I've added a test locally and it will be pushed in an upcoming release. Thanks for calling that out!

Hope this helps.

[2019-01-19 01:49] cbommas commented on #1183
I noticed your gist link - I will look into that and post back here if I spot anything.

[2019-01-19 02:20] cbommas commented on #1183
From your gist, I can make a few suggestions
- you appear to be using the same completion handler and progress objects for all of your transfers. Not that it is a problem, but I am assuming you are maintaining a list of on going transfers somewhere and doing the mapping in your app
- in the handleground method ( I presume that this is being called everytime the app is transition to the foreground)

[2019-01-20 03:58] rromanchuk commented on #1183
@cbommas just for my own debugging purposes, what is the lifecycle of `AWSS3TransferUtilityMultiPartUploadTask` is it true that they stick around until the app is restarted?  Or is this an indication of a retain cycle?  I was also wondering, is there any way to probe a task in able to determine if completion blocks were already set?

One very confusing thing i'm banging my head on, is if i'm runni

[2019-01-20 05:01] rromanchuk commented on #1183
OK, figured it out, although I was re-registering, i failed to actually instantiate `didFinishLaunchingWithOptions`

`let _ = AWSS3TransferUtility.s3TransferUtility(forKey: C.AWS.transferUtilityIdentifier)`

Here's the kicker, by failing to instantiate immediately, attempting to upload later, would consistently stall out.

[code]
The curious thing though is, I understand why instantiating the tran

[2019-01-21 17:39] #769 closed

[2019-01-21 18:16] cbommas commented on #1183
@rromanchuk
Thanks for the multiple posts with the context. Here are some thoughts
1) as your average file is 1MB, I would recommend that you switch to using non-multipart uploads. The minimum part size for multipart uploads is 5MB, it would be sub-optimal to use multipart uploads in your case.
2) The `AWSS3TransferUtilityMultiPartUploadTask` and `AWSS3TransferUtilityUploadTask` will stick around

[2019-01-21 18:52] rromanchuk commented on #1183
OK, so i just released an expedited review, thinking everything working smoothly, couldn't reproduce a single time.  Turns out I made things much worse. The problem definitely is happening to users who have recently updated/terminated the application. I changed the identifier of my TransferUtility, and i'm guessing that all existing users who updated had their transferutility get into this state.

[2019-01-21 18:55] rromanchuk commented on #1183
Ahh this is probably the `Error` information i'm looking for.

[code]

[2019-01-21 19:31] cbommas commented on #1183
@rromanchuk
If the call to fetch the instance happens before the registration call, I would expect the fetch to fail and result in a nil object. Calling an upload on that object should be a no-op and can appear to be stalled.

Also, can you share  details of the error that you are receiving from the register call?

[2019-01-21 19:46] rromanchuk commented on #1183
Ohh man, this is definitely going to lead to trouble for a swift developer.

<img width="243" alt="screen shot 2019-01-21 at 11 35 34 am" src="https://user-images.githubusercontent.com/102188/51495350-d8a8e200-1d70-11e9-9461-8223ed6a4b1f.png">

Even with best intentions, after reading the amplify documentations, another swift developer on team could easily create a race condition, especially on re

[2019-01-21 19:58] rromanchuk commented on #1183
I haven't been able to yet trigger an error within registration, which isn't surprising because i'm not able to reproduce the issue my users are reporting. My best guess of trying to reproduce would be some arrangement of these factors:

- Change of identifier string
- Existing AWSS3TransferUtilityMultiPartUploadTasks
- A race condition attempting to access a transferUtility when registration has

[2019-01-21 21:15] rromanchuk commented on #1183
Yeah thats what makes this especially dangerous in swift, the no-op message to nil doesn't leave any indication, ...no completion or progress block is ever going to be ran, giving the developer no way to recover their interface.

This definitely needs to be defined as nullable, `+ (nullable instancetype)S3TransferUtilityForKey:(NSString *)key;`  just explaining it isn't going to be enough as it's

[2019-01-21 22:38] rromanchuk commented on #1183
One thing i would recommend, is not allowing the completion block  to be optional on register. To be honest, i think any type of error here should absolutely throw. By allowing  execution to continue without being handled it doesn't make any sense to continue as we know any subsequent usage is going to be completely hosed. I'm pretty sure for some of my users case, register failed and everything

[2019-01-22 00:34] cbommas commented on #1183
@rromanchuk
I see that you have created a PR for the documentation changes. I will work to get that merged into the repository.

Just so I am tracking this correctly, at this point it looks like you have been able to reproduce and confirm that the issue is due to the TransferUtility not being fully initialized before the upload is attempted.

I understand the issue with the Swift semantics - I wil

[2019-01-22 02:59] rromanchuk commented on #1183
@cbommas I have done a lot of cleanup, and have aborts in every place where things may go wrong, but have yet to trigger one. The thing that is really scaring me is,  i've had two two times where the upload stalled, where no aborts were triggered, `uploadUsingMultiPart` returned the task fine, but non of the callbacks were ever called, causing a similar situation users have reported.

The problem

[2019-01-22 03:12] rromanchuk commented on #1183
Ok I was just able to reproduce
1. After successful upload i swipe up to terminate
2. I relaunch

[code]

I then submit a new upload and i get this

[code]

No callbacks occur, and and stuck with loading screen

[2019-01-22 03:37] rromanchuk commented on #1183
Looks like completed multiparts are having their status flags accidentally reset  inProgress or they were never updated. One thing that immediately comes to mind is if ios does directory cleanup, maybe it was never flushed to the db or something?

On relaunch this is odd,  it finds a task
[code]

[2019-01-22 04:33] rromanchuk commented on #1183
OK, i think i should have trusted my intuition more on this one.

Given
- Users started reporting these, with the only change being a library update
- The size of the diff related to the exact same parts of the service i'm using https://github.com/aws-amplify/aws-sdk-ios/commit/cf6611a407c6290f2bf12df69f98f34175ade80b#diff-cb56d2828510f3a582e6e6ef63b32331
-   The complexity and specificity of the

[2019-01-22 04:50] cbommas commented on #1183
@rromanchuk

Sorry to hear about the trouble that you are going through on this. Appreciate you keeping me abreast - to your point, looks like there is a very specific set of circumstances that need to happen for this issue to occur. I haven't been able to reproduce this at all in my local testing so far, but I will continue to investigate and dig through the code.

In your case, given that the av

[2019-01-22 05:21] rromanchuk commented on #1183
@cbommas i think i have a pretty good handle on it now. I need to take a break, but i'll get you an example project soon. Funny thing is, it's about **how** you run in it to get it in this state.. the cruel thing is, it sets itself up in way that will probably only hit your most active users.

Silver lining is that almost everything above is just a lot of noise.

[2019-01-22 11:34] rromanchuk commented on #1183
@cbommas sorry to keep harassing you, a one more question.

As a thought experiment, imagine you were uploading in an adversarial environment. Do you know how atomic `uploadUsingMultiPart:fileURL` vs `uploadUsingMultiPart:Data` is? Imagine you were handed a file URL that could only be considered valid until you lost scope. Imagine a scenario where any random time after uploading, after your stack

[2019-01-22 12:24] fer662 opened #1188 "AWSS3TransferUtility - Queueing many files always results in AWSCognitoCredentialsProviderCredentialsRefreshTimeout"
**State your question**
I have an application that queues potentially many files to be uploaded, possibly in background. I'm using a custom AWSCognitoCredentialProviderHelper which calls a service on our api to fetch the relevant details. It's synchronized as to do that once and saves an AWSTaskCompletionSource that will be returned for further requests from AWS. Now what I'm seeing is that after

[2019-01-22 14:04] cbommas commented on #1188
@fer662
Sorry to hear that you are running into issues. So that I have a better understanding of what you are up against, I have some clarifying questions
- How are you queuing the 200 uploads. Is it by creating the upload task and then calling "pause" on it? Can you share a code snippet?
- You mention that you pause execution - how are you doing this, as you mentioned that you are not using break

[2019-01-22 14:11] fer662 commented on #1188
- I'm queuing through:
[code]
I'm not calling pause after. My understanding is that the normal operation would be for them to start uploading with whatever is the default level of parallelism.

- I paused at this point using the debugger's pause button once it became clear it was stuck. I mostly meant i didn't use breakpoints to inspect the refresh requests and such. Sorry for being unclear.

- He

[2019-01-22 14:20] cbommas commented on #1183
@rromanchuk
Good to hear that by moving to non-multipart downloads, you are having a more stable solution. Also good to hear your comment on the silver lining - I will continue to try to reproduce the issue on my side ( will look forward to getting your sample/repro steps)

Regarding the question on the thought experiment, the upload methods are very far from being atomic. All the uploads are done

[2019-01-22 16:08] bfallon commented on #1020
I am having the same issue as well. My PoolId has "-" separator characters, instead of "_".

[2019-01-22 16:42] muellerfr commented on #1020
@bfallon - this issue was closed a couple months back. Please open a new issue with your specific details.

[2019-01-22 18:23] #1169 closed

[2019-01-22 22:29] rromanchuk opened #1189 "Can someone tell me the exact IAM JSON policy for an Unauthenticated cognito role to use every possible Pinpoint service"
I don't use amplify-cli. I'm looking for a policy that allows complete functionality for the entire pinpoint suite in context of a mobile user, for any mobile property under my account. Basically when i turn on logging, I never want to see Access denied ever again for at least a year 😁😁 For some reason, wildcards don't work. I have it working now (IAM console yelling at me for breaking a bunch of

[2019-01-23 06:48] docee opened #1190 "AWSIoTMQTTClient - Thread is not safe, causing reconnectThread to be start again."
**Describe the bug**
Recently we have received a lot of NSThread crash logs, and the code that caused the crash is pointing to` [self.reconnectThread start]`.

`reconnectThread` is called a total of five times in `AWSIoTMQTTClient` and can be called by multiple different threads simultaneously.

Exception Time:2019-01-22 23:54:26 GMT
Device Model:iPhone10,4
Network Type:Unknown
System Version:12.1

[2019-01-23 14:15] fer662 commented on #1188
@cbommas I've been able to patch the race condition within AWSCredentialsProvider, will make a pull request, the issue will be more clear there.

[2019-01-23 16:19] n1schal opened #1191 "Login to Cognito through Username/Password, Facebook and Google"
Hi.

I'm sorry if my approach is totally wrong or if I'm even doing things the right way, but here's what I have until now:

I'm currently developing an app with Swift and the app needs to let users sign in through three different modes:

a. Username/Password
b. Facebook
c. Google

I checked out the CognitoYourUserPools sample app, updated values with my AWS User Pool settings,and I was able to Si

[2019-01-23 16:54] kvasukib commented on #1189
@rromanchuk Sorry for the inconvenience caused. What is the version of AWS SDK for iOS you are using?

1) For the issue related to the IAM policies, if you are submitting events using `submitEvents` method which internally does a `PutEvents` operation and if you are updating endpoint, you require the following policies attached to the IAM role.

[code]

We will update the amplify/docs to reflect t

[2019-01-23 19:05] cbommas commented on #1190
@docee
Sorry to hear that you are running into issues. I will take a look at this and get back to you guys

[2019-01-23 19:07] cbommas commented on #1188
@fer662
Sounds good. Looking forward to the PR.

[2019-01-23 23:44] fer662 commented on #1188
here goes: https://github.com/aws-amplify/aws-sdk-ios/pull/1192
The CI build error seems like some config issue/fluke

[2019-01-24 01:09] vijjuk commented on #745
I am also getting the same error. while using pinpoint - *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'The Pinpoint AppId is `nil`. You need to configure it in `awsconfiguration.json` or `Info.plist` before using this method.'

I have awsconfiguration.json in the target and also has the "PinpointAnalytics": {
        "Default": {
            "AppId": "f

[2019-01-24 05:36] bsin1 opened #1193 "'public-read' expression headers throw code=2 ("null") error"
**Describe the bug**
A clear and concise description of what the bug is.

Adding `public-read` headers via `AWSS3TransferUtilityUploadExpression` results in a code=2 "(null)" error

**To Reproduce**
Steps to reproduce the behavior:

`
let imageData: Data
let filename = "public/helloWorld.jpg"

let expression = AWSS3TransferUtilityUploadExpression()
//expression.setValue("public-read", forRequestHe

[2019-01-24 05:57] n1schal commented on #1191
I'll check this out today and let you know what happens! Thanks!

[2019-01-24 08:52] rromanchuk commented on #1189
Is pinpoint using SNS behind the scenes? It has to be right?

Developers have a product. That product has users. Those users interact with the product on devices. Depending on the user, and the devices the user interacts with, I can communicate with that user across a variety of channels. APN, GCM, SMS, and e-mail.

Here's my dream ios SDK
[code]

[2019-01-24 09:06] rromanchuk commented on #1183
closing until i have a reproducible proj

[2019-01-24 09:06] #1183 closed

[2019-01-24 11:04] vijjuk opened #1194 "The Pinpoint AppId is nil."
I am getting the error. while using pinpoint - *** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'The Pinpoint AppId is nil. You need to configure it in awsconfiguration.json or Info.plist before using this method.'

I have awsconfiguration.json in the target and also has the "PinpointAnalytics": {
"Default": {
"AppId": "f6f5cc63467e4e2f83aba08f6a2dce44",
"R

[2019-01-24 14:55] cbommas commented on #1191
@n1schal
Thank you for letting me know. I will close this issue - Please don't hesitate to reach back if you run into any other problems using the `AWSMobileClient` and open a new issue if required.

[2019-01-24 14:55] #1191 closed

[2019-01-24 14:56] cbommas commented on #1194
@vijjuk

Sorry to hear that you are running into issue using the SDK.
Just so that I have all the data on my side, can you provide the versions of the amplifyCLI and SDK you are using?

[2019-01-24 15:10] srinivasdr opened #1195 "Crash in AWSURLSessionManager.m line 538 [NSConcreteFileHandle writeData:]"
We are receiving this error from Crashlytics (now Fabric) using the SDK. We are not able to track it down since we cannot reproduce it and it only affects a small number of users

Fatal Exception: NSFileHandleOperationException*** -[NSConcreteFileHandle writeData:]: unknown error Raw Text
--
Fatal Exception: NSFileHandleOperationException
0  CoreFoundation                 0x1b4e3cec4 __exceptionPr

[2019-01-24 15:11] #1195 closed

[2019-01-24 15:19] n1schal commented on #1191
@cbommas

So I tried configuring things through AWS Amplify and then used AWSMobileClient to do what I was looking to do, but I noticed through federated sign in, I don't get tokens but rather get credentials which has an access key, but no id token.

If I do use the drop-in UI to facilitate the social sign ins, will I get the id token or will i still be returned the credentials?

[2019-01-24 18:11] kvasukib commented on #1194
@vijjuk Sorry for the inconvenience caused. I suspect one of the following could happen.

1) Are you using Pinpoint for a) Analytics only b) Targeting only c) Both Analytics & Targeting? If you intend to use TargetingClient, you need a snippet under `PinpointTargeting`.
[code]

2) When you added the `awsconfiguration.json` file in your iOS app, did you add it to the XCode Project? This exception o

[2019-01-25 17:04] helloniklas opened #1199 "Using fragments to get nicer types on various queries"
Not sure I'm missing something. But if my schema has various queries that gives back say a User object. Like, GetUserQuery and ListUsersQuery. When using the API.swift these comes out as different types. I.e GetUserQuery.Data.GetUser and ListUsersQuery.Data.ListUser, both which are a User object.

Now, I know you can get around this by using fragments in the queries, but since amplify builds all t

[2019-01-25 19:17] owenhay opened #1200 "mqtt connectUsingWebSocket failing despite ATS endpoint"
**Describe the bug**
In iOS 12.1+ mqtt connectUsingWebSocket  is failing due to an SSL handshake failure, despite using the -ats endpoint.  The only thing that is unique in my code is that our endpoint and identiy pool are in different regions (this worked fine before iOS 12.1).

**To Reproduce**
Steps to reproduce the behavior:
[iotSample.zip](https://github.com/aws-amplify/aws-sdk-ios/files/2797

[2019-01-25 20:02] cbommas commented on #1199
@helloniklas
I have tagged this as a feature request and communicated to my colleagues in the CLI team and asked them to weigh in on this thread.

[2019-01-25 20:40] cbommas commented on #1200
@owenhay

The endpoint and identity pool being in different regions doesn't affect anything and it will work. Looking at your code sample, it appears that the  endpoint is not being properly set and you are still using the non-ATS endpoint.

Can you change your code as follows and remove the line where you are setting the baseURL.

       let iotConfiguration = AWSServiceConfiguration(

[2019-01-25 20:55] owenhay commented on #1200
New error (the ats endpoint is responding in our android app if that's helpful):

2019-01-25 12:50:55.712423-0800 iotSample[1812:90396] mqtt connecting
2019-01-25 12:50:55.717788-0800 iotSample[1812:90395] [] nw_connection_get_connected_socket [C4] Client called nw_connection_get_connected_socket on unconnected nw_connection
2019-01-25 12:50:55.717943-0800 iotSample[1812:90395] TCP Conn 0x28004a94

[2019-01-25 20:57] owenhay commented on #1200
Also, thank you for the prompt attention :-)

[2019-01-25 21:41] owenhay commented on #1200
added http:// to my endpoint constant and it's connecting now.  I think I'm unblocked.  thank you!

[2019-01-25 21:46] cbommas commented on #1200
Excellent! I will go ahead and close out this issue. Please feel free to post back here/create a new issue if you run into problems.

[2019-01-25 21:46] #1200 closed

[2019-01-26 16:05] BillBunting opened #1201 "AWSMobileClient AWSUserPoolSignUpViewController Cognito Phone Number Format +1"
**Which AWS Services is the feature request for?**
AWSMobileClient AWSUserPoolSignUpViewController Cognito, Phone number format and validation (+1) returned by cognito sign up.

**Is your feature request related to a problem? Please describe.**
Real users do not know how to enter a phone number using the sign up UI.

The app I have in production receives poor reviews and frequent complaints about

[2019-01-28 00:50] #1032 closed

[2019-01-28 04:35] josh-chai commented on #1177
@rohandubal OK, I will try it before next 2 weeks, then report here. thanks.

[2019-01-28 07:47] docee commented on #1190
@cbommas Any update?

[2019-01-28 10:45] gnsx commented on #720
What was the fault?

[2019-01-28 12:07] morrislwt commented on #1177
Hi, I'm facing the same situation,

I've done the **info.plist** and **configuration.json** setting like above,
When I call
[code]
but didn't pop up Facebook sign in page, and also didn't create user.

I try to use **FBSDKLoginKit**
[code]
It show pop up page and able to get user's profile and email when I click sign in via Facebook page.
but didn't create user in Cognito user pool.
I'm wondering

[2019-01-28 18:46] owenhay commented on #1200
For someone else who researches this issue.  Here is what we had to change:
1. specify the ats endpoint with https
OLD:
```let IOT_ENDPOINT = "xxxxxxxxxxxxxx.iot.us-west-2.amazonaws.com" ```
NEW:
```let IOT_ENDPOINT = "https://xxxxxxxxxxxx-ats.iot.us-west-2.amazonaws.com"```

2. specify the endpoint as part of creating the configuration, instead of using a baseurl:
OLD:
[code]
NEW:
[code]

[2019-01-28 20:32] cbommas commented on #1201
Linking to the open RFC for Auth related requests #1158

[2019-01-28 20:44] cbommas commented on #1153
@rivkiG
The pdf attachment also appears to be a dump of everything running on the device. Do you have logs specific to the app that you can share? Also, have you had a chance to try 2.8.2 of the SDK?

[2019-01-28 20:45] cbommas commented on #1062
@ssferrazza
I will mark this as a bug and put it on our TODO list to fix. I will respond back here when I have more information.

[2019-01-29 00:38] kawells924 commented on #1189
@rromanchuk you're not alone in your feedback, well stated. just don't want to spend cycles on what segment, etc. have long ago solved.

[2019-01-29 04:43] cbommas commented on #1190
@docee
I have a fix that I'm currently testing. I hope to get it included in the next release if all goes well. I will keep you updated on this thread.

[2019-01-29 05:22] rivkiG commented on #1153
thank you for your answer I changed the version to 2.8.2 but it didn't help
as far as the logs I ran the app what for it to crash and send you the logs

[2019-01-29 16:23] ryancrunchi opened #1204 "AWSMobileClient custom auth challenge ?"
**State your question**
Is it possible to use custom auth challenge with AWSMobileClient for signin and signup functions ?

**Which AWS Services are you utilizing?**
Cognito, S3

**Provide code snippets (if applicable)**

**Environment(please complete the following information):**
 - SDK Version: 2.8.4
 - Dependency Manager: Cocoapods
 - Swift Version : 4.2

[2019-01-29 17:00] sunchunqiang commented on #1204
Hi @ryancrunchi ,  AWSMobileClient does not support custom custom authentication challenge up to now.

[2019-01-30 14:57] edfinegan opened #1205 "Include of non-modular header inside framework module 'AWSAppSync.AWSAppSync'"
**State your question**
I'm trying to add the Amplify SDK to an older mildly complex Xcode project. Unfortunately I'm getting the following build error:

Include of non-modular header inside framework module 'AWSAppSync.AWSAppSync' .... Pods/Target Support Files/AWSAppSync/AWSAppSync-umbrella.h

This project is a mix of ObjC and Swift. The build file has had changes made over the years for the mul

[2019-01-30 15:21] thomers opened #1206 "AWS Cognito iOS - InvalidIdentityPoolConfigurationException on sign in, but works after app restart"
I'm developing on iOS, using the AWS SDK 2.8.4, Xcode 10.1, on Simulator running iOS 12.1

I'm using the AWSAuthUI with email/password.

Without any changes that I'm aware of, I now get this weird, 100% reproducable behavior:

Trying to sign in with email/password (with an existing user/password, on the correct pool)  fails with this error:

But when I restart my app, `[[AWSSignInManager sharedIns

[2019-01-30 16:42] dankuchler opened #1207 "Ability to delete a cognito user through the Amplify iOS SDK (AWSMobileClient)"
Is there a way for a user to delete themselves from AWS Cognito through the Amplify iOS SDK (AWSMobileClient)?  Reviewing the Amplify iOS SDK documentation and unit tests for AWSMobileClient I wasn't seeing the right way to accomplish this.

**Which AWS Services are you utilizing?**

AWS Cognito
AWS Amplify iOS SDK

**Environment:**
 - SDK Version: 2.8.4
 - Dependency Manager: Cocoapods
 - Swift V

[2019-01-30 16:43] sunchunqiang commented on #1206
Hi @thomers Can you provide some code snip so that we can reproduce your issue?

[2019-01-30 18:14] sunchunqiang commented on #1207
Hi @dankuchler  Do you mean delete  users themselves from AWS Cognito user pool?

[2019-01-30 18:42] dankuchler commented on #1207
Yes @sunchunqiang .  If the user decides they no longer want to use an application and wants to delete their user account from AWS Cognito - is there a way in the Amplify iOS SDK (AWSMobileClient) to delete a user from the cognito user pool.

[2019-01-31 05:22] Deepak2690 opened #1208 "Live speech to text through transcribe service"
**Which AWS Services is the feature request for?**
AWS Transcribe Service

**Is your feature request related to a problem? Please describe.**
Is aws transcribe service provide support for live audio streaming for speech to text in iOS.
if yes then how can we do that? please help

**Describe the solution you'd like**
I am looking for solution through which we can convert live audio to text through

[2019-01-31 07:21] miralshahvolansys opened #1209 "Crash in AWSIoTMQTTClient.m line 635 -[AWSIoTMQTTClient openStreams:]"
**Description**
Recently we have received a lot of crash logs regarding this, and the code that caused the crash is pointing to AWSIoTMQTTClient.m line 635
-[AWSIoTMQTTClient openStreams:].

We have used AWS SDK version '2.7.3'
It is not reproducible, Based on Fabric logs, we found that in last 30days we have 21 crash logs

**Environment**
 - SDK Version: [2.7.3]
 - Dependency Manager:  Cocoapods

[2019-01-31 11:30] thomers commented on #1206
Hi @sunchunqiang - I'm just using the AuthUI screens. All I'm doing is calling

	if (![[AWSSignInManager sharedInstance] isLoggedIn]) {
		[AWSAuthUIViewController presentViewControllerWithUIViewController:self configuration:authUIConfig completionHandler:^(id<AWSSignInProvider>  _Nonnull signInProvider, NSError * _Nullable error) {
      // etc
     }

What I discovered is that the problem only ap

[2019-01-31 17:57] kvasukib commented on #1208
@Deepak2690 Thank you for reporting to us. Are you referring to Amazon Transcribe Streaming Service (https://docs.aws.amazon.com/transcribe/latest/dg/how-streaming.html) ?

[2019-01-31 20:30] gasta-java opened #1210 "Can't implement Facebook registration to Cognito"
**Environment(please complete the following information):**
 - SDK Version: latest
 - Dependency Manager: Cocoapods
 - Objective C

**Device Information (please complete the following information):**
 - Device: iphoneX
 - iOS Version: [e.g. iOS 12.0]

I get token from Facebook pass it to Cognito but it does not create a user in the user pool. What should I do additionally to create a user?
After g

[2019-02-01 04:07] Deepak2690 commented on #1208
Hi Karthikeyan
the link you have provided is not for iOS application, I am looking same
thing for iOS app. is it possible?

On Thu, Jan 31, 2019 at 11:27 PM Karthikeyan <notifications@github.com>
wrote:

--
Thanks & Regards
Deepak Bansal

[2019-02-01 11:08] #1182 closed

[2019-02-02 12:37] fcouceiro commented on #958
I am also experiencing this.
I do not understand why "aws.cognito.signin.user.admin" is the only scope included in the token even though I did not enable it on app client settings. This makes it rather difficult to interact with an API Gateway resource (read impossible), for our use case, where API Gateway resources require certain custom scopes to be present.

[2019-02-03 19:02] adamup928 opened #1211 "Crash - Federated Sign In Closure"
**Describe the bug**
When returning from the background, the AWSMobileClient sometimes (rarely) crashes somewhere inside `AWSMobileClientfederatedSignInproviderNametokenclosure`

**To Reproduce**
This does not happen on every launch from background.  Otherwise, make sure you're testing against a federated sign in is using a developer-authenticated identity.

**Which AWS service(s) are affected?**

[2019-02-04 17:47] rohandubal commented on #1211
Thanks for reporting @adamup928

I will investigate this issue and update back once I find the root cause.

[2019-02-04 19:41] kvasukib commented on #1208
@Deepak2690 We are taking this as a feature request to the team to support Transcribe Streaming in AWS SDK for iOS. I will let you know the updates on this task when we have more information.

[2019-02-04 19:50] kvasukib commented on #1209
@miralshahvolansys Sorry for the inconvenience caused.
Can you past a code snippet and describe the use case you are trying to accomplish?
What is the authentication mechanism you are trying to use while connecting with AWS IoT?

[2019-02-04 22:40] rohandubal commented on #1210
Hello @gasta-java

The issue here is that you are trying to use 2 different services for the use-case. When you provide the Facebook token in logins map with `graph.facebook.com` it created an identity in `Cognition Federated Identity` service and NOT `Cognito UserPool Service`.

To create a Facebook user in `Cognito UserPool Service`, currently the only way is to use the `AWSCognitoAuth` SDK whic

[2019-02-04 22:46] rohandubal commented on #1207
Thanks for the information @dankuchler

Unfortunately, `AWSMobileClient` currently does not support the `deleteUser` flow. There is however, an alternative path which you can use.

The `AWSCognitoIdentityProvider` SDK supports this feature which you can leverage. You can use the following method:

[code]

To support this feature in `AWSMobileClient` I am taking it as feature request to the team. I

[2019-02-04 22:52] rohandubal commented on #1206
Hello @thomers

I think I understand this issue. This error is thrown when the `UserPool` provider for `IdentityPool` is incorrectly configured. Which means that the `UserPool` sign-in (email password sign in) is successful, but the federation with `CognitoIdentityPool`  (which helps get AWS Credentials) is unsuccessful.

To fix this issue, you need to go to you `Cognito Federated Identities` sett

[2019-02-05 16:51] ryancrunchi commented on #1204
Hello, thanks for your support.

I already have implemented custom auth with `AWSCognitoIdentityProvider`. But I find the new `AWSMobileClient` much easier to use.
I found interactive auth is too much interferring on how we built our view controllers flows, and AWSMobileClient would get rid of this. But I require custom auth, so I will leave my implementation as is waiting for more features on AWS

[2019-02-06 10:51] rohitkowadkar opened #1212 "How should I assign user attributes and user id with existing endpoint using pinpoint SDK?"
**How should I assign user attributes and user id with existing endpoint using pinpoint SDK?**

**PinPoint SDK**

**Need similar functionality in iOS SDK as stated in following code snippet which is in JAVA**
https://github.com/awsdocs/amazon-pinpoint-developer-guide/blob/master/doc-source/endpoints.md

**Environment :**
 - SDK Version: 2.8.4
- Dependency Manager: Cocoapods
 - Swift Version : [e.g

[2019-02-06 11:13] JLau-cy opened #1213 "AppSync subscription connections are dropping with no feedback"
**Describe the bug**
I am noticing that internally AppSync is dropping the web socket connection at random times with unknown reasons and are not reported back to the app. This is problematic as there is no callback for when this happens or when it connects for that matter.

As there is no feedback to web socket connection states from AppSync I cannot detect these connection drops. Other than rela

[2019-02-06 11:59] ryancrunchi commented on #1158
* AWSMobileClient functionality:

  I would like to use custom auth with AWSMobileClient and if possible without interactive auth. I found interactive auth is too much interferring on how we build our view controllers flows.

* Drop-in UI in AWSMobileClient functionality:

I don't like the fact that a business logic SDK (auth) also provides UI. I prefer keeping all control on my UI.

1. Are you us

[2019-02-06 12:41] aslam-unikove opened #1214 "AWS AppSync on a regular interval e.g. every 30 minutes"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Which AWS service(s) are affected?**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2019-02-06 15:06] palpatim commented on #1214
@aslam-unikove

It looks like you may have filed this by mistake--there are no details beyond the content of the bug template. Can you edit the issue to provide details or close this issue if you filed it by mistake?

Also, if this is related to AppSync, please file it on our AppSync issues page: https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/

Cheers.

[2019-02-06 17:24] edfinegan commented on #1205
This issue was caused by an entry in the Header Search Paths and/or Framework Search Paths in the build settings for the project. There was an entry that recursively searches the project at the root level. This would pull in the cocoa pod artifacts. However the cocoa pod artifacts were already included from the Pods Config.File and referenced them in Derived Data.

[2019-02-06 17:24] #1205 closed

[2019-02-06 18:40] rohandubal commented on #1212
Hello @rohitkowadkar

You can use methods which include [`currentEndpointProfile`](https://github.com/aws-amplify/aws-sdk-ios/blob/6ab2982040eaca984eab38e311b98c3b9227b773/AWSPinpoint/AWSPinpointTargetingClient.h#L28), [`updateEndpointProfile`](https://github.com/aws-amplify/aws-sdk-ios/blob/6ab2982040eaca984eab38e311b98c3b9227b773/AWSPinpoint/AWSPinpointTargetingClient.h#L33) and the [`Endpoint P

[2019-02-06 18:57] rohandubal commented on #1213
Hello @JLau-cy

Sorry that you are having issues using the SDK. Could you please help answer these couple questions so that I can better investigate the issue?

- Do you see of data only for the older connections or for ALL the connections?
- The long lived object which you have has a strong reference to the watcher correct?
- Is the network wifi or cellular?

Thanks,
Rohan

[2019-02-06 20:15] JLau-cy commented on #1213
@rohandubal Please find answers below:

* Do you see of data only for the older connections or for ALL the connections?
Whenever I see the connection drop I normally lose the old data. However when the connection drops it typically takes 2-3 seconds before I can make a successful Query or Mutation. If I happen to trigger a Query or Mutation during that time I normally see a timeout error for those

[2019-02-06 22:05] edfinegan opened #1215 "App Sync in ObjC project"
**State your question**
I'm unable to get an ObjC project to see the Swift classes that are part of AWSAppSync. I'm installing the framework via Cocoapods. I'm able to get the sample project working from the documentation if I do it in Swift. If I try to make the same project in ObjC after using "@import AWSAppSync;" I'm only able to reference the symbols defined in a .h from my ObjC code. Am I mi

[2019-02-06 22:08] rohandubal commented on #1215
Hello @edfinegan

AppSync is currently only supported in Swift. It uses swift constructs like `structs` which are not visible to ObjC and is the reason why you see those errors. You will have to use Swift to use the AppSync SDK.

Thanks,
Rohan

[2019-02-06 22:08] #1215 closed

[2019-02-06 22:09] motivus commented on #1158
I'm confused about where to ask a question about customization of the Drop-In UI... but for my Cognito User Pool all I require of the user is their email address and password. Username and phone number are not required. Can someone tell me how to limit the sign up view to just those two elements? The "User Attributes" section of the [docs](https://aws-amplify.github.io/docs/ios/authentication) jus

[2019-02-07 03:06] leandrodemarco opened #1216 "Document awsconfiguration.json format and usage"
**State your question**
I'm trying to report analytics events using pinpoint. Only analytics, no targeting, nor nothing extra.
I'm not using amplify CLI, I've got the Pinpoint project setup via console in browser; I also have the App Client set up in a Cognito User Pool.

However, when application launches It complains and crashes:

I can't find anywhere how the plist or the json should look. I tr

[2019-02-07 07:03] rohandubal commented on #1216
Hello @leandrodemarco

Sorry that you are having issues using the SDK. For the code snippet which you are using, you will need to use an `awsconfiguration.json` file. It should look like this:

[code]

I will try to document this better in our documentation.

Hope this helps,
Rohan

[2019-02-07 07:29] soxjke opened #1217 "Crash in AWSAuthCore *** -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[0]"
**Describe the bug**
App crashes within AWSAuthCore intermittently, presumably at AWSIdentityManager.m:80 while trying to create a dictionary.

An exception message is:
[code]

**To Reproduce**
Crash is intermittent, I grab it from users' crash logs, an example stack trace:

[code]

**Which AWS service(s) are affected?**
AWSAuthCore

**Expected behavior**
No crash

**Screenshots**
No screenhots

*

[2019-02-07 09:01] #1214 closed

[2019-02-07 09:43] returnzer0 opened #1218 "[Auth] Authenticate requests to Pinpoint with Authenticated Cognito Identities"
**Describe the bug**
I want to update the endpoint of a user in swift code, I am copying the sample code from amplify docs and am trying to update their endpoint to APNS but it gives me the following error.

[code]

This is what my swift request code looks like:

[code]

I have set up this app with the Cognito configuration as well, I am able to add channelType: email to the endpoints, but not APN

[2019-02-07 12:03] Motti-Shneor commented on #22
I am in similar situation - I can't use cocoaPods for several technical reasons - besides I really dislike this system as it overruns Xcode native build configurations, and denies lots of flexibility in Apple's build system.

Now I can have AWS repository as my git submodule - but your Xcode project does NOT have any static-lib targets. only frameworks. and since my own project produces an sdk (in

[2019-02-07 13:38] kuchhadiyaa commented on #1154
@muellerfr any updates on this?

[2019-02-07 16:34] erickfox opened #1219 "AWSMobileClient failed in signIn method"
**Describe the bug**
When I try to log in using the SignIn method with user and password, this method has an error: _Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value._, in structure: SessionToken and line: 429.

**To Reproduce**
Steps to reproduce the behavior:
1. call signIn method
2. See error

**Which AWS service(s) are affected?**
AWSMobileClient

**Expected beh

[2019-02-07 17:21] motivus opened #1220 "AWS Amplify iOS SDK problem after adding REST API to Swift project"
**Describe the bug**
Three compiler errors result after setting up and attempting to connect to my REST API back end according to the instructions in the [AWS Amplify iOS SDK](https://aws-amplify.github.io/docs/ios/api#rest-api) guide. The errors occur in the XXXXXXXXClient.swift file in the generated-src folder.

**To Reproduce**
Steps to reproduce the behavior:
From the project folder, according

[2019-02-07 18:01] rohandubal commented on #1220
Hello @motivus

Sorry that you are having issues using the SDK. This error is due to the bridging header not being linked to the project which causes the ObjC SDK code not visible to Swift. You need to add the bridging header path in your build settings. I have tried to capture it in the following image:

![screen shot 2019-02-07 at 9 58 18 am](https://user-images.githubusercontent.com/7157240/524

[2019-02-07 18:05] rohandubal commented on #1219
Hello @erickfox

Sorry that you are having issues using the SDK. To help me debug this, could you provide some additional info?

- Do you have a standard UserPools setup in the backend?
- If not, can you please provide details of a custom setup?
- Could you please show how do the contents of your `awsconfiguration.json` look like? I want to ensure you have the correct constants in it. It should lo

[2019-02-07 18:07] motivus commented on #1220
Thanks @rohandubal! I will attempt to add the bridging header straightaway. I was not able to search / filter on it last night. Let me see if I can find it based on what you shared...

[2019-02-07 18:12] motivus commented on #1220
Awesome. Thank you! That took care of the problem. You may want to update the guide so that the developer builds only after adding the bridging header. As it stands, it directs the developer to build prior to that step. (Granted, someone smarter than I would have figured it out!)

Now, where can I inquire about the unneeded Cognito User Pool the CloudFormation stack created? And where can I find i

[2019-02-07 18:12] rohandubal commented on #1217
Hello @soxjke

Thanks for reporting this. I agree with your analysis that it is likely due to task.result which has the auth token is nil.

Could you please describe what API/ functionality in auth core you are using? This will help me start tracking the code path for this crash. A simple fix would be a null check, but I want to be sure to identify a root cause and fix it.

Thanks,
Rohan

[2019-02-07 18:14] rohandubal commented on #1220
Thanks for the feedback @motivus. I will update the documentation to reflect these steps.

Regarding the stacks created and removing API, you can file an issue in this repository: https://github.com/aws-amplify/amplify-cli and someone will answer the questions.

Best,
Rohan

[2019-02-07 18:14] #1220 closed

[2019-02-07 18:16] JLau-cy opened #1221 "When is it safe to call getIdentityId() after Cognito authentication?"
**State your question**
I am using `AWSCognitoIdentityPasswordAuthentication` for Cognito authentication.

I would like to know when is it appropriate to call `getIdentityId()`? I tried calling it in the `AWSTaskCompletionSource<AWSCognitoIdentityPasswordAuthenticationDetails>` `continueWith` block when it succeeds. However I noticed that the userPool.currentUser() is still nil at this point which

[2019-02-07 19:11] rohandubal commented on #1213
Thanks for the feedback @JLau-cy

I will try to reproduce this issue on my side.

[2019-02-07 19:13] rohandubal commented on #1221
Hello @JLau-cy

The right time to call getIdentityId() would be after you get a successful session callback which has the `idToken` and `refreshToken`, since they are required to get the `identityId`. The tokens from Cognito User Pools are used by Cognito Identity service to issue Identity ID and AWS Credentials.

Thanks,
Rohan

[2019-02-07 19:22] JLau-cy commented on #1221
@rohandubal Thanks for the response.

Can you elaborate on how I will know when I have a successful session callback?

I tried calling `getSession()` in the same block, but since userPool.currentUser() returns nil in that block `getSession()` does nothing. Do I have to call getSession on repeat until it returns something?

Are there no notifications or other delegate functions that indicates succe

[2019-02-07 19:31] minbi commented on #1154
Hi @kuchhadiyaa ,

Currently, specifying custom scopes is only supported via the Oauth client (Cognito Auth SDK) as you have mentioned above. It is not possible to to request custom scopes using the API flow.

I will take this as a feature request to the service team.

[2019-02-07 21:59] motivus opened #1222 "Customize Drop-in auth UI to just require email address and password"
**State your question**
Is there a way to customize the Drop-In UI such that account creation and sign in only require the user to enter an email address and password? Currently, in my use case, username and phone number are not required to access a pre-existing Cognito User Pool.

It is unclear to me in reading the [docs](https://aws-amplify.github.io/docs/ios/authentication) if there's a way to

[2019-02-07 22:42] leandrodemarco commented on #1216
Hello @rohandubal. Thanks a lot, it worked :) I believe that perhaps adding to documentation this would ease things, but that's a personal opinion.

[2019-02-08 02:07] returnzer0 commented on #1218
I think the problem is that I am not using AWSMobileClient to setup pinpoint inside AppDelegate. I would prefer not to use it, is there a way that I can Authenticate pinpoint without the use of AWSMobileClient?

[2019-02-08 05:59] returnzer0 commented on #1218
Trying to initialize MobileClient but I get the following error:

`Static member 'initialize' cannot be used on instance of type 'AWSMobileClient`

[2019-02-08 13:27] erickfox commented on #1219
Hello @rohandubal, I checked my settings, I configured again and now everything works well, I think it could be bad settings in my project. Thanks a lot

[2019-02-08 13:27] #1219 closed

[2019-02-08 15:57] simeondrage opened #1224 "[S3] Completion Handler is sometimes not invoked when the transfer errors due to timeout."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Which AWS service(s) are affected?**

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2019-02-08 15:57] simeondrage commented on #1224
@pablogeek could you add in the details of what you have found out please and any technical information above. Thanks

[2019-02-08 15:58] simeondrage commented on #1224
This ticket is a continuation from https://github.com/aws-amplify/aws-sdk-ios/issues/1065 - please let me know if we should continue to use that one

[2019-02-08 16:44] pablogeek commented on #1224
We are experiencing issues with low internet connections. For some reason the completion callback is not called sometimes in case of timeout or connection error.

We are using transfer utility to upload files to S3

[2019-02-08 19:46] doctorcolinsmith opened #1225 "Please use Semantic Versioning"
Please consider moving to semantic versioning (https://semver.org) for AWS Amplify.  This will make it easier to understand what updates are bug fixes, additions, or breaking changes.  Many popular dependency tool chains (such as Cocoapods and Swift Package Manager) assume semantic versioning as the default behaviour.

In the absence of semantic versioning, clear documentation on your versioning s

[2019-02-08 20:38] returnzer0 opened #1226 "Unable to initialize AWSMobileClient following documented code"
**State your question**
This issue is an offshoot of #1218.

Upon trying to initialize AWSMobileClient, by following the documentation listed [here](https://aws-amplify.github.io/docs/ios/authentication#Initialization), straight copy and paste. I get the following error.

`Static member 'initialize' cannot be used on instance of type 'AWSMobileClient'`

![screen shot 2019-02-07 at 7 50 33 pm](http

[2019-02-08 23:10] pablogeek commented on #1224
I get this and the completion callback is being called.

[code]

[2019-02-09 00:08] pablogeek commented on #932
@commando24 was that fixed?

[2019-02-09 07:14] returnzer0 commented on #1226
I figured it out, it turns out that I didn't include the pod version when installing.

Should be:
`pod  'AWSMobileClient', '~> 2.8.0'`

[2019-02-09 07:14] #1226 closed

[2019-02-09 07:18] returnzer0 commented on #1216
@leandrodemarco Did this work for you? I am facing the same issue and my json is correct.

[2019-02-09 08:23] kvasukib commented on #1224
@simeondrage @pablogeek Sorry for the inconvenience caused.
Can you share a code snippet where you construct the callback object?
Can you try with the latest version of the SDK?
What version of iOS are you using?
What is the state of the app (foreground/background/suspended) when the request times out?

[2019-02-09 08:30] pablogeek commented on #1224
@kvasukib sure :)
iOS 12
SDK 2.8.4
Always foreground

I have been able to reproduce this when I use the networking conditioner (bad network or 100% loss).

[code]

[code]

[2019-02-09 19:33] returnzer0 commented on #1216
@rohandubal what if you only have a cognito user pool and not using an identity pool then could one remove the CognitoIdentity fields?

[2019-02-09 19:36] returnzer0 commented on #1218
I am using AWSMobileClient for setting up now, I get a similar error to #1216.

This is how I set up my pinpoint configuration instead. Users are able to log in via MobileClient but I still get the same error as above.

[code]

[2019-02-09 22:45] pablogeek commented on #1224
@kvasukib I have been playing a little bit and basically the problem is the sdk doesn't provide info about timeouts. The sdk keeps retrying to upload in case of timeout, this is good and it should be in that way, the only thing is the sdk doesn't notify anything about this timeouts. So we can't provide info to the users about the connection status.

[2019-02-10 08:52] Olli2401 commented on #993
I would also need the feature that one can signup a user using facebook token without using the HostedUI, as this might not fit into the applications style. Is there any update planned on this so far?

If not, what would be a workaround for now? Using AWS Cognito IdentityPools?

[2019-02-10 19:48] unmeshk75 commented on #993
We are looking at ways to have users sign-in (or sign-up) using their Google or FB login credentials into our  iOS (and Android) apps that use Cognito User Pools. We have our own screen for sign-up and sign-in, since the stock ones don't let us customize to our needs.
Upon the first sign-in (or through a separate sign-up screen), we want the user to be created in our Cognito pool and be tied to ex

[2019-02-11 00:52] iTransactions opened #1227 "Forcing User to validate credentials if logged-in using new device - AWS Cognito"
**State your question**
I have an iOS app which is integrating with AWS Cognito User pool and I am storing phoneNumber as 'username' with random password. During registration, I am confirming user once they verify code sent over to their phone. Once confirmed, user does not need any other verification. Now, if the user logs in to a new device, since the user already exists, how do I force user to

[2019-02-11 05:39] rohandubal commented on #1222
Hello @motivus

Currently this is not possible to do. I am taking this as a feature request to the team and also linking to our RFC #1158  which will help us determine the features we are going to work on in the near future.

Thanks,
Rohan

[2019-02-11 05:41] rohandubal commented on #1221
Hello @JLau-cy

The `getSession` callback would be the place where once you get a callback and the session is not `nil` you are assured that the tokens are available and `getIdentityId` would not fail.

Thanks,
Rohan

[2019-02-11 05:44] rohandubal commented on #1218
Hello @returnzer0

Does your `awsconfiguration.json` look like this:

[code]

Do you have an approximate timestamp for the above `requestId` which you have posted? I am checking with the service team as well to determine if there is some issue.

Thanks,
Rohan

[2019-02-11 06:48] rohitkowadkar commented on #1212
@rohandubal thanks for your response I have achieved assigning user by following method call
`AWSPinpointTargeting.default().updateEndpoint(ENDPOINTREQUEST)`

[2019-02-11 14:26] thomers commented on #1206
Hello @rohandubal , thanks for the answer.

from what I can tell, the CognitoUserPool ID is specified correctly - but maybe I'm overlooking something?

<img width="1174" alt="screen shot 2019-02-11 at 15 18 48" src="https://user-images.githubusercontent.com/453568/52569133-c28ebe80-2e10-11e9-9449-120d93ce9694.png">
<img width="1250" alt="screen shot 2019-02-11 at 15 15 11" src="https://user-images

[2019-02-11 15:20] william-gill opened #1228 "AWSS3TransferUtility: Upload of image fails with no error response"
**Describe the bug**
I am trying to upload an image to a pre-existing S3 bucket with TransferUtility.

When the request is sent, the completion handler is triggered but the file does not upload.

There is no error message. result.response is nil.

I can't understand why the upload is failing. Sorry if it's something basic; I'm new to AWS and I've tried looking at all the AWS examples out there but

[2019-02-11 16:37] #1212 closed

[2019-02-11 17:03] rohandubal commented on #1213
Hello @JLau-cy I wrote a quick update to our sample using our Events starter sample which demonstrates how to do multiple long lived subs. You can apply the diff on the Github sample to check the changes. Please find the sample attached.
[SampleWithSubs.zip](https://github.com/aws-amplify/aws-sdk-ios/files/2852132/SampleWithSubs.zip)

[2019-02-11 17:16] thomers commented on #1206
Interestingly, the update to use the new AWSMobileClient mysteriously fixed the error message.

To make sure I'm using it correctly - what's the "legacy mode" in AWSMobileClient, and under which circumstances should I be using it / not be using it?

[2019-02-11 18:44] kvasukib commented on #1225
@doctorcolinsmith Thank you for the valuable feedback. I will discuss this feedback with the team and update you based on the outcome of our discussion.

[2019-02-11 18:50] kvasukib commented on #1228
@william-gill Thank you for reporting to us. Sorry for the inconvenience caused.

1) Did you get any progress update when the transfer started?
2) What is the size of the file you are uploading?
3) Do you have transfer acceleration enabled on the bucket?
4) Do you have any bucket configuration / policies set on the bucket?

[2019-02-11 18:54] kvasukib commented on #1224
@pablogeek Thank you for the information. To sum up, the issue is that the `AWSS3TransferUtility` does not provide information about timeout due to bad network conditions. I have few questions and suggestion before jumping on to a fix.

1) Do you get a error in the completion handler when all the retries are eventually completed? If so, is the information in the completion handler helpful?
2) Have

[2019-02-11 18:58] william-gill commented on #1228
Hi @kvasukib thanks for the response!
1. No - there is nothing in the log when the process starts. But I immediately see the result of the print statement `print ("upload successful.")` in the debug.
2. The file is an image 257kb
3. Possibly not; it is the default settings after running `amplify add storage`. I tried again with `tuConf.isAccelerateModeEnabled = false` and it made no difference.
4.

[2019-02-11 20:06] william-gill commented on #1228
Hi,
OK; I have changed the policy on the bucket to be public access read and write.
Now the upload works!

Phew! So it is definitely not an error with the SDK.
Sorry for the false alarm!
The error message could be more useful though! It would have saved me many hours of wondering what the issue is.

Now I need to figure out how to set it up so that I don't need to leave the bucket permissions tota

[2019-02-11 20:11] kvasukib commented on #1228
@william-gill Are you using the `amplify-cli`? It can help you configure public, private and protected folders in your S3 bucket for the different access permissions based on the Cognito Identity. That can help you solve the problem of providing access control to information on your S3 bucket.

[2019-02-11 20:13] #1112 closed

[2019-02-11 20:48] william-gill commented on #1228
@kvasukib yes, I'm using `amplify-cli` - I'll check the docs out more. Thanks a lot for your help, I really appreciate it!

[2019-02-11 21:21] kvasukib commented on #1228
@william-gill Here you go: https://aws-amplify.github.io/docs/ios/storage#storage-access

[2019-02-11 21:22] kvasukib commented on #1054
@BillBunting Have you checked with the latest iOS SDK?

[2019-02-11 21:51] kvasukib commented on #896
@mendirattanishant Sorry for the delayed response.

1) Custom Auth: Have you considered using Custom Auth where you can setup a lambda function which validates the token and its signature and authenticates the connection? See [IoT Custom Authentication](https://aws-amplify.github.io/docs/ios/pubsub#custom-authentication) for further details.

2) Regarding your request, we have a backlog item to pr

[2019-02-11 22:08] kvasukib commented on #1189
@rromanchuk @kawells924 Sorry for the inconvenience caused. I'm summarizing your concerns and my answers here:

1) Issue with setting policies in the IAM console: By `arn:aws:mobiletargeting:*:${accountID}:apps/${appId}*` I mean you would substitute the accountId and appId with the actual identifiers you have.

2) Pinpoint's bigger picture. Yes, you are right. Pinpoint provides many functionalitie

[2019-02-12 02:57] MinCheTsai commented on #1177
Hi @muellerfr
@morrislwt is my partner, he has feedback at 2 weeks ago, please help we, thank you.

[2019-02-12 06:13] #1194 closed

[2019-02-12 07:13] #1116 closed

[2019-02-12 17:08] william-gill commented on #1228
Hi @kvasukib
I wonder if you can help me further.
I cannot get the upload to work on a different bucket.
**I had to switch to a different bucket that was already existing**, as this is one that is being used by other apps and we need to share it. So I cannot use Amplify CLI to configure it.

I have used amplify CLI to configure Auth/Cognito for the app and that looks to be working fine. I have ass

[2019-02-12 18:25] returnzer0 commented on #1218
Hi @rohandubal, I was missing the

[code]

snippet.

I am only using Cognito User Pools, not identity pools. If I set it up using this awsconfiguration.json file it gives me an error. Do I need to set up an identity pool?

[2019-02-12 21:29] pablogeek commented on #1224
@kvasukib

After a few checks I think it was caused by another problem.

1. Yes I get an error in the completion handler.
2. Changing the retry configuration helped
3. There is no need for that I think.

In our project we have to create differents AWSS3TransferUtility for each upload, because each upload have different configuration + credentials. So if there is a timeout and you retry again you r

[2019-02-12 23:24] kvasukib commented on #1224
@pablogeek

1) When you register a `AWSS3TransferUtility` object again for a new transfer or for retry, you need to use a new key identifier for the `AWSS3TransferUtility` object. Are you using a new identifier every time you register?

2) When you try to resume the transfer, can you post a code snippet of how you are resuming the transfer? What are the updates you get from the SDK when you resume

[2019-02-12 23:35] kvasukib commented on #1218
@returnzer0 Thank you for the response. You need a CredentialsProvider which either uses Access/Secret Access Key (long-lived AWS Credentials) or Cognito Identity Pool id (short-lived AWS Credentials) in order to sign the request to Pinpoint.

So with the solution @rohandubal proposed, you would need
[code]

in your awsconfiguration.json file. You need to configure Cognito Identity Pool on your ba

[2019-02-13 05:55] william-gill commented on #1228
@kvasukib Hi again
I've tried absolutely everything to get my app connected to an _existing_ AWS Bucket - but nothing works.

I've checked IAM policies, bucket policy, Cognito pools.
I can see that the device is authenticated by Cognito (because the identity appears in the console). The IAM Policy attached to that pool has **Admin** permission on the Bucket.

I have put the appropriate values for

[2019-02-13 07:23] kimiyash opened #1230 "[S3TransferUtility] `uploadUsingMultiPart` is upload fails at credential update timing"
**Describe the bug**
I'm using a multipart upload with cognito authentication.
But sometimes multipart uploading failed with refresh credential timing.

I have investigated a above behavior with created a uses S3 TransferUtility multipart upload simple project.

https://github.com/kimiyash/S3TransferUtilityMultipartUploadTest/blob/master/S3TransferUtilityMultipartUploadTest/AppDelegate.swift

NOTE

[2019-02-13 11:01] pablogeek commented on #1224
@kvasukib
1 - Yes that what fixed my problem, use a different key or just remove that  before the upload starts
2- We are not doing this yet. I will share you the code I use.

The main issue now is seems the callback doesn't work sometimes when you have a bad connection. I tried the timeouts and it works well, it enters to the callback. But if you are uploading a file, and then you turn off your r

[2019-02-13 13:21] pablogeek opened #1232 "Crash AWSS3TransferUtility.m line 1451"
**Describe the bug**
I got this crash from Fabric

AWSS3TransferUtility.m line 1451
Fatal Exception: NSInvalidArgumentException
Cannot read file at file:///var/mobile/Containers/Data/Application/CDD5C0C8-4F6A-4CBD-B901-1D13ABFBC14E/Library/Caches/S3TransferUtility/102A076D-946B-443E-B8B2-A45D0D2D5ED1

**To Reproduce**
It is not reproducible in my devices

**Which AWS service(s) are affected?**
S3

[2019-02-13 15:35] soxjke commented on #1217
Hi @rohandubal

The list functionality used by the app:

- `AWSIdentityManager.default().logins()`
- `AWSIdentityManager.default().identityId`
- `AWSSignInManager.sharedInstance().resumeSession`
- `AWSSignInManager.sharedInstance().logout`
- `AWSSignInManager.sharedInstance().interceptApplication`
-
[code]

However, I'd try to focus on following tips:
1. There's always `-[GIDSignIn signInSilently]

[2019-02-13 16:46] zigfreid5 commented on #1156
It's probaably worth noting that this is an issue for AWSMobileClient in general, and not specific to the "drop-in" UI. I recently encountered an issue with a changePassword error where this was the message given:

"4 validation errors detected: Value at 'previousPassword' failed to satisfy constraint: Member must satisfy regular expression pattern: ^[\S]+._[\S]+$; Value at 'previousPassword' fail

[2019-02-13 17:48] kvasukib commented on #1228
@william-gill Thank you for the detailed response. Sorry for the inconvenience caused. I checked the `awsconfiguration.json` file and the code snippet you have posted. I couldn't find any issue with the code/json file. Can we get into a call so you can be unblocked? You can email me at karthba at amazon dot com and we can setup a call from there.

[2019-02-13 18:39] kvasukib commented on #1224
@pablogeek Thank you for the quick response.

To sum up, you are facing an issue where the completion handler is not getting invoked under certain circumstances. One of them is when the network is turned off when an upload is in progress. Can you describe other scenarios where the completion handler is not invoked?

[2019-02-13 18:41] pablogeek commented on #1224
@kvasukib Hi!
We have some random cases where completion handler is not getting called. All of them normally happens with bad internet connection.

[2019-02-13 19:48] minbi commented on #1156
Hi @zigfreid5 ,

I agree with the drop-in UI doing a better job of mapping the exception to a more user-friendly message, but for the APIs, these are directed towards a developer. I do see a challenge mapping errors if the text is changing, but a dictionary lookup for partial matches may work.

[2019-02-13 19:56] motivus opened #1233 "Trouble re-wiring Amplify CLI-generated REST API after following iOS SDK instructions"
**State your question**
The following [Amplify CLI issue](https://github.com/aws-amplify/amplify-cli/issues/835) is related to this one, in so far as I am trying to re-wire the Amplify-generated REST API with API Gateway / Lambda components after the CLI created an unwanted Cognito User Pool to interwork with this REST API. It was my intent to integrate with my existing Cognito User Pool.

I have

[2019-02-13 19:59] kvasukib commented on #1228
The issue was related to providing the configuration information via the `awsconfiguration.json` vs the code. The issue was resolved when the information is just provided in one place. Closing this issue.

[2019-02-13 19:59] #1228 closed

[2019-02-13 20:08] motivus commented on #1233
Two screenshots showing my API resource settings:
<img width="746" alt="screen shot 2019-02-13 at 3 04 10 pm" src="https://user-images.githubusercontent.com/14934621/52740499-2e079600-2fa1-11e9-8ef3-46ad15991835.png">
<img width="730" alt="screen shot 2019-02-13 at 3 07 01 pm" src="https://user-images.githubusercontent.com/14934621/52740517-3233b380-2fa1-11e9-93da-656b3fc0f2f4.png">

[2019-02-13 20:14] motivus commented on #1233
I created a new App Client for my pre-existing Cognito User Pool after noticing Amplify created two app clients when it created its User Pool. I definitely needed another one because the first one is for Web access. Here's a screenshot of the settings for the iOS / mobile app client:

<img width="707" alt="screen shot 2019-02-13 at 3 09 59 pm" src="https://user-images.githubusercontent.com/1493462

[2019-02-13 20:18] kvasukib commented on #1232
@pablogeek Sorry for the inconvenience caused. As I can see this error occurred because the SDK couldn't read the file from the path constructed.

[code]

`fileURLWithPath` initializes and returns a newly created NSURL object as a file URL with a specified path. The SDK uses the file name you specify when uploading data through `AWSS3TransferUtility`. Can you give an example of the file name you p

[2019-02-13 20:27] returnzer0 commented on #1218
Hi, @kvasukib. Thanks for your reply.

If I want to provide long-lived credentials. How would I go about doing that? I think, I can create an IAM Role and attach policies to it, and then provide the access/secret key via the iOS app. Something that I think isn't very safe. Is there a safer alternative?

If I were to go with short-lived credentials (Cognito Identity), does that mean I will have to

[2019-02-13 20:29] motivus commented on #1233
Here's how I re-wired the IAM roles Amplify created for the API.

First, here are the roles:

<img width="1057" alt="screen shot 2019-02-13 at 3 16 48 pm" src="https://user-images.githubusercontent.com/14934621/52741236-e1bd5580-2fa2-11e9-9b1b-f37521b5c8a7.png">

Next, here's how I changed my existing Cognito Auth role:

<img width="796" alt="screen shot 2019-02-13 at 3 21 20 pm" src="https://user

[2019-02-13 20:45] motivus commented on #1233
Here are the Lambda functions the Amplify REST API created:

<img width="1160" alt="screen shot 2019-02-13 at 3 31 11 pm" src="https://user-images.githubusercontent.com/14934621/52741941-999f3280-2fa4-11e9-984c-478472bdffb3.png">

I don't know if this API Gateway message under the Lambda function screen is important or not. I've read somewhere that it can be ignored:

<img width="1266" alt="screen

[2019-02-14 00:05] zigfreid5 commented on #1156
@minbi What I'm referring to is not just for the developer. Just about every other AWSTask.Error._userInfo["message"] is pretty much user-friendly. It's the password-related errors that look like garbage.

[2019-02-14 00:46] kvasukib commented on #1177
@morrislwt @MinCheTsai Sorry for the delayed response. There appears to be some disconnect in the understanding of the `federatedSignIn` method.

1) `federatedSignIn`:  No Facebook Pop-up UI from AWS SDK.

Workflow by the SDK: Provide the Facebook Token to federatedSignIn -> Cognito Identity pool -> Identity Id and AWSCredentials

[code]

This method can be used when you manage the Facebook SignIn

[2019-02-14 00:56] kvasukib commented on #1230
@kimiyash Thank you for the details in your bug report. I am looking into the issue. I will post an update when I have more information.

[2019-02-14 00:59] kvasukib commented on #1227
@iTransactions Thank you for reporting to us. I am looking into the issue and I will have an update soon.

[2019-02-14 01:51] docee commented on #1209
We had the same problem. @cbommas

[2019-02-14 02:06] minbi commented on #1156
@zigfreid5 , Ah, thank you for that feedback, I will make sure the service team is made aware of this feedback, but in all transparency, this is not likely to change soon.

[2019-02-14 04:54] kvasukib commented on #1233
@motivus Thank you for the detailed information in the issue. I am looking into it. I will have an update soon.

[2019-02-14 04:56] kvasukib commented on #1178
@gangadharbonda We have released this source code in the latest release. See https://github.com/aws-amplify/aws-sdk-ios/tree/master/AWSCognitoIdentityProviderASF for further details.

[2019-02-14 11:20] morrislwt opened #1234 "AWSCognitoAuth getSession callback is not executed, browser remain."
**State your question**
This is my code
[code]
I got a new user in UserPool when I success login via facebook page,
also receive a url like this:
[code]

but the app still on web page won't dismiss.
When I click "Done" button and login again, get error message
[code]

I do implement configuration
[code]
and also add this function in AppDelegate
[code]
How can I dismiss the browser when user login/

[2019-02-14 12:23] thomers opened #1235 "How to initialize AWSMobileClient properly in ObjC without amplify"
In general, what are the steps to manually initialize the AWSMobileClient from ObjC? I didn't find documentation.

**Which AWS Services are you utilizing?**

AWS Cognito
AWS S3TransferUtility

**Environment:**

* SDK Version: 2.8.4
* Dependency Manager: Cocoapods

To be precise:

Should the configuration be stored in awsconfiguration.json or Info.plist? (Which has precedence?)

Do I need to call "

[2019-02-14 12:27] thomers commented on #1206
Note: I posted a follow-up problem/question here: https://github.com/aws-amplify/aws-sdk-ios/issues/1235

Still fighting with the proper configuration, but this specific issue can be closed.

[2019-02-14 12:27] #1206 closed

[2019-02-14 14:20] pablogeek commented on #1027
@sfisherjr What was the fix finally?

[2019-02-14 14:45] pablogeek commented on #1232
Hello @kvasukib
this is an example of our urls
`file:///var/mobile/Containers/Data/Application/7C049BE9-B1A9-4D42-83C0-9DECB04AF3F2/Documents/E4A4E65F-DC32-4F01-B658-5EA366441448.m4v`

Thanks

[2019-02-14 15:12] BillBunting commented on #1235
Hello. I had a similar problem with an app that I originally wrote from MobileHub. Use of AuthUI should be replaced with AWSMobileClient.sharedInstance().showSignIn which is available in swift only (as far as a I could find).  So, I ended up wrapping all the sign-in and AWSMobileClient to a class in swift code that followed the code in the documentation. AWSMobileClient has been very problematic a

[2019-02-14 22:20] andrewdr opened #1236 "Api.swift file not generated"
**Describe the bug**
Api.swift file is not created after Amplify Push.

**To Reproduce**
Steps to reproduce the behavior:
([following the AWS Amplify iOS Tutorial](https://aws-amplify.github.io/docs/ios/start))
Amplify Init
Amplify Push
Amplify  add api
Amplify Push

**Which AWS service(s) are affected?**
AMPLIFY

**Expected behavior**
After following the AWS Amplify 'Getting Started' tutorial, th

[2019-02-14 22:33] yuth commented on #1236
@andrewdr could you paste the configuration you have for codegen. Its stored in `.graphqlconfig.yml` file which is in the root of your project.

Please obfuscate `graphQLApiId` and ` endpoints` when you paste the content

[2019-02-14 22:40] kvasukib commented on #1236
@andrewdr Sorry for the inconvenience caused. This is an issue with the amplify-cli. I have opened an issue for you in that repository. https://github.com/aws-amplify/amplify-cli/issues/879

[2019-02-14 22:40] #1236 closed

[2019-02-14 23:06] andrewdr commented on #1236
here is my .graphqlconfig.yml file

<img width="688" alt="graphql-config-file-screenshot" src="https://user-images.githubusercontent.com/17263996/52823507-d0477c80-307a-11e9-9f82-a400ee1c7e11.png">

[2019-02-14 23:15] yuth commented on #1236
@andrewdr do you have file named `q` in your project root?

From the screenshot it looks like the generated file would be named `q` instead of `API.swfit`. Could you change the `generatedFileName` to `API.swift` see if that fixes the problem.

[2019-02-14 23:31] kvasukib commented on #1232
@pablogeek Thank you for the quick response. What is the name of the key that is passed in to `uploadData`?

[code]

[2019-02-14 23:34] andrewdr commented on #1236
I updated the file, still getting the errors. Updated file below

<img width="674" alt="updated-graphql file" src="https://user-images.githubusercontent.com/17263996/52824582-bf006f00-307e-11e9-8c2e-9f1560fc25f2.png">

[2019-02-14 23:41] yuth commented on #1236
@andrewdr what error do you get?

[2019-02-14 23:49] andrewdr commented on #1236
From my project

<img width="996" alt="screen shot 2019-02-14 at 5 49 29 pm" src="https://user-images.githubusercontent.com/17263996/52825066-e7896880-3080-11e9-8347-17abfbe58c69.png">

[2019-02-14 23:53] yuth commented on #1236
Could you clarify the following:
1. Do you see any file with `.graphql` extension inside `<proj-root>/graphql/` folder
2. Do you get any error if you run `amplify codegen`
3. Do you see `API.swift` in your project root?

[2019-02-14 23:59] andrewdr commented on #1236
Yes sorry,

1. I have mutations.graphql, queries.graphql, and subscriptions.graphql in the root/graphql folder
2. I do not get any errors when I run amplify codgen
3. Yes, I see API.swift in my project root

[2019-02-15 00:05] yuth commented on #1236
Thanks for confirming. Could you paste contents of `mutation.graphql`

[2019-02-15 00:16] andrewdr commented on #1236
<img width="416" alt="screen shot 2019-02-14 at 6 09 27 pm" src="https://user-images.githubusercontent.com/17263996/52825995-9ed3ae80-3084-11e9-99db-2d43f3d6e8f1.png">

[2019-02-15 00:26] kvasukib commented on #1236
@andrewdr If the `API.swift` is generated, can you check if this file is being part of the XCode target? You can check this by clicking on the file and opening the right pane to see the `Target Membership`?

[2019-02-15 00:43] andrewdr commented on #1236
No, I don't believe it is. How do I add it?

[2019-02-15 00:50] kvasukib commented on #1236
@andrewdr You can read about XCode Target here: https://developer.apple.com/library/archive/featuredarticles/XcodeConcepts/Concept-Targets.html.

1) Click the `API.swift` file and open the right pane (Hide or show Utilities).
2) Find `Target Membership` section
3) Make sure your XCode target for your app is selected here.

[2019-02-15 05:17] kvasukib commented on #1233
@motivus Sorry for my delayed response in this issue. Thank you for your patience.

Is your intent to setup Cognito UserPools for authentication along with APIGateway?
If not, was there an issue you encountered while using amplify-cli which led you to setup Cognito UserPools while you only wanted APIGateway?

Can you describe your use-case in general of what you are trying to achieve with APIGatew

[2019-02-15 05:23] kvasukib commented on #1234
@morrislwt Thank you for reporting to us. Sorry for the inconvenience caused while setting up `AWSCognitoAuth`.

If I understand correctly, you are encountering an issue after successfully signing in.

Have you set up the required configuration information in `Info.plist` for `AWSCognitoAuth`? You can see https://github.com/awslabs/aws-sdk-ios-samples/blob/master/CognitoAuth-Sample/Swift/CognitoAu

[2019-02-15 05:31] kvasukib commented on #1235
@thomers Sorry for the inconvenience caused. I will go over your questions one by one.

1) Should the configuration be stored in awsconfiguration.json or Info.plist? (Which has precedence?)

`awsconfiguration.json` takes precedence over `Info.plist`. When you try to create a client object through the SDK, it first looks over the `awsconfiguration.json` for the configuration information. If it's no

[2019-02-15 06:18] morrislwt commented on #1234
@kvasukib  Thank you for the reply.

I found the problem is I set the
[code]
then the browser won't close,
 when I set URI to **myapp://**, is works.

[2019-02-15 06:22] kvasukib commented on #1234
Thank you @morrislwt for the confirmation. Glad it worked. I'm closing the issue. Feel free to open if you face any issues.

[2019-02-15 06:22] #1234 closed

[2019-02-15 11:53] simeondrage commented on #1224
To expand on what Pablo is describing, what we experience a lot with customers is they attempt an upload (possibly with bad internet connection but not a certainty). the status of our app shows an uploading status but no transfer takes place. The upload doesnt timeout or error. We have to force the app to error by turning wifi off and hard quitting the app. Once the upload has gone into error stat

[2019-02-15 14:17] motivus commented on #1233
@kvasukib No problem at all. I truly appreciate any assistance in understanding Amplify iOS SDK.

My project is very basic at this point. To begin, all I did was follow your [Getting Started](https://aws-amplify.github.io/docs/ios/start) instructions to build an iOS app using the AWS Amplify CLI and the AWS SDK for iOS. So, I started as directed with that [Build A Basic UI in iOS / Swift](https://

[2019-02-15 15:43] shannon-hager-skookum commented on #1158
- Drop-in UI in AWSMobileClient functionality:
3. I want to add custom input fields on the registration screen
The signup fields in the drop-in UI did not match our needs the last time I checked and there was no way to fix this. Maybe it has changed?

5. I want to use the drop-in UI without any navigation controller
Navigation controller is needed during sign up but I normally prefer to present a

[2019-02-15 16:39] thomers commented on #1235
Hey @kvasukib , thanks for the quick response.

"initialize" from AWSMobileClient.swift is not available from ObjC. I tested adding @objc, but that fails:

**How should I call "initialize" from ObjC?**

Here's some more information about my setup:

I'm using Cognito User Pools and Cognito Identity Pools (originally coming from a setup from code generated by the old AWS Mobile Hub, then having to m

[2019-02-15 16:48] thomers commented on #1235
@BillBunting , I feel your pain. :-/

To show the signIn-screen, I use this:

[code]

The method is found in the internal `_AWSMobileClient.h`, which gets imported in `AWSMobileClient.h`.

(But maybe this is the even uglier hack - don't know.)

[2019-02-15 16:53] kvasukib commented on #1224
@simeondrage @pablogeek Thank you for the detailed analysis on this issue. I am looking into reproducing this issue. Either @cbommas or I will follow up with more findings.

[2019-02-15 16:58] simeondrage commented on #1224
Thanks. Just to explain its the same issue as https://github.com/aws-amplify/aws-sdk-ios/issues/1065 we just tried to use the new SDK again and are having the same problems

[2019-02-15 17:28] BillBunting commented on #1235
@thomers

Yes, this may be the reason I decided to go the "can't beat them, join um route." and put the AWSMobileClient code in swift. Yet, most everything else in my app is ObjC including all access to AWS services (DynamoDB, S3, API Gateway, etc).  I went around in circles trying to get it to work in ObjC. I'm very curious and am watching the response closely to see if I could have done things d

[2019-02-15 17:32] thomers commented on #1235
Thanks Bill! I'm curious what AWS / @kvasukib has to say. :)

[2019-02-15 18:00] desokroshan commented on #1073
@bhanuteja501, All the client APIs needed to implement login is now provided through AWSMobileClient. You can find snippets for [initializing](https://aws-amplify.github.io/docs/ios/authentication#initialization), adding [sign-in UI](https://aws-amplify.github.io/docs/ios/authentication#drop-in-auth) and other authentication functionalities [here](https://aws-amplify.github.io/docs/ios/authenticat

[2019-02-15 18:25] kvasukib commented on #1235
@thomers @BillBunting Sorry for the inconvenience caused. We are discussing this issue internally and we will post an update here about our findings. Thank you for your patience.

[2019-02-15 21:22] andrewdr commented on #1236
That worked! I had to manually drag the API.swift file into the project. The file wasn't showing up after dragging via the finder window. Thanks!

[2019-02-15 21:27] kvasukib commented on #1236
Thank you @andrewdr for confirming. Glad it worked!

[2019-02-16 00:32] kvasukib commented on #1218
@returnzer0 Thank you for the detailed response.

I recommend you to use Amazon Cognito Federated Identities as that provides short-lived credentials. You can use either `AWSMobileClient` or `AWSCognitoIdentityProvider`.

If you use `AWSCognitoIdentityProvider`, you have to manage federation of the token into the `AWSCognitoCredentialsProvider` in order to get an identity.

However, if you use `AW

[2019-02-16 03:37] OkiRules opened #1238 "How do I upload an image to Digital Ocean with Swift"
**The bug**
How do I upload an image to Digital Ocean with Swift, I have looked at many tutorials but all of the solutions do not work. My region on Digital Ocean is Singapore

**I have set my access codes in the AppDelegate**

[code]

**To Reproduce**
Run the code.

[code]

 - AWS iOS SDK Version: Latest
 - Dependency Manager: Coacopods
 - Swift Version : Latest
 - Device: iPhone Xs Max
 - iOS Ve

[2019-02-16 08:47] morrislwt commented on #1177
Hi @kvasukib ,

I succeed to signup/login via facebook & google using AWSCognito and AWSMoblieClient,
thank you for your help.
here is my code hope can help someone had same situation
[code]

//And call get session using AWSCognitoAuth sdk
[code]

[2019-02-18 05:57] #1221 closed

[2019-02-18 15:11] palpatim commented on #1238
@OkiRules

Unfortunately, we don't really have expertise getting the S3 SDK to work with the DigitalOcean cloud platform. You might try asking on their [support page](https://www.digitalocean.com/company/contact/).

I will note that your initialization of `DefaultServiceConfiguration` specifies a region of `.USEast1`, which would conflict with a non-AWS region, but I don't have a clear understandi

[2019-02-18 19:38] muellerfr commented on #1177
@morrislwt - thank you for the update, and happy to hear it's working for you. @MinCheTsai, can you take a look at responses provided @kvasukib and @morrislwt and let us know if this solves your issue?

[2019-02-18 20:35] kvasukib commented on #1233
@motivus Can we have a call to resolve the issue further? You can email me at karthba at amazon dot com?

[2019-02-19 16:08] pablogeek commented on #1224
Sorry for this big low, we were able to get a stuck upload. We got lots of these logs. Maybe this gives you some clue.

Thanks!

[code]

[2019-02-19 17:14] kvasukib commented on #1189
@rromanchuk Please let me know if you need any further information.

[2019-02-19 18:22] palpatim opened #1239 "[MobileClient] Check for token validity during initialization"
**Which AWS Services is the feature request for?**
AWSMobileClient

**Is your feature request related to a problem? Please describe.**

In https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/185, @zigfreid5 reported that initializing a MobileClient instance with an expired token nonetheless returned a `.signedIn` user state. It looks like the initialization check looks at the *presence of

[2019-02-20 02:48] returnzer0 commented on #1218
@kvasukib No worries, thanks for your patience as well :)

If I want to go with the `AWSCognitoCredentialsProvider` route, are there any code examples that you could share so that I can set up pinpoint? As mentioned before, I am at a state where moving to `AWSMobileClient` will be too much work, so I am trying to avoid it if possible.

[2019-02-20 12:06] simeondrage commented on #1224
@kvasukib @cbommas did you have an update on this issue at all please?

[2019-02-20 13:30] thomers commented on #1235
@kvasukib , any update on this issue? Thanks!

[2019-02-20 14:40] jspargo opened #1241 "Some data not showing in Pinpoint"
**Describe the bug**
Certain events are not showing in the AWS Pinpoint console despite being triggered by the AWS iOS SDK and appearing the payload sent.

**To Reproduce**
Steps to reproduce the behavior:
1. Fire a number of analytics events using the AWS iOS SDK (`recordEvent`)
2. Verify the payload being sent to pinpoint (using Charles or similar network sniffing tool) to confirm that all the d

[2019-02-20 16:15] palpatim commented on #1241
@jspargo

Can you share the IAM policy for the roles (auth & unauth) that submit events to Pinpoint? Please obfuscate account IDs when pasting, but do verify that they match the expected account ID.

For example, here is one I generated from the Amplify CLI:

[code]

The pieces I'm particularly interested in are `"mobiletargeting:PutEvents"` and `"mobiletargeting:UpdateEndpoint"`. We've seen some

[2019-02-20 17:26] pablogeek opened #1242 "_serviceClients never removes the key once we call AWSS3TransferUtility.remove(forKey: key)"
**Describe the bug**
Even if we remove the transfer utility it won't delete the key from serviceClients. So basically it won't work if you try to create another AWSTransferUtility with the same key later
**To Reproduce**
Register AWSS3TransferUtility.register and then AWSS3TransferUtility.remove

**Which AWS service(s) are affected?**
AWS S3
**Expected behavior**
_serviceClients should delete that

[2019-02-20 18:51] Thuran opened #1243 "[Auth] Maintain user state when migrating from AWSCognitoIdentityProvider to AWSMobileClient"
**Describe the bug**
We have a released application with Cognito implemented with the following pods:
[code]
We tried to switch to the new sdk:
`pod 'AWSMobileClient', '~> 2.8.0'`

But when I try to get the user session, the userState of the initialize's method is signedOut
**To Reproduce**
If we use the "legacy" code, we are able to get the current user session:
[code]
But, if we try to get the u

[2019-02-20 18:55] BillBunting commented on #1201
@cbommas Any update ? estimate when available ?

[2019-02-21 06:43] sykzero2001 opened #1244 "AWS Mobile Hub Analytics Custom Event Fail."
**Describe the bug**
I use the AWSPinpoint Sdk in Xode(IOS),and I success build an endpoint even I can Adding Custom Endpoint Attributes.But when I try to add a Custom Event,It look fine but I can't see this event in the Pinpoint>Analytics>Events

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots*

[2019-02-21 19:26] kvasukib commented on #1232
@pablogeek Are you still facing the issue?

[2019-02-21 22:12] kvasukib commented on #1225
@doctorcolinsmith Thank you for your patience. We will add documentation on what the SDK versioning scheme means (X.Y.Z) in our docs page. I will post an update here when the docs site is updated with the content for versioning scheme. Thank you for bringing this to our attention.

[2019-02-21 22:12] natanrolnik commented on #1033
+1, this is indeed useful.
Also, is there a way to map between a `AWSRegionType` and the actual string identifier for that region?

[2019-02-21 22:14] doctorcolinsmith commented on #1225
Thanks for the update.  Good documentation on the versioning scheme will be a big help on the dependency management in my projects.

[2019-02-21 22:19] desokroshan commented on #1166
@aniketudeshmukh Thanks for stack trace. Apologies for the delay in response. I will try to reproduce the issue on my end and get back to you soon as I can.

[2019-02-21 22:46] kvasukib commented on #1218
@returnzer0 Sorry for the delayed response. I would still recommend using `AWSMobileClient` as it does the federation for you automatically. To answer your question specifically:

`AWSCognitoCredentialsProvider` is an object that retrieves the credentials from Amazon Cognito and supplies credentials to sign the requests to AWS (for example to upload file to S3).

`AWSCognitoIdentityProvider` objec