[2019-02-21 22:55] kvasukib commented on #1233
@motivus Summarizing our discussion from the call.

The intention here is to create a API backed by AWS APIGateway using Cognito UserPools as the authentication mechanism. From the mobile app perspective, when a user is signed in using Amazon Cognito UserPools and a valid token is retrieved, the token will be sent to API Gateway and the lambda function configured in APIGateway authenticates the ca

[2019-02-22 02:12] motivus commented on #1233
@kvasukib I would describe it this way:

The intention is to use AWS Amplify and the iOS SDK to create a REST API that uses API Gateway and a Lambda function to access a pre-existing DynamoDB table. Access to the REST API is only allowed for users authenticated via a pre-existing Cognito User Pool.

As described above, I followed the directions given in the AWS Amplify iOS SDK guide... but had to

[2019-02-22 04:46] muellerfr commented on #1244
@sykzero2001, I transferred this to the actual SDK repo to answer. If documentation updates are required we will make them.

[2019-02-22 05:30] bhavinmdesai commented on #1209
We're also affected with this issue and using AWS Cognito to connect with AWS IoT

[2019-02-22 08:15] pablogeek commented on #1232
@kvasukib I had only a couple of this. So seems it is not happening anymore.

[2019-02-22 16:45] kvasukib commented on #1232
@pablogeek Thank you for your quick response. Since it's intermittent and not reproducible from our end based on the key name, I'm closing the issue. Please feel free to re-open when you encounter the issue again with the key-name passed into `uploadData`.

[2019-02-22 16:45] #1232 closed

[2019-02-22 17:10] jspargo commented on #1241
Thanks @palpatim

I don't think we _have_ any IAM policies setup for use by Pinpoint. We pretty much did a straight replacement of the `AWSMobileAnalytics` pod with the `AWSPinpoint` pod in April 2018.

There was the addition of some settings in our `Info.plist` but nothing about an IAM role (values obfuscated):
[code]

I would have thought if the IAM role was wrong (or not set) that none of the e

[2019-02-22 17:18] jspargo commented on #1241
Sorry, to answer your later questions:

Frustratingly the answer is: somewhere in between those two. It seems like most clients are submitting _all_ events, and some clients (hard to put a figure on it, but I'd hazard a guess that it's a small percentage) are seeing _most_ events but missing some. When events are missing, it's always the same ones. For example, I have one user who if I perform 5 e

[2019-02-22 18:27] SergiusPaulus commented on #1126
I am getting this also.  pod install reported that AWSMobileClient (2.9.1) was installed.  But Xcode is reporting: 'AWSMobileClient/AWSMobileClient-Swift.h' file not found

I did clean and also deleted derived data before building.  Attached file may be helpful.
![screen shot 2019-02-22 at 12 25 14 pm](https://user-images.githubusercontent.com/5297391/53262798-334d9a80-369d-11e9-90c2-3ba63c4520fa.

[2019-02-22 20:55] dpintos10 commented on #993
Have you found any workaround? Im facing exactly the same problem.

Thanks!

[2019-02-23 02:10] AnthonyUccello opened #1245 "Sporadic Failure with syncDataSet.synchronize(): Domain=com.amazonaws.AWSCognitoSyncErrorDomain Code=0 "null" UserInfo={NSLocalizedDescription=null, NSLocalizedFailureReason=AccessDeniedException"
Howdy!

I noticed two older issues without a clear resolution but the exact same problem:
https://github.com/aws-amplify/aws-sdk-ios/issues?utf8=%E2%9C%93&q=NSLocalizedFailureReason%3DAccessDeniedException

For Facebook login specifically (Google works just fine), I am having a hit and miss login. 50-90% of the time, when I call syncDataSet.synchronize() I get this error:

`Domain=com.amazonaws.AW

[2019-02-23 03:40] HayTran94 opened #1246 "AWSMobileClient change password API can not give exactly exception when it failed"
**Describe the bug**
When using AWSMobileClient API to change password, if user give incorrect current password, the API return error object is not instance of AWSMobileClientError to cast error. So I can not display error properly to user.

**To Reproduce**
[code]
**Which AWS service(s) are affected?**
AWSMobileClient

**Expected behavior**
Change password exception object should be instance of A

[2019-02-24 01:32] #1238 closed

[2019-02-24 14:52] JLau-cy commented on #1213
@rohandubal Thank you.

I am still having trouble at monitoring the MQTT connection status. Is it possible to add a `connectionState` property to `AWSAppSyncSubscriptionWatcher` that is updated when `connectedCallbackDelegate` or `disconnectCallbackDelegate` is called?

Without the above, it is not possible to know for certain when a connection state changes.

The scenario that I am trying to solv

[2019-02-24 17:07] alenpesikan commented on #1115
Ui component is not working well in landscape orientation

[2019-02-24 20:45] motivus commented on #1233
@kvasukib Okay, I started from the beginning: I setup a new dev environment on my MacBook Pro (above was on my iMac). I installed the AWS CLI. Then I installed the Amplify CLI. I made sure that I configured Amplify in the same region (us-east-1) as my target (and pre-existing) Cognito User Pool and DynamoDB table. Everything checked out with accessing my AWS resources.

Then I followed the Getting

[2019-02-25 06:33] docee commented on #1190
@cbommas

After we updated to 2.9.1, we found that the problem of Thread restart was solved, but it caused another crash.

The crash information is as follows:

[2019-02-25 20:28] muellerfr commented on #1245
Hi @AnthonyUccello, sorry to hear you are running into issues using Cognito Sync. Are you a new user trying to use Cognito Sync? If so, have you taken a look at AppSync? https://docs.aws.amazon.com/appsync/latest/devguide/welcome.html

[2019-02-25 20:30] AnthonyUccello commented on #1245
Hi @muellerfr

This is some inherited code I am working with. At the moment I was hoping to to find a fix for the current issue. Re-writting to switch to AppSync would be a last resort.

[2019-02-25 20:48] AdelaToderici commented on #1120
I have the same error and I use `2.7.4` version:  [NetworkInfo] Signal strength query returned error: Error Domain=NSPOSIXErrorDomain Code=13 "Permission denied", descriptor: <CTServiceDescriptor 0x280ab93e0, domain=1, instance=1>

[2019-02-25 20:49] muellerfr commented on #1245
Hi @AnthonyUccello, thanks for confirming. We'll investigate and report back here.

[2019-02-25 21:56] palpatim commented on #1244
@sykzero2001

I'm not able to replicate this locally. I note that you have reversed the sense of the `task.error` check--the above code will be logging `update` when `task.error` is ***NOT*** nil. Did you copy this ObjectiveC code from somewhere? If so, can you provide a link so we can ensure that is correct in the sample?

Assuming that fixing the error check doesn't point you to the root cause o

[2019-02-26 02:36] cbommas commented on #1224
@simeondrage @pablogeek

Hey guys, sorry for the delay in my response. I ran a bunch of experiments on my side to reproduce the issue you are seeing and had partial success. These were done using a test app, the network link conditioner, the latest version of the SDk, `timeoutIntervalForResource` set to 60 seconds, and on both simulator and physical device. Here are my findings

- The uploads woul

[2019-02-26 02:45] cbommas commented on #1242
@pablogeek

The key is actually removed, but it is done in the `didBecomeInvalidWithError` callback after the underlying NSURLSession is properly closed. This process is asynchronous, so if you remove and add the TransferUtility using the same key in rapid succession, you can get errors due to timing issues.

The best practice here is to register the TransferUtility as early as possible in one of

[2019-02-26 02:49] cbommas commented on #1230
@kimiyash

Thank you for providing the details for this issue. I am working on a fix for this issue and am targeting it for the next rev of the SDK. I reviewed the PR, but I am leary of using the `waitUntilFinished`, so I am exploring a different approach.

[2019-02-26 02:57] cbommas commented on #1153
@rivkiG

It is hard to provide any other specific guidance unless you have a specific crash log or stack trace. Providing a dump of everything running on the device is not helpful as it is not possible to pinpoint what is causing the application to crash.

As I have mentioned previously, the OS can kill apps running in the background that are aggressively using resources such as memory or network.

[2019-02-26 05:38] pablogeek commented on #1242
@cbommas Thanks for your response. We use different AWS configuration for each upload, we got different keys from Backend. So I can't register the `AWSS3TransferUtitlity` at startup. There are a few cases where it won't enter to this method after removing the `AWSS3TransferUtitlity` The problem I had was clearly not a timing issue.

[2019-02-26 07:39] kimiyash commented on #1230
@cbommas

Thank you for your reply.
I agree with you. Better not to use `waitUntilFinished`.
I thought that it was better for the `createUploadSubTask` method to return AWSTask, however, which would much change to method interfaces, I could not do that by me...
I sincerely hope that a better change will be made and the defect will be fixed :)

[2019-02-26 10:48] simeondrage commented on #1224
@cbommas we have finally got a device back from a customer with the issue and also another device from one of my colleagues. I am sending the devices to Pablo to investigate and then i'll get him to update this ticket. It will probably be Friday/early next week

Are there any plans to improve the callback on a bad network?

[2019-02-26 14:25] alistra opened #1248 "AWSMobileClient confirmSignIn success callback not called"
**Describe the bug**
We use the drop-in UI from Cognito (using `AWSMobileClient.showSignIn` method)
We create a new Cognito user, it starts in the `FORCE_CHANGE_PASSWORD` state.
We try to log in with the username and temporary password in the drop-in UI.
After tapping the Sign In button nothing happens.
User should be presented with a view controller to change password.

We tried to use the manual

[2019-02-26 14:41] alistra commented on #1248
[code]

If we change the code to the above, the success callback starts working.
This happens because the `confirmSignIn` method does the following:
[code]
This callback is shared between `signIn` and `confirmSignIn` methods and if one is called in the callback of another, the callback is cleared.
This should be refactored to separate callbacks.

[2019-02-26 17:28] desokroshan commented on #1248
@alistra Thanks for pointing it out. We will take a look and make necessary changes. It looks like you have it working for now. Please let us know if that is not the case and you are blocked on it.

[2019-02-26 19:14] cbommas commented on #1230
@kimiyash

I have coded up a fix for this issue that doesn't use `waitUntilFinished`. I am targeting to get this included in the next rev of the SDK.  I will post back on this thread once I have confirmation.

[2019-02-26 23:13] pablogeek commented on #1232
Fatal Exception: NSInvalidArgumentException
Cannot read file at file:///var/mobile/Containers/Data/Application/E2B57380-C330-4B2D-90F3-D077F2B05378/Library/Caches/S3TransferUtility/267BCC43-1E9B-428C-8C12-345BB964BB95

@kvasukib  it is happening again for a user :(

[2019-02-26 23:16] palpatim commented on #1241
@jspargo

Thanks for the replies. Unfortunately, even if your app is set up to use them, the IAM roles are difficult to discover, as they are loosely coupled to the pinpoint client only in the role definition.

For example, here is the process I have to go through to find the roles associated with my pinpoint sample app that I recently set up using the Amplify CLI:

* Go to the Cognito console: ht

[2019-02-27 01:44] kimiyash commented on #1230
@cbommas

Amazing!!! I appreciate your work!

[2019-02-27 03:21] sykzero2001 commented on #1244
![2019-02-27 11 17 30](https://user-images.githubusercontent.com/13185357/53463405-c4e45000-3a81-11e9-8cf9-50655092e652.png)
![2019-02-27 11 17 46](https://user-images.githubusercontent.com/13185357/53463412-c877d700-3a81-11e9-9064-13b09ae20fc0.png)
![2019-02-27 11 18 20](https://user-images.githubusercontent.com/13185357/53463417-cb72c780-3a81-11e9-9ee2-28ebf4afebcc.png)
![2019-02-27 11 18 33](ht

[2019-02-27 06:23] #1210 closed

[2019-02-27 06:48] miralshahvolansys commented on #1209
@cbommas  any update on this?

[2019-02-27 09:18] alistra commented on #1248
@desokroshan it's a blocker for us, as we would like to use the drop-in UI, which there is still no workaround and we would like to not have to implement our own UI solution in our project.

The workaround only works for the non-UI login methods

[2019-02-27 10:25] pablogeek opened #1249 "Crash: AWSS3TransferUtility.m line 1451"
I opened this two weeks ago but I have this crash again from few users. Not happening very often
https://github.com/aws-amplify/aws-sdk-ios/issues/1232

AWSS3TransferUtility.m line 1451
Fatal Exception: NSInvalidArgumentException
Cannot read file at file:///var/mobile/Containers/Data/Application/CDD5C0C8-4F6A-4CBD-B901-1D13ABFBC14E/Library/Caches/S3TransferUtility/102A076D-946B-443E-B8B2-A45D0D2D5

[2019-02-27 12:40] karasahinemre opened #1250 "AWS IoT Register Shadow"
**Environment**

* SDK Version: [2.9.1]
* Dependency Manager:  Cocoapods

Hi there,

When I am using iOS SDK register function for registering shadows its automatically subscribe 7 different topics.

In my project, I am using shadows for my smart home devices online status.

When user has more than 7 devices I can not subscribe any of the device topics so I can not receive any messages from device

[2019-02-27 15:11] palpatim commented on #1244
Thanks for the additional context. I replaced the image of your awsconfiguration.json to obfuscate the sensitive information like pool ID and bucket.

When you correct the error condition as I noted above, does your code display any errors during the `submitEventsWithCompletionBlock` execution?

And finally:

[2019-02-27 17:09] palpatim commented on #1077
The APIGatewayClient and its API-specific subclasses use custom network handling rather than the core stack, which means that even defining a retry handler and injecting it into the API client's configuration wouldn't be respected.

The request returned from the API Gateway includes enough information that a caller could potentially inspect and retry manually, but that's not really a good solution

[2019-02-27 18:06] omaraksim opened #1251 "The connection to service named com.apple.commcenter.coretelephony.xpc was invalidated."
I'm using AWSMobileClient for Cognito
signIn seems to work properly but when trying signup this error gets thrown, googling this seems to be related to a bug
UserInfo={NSDebugDescription=The connection to service named com.apple.commcenter.coretelephony.xpc was invalidated.}
2019-02-27 17:23:16.336573+0100 Eggplore[3167:36325] [NetworkInfo] Descriptors query returned error: Error Domain=NSCocoaErr

[2019-02-27 18:10] pablogeek opened #1252 "Crash: NSGenericException when uploading using AWSTransferUtility"
Fatal Exception: NSGenericException*** Collection <__NSDictionaryM: 0x165d96b0> was mutated while being enumerated.

AWSS3TransferUtility.m line 1366
__130-[AWSS3TransferUtility internalUploadFileUsingMultiPart:bucket:key:contentType:expression:temporaryFileCreated:completionHandler:]_block_invoke

**Which AWS service(s) are affected?**
S3 uploads

**Environment(please complete the following infor

[2019-02-28 05:24] demsey2 commented on #993
any updates on this, it looks like the only way to register a user in user pool is to use hosted UI

[2019-02-28 06:51] docee commented on #1250
Why not use Wildcards?

https://www.hivemq.com/blog/mqtt-essentials-part-5-mqtt-topics-best-practices/

[2019-02-28 09:32] simeondrage commented on #1249
Any news on this please? Affecting quite a few of our customers
Possibly linked to us upgrading to 2.9.1

[2019-02-28 11:05] omaraksim commented on #1251
trying this with a real device throws this error
plus I should mention that this only happens for signup, signin is working properly

2019-02-28 12:02:47.579140+0100 Eggplore[667:103982] [NetworkInfo] Signal strength query returned error: Error Domain=NSPOSIXErrorDomain Code=13 "Permission denied", descriptor: <CTServiceDescriptor 0x282481f20, domain=1, instance=1>
The operation couldn’t be comple

[2019-02-28 11:32] Aravind-V-Symantec opened #1253 "Request for allowing the client to customize/specify the filePath in AWSCognitoSQLiteManager"
**Which AWS Services is the feature request for?**
AWSCognitoSQLiteManager

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
We are unable to set a custom path to save the DBs managed by AWS. Due to this, there is no way to share a DB between the App and App-extensions and among apps, usi

[2019-02-28 13:38] omaraksim commented on #1251
I finally found fixed it,
for people who still have this issue this error log is a bit misleading I hope to be changed to something more meaningful
this error means that you have an invalid attribute or more sent in the signup
for my case it was the password not satisfying the rules (letters, number, uppercase, ... )

[2019-02-28 16:32] dpintos10 commented on #993
https://github.com/aws-amplify/aws-sdk-ios/issues/1177 take a look on this might help

[2019-02-28 20:41] pablogeek opened #1254 "(Urgent) Huge memory issue when trying to upload a file. Lots of crashes Out of memory."
**Describe the bug**
It always crashes when upload a big file like 1.5gb. It happens more often in iOS 9 devices because they don't have so much memory. So far I can reproduce the crash 100% of the times using an iPAd mini, iOS 9. This works fine in 2.6.35.

**To Reproduce**
Upload a big file using AWSTransferUtility

**Which AWS service(s) are affected?**
S3

**Environment(please complete the fol

[2019-02-28 21:16] cbommas commented on #1254
@pablogeek

I believe that this directly related to the strategy of creating all the `parts` comprising a multipart-upload when the transfer is initiated. I will look into a better way of creating the parts that doesn't have this memory spike.

[2019-02-28 21:19] cbommas commented on #1252
@pablogeek

Thanks for bringing this to my attention. I believe this is the same issue as #1230. I have a fix for this that I am testing and targeting to include in the next rev of the SDK.

[2019-02-28 21:20] pablogeek commented on #1252
Great! Thank you!

[2019-02-28 21:26] cbommas commented on #1249
@simeondrage
I believe this issue happens when the `part` file is deleted before we kick off the upload task. Possibly more likely to happen if the amount of storage on the device is low and the OS is trying to reclaim space. I will work on putting  logic to safeguard from crashing when this occurs.

[2019-02-28 22:21] swickes commented on #1024
Any solution to this? (Apple is rejecting one of my apps for this exact reason. AWSTaskCompletionSource line 46). I will appreciate any news!
Thanks

[2019-02-28 22:33] aaronetz opened #1255 "Compile error in AWSUICKeyChainStore.h when compiling with -Werror,-Wobjc-property-no-attribute"
I'm building an internal library on iOS that uses AWSCore.Framework. I'm using the latest version of the SDK (2.9.1). There is compile error in one of the files (we have all warnings enabled and warnings as errors):

`AWSCore.framework/Headers/AWSUICKeyChainStore.h:120:1: error: no 'assign', 'retain', or 'copy' attribute is specified - 'assign' is assumed [-Werror,-Wobjc-property-no-attribute]
@pr

[2019-02-28 22:38] #1189 closed

[2019-02-28 22:38] #1177 closed

[2019-02-28 22:38] #1073 closed

[2019-03-01 00:38] motivus commented on #1233
@kvasukib I tried again and the same thing happened: Amplify is not recognizing my existing DynamoDB tables (as described in my last comment). I'm afraid I'm stuck again.

Since I'm not able to re-wire my first attempt and I can't create a REST API in the second, I'm not sure what to do next. It seems this latest problem should be simpler to solve, no?

[2019-03-01 00:56] swickes commented on #1024
I think I found a SOLUTION - for my case anyway. I can consistently create the crash by quickly double-tapping my "Sign In" button. Now, I disable the button after the first touch and voila - no more NSException and crash from AWSTaskCompletionSource.m. (Of course I have to re-enable the Sign In button after "bad password alerts, etc.) Hope this helps someone!

[2019-03-01 01:26] docee opened #1256 "Crash in AWSMQTTSession.m line 633"
**Describe the bug**
I think it may be a crash caused by thread competition.

**To Reproduce**
It is not reproducible in my devices

**Which AWS service(s) are affected?**
IoT

**Expected behavior**
Not crash

**Environment(please complete the following information):**
 - AWS iOS SDK Version: 2.9.1
 - Dependency Manager: Cocoapods
 - Device: iPhone XS / iPhone XR / iPhone XS Max
 - iOS Version: iO

[2019-03-01 02:54] docee opened #1257 "Crash in AWSIoTMQTTClient.m line 1146"
**Describe the bug**
crash

**To Reproduce**
It is not reproducible in my devices

**Which AWS service(s) are affected?**
IoT

**Expected behavior**
Not crash

**Environment(please complete the following information):**
 - AWS iOS SDK Version:2.9.1
 - Dependency Manager: Cocoapods
 - Device: All iOS devices
 - iOS Version:iOS 12 / iOS 11
 - Specific to simulators: NO

**Additional context**
[code]

[2019-03-01 05:27] karasahinemre commented on #1250
My system uses the Device Shadows service to monitor updates to the states of individual devices (which correspond in a 1:1 fashion to Shadow instances) in the user's ecosystem. My app requires to keep track of greater than 50 devices at a given time if the user's ecosystem contains more than 50, meaning i must subscribe to topic $aws/things/<THING_NAME>/update/accepted for greater than 50 <THING_

[2019-03-01 09:43] simeondrage commented on #1249
thank you. I think we might go back to 2.6.35 in the meantime as all our issues started when we upgraded from that!

[2019-03-02 03:15] daviskoh opened #1258 "isSignedIn & isLoggedIn are false even though user is logged in"
**Describe the bug**
A clear and concise description of what the bug is.

After successfully logging in, and relaunching the app, `AWSMobileClient.sharedInstance().isSignedIn` & `AWSMobileClient.sharedInstance().isLoggedIn` are both false. `AWSMobileClient.sharedInstance().currentUserState` is also `unknown`.

**To Reproduce**

A code sample or steps:

1) Login:

[code]

2) Relaunch app

Confirm t

[2019-03-02 10:56] cypcap commented on #1138
I fixed issue by using -ats.iot.us-east-1.amazonaws.com. Thanks

[2019-03-02 19:08] AnthonyUccello commented on #1245
I believe the issue is related to a Facebook Access Token.

There are 2 reasons I have found the token is bugging out. The first is recent versions of the facebook SDK have a bug: https://github.com/facebook/facebook-swift-sdk/issues/286

Moving my facebook login kit down to 4.36 has fixed the first issue.

However, AFTER making a graph request (which we do before calling syncDataset.synchronize()

[2019-03-02 23:43] markfinlabs opened #1259 "Whitelist app allowed to authenticate via universal link challenge in AWSMobileClient auth"
**Which AWS Services is the feature request for?**
AWSMobileClient

**Is your feature request related to a problem? Please describe.**
I have been comparing two methods of accessing our Cognito user pool for the high-security iOS app we are developing: hosted UI (using OAuth2 authorisation code flow with PKCE) and custom design embedded UI (using AWSMobileClient auth methods).

We're not fans of t

[2019-03-02 23:50] markfinlabs commented on #1259
Just to link to feature request list https://github.com/aws-amplify/aws-sdk-ios/issues/1158.

[2019-03-03 18:28] AnthonyUccello commented on #1245
After fixing the nil token issue this problem is resolved.

[2019-03-03 18:28] #1245 closed

[2019-03-04 03:01] sykzero2001 commented on #1244
![2019-03-04 10 59 03](https://user-images.githubusercontent.com/13185357/53708107-d015f200-3e6c-11e9-930f-88ca0f8813e2.png)

[2019-03-04 03:23] sykzero2001 commented on #1244
I will add the Permission PutEvents in Pinpoint IAM,It's work!
But I confuse of that, why my partner use Andorid sdk but he didn't need to add this Permission and it also work?

[2019-03-04 17:02] palpatim commented on #1244
@sykzero2001

Thanks for the update, and I'm glad that the updated IAM policy resolved your issue. It sounds like we there is a difference in the call patterns on iOS vs. Android. What version of the Android Pinpoint SDK is your Android app using?

[2019-03-04 18:09] kvasukib commented on #1258
@daviskoh Sorry for the inconvenience caused. Have you initialized the `AWSMobileClient` when the app is launched? You could do this either in `AppDelegate` or `ViewController`?

The docs for initialize is here: https://aws-amplify.github.io/docs/ios/authentication#initialization

[code]

[code]

When the app is launched again, initialize would fetch the state stored in keychain during the previou

[2019-03-04 18:25] desokroshan commented on #1251
The error message suggests issue with the network connectivity. For the case of error message for invalid attributes, we will investigate the current error messages and update them if required.

[2019-03-04 19:25] kvasukib commented on #1233
@motivus Sorry for the delayed response. I am looking into reproducing the issue on my machine. I will get back to you once I am able to get the setup on my machine.

[2019-03-04 19:56] kvasukib commented on #1253
@Aravind-V-Symantec Thank you for reporting to us. CognitoSync SDK is deprecated and we do not address feature requests in the AWSCognito Sync SDK. We recommend you to migrate to AWS AppSync (https://aws-amplify.github.io/docs/ios/api#graphql-realtime-and-offline).

If you migrate to AWS AppSync, you can accomplish this use-case by passing a custom path for the local database through the cache con

[2019-03-05 00:03] nourahassan opened #1261 "Limit a query with secondary index return no results"
I am having a query that works fine and return results from dynamoDB. When I add a limit  to the query expression it returns zero results.

Here's the code:

[code]

This code returns *62* items, adding limit returns *zero*

[code]

**Environment(please complete the following information):**
 - AWS iOS SDK Version: 2.9.1
 - Dependency Manager: Carthage
 - Swift Version : 4.2
 - Device: Simulator

[2019-03-05 00:21] daviskoh commented on #1258
Gotcha. I was mistaken in thinking that `addUserStateListener` would be able to handle initial state as well. Thank you.

[2019-03-05 00:21] #1258 closed

[2019-03-05 00:55] bennettk opened #1262 "non-ascii characters in user claims sometimes unable to be decoded"
**Describe the bug**
In certain cases- I'm not 100% sure of the sequence, but we've been able to replicate it by creating a user whose first_name or last_name claims end in `-oña` (this was first reported by a user whose first name was 'Doña')- the `claims` portion of the JWT idToken we get back from cognito for the user doesn't decode properly on iOS. In tokenClaims on AWSCognitoIdentityUser.m, w

[2019-03-05 01:12] docee commented on #1257
@kvasukib @cbommas This crash mostly occurs when the app is activated from the background. The number of AWS SDK crashes has reached 90% of the total.
<img width="1121" alt="qq20190305-091133 2x" src="https://user-images.githubusercontent.com/4263278/53773768-b20cc800-3f26-11e9-9a10-8aefea8ad11e.png">

[2019-03-05 01:44] sykzero2001 commented on #1244
![2019-03-05 09 42 56](https://user-images.githubusercontent.com/13185357/53774865-234e7a00-3f2b-11e9-900a-ba3d682314f1.png)
Andorid's doc is
[https://docs.aws.amazon.com/aws-mobile/latest/developerguide/mobile-hub-add-aws-mobile-analytics.html](url)

[2019-03-05 01:50] cbommas commented on #1257
@docee
Thanks for providing the context when this crash is happening. I will update this thread when I have more info.

[2019-03-05 03:42] #1153 closed

[2019-03-05 04:24] Marquis103 commented on #1177
@morrislwt Would you be willing to share your source code file?

[2019-03-05 04:44] HayTran94 opened #1263 "AWSIoT how I can disable reconnect feature"
**State your question**
I want to disable reconnect feature to make my own reconnect mechanism.

**Which AWS Services are you utilizing?**
AWSIoT

**Provide code snippets (if applicable)**
I can not found anywhere.

**Environment(please complete the following information):**
 - SDK Version: 2.9.0
 - Dependency Manager: Cocoapods
 - Swift Version : 4.0

**Device Information (please complete the fol

[2019-03-05 08:05] ikirincic opened #1264 "[Lex] Support passing requestAttributes in AWSLexInteractionKit"
AWSLex

I need to send request attributes in some cases when making requests with interactionKit.
On android requestAttributes is a parameter in text and voice request methods but its missing in iOS version.
Will this be added to iOS?
Is there an alternative for setting requestAttributes?

android method with desired functionality:
 public void textInForAudioOut(final String text, final Map<String

[2019-03-05 12:54] askari01 commented on #567
i would like to open it again. is it possible. thanks

[2019-03-06 01:58] kvasukib commented on #1259
@markfinlabs Thank you for reporting to us. I will discuss this request with the team for prioritization and post an update here when I have more information.

[2019-03-06 02:54] cbommas commented on #1263
@HayTran94

There isn't an option currently to disable auto-retries currently. A work around would be to  set the `baseReconnectTimeInterval` to a large number and issuing a `disconnect` on the client when you get a connection error. Explicitly calling `disconnect` will prevent re-tries from happening.

See #1057 for more information on this topic.

[2019-03-06 03:10] HayTran94 commented on #1263
@cbommas
Thanks for your explanation. I will implement that as your recommend.

[2019-03-06 03:10] #1263 closed

[2019-03-06 10:23] markfinlabs commented on #1259
Thanks very much @kvasukib, we await your response with interest.

[2019-03-06 13:08] HayTran94 opened #1265 "AWS IoT detect internet connection is disconnected very long"
**Describe the bug**
The internet connection is down (still has WiFi connection) but connectionError is trigger very long (between 2 - 3 minutes).

**To Reproduce**
I set up keepAlive is 15s.
Set up WiFi hotpot with 3G connection in another phone.
Connect AWSIoTDataManager successfully.
Turn off 3G connection but still broadcast WiFi hotpot.
........
After 2-3 minute, AWSIoTDataManager will trigge

[2019-03-06 16:58] cbommas commented on #1254
@pablogeek

I am testing a fix for this issue and am hoping to get it included in the next rev of the SDK. I will post back here once I have confirmation.

[2019-03-06 17:03] cbommas commented on #1242
@pablogeek
That is interesting. I did a little more digging on this topic and here are my findings
 - the call to `register` does not check to see if the key already exists and will overwrite a client object that was previously registered.
- the `didBecomeInvalidWithError` callback is invoked by NSURLSession, once the session has been properly closed.

Can you share the error message you were gett

[2019-03-06 17:10] timothyquach commented on #1254
In `AWSS3TransferUtility#internalUploadFileUsingMultiPart`, a serial operation copies file chunks and writes them to a temp directory.

The memory for `NSFileHandle` in `AWSS3TransferUtility#createTemporaryFileForPart` is never released since we don't ever leave the end of an `@autoreleasepool`.
[code]

[2019-03-06 17:35] timothyquach commented on #1254
As far as I can tell, the below fixes the problem.
In the interim, should I be using  `2.6.35` @pablogeek?
[code]

[2019-03-06 17:40] pablogeek commented on #1254
@timothyquach Hey thanks for the update :) yes `2.6.35` is working really well. You should be using that version.

[2019-03-06 19:34] rohit3d2003 opened #1266 "Push notifications for any change in DB (CRUD) when app is closed"
**State your question**
I am building an iOS app using AWS Amplify with appsync. AppSync does provide a way to subscribe to changes in data and it works when the app is running. If the app is closed, how do we achieve the same result? I was looking into AWS Pinpoint but couldn't find a way to trigger a notification based on CRUD operation on DB. Simple example in this case can a chat application w

[2019-03-06 20:39] kvasukib commented on #1266
@rohit3d2003 I have transferred the issue to AWS AppSync iOS SDK repo: https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/195

I will close this issue.

[2019-03-06 20:39] #1266 closed

[2019-03-06 23:21] markfinlabs commented on #1259
Link to corresponding request to Cognito team left on AWS forum: https://forums.aws.amazon.com/thread.jspa?threadID=299724&tstart=0

[2019-03-07 04:54] kvasukib commented on #1261
@nourahassan Sorry for the inconvenience caused. Have you tried with other limit values? Does this happen for any query expression and any dynamodb table?

[2019-03-07 04:57] kvasukib commented on #1264
@ikirincic Thank you for reporting to us. Currently the `AWSLexInteractionKit` doesn't support passing in `requestAttributes`. It only supports session attributes and global session attributes in its API. I am tagging this issue as a feature request.

[2019-03-07 07:29] twinklesaini1996 commented on #1138
hi I am still getting this error in my app

[2019-03-07 07:43] twinklesaini1996 commented on #1138
hi
 can you help me to fix this issue

[2019-03-07 13:56] medvedNick opened #1268 "Add ability to map AWSMobileClientError to underlying string message"
I'd like to show user-friendly error messages received from AWSMobileClient. For instance,

    AWSMobileClient.sharedInstance().signUp(username: loginInfo.phone, password: loginInfo.password) { signUpResult, error in
        // error is an AWSMobileClientError with associated message
    ....

I can add long switch-case for `AWSMobileClientError` enum or add the following check:

    if let .user

[2019-03-07 17:15] nourahassan commented on #1261
I only tried on this case. I will let you know when I try with different table.

[2019-03-07 19:26] #1218 closed

[2019-03-07 19:45] afanaian commented on #370
Thanks for this. Working on this SDK has not been pleasant.

[2019-03-07 22:12] palpatim commented on #1213
Hi @JLau-cy

We are exposing a watcher status as part of https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/42

This feature is specifically intended to allow you to solve the "query/mutate only after subscription is active" use case: once the status is updated to `.connected`, the subscription has received an acknowledgement from the service and is ready to receive updates.

[2019-03-07 22:39] desokroshan commented on #1171
@dannySaron Thanks for reaching out. I will try to recreate the issue at my end and post an update on this thread.

[2019-03-08 13:15] briansullivan1965 commented on #1045
Just had the same problem. The Xcode error log indicated a permissions error:

`…/Xcode/Projects/<project-name>/Pods/Target Support Files/Pods-<project-name>/Pods-<project-name>/Pods-frameworks.sh: Permission ### denied
Command PhaseScriptExecution failed with a nonzero exit code`

I did a chmod +x to the 'Pods-<project-name>-frameworks.sh', cleaned and rebuilt.

It works OK now.

[2019-03-08 20:14] afanaian opened #1272 "Passing nil to client secret causes index out of bounds crash"
**Describe the bug**
Using AWSCognitoIdentityUserPoolConfiguration passing nil for secret causes an index crash.

Passing nil to the optional secret field causes index out of bounds crash.
 '*** -[__NSCFConstantString substringFromIndex:]: Index 9223372036854775808 out of bounds; string length 0'

**Work around: **
Pass empty string ""  - Causes error:
=App client is not configured for secret but

[2019-03-09 04:35] cbommas commented on #1254
@pablogeek @timothyquach

The latest version of the SDK, 2.9.2, has a fix for the memory issue. Please do give this a try and let me know how it goes.

[2019-03-09 04:37] cbommas commented on #1252
@pablogeek

The fix for #1230 is available in the latest rev of the SDK - 2.9.2
Please give this a try when you can and let me know if you are still facing this issue.

[2019-03-09 04:41] cbommas commented on #1230
@kimiyash

After testing, I ended up using a hybrid approach that also utilizes `waitUntilFinished`, which is available in v2.9.2 of the SDK. Please give it a try and see if that resolves the issue for you.

Also, Thank you very much for bringing this issue to our attention and for suggesting the fix.  Much appreciated 👍

[2019-03-09 04:45] cbommas commented on #1249
@simeondrage
I fully understand. I am working on a fix and will update this thread once I have more information.

[2019-03-09 04:46] cbommas commented on #1224
@simeondrage

I will look into see what options we have to improve the callback behavior on bad networks. As it stands, this behavior is largely driven by the underlying NSURLSession, but I will continue to look into it.

[2019-03-09 22:48] kvasukib commented on #1272
@afanaian Sorry for the inconvenience caused.

I can see in `AWSCognitoUserPool` when we try to access the `clientSecret`. There is a nil check before the `clientSecret` can be used to compute the secret hash.

From https://github.com/aws-amplify/aws-sdk-ios/blob/6ab2982040eaca984eab38e311b98c3b9227b773/AWSCognitoIdentityProvider/AWSCognitoIdentityUserPool.m#L300 I can see we do not access the `cl

[2019-03-09 22:50] kvasukib commented on #1268
Thank you @medvedNick for reporting to us. @rohandubal will be reviewing the PR #1270 and will provide updates soon.

[2019-03-09 23:19] afanaian commented on #1272
My apologies. The issue turned out to be a nil secret + empty Pool ID. The empty pool was causing a crash in this line:
- (NSString*) strippedPoolId {
    return [self.userPoolConfiguration.poolId substringFromIndex:[self.userPoolConfiguration.poolId rangeOfString:@"_" ].location+1];
}

Closing issue.

[2019-03-09 23:19] #1272 closed

[2019-03-10 00:41] rohit3d2003 opened #1274 "Deleting object from S3"
**State your question**
I am using AWS Amplify CLI to create S3 buckets to upload/download images. This works great with AWSS3TransferUtility using Cognito but there isn't an example to delete the same object if needed. I tried to delete the object using custom code but I am getting 'Access Denied' issues.
**Which AWS Services are you utilizing?**
AWS S3, Cognito

**Provide code snippets (if appli

[2019-03-10 08:02] RomeoDelta opened #1277 "Can I customize the 'Create new account' window?"
When I ‘amplify add auth’, I added some standard attributes (nickname, family name, given name).
And I performed ‘amplify push’.
I added the codes into the View Controller.

                    AWSMobileClient.sharedInstance().showSignIn(
                        navigationController: self.navigationController!,
                        { (userState, error) in
                        if(error == nil

[2019-03-10 16:09] vincenzon commented on #1036
@ekordin can you elaborate on your work around? When I look at the GIDSignIn.sharedInstance the currentUser is nil. Do I need to instantiate that instance using the AWSMobileClient.sharedInstance somehow?

[2019-03-10 16:59] JimCSaratoga opened #1275 "Error uploading images to S3 using Cognito authentication"
**State your question**

I am having an issue with my first test to implement S3 uploads using Swift 4.2 / cocoa pods / Amplify config.

The file uploads (including creating the private file structure, under a user_identity_id folder) however the file _resulting is a 0B file_ and is owned by the S3 bucket owner (viewing on the AWS S3 dashboard).  This occurs for tests conducted with image/jpeg and

[2019-03-10 19:18] JimCSaratoga commented on #1275
Obviously I don’t know how to do a code snipit correctly.  Sorry about that

[2019-03-11 02:48] kvasukib commented on #1274
@rohit3d2003 Sorry for the inconvenience caused. Do you have the required IAM policy added to the IAM roles (Authenticated / Unauthenticated) of your Cognito Identity-pool id?

Ideally, your IAM role should have a policy like this:

[code]

[2019-03-11 03:38] kvasukib commented on #1275
@JimCSaratoga Sorry for the inconvenience caused.

What is the size of the file you are uploading? Does the file exist on the device?
Did you get state and progress updates for the transfer?

[2019-03-11 04:28] kvasukib commented on #1261
@nourahassan
Do you have a secondary index configured on your DynamoDb table?
What is the number of records you get when you do not specify a limit?

[2019-03-11 05:07] kvasukib commented on #1262
@bennettk Sorry for the inconvenience caused. We are looking into the issue.

[2019-03-11 07:31] nipuncs opened #1276 "Get JWT Token using federatedSignIn"
**State your question**
I am using Cognito as my auth service (`federatedSignIn` method using Facebook) and I need to access AWS API gateway using Cognito. According to the documentation, I need a JWT token to access the API gateway. Since I am using the `federatedSignIn` method, I couldn't find a way to get the JWT token. What am I missing here?

**Which AWS Services are you utilizing?**
Cognito

[2019-03-11 15:42] shannon-hager-skookum commented on #1158
Update after giving the drop-in UI another shot:

**Requiring a navigation controller** isn't a deal-breaker but it's close.

Not being able to **add/remove the fields on the signup form** is a deal-breaker. I'm guessing it is a deal-breaker for most cases and an inconvenience for most others.

Not having checkboxes and links to **Terms of Service and Privacy Policy on the signup** for is a deal-b

[2019-03-11 16:14] muellerfr commented on #1277
Transferred the issue from  aws-amplify/docs to aws-amplify/aws-sdk-ios, since this appears to be a product question.

[2019-03-11 16:35] kvasukib commented on #1276
@nipuncs Thank you for reporting to us. You will need to pass the JWT token that you passed into the `federatedSignIn` method with the APIGateway client.

Construct the headerParameters map as follows:

[code]

Construct the AWS ApiGateway request object as follows:

[code]

You can refer to our docs here: https://aws-amplify.github.io/docs/ios/api#cognito-user-pools-authorization

[2019-03-11 16:38] kvasukib commented on #1158
Request for customizing SignUp UI (https://github.com/aws-amplify/aws-sdk-ios/issues/1277)

[2019-03-11 16:38] kvasukib commented on #1277
@RomeoDelta Thank you for reporting to us. I have added a note on https://github.com/aws-amplify/aws-sdk-ios/issues/1158 RFC about your request.

[2019-03-11 17:44] nourahassan commented on #1261
Without setting limit it will return 30 records and with limit it returns no records. And yes the index is configured on the DynamoDB table.

[2019-03-11 19:45] JimCSaratoga commented on #1275
Thanks for the quick reply.  The files are manually in the main group folder of the Xcode app at the moment.  The txt file is 2kb and the jpeg is 26kb.

Unfortunately there is no progress update (I've added an IBOutlet for a progress bar) yet just from a simple print of the progress object results with

"progress = <NSProgress: 0x60000335d540> : Parent: 0x0 / Fraction completed: 0.0000 / Completed

[2019-03-11 19:53] kvasukib commented on #1275
@JimCSaratoga Thank you for the quick response. Assigning to @cbommas to triage the issue further.

[2019-03-11 21:21] afanaian commented on #1235
@kvasukib

Are these the only two ways to pass config items?

[2019-03-11 21:52] zigfreid5 opened #1278 "Crash in AWSMobileClient.getTokens()"
I'm getting crash reports signaling a crash in AWSMobileClient.getTokens(). This is possibly occuring when `releaseSignInWait()` is called without an active request waiting for sign in? Here's the stacktrace:

[code]

Crashlytics is also showing this detail:

BUG IN CLIENT OF LIBDISPATCH: Unbalanced call to dispatch_group_leave()

Calling AWSMobileClient.sharedInstance().releaseSignInWait() manual

[2019-03-11 23:56] rohit3d2003 commented on #1274
@kvasukib - Thanks for the suggestion. The policy does have all the necessary permissions but I forgot to pass 'public' in the key while deleting the file

[2019-03-11 23:56] #1274 closed

[2019-03-12 00:00] kvasukib commented on #1261
@nourahassan This is how pagination with filters works with DynamoDB. When you have a filter expression and limit, DynamoDB first applies the limit and gets limit number of records and then applies the filter on top of it. [limit first, filter second strategy].

You would be getting a pagination token with the response which you can use to retrieve the next set of records.

Documentation:

In a re

[2019-03-12 00:11] RomeoDelta commented on #1277
Thank you!

[2019-03-12 00:11] #1277 closed

[2019-03-12 04:27] rohandubal commented on #1268
Hello @medvedNick

This is an interesting ask, to make sure we deliver it the correct way, I want to get your thoughts on couple things --

1. AWSMobileClientError currently has error messages which are targeted to developer and sometimes the end user. How do you intend on making sure the end-use does not see the messages targeted for developer?
2. Using the switch / else if of AWSMobileClientErro

[2019-03-12 05:10] rohandubal commented on #1262
Hello @bennettk

I can confirm I can reproduce this issue on our side. I will sync with the service team if there are any specific guidelines on supporting characters like `ñ`. Once those details are clear, I will work on a fix for the issue.

Thanks,
Rohan

[2019-03-12 05:50] rohandubal commented on #1251
This is likely an Xcode 10 issue: https://stackoverflow.com/questions/52455652/xcode-10-seems-to-break-com-apple-commcenter-coretelephony-xpc

Could you please try the solution mentioned in the stackoverflow post and check if it fixes the issue for you?

[2019-03-12 05:57] rohandubal commented on #1246
Hello @HayTran94

Sorry that you are having issues using the SDK.

I have root caused this issue to this line:
https://github.com/aws-amplify/aws-sdk-ios/blob/master/AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClientExtensions.swift#L504

We are not casting the error to appropriate `AWSMobileClientError`. I am working on a fix for this issue and it will be fixed in an upcoming release.

Thanks,
Ro

[2019-03-12 05:59] nipuncs commented on #1276
@kvasukib  Thank you for the quick response. Actually, my issue is not with the`APIGateway`, I want to get JWT token via `federatedSignIn`.

I have managed to get the JWT token via normal `signin` (using the phone number and password). but when I am trying to get JWT Token via `federatedSignIn`, it gives me below error.

[code]

Is `AWSMobileClient` provides this feature?

**Note: The codebase for

[2019-03-12 07:19] ymurali commented on #987
Hi I got this error when I tried to

    guard let request = AWSRekognitionIndexFacesRequest()
            else {
                return
        }
        let image = AWSRekognitionImage()
        let s3Object = AWSRekognitionS3Object()
        s3Object?.bucket = "bucket"
        s3Object?.name = "img.jpg"
        image?.s3Object = s3Object
        request.maxFaces = 3
        request.image = imag

[2019-03-12 08:53] zigfreid5 commented on #1278
The description says it will release "any" pending requests, and I don't think crashing should ever be an appropriate side-effect, so at a minimum, number 1 should be a given.

That being said, the behavior is a bit disjointed and unexpected. The handler for an unauthorized request happens entirely separate from the request itself. As mentioned, the current behavior is already causing confusion an

[2019-03-12 10:10] rohandubal commented on #1276
Hello @nipuncs

The `federatedSignIn` feature allows you to provide a token from an external provider like Google or Facebook that helps you get AWS Credentials in return. The expectation for `federatedSignIn` API is that you provide the SDK with the token.

Does this make things clear?

[2019-03-12 10:13] rohandubal commented on #1278
Thanks for the detailed response @zigfreid5

I agree that crash is not a preferred option and at the very least we should make sure the SDK makes releaseSignInWait a no-op if there are no pending tasks.

Tagging @undefobj @nikhil-dabhade and @minbi to get their thoughts on this issue.

[2019-03-12 10:39] AngeloGiurano commented on #1177
Hi @kvasukib I'm looking on how to federate with Amazon Cognito UserPools, moreover I'm looking on an official flow to how to create an user in an UserPool after using the `federatedSignIn` any ideas on it?

[2019-03-12 11:41] JimCSaratoga commented on #1275
@kvasukib @cbommas Just thinking through the upload function.

I'm wondering if the file structure in Xcode needs to replicate the private/{_user_identity_id_}/data... as it does with the delivery of the key to the transferUtility.uploadData function.  If so then it represents a couple of issues that I can think of - first is that it would be very hard to replicate the structure within the app and

[2019-03-12 13:27] nipuncs commented on #1276
Hi @rohandubal,
Thank you, I think I understood the scenario. Please verify whether I am correct or wrong.

**1. Login via FB using `federatedSignIn `**
[code]
2. Invoke the API
[code]

Is this correct?

Thanks!

[2019-03-12 16:23] kvasukib commented on #1177
@AngeloGiurano Thank you for reporting to us. This issue is closed. Can you create a new issue with more information on what you are looking for? We can continue our conversation on the new issue.

[2019-03-12 17:06] minbi commented on #1278
I had a discussion on another thread where the customer pointed out that we could remove the blocking behavior when the developer has not set the user state listener. This would eliminate the times that `releaseSignInWait` is called when there are no pending tasks.

For number 1, it probably makes sense to prevent the crash.

@zigfreid5 , are you calling `releaseSignInWait` in response to a *_INVA

[2019-03-12 18:18] AngeloGiurano opened #1280 "Create user in UserPool after federatedSignIn using Drop-in Auth UI"
**State your question**
I'm looking for an official flow to how to create a user in an UserPool after using the federatedSignIn through the Drop-in Auth UI any ideas on it?

**Which AWS Services are you utilizing?**
Cognito

**Environment(please complete the following information):**
 - SDK Version: 2.9.0
 - Dependency Manager: Cocoapods
 - Swift Version : 4.1

[2019-03-12 19:06] nourahassan commented on #1261
Is there a way to get the latest record with some criteria on DynamoDB using one call?

Can I also suggest to rename the expression.limit to be `pageSize` something to reflect what did you explain about its functionality.

[2019-03-12 19:10] afanaian opened #1281 "AWSMobileClient - Passing Pool ID / Client ID outside awsconfiguration file?"
I'm trying to initialize pool/client IDs without having to use .json or plist files. I've searched all over the docs + tried every sample SDK. Using AWSCognitoIdentityUserPool.register doesn't seem to take any effect on AWSMobileClient (For obvious reasons).
I'm just trying to sign in (depending on which pool they pick) --> Get tokens.

Is this really not supported?

**Which AWS Services are you u

[2019-03-12 23:49] zigfreid5 commented on #1278
@minbi I am not manually listening and responding to any AWS signals. I have only registered a user state listener via the `.addUserStateListener(self)` call.

I like the idea of not blocking requests when there is no user state listener registered in addition to implementing the number 1 suggestion. However, I think these token expiration situations may be better off with their own listener/handl

[2019-03-13 03:27] morrislwt commented on #1177
Hi @Marquis103
I post my source code [here](https://github.com/aws-amplify/aws-sdk-ios/issues/1177#issuecomment-464317503)
using AWSCognitoAuth and AWSMobileClinet can create a user in cognito user pool,

make sure you give each login method detail such as Facebook / Google from info plist or code

[code]

also imlement this delegate
[code]
Hope this can help you.
Thanks.

[2019-03-13 05:05] Marquis103 commented on #1177
thanks @morrislwt

[2019-03-13 09:53] AngeloGiurano commented on #1177
Thanks @morrislwt however I'd like to point out this would work out just by using a custom UI, is there a way also if you use the Drop-In Auth UI?

[2019-03-13 11:21] AngeloGiurano commented on #1177
@kvasukib Done, the new issue is here https://github.com/aws-amplify/aws-sdk-ios/issues/1280

[2019-03-13 12:49] jspargo commented on #1241
Hi @palpatim - thanks for your response and sorry for my slow response.

I followed your helpful steps and this seems to have gone almost all the way to resolve this issue. There is one outstanding issue though that you may want to be aware of.

We are using AWS Kinesis to stream the data from PinPoint to S3 where it then retrieved by a data analysis application. I can see that the data is now mak

[2019-03-13 14:27] thomers commented on #1235
@kvasukib , what was the outcome of your internal discussions? How to proceed?

[2019-03-13 16:56] thomers commented on #1235
So, I was going through the code in AWSMobileClient.swift and _AWSMobileClient.m and tested a couple of things.

This is my summary:

It seems that AWSMobileClient cannot be correctly initialized from ObjC, at all.

Why?

* The new, designated initializer `AWSMobileClient.initialize` is not available from ObjC (see above).

* If used in "legacy mode", `AWSMobileClient` fails to get properly in Obj

[2019-03-13 17:51] BillBunting commented on #1235
This explains why I had success when I wrapped all calls from Objc to AWSMobileClient in a swift helper class. Calls to DynamoDB, S3, etc. all work fine from Objc once the AWSMobileClient is initialized and sign in is completed in swift via the helper wrapper.  (Probably unrelated, but Google Federated sign-in tokens are not automatically refreshed and the user is forced to sign in after every hou

[2019-03-14 00:47] kvasukib commented on #1261
@nourahassan Can you elaborate on what do you mean by the `latest` record? Is it the last updated record in the table?

For renaming, I will take this feedback to the team.

[2019-03-14 01:37] Marquis103 commented on #1280
This would be ideal...and I'm not sure why this isn't possible...the only thing lacking using aws cognito sdk vs other providers imo

[2019-03-14 08:12] thomers commented on #1235
@BillBunting I guess I'll have to use your approach until AWS replies / fixes the problem.

Did you find out why you had to call `getIdentityId()` multiple times to retrieve the identityId? Is this a timing issue?

Maybe my main problem is that I call it only once.

[2019-03-14 09:42] morrislwt commented on #1177
Hi @AngeloGiurano ,

I tried Drop-In Auth UI before, but not able to create a user in Cognito user pool.

Sorry.

[2019-03-14 13:26] nourahassan commented on #1261
Say I am having posts by some authors, posts can be categorized. I want to show latest post an author wrote in a specific category.

In SQL db, the query should look like:

`select * from posts where author = x and category = y ordered by time desc limit 1`

[2019-03-14 14:42] alperenguclu commented on #905
@cbommas @kvasukib
Is there any update about this issue?

[2019-03-14 18:13] BillBunting commented on #1235
A lot of trial and error resulted in calling it multiple times until it was available. What ended up working for me was to repeat until the sign in resulted in returning an identityId.

[2019-03-15 01:53] ChuckZoo opened #1289 "APIGatewayClient fail to authenticate when identityId is part of the rest api path. Solution provided!"
**Describe the bug**
I found this issue when I send request to my APIGateway API.
APIGateway Path: users/{identityId}/info
Expected URL: users/us-east-1:6e79ea21-4ed9-45cf-8037-de5129163b42/info
Actual URL: us-east-1%3A6e79ea21-4ed9-45cf-8037-de5129163b42

Problematic Method:

- (AWSTask<AWSAPIGatewayResponse *> *)invoke:(AWSAPIGatewayRequest *)apiRequest

It encodes the identityId in the url path

[2019-03-15 07:08] rohandubal commented on #1289
Hello @ChuckZoo

Sorry that you are having issues using the SDK. This does seem like a URL encoding issue.

Could you please give some details so that we can debug and fix the issue?
- How are you using the API Gateway SDK? Are you using a generated SDK or raw invocation by passing all parameters?
- How do you pass the identity id to the request?
- Could you provide a sample code snippet by which

[2019-03-15 07:10] rohandubal commented on #1281
Hello @afanaian

Unfortunately this is currently not supported. You will have to use an `awsconfiguration.json` file to provide the values for your UserPoolId etc.

Is there a specific reason why you are unable to add the values in a configuration file?

I will take this as a feature request to the team and update here once we prioritize it.

Best,
Rohan

[2019-03-15 07:14] rohandubal commented on #1280
Hello @AngeloGiurano

Currently this feature is not supported by the Cognito Service. For creating a UserPool user when using Social Providers, it can only be done when using Hosted UI.  I will take this as a feature request to the team.

On side note, starting 03/14 `AWSMobileClient` now supports the HostedUI flow as well which you can use in your app.  You can find the documentation here: https:

[2019-03-15 07:17] rohandubal commented on #1276
Yes, the code which you have written is correct and would invoke API Gateway using AWSCredentials that are obtained using Facebook federation.

[2019-03-15 08:00] AngeloGiurano commented on #1280
Hi @rohandubal, thank you for your reply.

I will try out the HostedUI and I do appreciate taking this as a feature request, hope this will take into consideration from the team and will be available in future!

Thank you!

[2019-03-15 09:05] nipuncs commented on #1276
Hi all, Thanks, Then this is resolved.

[2019-03-15 09:05] #1276 closed

[2019-03-15 11:20] N1LaT opened #1302 "Crash on logout (after Federated LogIn)"
**Describe the bug**
Okay so I have no idea if I'm doing this right because the Docs about this are rather... thin.
I managed to get my app custom login (not drop in) working, via a Userpool as well as with Identities (Facebook, Google).
After the normal login routine has finished I call federeatedSignIn to let AWS know I signed in with a federated sign in. This is working, I can do Cognito DB que

[2019-03-15 13:08] JimCSaratoga commented on #1275
Morning gents -  appreciating that you are answering and researching multiple inquiries like this one - any thoughts on the 0B file that I could potentially look at to assist ?  Thank  you !

[2019-03-15 14:09] ChuckZoo commented on #1289
Hi Rohan

- I have the backend by serverless framework, so I have to do the raw invocation instead of amplify generated.
- I passed the identity in the url path, so I can utilize AWS IAM to authorize. My API gateway path is like users/{id}/info, which id is the identity id
- Here's how to invoke the api. As you see below, the problem is that urlString I passed in gets encoded by the SDK.
`
let req

[2019-03-15 14:11] ChuckZoo commented on #1289
I solved the problem by modifying AWSAPIGatewayClient.m and removing the urlEncoding in the following method:

- (AWSTask<AWSAPIGatewayResponse *> *)invoke:(AWSAPIGatewayRequest *)apiRequest

[2019-03-15 15:08] afanaian commented on #1281
@rohandubal I don't have issues adding the values to the config file, but it isn't ideal to add the values at run time. The client requires to point to different user pools depending on what the server returns. I'll manually edit the config file for now, but please keep it as a feature request.

[2019-03-15 18:45] zhang-bo-lilly opened #1291 "Xcode hangs at archiving AWSMobileClient for WatchKit app"
The issue is isolated in a standalone barebone WatchKit project [here](https://github.com/zhang-bo-lilly/AWSMobileClientWatchKitFreeze). The app runs fine in the simulator. However, Xcode hangs during archiving. I am using Xcode 10.1, Swift 4, and the cocoa pods 1.5.3. Would be happy to know if there is anything wrong with my build settings.

[2019-03-16 17:05] markfinlabs opened #1298 "2.9.3 AWSMobileClient & AWSCognitoAuth compatibility"
I just wanted to note to developers that when upgrading from 2.9.1 to 2.9.3 my pod file which included both ```pod 'AWSCognitoAuth'``` and ```pod 'AWSMobileClient'``` caused build errors until I removed  ```pod 'AWSCognitoAuth'``` and replaced ```import AWSCognitoAuth``` with ```import AWSMobileClient``` in my project.

I am not requesting any change just noting simultaneous use of AWSCognitoAuth

[2019-03-16 17:08] rohandubal commented on #1291
Hello @zhang-bo-lilly

Thanks for report this, I will investigate this and reply back with an update.

[2019-03-16 17:11] rohandubal commented on #1298
Hello @markfinlabs

Apologies that you are having issues using the SDK.

`AWSMobileClient` now includes features which cover the features included in `AWSCognitoAuth`, so you are correct in what you have noted. I am still curious about understanding the use-case where you need both `AWSMobileClient` and `AWSCognitoAuth`? Also as an implementation detail -- `AWSMobileClient` also includes the sourc

[2019-03-16 17:24] markfinlabs commented on #1298
Thanks for the amazingly quick response. We did have both AWSMobileClient and AWSCognitoAuth in our app because we are still undecided on whether to use the hosted UI or not (hopefully not) when accessing our user pool. So we have multiple auth solutions implemented.

However as AWSMobileClient is now a strict super-set of AWSCognitoAuth (as suspected when no source changes required and confirmed

[2019-03-16 17:26] rohandubal commented on #1291
Hello @zhang-bo-lilly

I clone the project and tried archiving and was able to do that successfully. It might be an issue with the local environment. Have you tried cleaning and building?
<img width="1081" alt="Screen Shot 2019-03-16 at 10 25 05 AM" src="https://user-images.githubusercontent.com/7157240/54479027-ebbaba00-47d5-11e9-80f1-d60373cee701.png">

Best,
Rohan

[2019-03-16 17:29] rohandubal commented on #1298
@markfinlabs Understood, thanks for the detailed explanation!

`AWSMobileClient` currently takes a dependency on `AWSCognitoIdentityProvider` directly which would mean that there would be absolutely no compatibility issues.  And as you noted, for custom auth flow you might have to use `AWSCognitoIdentityProvider`.

[2019-03-16 17:34] markfinlabs commented on #1298
Okay, thanks, next thing after moving over to updated AWSMobileClient API will be to investigate custom auth flow with AWSCognitoIdentityProvider and how this works in conjunction with AWSMobileClient. And then examine pros/cons of this vs hosted UI.

[2019-03-16 17:35] #1298 closed

[2019-03-16 18:09] zhang-bo-lilly commented on #1291
Hello @rohandubal, thank you for testing it out. I have tried cleaning the build folder but the problem still exists, not only for the WatchKit app, but also for a standalone barebone iOS app. My Xcode is version 10.1 (10B61) and my OS is 10.13.6. If there is more information about my local environment you want to know, please let me know.

<img width="1409" alt="Screen Shot 2019-03-16 at 1 57 45

[2019-03-17 04:33] Georycoco commented on #1126
I am having the same problem with"AWSCognitoAuth_Internal.h"
Anyone have a solution?
![Uploading Screen Shot 2019-03-17 at 3.31.50 pm.png…]()

[2019-03-17 17:10] drwjf commented on #1235
There is the problem in 2.9.3 too.

[2019-03-17 17:54] rohandubal commented on #1262
Update: I have discussed this with the service team and this is a valid and supported use-case and needs to be fixed in the SDK. We will work on a fix and update the thread once we have a fix out.

[2019-03-17 19:24] rohandubal commented on #1243
Hello @Thuran

`AWSMobileClient` manages state by storing credentials in the keychain. When using AWSCognitoIdentityProvider and signing in a user, the AWSMobileClient is not aware about the user state and hence will never have the useState of signedIn. To migrate to use AWSMobileClient for an existing application, you will have to require the end-user to re-login into your app so that `AWSMobileC

[2019-03-17 19:26] rohandubal commented on #1289
Thanks for the report @ChuckZoo

I will also test to determine the impact of that change on other parameters before we can make the change in the SDK.

Best,
Rohan

[2019-03-17 19:26] rohandubal commented on #1281
@afanaian thanks for the explanation. That makes sense, I will mark this as feature request and take it to the team!

[2019-03-17 20:43] rohandubal commented on #1248
Hello @alistra

This seems more to me like a race condition. The major indication being that once you use the main thread dispatch everything starts working. It might have to do something with the order of the calls. I will investigate and reply back once I identify the root cause.

Best,
Rohan

[2019-03-18 01:44] Thuran commented on #1243
Hy @rohandubal,

I understand, but I think it's really bad. Because everyone who will migrate to the new SDK, they will have to log off their users, and in our case this is very annoying for them.

Thanks for your response.

[2019-03-19 16:52] #1242 closed

[2019-03-19 17:54] JLau-cy opened #1304 "AWSCognitoIdentityCustomChallengeDetails.task.continueOnSuccessWith is called regardless of failure"
**Describe the bug**
AWSCognitoIdentityCustomChallengeDetails.task.continueOnSuccessWith block is called regardless of authentication failure.

Given a user account does not exist in the backend
When I call `AWSCognitoIdentityCustomChallengeDetails.task.continueOnSuccessWith `
The block passed into `continueOnSuccessWith` is executed (this is where my success handling code is)
But after the block

[2019-03-19 19:21] SergiusPaulus commented on #1126
I was able to resolve my issue by updating both my iOS project to deployment target 11.0 and this line in my Podfile

platform :ios, '11.0'

Before, both were set to 9.0.  I have no idea why this fixed things.

[2019-03-19 21:04] kirilstrax opened #1305 "Autogenerated AWSAPIGatewayClient to use AWSMobileClient"
**State your question**
Currently we are using straight forward generated AWSAPIGatewayClient. It doesn't use AWSMobileClient instance, which we initialize elsewhere in the app (at least not from visible code). So how do we migrate AWSAPIGatewayClient to use AWSMobileClient, if it even makes sense. Is there an example available? Thanks

**Which AWS Services are you utilizing?**
AWSMobileClient
AWS

[2019-03-20 03:12] minbi commented on #1304
Hi @JLau-cy ,

The behavior you are describing appears to be a bug. We will take a look at this issue. If you are able to pinpoint the issue before we are able to address this issue. We are open to pull requests.

[2019-03-20 03:17] minbi commented on #1305
Hi @kirilstrax ,

I will try to get a similar setup to try out what you are doing, but the `AWSMobileClient` should adhere to the credentialsProvider interface requested by the `AWSServiceConfiguration`.

[2019-03-20 03:18] minbi commented on #1302
Hi @N1LaT ,

The behavior you are describing appears to be a bug. We will take a look at this issue. If you are able to pinpoint the issue before we are able to address this issue. We are open to pull requests.

[2019-03-20 06:11] cbommas commented on #1254
Closing issue as I haven't heard back. Please feel free to post here if you are still encountering this issue.

[2019-03-20 06:11] #1254 closed

[2019-03-20 06:12] cbommas commented on #1252
Closing this issue as I haven't heard back. Please feel free to post here if still facing issues.

[2019-03-20 06:12] #1252 closed

[2019-03-20 06:13] cbommas commented on #1230
@kimiyash
I will go ahead and close this out. Please feel free to post here if you are still facing issues.

[2019-03-20 06:13] #1230 closed

[2019-03-20 08:39] HayTran94 opened #1307 "AWSMobileClient federated sign in facebook always return onResult even though give wrong token"
**Describe the bug**
Even though give wrong token, but the callback of federatedSignIn method using facebook token always return `error` is `nil` and `userState` is `signedIn`.

**To Reproduce**
[code]

**Which AWS service(s) are affected?**
AWSMobileClient

**Expected behavior**
The `error` object should be different `nil` or `userState` object is `signedOutFederatedTokensInvalid`

**Environment(

[2019-03-20 10:24] jamesatfish commented on #1126
Same issue here also using version 2.9.3 pods, both with project settings using iOS 9.0 and after trying the iOS 11.0 suggestion.

Rolling everything back to 2.9.1 resolved the issue.

[2019-03-20 16:19] edfinegan opened #1308 "Upload file to S3 via AppSync?"
I'm trying to transfer files in both directions from S3. The Amplify documentation implies that you only have to add a S3Object type and the transfers will work via AppSync automatically.

`type S3Object {
    bucket: String!
    region: String!
    key: String!
}`

Once I add this there is a S3ObjectInput method generated

`S3ObjectInput(bucket:, region:, key:, localUri:, mimeType:)`

I would exp

[2019-03-20 21:04] kirilstrax commented on #1305
Thanks for your response, minbi

I tried a straight forward conversion:
[code]
That didn't work. However I managed to get it to work if I:
1. Add API key to `init` of generated `AWSAPIGatewayClient`
[code]
2. Explicitly add `x-pool-token` header to every request

But I still would like to understand what's the proper/recommended way of using generated AWSAPIGatewayClient with AWSMobileClient. Exam

[2019-03-21 00:36] minbi commented on #1307
Hi @HayTran94 ,

We are working on a fix in the logic to make this more user-friendly.

[2019-03-21 06:39] Minsoo-kim92 opened #1310 "Can't catch errors on occur where in didFinishDownloadingtoURL"
**Describe the bug**
<img width="1040" alt="스크린샷 2019-03-21 오후 3 07 29" src="https://user-images.githubusercontent.com/23733661/54736477-9247f600-4bee-11e9-8219-8ac0d66ae184.png">

Can't catch errors which occur where in
`- (void)URLSession:(NSURLSession *)session
      downloadTask:(NSURLSessionDownloadTask *)downloadTask
didFinishDownloadingToURL:(NSURL *)location {`
,
Even though I can

[2019-03-21 10:32] lxooxl opened #1311 "Successfully uploading files using AWS3TransferUtility But when I browse the file, AccessDenied"
**State your question**

**Which AWS Services are you utilizing?**
AWSS3

**Environment(please complete the following information):**
 - SDK Version:2.7.2
 - Dependency Manager: Cocoapods
 - Swift Version : objective-c

**Device Information (please complete the following information):**
 - Device: IiPhone XS MAX
 - iOS Version: 12.1.4

upload success then use putObjectAcl set acl to publicRead, th

[2019-03-21 13:01] lexakozakov commented on #1128
any news? it's a blocker.

[2019-03-21 15:19] ryancrunchi opened #1312 "AWSS3TransferUtility cancel closure"
**State your question**
It seems that cancelling an upload task does not call the completion handler closure. Is there a way to get the closure called with specific error describing a cancellation ?

**Which AWS Services are you utilizing?**
Cognito, S3

**Provide code snippets (if applicable)**
[code]
**Environment(please complete the following information):**
 - SDK Version: 2.8.4
 - Dependency

[2019-03-21 16:28] Marquis103 commented on #1280
hey @AngeloGiurano any luck with getting the HostedUI working?

[2019-03-21 18:55] kirilstrax opened #1313 "Difference between isLoggedIn and isSignedIn"
**State your question**
There are 2 state variables:
[code]
Experimentally I see that they are not always equal, my guess is that `isLoggedIn` is legacy, but I didn't find any explanation about each of them. Furthermore: the comment above `isLoggedIn` confuses situation even more:
[code]
So what is the difference between them, and which variable to be used to check if the user is currently signed

[2019-03-21 19:27] kirilstrax opened #1314 "Inconsistent state between signInResult.signInState, isSignedIn, and currentUserState upon sign in"
**Describe the bug**
After calling `AWSMobileClient.sharedInstance().signIn`, `signInResult.signInState` is 'signedIn', but `isSignedIn` is 'false' and `currentUserState` is 'signedOut'.

**To Reproduce**
Steps to reproduce the behavior:
1. Initial state: user logged out and application is restarted
2. AWSMobileClient is initialized:
[code]
3. User is presented with custom login UI. User fills in

[2019-03-21 21:03] wallowabk commented on #1072
Might be useful:
[Password-free SMS Authentication with AWS Cognito, Lambda Node.js & iOS Swift](https://quanta.svbtle.com/mobile-number-only-authentication-with-aws-cognito-ios-swift)

[2019-03-21 23:07] cbommas commented on #1311
@lxooxl

Can you share code snippets to help debug this further?

[2019-03-21 23:13] cbommas commented on #1312
@ryancrunchi
That is the current behavior across upload, multipart upload and download i.e., when the task is cancelled, it does not call the completion handler.

I have marked this as a feature request and we will provide an update when we have been able to establish a timeline for this.

[2019-03-22 00:01] minbi commented on #1313
Hi @kirilstrax ,

Please use `isSignedIn`. We have aligned our vocabulary and the signIn, signOut, isSignedIn is part of our controlled vocabulary.

[2019-03-22 00:02] minbi commented on #1314
Hi @kirilstrax ,

We will try to provide better documentation regarding these states.

[2019-03-22 02:38] lxooxl commented on #1311
init
[code]

upload file
[code]

[2019-03-22 04:27] cbommas commented on #1311
@lxooxl

I looked at your code and tried to reproduce the issue on my end, but was not able to. To debug this, I would recommend that you check if the call below is erroring out and investigate the contents of the error object.

      [s3service putObjectAcl:request completionHandler:^(AWSS3PutObjectAclOutput * _Nullable response, NSError * _Nullable error)

In my experiments, I was able to get th

[2019-03-22 04:46] cbommas commented on #1275
@JimCSaratoga

Answer to the first question: The structure or name of the local file doesn't have any bearing on where it is stored on the server. It just needs to be a valid path that your app/test code has access to.

Answer to the second question: Yes, that is correct. You should specify the path in the `key`. The `bucket` should be just the bucket name and shouldn't contain anything else

Answ

[2019-03-22 05:02] cbommas commented on #1310
@Minsoo-kim92

I am not sure I am understanding the issue completely. Is the issue that the download is failing or that the error is not being propagated correctly to the custom completionHandler? Can you please clarify?

From the information you have posted, it appears that the `moveItemAtUrl` method is failing, possibly due to the app not having access to the folder. If your issue is the former,

[2019-03-22 05:55] Minsoo-kim92 commented on #1310
This issue was just failed to `moveItemAtUrl` method because there are no upper level directories destination directory which are files downloaded, I resolved issue that file can't be moved to designated URL, I just make upper directories..

Btw, I can't handle the file exception using the completion handlers, is that intended flow?

[2019-03-22 07:07] lxooxl commented on #1311
@cbommas

[2019-03-22 08:08] kimiyash commented on #1230
@cbommas
Sorry for the late reply.
I confirmed this issue has been fixed with my Xcode test project.
Thank you so much!

[2019-03-22 08:17] thomers commented on #1235
Dear Karthikeyan @kvasukib , we'd really appreciate your feedback.

[2019-03-22 08:28] AngeloGiurano commented on #1280
@Marquis103 Yes, it works correctly :)

[2019-03-22 11:31] JimCSaratoga commented on #1275
Thanks for your reply - I've added it now but have a scope issue (error) with .userInfo being undefined in the handler error object defined using the AWSS3TransferUtilityUploadCompletionHandlerBlock structure to contain the task and error information.

(FYI i've renamed err to my container for the error object "error" unless I've missed this as a value of another object).

Just to make sure i'm no

[2019-03-22 14:11] wallowabk commented on #1158
Here's an auth flow use case to consider:

[Password-free SMS Authentication with AWS Cognito, Lambda Node.js & iOS Swift](https://quanta.svbtle.com/mobile-number-only-authentication-with-aws-cognito-ios-swift)

[2019-03-22 14:58] cbommas commented on #1311
@lxooxl
Good to hear that the issue has been resolved. From what I can see, it looks like the `AWSS3 *s3service = [AWSS3 defaultS3];` was initializing the client with incorrect credentials, causing the sigV4 signature to fail.

I will go ahead and close out this issue. Please feel free to post here/open another github issue if you are still running into a problem.

[2019-03-22 14:58] #1311 closed

[2019-03-22 15:00] cbommas commented on #1310
@Minsoo-kim92
Good to hear that you were able to resolve your issue. The intended flow is to propagate the file exception using the completion handlers - there may be a bug/code path where the error is being overwritten. I will look into this and post back here once I have more info.

[2019-03-22 15:01] cbommas commented on #1230
@kimiyash
Excellent! Thank you for confirming. 👍

[2019-03-22 15:25] kirilstrax commented on #1313
Thanks for the explanation.

[2019-03-22 15:25] #1313 closed

[2019-03-22 17:41] minbi commented on #1308
Hi @edfinegan ,

Can you provide a code snippet of how you are using the APIs? as well as some logs during the transaction? We will be able to diagnose this issue better.

[2019-03-22 18:03] edfinegan commented on #1308
Thanks for following up. My issue has progressed slightly an I can now provide more info. What I'm seeing is identical to this issue:

https://github.com/aws-amplify/amplify-cli/issues/768

I'm stuck right now with the problem that I try to initialize AWSAppSyncClientConfiguration as such:

`self.appSyncConfig = try AWSAppSyncClientConfiguration(appSyncServiceConfig: AWSAppSyncServiceConfig(),data

[2019-03-23 04:28] drwjf commented on #1235
I have to roll back to 2.6.35.

The 2.6.35  version looks like the most stable version for objective-c project.

[2019-03-23 06:59] lxooxl commented on #1311
@cbommas
[code]

incorrect credentials, it means mine accessKey/secretKey/endPoint was wrong?

I use awss3TransferUtility upload file, some times receive
[code]

[2019-03-23 14:19] cbommas commented on #1311
@lxooxl
Yes, I believe the that the accessKey/secretKey may be incorrect. We can debug this further if you could turn on verbose logging and paste the logs on to the issue ( best to create a new issue for this)

For the other errors that you are mentioning here, it would be great if you can also open a new github issue so that it can be tracked effectively. For each error case, it would be helpful

[2019-03-23 15:15] JimCSaratoga commented on #1275
@cbommas it does in fact look like a Data object issue.
If you have any sample code of how to convert an image (png/jpeg), pdf, etc  into the correct object format that the .uploadData function is looking for I would appreciate that.
Also per the above I was unable to use your code snip to view the error dictionary as the userinfo parameter being in the error objects that were returned (could be a

[2019-03-24 03:18] lxooxl opened #1317 "upload file use AWSS3TransferManager, response SignatureDoesNotMatch"
**State your question**
upload file use AWSS3TransferManager always response:

[code]

**Which AWS Services are you utilizing?**
AWSS3

**Provide code snippets (if applicable)**

[code]

**Environment(please complete the following information):**
 - SDK Version: 2.7.2
 - Dependency Manager :Cocoapods
 - Swift Version :objective-c

**Device Information (please complete the following information):**

[2019-03-25 06:52] svsharsha commented on #1213
Hi @rohandubal ,

Even I'm also facing this issue.
In my debugging after some point of time the connection is loosing between APPSYNC and our mobile application.

"Subscription Terminated" is displayed in logs.Its trying to re-establish connection but its not happening.

Please fix this issue.

[2019-03-25 12:41] RMesterca commented on #451
@jdriselvato Did you solve eventually? I get the same error in the same circumstances. AWS SDK 2.9.3

[2019-03-25 17:35] thomers opened #1318 "CognitoIdentityError when signed into Cognito, trying to upload via S3TransferUtility"
**State your question**
I'm having problems uploading a file from an iOS client via S3TransferUtility.

Context: I am upgrading from previous SDK versions, using a Mobile Hub generated setup of Cognito, S3 "User Files" (with private/protected/public/uploads structure), replacing the code from AWSUserFileManager with the new S3TransferUtility and the updated AWSMobileClient.

So, with the previous

[2019-03-25 20:49] minbi opened #1319 "There is a new requirement in Swift 4.2 (current) and the upcoming Swift 5 to use @obj-c bridging for AWS SDKs."
Ob behalf of a customer:

**Which AWS Services is the feature request for?**
API Gateway

**Is your feature request related to a problem? Please describe.**
There is a new requirement in Swift 4.2 (current) and the upcoming Swift 5 to use @obj-c bridging for AWS SDKs. This is causing errors in my project.

**Describe the solution you'd like**
Add the bridging.

**Describe alternatives you've consi

[2019-03-25 20:54] minbi commented on #1317
Hi @lxooxl ,

Please use AWSS3TransferUtility because the AWSS3TransferManager is deprecated.

Does the AWSS3TransferUtility also fail to upload?

[2019-03-25 21:42] motivus commented on #1233
Wow, what happened to you guys? I've stopped using Amplify because of the problems I've been experiencing (without easy solution), but am still interested in solving this one.

I feel that we should be able to easily re-wire an Amplify-generated solution... and have it work.

I also feel that this latest problem -- communicated right [above](https://github.com/aws-amplify/aws-sdk-ios/issues/1233#i

[2019-03-26 03:12] lxooxl commented on #1317
@minbi ,
AWSS3TransferUtility can successed, but alway has SignatureDoesNotMatch log

[2019-03-26 07:09] hannut91 commented on #1045
![image](https://user-images.githubusercontent.com/14071105/54977598-2ea03d00-4fe1-11e9-828f-6e7997fac817.png)
In the image above `Referenced from /usr/local/bin/node`
[code]
But xcode use node.js in `/usr/local/bin/node`
I use nvm. But node is installed at system too.
So I did delete system node with `brew uninstall --ignore-dependencies node`
I don't know detail what cordova use node, I think co

[2019-03-26 08:46] thomers opened #1320 "AWSMobileClient getIdentityId fails after successful signIn"
**State your question**
I'm using `AWSMobileClient.showSignInScreen`.

When the user signs in (error=nil in the completionHandler), `AWSMobileClient.getIdentityId` fails with

     GetId failed. Error is [Error Domain=com.amazonaws.AWSCognitoIdentityErrorDomain Code=8 "(null)" UserInfo={__type=NotAuthorizedException, message=Unauthenticated access is not supported for this identity pool.}]

Note t

[2019-03-26 08:49] thomers commented on #1314
Hi @minbi , could you elaborate please why this is not a bug? Should we not check `currentUserState`?

[2019-03-26 09:08] N1LaT commented on #1120
That Signal strength error can be dismissed with this:
https://stackoverflow.com/questions/37800790/hide-strange-unwanted-xcode-logs

Nevertheless, those "AWSMobileClientError 0,14,18 i don't know all the numbers" remain, even with version 2.9.3

[2019-03-26 10:40] thomers commented on #1235
Or maybe @rohandubal has an answer?

[2019-03-26 14:44] N1LaT commented on #1302
Hi and thanks for the reply.

The funny thing is, i've rebuilt my code and somehow it works now.
Please don't ask me why but I guess this can be closed.

[2019-03-26 14:47] minbi commented on #1314
I think I misread this with another post from the same person. You are correct, this seems like a bug.

[2019-03-26 15:00] N1LaT opened #1321 "AWSMobileClient and DynamoDB - Query and Scan working, Save not"
**State your question**
I am currently trying to get an app working which uses a login via Cognito Userpool as well as Identity Pool and Federated Sign in via Facebook and Google.
After signing up or in I want to interact with my Dynamo Db.
The thing I don't get is, login / signup works properly, and I can query and scan the db tables. BUT I can't save a new object to it. Why?

**Which AWS Service

[2019-03-26 16:13] minbi commented on #1320
Hi @thomers ,

The `showSignInScreen` method is part of our internal code, it does not include the code to federate the tokens obtained from the UI. See [code](https://github.com/aws-amplify/aws-sdk-ios/blob/master/AWSAuthSDK/Sources/AWSMobileClient/AWSMobileClient.swift#L473) for what happens after `showSignInScreen` returns. I know you are trying to work around the limitations of AWSMobileClient

[2019-03-26 16:13] N1LaT commented on #1321
Okay it seems that somewhat (I don't know what or why) changed the permissions on my IAM console. I fixed it so this ticket can be closed, sorry for that.
But maybe someone can answer my questions though.
Thanks

[2019-03-26 16:16] #1251 closed

[2019-03-26 16:19] minbi commented on #1321
Hi @N1LaT ,

The logins map is used to federated identities into Cognito Identity Pools.
The logins map should be unnecessary with the use of AWSMobileClient.

Your above code should look like this:

[code]

[2019-03-26 22:28] kriztoph commented on #1280
@AngeloGiurano what provider are you using it with? It works (creates a user in user pool) for me for OpenID (we use Twitch) but it doesn't work for me when using facebook.

@rohandubal I'm using the following code:

[code]

In the completion handler, the state is signedIn, but when I go to immediately get user attributes, I get `AWSMobileClient.AWSMobileClientError.notSignedIn(message: "User is n

[2019-03-27 09:47] harishmaddula32 opened #1322 "s3 Transfer Utility iOS"
**Describe the bug**
I'm running S3BackgroundTransferSampleObjC **(in swift project also)** sample project downloaded from git repo. I configured all necessary things like poolid,region and so on..

While running sample project after clicking in start button app is crashing
exact at what point it is crashing is when upload function is calling at that time.

Crash log is here as follows:
*** Termin

[2019-03-27 09:55] AngeloGiurano commented on #1280
@kriztoph Facebook and google both won't create a user in the user pool

[2019-03-27 11:21] nipuncs opened #1323 "Access Cognito Authenticated ALB(ELBv2) using AppSync"
**State your question**
I have ALB to access microservice and I used Cognito as the Authentication, But I am getting below error:
[code]
My ALB config:
<img width="1246" alt="Screen Shot 2019-03-27 at 4 41 07 PM" src="https://user-images.githubusercontent.com/39821254/55071750-78575900-50af-11e9-8800-0eb698d69601.png">

This is working without Cognito very well. But after config the Cognito auth,

[2019-03-27 17:04] minbi commented on #1322
Hi @harishmaddula32 ,

Are you referring to this sample? https://github.com/awslabs/aws-sdk-ios-samples/tree/master/S3TransferUtility-Sample/Objective-C

Did you add both regions?

AWS --> S3TransferUtility --> Default --> Region (for example: USEast1)

[2019-03-28 04:11] harishmaddula32 commented on #1322
I'm referring the same example what you suggested.

I added both regions
AWS --> CredentialsProvider --> CognitoIdentity --> Default --> pooIid (MypoolId)
AWS --> CredentialsProvider --> CognitoIdentity --> Default --> Region (MyRegion)
AWS --> S3TransferUtility --> Default --> Region (MyRegion)

But Still it is crashing
*** Terminating app due to uncaught exception 'NSInternalInconsistencyExcepti

[2019-03-28 04:32] minbi commented on #1322
Hi @harishmaddula32 ,

Can you check your Info.plist? I was able to successfully run the sample Xcode 9.2 iPhone simulator 8 Plus.

[code]

[2019-03-28 04:35] harishmaddula32 commented on #1322
I check with my plist exactly same as you sent

Note: I'm using Xcode 9 iPad simulator 9.7

[2019-03-28 09:18] soulchain commented on #1217
I am facing the same problem now. Any suggestion to fix this?

[2019-03-29 04:58] harishmaddula32 commented on #1322
Any Waiting for your reply

[2019-03-29 11:23] thomers commented on #1126
@Georycoco Same here, "AWSCognitoAuth_Internal.h file not found."

[2019-03-29 11:43] thomers opened #1328 "AWSCognitoAuth_Internal.h file not found"
Possibly related to https://github.com/aws-amplify/aws-sdk-ios/issues/1126

AWS SDK 2.9.3, using Cocoapods
Xcode 10.1
macOS 10.13.6

#import "AWSCognitoAuth_Internal.h"
in AWSMobileClient/AWSCognitoAuth.m#16

Error on building AWSMobileClient: AWSCognitoAuth_Internal.h file not found

[2019-03-29 14:30] StrongFingers commented on #1045
I have a similar issue and found a solution [here](https://stackoverflow.com/a/54415718/5030846)

[2019-03-29 15:12] SergiusPaulus commented on #1126
I forgot to mention, and this may be important, that my problem *only* occurred with Xcode's Simulator.  I had exact same problem with Microsoft's ADAL.  The <ADAL/ADAL.h> could not be found at times.  What fixed it for me is posted above.

[2019-03-29 18:06] Foefirelord commented on #1126
Getting this error now with 2.9.3 pods alongside `Could not build Objective-C module 'AWSMobileClient'` and `Cannot override a Self return type with a non-Self return type`.

None of the above proposed solutions have helped.

No amount of cleaning the build folder or updating the pods with the latest possible iOS target version have done anything to fix the issue.

[2019-03-29 18:26] Foefirelord commented on #1328
Must be related to #1126

Getting #1126 upon updating to 2.9.3 pods. No cache cleaning is helping.

[2019-03-29 19:58] afanaian commented on #1281
@rohandubal any chance there's a roadmap on when this change is coming?

[2019-03-30 10:35] thomers commented on #1321
Hey @minbi ,

In general, if we use AWSMobileClient for Cognito and federated sign in, is this the
required way to init the defaultServiceConfiguration in order to use the other AWS Services (like S3), or do they „automatically“ use AWSMobileClient as the credentialsProvider ?

[2019-03-31 18:39] motivus opened #1357 "No 'defaultClient' in API Gateway-generated iOS Swift SDK"
**Describe the bug**
There is no `defaultClient` in the API Gateway-generated <myApiName>Client.swift as per the directions in `README.md`.

**To Reproduce**
Steps to reproduce the behavior:

I followed [this REST API tutorial](https://docs.aws.amazon.com/apigateway/latest/developerguide/integrating-api-with-aws-services-lambda.html) in the API Gateway docs. It's a simple API named 'calc' that cal

[2019-04-01 10:27] thomers commented on #1318
@minbi or @rohandubal , it's been a week - do you have any feedback regarding this issue?

[2019-04-01 10:38] thomers commented on #1235
Dear AWS support - @minbi , @kvasukib , @rohandubal - it's been more than 6 weeks that an AWS support member has replied.

What's going on?

I find the lack of support regarding these issues that the changed architecture (new AWSMobileClient, no more AWSMobileHubHelper, AWSContentManager, AWSUserFileManager, etc. etc.) seemed to have caused to me and other _paying_ AWS customers **very frustrating

[2019-04-01 10:46] thomers commented on #1320
Hi @minbi , thanks for the reply.

My bad - I'm in fact calling `AWSMobileClient.sharedInstance().showSignIn`

The problem stays the same.

[2019-04-01 14:20] fila commented on #451
Had the same issue with test target building fails, eventually fixed it the way described [here](https://github.com/aws-amplify/aws-sdk-ios/issues/1205#issuecomment-461110286): switched to the 'non-recursive' option in the entry at Header Search Paths for the test target.
@jdriselvato @RMesterca

[2019-04-01 14:24] Gperez88 commented on #1126
same problem, when they solve it?

[2019-04-01 18:51] nourahassan opened #1376 "Cognito token expired when it shouldn't"
We are using AWSMobile on iOS with cognito setup. The refresh token expiration is set to 10 years but users are still getting token expiration when trying to fetch user attributes.

Here's the code:

[code]

And in log I see this:

`Couldn't get user attributes notAuthorized(message: "Access Token has expired")`

The received error is `AWSMobileClientError.notAuthorized`.

Can you give explanation

[2019-04-01 21:59] rohit3d2003 opened #1378 "Offline mutation not being called once network connectivity is resumed"
**State your question**
I am having trouble making offline mutation work. I have followed the guidance that is provided in https://aws-amplify.github.io/docs/ios/api but it does not seem to work. I am using Cognito User pool along with custom queries (Not generated out of box).

When I am saving/updating an object in db through AppSync Api, I am updating my custom query. The console does not repor

[2019-04-02 06:09] harishmaddula32 commented on #1322
After doing some R&D somehow i'm manageable to upload data to s3 bucket.
I have another question
I want to download **all files from one particular folder** from s3 bucket how can i do it.
can you please send some sample code for that in OBJ-C language

[2019-04-02 12:15] SSS004 opened #1384 "Segmentation fault:11 with Swift 5 and XCode 10.2"
We upgrade XCode to use Swift 5, released in march 25, 2019.
Rebuilding source code, we got a "Segmentation fauilt: 11":

[code]

**AWS service affected**
AWS TransferUtility: enumerateToAssignBlocks closure

**Code affected**
[code]

_When we comment AutoreleasingUnsafeMutablePointer lines, the **build ends successfully**._

**Environment:**
 - SDK Version: 2.9,3
 - Dependency Manager: Cocoapods

[2019-04-02 17:53] returnzer0 commented on #1168
@rohit3d2003 I am facing the same issue, do you mind sharing how you were able to upload the file? Thanks

[2019-04-02 19:08] rohit3d2003 commented on #1168
@returnzer0 - Just make sure the bucket path is correct. In my case, I uploaded everything under 'public' with the role that logged-in user assumed. If you want to upload the image to private or protected, you need to know the user's identity Id.

[2019-04-03 02:01] motivus commented on #1357
Just a note that I "grabbed the defaultClient" (to quote the README.md) by calling the **`default`()** function in `<myApiName>Client.swift` as follows:

[code]
And my REST API was successfully called, as confirmed in the Cloudwatch logs!

Is this what the README.md meant to do?

I'm going to post another usage question about how to access the result because I'm having trouble figuring out what to

[2019-04-03 02:32] motivus opened #1389 "How to access REST API response when result is of AWSTask type?"
**State your question**
I'm having trouble figuring out how to access `result` when using the sample code provided in the SDK README.md. `result` is derived from `task`, which is of type `AWSTask`.
Presumably AWSTask comes from the AWSCore library, but I'm afraid I'm new enough to Swift and the iOS SDK that I'm a bit lost. Would you kindly help me understand which AWSTask and how to access my Lamb

[2019-04-03 07:20] harishmaddula32 commented on #1322
Any help waiting for your reply

[2019-04-03 10:38] HayTran94 opened #1391 "Get username is null when using showSignIn API"
**Describe the bug**
Get username is null but token is valid when using showSignIn hosted UI API to sign in Google or Facebook.

**To Reproduce**
[code]

**Which AWS service(s) are affected?**
AWSMobileClient

**Expected behavior**
Get username is not nil

**Environment(please complete the following information):**
 - SDK Version: 2.9.3
 - Dependency Manager: Cocoapods
 - Swift Version : 4.2

**De

[2019-04-03 10:52] TizianoCoroneo commented on #1281
@rohandubal I got exactly the same requirement for my application. Has this issue been placed on the roadmap? Otherwise I'll have to swizzle some configuration methods in the sdk... I would prefer not to go there.

[2019-04-03 13:35] FMJobr commented on #1126
Same here.

[2019-04-03 16:37] fbarraganef opened #1392 "Monetization events is not registering"
Hello,
I'm doing the things exactly like this documentation:
https://aws-amplify.github.io/docs/ios/analytics

I only using federateSignIn in my app functionality and everything works fine. But somehow my app register all events from the app functionality, but the monetization event in the log console shows that was successful registered but in the Revenue dashboard is never displayed, it only cou

[2019-04-03 16:45] fbarraganef commented on #861
My version is 2.9.3, and I'm facing the same issue.

[2019-04-03 16:47] returnzer0 commented on #1168
Ok, awesome, I got it working. Thanks a lot!

[2019-04-03 18:44] alionthego opened #1393 "Authentication for AppSync using User Pools"
I have asked this question nearly a year ago and still no reply.  I am creating another case and hope it can be resolved.

I want to know how to properly authenticate for my AppSync configuration using user pools

Currently this is in my appDelegate:

`let appSyncConfig = try AWSAppSyncClientConfiguration(url: AppSyncEndpointURL, serviceRegion: AppSyncRegion, userPoolsAuthProvider: self, urlSessio

[2019-04-03 21:30] doctorcolinsmith opened #1394 "AWSMobile Client does not build with Swift 5"
**Describe the bug**
I have an app set up with Xcode 10.2 and Swift 5.  The AWSMobileClient framework (v. 2.9.4)  is included using Cocoapods.  The project fails to build with the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new app with Xcode 10.2 (default settings, including Swift 5)
2. Include AWSMobileClient with Cocoapods (i.e., with the line `pod 'A

[2019-04-03 21:41] doctorcolinsmith commented on #1394
I just noticed there is an open PR that may be related to this: https://github.com/aws-amplify/aws-sdk-ios/pull/1377

[2019-04-03 22:09] xuaninbox opened #1395 "AWSIoT allow update to UserMetaData"
addUserMetaData only allow append and not update. update should be allowed as the value may change.

[2019-04-03 22:53] rohandubal commented on #1394
Hello @doctorcolinsmith

Thanks for reporting this. I will validate the PR and get it in if it passes all the validation.

Best,
Rohan

[2019-04-03 23:00] rohandubal commented on #1393
Hello @alionthego

Apologies for the delay in response. We have updated our APIs to be more friendly and also more communicative when there are error cases.

The best point of reference for the latest SDK would be to refer this link: https://aws-amplify.github.io/docs/ios/api#cognito-user-pools

With AWSMobileClient, we support a bunch of features including more gracious handling of offline cases

[2019-04-03 23:03] rohandubal commented on #1392
Hello @fbarraganef

Could you please provide a code snippet where you are recording the monetization event? I will try that code on my side and debug if there are any issues with it.

Thanks,
Rohan

[2019-04-03 23:13] xuaninbox opened #1396 "AWSIoT ACK is send automatically after receiving the message"
Allow ACK to be send later and not automatically by the mqtt sdk when receiving a message.

[2019-04-03 23:15] rohandubal opened #1397 "Fix FBSDKLoginKit dependency for AWSFacebookSignIn"
For release 2.9.4 the pod publish failed due to new FBSDK release 4.43+. Need to root cause and fix.

[2019-04-03 23:16] xuaninbox opened #1398 "AWSIoT mqtt may fail to decode mqtt message when doing Ota update"
After mqtt connect and no action for a while, it may fail to publish message. It seems the web socket has timed out but we didn't get a callback of the status change.

[2019-04-04 00:05] fbarraganef commented on #1392
Sure thing @rohandubal, I have a singleton for the management of the events.

This is the way how I call it:
` AnalyticsManager.shared.createMonetizationEvent(productId: transaction_id,
                                                            price: valuePurchase!,
                                                            currency: "MXN",

[2019-04-04 01:46] cbommas commented on #1398
@xuaninbox
The SDK will send a periodic ping message to make sure that the connection is still valid. Can you share your MQTT Configuration settings, the Quality of service setting, code snippets and logs to help debug further?

[2019-04-04 02:33] alionthego commented on #1126
any solution for this yet.  Having same problem

[2019-04-04 03:51] SergiusPaulus commented on #1126
You already tried all the main answers in this Stack Overflow question?  https://stackoverflow.com/questions/12002905/ios-build-fails-with-cocoapods-cannot-find-header-files

[2019-04-04 03:53] rohit3d2003 opened #1399 "Signing up users with only phone number and authentication for every new device"
**State your question**
I am building an application where-in I would like to register the users with just a phone number. If the user changes the device, I want to force them to validate phone number again with confirmation code. Is this scenario supported?
**Which AWS Services are you utilizing?**
Cognito, AppSync
**Provide code snippets (if applicable)**

**Environment(please complete the follo

[2019-04-04 07:37] Prachi95 commented on #1241
Hi @jspargo - I am facing same issue. I have added new key-value (attribute) in an old event, but even though it is not adding that attribute in that event.

Also pinpoint is capturing usage data events very slowly nowadays for my account. Previously when I was working on this, it used to take hardly 5-10 minutes to log any custom event in pinpoint. I could see new events , new attributes in my te

[2019-04-04 09:14] HayTran94 opened #1400 "How to use handleAuthResponse in AppDelegate when using Hosted UI?"
**State your question**
In your hosted ui doc said:

But in your API, the AWSMobileClient.sharedInstance().handleAuthResponse function will return Void type, but Bool type. So how I can use it correctly?

**Which AWS Services are you utilizing?**
AWSMobileClient

**Environment(please complete the following information):**
 - SDK Version: 2.9.3
 - Dependency Manager: Cocoapods
 - Swift Version : 4.

[2019-04-04 10:00] thomers opened #1401 "Please improve the response times on tickets"
Hello, I'd urgently need some feedback from AWS support on these tickets:

https://github.com/aws-amplify/aws-sdk-ios/issues/1328 - opened 6 days ago, no response from AWS yet.

https://github.com/aws-amplify/aws-sdk-ios/issues/1318 - opened 10 days ago, no response from AWS yet.

https://github.com/aws-amplify/aws-sdk-ios/issues/1235 - opened Feb 14, latest AWS reponse Feb 15 "we will post an upd

[2019-04-04 10:16] harishmaddula32 opened #1402 "transferUtility downloadToURL"
[code]

Not Downloading files from s3 bucket to my local directory.. any problem with the code. Please help me

Note: I'm getting file names inside the folder what i mentioned but files are not downloading to my local directory

[2019-04-04 16:15] rohit3d2003 commented on #1399
Also, is there a way to check if the device where user is logged-in is 'new' or not? I believe it is part of Post Authentication Lambda trigger but wanted to see if there is an API that I can use to identify any new devices where user is trying to log-in.

[2019-04-04 16:36] thomers commented on #1328
Fixed, probably by removing redundant dependencies from my Podfile. (Also, upgraded to SDK 2.9.4, but that did not change anything initially.)

Now:

        pod 'AWSMobileClient', :path => '~/Development/aws-sdk-ios'
        pod 'AWSAuthUI', :path => '~/Development/aws-sdk-ios'
        pod 'AWSUserPoolsSignIn', :path => '~/Development/aws-sdk-ios'

        # redundant, because added as dependency

[2019-04-04 16:36] #1328 closed

[2019-04-04 16:36] thomers commented on #1126
Have a look at https://github.com/aws-amplify/aws-sdk-ios/issues/1328

I could fix a similar issue by removing a few redundant pods from my Podfile.

[2019-04-04 18:37] rohandubal commented on #1401
Hello @thomers

We will be following up on the issues which you have opened. I am closing this specific as the follow up would be on individual threads.

Thanks,
Rohan

[2019-04-04 18:37] #1401 closed

[2019-04-04 18:40] rohandubal commented on #1328
To explain the details: `AWSMobileClient` now supports HostedUI OAuth flows directly as part of `showSignIn` API. The dependency of `AWSCognitoAuth` is no longer needed as `AWSMobileClient` internally encapsulates this library. Using both in one project is not recommended and I will be clarifying it in the documentation to make sure no one runs into this issue.

Thanks,
Rohan

[2019-04-04 18:43] rohandubal commented on #1126
As mentioned by @thomers, the issue regarding `AWSCognitoAuth_Internal` file not found is due to redundant dependencies. Please see #1328 for explanation.

This looks to me more like a cocoapods bug which doen't correctly generate pods project. As @SergiusPaulus mentioned, setting the iOS platform resolves this issue.

[2019-04-04 18:46] rohandubal commented on #1357
Hello @motivus

Thanks for pointing out this error to us. You are right, the `README` intents to use the `.default()` and not `defaultClient()`

I will update the documentation to reflect that.

Best,
Rohan

[2019-04-04 18:49] #1357 closed

[2019-04-04 18:54] rohandubal commented on #1376
Hello @nourahassan

I think there are 2 issues here which are causing confusion.

The 10 years validity which you have is for the `Refresh Token` and not the `Access Token`. The `Refresh Token` is used to fetch a new `AccessToken` when it expires. `AWSMobileClient` internally refreshes the `AccessToken` when it expires(every hour). But what seems to happen is the refresh call is not going though d

[2019-04-04 19:14] nikhil-dabhade commented on #1235
@thomers Sorry for the delay and inconvenience here.
I am going through the thread in detail and will update today on the status here.

[2019-04-04 19:22] motivus commented on #1357
Thank you, Sir! And new link noted!

[2019-04-04 19:31] sleepysort commented on #975
Hopping on this thread a bit late, but I'm in a similar boat.

It'd be extremely useful to be able to either be able to set the configuration in code, or use environment based configs like @zigfreid5 has outlined in their previous comments. The current workaround that we're using is to have multiple `awsconfiguration-<ENV>.json` files, then add a build step that will copy and rename the appropriat

[2019-04-04 19:54] kvasukib commented on #1255
@aaronetz Sorry for the inconvenience caused. We will take a look at it. Thank you!

[2019-04-04 20:16] rohandubal commented on #1400
Hello @HayTran94

Apologies for the confusion. I will update the documentation to reflect the right behavior. You can simply put a `return true` statement there to ensure it works correctly for `AWSMobileClient.`

Thanks,
Rohan

[2019-04-04 20:27] rohandubal commented on #1392
Thanks for the details! I will try to debug on my side.

[2019-04-04 20:29] thomers commented on #1401
Thank you!

[2019-04-04 20:29] rohandubal commented on #1391
Hello @HayTran94

I think this is due to the confusion that the documentation does not explicitly specify that `username` field can be used only when using `username`/ `email` and `password` based login. If you login via Facebook from Hosted UI the `username` value is not available.

Hope this helps.

Thanks,
Rohan

[2019-04-04 20:32] thomers commented on #1126
Note: Setting the iOS platform did not resolve my issue, I had to (also) remove the redundant pod from my Podfile.

[2019-04-04 20:32] #1400 closed

[2019-04-04 20:54] rohandubal commented on #1389
Hello @motivus

Sorry about the confusion you are having when using `AWSTask`.  Here is a stackoverflow post which gives an example of how to use it for asynchronous jobs:
https://stackoverflow.com/questions/44688027/what-is-the-proper-way-to-work-with-awstask-objects-in-swift

As a summary-

the `task` object has two properties: `result` and `error` and they are mutually exclusive. When a task co

[2019-04-04 22:00] rohandubal commented on #1384
Hello @SSS004

Sorry for the issues you are having. I would recommend that you use a better approach for this use case that is documented here: https://aws-amplify.github.io/docs/ios/storage#manage-a-transfer-when-a-suspended-app-returns-to-the-foreground

Above mentioned approach would be cleaner to use. Please let me know if you have issues using this.

I will try to identify the issues with `Au

[2019-04-04 22:05] fbarraganef commented on #1392
@rohandubal somehow, when I test the integration with MobileHUB I didn't have any issue when I put the currency to "MXN" instead of "USD".

Now, I'm just change the currency to USD and works fine ¬¬. I think maybe the issue could be with the currency handling.

[2019-04-04 22:45] sunchunqiang commented on #1402
Hi  @harishmaddula32. It seems you missed bucket parameter from below code
[code]
It should be like
[code]

[2019-04-04 23:39] motivus commented on #1389
Regarding your summary of `AWSTask` and the `task` object... I do understand that. I'm trying to print `result` (because a result IS returned after my call to `calcGet`), but I don't know how to. So, I'm afraid this might be a dumb Swift question from yours truly.

The stackoverflow post is helpful in terms of showing how `result` and `error` are what's returned in calls to various AWS services. B

[2019-04-05 01:55] motivus commented on #1233
You can just go ahead and close this issue. If I was able to delete the first part (about re-wiring) and leave the last part (from Feb 24) and then re-title this, I would.

[2019-04-05 02:39] HayTran94 commented on #1391
Hi @rohandubal,

Thank for your feedback.

[2019-04-05 02:39] #1391 closed

[2019-04-05 03:54] HayTran94 opened #1501 "Hosted UI can not get 'name' of Google user"
**Is your feature request related to a problem? Please describe.**
Even though I check "name" attribute mapping of Google provider but I can get it, but I can do that with Facebook account.

**Describe the solution you'd like**
Support get name of Google account like Facebook does.

[2019-04-05 04:08] alionthego commented on #1393
Thank you Rohan, I have adopted the AWSMobileClient and it is working well so far.  Can you please refer me to how to setup Lambda and S3 to also be configured to use the AWSMobileClient.  I couldn't fine that documentation.  At the moment my service configuration in AppDelegate is:

[code]

Do I still need this code or can I now have AWSMobileClient handle the authentication for Lambda and S3

[2019-04-05 04:21] wxsdmy opened #1405 "duplicate symbol with SRWebsocket SRIOConsumer、SRIOConsumerPool、_SRRunLoopThread"
duplicate symbol with SRWebsocket  SRIOConsumer、SRIOConsumerPool、_SRRunLoopThread

[2019-04-05 07:17] FMJobr commented on #1126
We're not using Cocoapods but Carthage

[2019-04-05 08:26] thomers opened #1406 "AWSMobileClient - Documentation for needed Unauthenticated / Authenticated IAM Roles?"
I'm using AWSMobileClient 2.9.4 with a Cognito user pool + federated identities.

I'm not using the aws-amplify CLI.

What are the required IAM policies for the unauthenticated and authenticated Cognito roles that AWSMobileClient expects?

[2019-04-05 08:51] thomers commented on #1393
Same question here.

IMHO we need documentation for cases where the setup automatically generated by aws-amplify is not used.

(As an example, see https://github.com/aws-amplify/aws-sdk-ios/issues/1406 )

[2019-04-05 08:59] thomers opened #1407 "AWSMobileClient AuthUI - more customization options for SignUp form"
**Which AWS Services is the feature request for?**
The Cognito SignUp form of the drop-in UI

**Is your feature request related to a problem? Please describe.**
We need more customization options for the SignUp form of the drop-in Auth UI.

**Describe the solution you'd like**
Required:
* Terms of Service - link to webpage shown in modal popup and required checkbox for signup
* Privacy Policy - sa

[2019-04-05 14:02] jamesingham commented on #1248
We are experiencing the exact same behaviour (AWS iOS SDK Version: 2.9.3). When the user state is `FORCE_CHANGE_PASSWORD` and the user has entered the correct credentials, pressing the Sign In button doesn't appear to do anything. Is this a bug?

[2019-04-05 17:38] rohandubal commented on #1407
Hello @thomers

These definitely seem reasonable things to add on the sign in screen.

How do you imagine this feature to be available for the developers? Would it be in a way that we allow specifying 2-3 custom links at bottom of screen? Or would it be something which the developer will customize via some hooks?

[2019-04-05 17:42] rohandubal commented on #1406
Hello @thomers

AWSMobileClient itself would not need IAM policies. The IAM policies would be for the services which you are using. Can you specify which services and what use-cases are you using them for?

[2019-04-05 19:28] pablogeek commented on #1217
Same problem here. Have anyone been able to fix this?

[2019-04-05 19:29] pablogeek commented on #1060
@cbommas It is still happening in 2.6.35. :(

[2019-04-05 22:16] Prince2k3 commented on #1394
Experiencing this problem as well. Any news on this?

[2019-04-06 03:53] trondkr opened #1408 "Put S3 bucket policy"
Hi,
I am trying to put a bucket policy on a newly created S3 bucket programmatically but it fails. Below is my policy class which returns the policy as a JSON dictionary as a string:

CLASS 1 - create the policy
[code]

CLASS 2: Below are the methods that use the methods in CLASS 1 to request the putBucketPolicy:

[code]
This fails with:
[code]
Do you see what could be wrong? Thank you. Cheers, Tr

[2019-04-06 07:33] rreimche commented on #1126
I am having `Could not build Objective-C module 'AWSMobileClient'` and `Cannot override a Self return type with a non-Self return type` regardless of the target (I tried 9.0, 11.0, 12.1 und 12.2).

Libraries versions:

Using AWSAuthCore (2.9.4)
Using AWSAuthUI (2.9.4)
Using AWSCognitoIdentityProvider (2.9.4)
Using AWSCognitoIdentityProviderASF (1.0.1)
Using AWSCore (2.9.4)
Using AWSMobileClient (2

[2019-04-06 16:47] rreimche commented on #1126
There is an issue devote to the `Cannot override a Self return type with a non-Self return type`: https://github.com/aws-amplify/aws-sdk-ios/issues/1394

[2019-04-06 20:12] natanrolnik commented on #1062
@cbommas This is still going on in 2.9.3 :/
Trying to run an instance in EC2 and getting not more than `Error Domain=com.amazonaws.AWSEC2ErrorDomain Code=0 "(null)"`

[2019-04-07 07:39] jcridev commented on #1126
The issue still persists. No amount of pod re-installing or pruning dependencies helps.

[2019-04-07 09:49] abdelmajidrajad opened #1409 "Not Authorized Exception Invalid refresh Token - AWS Cognito"
Code :
[code]
 - SDK Version: 2.6.32
 - Dependency Manager: Cocoapods
 - Swift Version : 4.2

I want to refresh token after expiration, I tried to snippet of code above but always  i got an not authorised error.  on my cognito device tracking is disable and most of settings are correctly configured . can I have some help ?

[2019-04-07 13:49] krunaldarji opened #1410 "Refresh Token has been revoked"
**Describe the bug**
Intermittently i am getting "Refresh Token has been revoked" error and that time session completeBlock not getting executed.

[code]

**Environment(please complete the following information):**
 - SDK Version: 2.8.1
 - Dependency Manager: [e.g. Cocoapods, Carthage]
 - Objective C

***Logs***

2019-04-04T07:54:12.905-0400|11589|D|Response headers:
{
    "Content-Length" = 78;

[2019-04-07 21:57] nallbradley commented on #993
Any updates on this feature being provided?

[2019-04-08 05:26] harishmaddula32 commented on #1402
Now I'm trying with above method what you mentioned but it is returning nil. Pls help me where i'm doing wrong here. Code as below
                 - (IBAction)downloadBtn:(id)sender {
    AWSStaticCredentialsProvider *credentialsProvider = [[AWSStaticCredentialsProvider alloc]initWithAccessKey:@"AKIAJK7X3QSRRD6UPMYA" secretKey:@"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"];
    AWSServiceConfigurat

[2019-04-08 05:28] rohandubal commented on #1408
I see from the error log that this SDK is modified for OSX. In that case it would be difficult to identify why the marshaller would run into issues. The SDK and marshaller have not been validated for OSX and can be unstable.

[2019-04-08 07:10] rohandubal commented on #1405
Hello @wxsdmy

Can  you please give some more details regarding when you face this issue?

Thanks,
Rohan

[2019-04-08 08:28] thomers commented on #1235
@nikhil-dabhade , do you have an update?

[2019-04-08 09:25] thomers commented on #1318
@nikhil-dabhade , I guess this is related to https://github.com/aws-amplify/aws-sdk-ios/issues/1235

[2019-04-08 09:56] thomers commented on #1407
Hi @rohandubal , for reference, here's how [Firebase Auth UI](https://github.com/firebase/FirebaseUI-iOS/blob/master/Auth/README.md#customizing-firebaseui-for-authentication ) does it.

I don't have any strong opinion on this, just thinking about the requirement to be GDPR compliant.

Some more references:

https://www.mobiloud.com/blog/gdpr-compliant-mobile-app/

Also, https://brianpagan.net/2018

[2019-04-08 13:11] soxjke commented on #1217
The main idea of fix is basically to to add check for `nil` at AWSIdentityManager.m:78

You can fork and do a fix or use runtime to apply workaround. My choice for now is runtime - here's gist

https://gist.github.com/soxjke/4c79e923ec549e8d7e4e0ef219f12bd5

@soulchain @pablogeek

[2019-04-08 13:16] nikhil-dabhade commented on #1235
@thomers I had a discussion with the team here and am verifying a few details with respect to versions of SDK before I reply here. I will make sure to update you without any further delay.

[2019-04-08 15:01] thomers commented on #1235
@nikhil-dabhade thank you, appreciated!

[2019-04-08 15:22] karasahinemre commented on #1250
Hi,

Any update?

[2019-04-08 18:30] nourahassan commented on #1376
So you suggest that when I got token expired exception, I check connectivity? when connectivity is back I will get user attributes without any issue?

Shouldn't I get exception about network timeout or there is no connection instead of token expire?

Not sure how can I test network timeout to confirm your assumption?

[2019-04-08 23:26] sunchunqiang commented on #1402
Hi @harishmaddula32
data==nil is expected, because you are downloading the object to a file, instead of data. The issue is that when you download the object to a file, the target folder should be present. You can add below code after
[code]

[code]

[2019-04-09 04:28] harishmaddula32 commented on #1402
I updated my code as you suggested. But i'm getting some other error now pls check once.

2019-04-09 09:56:20.162049+0530 [63038:13860321] Create directory error: Error Domain=NSCocoaErrorDomain Code=4 "The file “351558071574489” doesn’t exist." UserInfo={NSFilePath=/Users/mindscape/Library/Developer/CoreSimulator/Devices/B6012120-F3C5-4A4D-A83F-826915E81152/data/Containers/Data/Application/5D0AB3

[2019-04-09 07:46] Jonge opened #1434 "Crashes in AWSSRWebSocket.m"
**Describe the bug**
Seeing a couple crash logs from AWSSRWebSocket.m.

**To Reproduce**
Can't seem to reproduce, as it only happens to a small amount of users (probably a threading issue?). Here are the crash stacks, hope that helps a bit.

[code]

[code]

**Which AWS service(s) are affected?**
AWS IoT

**Expected behavior**
App should not crash.

**Environment(please complete the following infor

[2019-04-09 07:56] nikhil-dabhade commented on #1235
@thomers I went through the details in the thread. I realize the pain points here.
The SDKs have had Objective-C functions for all releases until 2.9.0.
From version 2.9.0 onwards, we started building all new features for pure Swift SDK only. The initialize method you refer is present for all versions of SDK after 2.9.0 in Swift.
The SDK version you are using is 2.8.4 from your environment setup n

[2019-04-09 13:09] thomers commented on #1235
@nikhil-dabhade thanks for the update!

Note that the initial ticket here is almost 2 months old.

In the meantime, I upgraded to 2.9.x, and wrote a wrapper for AWSMobileClient.

Nevertheless, the problems reappear in different forms, like
https://github.com/aws-amplify/aws-sdk-ios/issues/1318 and
https://github.com/aws-amplify/aws-sdk-ios/issues/1320

I'm not sure whether the problem is in the Ob

[2019-04-09 15:11] sunchunqiang commented on #1402
Hi @harishmaddula32
It seems the parent directory of the directory you are creating is not present. You have to create the parent directory that does not exist first.

[2019-04-09 15:49] BillBunting commented on #1235
@thomers , @nikhil-dabhade , @minbi ,

I agree with @thomers .  I also started my project about two years ago with AWSMobileHub. I have since had to discontinue using the AWS MobileHub console to manage the project. Shortly after I started the project in MobileHub, MobileHub was "discontinued".

I'm now on my third major refactor of sing-in/sign-up and AWS services access for iOS and a second refa

[2019-04-09 18:52] trondkr commented on #1408
Thanks for your response. I understand that I have modified the SDK to be usable as a macos framework but everything works very well except the `putBucketPolicy`. I can't understand why the framework serializer/marshaller should behave differently on a macos vs iOS, although I may be wrong. But this is the only method I can´t get to work and I think there may be a bug in the method. If I run the a

[2019-04-10 18:22] DamienBell opened #1436 "Is is possible to make `AWSAPIGatewayRequest` without using the aws code generation?"
**State your question**
Is is possible to make a`AWSAPIGatewayRequest` without using the amplify code generation?

The `amplify` cli seems to make the assumption that the person building the iOS application is the same person implementing the backend logic. In my case we have a backend dev creating and defining our api endpoints. I basically just want to sign a request and send it to those endpoin

[2019-04-10 19:36] AoumiS opened #1437 "Controlling when mutation gets trigger, instead of depending on device connectivity"
**State your question**
Is there a configuration / work-around to prevent AppSync mutations from processing even when device is connected to the internet.

Currently, if device is offline, the mutation is being store and will automatically submit offline mutation to the server, we would like to control this function. User can toggle a setting which will not submit mutations to server (even device

[2019-04-10 21:56] MarkTension commented on #1394
Same problem here. Tried all suggestions, yet issue persists. Any updates on this?

[2019-04-11 06:26] nikhil-dabhade commented on #1235
@thomers @BillBunting This is extremely important feedback. I am going over all the details and will revert today. Thank you very much for sharing the detailed insights about your pain points. We want to try and find a constructive way forward for you.

[2019-04-11 09:23] Sulemankandornawala commented on #628
I m integrating the AWS and facing up the same error
I have tried multiple pods version for this 2.6.33 & the latest one but facing the same issue in both version any solution for this

  self.configuration = configuration.copy() as! AWSServiceConfiguration
	    var URLString: String = "https://nw9jinchy0.execute-api.us-west-2.amazonaws.com/qal"
	    if URLString.hasSuffix("/") {
	        URLStrin

[2019-04-11 16:39] mxcl commented on #313
Just to add here, I wanted to write a Swift script that uses AWS stuff. So this would be very useful.

[2019-04-11 18:04] dan-didjatv commented on #1078
@muellerfr any update on where this went? Seems like it's just a platform targeting issue. We could hit the APIs directly but we're already using Amplify for iOS and seems silly to do that because of a build issue.

[2019-04-11 18:35] xuaninbox commented on #1398
Update - After further debugging, we saw that the network is NOT the issue, the mqtt message did reached the mqtt client however the decoding is not getting called.

Because we are doing OTA, the messages are coming in a burst (about 200 at a time), not sure if this is related to the decoding not getting triggered.

[2019-04-11 19:18] muellerfr commented on #1190
@docee, we released a fix. Please try out the latest SDK.

[2019-04-11 19:20] muellerfr commented on #1161
@r-plus, we released a fix for this. Please try out the latest SDK version.

[2019-04-11 20:40] JesusHUs opened #1442 "I can't update multivalued(MAP) attributes dynamoDB on swift4"
Hello, I am developing a mobile application in swift for ios and I am using AWS- services

I have a problem updating multivalued attributes [map].

[code]

REGARDS

[2019-04-11 22:53] muellerfr commented on #1241
@jspargo - We have opened a ticket on the Pinpoint service team to investigate the console issues you reported. We will provide an update when we receive it from the service team.

[2019-04-12 00:28] desokroshan commented on #1394
We have released a fix for this in the latest patch version 2.9.5. Please feel free to try it out and let us know if the issue persists.

[2019-04-12 00:44] cbommas commented on #1060
@pablogeek can you share the stacktrace, just to make sure that it is the same problem.

[2019-04-12 01:39] r-plus commented on #1161
@muellerfr Hi, thanks for your report.

I just look recently change of `AWSAbstractKinesisRecorder.m` and `AWSKinesisRecorder.m` but there are only fixed typo on https://github.com/aws-amplify/aws-sdk-ios/commit/149e9f54d37a58cdd5a6f8f3f613c11449b52863#diff-2c1cb8bc0ef330fc22e27c486e1d7c44.

Where do you pointing fix for this issue?

[2019-04-12 04:21] desokroshan commented on #1437
Closing this issue in favor of https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/231

[2019-04-12 04:21] #1437 closed

[2019-04-12 11:52] harishmaddula32 opened #1443 "S3 SDK INTEGRATION MANUAL PROCESS"
Manually integrating SDK in sample application. getting below error.

Steps followed by below link:
[https://aws-amplify.github.io/docs/ios/manualsetup](https://aws-amplify.github.io/docs/ios/manualsetup)

bash: /Users/mindscape/Library/Developer/Xcode/DerivedData/Build/Products/Debug-iphonesimulator/Integration.app/Frameworks/AWSCore.framework/strip-frameworks.sh: No such file or directory
Comman

[2019-04-12 17:52] Dellybro commented on #975
@muellerfr Any luck on this feature?

[2019-04-12 18:36] kvasukib commented on #1241
@jspargo Is it possible for you to send the Pinpoint application Id to us so our Pinpoint service team can debug this issue further? You can email me at karthba at amazon dot com. Thank you!

[2019-04-12 20:29] SSS004 commented on #1384
Hi @rohandubal,

I tried your recomendation and it worked!!!
Thanks.

[2019-04-12 20:29] #1384 closed

[2019-04-12 20:49] muellerfr commented on #1384
@SSS004 - great to hear! Thank you for the update.

[2019-04-12 21:49] trondkr commented on #1408
@rohandubal  So I have looked into this some more and I think this crashes because of a bug in the Serializer. In 'AWSS3Model.m' the 'AWSS3PutBucketPolicyRequest' sends an 'NSString' to the 'awsmtl_JSONDictionaryTransformerModelClass' which does not conform to the 'AWModel' class and therefore fails. The NSString is only sent in the 'putBucketPolicy' and 'getBucketPolicy' methods and I, therefore,

[2019-04-12 23:45] palpatim commented on #1161
@r-plus I'm embarrassed to say that this was my fault: I incorrectly reported to @muellerfr that I had fixed it recently as part of https://github.com/aws-amplify/aws-sdk-ios/commit/149e9f54d37a58cdd5a6f8f3f613c11449b52863 which included a FMDB helper with expose a `serialDatabaseQueueWithPath` method. Unfortunately, I mis-remembered updating Kinesis to use that new method, but I had actually only

[2019-04-13 00:09] motivus commented on #1389
I am seriously (and embarrassedly) at a standstill here... in fact, I've been stuck for 2 months now since trying to make the switch from using AWS for javascript-based web apps to attempting the same for iOS / mobile apps.

[2019-04-13 18:16] #1436 closed

[2019-04-14 07:26] AlexeyGolovenkov commented on #1394
I had the same problem. Updating to 2.9.5 helped. Thank you.

[2019-04-14 18:21] cbommas commented on #1398
@xuaninbox
Can you share logs, configuration, QOS settings etc., to help debug this further

[2019-04-15 12:14] purvi16 opened #1468 "Crash in AWSDDLog.m line 1165 -[AWSDDLogMessage initWithMessage:level:flag:context:file:function:line:tag:options:timestamp:]"
**Description**

Recently we have received crash log regarding this, and the code that caused the crash is pointing to AWSDDLog.m line 1165
-[AWSDDLogMessage initWithMessage:level:flag:context:file:function:line:tag:options:timestamp:].

We have used AWS SDK version '2.9.3'
It is not reproducible, Based on Fabric logs, we found that in last 30days we have 1 crash log for the same.

**Environment**

[2019-04-15 17:32] johnmurphy01 opened #1469 "AWS Cognito confirmedStatus is incorrect"
**Describe the bug**
The value of `confirmedStatus` is not set properly when the `signUp` method is called. If the account in question is already confirmed, the value of `confirmedStatus` will always be "unconfirmed". This is because `userConfirmed` is a boolean value being cast to an integer whereas `confirmedStatus` is an enum.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the sample

[2019-04-15 17:35] palpatim commented on #1468
Although the code path does indeed pass through the `AWSDDLogMessage` method, the crash seems to be related to memory allocation, as evidenced by the fact that it passes successfully through `[NSString substringWithRange]`. If the string were in an unexpected format, we'd expect that method to fail with an NSRangeException, per https://developer.apple.com/documentation/foundation/nsstring/1418469-

[2019-04-15 17:39] palpatim commented on #1443
@harishmaddula32

Thanks for the report. It is necessary to link AWSCore to your project for manual setup to work. Can you confirm that you've added the AWSCore framework to your linked frameworks, as well as AWSS3?

If that turns out to solve your issue, please reply here, as we may need to clarify this step in our documentation.

[2019-04-16 05:43] harishmaddula32 commented on #1443
Yes It's working. Tq

[2019-04-16 22:15] #1409 closed

[2019-04-17 00:31] nealpaze commented on #1394
I'm not using CocoaPods or Carthage and downloaded the frameworks in a zip file. Xcode keeps telling me AWSMobileClient.framework was compiled with an incompatible version of Swift. I've never used the AWS SDK and was trying to set up a project with PinPoint. Any help would be appreciated.

[2019-04-17 00:38] wowrahul opened #1472 "Lost connection to background service (-997) - AWSTransferUtility"
**Describe the bug**
We use uploadFile method to upload files in our app. For some of our iOS users, the upload task fail with Lost connection to background service (-997). Once the app runs into this issue, all new uploads fail. We are also seeing unknown error for some of these users.

Some of the users were able to get it fixed by resetting network settings. But we haven't been able to find a c

[2019-04-17 06:02] swift4developer commented on #1322
How you resolve that issue, can you please share the solution.

[2019-04-17 06:11] swift4developer commented on #1238
@OkiRules Did you found any solution to upload images on S3 using Digital Ocean.

[2019-04-17 06:12] OkiRules commented on #1238
No

Thanks,
Oscar
On 17 Apr 2019, 4:11 PM +1000, Ashwinee Kumar Dhakad <notifications@github.com>, wrote:

[2019-04-17 07:43] kuchhadiyaa commented on #1154
@minbi @nikhil-dabhade Any plan in near future to complete this?

Or do you have any workaround to do this?

Any suggestions are welcome.

[2019-04-17 09:07] moeenahmad05 commented on #1118
is it available for Objective c or still not ?

[2019-04-17 09:08] harishmaddula32 commented on #1322
As you said i added only Awsscore and Awss3 framework and shell script. It's working fine.

Mac os : 10.14.4
Xcode : 10.2
iOS : 12

[2019-04-17 09:27] harishmaddula32 opened #1473 "Transfer listener for downloading multiple files"
Below code i'm using for downloading multiple files contains in one single folder..
Is there any block or completion handler to know status once all files are downloaded ?

Note: I'm asking for completion status for all files not for single file.

AWSS3ListObjectsOutput *listObjectsOutput = task.result;
            for (AWSS3Object *s3Object in listObjectsOutput.contents)
            {

[2019-04-17 13:57] armandr commented on #1394
I have this issue as well! This seems to be a separate problem than the Swift 5 issue above.  AWSMobileClient is a PodSpec file and does not have its own code files.  The end of that error message says something about x86/x64.  Maybe the library compiled as ARM binary while the simulator is expecting X64 or vise versa?

[2019-04-17 14:02] armandr opened #1474 "AWSMobileClient Drop-in UI support for LoginWithAmazon Social Sign-in using Amazon"
**Which AWS Services is the feature request for?**
AWSMobileClient
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Having Login with Amazon support in the drop-in UI might make it easier for apps supporting Amazon Echo or Alexa Skills.
support for Amazon account makes easy iteration into

[2019-04-17 15:33] nealpaze commented on #1394
@armandr I got a similar issue when building by default to the Simulator but even building to a generic iOS device scheme based on the imported Frameworks from https://sdk-for-ios.amazonwebservices.com/latest/aws-ios-sdk.zip (2.9.5) dave the Swift 5 error. I can build my project with only AWSCore and Pinpoint added but AWSMobileClient causes the Swift 5 error building to a generic device.

[2019-04-17 17:14] trondkr commented on #1408
@rohandubal - Any chance you could review my last comment here? I think its a bug with both put and get a policy on S3 bucket, but I may be mistaken. Great to hear your thoughts.

[2019-04-18 15:33] #1178 closed

[2019-04-18 15:47] palpatim commented on #1394
@nealpaze @armandr  "Incompatible version" problems are the result of using binaries compiled with different versions of Swift. Swift 5's ABI compatibility makes steps toward fixing that, but until we adopt Swift 5 you will need to compile the frameworks from source before building them into your project.

[2019-04-18 16:24] palpatim commented on #1001
@BillBunting Sorry for the delayed response on this. If you are still experiencing this on the latest SDK, please open a new issue--we don't believe it would be related to the same root cause.

[2019-04-18 22:33] rohandubal commented on #1376
Hello @nourahassan

I looked deeper into this issue to identify what could possibly cause this.

Regarding the network error; I checked the code and can confirm that the error is propagated back to the developer callback with NSURLErrorDomain and code 1009. So you can look for that code and retry the request.

The specific error of notAuthorized is given by the SDK when the `idToken` is expired. I

[2019-04-18 23:22] nealpaze commented on #1394
Thanks. I was able to compile with just SNS, AWSCore and Cognito without any issues. It seems the the Framework at issue was AWSMobileClient. I'm frankly unsure of what it is needed for but I was able to get my project working. Thanks for responding.

[2019-04-18 23:28] wowrahul commented on #1472
Any updates on this?

[2019-04-18 23:28] doctorcolinsmith commented on #1394
Confirmed that the 2.9.5 release fixed the issue I originally described.

[2019-04-18 23:28] #1394 closed

[2019-04-19 04:37] hersi commented on #1045
Restart your mac then build your workspace. Build your project when the keychain prompts
enter your mac login and the press always allow. This solution worked for me, but remember to
update your  Xcode  and iPhone to lates version.

[2019-04-19 21:04] #1142 closed

[2019-04-19 21:05] #1402 closed

[2019-04-19 23:15] palpatim commented on #1161
@r-plus We have released this fix on 2.9.6: https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.9.6

Please let us know if you continue to see problems.

[2019-04-19 23:35] r-plus commented on #1161
@palpatim ok, we reopen this issue if we see same problem after v2.9.6.

[2019-04-19 23:38] r-plus commented on #1161
Close.

[2019-04-19 23:38] #1161 closed

[2019-04-22 00:55] docee commented on #1190
@muellerfr Already solved. Very thanks.🙂

[2019-04-22 00:55] #1190 closed

[2019-04-22 01:06] docee opened #1488 "Crash in AWSMQTTEncoder.m line 50"
**Describe the bug**

Fabric shows more crashes here, but I can't reproduce the crash at this time.

**To Reproduce**

Can not reproduce

**Which AWS service(s) are affected?**

IoT

**Expected behavior**
Do not crash

**Environment(please complete the following information):**
 - SDK Version: 2.9.5
 - Dependency Manager: Cocoapods
 - Swift Version : Objc

**Device Information (please complete the

[2019-04-22 01:08] docee opened #1489 "Crash in AWSIoTMQTTClient.m line 1184"
**Describe the bug**

Fabric shows more crashes here, but I can't reproduce the crash at this time.

**To Reproduce**

Can not reproduce

**Which AWS service(s) are affected?**

IoT

**Expected behavior**
Do not crash

**Environment(please complete the following information):**
 - SDK Version: 2.9.5
 - Dependency Manager: Cocoapods
 - Swift Version : Objc

**Device Information (please complete the

[2019-04-22 01:14] docee opened #1490 "Crash in AWSSRWebSocket.m line 773"
**Describe the bug**

Fabric shows more crashes here, but I can't reproduce the crash at this time.

**To Reproduce**

Can not reproduce

**Which AWS service(s) are affected?**

IoT

**Expected behavior**
Do not crash

**Environment(please complete the following information):**
 - SDK Version: 2.9.5
 - Dependency Manager: Cocoapods
 - Swift Version : Objc

**Device Information (please complete the

[2019-04-22 15:53] palpatim commented on #1488
@docee

Thank you for the report and the stack traces. As we investigate this, can you confirm whether you're seeing this crash on the most recent version of the SDK? We did an IoT bug fix in 2.9.4 that may impact some instabilities during the connection release/reconnect phase.

[2019-04-22 15:54] palpatim commented on #1489
@docee

Thank you for the report and the stack traces. As we investigate this, can you confirm whether you're seeing this crash on the most recent version of the SDK? We did an IoT bug fix in 2.9.4 that may impact some instabilities during the connection release/reconnect phase.

[2019-04-22 16:01] palpatim commented on #1213
Sorry for missing the update on this issue, but we believe this was fixed by [iOS AppSync PR 196](https://github.com/awslabs/aws-mobile-appsync-sdk-ios/pull/196), and refined by @rohandubal on subsequent commits. If you see other issues, please open an issue in the [iOS AppSync repo](https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues).

[2019-04-22 16:01] #1213 closed

[2019-04-22 16:05] palpatim commented on #1490
@docee

Thank you for the report and the stack traces. We know that we're As we investigate this, can you confirm whether you're seeing this crash on the most recent version of the SDK? We did an IoT bug fix in 2.9.4 that may impact some instabilities during the connection release/reconnect phase.

That commit didn't touch SocketRocket in particular, so it may be unrelated, but we'd still like to

[2019-04-22 16:24] #1001 closed

[2019-04-22 16:24] #1468 closed

[2019-04-22 18:30] kvasukib commented on #1241
@jspargo Thank you for sending the Pinpoint appId. I have passed the information to the Pinpoint service team for further analysis. Meanwhile, we have few questions for you:-

1) What are the event types?
2) Which page / widget in the console are you monitoring?

[2019-04-22 20:19] palpatim commented on #1473
@harishmaddula32 The TransferUtility does not offer this feature. One possible workaround would be to create a `DispatchGroup` to indicate that you can move to the next step. Each downloaded file would `enter` the group, and its completion handler (on either success or failure) would `leave` the group. In the group's `notify` method, you could then inspect the results of each individual file opera

[2019-04-23 00:55] docee commented on #1490
@palpatim

I am very sorry, I wrote the wrong SDK version, it should be 2.9.5.

When our device list changes, we need to update the STS. After updating the STS, we need to reconnect the IoT Client (not IoT Data, so we need to reconnect) to control the new device with the new STS permission.

Because the state callback of AWSIoTDataManager is slow, especially disconnected. So I used a MAGIC method,

[2019-04-23 00:55] docee commented on #1489
@palpatim

I am very sorry, I wrote the wrong SDK version, it should be 2.9.5.

When our device list changes, we need to update the STS. After updating the STS, we need to reconnect the IoT Client (not IoT Data, so we need to reconnect) to control the new device with the new STS permission.

Because the state callback of AWSIoTDataManager is slow, especially disconnected. So I used a MAGIC method,

[2019-04-23 00:56] docee commented on #1488
@palpatim

I am very sorry, I wrote the wrong SDK version, it should be 2.9.5.

When our device list changes, we need to update the STS. After updating the STS, we need to reconnect the IoT Client (not IoT Data, so we need to reconnect) to control the new device with the new STS permission.

Because the state callback of AWSIoTDataManager is slow, especially disconnected. So I used a MAGIC method,

[2019-04-23 01:03] docee commented on #1488
BTW, if AWSIoTDataManager can add a **reconnect** method is perfect. 😁

[2019-04-23 12:04] N1LaT opened #1495 "Wrong error message on signIn (2.9.6)"
**Describe the bug**
When adding a user to the user pool and aborting the app during verification, the user is added but in unconfirmed state. When I try to log in afterwards with "signIn" Method, I receive a "userNotFound" error instead of an "userNotConfirmed" error.

**To Reproduce**
Steps to reproduce the behavior:
1. Sign up on userpool
2. Do NOT authenticate user
3. Try to login with user
4.

[2019-04-23 18:47] manomuthu-optisol opened #1496 "AWS API Gateway GET request header missing."
Hi guys,

 Am using AWS API Gateway(2.6.33) auto generated SDK for Swift. While using that for GET request am passing auth token in header with IAM credentials. But its returning "Missing Token Header.”. While am checking in postman it’s working fine. Don’t know what am missing here.

Thanks in advance.
Muthu

[2019-04-23 19:54] nourahassan commented on #1376
I never get `NSURLErrorDomain and code 1009`, but after reviewing logs for last month I can see that sometimes we got token expired then on the second call we got attributes successfully.
Can the getUserAttributes not refresh token but other APIs did (like access dynamo or lambda), so when other API refreshes the token the getUserAttributes work on the second time.

We are testing with around 20 d

[2019-04-23 20:10] palpatim commented on #1495
@N1LaT Thanks for reporting this.

1. Are you able to view the user in your user pools console? If so, does the "Account status" properly report an unconfirmed state?
1. Does this happen even if you completely reset the simulator (or device) on which you're running the app? Such a reset would clear any stored credentials from the keychain and would help us rule out whether we're incorrectly retrie

[2019-04-23 20:13] palpatim commented on #1496
@manomuthu-optisol

Thanks for reporting the issue. Do note that 2.6.33 is fairly old; we're up to version 2.9.6 now. That said, I wouldn't expect there to be any changes in APIGateway behavior since that code.

Can you provide a code snippet showing how you populate the header and invoke the `GET` request on your generated client? Please make sure not to include any sensitive information like cre

[2019-04-24 06:43] manomuthu-optisol commented on #1496
Thanks for the support @palpatim. As you said while am trying to update the framework I got the below error.
<img width="570" alt="Screenshot 2019-04-24 at 11 58 26 AM" src="https://user-images.githubusercontent.com/20903164/56637061-50e0b580-6688-11e9-919c-34be36a2844d.png">

Here is what am doing in app.

Using the Accesskey, SecretKey and session Token am registering the new client with a uniqu

[2019-04-24 07:44] N1LaT commented on #1495
Good morning.

Ad 1) Yes, the user is in the userpool. I added a picture.
Ad 2) I deleted the app, and used an Email I haven't used before so this should do it.

Still receiving userNotFound :-(
No idea why the console says aws-sdk-ios-2.9.3 because the pods installed are 100% 2.9.6 and have been 2.9.4 before.
![1](https://user-images.githubusercontent.com/48475255/56641387-947df400-6675-11e9-8fc7

[2019-04-24 08:12] Minsoo-kim92 opened #1497 "Sometime files doesn't move to designate URL (TransferUtility)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. My app receive bucket key and object keys from my Server
2. Just do for loop as size of the object keys and add and start each task using transfer utility
<img width="804" alt="스크린샷 2019-04-24 오후 5 03 25" src="https://user-images.githubusercontent.com/23733661/5664

[2019-04-24 08:47] Minsoo-kim92 commented on #1497
It turned out i was my mistake

[2019-04-24 08:47] #1497 closed

[2019-04-24 09:38] rreimche commented on #1126
Is there a way to bypass the bug? Maybe to use an earlier version of the software? Can I access an earlier version of the Tutorial then?

[2019-04-24 09:58] manomuthu-optisol commented on #1496
After Updating the framework to version 2.9.6. Issue was cleared and its working fine. Thanks for the support @palpatim

[2019-04-24 17:03] Foefirelord commented on #1126
Switching over to AWSMobileClient for authentication and removing all the older authentication-related code and pods (AWSCognitoAuth, AWSCognitoIdentityProvider, etc.) solved the problem.

The new AWSMobileClient has everything needed to setup authentication, whether using in-app views or the Hosted UI or a combination of in-app UI and direct-to-social login.

And the docs are now well-formatted a

[2019-04-24 19:05] palpatim opened #1498 "How do I store the certificateID into the keychain to connect to MQTT ?"
Originally posted by [devish](https://forums.aws.amazon.com/profile.jspa?userID=481810) on [AWS Forums](https://forums.aws.amazon.com/thread.jspa?threadID=302154&tstart=0)

---

I'm having trouble using the `AWSIotDataManager` class to connect to the AWS MQTT broker in order to subscribe to events. I was passing the the `certificateID` string to the `.connect` method , but then realised that above

[2019-04-24 20:21] palpatim commented on #1496
Glad it worked out!

[2019-04-24 20:21] #1496 closed

[2019-04-25 03:18] Minsoo-kim92 commented on #1310
Is this issue was resolved ? I can't catch errors using completion handler of TransferUtility even I updated AWSS3, AWSCore to 2.9.6

[2019-04-25 07:35] armouti commented on #1498
@palpatim @rohandubal From looking briefly at the source code of the method, it seems to me that the callback provided to the `statusCallback` parameter is supposed to be invoked even if the connection failed for any reason. However, I should draw your attention to the fact that the callback provided as `mqttEventCallback` is never invoked.

[2019-04-25 16:17] #1207 closed

[2019-04-25 17:20] dankuchler commented on #1207
It is unclear to me what feedback was being requseted.  The last comment on the request seems to indicate that it was being classified as a feature request.  I do not see any open questions, so I'm not sure what feedback was being requested.  In the future please clearly indicate what feedback is being requested.

[2019-04-25 18:22] palpatim commented on #1310
@Minsoo-kim92 Yes, we believe that #1316 fixed this issue. Can you clarify that you're seeing the same error message when debugging? How are you reproducing the error? Perhaps the code path generating your error is something we missed.

[2019-04-25 19:48] rohandubal commented on #1376
Hello @nourahassan

The difference between `getUserAttributes` and dynamodb/ lambda API calls is that `getUserAttributes` uses the JWT access token issued by Cognito User Pool service whereas dynamodb/ lambda use AWS Credentials issued by Cognito Identity service.

The API refresh logic for both are similar. When the credentials are about to expire, they are refreshed by using refresh token / prov

[2019-04-25 20:29] nourahassan commented on #1376
No I didn't get `signedOutUserPoolsTokenInvalid` when I got the error from `getUserAttributes`. I got it when user signed in to another device.

[2019-04-25 21:01] muellerfr commented on #1302
@N1LaT - Thanks for the update.

[2019-04-25 21:01] #1302 closed

[2019-04-25 21:06] muellerfr commented on #1317
@lxooxl - Are you using AWSS3TransferUtility or AWSS3TransferManager? The code you provided above is using AWSS3TransferManager. Do you see the log message also when using AWSS3TransferUtility?

[2019-04-25 21:11] muellerfr commented on #1246
A fix for this issue was released with [version 2.9.4](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.9.4).

[2019-04-25 21:11] #1246 closed

[2019-04-25 21:54] muellerfr commented on #1322
@harishmaddula32 - We do not have an explicit sample for your use case. However, have a look at the following sample integration test that lists all objects in bucket then deletes them. You can copy the code and change it to download the files rather than delete them.

https://github.com/aws-amplify/aws-sdk-ios/blob/740efb55c1209066f6fe5747384bfa9084491321/AWSS3Tests/AWSS3Tests.m#L139-L164

Please

[2019-04-25 22:10] kvasukib commented on #1080
@sshilko Sorry for the delayed response. Can you email me (karthba at amazon dot com) your Pinpoint application ID so I can communicate with the Pinpoint Service team?

[2019-04-25 22:13] muellerfr commented on #1443
@harishmaddula32 - thank you for confirm. I am going to close this issue. If you still require help, please open another issue.

[2019-04-25 22:13] #1443 closed

[2019-04-25 22:25] muellerfr commented on #1389
@motivus - What happens when you do this?

[code]

[2019-04-25 22:32] muellerfr commented on #1442
@JesusHUs - Do you see any sort of errors? Or are you saying the update is failing silently? And are you saying this failure is specific to Swift 4?

[2019-04-26 01:16] motivus commented on #1389
Thanks @muellerfr - I'm afraid nothing prints out. But here's what happens:

Firstly, Xcode gives me the following error if I don't put a question mark after `task` in the first line:
[code]

Choosing 'Fix' results in this change:

`if let JSONDictionary = task?.result as? NSDictionary {
`

Having made that correction, I then get the following warning:

`Cast from 'Empty?' to unrelated type 'NSDic

[2019-04-26 02:51] Goldenwork2016 commented on #1120
Hello, guys. How are you today?
I have just got same error.
When I tried to login with AWS Cognito, I got following error.
(AWSMobileClient.AWSMobileClientError error 29.)

I need your urgent help.
Thanks.

[2019-04-26 08:10] #1080 closed

[2019-04-26 08:10] sshilko commented on #1080
Just close it, i spent already 2 montha talking to aws support. Fixing
pinpoint seems to be low priority.

On Fri, Apr 26, 2019, 00:10 Karthikeyan <notifications@github.com> wrote:

[2019-04-26 19:45] xuaninbox commented on #1398
After debugging with @roskumr we have narrowed it down to

https://github.com/aws-amplify/aws-sdk-ios/blob/1229b7b89f631b2a578c3b22d464ba18642556b3/AWSIoT/Internal/MQTTSDK/AWSMQTTDecoder.m#L63-L95

where the byte it read from the stream about the header or length is wrong, which in turn caused all following read from the stream are wrong, as there's not clear of the stream, the retry will fail as

[2019-04-26 19:47] xuaninbox commented on #1398
we have also identified that a check should be added to check if packets are corrupted at

https://github.com/aws-amplify/aws-sdk-ios/blob/1229b7b89f631b2a578c3b22d464ba18642556b3/AWSIoT/Internal/MQTTSDK/AWSMQTTDecoder.m#L93

else will cause a overflow issue

see: https://github.com/novastone-media/MQTT-Client-Framework/issues/483

[2019-04-26 20:52] muellerfr commented on #1389
Please try removing the `?` after `AWSTask` in line 83, and then comment out line 84 - 93. Now remove the `?` after `task` in line 95.

What do you see?

[2019-04-26 21:08] motivus commented on #1389
I get the same (fatal) warning message as before, unfortunately.

Here's a screenshot showing the same messages with the altered code:
<img width="915" alt="Screen Shot 2019-04-26 at 5 05 42 PM" src="https://user-images.githubusercontent.com/14934621/56836595-c9d93c00-6845-11e9-85e6-8046392d5718.png">

[2019-04-27 06:33] drwjf commented on #861
I found Pinpoint will report "Unable to successfully update endpoint" after "Push notification" is enabled.

If you delete the app, reinstall and does not enable  "Push notification", that Error Message will not show.

Log is attached here for referencing.

Hint is "Missing Address", which address is missed?

2019-04-26 23:27:21:914 ***[18602:7019472] Unable to successfully update endpoint. Error

[2019-04-27 06:51] drwjf commented on #861
After go through the following document,

https://docs.aws.amazon.com/aws-mobile/latest/developerguide/mobile-hub-add-aws-mobile-push-notifications.html

insert
[pinPoint.notificationManager interceptDidRegisterForRemoteNotificationsWithDeviceToken:deviceToken];

[pinPoint.notificationManager interceptDidReceiveRemoteNotification:userInfo fetchCompletionHandler:completionHandler];

into AppDelegat

[2019-04-27 17:55] rohit3d2003 opened #1502 "Push notifications not working while sending the message from backend to a specific user"
**State your question**
I am trying to send message to pinpoint users from Lambda but it fails with a response 'No endpoints found for userId'. I have followed the manual setup where-in, I am updating userId after registration through iOS code and I can see that the endpoint is properly updated with UserId set to the one that I provided with 'OptOut' set to 'NONE'.  Also, I have tested messaging f

[2019-04-27 22:48] rohit3d2003 commented on #1502
Fixed it myself. Forgot to parse the string in lambda and hence wasn't publishing it to the correct user

[2019-04-27 22:48] #1502 closed

[2019-04-28 15:43] colinheye opened #1503 "S3TransferUtilitySampleSwift Version Issue"
Build fails with error SWIFT_VERSION '3.0' is unsupported (in target 'AWSMobileClient' and 'S3TransferUtilitySampleSwift').

I cloned sample repository, followed Readme instructions for the S3 sample and am running Xcode 10.2.1

 - SDK Version: awsconfiguration.json has Version 0.1.0
 - Dependency Manager: Cocoapods
 - Swift Version : Apparently 3

 - Device: iPhone XR Simulator
 - iOS Version: Ta

[2019-04-29 09:49] armouti commented on #1498
@palpatim @rohandubal any help on this would be greatly appreciated!

[2019-04-29 11:42] ryancrunchi opened #1504 "Disable interactive auth"
**State your question**
For some web services on my own, I would like to use non mandatory session tokens. This means if the user is logged in, ok use tokens. If not logged in, do not force him to log in with interactive auth.
Is it possible to disable interactive auth when trying to fetch session tokens ?

**Which AWS Services are you utilizing?**
Cognito, S3

**Provide code snippets (if applicab

[2019-04-29 11:51] ryancrunchi commented on #1504
OK I worked around by creating an empty delegate class :
[code]

But still, is there an "official" way of doing this ?

[2019-04-29 13:41] jamesatfish opened #1505 ""Cannot set error on a completed task" exception on signOut()"
**Describe the bug**
We have an iOS app using Cognito User Pools authentication.

Upon app launch in our App Delegate we initialise the AWS SDK (`AWSMobileClient.sharedInstance().initialize`) and if we get a response of `userState == .signedIn` then we proceed to retrieve the user's details from our app service database.

If the AWS SDK returns a different userState, or an error, we clean up by ca

[2019-04-29 14:01] palpatim opened #1506 "Detect error in post-authentication lambda from iOS Mobile SDK"
Originally opened by [SwipeStudio](https://forums.aws.amazon.com/profile.jspa?userID=482097) on [AWS Forums](https://forums.aws.amazon.com/thread.jspa?threadID=302373&tstart=0)

---

Hi,

I'm attempting to implement device limiting functionality on and iOS app using the AWS SDK as described in this doc:

https://aws.amazon.com/blogs/mobile/tracking-and-remembering-devices-using-amazon-cognito-your

[2019-04-29 14:52] palpatim commented on #1120
@Goldenwork2016 Can you open a new issue with your details (repro steps, version of SDK, iOS & device versions) so we can investigate? Repro steps and details of your setup (how are you logging in, what auth methods are you set up to use, etc) will be super helpful.

[2019-04-29 15:15] palpatim commented on #1389
This isn't really a Swift/ObjC interoperability issue, it's that the task's result type is an `Empty`, rather than whatever result type your API is defining. Your API Gateway-generated code for `client.calcGet` should have a response type based on the model you've assigned in your API Gateway setup. If you've not set up a response type in the resource, then the response would be `Empty`, as you se

[2019-04-29 15:28] palpatim commented on #1503
Thanks for reporting. I've got an in-process project to ensure compatibility with Swift 5, and I'll ensure that this is part of that effort.

[2019-04-29 16:44] jeffjvick commented on #769
@cbommas,  Hi, so when I said I will test this in the "evening" I apparently meant 4 months from now... ;)

I am testing this using version 2.9.7 although I believe not much has changed regarding AWSS3 since 2.8.2.  I am on an iOS 12.2 device.

I'm still have some issues after upgrading.  I can open a new issue if you'd like but I'll just list them here for now:

1)
Regarding the progressBlock, I

[2019-04-29 17:12] #1054 closed

[2019-04-29 17:24] palpatim commented on #769
@jeffjvick

Please do open a new issue with the repro steps and details of your setup so we can investigate.

[2019-04-29 18:44] jeffjvick opened #1512 "Loosing network during AWSS3 uploads does not properly reset progress reporting."
**Describe the bug**
I have noticed that if while you are uploading you disable the network and then reenable it (causing the currently upload parts to restart) the progressBlock stops getting updates until the progress has surpassed the point where it left off.  This is true for both single part and multiple-part uploads.  I have not tested downloads.

**To Reproduce**
This is especially evident

[2019-04-29 18:53] jeffjvick opened #1513 "AWSS3 progressBlock stops getting called after returning from upload in the background sometimes."
**Describe the bug**
I'm seeing for AWSS3 now where if you start an upload (either signal or mulit-part) and go the background (hit home button) and come back the progress reporting has stopped. It is still uploading though because if you wait a bit the upload will complete (completionHandlers will fire and progressBlock will get called once with a fractionComplete of 1.0). Sometimes if you go in

[2019-04-29 18:54] jeffjvick commented on #769
@palpatim @cbommas

I have made https://github.com/aws-amplify/aws-sdk-ios/issues/1512 and https://github.com/aws-amplify/aws-sdk-ios/issues/1513

[2019-04-30 01:05] motivus commented on #1389
Thanks @palpatim. Interesting. It was my expectation that the task's result property would be an `Empty` because that is what the API is defined to return. And I remember reading that section you highlighted several times to make sure "I was doing it right." I was thinking Swift at the time, not Obj-C. But now I see that I likely need to specifically model the response back to the Client so that a

[2019-04-30 01:22] colinheye commented on #1503
Is it possible to run this sample in Xcode 10.2.1, either by downgrading the compiler to Swift 3 or by updating the code to Swift 4 or 5? Apologies if this is a naive question

[2019-04-30 08:53] N1LaT commented on #1495
Short update, I tried to bypass the error by adding the user to my dynamo db with an "is_authorized" flag and check that before doing a login.
And if I do a login and get a .userNotFound error and the "is_authorized" flag is not set then trying to call resendSignUpCode, but then I unfortunately get an error as well, saying: "Username/client id combination not found", so this is not possible unfort

[2019-04-30 11:12] hemantjha28 opened #1514 "InvalidSignatureException - Amazon Rekognition with PHP Client"
Hi,

I am getting the following error whenever I connect to Amazon Rekognition Service through a PHP script deployed on a hosted server (hostgator)

Error :

[code]
I am using the following PHP script.

[code]

I tried adding "'correctClockSkew'   => true," as suggested by other solutions but doesnt seem to work for me.

Please suggest a solution.

Thanks
Hemant

[2019-04-30 18:29] julio-rivera opened #1515 "isSignedIn returns false after sign-up"
**Describe the bug**
Hi, after instantiating a `AWSCognitoIdentityUserPool` object and successfully signing up a user, 'currentUser()?.isSignedIn' is equal to false. I would assume after signing up a user, this returns true. I wrote a lambda function to auto-confirm the user at sign-up.

The first screen someone is presented with I call getDetails to kick off the protocol method to see if a user i

[2019-05-01 16:48] BillBunting opened #1516 "AWSFacebookSignIn upgrade to depend on FBSDKCoreKit 5.x.x"
**Which AWS Services is the feature request for?**
AWSFacebookSignIn (app using drop in UI)

**Is your feature request related to a problem? Please describe.**

There are new features in FBSDKShareKit that I would like to use, but since AWSFacebookSign in has a dependency on an older version, I am unable to use the new FBSDKShareKit features.

[code]

**Describe the solution you'd like**
Upgrade t

[2019-05-02 20:57] rohandubal commented on #1126
Hello all,

Throughout the thread I am observing a bunch of issues causing the confusion around the type of error and scenario under which the error will happen. I will try to summarize the issues and fixes and identify the scenarios in which this still is an issue.

Issue 1 (Resolved) - The error `Cannot override a Self return type with a non-Self return type` shows up in Xcode. This was due to i

[2019-05-02 21:37] #1321 closed

[2019-05-02 21:44] rohandubal commented on #1376
If you are not receiving that notification, it would mean that the SDK is thinking that the token is valid at the given time. Have you tried retrying the request? Does the request succeed on the retry?

[2019-05-02 22:14] bolak2 opened #1519 "Cognito auth expires when app is in Background (com.amazonaws.AWSCognitoIdentityErrorDomain error 8.)"
**Describe the bug**
A clear and concise description of what the bug is.

Hello, AWSers,
I am using AWS amplify for authentication (Cognito) and S3 storage in my IOS swift app. However, I am having trouble uploading files to S3, if the app has been in the background for a while my app is unable to obtain an identity ID and therefore can not complete the upload.

**To Reproduce**
Steps to reproduce

[2019-05-02 22:21] #1244 closed

[2019-05-02 22:24] kvasukib commented on #1216
@returnzer0 Sorry for the delayed response.

You are right. If you are not using the Cognito Identity Pool, you could remove it from the `awsconfiguration.json`.

Are you using Amplify CLI for generating the `awsconfiguration.json` or are you hand-writing the fie yourself based on the resources you created from your AWS account.

[2019-05-02 22:27] kvasukib commented on #1392
@fbarraganef What is the version of the SDK you are using? Also instead of `pinpoint.analyticsClient.submitEvents()`, can you attach a completion handler to the call and see if you are receiving the response?

[2019-05-02 22:37] kvasukib commented on #1308
@edfinegan Sorry for the delayed response. Have you run the following command to generate the `S3ObjectWrapper` that creates an extension of `AWSS3TransferUtility` to confirm to the `AWSS3ObjectManager` protocol.

[code]

[2019-05-03 00:27] nourahassan commented on #1376
No I sign the user out then re-login with saved credentials. Btw I didn't get this error last two weeks! I updated the sdk 10 days ago, not sure if something changed.

[2019-05-03 02:42] returnzer0 commented on #1216
Hey @kvasukib, no worries.

I am using cloudformation templates to create all of the resources and then I create the `awsconfiguration.json` file using a script (so yes, manually).

[2019-05-03 08:19] our30K opened #1520 "Drop-in auth UI crashed after login"
**Describe the bug**
Test App crashed right after a complete user login using the drop-in auth code

I am trying amplify with Cognito. after following the instruction all the way to the drop-in UI to set up the simple test app.
the app started fine, and I can create a user from the drop-in UI.
after user is created and when I tried to login with the user, whenever the sign in button is clicked in

[2019-05-03 10:50] allanweir opened #1521 "AWSServiceConfiguration returning invalid credentials"
**Describe the bug**
When creating services like Lambda, using **AWSMobileClient.sharedInstance()** as credentialsProvider in AWSServiceConfiguration leads to no methods being executed with no debug logs produced. When building a configuration like **AWSCognitoCredentialsProvider(regionType: .EUWest1, identityPoolId: "[POOL ID]", identityProviderManager: AWSMobileClient.sharedInstance())** the ser

[2019-05-03 12:25] allanweir commented on #1521
After a bit more testing I think I've found the problem, it seems like when switching from 2.6.x to 2.9.7 that some of the old way of doing things might have changed.

I was manually creating AWSServiceConfiguration for Pinpoint, Lambda and S3 and when I do this it leads to inconsistent results or errors. For places where I need to have a custom service configuration because of timeout or retry va

[2019-05-03 14:15] palpatim commented on #1503
@colinheye

Unfortunately, the only solution is to update the projects to use Swift 4.2 or higher.

We're working on a release of the core SDK now that makes it build properly with Xcode 10.2, and the samples are in progress. I've got some of them working, but some are taking a bit longer to migrate. I'll update here when I have more info.

In the meantime, you can check my work in progress on the

[2019-05-03 15:10] helloniklas commented on #1308
Any clarity on how to initialise this though? @edfinegan did you get this to work in the end? Doing:
``
            let appSyncConfig = try AWSAppSyncClientConfiguration(appSyncServiceConfig: AWSAppSyncServiceConfig(), userPoolsAuthProvider: AWSMobileClient.sharedInstance(), s3ObjectManager: AWSS3TransferUtility.default())
[code]

[2019-05-03 15:20] helloniklas commented on #1308
@kvasukib how to I use this with the amplify codegen? Adding --add-s3-wrapper doesn't seem to do anything. Also, do I then manually have to add resolvers to get this file upload to work?

[2019-05-03 15:21] helloniklas commented on #1308
@edfinegan did you get this to work in the end? Any pointers would be much appreciated.

[2019-05-03 20:53] mfcollins3 opened #1522 "Fix AWSMobileClient to be extension API compatible"
**Which AWS Services is the feature request for?**
AWSMobileClient

**Is your feature request related to a problem? Please describe.**
I'm trying to use the AWS SDK using CocoaPods. My application is structured as follows:

* Application
* Core dynamic framework
* Share extension
* Today extension
* Dynamic framework for custom UIViewControllers
* Dynamic framework for third-party service integrat

[2019-05-06 09:47] N1LaT commented on #1495
Any news or a designated fixed version yet?

[2019-05-06 13:41] VikasPrajapatiSA opened #1526 "user is successful login without added in group in aws console."
**user is successful login without added in the group in AWS console.**

**To Reproduce**
Steps to reproduce the behavior:
1. Create a user with AWS console and not add a user in any groups.
2. Try with Login
3. User is able to a successful login.

in android SDK and javascript SDK, the user is not able to log in but in iOS it's not working properly.

[2019-05-06 15:13] #1310 closed

[2019-05-06 15:42] desokroshan commented on #1526
@VikasPrajapatiSA Thanks for reaching out. Can you please provide more details :

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.29]
 - Dependency Manager: [e.g. Cocoapods, Carthage]
 - Swift Version : [e.g. 4.0]

**Device Information (please complete the following information):**
 - Device: [e.g. iPhone6, Simulator]
 - iOS Version: [e.g. iOS 11.4]
 - Specifi

[2019-05-06 18:31] desokroshan commented on #1516
This is being tracked in https://github.com/aws-amplify/aws-sdk-ios/issues/1397

[2019-05-06 21:29] AndreaPetrelli commented on #1159
I'm in the same situation, there is any news?

[2019-05-06 21:51] desokroshan commented on #1514
@hemantjha28 This issue seems to be related to PHP SDK as opposed to iOS SDK. I have transferred the issue to https://github.com/aws/aws-sdk-php/issues/1780. Please feel free to follow-up there. Closing.

[2019-05-06 21:51] #1514 closed

[2019-05-06 21:53] desokroshan commented on #1520
@our30K Thanks for reaching out. Can you please go through the following documentation and confirm that you were able to follow the steps outline there :
https://aws-amplify.github.io/docs/ios/authentication

[2019-05-06 22:23] bolak2 commented on #1376
I am still getting the same error, the S3transfer utility exits with an error: (com.amazonaws.AWSCognitoIdentityErrorDomain error 8

[2019-05-07 04:18] nourahassan commented on #1376
@rohandubal Good news! I am not seeing errors about couldn't get user attributes because of **token revoked**.

Now I am getting the error because of reasonable reasons related to connection, and attributes are fetched later successfully.

Here's list of errors I saw last couple days:

* The request timed out.
* Software caused connection abort.
* The Internet connection appears to be offline.
* A

[2019-05-07 05:46] VikasPrajapatiSA commented on #1526
I am using

Environment:
SDK Version: (2.9.4)
Dependency Manager:  Cocoapods
Swift Version: 4.2

Device Information:
Device : iphone 6s Plus
iOS Version:12.1.4

I think in all device I am facing this issue.

[2019-05-07 06:51] VikasPrajapatiSA opened #1527 "Not getting AWSCredentials after login successfully."
**Describe the bug**
Not getting AWSCredentials after login successfully done with Amazon Cognito.

using this method:
AWSMobileClient.sharedInstance().getAWSCredentials { (credentials, error) in
if let error = error {
print("(error.localizedDescription)")
} else if let credentials = credentials {
print(credentials.accessKey)
}
}

Error:

Error getting token GetCredentialsForIdentity keeps failing

[2019-05-07 06:58] VikasPrajapatiSA opened #1528 "Getting refreshToken, accessToken, idToken different every-time."
**Describe the bug**

When I am calling "getTokens" method for fetching accessToken, then in iOS SDK its different every time.

**To Reproduce**

I am integrating this method:
AWSMobileClient.sharedInstance().getTokens { (tokens, error) in
    if let error = error {
        print("Error getting token \(error.localizedDescription)")
    } else if let tokens = tokens {
        print(tokens.accessTok

[2019-05-07 07:45] Gringox commented on #1158
Hi team,

Is support for custom auth in AWSMobileClient on the roadmap?

Thanks.

[2019-05-07 09:25] daveleenew opened #1529 "S3 AWSS3TransferUtilityUploadExpression callback twice"
**Describe the bug**
A clear and concise description of what the bug is.

S3 AWSS3TransferUtilityUploadExpression callback twice

<NSProgress: 0x600002ccc780> : Parent: 0x0 / Fraction completed: 1.0000 / Completed: 316481 of 316481
<NSProgress: 0x600002ccc780> : Parent: 0x0 / Fraction completed: 1.0000 / Completed: 316481 of 316481

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

[2019-05-07 13:12] palpatim commented on #1526
@VikasPrajapatiSA

We still need more detail here. For example: "I've set up a user with the following configuration XXX. In my Android app, using this setup code, the user is unable to log in, which is expected: XXX. In my iOS app, using this code, that same user is able to login, which is unexpected: XXX"

As it stands right now, we're having a hard time sussing out your actual use case and the

[2019-05-07 13:15] palpatim commented on #1527
@VikasPrajapatiSA

How are you logging in, and how are you initializing your mobile client? Those methods are asynchronous, so I want to ensure that you aren't encountering a race condition.

[2019-05-07 13:20] palpatim commented on #1528
@VikasPrajapatiSA

It seems like, as with the other issues you're reporting (#1526, #1527), this may be a configuration or timing issue. Are you able to provide a simple Xcode project or comprehensive code sample that reproduces the issues? It seems likely that there is something in your app setup or usage that is causing this problem, since we've not heard widespread reports of similar issues fro

[2019-05-07 13:54] VikasPrajapatiSA commented on #1527
1. add an awsconfiguration.json file in a project.

2. Initialization of AWSMobileClient.
        AWSMobileClient.sharedInstance().initialize { (userState, error) in
            if let userState = userState {
                print("UserState: \(userState.rawValue)")
            } else if let error = error {
                print("error: \(error.localizedDescription)")
            }
        }

4. C

[2019-05-07 15:13] bolak2 commented on #1519
@rohandubal Any thoughts?

[2019-05-07 15:21] kuchhadiyaa commented on #1154
@minbi @nikhil-dabhade Any plan in near future to complete this?

Or do you have any workaround to do this?

[2019-05-07 19:34] palpatim commented on #1529
@daveleenew

Can you help us troubleshoot by providing some more detail? Is this happening on uploads of any size, or only if they fall above/below a certain threshold? What version of the SDK are you using? Can you post a code snippet with your expression?

[2019-05-08 17:22] Nookaraju opened #1532 "Unable to signIn using email"
**Describe the bug**
We have integrated all required sdk to our project and able to use all method of AWSMobileClient like signUp and confirmation and all. But when we try signIn method by providing email and password it fails with error "notAuthorized". We already configured our user pool to able to login using email.

I checked with aws support and nothing wrong with the pool configuration and f

[2019-05-08 18:16] trondkr commented on #1408
@palpatim and @muellerfr - would you know if this is an issue you expect to have fixed in the near future? For me, it would be great to have this issue fixed to be able to put custom policies on s3 buckets to users.

[2019-05-08 20:06] palpatim commented on #1532
@Nookaraju

Could you confirm that the client is fully initialized (that is, you've received the appropriate status callback) before attempting the sign in?

Do the steps you describe happen during the same session--that is, your user signs up, confirms, and attempts to sign in all during the same app session?

[2019-05-08 20:56] palpatim commented on #1503
@colinheye

We just released an update to the samples repo that should fix this issue. Please let us know if you have any continued issues.

[2019-05-09 02:16] Nookaraju commented on #1532
Yes AWSMobileClient initialised in AppDelegate.
        AWSMobileClient.sharedInstance().initialize { (userState, error) in
        }

And the user state gives me "signedOut".

I tried signIn on the same session after signUp and signUp confirmation. Also tried SignIn In next launch but same result.

[2019-05-09 07:12] Mazyod opened #1535 "Migrate S3 SDKs to use virtual-hosted (V2) style URLs"
**Describe the bug**
Dispatching an S3 request with AWSS3 SDK uses V1 path-style URL. This style is going to be dropped next year. https://forums.aws.amazon.com/ann.jspa?annID=6776

**To Reproduce**
1. Initialize an AWSS3 request.
2. Dispatch the request.
3. Notice the URL being dispatched.

**Which AWS service(s) are affected?**
S3

**Expected behavior**
URL should be virtual-hosted style V2 inst

[2019-05-09 10:48] ramakrishna013 opened #1536 "How to update a row in the table using amplify in aws dynamodb in ios?"
Hi, i'm using amplify frame work to create a db and tables in that. I'm able to add data to the table and also able to get that data. Now i want to update a row in that table. How can i do that?

[2019-05-09 14:37] palpatim commented on #1376
Since @nourahassan reports their issue appears to be fixed, and @bolak2 has opened #1519 for their issue, I'm closing this one so we don't fragment the conversation.

[2019-05-09 14:37] #1376 closed

[2019-05-09 16:55] palpatim commented on #1086
I've confirmed that our Polly integration tests run in the background against a host app and do generate sound. There may be some configuration option that XCUITests require, but for now, I can confirm that this is working as expected on both apps and integration tests.

@jingyul if you are still facing this issue, can you open a new issue with repro steps, and possibly a repro app that demonstrat

[2019-05-09 16:55] #1086 closed

[2019-05-09 17:10] palpatim commented on #1323
@nipuncs Sorry for the trouble you're having here. It seems like the AppSync layer is working as expected, but the ELB layer is throwing issue.

@awsed, Can you please investigate this?

[2019-05-09 17:25] awsed commented on #1323
AppSync needs the ID or Access JWT Token that Cognito User Pools generates from an authenticated user to be sent in the Authorization header to the AppSync API endpoint, you need to check if ALB is doing that, @nipuncs

[2019-05-09 17:53] #1389 closed

[2019-05-09 17:56] palpatim commented on #1393
Hi @alionthego and @thomers

We have some documentation in https://aws-amplify.github.io/docs/ios/manualsetup#direct-aws-service-access that should help you use AWSMobileClient for accessing services like Lambda and S3.

Please let us know if this addresses the issues.

[2019-05-09 19:31] #1442 closed

[2019-05-09 19:31] #1322 closed

[2019-05-09 19:31] #1317 closed

[2019-05-09 19:39] kvasukib commented on #1241
@jspargo Do you have the information for the questions asked in https://github.com/aws-amplify/aws-sdk-ios/issues/1241#issuecomment-485504896?

You can reach out to Amazon Pinpoint Service team either through AWS Forums or AWS Customer Support if you have more information. Thanks.

[2019-05-09 21:52] jeffjvick commented on #769
@palpatim @kvasukib

Hi, does someone have an update for #1512 or #1513 ?

It's been over one and half years since we tried to integrate TransferUtility into our project and it's still too broken for us to release to production.  Our app is still using TransferManager.

[2019-05-09 22:40] rohandubal commented on #1024
Hello everyone,

Apologies for the delayed response on this thread. I was investigating this issue and reached a conclusion that this error happens when the `result` on `TaskCompletionSource` is set twice.

In the example mentioned by @swickes the error was resolved since the disabled button ensures that the result is not set on the `TaskCompletionSource`.

To ensure that this issue does not impac

[2019-05-09 22:53] rohandubal commented on #1014
@ShadyBoukhary apologies for the delayed response. I read through the thread again and identified one thing which I previously missed.

In the configuration object which you are using and assigning to API Gateway client, it is likely keeping a copy of the object which has the old token.  When you call globalSignOut, all the tokens are invalidated; BUT the issue is that the AWS Credentials are alre

[2019-05-09 23:01] ShadyBoukhary commented on #1014
@rohandubal thanks for the response.
The project has been put on hold due to unrelated reasons. Therefore, I no longer require a solution as I am no longer using this code.

I think you are right about the cause of the problem though.

[2019-05-09 23:59] #1405 closed

[2019-05-10 07:24] chopper6667 opened #1537 "High price acquisition apple enterprise developer account"
公司项目紧急高价收购一个苹果企业账号，出手的可以加我QQ 542357086
Company project urgent ，need one apple enterprise developer account ，if you want to sell ，Feel free to contact me
skype 634242887@qq.com
email 634242887@qq.com
telegram  ypjovi

[2019-05-10 08:07] daveleenew commented on #1529
/// upload progress
        let expression = AWSS3TransferUtilityUploadExpression()

        expression.progressBlock = {(task, progress) in

///callback twice when progress.fractionCompleted = 1.0
)}

[2019-05-10 08:44] nipuncs commented on #1323
@palpatim and @awsed, Thank you for your feedback. I have decided to use a manual authentication using JWT Token instead of Cognito.

Since I am no longer facing this issue, I will close this.

[2019-05-10 08:44] #1323 closed

[2019-05-10 09:51] gggal123 opened #1538 "AWSMobileClient error 8"
I actually don't know if it is a bug or a useful question.
I couldn't find a solution to this anywhere so I'm asking here.
I'm using AWSMobileClient on iOS and Amplify.
I followed the docs, added federated signIn with Google and Facebook (which seems to work fine, I get UserState: signedIn from `AWSMobileClient.sharedInstance().initialize`)
Than I signed out and tries to perform a sign up using:

[2019-05-10 18:11] jarvis32123 opened #1539 "Use IoT SDK (auth via AWSMobileClient) in iOS Sirikit intent"
I would like to connect to IoT in a Sirikit intent. To do that, I need to pass the logged in user credentials (in String form) from my main iOS app to the intent via keychain/userdefaults somehow. Then, in the intent, populate the `AWSMobileClient.sharedInstance()` with the proper credentials so it can be used with the IoT SDKs.

I tried:

[code]

The issue is identityPoolId is nil in the main iOS

[2019-05-10 23:47] palpatim commented on #1408
@trondkr

Sorry for the delayed response. As @rohandubal alluded to, we have to keep our efforts focused on our officially supported platforms. If you're able to identify a code fix and file a PR that makes this cross-platform compatible, we can look merging it in (we have to be somewhat careful, since many of our serializers are automatically generated based on service models), but realistically,

[2019-05-11 11:15] Nookaraju commented on #1532
@palpatim Do you have suggestions/inputs?

[2019-05-13 11:24] jamesatfish commented on #1505
Any update on this issue?  @palpatim ?

We are still seeing crash logs from our users with this error, using 2.9.7 and 2.9.8.  It'd be great to know how we can resolve these issues.

[2019-05-13 14:22] palpatim commented on #1014
@ShadyBoukhary Thanks for the update. I'm closing this issue, but if you reopen the project and have more questions, please feel free to open a new issue.

[2019-05-13 14:22] #1014 closed

[2019-05-13 16:13] palpatim commented on #1535
@Mazyod Thanks for pointing this out. We'll add it to our backlog and plan on rolling it out well in advance of the deadline so customers have time to migrate.

[2019-05-13 16:37] palpatim commented on #1536
@ramakrishna013

The best practice is to front your DynamoDB instance with API Gateway or AppSync--direct database access from a client app is nearly always a bad idea. Services like those I mention can help you abstract your data store CRUD operations into self-contained, authorizable, validatable API calls, as well as provide a host of other functionality to help your app stay secure, manageable

[2019-05-13 17:04] palpatim commented on #1538
@gggal123

The "Signal strength query returned error" messages are innocuous and [can be ignored](https://stackoverflow.com/questions/53526194/how-to-troubleshoot-resolve-signal-strength-query-returned-error-logs-that-are).

The real issue appears to be the "AWSMobileClient.AWSMobileClientError error 8", which resolves to an `invalidParameter`. In your code above, you catch and print the error onl

[2019-05-13 19:14] palpatim commented on #1539
@jarvis32123

For the main iOS App code: please make sure the AWSMobileClient is fully initialized before you attempt to retrieve the `identityPoolId`. Also note that `initialize()` is asynchronous, so you should wait until that method successfully completes before attempting to access that property.

Unfortunately on the SiriKit side, we're not going to be able to provide much guidance. We don't

[2019-05-13 19:27] palpatim commented on #1527
@VikasPrajapatiSA

This situation sounds like you don't have your User Pool and Identity Pool wired together correctly. Did you use the Amplify CLI to add and configure your auth setup, or did you do that manually? For example, if your User Pool is not properly set up as an Authentication Provider for your Identity Pool, then you might see an error similar to this.

To verify your setup:
* **Ident

[2019-05-14 09:29] manomuthu-optisol opened #1544 "AWSAPIGateway auto generated SDK response model is empty."
While we are trying to create a Auto generated SDK for iOS (swift). Am receiving empty model in that. Kindly suggest how can we do that.

Thanks in advance.

**Model look like below:**

[code]

**AWS Model:**

[code]

**Our Array will look something like below**

[code]

[2019-05-14 10:33] thuanngo1990 commented on #1544
I got the same issue.

"Fatal error: NSArray element failed to match the Swift Array Element type".
 - Here's my model :

@objcMembers
public class AWSRegistry: AWSModel{
    var a : String?
    var b  : String?
    var c : String?
    var d : String?

    public override static func jsonKeyPathsByPropertyKey() -> [AnyHashable : Any]!{
        var params:[AnyHashable : Any] = [:]

        params["

[2019-05-14 10:36] thuanngo1990 commented on #753
I still got the same issue with Array.

"Fatal error: NSArray element failed to match the Swift Array Element type".
 - Here's my model :

@objcMembers
public class AWSRegistry: AWSModel{
    var a : String?
    var b  : String?
    var c : String?
    var d : String?

    public override static func jsonKeyPathsByPropertyKey() -> [AnyHashable : Any]!{
        var params:[AnyHashable : Any] = [:]

[2019-05-14 11:26] ramakrishna013 opened #1545 "How to get an existing table data into my project created with amplify framework?"
Hi, I have some existing tables created in my `dynamodb` and I want to get those tables data. how can I get those tables data with amplify framework?

[2019-05-14 15:09] willrust commented on #1538
Would it be bad practice to include the original error as a property of AWSMobileClientError? It appears to be passed to ErrorMappingHelper but is left off of the AWSMobileClientError enum.
This would allow us to dig into the errors a little more for ourselves. And, would be really useful when our own auth triggered lambdas throw errors for any custom validations.

[2019-05-14 21:24] gggal123 commented on #1538
@palpatim
Well your answer helped me a lot!
I used AWS Amplify documentation and in there, they only catch `usernameExists`, so I had no idea which other errors can I catch...
Anyway, the problem that was caught, is `InvalidParameter` Error.
`error: invalidParameter(message: "Invalid phone number format."); message: Invalid phone number format.`
And it indeed occurred inside `SignUp`.

Thank you v

[2019-05-14 21:24] #1538 closed

[2019-05-14 21:48] rohandubal commented on #1545
Hello @ramakrishna013

I will need some more information to answer this question.

What is the use-case you are trying to achieve?
- Is it accessing the dynamodb data via a GraphQL API?
- Is it accessing the dynamodb data directly?
- Do you want to move the dynamodb data to some different place?

Thanks,
Rohan

[2019-05-14 22:54] rohandubal commented on #1544
Hello @manomuthu-optisol

It looks like you are trying to use nested arrays in your API. Nested arrays are currently not supported by the code generator for API Gateway for iOS (ObjC and Swift)

I will take this as a feature request to the team.

Best,
Rohan

[2019-05-14 22:55] rohandubal commented on #1544
Hello @thuanngo1990

Your issue looks like something different from @manomuthu-optisol

I would recommend opening a new issue for it.

How are you generating your AWSModel? Is it hand written? Based on the code snippet, it looks like the `registryList` is coming as an empty array which is causing the crash. Can you please check if thats the case?

Thanks,
Rohan

[2019-05-15 03:46] martsie opened #1546 "Overriding keychain of AWSMobileClient to change accessibility level"
**State your question**
We’re dealing with sensitive data and would like to be able to change the AWSMobileClient to lock the keychain for our cognito behind a user’s touch id / face-id before unlocking (and also prevent the keychain from being shared in iCloud).

AWSMobileClient instantiates a `AWSUICKeyChainStore` that uses the accessibility `AWSUICKeyChainStoreAccessibilityAfterFirstUnlock` spe

[2019-05-15 05:06] ramakrishna013 commented on #1545
@rohandubal In my case, our web developers created some tables for my project in Dynamodb. So, I have to access those in my app to show the data.

1. Do you want to move the `Dynamodb` data to some different place?
   : - In my case, I don't have to move to a different place.

2. Is it accessing the `Dynamodb` data via a GraphQL API?
   :- In my case, I set up my project using `amplify cli` and I'

[2019-05-15 06:06] manomuthu-optisol commented on #1544
@rohandubal Thanks for the info.

Is there any work around to implement that in front-end? If any please let me know.

Thanks,
Muthu

[2019-05-15 08:23] baljakbratislav opened #1547 "AWSIoT unsubscribe from topic isn't working"
**Describe the bug**
- (void)unsubscribeTopic:(NSString *)topic;
method isn't working at all.
When I change subscription to a new topic. But previously I have called unsubscribeTopic. I will receive events from both topics!

**To Reproduce**
Steps to reproduce the behavior:
Subscribe to "AA" topic.
Unsubscribe to "AA" topic.
Subscribe to "BB" topic.

**Current behavior**
Receiving events from both

[2019-05-15 21:33] #1503 closed

[2019-05-16 04:59] rohandubal commented on #1546
Hello @martsie

Thanks for the detailed description. I will take this as a feature request to the team and loop back if we need more information from you. Will keep this thread updated.

Thanks,
Rohan

[2019-05-16 05:02] rohandubal commented on #1547
Hello @baljakbratislav

Could you please give the code snippet you are using to initialize the IoT client and make the subscribe call? That will help us identify the issue and reproduce it on our side.

Thanks,
Rohan

[2019-05-16 05:05] rohandubal commented on #1545
Hello @ramakrishna013

Since you have a graphql API setup already, I would recommend using that API to retrieve the data from dynamodb table.

Could you please follow the [docs here](https://aws-amplify.github.io/docs/ios/api#code-generation) to setup the graphql API in your app and consume it?

Thanks,
Rohan

[2019-05-16 05:22] martsie commented on #1546
Great, thanks Rohan.

A token storage API similar to the one for amplify js over at https://aws-amplify.github.io/docs/js/authentication#managing-security-tokens would be ideal.

[2019-05-16 05:27] ramakrishna013 commented on #1545
@rohandubal That process is useful when I created the Dynamodb table using the amplify and the amplify generate the Graphql code(schema, mutations, queries, etc.) to do operations on the table. In my case, I've created a table without Amplify. I've directly login to AWS console and in the Dynamodb create a table like `UserData`. how can I access that `UserData` table?

[2019-05-16 08:09] baljakbratislav commented on #1547
Of course I can:

**This is code for initialization**
`if let socketProtocol = socket?.socketProtocol, let host = socket?.host, let identityPoolId = socket?.identityPoolId {
            let endpoint = socketProtocol + "://" + host
            let iotEndPoint = AWSEndpoint(urlString: endpoint)
            let credentialProvider = AWSCognitoCredentialsProvider(regionType: .EUWest1, identityPoolId: i

[2019-05-16 10:16] allanweir opened #1548 "Incorrect identityID between sessions"
**Describe the bug**
In the app I am using AWSMobileClient to handle user sessions, generally this works fine. Occasionally after a day or more, when the app is re-opened AWSMobileClient gives a userState of 'signedIn' and 'isSignedIn' is true but the identityID property is incorrect for the user which is logged in. The ID seems to become an unauth identity, rather than the Cognito User Pool one (

[2019-05-16 10:22] rineek opened #1549 "Queueing many download task issue"
Fix introduced in version 2.9.1 is working for queueing many download tasks, but from version 2.9.3 it results in AWSCognitoCredentialsProviderCredentialsRefreshTimeout

Is there any particular reason that problem stated in #1188 and fix created in #1192 and deployed in version 2.9.1 was later overwritten in #1287 and deployed with version 2.9.3?

cc original author: @fer662

[2019-05-16 13:45] pablogeek opened #1550 "MD5 not working for multipart uploads. The operation couldn’t be completed. (com.amazonaws.AWSS3TransferUtilityErrorDomain error 2.)"
Hello I'm using 2.9.5.

I'm getting an error when trying to upload a multipart upload to S3.

Error : The operation couldn’t be completed. (com.amazonaws.AWSS3TransferUtilityErrorDomain error 2.)

All I do is set `Content-MD5` in the `AWSS3TransferUtilityMultiPartUploadExpression`

This is working well for a file less than 5mb. if I set the correct `MD5` it will upload correctly otherwise it will

[2019-05-16 14:23] rohit3d2003 opened #1551 "Random Crashes in AWSSRWebSocket"
**Describe the bug**
We have an iOS application supported by AWS AppSync. Recently we have started noticing random AWSSRWebSocket errors leading to app crashes for selected users and we are not able to reproduce it intentionally.

**To Reproduce**
Random crashes, unable to reproduce (~probably threading issues)

**Which AWS service(s) are affected?**
AWS AppSync

**Expected behavior**
Application

[2019-05-16 18:37] dankuchler opened #1552 "AWSMobileClient Authentication Drop-In UI: Ability to resolve a UserNotConfirmed exception by resending the confirmation code"
Using the AWS Amplify (AWSMobileClient) for Authentication leveraging the Cognito Drop-in user interface:

The cognito user pool is configured to require the email address and to confirm the email address as part of registration.  The "happy path" works properly.  If the user exits the app without successfully verifying the confirmation email, when the user subsequently attempts to login they rece

[2019-05-16 20:02] #1241 closed

[2019-05-16 20:44] rohandubal commented on #1248
Hello all,

There are 2 issues here mentioned in this thread.

1. The drop in UI handling of new password required case.

2. The  API for confirmSignIn is running into some race condition.

Thanks,
Rohan

[2019-05-16 21:52] Armenm commented on #420
Hey @sachinB94 I had the same issue on only one of our test device.
After hours of debugging, testing and googling, I found out that the date/time was not set to 'automatic' on the device. It was set to a future date. Setting to the current time fixed the issue for me.
Here as a reference that helped me :)
https://github.com/amazon-archives/aws-sdk-react-native/issues/22#issuecomment-419855230

[2019-05-17 01:50] jodafm opened #1553 "🔴Encrypt password in the Forgot Password operation"
I am using AWSMobileClient 2.9.7 in an IOS app

Currently I'm checking the app security.

I created a **man-in-the-middle attack** scenario and then I realized that in the **Forgot Password** operation the password is not encrypted as expected when I intercept the request.

I know that Cognito works under HTTPS and usually the traffic should be safe, but this will be an issue for some applications

[2019-05-17 08:46] phanchutoan opened #1554 "AWSCredentials of DeveloperAuthenticatedIdentityProvider are not being cached"
**Describe the bug**
AWSCredentials of DeveloperAuthenticatedIdentityProvider seems not being cached, this make creating multiple pre-signed urls run slow on app second start

**To Reproduce**

Using Developer Authenticated Identity Provider
[code]

Get pre-signed urls in a loop

[code]
**Which AWS service(s) are affected?**
AWSCore, AWSS3

**Behavior**

On app first start, it takes only 1 second

[2019-05-17 09:59] N1LaT commented on #1233
@motivus I would be pleased if you get in touch with me at gerrit at mikme dot com because I need to to exactly the same as my next step and came across this post on my information gathering.
So it would be very helpful to know someone who already did exactly that and may be able to help me at some point.
Thanks in advance.

[2019-05-17 10:15] jamesingham commented on #1248
OK thanks for the update.

[2019-05-17 15:52] thuanngo1990 commented on #1544
@rohandubal . Thank you for your infor. I will check it :).

Thanks,
QT.

[2019-05-17 16:02] thuanngo1990 opened #1557 "AWS Task invokeHTTPRequest send imagedata as body."
Hi everyone,

On IOS (swift 4.2). I'm using AWSAPIGatewayClient to connect the AWS server with "invokeHTTPRequest" method.

How can I put ImageData as Body parameter?

Note: I can do that on Android with ByteArray.

Thanks,
QT.

[2019-05-17 17:03] jodafm commented on #1553
![image007](https://user-images.githubusercontent.com/8147056/57944180-5d28ee80-7893-11e9-8d24-ab443016f3a1.png)

[2019-05-17 17:08] jodafm commented on #1553
Intercepted data:

![image007](https://user-images.githubusercontent.com/8147056/57944298-c7419380-7893-11e9-901c-733f25d0544e.png)

[2019-05-17 17:56] GeekOnIce opened #1558 "Add Session Present to IoT connection status callback"
**Which AWS Services is the feature request for?**
IoT, specifically the AWSIoTDataManager class

**Is your feature request related to a problem? Please describe.**
The current API for connections takes a statusCallback closure that is called when the connection status changes, but there is no way for it to convey when a connection happens to a persistent session (as described in https://docs.aws.

[2019-05-18 17:16] daveleenew commented on #1529
https://stackoverflow.com/questions/39051473/amazon-s3-uploading-twice

@palpatim

[2019-05-19 00:06] rohandubal commented on #1548
Hello @allanweir

I think the issue here is the initialization order. While registering the clients using `register` method, I would recommend using `AWSMobileClient.sharedInstance()` as the credentials provider. When the app is launched, the first step should be to initialize the `AWSMobileClient`. It will ensure that `AWSMobileClient` becomes the default credentials provider for other clients.