[2020-02-10 17:32] kneekey23 commented on #2033
hi @rtnlsltn and @needlerp, I have been trying to reproduce this issue and no luck thus far. What version of the SDK are you using? I have my refresh token set to expire after one day but when I reload the app after it expires, it just directs me to the sign in page as expected without error. Any tips for reproducing?

[2020-02-10 18:38] rtnlsltn commented on #2033
@kneekey23 I'm currently on 2.6.32 (or .36, I forget), but running in Xcode 10.3 without issues. I have not yet updated to Xcode 11 because of this issue. I did try updating the pod to the latest, while on Xcode 11, but the issues persist. This is using the example code, as mentioned by the original post. It crashes on launch for me, as soon as a simulator launches the app in debug mode. My simula

[2020-02-10 18:43] kneekey23 commented on #2033
@rtnlsltn we are on version 2.12.6 (about to be release for .7 today too) so you are saying you updated all your pods to this version and had the same problem?

[2020-02-10 20:01] rtnlsltn commented on #2033
@kneekey23 Correct. I'm unable to run a Swift5 version in Xcode 10, hence the inability to upgrade. 2.6 has been stable for me. I'm not a huge fan of messing with pods on my development machine. I can try the project on another machine with 2.12.7 and Xcode 11.3 and provide error logs.

[2020-02-10 21:54] kneekey23 commented on #2033
yes please @rtnlsltn

[2020-02-10 22:04] palpatim commented on #2282
That would be most appropriate for your case, yes.

`YourBucket` is your S3 bucket name. The `protected/(cognitoIdentityId)/` string would be prepended to your object's key, as in

[code]

Yes, that is the intent of the URL builder, to provide URL-based access to objects for a set period of time. You can define your expiration policy (up to S3's maximum of 7 days). SDWebImage should cache the imag

[2020-02-10 22:18] palpatim commented on #2280
@colinhumber Thanks for reporting. I have some qualms about registering multiple transfer utilities for each upload--our guidance is typically to have a single transfer utility with a credentials manager that handles authentication on your behalf. However, since I don't know the details of your use case, let's table that discussion for now.

What is clear is that canceling and removing a registere

[2020-02-10 23:33] palpatim commented on #2276
@Dachmian

The behavior you're describing sounds a lot like an error due to [Data Protection](https://developer.apple.com/documentation/uikit/protecting_the_user_s_privacy/encrypting_your_app_s_files)

I'm having trouble figuring out the conditions that would cause this though. By default, iOS' Data Protection is enabled at `CompleteUntilFirstUserAuthentication` -- that is, access is blocked until

[2020-02-11 00:35] colinhumber commented on #2280
@palpatim For sure. I'll make a PR with the details of the fix I put in. I'm not 100% sure if it covers the required cases as it was a bit of a brute force fix just to get things going on my end.

As far as the multiple transfer utilities goes, I completely agree. I'm not a big fan of the setup either, but we couldn't find a better way. Would love some ideas on that, though. Basically, before we u

[2020-02-11 00:49] colinhumber commented on #2280
I was going to append some additional checks to the `testCancelMultipartUpload` test case to ensure the `.AWSS3TransferUtilityURLSessionDidBecomeInvalid` notification is posted, but I get a ton of build errors when running the tests and I can't find any guidance on getting those setup so I'll just include my initial fixes for now and come back to the tests in the PR if necessary.

[2020-02-11 00:51] colinhumber commented on #2280
PR at https://github.com/aws-amplify/aws-sdk-ios/pull/2288

[2020-02-11 16:51] Dachmian commented on #2276
@palpatim

Thank you for the reply. Data Protection is not enabled right now, but this was enabled in my app some time ago and I guess the issue relates to that.

I will pre-create the Pinpoint data base directory and try to see if the error shows itself again.

I will close and reopen if needed.

Thank you.

[2020-02-11 16:51] #2276 closed

[2020-02-11 22:14] Ricardo1980 commented on #2282
Thanks a lot @palpatim for your clarification!

Let me clarify my question, I wanted to say if getPreSignedURL sends a network request (or can take several seconds).

Let's forget about caching for a while.
Imagine I open the profile screen, using GraphQL/AppSync/Aurora I download info about that profile every time you open the profile screen. Some of the info is the name (keys) of 6 images. Does

[2020-02-12 08:51] Nicolaidam opened #2291 "'Error: notSignedIn(message: "User is not signed in, please sign in to use this API.")' even though logged in with federatedSignIn(). (Facebook)"
**State your question**
I have a AppSync service with integrated cognito as authentication. Right now i have implemented normal cognito-users and I'm able to write/read to the dynamoDB if logged in. However I have a problem when logged in with federatedSignIn(). I am not able to write to the database. Is this possible? How can i do it?

**Which AWS Services are you utilizing?**
Amplify, Cognito, A

[2020-02-12 09:26] nick3389 commented on #2211
@royjit Do you have any news? We are still experiencing the same issue as well as some of our clients. Uploading is random in some cases and the issue seems to also happen when using cellular upload mode by setting `allowsCellularAccess` to true in `AWSServiceConfiguration`.

[2020-02-12 20:37] stevenkramer commented on #2272
Well, manual configuration, so I was to blame… But not validating the assumptions before running code that depends on them should be fixed.

I'm pretty sure I did get validation failures on other configuration values though.

[2020-02-12 21:20] harryhan24 commented on #313
+1

[2020-02-13 00:41] hidrodixtion commented on #1809
Any update on this issue? Getting frustrated with the lack of support from Cognito team. Firebase auth already supports sign in with apple 4 months ago, and Identity Pool still doesn't have anything on sight.

[2020-02-13 10:32] nick3389 commented on #2245
@lawmicha  @AlexCzs I think this might be related to #2211

[2020-02-13 14:52] palpatim commented on #1972
Closing this as the parent RFC is closed, new CocoaPods integrations were released with Amplify preview, and we haven't gotten any feedback on this issue.

[2020-02-13 14:52] #1972 closed

[2020-02-13 14:58] palpatim commented on #2095
@hossamghareeb We use the main queue for certain activities using the Drop-in UI, so if you're blocking the main thread on a request, that could cause issues. In general a best practice is to perform these kinds of activities asynchronously and invoke callbacks when you receive a response, so you don't block your working thread. That said, if you have encountered a use case where you must block th

[2020-02-13 15:05] palpatim commented on #2170
@ChrisInspect We don't really have a good story for multi-tenant applications such as you're describing. There are a number of complications and security implications to supporting such use cases, as you're already discovering, and it's not a widely-requested feature for us.

The best advice we can give right now is to use a standard code base for your executable code but distribute the applicatio

[2020-02-13 15:21] palpatim commented on #2264
@ryancrunchi You have a few options for inspecting the user's state. The [`AWSCognitoIdentityUser`](https://aws-amplify.github.io/aws-sdk-ios/docs/reference/AWSCognitoIdentityProvider/Classes/AWSCognitoIdentityUser.html) object returned by `myUserPool.currentUser()` has a `signedIn` property that will be `true` if the user has an active session. You can also check `confirmedStatus`, which returns

[2020-02-13 15:32] palpatim commented on #2208
AWSMobileClient is intended to do as much work as possible in the background, such as refreshing credentials, but it will occasionally come up against situations (such as refresh token expiry) where it needs to hand control back to your app. In those cases, it notifies your app via the [user state listener](https://aws-amplify.github.io/docs/ios/authentication#state-tracking), which you can use to

[2020-02-13 15:34] palpatim commented on #2210
@spandana-batchu Glad you were able to resolve the issue. @velociraptor111 Can you review @spandana-batchu's answer and if that doesn't help, please open a new issue with the specific details of your case, including steps to repro, SDK versions, etc.

I'm closing this issue since the original issue is solved by the user state change listener.

[2020-02-13 15:34] #2210 closed

[2020-02-13 15:39] palpatim commented on #2266
@PashaKharambura Our S3 SDK is only intended (and tested) against AWS S3 endpoints. I'm afraid we don't have any insight into how it might perform with other cloud providers, even if they claim compatibility with S3.

In your original question, you mentioned using Transfer Utility, so I'm confused about what you're attempting. If you're not actually using the SDK, but rather directly access to the

[2020-02-13 15:43] hossamghareeb commented on #2095
@palpatim my use case was that the project i'm working on is assuming that the token is loaded synchronously as it was not a JWT token. When I moved to Cognito, fetching the token is done async which required me to do some refactoring in many places so I decided to block the thread till I fetch the token, it worked at the beginning but not with hosted UI as you see. I used now `URLProtocol` and it

[2020-02-13 16:20] palpatim commented on #2242
@amuresia, @SaurabhPrajapati Thanks for reporting. I've been able to reproduce this locally and am investigating now.

[2020-02-13 16:38] zackdotcomputer commented on #2001
Agree with @backslash-f that #2235 looks like a better solution than marking the whole header as ASSUME_NONNULL. Would love to see either solution integrated, though, so that we could use AWS without this pile of warnings...

[2020-02-13 16:49] palpatim commented on #2242
This appears to be a problem when installing any app...
- ...to a physical device running iOS 13.3.1
- ...that uses any embedded framework (not just AWS)
- ...and which has been code signed by a free Apple developer account

See the [Apple Forums thread](https://forums.developer.apple.com/message/404653)

Workarounds:

Because this appears to be an Apple bug, and is not isolated to AWS, the only g

[2020-02-13 17:16] palpatim commented on #2242
Marking this as "Pending" to indicate that we're waiting on a fix from Apple.

[2020-02-13 17:17] palpatim commented on #2242
Unfortunately I can't test on 11.4 beta because I haven't yet upgraded to Catalina. Once I get upgraded I'll test (assuming the issue isn't resolved via other means by then)

[2020-02-13 17:25] palpatim commented on #2229
Thanks for the update @allanweir. As I'm sure you've already encountered, auth is a subtle and highly interconnected system, so any one of the layers (Cognito, Facebook, your own layer) could introduce behaviors that affect the overall system behavior in surprising ways.

 @F9 Please do try to add the state change listener as @royjit mentioned above (https://github.com/aws-amplify/aws-sdk-ios/issu

[2020-02-13 17:43] ryancrunchi commented on #2264
ok
I see 2 edge cases here :
- currentUser is signed in (aka there is a refreshToken in keychain)
`isSigned` returns true, ok but I need fresh user data
I call `getDetails` which calls `getSession`

    - if `refreshToken` has expired or is not valid ?
The interactive auth starts, the `currentUser`'s `username` is used in place of the one I give.
`signOutAndClearLastKnownUser` does not clear the `

[2020-02-13 18:08] #2040 closed

[2020-02-13 18:12] palpatim commented on #2272
@stevenkramer Thanks for the report, but I don't think we're going to try and pre-validate this input in the current code. There might be good places to do this during configuration and initialization, but by the time we get down to the `strippedPoolId` method, there's no way to recover gracefully from a malformed ID. Given that this results from manual configuration, as opposed to the recommended

[2020-02-13 18:13] #2272 closed

[2020-02-13 21:16] drummeric commented on #819
Could you please provide an example or any additional guidance on how to use the KMS SDK to encrypt the files?

We were looking to use the [AWS Encryption SDK](https://docs.aws.amazon.com/encryption-sdk/latest/developer-guide/introduction.html), but it doesn't seem like that's supported in Swift.

[2020-02-13 22:22] palpatim commented on #1809
As far as I know, the latest status is:

- AWS supports Sign in with Apple as an external federated identity provider for Cognito User Pools, via Hosted UI. See https://aws.amazon.com/blogs/security/how-to-set-up-sign-in-with-apple-for-amazon-cognito/.
- There is a known issue with using Sign in with Apple on iOS 13 devices using FaceID to authenticate. The Cognito team is working with Apple to re

[2020-02-13 22:30] palpatim commented on #1809
@hossamghareeb

We have successfully tested Sign in with Apple using Hosted UI, but don't confirm the native sheet showing up. Can you open a new issue with details including your configuration, code snippets, and repro steps so we can investigate this further? This issue is mostly dedicated to the theme of "we need Cognito to support Sign in with Apple", and it's long enough that we'll lose conte

[2020-02-13 23:18] Foefirelord commented on #1809
@palpatim The documentation you linked is all good, but it's about setting things up in the backend, in the AWS control panel, to make Sign-in With Apple functional. But that's only half the work needed to implement Sign-in With Apple. The other half is the mobile client.

But the AWS Amplify/Mobile SDK documentation  hasn't been updated with info on implementing Sign-in With Apple.

Sure, it's si

[2020-02-14 00:58] hidrodixtion commented on #1809
I finally make it works 😭

First, in the **IAM Identity Providers**, add these values:

[code]

In the Cognito Identity Pools, edit your Identity Pool. Open the Authentication Providers, and in the OpenID tab, activate `appleid.apple.com`

Next, in your App, add **Sign in With Apple** (SIWA) capability. Follow the official steps from Apple on how to add the button and authenticate the user. When t

[2020-02-14 02:22] #2067 closed

[2020-02-14 02:22] #2221 closed

[2020-02-14 11:48] ChrisInspect commented on #2170
@palpatim sounds like the best solution. Thank you.

[2020-02-14 11:48] #2170 closed

[2020-02-14 13:16] jugos654 commented on #1522
Will this move forward, anyone?

[2020-02-14 15:16] palpatim commented on #2095
@hossamghareeb Thanks for the clarification. It sounds like everything is working as designed--the asynchronous parts are asynchronous as designed, and invoking sign in UI methods on the main thread. I'm going to close this issue, but please feel free to open a new one if you encounter other problems.

[2020-02-14 15:16] #2095 closed

[2020-02-14 15:48] palpatim commented on #2264
The common use case AWSMobileClient is trying to solve is automatically managing credentials for the lifecycle for a single user. We don't really consider use cases for automatically handling lifecycles where the user would change in the middle of a lifecycle--that's why we provide the `signOut` methods.

We don't support the ability to change the user being challenged in middle of the auth flow.

[2020-02-14 16:50] james-ff commented on #1522
An example of a similar issue to this being fixed in another library:
https://github.com/slackhq/PanModal/pull/81

[2020-02-14 17:41] palpatim commented on #2275
@mohaumpoti How are you handling authentication in your app? If you're using AWSMobileClient, please remember that its initialization is asynchronous, and you need to ensure it's initialized before making authenticated calls. Similarly, be sure to register a listener for user state changes, so you can respond appropriately when the User Pools refresh tokens expire. More info here: https://aws-ampl

[2020-02-14 21:40] #2149 closed

[2020-02-14 21:40] #1996 closed

[2020-02-14 21:40] #1613 closed

[2020-02-14 22:59] palpatim commented on #2280
Thanks for the PR, @colinhumber. Changes look reasonable to me. I'd like to get some tests on this so if you don't have time just now I'll put it on my list.

[2020-02-15 15:33] ChrisInspect commented on #2242
Same Issue here with AWSCore in the errorDescription since my iPad is updated to iOS 13.3.1

[2020-02-16 11:39] Shamsiddin commented on #800
It's 16.02.2020 and I'm having the same problem

[2020-02-17 10:20] nick3389 commented on #2211
@pskow Do you have any idea of why this is happening? Imagine that my device cannot upload anything since last Thursday... I have tried with both WiFi and Cellular data but still no luck.

[2020-02-17 11:48] Saravanakumar22 commented on #1809
Hi @hidrodixtion,
   Do we need to configure the 'awsconfiguration.json' file in app?. I'm getting this error when I try to get the AWSCredentials.

[2020-02-17 12:50] hidrodixtion commented on #1809
Hi @Saravanakumar22 , if you already have `awsconfiguration.json` file in your project, you can use the standard configuration. Don't forget to initialize it.

[2020-02-17 13:59] Saravanakumar22 commented on #1809
@hidrodixtion where should I initialize awsconfiguratoin.json file. can you please share the code and should i need to add anything particular for **sign in with apple** in awsconfiguration.json file?

[2020-02-17 22:15] palpatim commented on #800
AWSS3TransferManager is deprecated since [2.8.0](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.8.0). Please use [AWSS3TransferUtility](https://aws-amplify.github.io/docs/sdk/ios/storage) instead.

Also, if you're working on a non-production project, or if your project is not time-sensitive, you can investigate the [Amplify Storage Preview](https://aws-amplify.github.io/docs/ios/storage

[2020-02-17 23:05] hidrodixtion commented on #1809
@Saravanakumar22 follow this tutorial: https://aws-amplify.github.io/docs/ios/authentication#manual-setup. Don't forget to add the `awsconfiguration.json` into your XCode project, and No, you don't need to add anything specifically for sign in with Apple.

[2020-02-18 01:13] kneekey23 commented on #2146
@sungwonshin was your issue fixed with the update?

[2020-02-18 08:54] morris-lu opened #2296 "Cognito auth with federatedSignIn return Invalid login token"
**Which AWS service(s) are affected?**
- AWSMobileClient
- AWSCognitoAuth

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.29]
2.12.7
 - Dependency Manager: [e.g. Cocoapods, Carthage]
Cocoapods
 - Swift Version : [e.g. 4.0]
Swift 5

**Device Information (please complete the following information):**
 - Device: [e.g. iPhone6, Simulator]
iPhone 11
 - iOS Version

[2020-02-18 09:49] mohaumpoti commented on #2275
Hey @palpatim! Thanks for your response. I use AWSMobileClient to handle authentication, and I found out that the tokens were getting expired (hence the 401 unauthorized error on the api). I was able to resolve this by doing 2 things:

- In the IAM console, I changed the session duration of the authenticated role from the default 1 hour to 12 hours.
- On the client side, I now obtain refreshed tok

[2020-02-18 09:49] #2275 closed

[2020-02-18 11:33] nick3389 commented on #2245
@lawmicha Same issue here. The issue seems to be resolved after a soft reset of the device, but I guess this is not a solution. I am guessing that the request is not even fired...

[2020-02-18 16:09] idrougge commented on #2001
Does it really make sense to trust code written by people who don't even notice hundreds of warnings coming from their own code?

To make matters worse, it obscures any warnings from one's own code.

[2020-02-18 16:09] pskow commented on #2211
@nick3389 I noticed that sometimes I'm getting callback from AWSS3TransferUtilityTask with progress.isFinished twice and sometimes just once and completion handler actually informs about successful upload. I'm using RXSwift in my code and I was releasing Operation when I got isFinished from progress. This was causing interruption in sync on very last moment and file just disappeared. When I allow

[2020-02-18 18:34] lewystanton commented on #2242
Can confirm that switching from capacitor to cordova works. While not ideal, I can now at least build apps on a real device again. The steps I took were;

[code]

There's probably a more efficient way to do this but it seems to work.

[2020-02-18 19:27] wooj2 commented on #2296
Hey Morris-lu,

Thanks for getting in touch with us regarding this matter.

First, we do not recommend you call `AWSCognitoAuth` directly, as this is a relatively low level library that is used by the AWSMobileClient.

Looking at your code, it looks like you are attempting to use a social provider as an identity provider (AuthN), and then access AWS services with an identity pool.  For this use ca

[2020-02-19 04:10] docee commented on #1488
@barbarity In fact, it has not been resolved. So my choice is to let it go.

[2020-02-19 09:21] nick3389 commented on #2211
@pskow I do not use Operation or OperationQueue at all. I just make an on demand upload request (among others) using the AWSS3TransferUtility API. The problem as I think is that the request is not even fired despite the fact that the success block of the creation of the AWSTask is called as I mentioned before. I will try to intercept all the requests from the device to see if it is actually happen

[2020-02-19 14:58] amuresia commented on #2273
+1

[2020-02-19 15:07] fer662 commented on #1549
We're considering whether to update the sdk to the latest in case https://github.com/aws-amplify/aws-sdk-ios/issues/1707 gets resolved for us. We'll retest for this regression in that case.

[2020-02-19 17:19] fer662 commented on #1549
@royjit Queueing 200 requests feels pretty bad on 2.12.7 . I don't have time to analyze in depth right now but it seems that you're back to the inadequate thread control on the process of figuring out of a request has to issue a refresh. The whole figuring out must be synchronized as I explained in the original issue. The way it is, multiple requests can reach self.refreshingCredentials = YES; in

[2020-02-19 23:15] rwm1210 opened #2297 "Are these compatible: iOS,AWSAppSync, AWSMobileClient, Google Federated Identities?"
Hi,
I would like to use Google Federated Identity (IAM) to authenticate with AppSync. Is this even possible?
When it comes to GraphQL, the examples that use AppSync only seem to use API_Key.
The examples with IAM authentication tend to use Amplify.API.query.

[In this example](https://aws-amplify.github.io/docs/ios/api#iam) what is meant by graphQL-endpoint with respect to my AppSync Api?

Here's

[2020-02-20 01:29] #1825 closed

[2020-02-20 01:29] #1689 closed

[2020-02-20 07:33] karasahinemre opened #2298 "Imported User (RESET_REQUIRED) throws InvalidParameterException on signIn"
**Describe the bug**
Imported User (RESET_REQUIRED) throws InvalidParameterException on AWSMobileClient.default().signIn(username: email, password: password)

**To Reproduce**
Steps to reproduce the behavior:
1. Import user via .csv file
2. Make sure user state is RESET_REQUIRED
3. Sign in with AWSMobileClient.default().signIn(username: email, password: password)
4. See error is invalidParameter

[2020-02-20 10:54] Skyfallz opened #2299 "Pass clientMetaData to Cognito Triggers"
Hi,

on AWSMobileClient, ClientMetadata are not passed to several Cognito API calls :
- [forgotPassword](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_ForgotPassword.html)
- [confirmForgotPassword](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_ConfirmForgotPassword.html)
- [signUp](https://docs.aws.amazon.com/cognito-user-identity

[2020-02-20 13:41] hossamghareeb commented on #1204
to whom it may concern. you can use
[code]
to set custom auth programatically

[2020-02-20 13:51] hossamghareeb opened #2300 "No way to reset an ongoing custom authentication flow"
**Describe the bug**

There is no way to reset or cancel the current custom auth flow before initializing new one again.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a custom auth flow by calling `awsClient.signIn(username: email, password: "dummyPassword")`
2. Then if `result.signInState == .customChallenge` we start the cycle challenge and answer by calling `awsClient.confirmSignI

[2020-02-20 15:29] #1053 closed

[2020-02-20 16:29] #2271 closed

[2020-02-20 16:29] #2266 closed

[2020-02-20 16:29] #1933 closed

[2020-02-20 17:29] #2229 closed

[2020-02-20 18:33] rwm1210 commented on #2297
Nevermind, needed to read the documentation more closely. Sorry.

[2020-02-20 18:33] #2297 closed

[2020-02-20 23:10] wooj2 commented on #2298
@karasahinemre - thanks for looking into this.  Can you please provide us a sample .csv file (without any sensitive data) you are using so we can try and reproduce this issue?

Thank you

[2020-02-21 02:56] morris-lu commented on #2296
Hi @wooj2,
Thanks for the reply. I'll try showSignIn later.  Thank you.

[2020-02-21 03:45] morris-lu commented on #2296
Hi @wooj2
ShowSignIn works perfectly, sign up with Facebook and Google also create user, but I got this error sometimes
[code]
Here is my code
[code]

Thank you

[2020-02-21 05:22] karasahinemre commented on #2298
Hello you can find example csv file from below.

https://we.tl/t-AlzGVMbqSx

[2020-02-21 20:47] wooj2 commented on #2300
Hi @hossamghareeb ,

Thanks for reporting this.  This looks to be fixed in our latest version 2.12.7 w/ the following PR:
https://github.com/aws-amplify/aws-sdk-ios/pull/2265/files

Seems like all you would need to do is
1. upgrade to the latest version 2.12.7
2.  Call signOut() to clear out `customAuthChallengeTaskCompletionSource`

I am optimistically closing this ticket, but if problems persist

[2020-02-21 20:47] #2300 closed

[2020-02-21 21:59] kneekey23 commented on #2228
hey @nick3389 can you post a sample of your code possibly?

[2020-02-21 22:05] wooj2 commented on #2298
@karasahinemre - Sorry for the delay.  I've looked into this issue, and I think it is a misunderstanding our APIs.

It is actually expected behavior that the Cognito Service returns an error (which then returns an error in the SDK) in the event that you are calling `AWSMobileClient.default().signIn(username: email, password: password)` when the user is in a `RESET_REQUIRED` state.  In a custom log

[2020-02-21 22:33] karasahinemre commented on #2298
I think you misunderstand me.

I know the flow but SDK has to be return **passwordResetRequired** but it returns **invalidParameter** instead.

This issue already exists in Android and JS SDK too.

[2020-02-21 22:43] ChrisInspect opened #2301 "How can I cast errors from S3, etc.?"
**State your question**
In my App I can cast errors from AWSMobileClient like so

`if let error = error as? AWSMobileClientError {
switch error {
                case .userNotFound( _):
                    //handle error}}`

and so on...
But I found nothing similar for S3,DynamoDB, etc.

There is a class `AWSS3Error` , but when an error occurs, I can't cast it with this class.
Do classes like AWSM

[2020-02-21 22:48] kneekey23 commented on #1862
Updated the FB SDK to 5.8. This has been released in the version 2.12.1 and we are now on 2.12.7

[2020-02-21 22:48] #1862 closed

[2020-02-22 00:27] wooj2 commented on #2298
Oops, so sorry I misunderstood you, and thanks for your patience!

Unfortunately, I am unable to reproduce the "InvalidParameterException".  Is it possible to get additional debug information?  Is it possible to turn on additional logging to further debug this issue?  You can add the following to your app delegate to turn on debug logging, for example:
[code]

Then attempt to sign in and capture t

[2020-02-22 00:52] wooj2 commented on #2301
Hi @ChrisInspect,

Thanks for reaching out to us.  Could you provide some sample code to give us a bit more context into the calls you are attempting to make and the errors you are trying to parse?

Thanks!

[2020-02-22 01:38] ChrisInspect commented on #2301
Hi @wooj2 ,

[code]

In the example above, the error-case is never called, when an error occurs.
I want to simply cast S3 error with switch-case, like in my example with AWSMobileClient in my first post

[2020-02-22 03:22] wooj2 commented on #2301
Hi @ChrisInspect,

I really appreciate you taking the time to explain your situation and providing such a detailed example.  It really helps us understand our customers and their pain points.

That being said, unfortunately I wish I had a better answer for you, but I do not believe that a higher level error interface is available for that call.  If you need to get specific errors you will (unfortu

[2020-02-22 03:22] #2301 closed

[2020-02-22 16:10] bfallon opened #2302 "AWSUICKeyChainStore crash (rejected by Apple)"
**Describe the bug**
Our app was rejected by Apple because of a crash in the AWSUICKeyChainStore class.

**To Reproduce**
I cannot reproduce, but the reviewer at Apple states that it crashes on app start.

**Which AWS service(s) are affected?**
Class: AWSUICKeyChainStore
line 457:     `OSStatus status = SecItemCopyMatching((__bridge CFDictionaryRef)query, &data);`

**Expected behavior**
App launch

[2020-02-22 23:28] wooj2 commented on #2302
@bfallon-
Thanks for reaching out to us, and sorry to hear your app was rejected by Apple.  Based on the issue you are describing, it sounds very similar to this bug filed here (but still unclear whether or not it is the same):
https://github.com/aws-amplify/aws-sdk-ios/issues/1217

Issue 1217 does describe a workaround, which was +1'ed by another member.  But, of course it would be better to just

[2020-02-22 23:47] karasahinemre commented on #2298
This user imported via provided .csv file and has no password.

**Headers**

[code]

[code]

[code]

[2020-02-22 23:55] karasahinemre commented on #2054
Any updates?

[2020-02-23 21:06] wooj2 commented on #2298
@karasahinemre

I tried very hard to reproduce the issue you are seeing, but I have not had any luck in seeing the InvalidParameterException you are seeing.  Instead, I am getting the expected “PasswordResetRequiredException”. Some of the things I’ve tried:
- Different versions our the sdk
- Importing a csv with and without custom fields (exactly the fields you have)
- Two different regions: us-we

[2020-02-24 00:39] tahmina-khanam commented on #1278
Hi, is there any update/fix on that issue? I am having the same issue at the moment.

[2020-02-24 03:35] morris-lu commented on #2296
Hi @wooj2,

![截圖 2020-02-24 11 30 52](https://user-images.githubusercontent.com/40878125/75127286-38528900-56f9-11ea-8e51-8760e8657742.png)
Currently, I change my user pool attribute to Username fixed the problem.

I'm wondering why it shows `invalid token` when I using CognitoAuth.getssion function and showSignIn won't. I also check both access token and id token on JWT, the format looks the same

[2020-02-24 04:30] rtnlsltn commented on #2033
@kneekey23 I was able to test with the latest release (3.X) and latest Xcode and everything is working properly.

[2020-02-24 04:31] kneekey23 commented on #2033
Great thank you! Closing this issue then, let us know if we need to reopen.

[2020-02-24 04:31] #2033 closed

[2020-02-24 04:41] wooj2 commented on #2296
@morris-lu
Sorry for the delay, and glad that you were able to find a solution to the issue with regards to `email: Attribute cannot be updated.`.

With regards to CognitoAuth getSession, I don't believe the code samples you provided above were intended to work like that, so the service was complaining about an invalid token.  With using HostedUI, it was intended to be a higher level API to avoid

[2020-02-24 04:41] #2296 closed

[2020-02-24 06:11] karasahinemre commented on #2298
@wooj2

You can see our customizations from below. I scrub out sensitive info like App Client name.

Allowed OAuth Flow: Implicit grant

![photo_2020-02-24_08-44-45](https://user-images.githubusercontent.com/9135318/75131668-354d9d80-56e5-11ea-95b7-bd572114a22c.jpg)

![photo_2020-02-24_08-50-26](https://user-images.githubusercontent.com/9135318/75131674-3979bb00-56e5-11ea-9c87-bb4de17ee403.jpg)

[2020-02-24 10:20] boozi2 opened #2312 "My app is crashing in the background with error: EXC_BREAKPOINT__63-[AWSTask continueWithExecutor:successBlock:cancellationToken:]_block_invoke"
**Describe the bug**
Using the AWS SDK to upload files to S3, the app is woken every 30 min in the background by a silent push notification and uses its short time in the background to upload files.

This works, but every now and then the app crashes. Bugsnag shows that its AWS related:
EXC_BREAKPOINT__63-[AWSTask continueWithExecutor:successBlock:cancellationToken:]_block_invoke

Im using: AWSCor

[2020-02-24 12:19] nick3389 commented on #2228
@kneekey23 When coming to foreground I call this:

`let uploadTasks: [AWSS3TransferUtilityUploadTask] = transferUtility?.getUploadTasks().result as? [AWSS3TransferUtilityUploadTask] ?? []`

and then I called:
`uploadTasks.forEach({$0.setCompletionHandler(completionBlockUpload!)})`

which caused the handler to be called again even for the completed tasks.

I put a temporary fix by replacing this li

[2020-02-24 16:55] kneekey23 commented on #2312
hi @boozi2 can you please post how you are calling the SDK by sending a sample of your code?

[2020-02-24 17:03] kneekey23 commented on #2228
hi @nick3389 thanks for the code snippet. What is the reason for setting the completion handler again after you have already set it previously? Can you try calling resume on the tasks when the app becomes active instead of resetting the completion handler?

[2020-02-24 17:11] kneekey23 commented on #1208
hi there, this was implemented already in PR #1775  and refactored in #2163 (to take any web socket provider, say if you wanted to use a native one in iOS13 or pass in a third party one you prefer). Closing this, thanks!

[2020-02-24 17:11] #1208 closed

[2020-02-24 17:13] kneekey23 commented on #1062
Close with above PR

[2020-02-24 17:13] #1062 closed

[2020-02-24 17:20] palpatim commented on #2066
@amuresia

Sorry for the confusion with this. Cognito User Pools only supports sending events to Amazon Pinpoint projects in the US East (N. Virginia) us-east-1 Region, regardless of the region in which the user pool resides.

The AWS documentation has been updated to reflect this.

[2020-02-24 17:34] kneekey23 commented on #1827
@ObjCjoe are you still experiencing this issue with the latest version of the SDK? 2.12.7?

[2020-02-24 17:36] kneekey23 commented on #2013
hi @dingua have you tried calling this using Amplify Predictions instead? Set up [here](https://aws-amplify.github.io/docs/ios/predictions).

[2020-02-24 17:54] #2066 closed

[2020-02-24 21:51] amuresia commented on #2066
Hi @palpatim,

Thank you for the clarification.
All of the amplify resources that my project uses are set up in eu-west-2 (London). If I run amplify add analytics then the Pinpoint project is setup in eu-west-1 (Ireland).

However, after several application session restarts, no data is sent to Pinpoint, is this expected? Should the cli allow me to create a dashboard that cannot and will not receiv

[2020-02-24 22:35] royjit commented on #1472
Hi,

Apologies for the delayed response. Looks like this error is generated when the deamon for NSURLSession background session crashes. Would you be able to check the device logs if this is happening?
Are you facing the issue in the latest SDK?

[2020-02-24 23:02] wooj2 commented on #2298
@karasahinemre -
Thank you so much for taking the time to post screenshots (and scrubbing out data) so we can see the configuration!  Because of your hard work, I believe I have been able to reproduce the issue you are seeing. :)

It looks like when `Prevent User Existence Errors` is set to `Legacy`, I get the expected `PasswordResetRequiredException` error, and when the value is set to `Enabled (

[2020-02-24 23:15] royjit commented on #1211
Hi @adamup928

I am trying to reproduce this issue at my side. Few clarifications:
1. Are you calling `releaseSignInWait` in your app?
2. Do you make any `AWSMobileClient` call when the app comes back from background.
3. What is your apps behavior when you get `signedOutFederatedTokensInvalid` state

[2020-02-24 23:34] royjit commented on #1773
Hi @sykhan88

I configured a sample app with the same configuration as yours and tried to get identityId and it worked. Here are the steps I followed:

Configuration file

[code]

In my AppDelegate I have this:

[code]

And in my viewcontroller:

[code]
Make sure to clean build the simulator/device. Let me know if you are still facing the issue

[2020-02-24 23:40] royjit commented on #1773
Also checking `AWSInfo.defaultAWSInfo.defaultCognitoCredentialsProvider` needs some debugging into the SDK. But if you follow the steps like I mentioned above you `defaultCognitoCredentialsProvider` should be initialized for you.

[2020-02-25 04:38] brendancallahan opened #2313 "AWS IoT crashes, but never while connected to the debugger"
**Describe the bug**
I've noticed on our bug reporting service, Crashlytics, that there are four crashes that our users have been experiencing.  However, these crashes never occur while connected to the debugger.  One of our users said the app crashed when she pressed a button to go to Settings from the app, which brings up the iOS settings app and puts our app in the background.

It looks like it

[2020-02-25 05:15] karasahinemre commented on #2298
@wooj2
I'm glad you can reproduce the error.  I'm waiting for your good news :)

[2020-02-25 05:48] F9 commented on #2229
Hi, sorry for the delay but we are working hard to deliver this project.
We already have the state change listener, and doesn't look working as you are telling. It's always says "loggedIn", also if the API requests are failing.

We are also trying to implement facebook login using HostedUI, but after a day asks the user to login back automatically.
I think it's the same problem about refreshing.

[2020-02-25 07:23] diesal11 opened #2314 "EXC_BAD_ACCESS in AWSS3"
**Describe the bug**
We have seen a number of crashes from our error reporting that seem to be coming from the AWS SDK. As you will see in the attached stack trace a call to `fwrite` contained within `[AWSS3TransferUtility createTemporaryFileForPart]` is causing a `EXC_BAD_ACCESS/SIGBUS` crash.

Not sure what to do about this one but thought it was worth reporting. I don't believe we have set anyt

[2020-02-25 09:42] boozi2 commented on #2312
Initialization

[code]

Uploading

[code]

Auth

[code]

[2020-02-25 09:44] nick3389 commented on #2228
@kneekey23 Actually, that's what I was doing in the beginning, but at some point I wasn't notified that some files were uploaded and I look back in the documentation of AWSS3TransferUtility and I read this:

_Manage a Transfer when a Suspended App Returns to the Foreground

When an app that has initiated a transfer becomes suspended and then returns to the foreground, the transfer may still be in

[2020-02-25 10:01] boozi2 commented on #2312
Some crashes have different messages but are on the same issue:

EXC_BAD_ACCESSAWSCognitoCredentialsProvider
Attempted to dereference garbage pointer 0x1b720ffb5e5c

EXC_BREAKPOINT__44-[AWSCognitoCredentialsProvider credentials]_block_invoke

EXC_BAD_ACCESS__44-[AWSS3PreSignedURLBuilder getPreSignedURL:]_block_invoke

[2020-02-25 15:25] palpatim commented on #1615
Whoops, should have closed this when we released #1935. Carthage will now be built with an ABI-compatible version of Swift, which should solve the original problem of incompatible Swift versions.

Regarding not being able to build individual libraries--I'm not aware that there is a way to specify individual targets in the cartfile--it seems that Carthage wants to build all shared schemes.

[2020-02-25 15:25] #1615 closed

[2020-02-25 17:01] sungwonshin commented on #2146
Yes.  We haven't seen any login issue reports from our customers, so the updated SDK seems to fix the problem.

[2020-02-25 17:01] #2146 closed

[2020-02-26 02:05] litengwork opened #2316 "iOS 13.3.1 dyld: Library not loaded"
dyld: Library not loaded: @rpath/AWSAPIGateway.framework/AWSAPIGateway
 Referenced from: /private/var/containers/Bundle/Application/B38AB013-6999-4B45-981B-59605688BB7C/Sample.app/Sample
 Reason: no suitable image found. Did find:
/private/var/containers/Bundle/Application/B38AB013-6999-4B45-981B-59605688BB7C/Sample.app/Frameworks/AWSAPIGateway.framework/AWSAPIGateway: code signature invalid for '

[2020-02-26 23:09] royjit commented on #2316
Hi,
Can you please explain the issue here?  Please provide the following details:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Which AWS service(s) are affected?**

**Expected behavior**
A clear and concise description of what you expected to ha

[2020-02-27 00:19] PrekshyaBasnet commented on #2105
I am having the same issue. With updated iOS 13, I am not able to download images or audio urls form the server. Same code is working for iOS 12.

[2020-02-27 00:40] litengwork commented on #2316
Because the pod 'AWSAPIGateway', '~> 2.8.4' imported using Cocoapods, the project cannot be compiled successfully.
[AWSAPIGateway]
 - SDK Version: [2.8.4]
 - Dependency Manager: [Cocoapods]
 - Swift Version : [5]
 - Device: [iPhone11]
 - iOS Version: [iOS 13.3.1]

[2020-02-27 02:04] royjit commented on #2316
The version that you are using is pretty old. Could you please try with version `2.12.7`

[2020-02-27 02:36] temmplar47 opened #2317 "No callback when uploading objects to S3 with SDK for iOS"
**Describe the bug**
When customer's application uploads objects to S3 with AWSS3TransferUtility, they sometimes got no callback (success or failure). The issue could lead to failure of their APP.

**To Reproduce**
They could repro the issue by passing a null string to AWSToken by force.
Here's the snippet of the code:
[code]
**Which AWS service(s) are affected?**
S3

**Expected behavior**

**Scre

[2020-02-27 02:55] royjit commented on #2317
Could you provide us the following details?

- How are you setting the `AWSToken` to null?
- How are the credentials handled? Are you using `AWSMobileClient`?
- Can you provide code sample on how the `AWSS3TransferUtility` is initialized

[2020-02-27 08:29] boozi2 commented on #2312
@kneekey23 Any ideas ?

[2020-02-27 09:58] temmplar47 commented on #2317
1. Achieved with an internal method of a child class of AWSCognitoCredentialsProviderHelper. The following method is used to provide token to SDK. If they set awsToken to a null string, the no callback issue will be reproed.
- (AWSTask <NSString*> *) token {
    self.identityId = [UserManager sharedInstance].identityId;
    return [AWSTask taskWithResult:[UserManager sharedInstance].awsToken];
}

[2020-02-27 10:03] koxon commented on #1278
Any updates ? Looks like we still have the issue. Calling releaseSignInWait crashes the app.

[2020-02-27 12:18] koxon commented on #1278
@undefobj @nikhil-dabhade and @minbi, any updates ?

[2020-02-27 15:29] morris-lu commented on #1809
Hi,

I got `invalid request` error when I  click `sign in with apple` using showSignin function.
And the description is **No AppPlatform or Primary app for the web application**.
<img width="1085" alt="截圖 2020-02-27 23 25 01" src="https://user-images.githubusercontent.com/40878125/75458168-63b6cb80-59b8-11ea-8c4e-ad95d9fc0e70.png">
Facebook and Google sign in works great.
Does anyone know how to s

[2020-02-27 16:50] royjit commented on #2312
Could you provide a stack trace for the crashes that is occurring? `[AWSTask continueWithExecutor:successBlock:cancellationToken:]` is used at many places and it will be difficult to debug the issue without more context on where this is happening.

`EXC_BAD_ACCESSAWSCognitoCredentialsProvider
Attempted to dereference garbage pointer 0x1b720ffb5e5c` this error looks like you are accessing a zombie

[2020-02-27 22:22] royjit commented on #2291
What is the auth mode setup for your AppSync endpoint? `federatedSignIn` will only federate the social provider through Cognito Identity Pool. So after federated signIn to Cognito Identity pool you can use IAM based auth with AppSync.

[2020-02-28 05:00] royjit commented on #2317
Thanks for the information. We are trying to reproduce this issue.

Other related issues [#2245](https://github.com/aws-amplify/aws-sdk-ios/issues/2245), [#2211](https://github.com/aws-amplify/aws-sdk-ios/issues/2211)

[2020-02-28 05:37] royjit commented on #2302
Another possible related issue - [#2054](https://github.com/aws-amplify/aws-sdk-ios/issues/2054)

[2020-02-28 17:28] jasonbobier opened #2320 "Race condition in getToken"
**Describe the bug**
getToken has race conditions

**To Reproduce**
Run an app with AWS in the thread sanitizer.

You really should be testing with the thread sanitizer and analyzer, etc...

**Environment(please complete the following information):**
  pod 'Amplitude-iOS'
  pod 'AWSAppSync', '~> 2.11.0'
  pod 'AWSMobileClient', '~> 2.9.0'
  pod 'AWSS3', '~> 2.9.0'

**Device Information (please com

[2020-02-28 20:00] kneekey23 commented on #2054
hi @karasahinemre can you possibly give me more detail about the exact steps to reproduce? I put the above snippet in an app where  I have cognito user pools set up, I signed in and then called it and no repro.

[2020-02-28 20:02] palpatim commented on #2282
Yes, if the credentials need to be refreshed, then the `getPresignedURL` operation will block until the new credentials are retrieved from the network. The actual calculation of a presigned URL, once credentials are retrieved, doesn't make any network calls, which means you would be safe to call that in a table-load situation such as you describe.

One thing we've suggested in the past is to pre-w

[2020-02-28 20:13] kneekey23 commented on #2302
hi @bfallon im looking into this issue. I tried reproducing based off of #2054 but wasn't able to. Can you send me exact steps to reproduce or more info on when the crash happens? Thanks!

[2020-02-28 20:31] kneekey23 commented on #2054
hi @karasahinemre are you doing something similar to this issue #1217 ?

[2020-02-28 20:45] palpatim commented on #2317
If a credential provider returns null credentials, I would not expect the upload to even start, let alone fire a callback method. Because all TransferUtility activity happens in background NSURLSessions, it uses presigned S3 URLs to upload. These URLs are created at the time the upload is initiated, and the process of creating those presigned URLs require valid AWS credentials.

Some questions:

*

[2020-02-28 20:47] palpatim commented on #2245
@AlexCzs @nick3389

* Are you seeing the content upload successfully to S3 (e.g., by inspecting the target bucket in the S3 console), even though the callback is not invoked? Or is it the case that the upload does not complete?
* Do you have logging enabled? If not, please enable it (as @lawmicha suggested above) and let us know what you see.
* Does this happen only if the app is in the background

[2020-02-28 20:52] kneekey23 commented on #2302
@bfallon and 	karasahinemre have you guys tried enabling keychain sharing in your apps per #463

[2020-02-28 20:54] nick3389 commented on #2245
@palpatim

- No there is no content uploaded
- Logging is enabled but there nothing strange there. The last log after the creation of the task is something like `setting task identifier...`
- This happen both in foreground and background. Also, I handle the updates with `handleEventsForBackgroundURLSession`

Imagine that based on the implementation in the sample app you linked I see the following

[2020-02-28 21:09] palpatim commented on #2245
@nick3389 Thanks for the info. Does this happen more regularly on files of a particular size (e.g., very large or very small) or does it seem to happen irrespective of the size of the file being uploaded?

[2020-02-28 21:13] nick3389 commented on #2245
@palpatim I think it doesn't have to do with the size. It happened with 100kb files, 500kb & 3-4mb. I guess that for some reason(???) the upload does not even fire. I tried to intercept the requests of the app with a proxy like Charles to see if this is the case, but I thought to restart the phone first, should I had any luck. And since then, the issue has disappeared.

[2020-02-28 22:11] palpatim commented on #2245
@nick3389 That behavior makes it sound like an in-process transfer was suspended/stuck by the OS or something. While I don't have any insight into how something like that could happen, I will say that the background transfer behaviors provided by iOS are opaque and largely out of the apps (or our) control.

I'm unable to reproduce this issue in the sample app, although I do see `no background task

[2020-02-28 23:12] #2074 closed

[2020-02-29 02:27] ahmadfs commented on #1937
How is it acceptable to force user towards hostedUI which doesn't look very professional at all in a native app. We are in the same position right now where we want to integrate social login with user pools but we are unable to do so even though you allow people to configure it through cognito console and cognito cli. What is the alternative and when can we know that developers can actually use na

[2020-02-29 15:57] FahadOsaimi opened #2321 "Navigation Bar for AWSMobileClient sign in"
**The Issue**
Navigation Bar for **AWSMobileClient** sign in (**showSignIn**) is not appear in 13.3 and working fine in 12.2

**Which AWS service(s) are affected?**

`AWSMobileClient.default().showSignIn(navigationController: self.recentNavController
                ) {(userStete, error) in
                                                              if (error == nil){

[2020-02-29 18:16] lakersr8ers commented on #313
+1

[2020-02-29 19:12] aczel commented on #2001
It's safe to say, this is the attitude where a company loses customers. Maybe I am the only one here, but I am not able to work with a 3rd party library which causes tons of warnings during the compilation.

@sebsto I am just curious, do you even have an ETA for this issue? Do you even care what does it mean for a developer who needs to use your services, but actually can't? Does anyone work on th

[2020-03-01 09:59] boozi2 commented on #2312
Will try to move the init code to an earlier point, attaching the stacktrack for
`[AWSTask continueWithExecutor:successBlock:cancellationToken:]`

[code]

[2020-03-01 12:07] boozi2 commented on #2312
Another crash we see in the background is :

[code]

[2020-03-01 16:42] zackdotcomputer commented on #2001
Oof so... I hope my comment wasn't responsible for the shift in the tone of the thread here. Sorry if so, @sebsto. Wanted to keep things low-key.

I read through PR #2235 more carefully and it still looks good to me. I added my approval but I obviously don't have actual approval or merge rights. So, I'm hoping we can get a more authoritative read-through from someone on the team soon.

Until we ca

[2020-03-02 02:04] PrekshyaBasnet commented on #2105
My issue is solved. I had a custom xcconfig file setup for bundle identifier so referencing that file from Info.plist had caused this error.

[2020-03-02 08:54] rolisanchez commented on #2208
I'm trying to use `getUserAttributes` to get user attributes that I need to use in my app, such as email and picture.  I've enabled these attributes during setup and they are showing in the AWS Console, so I know I am successfully obtaining them and storing them in the Pool.

I cannot use `getUserAttributes` to get them though, even when trying immediately after sign in.

I'm using the following c

[2020-03-02 13:57] adamup928 commented on #1211
Hi @royjit -

Thanks for investigating.

1.  No, we are not calling `releaseSignInWait` anywhere.
2.  Yes, when the app comes back from the background, we call `federatedSignIn` from `AWSMobileClient`with updated credentials.
3.  When `signedOutFederatedTokensInvalid` is received, we call `federatedSignIn` with updated credentials.

We don't see as many of these crashes as we used to with updated

[2020-03-02 15:50] vijayendra-tripathi opened #2325 "AWS hosted UI reloads login page on submission on iOS."
I am following amplify auth guide as described here - https://aws-amplify.github.io/docs/ios/authentication

I am using hosted UI option for authentication with AWS amplify. On Login button press - I see a webview launch with sign-in/ sign-out options along with facebook login option. On submitting email and password, it reload the same page and asks for email and password again.  I do get a verif

[2020-03-02 16:32] tripleA-max commented on #2105
@PrekshyaBasnet
Can you detail how you fixed this?

[2020-03-02 18:28] tripleA-max commented on #2105
@kneekey23

let transferUtility = AWSS3TransferUtility.default()
var completionHandler: AWSS3TransferUtilityDownloadCompletionHandlerBlock?
 let completion: AWSS3TransferUtilityDownloadCompletionHandlerBlock = { (task, URL, data, error) -> Void in
        print(data)
        guard let data = data else {
            NSLog("Result: \(URL), Error :\(error)")
            return
        }
NSLog("File d

[2020-03-02 23:07] BillBunting commented on #1993
@palpatim @cornr -  Any update on this?  Unable to upgrade to pod 'GoogleSignIn', '~>5.0.2'  (currently, it works with pod 'GoogleSignIn', '~>4.4.0')  Error below.

[code]

[2020-03-03 01:18] PrekshyaBasnet commented on #2105
So I have a xcconfig file that my app reads App_name, Colors, etc from.
I had added App_Bundle_Identifier = "com.example.A" in the configuration file and so change the info.plist to read from this config file as:

<img width="808" alt="Screen Shot 2020-03-03 at 12 15 37 pm" src="https://user-images.githubusercontent.com/17633541/75733208-bc83bc80-5d48-11ea-8577-5312f9e2b1b6.png">

So I changed

<i

[2020-03-03 02:11] #1472 closed

[2020-03-03 02:11] #1532 closed

[2020-03-03 02:11] #2264 closed

[2020-03-03 09:36] temmplar47 commented on #2317
1. Unsuccessful;
2. PFA
[&aring;&reg;&#129;&aring;&curren;&#143;&aring;&#140;&ordm; aws  glue&ccedil;&#154;&#132;&auml;&frac12;&iquest;&ccedil;&#148;&uml;.docx](https://github.com/aws-amplify/aws-sdk-ios/files/4280390/aring.reg.129.aring.curren.143.aring.140.ordm.aws.glue.ccedil.154.132.auml.frac12.iquest.ccedil.148.uml.docx)
3. Both in background & foreground.

[2020-03-03 14:42] rolisanchez opened #2330 "AWSMobileClient, Sign in with Apple Sheet shows null as the app name."
**Describe the bug**
I'm using Amplify Auth to enable multiple Login providers to my app.  When signing in with Apple, I can finish the sign in successfully and obtain requested user attributes.

The problem when trying to sign in with a real device, is that when opening the Sign in with Apple Sheet, the app name is showing as "null".  See attached picture below as an example of what I mean. The A

[2020-03-03 15:45] nick3389 commented on #2245
@palpatim I understand your point and probably something was (still is???) wrong with background tasks. Regarding the issue you mentioned for `no background task exists with identifier`, I haven't noticed something so far, but do you believe this might have to do with the issue I mentioned?

[2020-03-03 20:18] BillBunting commented on #1993
The latest AWSGoogleSignIn  pod is using GoogleSignIn 4.4.0 (and not 5.0.x) and is not compliant with new Apple policies because of use of the UIWebView deprecated API. Apple is now sending a warning.

After submitting an app to Apple on App Store Connect, a warning is sent by email:

[2020-03-03 20:43] BillBunting opened #2337 "AWSAuthUI "Forgot your username?" Feature"
**Which AWS Services is the feature request for?**
AWSMobileClient, AWSAuthUI, AWSCognito

**Is your feature request related to a problem? Please describe.**
Users of an app often forget their cognito usernames.  `AWSMobileClient.default().showSignIn` has a "Forgot your password?" feature, but does not allow a user to recall their username.

**Describe the solution you'd like**
Add "Forgot your us

[2020-03-03 22:17] royjit commented on #2001
Apologies for the delay in fixing this. We understand the developer frustration in seeing all these warnings. We wanted to  make sure that the changes do not break anything and the signatures have the right Nullability flags. Since this code block is inside the `core` module of the SDK it can affect any other service that it uses. The PR has been merged now and will be available in the next releas

[2020-03-03 22:26] tripleA-max commented on #2105
@PrekshyaBasnet Thank you so much for this explanation. This did not seem to be the issue for me. My bundle identifier is and has always been $(PRODUCT_BUNDLE_IDENTIFIER) as I did not use an xcconfig file. I'm afraid this was not the solution to my problem. Thank you for your timely response though, it was very much appreciated.

[2020-03-03 23:10] brendancallahan commented on #2313
Here are some additional crashes we've had.  Some of them may be similar to or duplicates of crashes above due to minor changes in the IoT SDK, but I've included them in case they provide an more information.

**Crash 5 - 18 users**

AWSIoTDataManager.m line 970
-[AWSIoTDataManager handleMessagesForShadow:operation:status:payload:]

94% iOS 13, 6% background

EXC_BAD_ACCESS KERN_INVALID_ADDRESS 0x

[2020-03-03 23:51] lawmicha commented on #2105
hi @tripleA-max,
from your code snippet
[code]

Can you clarify what is the call you are making with `transferUtility`? The completion handler does look correct, that you can processing data only when there is no error.

You also mentioned this is working on the simulator and not on the device, and that this is related to file permissions. Are you downloading the object stored in S3 down to a spec

[2020-03-04 06:13] palpatim commented on #2317
Can you post a log snippet; I am unable to interpret the document linked in the 2nd bullet.

[2020-03-04 15:44] lawmicha commented on #2313
hi @brendancallahan, sorry for the issues this has caused and thanks for the detailed report. The previous issues that you referenced were reports on iOS 11/12. Were you seeing crashes before iOS 13 as well?

in regards to the disconnect and connectUsingWebSocket flow, we will have to investigate further to see if we can reproduce the scenario and find similar crashes. I wonder if it is due to som

[2020-03-04 15:58] notbenoit opened #2338 "AWSKinesisVideo, GetMedia operation"
**Which AWS Services is the feature request for?**
AWSKinesisVideo

**Is your feature request related to a problem? Please describe.**
I'm looking into playing live video feeds. The `AWSKinesisVideo` framework provides the tools to get the `dataEndpoint` (through `getDataEndpoint`). However I can't find the `getMedia` operation that would make use of the `dataEndpoint` to read the stream.

Documen

[2020-03-04 21:36] tripleA-max commented on #2105
Ok I modified my code to match the implementation you provided in the samples but I am still experiencing this issue. The call I am making is a download data request to an existing S3 bucket.
`  transferUtility.downloadData(
    fromBucket: bucketName,
    key: keyName,
    expression: nil,
    completionHandler: completionHandler).continueWith {
        (task) -> AnyObject? in
      if let error

[2020-03-05 00:35] temmplar47 commented on #2317
Response headers:
{
 Connection = "keep-alive";
 "Content-Length" = 312;
 "Content-Type" = "application/x-amz-json-1.1";
 Date = "Tue, 03 Mar 2020 08:47:10 GMT";
 "x-amzn-ErrorMessage" = "1 validation error detected: Value '{cognito-identity.cn-north-1.amazonaws.com.cn=}' at 'logins' failed to satisfy constraint: Map value
must satisfy constraint: [Member must have length less than or equal to 500

[2020-03-05 02:58] brendancallahan commented on #2313
Hi @lawmicha , thanks for your response.  The crash reports have been mostly iOS 13, but some crashes are not 100% iOS 13 users.   We released the IoT functionality in our app after the release of iOS 13, however, and based on analytics only 3% of are users are on pre iOS 13.  However, Crashlytics has flagged the first issue with an "Ios 13" icon, suggesting the sample size is large enough to impl

[2020-03-05 05:49] brendancallahan commented on #2313
By the way, I've done some looking into the analytics logs for these crashes, and they don't appear to be happening at the same time that our app is calling the disconnect and reconnect functions; in fact they seem to be happening at an arbitrary time in a normal app session.

I've added in some analytics events to our IoT access class, to see what's going on there during the crashes, and I've als

[2020-03-05 11:54] Saravanakumar22 commented on #1809
Hi @hidrodixtion ,

 Still i'm getting this error **"AWSMobileClient.AWSMobileClientError.cognitoIdentityPoolNotConfigured(message: "There is no valid cognito identity pool configured in `awsconfiguration.json`."**. Please help with this isssue.

[2020-03-05 12:38] saleem359 opened #2340 "awsconfiguration.json file manually added"
Hi , I set up my user on my local machine and installed all the dependencies required for the app in order to use authentication . My android mate told me instead of using amplify init use manual configuration just to create awsconfiguration.json file add poolID and client access id plus client secret id and that's it put that file into Xcode it will work , you do not need to use amplify init. So

[2020-03-05 13:48] pathfinder1989 opened #2341 "AWSKinesisVideoArchivedMedia,Unable to determine service/operation name to be authorized"
**State your question**

**Which AWS Services are you utilizing?**
AWSKinesisVideoArchivedMedia
**Provide code snippets (if applicable)**
[code]
**Environment(please complete the following information):**
 - SDK Version: 2.10.3
 - Dependency Manager: Cocoapods
 - Swift Version : 4.0

**Device Information (please complete the following information):**
 - Device: iPhone6S
 - iOS Version: iOS 13.3

A

[2020-03-05 13:54] forestdiggs commented on #1809
@Saravanakumar22 are you initializing AWSMobileClient first?

`AWSMobileClient.default().initialize({(userState, error) in...`

Also, make sure you have the correct value for the PoolId key here:

`"CredentialsProvider": {
            "CognitoIdentity": {
                "Default": {
                    "PoolId": "us-east-1:xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxx",
                    "Region": "us-east

[2020-03-05 14:53] palpatim commented on #2317
As noted in the error log you posted, the issue appears to be in your app's authentication configuration:

[code]

You'll need to investigate your app's login setup (you mentioned you were using developer authenticated identities) to see if you can isolate the problem. For example, you could try reducing your app to its simplest components, with no dependencies other than those necessary to perfor

[2020-03-05 15:45] lawmicha commented on #2330
hi @rolisanchez, thanks for reporting the issue and providing the detailed information. We are currently investigating issues with Apple Sign-In and will provide an update regarding this "null
 value when we can.

[2020-03-05 15:52] lawmicha commented on #2337
hi @BillBunting, this sounds like a neat feature. I will bring this up with Cognito to see this is supported on the service side.

[2020-03-05 16:01] lawmicha commented on #2340
hi @saleem359, can you try setting things up with the Amplify CLI, ie.

1. `amplify init`
2. `amplify add auth`

and once it has generated your awsconfiguration.json file, you can use that as a template for replacing its values with your own. It should look like this: https://aws-amplify.github.io/docs/ios/authentication#manual-setup

Also for the file to be picked up from your project, you have t

[2020-03-05 17:02] lawmicha commented on #2338
Hi @notbenoit, thanks for letting us know, we'll check in with the Kinesis team on why this method isn't in the SDK and keep you updated.

[2020-03-05 17:20] lawmicha commented on #2325
![image](https://user-images.githubusercontent.com/1365977/76007210-af4b0700-5edb-11ea-82b3-5ff72cdbbef1.jpeg)

[2020-03-05 17:45] lawmicha commented on #2321
Hi @FahadOs, thanks for reporting this issue. Unfortunately I was unable to reproduce this.

My pod file
[code]

![Simulator Screen Shot - iPhone 8 Plus - 2020-03-05 at 09 40 26](https://user-images.githubusercontent.com/1365977/76009051-70aa5200-5ec5-11ea-9904-a527f6850185.png)

Do you see any errors in the console related to the navigation controller? Are you able to reproduce this on a physical

[2020-03-05 17:52] lawmicha commented on #2105
maybe related https://github.com/aws-amplify/aws-sdk-ios/issues/2314

[2020-03-05 17:53] lawmicha commented on #2105
https://github.com/aws-amplify/aws-sdk-ios/issues/2314

[2020-03-05 18:58] royjit commented on #2001
Released this in the new version [2.13.0](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.13.0)

[2020-03-05 18:58] #2001 closed

[2020-03-06 00:59] PrekshyaBasnet commented on #2105
@tripleA-max This issue is really strange cause the issue in iPad still persists. But the issue does not exist for iPhone anymore.

[2020-03-06 05:11] karasahinemre commented on #2298
Hi, any updates?

[2020-03-06 05:57] noelle007 opened #2342 "Right after user sign in, authenticated role is not assumed to allow API Client (api gateway sdk) to API calls."
**State your question**

Our sign in flow goes:
user landing on app grant an unauthenticated role with limited api calls
->
user sign in, either through cognito user pool or facebook
->
user sign in federated, in the case of using cognito user pool there is no need as far as I understand
->
user status return as .signedIn
->
app makes api calls to retrieve user data with the newly assumed authenti

[2020-03-06 06:25] #2055 closed

[2020-03-06 07:50] FahadOs commented on #2321
Thank you @lawmicha so much for your reply.

I have not tested yet in a physical device but all iPhone simulators with IOS 13.3 has the same issue

I have just figure out that once the large titles attribute for navigation bar was set to true the issue will appear :

`           UINavigationBar.appearance().prefersLargeTitles = true
`

My Pod file :

[code]

[2020-03-06 09:51] Saravanakumar22 commented on #1809
@forestdiggs @hidrodixtion

AWSMobileClient.default().initialize { (state, error) in

                    AWSMobileClient.default().federatedSignIn(providerName: "appleid.apple.com", token: String(decoding: token, as: UTF8.self)) { (resState, error) in

                        if let state = resState, state == .signedIn {

                            AWSMobileClient.default().getAWSCredentials { (

[2020-03-06 13:34] forestdiggs commented on #1809
@Saravanakumar22
That all looks right - I'm able to get AWS Credentials using the code you've provided. Double check that the PoolId is correct, you can find it on AWS Cognito under Federated Entities here:

![image](https://user-images.githubusercontent.com/25435892/76087998-46b86480-5f85-11ea-9437-6ba475d127f7.png)

[2020-03-06 14:25] vijayendra-tripathi commented on #2325
Hello @lawmicha. Thanks for your reply. Yes I am using `amplify add auth` to generate aws configuration file. I have attached my config file here.  I have replaced my id with placeholder strings due to security reasons. Please review it and let me know your thoughts.
[aws-config.txt](https://github.com/aws-amplify/aws-sdk-ios/files/4298753/aws-config.txt)

[2020-03-06 15:36] lawmicha commented on #2342
Hi @noelle007, thanks for reporting this issue.

What is the error message you are getting for "unauthenticated role is not authorized to make this call", any additional context in the response you can paste?

What are some relevant code snippnets or methods you are using? are you using federated sign in with the cognito identity pool or using cognito hosted ui for sign in with facebook? (what is

[2020-03-06 16:06] lawmicha commented on #2338
I have confirmed with Kinesis team that `GetMedia` API is missing from iOS and Android SDK's. Please use `GetMediaForFragmentList` as the alternative for getting back the video in non-real time. I will mark this as a feature request for the service team.

[2020-03-06 17:15] wooj2 commented on #2298
@karasahinemre - sorry for the delay.

There seems to be a confirmed change of behavior in the backend.  Typically this would be a quick fix, but the change seems to be in conflict with some other bigger items that need to go through some formal channels of approval.  Unfortunately, I don't have a clear timeline as to when this will get fixed, but again, really appreciate all the hard work your di

[2020-03-06 21:31] tripleA-max commented on #2105
@PrekshyaBasnet Oh no way. Yea something with the SDK then maybe. Thank you so much for your feedback!

[2020-03-06 21:52] giovazjim opened #2343 "AWSIoT reconnecting issues when the app goes from background to foreground state"
**Describe the bug**

After the connection to a socket has been established, in some cases when the app goes to background state for a few minutes like 5 to 20 min and then bring it to foreground state the
IoT web socket status is connectionError and never reconnects again, which is causing that we are not able to get MQTT package anymore.

Question. Is it suppose that the skd should manage the re

[2020-03-07 02:11] lawmicha commented on #2105
Hi @tripleA-max , we just tried using the sample app and running it on a physical device on iOS 13.3.1 and things look fine. Could it be a setting on your device that is retricting some file permissions?

It appears you are also using an older SDK version, can you try again with the latest version? `2.13.0`

Can you clarify, if the file permission error is coming from TransferUtility or after you

[2020-03-07 13:43] sebsto commented on #2001
Can not test because AppSync has a dependency on 2.12 and is not updated for 2.13 yet (https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/357)

[2020-03-07 14:24] sebsto commented on #2001
I confirm the nullability warnings are gone now (tested on a fresh project)
I still have warnings, but for other reasons
<img width="266" alt="image" src="https://user-images.githubusercontent.com/401798/76145200-a5660700-6087-11ea-8383-70c1e8081565.png">

[2020-03-07 21:29] noelle007 commented on #2342
@lawmicha  Thanks for the prompt response:

Here is our podfile:
[code]

Here is what I have in `AppDelegate.swift`
[code]
The user flow:
[code]
There isn't any error until the line `user sign in post api error`
Here is an example when signing in using cognito user pool.
[code]
We have similar flow with JS SDKs on our web app. We never have this problem.

Thanks for looking into this!

[2020-03-08 05:43] brendancallahan commented on #2313
We've had the version with analytics released for a day or two.  So far, t we have seen crashes at

-[AWSIoTMQTTClient webSocketDidOpen:]

__39-[AWSSRWebSocket _HTTPHeadersDidFinish]_block_invoke

The analytics event that we've added show for the MQTT status callbacks:

413 06:10:52.867 PM IoTStatusDisconnected
414 06:10:52.870 PM IoTStatusConnectionError
415 06:10:53.956 PM IoTStatusDisconnected

[2020-03-08 21:35] Foefirelord commented on #1937
@ahmadfs The current live SDK documentation provides a `HostedUIOptions()` object that allows for the bypassing of the literal hosted UI to go directly to any given external provider authentication flow:

https://aws-amplify.github.io/docs/sdk/ios/authentication#configuring-hosted-ui-to-launch-facebook-google-saml-sign-in-directly

[2020-03-08 21:43] prmacias opened #2349 "Error: Cannot find module 'amplify-frontend-javascript'"
**Describe the bug**
Creating base Amplify project
Error: Cannot find module 'amplify-frontend-javascript'

I didn't see any new files in the root project (IOS) -
amplifyconfiguration.json, awsconfiguration.json and amplifyxc.config

This issue is linked to

https://github.com/aws-amplify/amplify-ios/issues/345

when I built this project for first time then I get this error. If I built it again -

[2020-03-09 06:31] pathfinder1989 commented on #2338
Could you provide a demo for how to use AWSKinesisVideoArchivedMedia

[2020-03-09 06:31] pathfinder1989 commented on #2338
@lawmicha Could you provide a demo for how to use AWSKinesisVideoArchivedMedia

[2020-03-09 06:36] pathfinder1989 commented on #2341
@lawmicha

First I did these when app start

[code]

and when I use `listFragments`, it give a  response with error

[code]

[2020-03-09 15:22] tripleA-max commented on #2105
Hi @lawmicha  I thought that could be the issue, but it just isn't my device that has this issue. Any device  I use running iOS 13 gives me this problem. I updated awhile back and I am using Cocoapods 2.12.7 and I am still seeing the issue. The error comes back from the AWSS3TransferUtilityDownloadCompletionHandlerBlock. The file that is being downloaded is being downloaded for the sake of display

[2020-03-09 16:48] wooj2 commented on #2313
@brendancallahan - Just wanted to give you a heads up, and thank you for all of the detailed information with regards to this bug -- it has not gone unnoticed! :).

I was able to setup an example IoT app and connect over websockets, however, I have been unsuccessful in being able to reproduce a crash ( by going offline/online, publishing events, subscribing, etc..).  That being said, I haven't giv

[2020-03-09 23:28] PrekshyaBasnet commented on #2105
@tripleA-max
I have two targets, client1-app and client2-app. Both were not working for iOS 13+ in iPhone and iPad.

I changed the bundle Id I mentioned above, and it started working on iPhone and not in iPad.
So I suspected there is issue related with info.plist and not anywhere.

Yesterday just for testing, I changed the bundle id and ran on the iPad and it works. So my issue was all related to

[2020-03-10 01:14] phillipsk opened #2350 "AWS iOS SDK samples replace cocoapods source"
**Describe the bug**
A clear and concise description of what the bug is.

Remove the sources line 'source 'https://github.com/CocoaPods/Specs.git''
on S3TransferUtility-Sample/Swift/Podfile
See https://stackoverflow.com/q/23755974/3128069
Or replace with source 'https://cdn.cocoapods.org/' Although I believe the modern Podfile no longer has a sources link

**To Reproduce**
Steps to reproduce the b

[2020-03-10 10:43] rameshtek opened #2371 "When the device time set to future download fails with an error"
**Describe the bug**
When the device time is set to future download fails with an errorcode "0"  and task.result is nil.
but the same works in Android.

**To Reproduce**
Steps to reproduce the behavior:

Please find the code snippet below.

AWSS3 *s3 = [AWSS3 defaultS3];   AWSS3HeadObjectRequest *request = [AWSS3HeadObjectRequest new];
  request.bucket = @“bucketName”;
  request.key =@“bucketKey”;

[2020-03-10 11:27] hossamghareeb commented on #2330
I can confirm that this issue is reproducible. I get the same `null` as app name

[2020-03-10 11:35] hossamghareeb opened #2353 "AWSMobileClient, Sign In With Apple sheet shows above a web view."
**Describe the bug**

When I use the hosted UI to sign in with apple via:
[code]
I could log in successfully but the native sheet opens above the web view which looks off. The native implementation will show the native sheet directly but if we use Cognito, there is a layer in between.

**Which AWS service(s) are affected?**

**Expected behavior**
To let Cognito SDK shows the native sign in with ap

[2020-03-10 13:04] Nikooos opened #2354 "Remember devices leads to Invalid Refresh Token (using AWSMobileClient)"
**Describe the bug**
When 'remember devices' is set to 'always' in my Amazon Cognito user pool, I receive an 'Invalid Refresh Token'-response when opening the app an hour later.
That means I'm logged out at that point and I need to log in again. That's not the experience I want to give my users.

I'm using the Amazon best practice AWSMobileClient in this situation.

**To Reproduce**
Steps to repro

[2020-03-10 15:46] bfallon commented on #1120
Is there any documentation that actually lets us know what these errors mean? I've been searching and cannot find any. I'm getting (AWSMobileClient.AWSMobileClientError error 26.).

What is that error?

[2020-03-10 18:43] ChrisInspect opened #2355 "Use API Gateway WebSockets with IAM authentication"
**State your question**
I want to implement API Gateway Websockets in my iOS-application. This works fine without authorization and third-party Websocketlibrary ([Starscream](https://github.com/daltoniam/Starscream)), but I need to authenticate my Websocket. As soon as I activate IAM-Authorization in my Websocket API, of course I can't connect anymore. My users are authenticated with Cogntio _insi

[2020-03-10 19:34] AndresCanella commented on #1809
Thanks, @hidrodixtion. It is worth noting that this solution does federation directly from the Identity Pool. So will not create users in the User Pool.

[2020-03-11 00:21] lawmicha commented on #2353
Hi @hossamghareeb, thanks for bring this up, I tested this on my device and I believe this isn't something the SDK can easily fix as we leverage Cognito's HostedUI feature for the sign-in flow. HostedUI endpoints provides a way to authenticate with the social providers and create a user in Cognito UserPool on first Sign-In. In other cases, directly launching the hostedUI for Google/Facebook will f

[2020-03-11 04:21] dillonsvincent opened #2356 "How to test .signedOutUserPoolsTokenInvalid event"
**State your question**
I've had a couple users report them being randomly logged out of our app. I put logging in place to see if it was caused by .signedOutUserPoolsTokenInvalid event, and it was. Now I have a fix in place where I catch that event and sign them back in. I'm wondering if there is a good way to actually force test the invalid token event to see if my logic is handling the state co

[2020-03-11 08:45] hossamghareeb commented on #2353
Thanks, @lawmicha for your reply. Unfortunately, the federated option is not applicable for us as we need a JWT token which requires creating a user in User Pool. I'm just worried about Apple review and app gets rejected for this weird behavior.

[2020-03-11 14:26] Nicolaidam opened #2357 "showSignIn() POP-UP even though AWSMobileClient.default.isSignedIn = true"
**Describe the bug**
A clear and concise description of what the bug is.
I'm using Appsync Graphql API with Cognito Userpool and showSignIn() method for login with Facebook. The user gets in to Userpool as expected and from here I can read/write to Graphql API. After closing the app and opening it again the user is still logged in as expected, however I get a Facebook-Login POP UP ".. wants to use

[2020-03-11 17:01] Procurares opened #2358 "AWSMobile client hosted UI and federatedSignIn is not creating user in user pool"
**Describe the bug**
New User is not created inside User Pool using neither **AWSMobileClient.default().federatedSignIn** method nor **AWSMobileClient.default().showSignIn**

**To Reproduce**
I'm having following autogenerated awsconfiguration.json
[code]

After successfully completing either Facebook or Google sign in (using hosted ui, i'm having both Facebook and Google buttons on it) i'm having

[2020-03-11 19:29] lucasluca commented on #1045
Perform the below steps:

Clean the build.
Go to File -> Workspace Settings
In shared workspace settings select "Legacy Build System" in Build System.
Now try to build and run.

[2020-03-11 19:47] amuresia commented on #2242
I can confirm that after upgrading my account to a paid plan the issue disappeared.

[2020-03-11 23:22] brendancallahan commented on #2313
Thanks for your response!  I've added some analytics events to monitor subscriptions, and will also be monitoring publish events in the next version released.  I estimate the app has around 10 subscriptions maximum at the time the crash occurs.

I should also add that our analytics event for "connectionError" is grouped with "disconnected" in the switch statement -- we are not actually receiving t

[2020-03-12 09:17] brendancallahan commented on #2313
Here's an example of some analytics events, now with some tracking for reachability:

It appears that two reachability changes are being notified by Reachability, right before this event occurs.  ReachabilityChangedCellular corresponds to Reachability.Connection.cellular, and ReachabilityChangedWifi is Reachability.Connection.wifi

19  11:58:23.686 PM  IoTHndshkSuccess
20  01:44:20.309 AM  Reachab

[2020-03-12 12:06] softavail opened #2359 "AWSCore option to depend of external sqlite3"
**Which AWS Services is the feature request for?
AWSCore

**Is your feature request related to a problem? Please describe.**
The dependancy of stock sqlite3 causes my problem, because I also depend from SQLCipher which depends from and external sqlite3 library
[Here is the problem](https://github.com/groue/GRDB.swift/issues/726)

**Describe the solution you'd like**
An ability to specify AWSCore t

[2020-03-12 13:39] ruirodrigues-eyenov opened #2360 "Unable to define custom device model name on Demographic event properties"
**Describe the bug**
Unable to define custom device model name on Demographic event properties.
Custom defined Demographics properties are being overridden when sending the events properties with the default values.
Currently the "Model" under "Demographic" is being defined using UIDevice.current.model and there is no way to send a more device specific device name.

**To Reproduce**
Steps to repro

[2020-03-12 20:27] lawmicha commented on #2341
hi @pathfinder1989 I noticed you closed this issue, were you able to solve the issue you were seeing with AccessDeniedException?

[2020-03-13 05:51] pathfinder1989 commented on #2341
@lawmicha
I haven't solved my problem yet.
Now, I create a service client with the appKey and Secrey , registers it for the key.
but I still get error like this:
 {"message":"Not Found","traceId":"614b0237-5156-151f-cc43-a4092fe8b3d9"}

[2020-03-13 05:57] pathfinder1989 commented on #720
the same question , what was the fault?

[2020-03-13 08:07] nahung89 commented on #993
I have the same requirements as OP. Basically the app I am working need to support
1. Base authentication: native username/password registration
2. Facebook / Google authentication
Both mechanisms must create an instance on UserPool, which as you know it only supports with HostUI.

Although after working for a while I think it is not hard as expected. It also support you to customize Facebook / Go

[2020-03-13 13:50] TheEndType1 commented on #1045
XCode 11, Exported from Unity( 2019.2.17f1) Windows, Copied files into Mac(Catalina) .
1) Open your project folder using terminal
2) write and execute ->  pod install
3) then -> pod update
4) The main issue is permission so, -> chmod +x MapFileParser.sh
5) -> chmod +x process_symbols.sh

Worked for me.

[2020-03-13 15:35] lawmicha commented on #2341
hi @pathfinder1989  thanks for getting back to us. If you are still seeing issues, we can keep this issue open and work towards root causing

an error like message not found sound like connectivity to the service was successful but an API call resulted in Not Found. Can you clarify with what your code snippet is to create the service client, and which call you are making to get that response?

[2020-03-13 19:00] kneekey23 commented on #2356
hi @dillonsvincent have you tried updating to the latest version of the SDK 2.13.0? I have seen this issue with prior versions of our SDK. I think #2033 and #2354 are both related here. All receiving invalid refresh tokens one way or another but somehow #2033 was resolved by an update to the latest version.

[2020-03-13 19:00] royjit commented on #2358
Hi @Procurares

Sorry for the confusion.  If you would like to create a user in `Cognito User Pool`  while using social provider log in, you have to use hosted UI. The one you used above is `DropInUI` which is explained [here](https://aws-amplify.github.io/docs/ios/authentication#drop-in-auth). DropInUI uses  `AWSMobileClient.default().federatedSignIn` internally.

To use hosted UI follow the step

[2020-03-13 19:06] kneekey23 commented on #2354
hi @Nikooos have you tried updating to the latest version of the SDK 2.13.0? I have seen this issue with prior versions of our SDK. I think #2033 and #2356 are both related here. All receiving invalid refresh tokens one way or another but somehow #2033 was resolved by an update to the latest version.

[2020-03-13 19:13] dillonsvincent commented on #2356
Thank you for the references, I'll update now and make sure to keep monitoring the invalid token event

[2020-03-13 19:13] #2356 closed

[2020-03-14 18:21] Zerocool27 opened #2361 "AWSS3 is crashing due to QOS not defined in iOS13"
Description:
The crash is captured on firebase and it is hard to reproduce on device

**To Reproduce**
#6. Crashed: NSOperationQueue 0x105fd8730 (QOS: UNSPECIFIED)
0  Quick Photo Print              0x104c2a0f4 closure #1 in closure #1 in ImageData.callMethod() + 76 (ImageData.swift:76)
1  Quick Photo Print              0x104c28bd8 thunk for @escaping @callee_guaranteed (@guaranteed AWSS3TransferUt

[2020-03-14 23:17] wooj2 commented on #2313
@brendancallahan - Thanks for all the information.  I’ve written test apps which exercise different paths of the code (connect(), disconnect(), subscribe, airplane mode on/of, poor network, 100% loss etc..), attempted to manually inject errors to instrument failures, and unfortunately I’m still having trouble reproducing crashes :'(.

I see a number of stack traces, and it's a bit unclear if there

[2020-03-16 02:33] pathfinder1989 commented on #2341
@lawmicha  thanks, I have resolved this question.

[2020-03-16 06:12] #2054 closed

[2020-03-16 06:12] #2302 closed

[2020-03-16 08:41] cornr opened #2365 "Module compiled with Swift 5.1.3 cannot be imported by the Swift 5.2 compiler"
**Which AWS Services is the feature request for?**
AWSMobileClient and probably the rest of Xcode Projects

**Is your feature request related to a problem? Please describe.**
Sometimes we have to use Xcode Beta to deploy on devices with iOS Betas. With Xcode 11.4 (Beta 3) I get following error at the import of `AWSMobileClient` in my swift file:

    Module compiled with Swift 5.1.3 cannot be impo

[2020-03-16 09:35] cornr commented on #1809
We managed to get SIWA working with @hidrodixtion solution and an IAM IdentityProvider: https://github.com/aws-amplify/aws-sdk-ios/issues/1809#issuecomment-586046122
To resolve this` "There is no valid cognito identity pool configured in awsconfiguration.json."` Error we had to switch from Signing In via `AWSSignInManager` to `AWSMobileClient`.
Now we have to replace the `AWSFacebookSignInProvider

[2020-03-16 09:52] cornr opened #2366 "How to refresh a "Sign In with Apple" JWT Token"
**State your question**
We are using "Sign In with Apple" with IAM IdentityProvider and the AWSMobileClient. After signing in with Apple we pass the token to `AWSMobileClient.default.federatedSignIn(providerName: "appleid.apple.com", token: token)` an the user is signed in and all our API requests work.

Now I am wondering, if I have to refresh the token, when its expired. https://jwt.io/#debugger

[2020-03-16 10:16] cornr opened #2367 "How to re sign in after an invalid user pool token?"
**State your question**
The user is signed in via the user pool `AWSMobileClient.default().signIn(username: "username", password: "password")`. When the token gets invalid the documentation at https://aws-amplify.github.io/docs/sdk/ios/authentication#cognito-user-pool-tokens says that the listener will receive a `.signedOutUserPoolsTokenInvalid` and the user needs to sign in again.
Is this an auto

[2020-03-16 11:04] RahulDighe opened #2368 "Failed with error: Error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=2 "(null)""
**Describe the bug**
When I log in the first time then it works perfectly and gets success in response. But once I log out and then login with the different user then I got success in AWSS3TransferUtility -> uploadData but gets failure in  AWSS3TransferUtilityUploadCompletionHandlerBlock -> AWSS3TransferUtilityUploadTask with an error message **Error Domain=com.amazonaws.AWSS3TransferUtilityErrorD

[2020-03-16 11:38] Saravanakumar22 commented on #1809
@forestdiggs I have checked, everything was correct. But still, I'm getting the same error **Error Domain=com.amazonaws.service.cognitoidentity.AWSCognitoCredentialsProviderHelper Code=0 "Obtaining an identity id in another thread failed or didn't complete within 5 seconds." UserInfo={NSLocalizedDescription=Obtaining an identity id in another thread failed or didn't complete within 5 seconds.}**.

[2020-03-16 11:43] cornr commented on #1809
@Saravanakumar22 we do the initialization first (I think its is done synchronously) and then we call federatedSignIn. Also try to disable breakpoints in order to keep the threads running.

[2020-03-16 12:02] Saravanakumar22 commented on #1809
@cornr I'm unable to understand what you mean. Can you please explain?

[2020-03-16 12:46] cornr commented on #1809
@Saravanakumar22 I was thinking your problem has something to do with active breakpoints preventing operations to complete in 5 seconds. I have also seen this error while implementing SignIn With Apple. But now I cannot reproduce it so forget breakpoints. Sorry

[2020-03-16 18:20] davelasto-legacy opened #2369 "No secret required exception when nil invalid when empty string"
**Describe the bug**
I am trying to configure AWSMobileClient in memory with:
`                    let configuration: [String: Any] = [
                        "IdentityManager": [
                            "Default": [:]
                        ],
                        "CognitoUserPool": [
                            "Default": [
                                "AppClientSecret": CognitoIdent

[2020-03-16 19:27] davelasto-legacy commented on #2369
This is resolved if when secret is not needed key is not provided in configuration dictionary.

[2020-03-16 19:27] #2369 closed

[2020-03-16 19:56] factorial opened #2370 "Installation instructions not working out, strange old code coming from Cocoapods"
**Describe the bug**
Attempts to follow the various instructions found in README.md and elsewhere in order to implement S3 support in my iOS Swift app have been to no avail:

**To Reproduce**
1. When attempting to use CocoaPods installation instructions in README.md, the process hangs at "Cloning spec repo `cocoapods` from `https://github.com/CocoaPods/Specs.git`". I waited 10 minutes on this with

[2020-03-16 20:04] palpatim commented on #2245
I haven't yet been able to draw any conclusions about that. The "no background task exists with identifier" message appears when moving from foreground to background, but does not seem to be related to tasks created by TransferUtility, since (at least in the sample app) the TU task eventually completes. I am continuing to investigate and will update if I have more info.

[2020-03-16 21:40] kneekey23 commented on #2361
hey @Zerocool27 have you tried updating to the latest version of the SDK? We are on 2.13.0.

[2020-03-16 21:46] kneekey23 commented on #2370
hi @factorial can you paste your podfile please?

[2020-03-17 07:40] nick3389 commented on #2245
@palpatim Thank you for you answer. FYI, no issue so far, so I guess that something had to do with the OS... Anyway, if you discover something, let us know!

[2020-03-17 17:14] kneekey23 commented on #2367
hi @cornr your tokens will automatically refresh based on the refresh time you have configured user pools with which can be anywhere from 1 to 3650 days. Therefore, if you get this state, the refresh token expired and you should direct the user to log in again. However this changes when the device goes offline.

From the docs in regards to offline behavior:

Hope this helps! Let us know if you hav

[2020-03-17 17:32] qkhanhpro commented on #993
This Is exactly the issue I am facing
Is there any update / workaround yet ?

[2020-03-17 19:03] kneekey23 commented on #2299
Closing as this PR was merged in and will be released in the next release.

[2020-03-17 19:03] #2299 closed

[2020-03-18 06:07] pathfinder1989 commented on #2341
[code]
Now, I can save video to local sandbox with named "SpartanLive.mp4", but I can't save it to
iPhone album.

[2020-03-18 09:35] RahulDighe commented on #2368
Hello @kneekey23, Thanks for the reply.
**Here is code snippet**

AWSS3TransferUtilityUploadCompletionHandlerBlock completionHandler = ^(AWSS3TransferUtilityUploadTask *task, NSError *error) {
           dispatch_async(dispatch_get_main_queue(), ^{
               if (error) {
                   NSLog (@"Failed to Upload %@",error.userInfo.description);

               } else {
                   N

[2020-03-19 18:25] kneekey23 commented on #2280
Closing this issue as PR was merged and released.

[2020-03-19 18:25] #2280 closed

[2020-03-19 18:28] elisgjana opened #2372 "CRASH: startPasswordAuthentication must be used from main thread only."
- What service are you using?
AWS Cognito

I am developing an application in Swift using AWS Cognito authentication same as in this sample:
https://github.com/awslabs/aws-sdk-ios-samples/tree/master/CognitoYourUserPools-Sample/Swift/CognitoYourUserPoolsSample

The authentication used to work correctly but after some months of working properly, it crashed with this error:

**UIViewController.init(c

[2020-03-19 19:06] kneekey23 commented on #2372
hi @elisgjana what version of the SDK are you using? I believe this bug was fixed by this PR #2254. We are currently on version 2.13.0, please make sure you are up to date.

[2020-03-19 20:24] kneekey23 commented on #2341
hi @pathfinder1989 have you tried importing the Photos framework? Something like [this](https://stackoverflow.com/questions/24978490/unable-to-save-video-to-camera-roll-objective-c).

[2020-03-19 20:32] elisgjana commented on #2372
hi @kneekey23 thank you for your fast reply. I just updated to 2.13.0 because I had 2.12.3, but the problem is still the same. It is not fixed yet.

<img width="452" alt="Screenshot 2020-03-19 at 21 28 42" src="https://user-images.githubusercontent.com/45203732/77112059-a18f9880-6a28-11ea-873d-96bf1efa2f5a.png">

<img width="972" alt="Screenshot 2020-03-19 at 21 29 33" src="https://user-images.git

[2020-03-19 21:49] chandusam2002 opened #2373 "AWSS3TransferUtility support for object metadata during downloads."
**Which AWS Services is the feature request for?**
AWSS3

**Is your feature request related to a problem? Please describe.**
AWSS3TransferUtility does not let you retrieve object metadata during a download. During the upload process AWSS3TransferUtilityUploadExpression allows uploading the object metadata. But the same support is not provided for downloads.

**Describe the solution you'd like**
Th

[2020-03-19 22:36] BrentMifsud commented on #313
+1

[2020-03-20 14:00] TrekSoft commented on #1314
Don't know if I'm missing something but isSignedIn false is consistent with a state of signedOut, correct?

[2020-03-20 16:16] mauclores opened #2374 "CRASH: nsinternalinconsistency cannot set result of completed task"
**Describe the bug**
Crash happens when a user with a status FORCE_CHANGE_PASSWORD attempts to change password to an invalid password first, then a valid password next.
It appears the AWS Completion Task result is set twice, which crashes the app.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a user with status FORCE_CHANGE_PASSWORD
2. Attempt to change password to invalid one
3. At

[2020-03-20 18:38] kneekey23 commented on #2366
hi @cornr I think it's important to understand here how Cognito federated sign in works. Once you provide your apple token to Cognito's servers, Cognito then issues an access token, an id token, and a refresh token. It uses its own refresh token to continuing refreshing the access token. The Cognito refresh token can be set to expire anywhere from 1 to 3650 days and it defaults to 30 days which is

[2020-03-20 18:38] #2366 closed

[2020-03-20 18:40] #2367 closed

[2020-03-20 18:53] cornr commented on #2367
I see. Thanks for making this clear. maybe its better to write something like

    // go to Login View

in the example for: `signedOutUserPoolsTokenInvalid`

[2020-03-20 19:04] lawmicha commented on #2353
we'll be taking this as a feature request to provide a way to optionally pass a presentation style so that developers an better control the UX for their users!

[2020-03-20 19:15] lawmicha commented on #2360
Hi @ruirodrigues-eyenov, currently Pinpoint SDK will automatically create the demographics object for the EndpointProfile with many fields. This gets updated frequently to make sure all of the fields are up to date. I can see that when I set a breakpoint on this line: https://github.com/aws-amplify/aws-sdk-ios/blob/efe22fbf0a60ca0875706c02f1a0944651566f93/AWSPinpoint/AWSPinpointEndpointProfile.m#L

[2020-03-20 20:21] wooj2 commented on #2372
Hi @elisgjana,

Looks like the delegate is not being run on the main thread, and it should be since it's interacting with UI elements.  As a workaround, you can check to see if you are running on the main thread, and if not, force the execution onto the main thread.  For example:
[code]
And similarly, with the signInViewController:
[code]
That being said, seems like you are using some of our lower

[2020-03-20 20:38] wooj2 commented on #2374
Hi @mauclores,

Thanks so much for reaching out to us.  Just curious: is there was a specific reason as to why you have chosen to adopt AWSCognitoIdentityProvider?  It is a dated, low level library that we no longer recommend users adopt to handle authentication.

Instead of AWSCognitoIdentityProvider, we recommend customers adopt the AWSMobileClient as it providers higher level APIs to interact w

[2020-03-20 21:29] royjit commented on #2370
Just to follow up on here:

Cocoapods has moved to use CDN as default spec repo. So the line ` source 'https://github.com/CocoaPods/Specs.git'` is not required. I have created this [PR](https://github.com/aws-amplify/aws-sdk-ios/pull/2375) to remove it from our README file.

Looks like our documentation was updated and not reflected in the README, I have made the changes here in the [PR](https://g

[2020-03-20 21:43] factorial commented on #2370
Thank you both for your responses. I have not been able to return this project since posting this issue but intend to give it another thorough pass next week. I will post copies of the Podfiles I use and their results.

[2020-03-21 08:06] boozi2 commented on #2312
Still having issues with this, updated to lastest 2.13.0 and this is still crashing:
@kneekey23  @royjit  Could you assist?

[code]

[2020-03-21 11:24] mauclores commented on #2374
Since it is a legacy code and started to use AWSCognitoIdentityProvider, switching to a different library at this point is difficult.

But we will look into AWSMobileClient as suggested. Thank you.

[2020-03-21 11:24] #2374 closed

[2020-03-21 16:24] elisgjana commented on #2372
Thank you very much it was really helpful. Now it works.

[2020-03-21 17:54] #2372 closed

[2020-03-22 12:41] abdelrahman-ahmed opened #2376 "Support for tvOS"
**Additional context**
we are using amazon services for our system but the system is working on 7 platforms. unfortulanlty  I AWS sDk doesn't support tvOS which is very important to our users, If you will not support tvOS  in the near feature we may switch from amazon products to alternative services.

[2020-03-22 17:03] RickvdP commented on #1189
While attack surface is probably small (hard to guess a GUID) a +1 for an AWS answer to this? Any reason why this is not an issue? Any way to conditionally limit update access to only user-owned endpoints?

[2020-03-23 04:00] RahulDighe commented on #2368
@kneekey23 could you please advise?

[2020-03-23 06:51] spandana-batchu commented on #1605
@JesusMartinAlonso  JesusMartinAlonso Is this a good practice to do this? Or would rather let the user be logged in when he reinstalls the app?

[2020-03-23 07:16] kshrikant opened #2379 "IoTData.getThingShadow : The certificate for this server is invalid awsIOT - iOS 13"
I'm using **awsIot** to **getThingShadow** its working fine in lower than iOS 13 but getting issue on ios 13. I'm using below versions of pods
[code]
For getting thing state using below function which is  giving error in iOS 13.

[code]

The error console is as below

 `Error Domain=NSURLErrorDomain Code=-1202 "The certificate for this server is invalid. You might be connecting to a server that is

[2020-03-23 16:15] pathfinder1989 commented on #2341
@kneekey23  yes,  i have imported the Photos framework

[2020-03-24 02:22] rinosamakanata opened #2380 "Custom endpoint profile data is reset on calling analyticsClient.submitEvents event after targetingClient.update endpoint profile"
**Describe the bug**
Custom endpoin profile data is reset on calling analyticsClient.submitEvents() event after targetingClient.update endpoint profile which was set custom endpoint data.

**To Reproduce**
Code flow until being reset the custom endpoint data.

1. `pinpoint.analyticsClient.submitEvents()`
2. -> `[self.eventRecorder submitAllEvents]`
3. -> `[targetingClient currentEndpointProfile]`

[2020-03-24 11:46] Nicolaidam commented on #2357
Hi AWS iOS team,
It is now 13 days ago and I've still not been able to solve it. Can you please investigate the problem?

[2020-03-24 15:15] yoasha opened #2381 "Xcode code signing issue when distributing app with manual AWS setup"
**Describe the bug**
When using the latest version of the SDK (2.13.0), Xcode can't find a provisioning profile to sign my app's binary, I suspect it's because of AWS framework related issue.
With a previous version of AWS (2.12.3) there is no issue and Xcode completes the signing process successfully.
- I am using only two frameworks: AWSCore and AWSS3.
- I am using manual setup as described at h

[2020-03-24 17:03] phani-srikar commented on #2357
Hi @Nicolaidam. Thank you for reporting this issue. That video was very useful to replicate the exact setting. Thanks for that.
Here is a video of how I reproduced this issue in my sample app.
[video](https://drive.google.com/file/d/1cZknTlRxMIcJAN17CkQbKW_3jri53VFq/view?usp=sharing)

Brief summary:
When a user signs in using hosted UI (I confirmed this problem exists both for Facebook and Google

[2020-03-24 17:54] Nicolaidam commented on #2357
Hi @phani-srikar
Thank you for the response. Actually the scopes from awsconfiguration.json and in showSignIn didn't match. I've changed them both to "email", "openid" and it seems like it fixed the problem for me..
How was your scope settings in the replicated app with pop up issue?

[2020-03-24 18:08] wooj2 commented on #2381
Hey @yoasha,

Thanks for reaching out!  Hmm.. there doesn't seem to be any difference in signing requirements between 2.12.x and 2.13.0. Have you tried to, clean you project, close XCode, Remove your derived files directory, and try rebuilding?

Also, is there a specific error you are getting when attempting to build with 2.13.0?  If so, can you please post what you are seeing?

Thanks again!

[2020-03-24 18:16] phani-srikar commented on #2357
Hi @Nicolaidam
I am glad you did that! I was going to ask you to do the same thing. I had custom scopes specified using _HostedUIOptions_ too which were different from the ones in _awsconfiguration_.
Issue:
The _HostedUIOptions_ are a way to specify overrides to the scopes set from _awsconfiguration_.
In order to persist across sessions, they are stored in keychain store. This current issue might

[2020-03-24 19:28] #2316 closed

[2020-03-24 19:36] yoasha commented on #2381
Hi,
Yes, I did clean the project, restarted Xcode, and even restarted my iMac. The issue is reproduced consistently when using 2.13.0 frameworks and disappears when using 2.12.3 frameworks. So it does look like a real issue.

Regarding the error, there is actually no error. Here is what happening after archiving my app and selecting "Distribute App" from the Organizer window:

Page #1 - Select a m

[2020-03-24 19:46] Nicolaidam commented on #2357
Okay thanks. Can you please explain what the different scopes do? Are they only related to the UI-login? As standard i had: "phone", "email", "openid", "profile", "aws.cognito.signin.user.admin"

[2020-03-24 20:52] phani-srikar commented on #2357
Hi @Nicolaidam
Here is the doc that explains what scopes are allowed and what do they mean: [cognito-user-pools](https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-app-idp-settings.html)
Briefly, they are a way of managing permissions to access user data. More info can be found here: [OAuth Scopes](https://www.oauth.com/oauth2-servers/scope/)
Hope that helps.

[2020-03-24 20:59] wooj2 commented on #2381
1.  Hmm I doubt that the CodeResources file would have anything to do with not being able to submit your app, but you could always try deleting those files and see if that makes any difference.

2.  Have you deleted your derived files?

3.  I issued a google search, and not sure if this is the issue you're running into, but it seems like there is a reddit post with one follow up comment here:
http

[2020-03-24 21:07] wooj2 commented on #2380
Hi,
Thanks for reaching out to us...

Seems like a duplicate of this issue:
https://github.com/aws-amplify/aws-sdk-ios/issues/2360

Can you please confirm?

[2020-03-24 21:43] PaulIPS opened #2382 "Kinesis video putmedia for iOS"
**State your question**
Hi how do you do a put media request to Kinesis using the iOS SDK?. I can't seam to find any reference code after getting the endpoint URL from `getDataEndpoint`.

I see in the android SDK there is a ` PutMediaClient.builder()` but I can't seam to find something similar in the iOS SDK.

**Which AWS Services are you utilizing?**
Kinesis Video

**Environment:**
 - SDK Version

[2020-03-25 01:08] wooj2 commented on #2382
Hi @PaulScala,

Thanks for reaching out.  I'm not super familiar with this part of the SDK, but it seems like there is a unit tests here named "testGetHlsStreamingSessionUrl"
https://github.com/aws-amplify/aws-sdk-ios/blob/655e13b7db063a30831cb9c968775999f9e40c90/AWSKinesisVideoTests/AWSKinesisVideoTests.swift#L66

Perhaps changing line 84 from:
https://github.com/aws-amplify/aws-sdk-ios/blob/655e

[2020-03-25 01:15] rinosamakanata commented on #2380
@wooj2
Thanks for your reaction!

Yes, this issue pretty is very close to #2360:

While #2630 shows custom demographic data is not updated, this issue #2680 shows already set endpoint profile is **cleared on sending events with analyticsClient**.

That's a bit different, though the root problem can be the same.

[2020-03-25 02:53] wooj2 commented on #2380
@rinosamakanata
Ahhh... Thank you for taking the time to explain!

It looks like you want to be able to customize the data that is being sent as part of the `AWSPinpointEndpointProfileDemographic` field.  Is this correct?  For example, maybe you want to change `.locale` from something like `ja_JP` to `en_JP`?  I am just curious, but what is your use case for wanting to make any of these fields cus

[2020-03-25 04:47] morris-lu opened #2383 "Sign up using hotmail couldn't receive verify code"
Hi, I've setup Userpool sign up with email attribute and it works well. Just notice when the user signs up using Hotmail account couldn't receive verify code, even set up the sender is safe in Hotmail setting still not receive.

Is any setting can fix this issue? Thank you very much.

**Environment(please complete the following information):**
 - SDK Version: AWSMobileClient 2.12.1
 - Dependency M

[2020-03-25 05:07] rinosamakanata commented on #2380
@wooj2
I want to custom a device model in democraphic fields and want to set user ID in user fields. They are not custom attributes but standard attributes that are already defined in Pinpoint's endpoint profile fields.

[2020-03-25 07:50] ruirodrigues-eyenov commented on #2360
Thanks.
Yes, `addAttribute` was the workaround that I used.

Just to clarify `demographics` is not being reset to its defaults after app goes to background. It is being reset on the next `submitEvents` call, on every `submitEvents` call.

[2020-03-25 08:49] yoasha commented on #2381
Many thanks for your continues support.
1. I did try deleting these files but it didn't help. I just thought it might point to something related with code signing on your side..
2. Yes, I deleted all derived files, but it didn't make any difference.
3. It seems that the user posted the issue on reddit used manual code signing. I am using automatic code signing so this page should never appear theo

[2020-03-25 09:24] Nicolaidam commented on #2357
Cool Thanks a lot @phani-srikar.

Is it a possibility with showSignIn to get the users firstName, like you can with the original Facebook Developer API?

[2020-03-25 13:14] PaulScala commented on #2382
@wooj2 Thank you for the suggestion.

The problem is `kvClient.getDataEndpoint()` just returns a url string. I can't seam to find any methods in the iOS SDK related to actually pushing data to that URL.

[2020-03-25 13:18] jaelee1993 commented on #1603
Any luck on this?

[2020-03-25 13:48] yoasha commented on #2381
UPDATE: I switched to Cocoapods setup and all issues are resolved.

[2020-03-25 14:30] cornr commented on #2365
Hi this issues got a lot of importance with the official Xcode 11.4 release this week.
A quickfix for us would be a new AWS-SKD-iOS release built by Xcode 11.4

[2020-03-25 15:31] dmozealous commented on #1156
I totally agree with the sentiment above, was hoping I could just use the Drop-In UI for simple auth across several social providers, but am finding this way to difficult. I finally got it working, only to find out that the error messages can't easily be customize and are not production ready, with no easy way of changing them.

[2020-03-25 17:08] pbishnupuri opened #2384 "Simplifying pods"
I am trying to build an app and submit it to the app store, however the AppStore is not liking some of your pod files, can you help out with this?

pod 'AWSAPIGateway'
    pod 'AWSAutoScaling'
    pod 'AWSAppSync'
    pod 'AWSCloudWatch'
    pod 'AWSComprehend'
    pod 'AWSConnect'
    pod 'AWSDynamoDB'
    pod 'AWSEC2'
    pod 'AWSElasticLoadBalancing'
    pod 'AWSKMS'
    pod 'AWSKinesis'
    po

[2020-03-25 17:14] wooj2 commented on #2379
Hi,

Thanks for reaching out... I executed the code you included, and was able to see the Cert issue in iOS13 and iOS11 (I didn't try on iOS12, but I suspect I would see the same thing).

I suspect this issue has to do with the way that the request is being set up.  Is it possible to direct the request to your account specific endpoint?  It can be found by going to
AWS IoT Core -> Settings (lower

[2020-03-25 18:12] wooj2 commented on #2379
In order to have your data plane operations pointed to your account specific endpoint, I think we should be able to set the defaultServiceConfiguration in the following manner:

[code]

I haven't tried this specific (getThingShadow)request myself, but it is very similar to code I've run for a similar use case for data plane operations.  Let me know if this helps, or if you encounter additional err

[2020-03-25 21:06] wooj2 commented on #2383
Hi @morris-lu

Thanks for reaching out, and sorry to hear that you're having issues receiving verify code emails.

1.  What email are you setting up as the "safe sender"?
2.  Can you think of any other options that are in hotmail that might be blocking these e-mails?
3.  Can you please provide the domain of the email address?  Is it just <someUser>@hotmail.com or some other domain?
4.  Are there a

[2020-03-25 21:33] wooj2 commented on #2383
Hi Morris-lu

I just tried to create a hotmail account to verify what you are seeing, and I can get verification code emails in a hotmail account without any problem.  I suspect there's something else going on with your hotmail account settings?  Could you try to create a new hotmail account and an associated user to try and narrow down this problem?

If it turns out it is a backend bug, then I wi

[2020-03-26 17:28] wooj2 commented on #2384
Hi @pbishnupuri,
Thanks for reaching out to us.  Could you explain a little bit more about what you mean when you say the app store is not liking some of the pod files?  Is there a specific error you are seeing?

Also, without understanding more about what your application does, it is difficult to give advice on what pods you should include/exclude from your Podfile.  Do you know what services you

[2020-03-26 17:45] pbishnupuri commented on #2384
We are making a Run Logging app. We keep getting all the way through the upload process to the app store, and right at the last step we get an error in our upload tool that says “no suitable application records were found. verify your bundle identifier ‘org.cocoapods.AWSSageMakerRuntime’ (and/or any other pod we have from AWS) is correct.”

This isn’t an issue with our application bundle identifie

[2020-03-26 18:31] wooj2 commented on #2384
This post on stackoverflow seems relevant to what you might be running into: https://stackoverflow.com/questions/48921424/why-verify-your-bundle-identifier-org-cocoapods-alamofire-is-correct ?

It makes me think that there might be a setting of [CFBundlePackageType](https://developer.apple.com/documentation/bundleresources/information_property_list/cfbundlepackagetype) that isn't being configured

[2020-03-26 18:33] pbishnupuri commented on #2384
We tried that. We changed it to APPL. I don't what the problem can. Thanks for your support!

[2020-03-26 18:52] #2361 closed

[2020-03-26 18:52] #2358 closed

[2020-03-26 21:17] AlbertoLourenco commented on #313
+1

[2020-03-26 23:26] VinnyScorsatto opened #2388 "Multiple Auth setups at AWSMobileClient"
Hello, I am implementing Cognito Auth to my Swift App.

I have initialised my instance of AWSMobileClient by constructing it with AWSMobileClient(configuration). My configuration looks like this:

{
  "CognitoUserPool": {
    "Default": {
      "PoolId": "XX-XXXX-X_abcd1234",
      "AppClientId": "XXXXXXXX",
      "AppClientSecret": "XXXXXXXXX",
      "Region": "XX-XXXX-X"
    }
  },
  "Auth": {

[2020-03-27 03:18] wooj2 commented on #2388
Hey @VinnyScorsatto,

Thanks for reaching out.  Just trying to better understand your use case--  are you attempting to support a CUSTOM_AUTH and USER_SRP_AUTH in the same application?  If so, I don't believe this is currently a supported use case for the AWSMobileClient.

[2020-03-27 03:25] wooj2 commented on #2360
@ruirodrigues-eyenov

Thanks for getting back to us, and glad you found a workaround!  I will be optimistically closing this issue, but feel free to re-open if you have any additional questions about this topic.

Thanks!

[2020-03-27 03:25] #2360 closed

[2020-03-27 03:28] VinnyScorsatto commented on #2388
Hey @wooj2 , thanks for reaching back,

Yes, we actually do it on our web app by starting with CUSTOM_AUTH and them after we call Amplify.configure to turn to USER_PASSWORD_AUTH. Thanks

[2020-03-27 05:00] kneekey23 commented on #2368
Hi @RahulDighe, did you resolve your issue? Sorry I didn’t have time to get to this this week but i planned to investigate tomorrow. Please let me know and I’d be happy to look into it tomorrow. Thanks

[2020-03-27 06:00] RahulDighe commented on #2368
Thanks @kneekey23, Now the issue has the resolve.
It was a session problem Previous developed was using following method to get the session

[[self.user getSession:@“username” password:@“password” validationData:@[validationDataArray]]  continueWithBlock:^id _Nullable(AWSTask<AWSCognitoIdentityUserSession *> * _Nonnull task) {
            dispatch_async(dispatch_get_main_queue(), ^{

[2020-03-27 06:55] dingua commented on #2013
I went back and tested using Xcode 11 and so iOS 13 simulator and the crash is gone.

[2020-03-27 06:55] #2013 closed

[2020-03-27 10:26] joeboyscout04 opened #2389 "Threadlock after switching default user pools"
**Describe the bug**
In our app, we have two different user pools, one for staging and one for production.   We recently uncovered a case where the AWS SDK would deadlock if there was data in the keychain from the production pool when attempting to use the staging pool.

I traced this bug to the following in `AWSMobileClientExtensions.swift`

[code]

And in `AWSCognitoIdentityUser.m`

[code]

**To

[2020-03-27 17:35] phani-srikar commented on #2105
Hi @tripleA-max
This looks like an issue with Info.plist rather than a bug in SDK.
Here are some resources that might help:
[com_apple_developer_default-data-protection](https://developer.apple.com/documentation/bundleresources/entitlements/com_apple_developer_default-data-protection)
[encrypting_your_app_s_files](https://developer.apple.com/documentation/uikit/protecting_the_user_s_privacy/encryp

[2020-03-27 19:51] kneekey23 commented on #2350
PR submitted to samples repo here: https://github.com/awslabs/aws-sdk-ios-samples/pull/343

[2020-03-27 19:51] #2350 closed

[2020-03-27 19:53] kneekey23 commented on #2371
hi @rameshtek right now the SDK is not designed for this use case and should work for about an hour ahead in time or behind but not a significant large difference in time in the future. Can you possibly elaborate a bit more on your use case for why this is needed?

[2020-03-27 19:58] kneekey23 commented on #2355
hi @ChrisInspect can you please provide a code snippet or code sample or how you making the calls?

[2020-03-27 20:47] joeboyscout04 commented on #2389
Did a bit more tracing and tracked it further to this code in `AWSMobileClientExtensions.swift`  It's being called through a long chain of callbacks.

[code]

In the case of `case .signedIn, .signedOutUserPoolsTokenInvalid:`, (which is the case here, currentUserState == .signedIn), then the passwordAuthenticationCompletionSource.set() is never called.  This causes the block to not return.

[2020-03-27 21:24] kneekey23 commented on #2342
hi @noelle007 is there a reason you are using both the low level SDK AWSCognitoCredentialsProvider and AWSMobileClient, the higher level SDK? They are not intended to be used together. Just to clarify a bit here about Cognito. Cognito has two services available: User Pools and Identity Pools, both of which offer federated authentication. User Pools is used for authentication (think save your users

[2020-03-28 02:42] wooj2 commented on #2389
Hey @joeboyscout04,

Thanks for reaching out, and reporting this issue.

Unfortunately, the AWS Mobile Client does not currently support two user pools in a single application.

As a workaround, would you be able to use different bundle ids between your debug and production versions of the application?  Doing so would effectively use a different keychain between your production and debug applicati

[2020-03-28 02:48] wooj2 commented on #2388
Hey @VinnyScorsatto ,

I checked with a couple of teammates and your understanding is correct - the AWSMobileClient does not support multiple authenticationFlowTypes.  Sorry about the inconvenience.

[2020-03-28 02:55] wooj2 commented on #2382
Hey @PaulScala ,

I checked around with people more familiar with this area, and they said that there is currently no easy way to support this at the moment.

They suggested two potential options with moving forward:
1.  You could use the iOS AWS mobile SDK components to get the endpoint and then use custom logic to get the frames from the camera/device, encode it, package it into MKV and use a NS

[2020-03-28 18:06] noelle007 commented on #2342
@kneekey23  thanks for looking into this.

re : is there a reason you are using both the low level SDK AWSCognitoCredentialsProvider and AWSMobileClient, the higher level SDK?

Hmm, there is no reason in particular. We have the same setup on web but with Cognito js SDK (implemented before Amplify) . I was assuming it is also needed for iOS.

Yes, we are using User Pools for authentication and Iden

[2020-03-29 14:53] automatictester opened #2390 "iOS SDK support for Route53"
**Which AWS Services is the feature request for?**
Route53

**Is your feature request related to a problem? Please describe.**
Currently I am managing my Route53 configuration by calling Lambda (using AWS iOS SDK) from my Swift application. I need to use lambda solely for the purpose of managing Route53. All other services I need, like EC2, are already supported by iOS SDK.

**Describe the solutio

[2020-03-29 20:44] VinnyScorsatto commented on #2388
Hi @wooj2 , thanks a lot

[2020-03-29 21:09] joeboyscout04 commented on #2389
Hey there,
We do use two different bundles in most normal use cases, just occasionally we wanted to test with the production backend in the staging app.  I understand you can’t use two pools at the same time, I was just surprised to see switching them would brick the app so hard it would need a device reset to fix.

However, I’m not sure that having two pools is the only way this is threadlock iss

[2020-03-30 00:31] VinnyScorsatto opened #2392 "Keep getting Incorrect Username and Password on AWSMobileClient Signin"
Hello,

I am trying to use AWSMobileClient.default().signIn, but it keeps returning NonAuthorised (Incorrect username or password).

I am initialising the configuration on memory
let mobileClient = AWSMobileClient(configuration: AppEnvSetting().configuration)

and this is the variable that contains the configuration:

let configuration: [String: Any] = [
        "IdentityManager": [
            "D

[2020-03-30 05:13] ChrisInspect commented on #2355
Hi @kneekey23 ,
I just call the websocket with standard request and some custom header for lambda processing.

[code]

As I mentioned this works and I receive successfully my messages, if authentication in API Gateway is disabled. When authentication is enabled, I guess I have to somehow pass my tokens from AWSMobileClient to the Websocket. Is this right and how can I achieve this?

I would love t

[2020-03-30 05:22] wattanakorn495 commented on #1809
@hidrodixtion

I follow your setup for react-native app. it work, but how to refresh token?
here is my setup
[code]

[2020-03-30 05:41] julien-tamade opened #2393 "Ability to Define Return Values for AppSync Operations on iOS"
**Which AWS Services is the feature request for?**
AppSync

**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
There doesn't seem to be any ready-made/easy way provide flexibility in terms of defining the return values we get from our queries/mutations. In Javascript it is fairly easy to cu

[2020-03-30 06:38] temmplar47 commented on #2317
The customer reopened the case and would need a solution to empty or wrong tokens. Their app would produce empty or wrong tokens and does need a callback.
Can you provide a sample solution to this?

[2020-03-30 07:01] kshrikant commented on #2379
@wooj2 Thanks for your response. I will check with adding credentialsProvider which i was passing default and will update here.

[2020-03-30 08:13] hossamghareeb commented on #2330
@lawmicha is there any updates on this?

[2020-03-30 09:07] kshrikant commented on #2379
@wooj2 I tried as per your suggestion, i've added credentialsProvider but giving same error. Please let me know if any other possibilities.

[2020-03-30 11:27] mickeysox opened #2394 "Username being overwritten by UUID - intended behaviour?"
**State your question**
I am signing a user up using AWSMobileClient.default().signUp(username: "+44**********"...
and that works fine, a user is generated, but the username is a UUID, is this intended behaviour?

**Which AWS Services are you utilizing?**
AWSMobileClient

**Provide code snippets (if applicable)**

**Environment(please complete the following information):**
 - SDK Version: [2.13.1]

[2020-03-30 14:12] PaulScala commented on #2382
Hi @wooj2 Thank you for following up on this. It looks like option 1 would be the best path forwards for us. Does the AWS iOS SDK have anything I can leverage for helping make a SigV4 request, or is it best to make my own REST layer.

[2020-03-30 15:16] hossamghareeb commented on #2388
@VinnyScorsatto There is a hacky way I used to solve this problem. I don't add `CUSTOM_AUTH` in json but I do the following when I want to perform custom auth:
[code]

[2020-03-30 16:46] shaneblandford opened #2395 "Module compiled with Swift 5.1.2 cannot be imported by the Swift 5.2 compiler"
**Describe the bug**
Upgraded to the new version of Xcode 11.4 project will not compile.

Module compiled with Swift 5.1.2 cannot be imported by the Swift 5.2 compiler: <full path removed>/Frameworks/AWSMobileClient.framework/Modules/AWSMobileClient.swiftmodule/x86_64-apple-ios-simulator.swiftmodule

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down

[2020-03-30 17:02] Priyanka-gupta-pcg commented on #473
`Value of type 'AWSTask<AWSS3TransferUtilityUploadTask>' has no member 'continueWith'` issue after pod update in xcode version 11.3.

Following is the code :-
`{
        let expression = AWSS3TransferUtilityUploadExpression()
        expression.progressBlock = progressBlock
        expression.setValue("public-read", forRequestHeader: "x-amz-acl")

        let transferUtility = AWSS3TransferUtility

[2020-03-30 17:17] wooj2 commented on #2379
@kshrikant -

When you created an instance of `AWSServiceConfiguration` did you pass in your account specific IoT Endpoint?

Would it be possible for you to copy and paste the code you are using to initialize your service configuration?

Thanks!

[2020-03-30 17:48] ppamorim opened #2396 "Invalid Mach-O Format when compiling 2.13.1"
**Describe the bug**
Trying to build the library by the source code (submodule), causing Mach-O crash on IPA transport. When compiling `2.12.8` it works.

[code]

**To Reproduce**
[code]

**Which AWS service(s) are affected?**

AWSCore AWSS3 AWSLogs

**Expected behavior**

Compile the project and publish the app.

**Environment(please complete the following information):**
 - SDK Version: 2.13.1

[2020-03-30 18:54] AshrafJaddo commented on #2395
+1 for everyone who uses the binary frameworks instead of Carthage build which takes like an hour to build all frameworks.

[2020-03-30 18:56] noelle007 commented on #2342
@kneekey23

Tried using HostedUI and confirmed it worked as expected. Thanks for your help with this!!
I do have a question: How do I detect whether a user is signing in vs signing up? same goes signing in/up through User Pool vs Federated Providers?

[2020-03-30 19:02] ppamorim commented on #22
@Motti-Shneor By running this script below you are able to compile the frameworks:

[code]

[2020-03-30 19:57] Motti-Shneor commented on #22
I already managed to make AWS SDK part of my code-base using git submodules, which I find many times better than CocoaPods.

I tried to use AWS SDK Xcode build targets, but shamefully they didn’t even build…

So I created my own targets for AWS’s 3 libraries I needed, added them as dependencies to my iOS App target, and linked against them,

And that’s all.

I now have the AWS (rather cumbersome a

[2020-03-30 20:59] VinnyScorsatto commented on #2388
Hi @hossamghareeb , thanks for your message.

Your suggestion is to initialise the AWSMobileClient with this config

{
"CognitoUserPool": {
"Default": {
"PoolId": "XX-XXXX-X_abcd1234",
"AppClientId": "XXXXXXXX",
"AppClientSecret": "XXXXXXXXX",
"Region": "XX-XXXX-X"
}
},
"Auth": {
"Default": {
"authenticationFlowType": "USER_PASSWORD_AUTH"
}
}
}

and then set pool.isCustomAuth = true, do the first

[2020-03-30 21:13] hossamghareeb commented on #2388
Yes true. We also use `AWSMobileClient` and we have 2 ways of authentication, one with `USER_SRP_AUTH` and one with `CUSTOM_AUTH`. We don't specify anything regarding `authenticationFlowType` in the configuration.

[2020-03-30 21:19] wooj2 commented on #2382
Hey @PaulScala ,

As part of AWSCore, there is AWSSignature which I believe should be of some help:
https://github.com/aws-amplify/aws-sdk-ios/blob/master/AWSCore/Authentication/AWSSignature.h

[2020-03-30 21:33] VinnyScorsatto commented on #2388
Hey @hossamghareeb , that is awesome, would you mind sharing the code on how you initialise your instance of AWSMobileClient?

Also, could you share the structure of your awsconfiguration.json?

Thanks a lot for your support

[2020-03-31 01:15] VinnyScorsatto opened #2398 ""authenticationFlowType": "USER_PASSWORD_AUTH" being ignored"
Hey Guys,

I am trying to use USER_PASSWORD_AUTH, but doing it through aswconfiguration.json or on memory does not work. It keeps using USER_SRP_AUTH.

{
  "CognitoUserPool": {
    "Default": {
      "PoolId": "us-west-2_xxxx",
      "AppClientId": "xxxx",
      "AppClientSecret": "xxxxx",
      "Region": "us-west-2"
    }
  },
  "Auth": {
    "Default": {
     "authenticationFlowType": "USER_PASS

[2020-03-31 03:37] brendancallahan commented on #2313
Hi, sorry for my late response, I've been working on getting a critical feature out the door.

I'll see if I can reproduce it -- I do remember that we actually implemented the connecting and disconnecting from IoT because of some crashes switching from Wi-Fi to cellular.  Now that I think about it, it may have been this crash.  In this situation, the user would connect their phone to our IoT devic

[2020-03-31 05:03] VinnyScorsatto commented on #2388
@hossamghareeb , just to add, I have checked again the docs and I believe I understand how your app is working.. USER_SRP_AUTH is the default AUTH for mobile and pool.isCustomAuth = true really works, but in my case I have 2 non-defaults. Also it seems that for some reason the SDK is ignoring USER_PASSWORD_AUTH (I have opened an issue for that). So I am still trying to figure out what to do, but t

[2020-03-31 14:00] kamil3 opened #2399 "AWSS3TransferUtilityMultiPartUploadTask shows in progress status after completion"
**Describe the bug**
AWSS3TransferUtilityMultiPartUploadTask shows in progress status after completion.

This is how I retrieve all upload tasks:
[code]
Upload method:
[code]
Setting up handlers:
[code]
Supporting background upload:
[code]

**To Reproduce**
This happens only when I start uploading an url, then progress starts. When it's near finishing I go to background. I wait a while to make sur

[2020-03-31 17:37] AjayKokchaMutualMobile opened #2400 "Getting UserPoolsToken Invalid sooner"
We are using
`AWSCognitoService.client = AWSMobileClient(configuration: awsConfiguration)`
[here awsConfiguration is a Dictionary]
In the awsConfiguration we have added an additional parameter `"MigrationEnabled" : true.`
We have added this  `"migrationEnabled: true"` to AWS configuration as we need the user migration script to be triggered.
After adding this parameter, we have noticed that our to

[2020-04-01 02:40] #2354 closed

[2020-04-01 08:52] spandana-batchu commented on #2210
@palpatim https://github.com/aws-amplify/aws-sdk-ios/issues/2400#issue-591292441
We have another issue that came up. `signedOutUserPoolsTokenInvalid` is getting called sooner than expected. Even though expiry is set to 24 hours, this gets called after 60 mins after we added "migrationEnabled" flag in the configuration.

[2020-04-01 12:16] SebOvs commented on #1209
we had the same problem in 2.13.0
Any update on this issue?

[2020-04-01 22:43] PaulScala commented on #2382
Hey @wooj2 So I have been digging into the AWS core SDK trying to implement this, and I got a bit stuck.

My understanding is that to load data into a web request you need to use a request sterilizer. Since none of the request serializes take a data object in I have to create my own:

[code]

The problem I am having is when I set `request.httpBody` I then get back `The request signature we calcula

[2020-04-02 01:18] VinnyScorsatto commented on #1575
@julien-tamade , did you get any feedback on this issue? I am facing the same problem

[2020-04-02 06:20] julien-tamade commented on #1575
@VinnyScorsatto I can't remember what the conclusion was for us. Only one of our users experienced it so I'm not sure if it just never came back or we found a specific solution. One fix I remember making around that time was to make sure that the user is actually signed out before signing in again. I think we had an issue with the app not fully logging users out before they tried to sign in again.

[2020-04-02 09:45] mickeysox opened #2401 "Why isn't swift returning my 1:m model data"
I have a 1:m relationship, but when I query the User in swift to get all the associated posts, I am not getting back any posts.

Querying the data in aws brings me back 1:m as expected...

[code]
But running this in swift, doesn't bring back any posts?

[code]
[code]

Whereas if I run this ListPosts I can see all the posts. As you can see from the grapql queries, the data is associated, so I am un

[2020-04-02 11:10] kshrikant commented on #2379
@wooj2 I'm following basic code from these examples

 [https://medium.com/swlh/connect-an-ios-app-to-aws-iot-fc99d5a9562f](url). [https://github.com/awslabs/aws-sdk-ios-samples/tree/master/IoT-Sample/Swift](url)

 Using below code snipeets

[code]

Using this i'm able to connect successfully but when i try to get state it gives error which i mentioned top of this question.

I need one help are the

[2020-04-02 11:24] bluebird78999 commented on #1045
in Build Phases select all of the optional  options

[2020-04-02 12:40] bfallon opened #2402 "Crashes with Cognito SDK"
**Describe the bug**
App is crashing using Cognito SDK. Huge Spike in crashes over the past 24 hours.

**To Reproduce**
Steps to reproduce the behavior:
Calling either
` AWSMobileClient.default().confirmSignIn(challengeResponse: code) { (result, error) in`
or
`AWSMobileClient.default().confirmVerifyUserAttribute(attributeName: "phone_number", code: code) { (error) in`

Results in an NSException cr

[2020-04-02 16:52] vishal-android-freak opened #2403 "AWSIoT Attach Policy method call gives unsupported URL error"
AWSIoT Attach Policy method call gives unsupported URL error

here is my code

[code]

I get the following error

[code]

I am testing my app on an iPad Pro latest version running iOS 13.4.

I have masked the key <my-key> here but the URL is proper in my actual code.

[2020-04-02 18:06] hadasacwebit commented on #1045
invalidate and restart to android studio

[2020-04-02 18:43] palpatim commented on #2317
We will investigate the behavior of the TransferUtility callback if the credential provider returns incorrect tokens.

[2020-04-02 18:56] palpatim commented on #2245
After investigating more, we don't see anything that would be causing sporadic errors.

We do have some clarification about the original question: why does the progress handler get invoked multiple times without a callback being invoked.

What may be causing confusion is the system behavior behind the `timeoutIntervalForResource` configuration option. By default the `timeoutIntervalForRequest` and

[2020-04-02 19:03] lawmicha commented on #2042
Hi @mureatencio, it has been awhile now and the bug i described, I was not able to get more than a single count for a campaign event even though code appears to be adding campaign events for non-campaign notifications. To better assess the impact of this issue, are you still seeing the issue with duplicate campaign event counts? If so, are you sending notifications to the app outside of campaigns?

[2020-04-02 23:31] drochetti commented on #2380
Hi @rinosamakanata, we reached out to the Pinpoint team to consult about the current SDK behavior and what should be done in this case. The idea is that the SDK should enforce consistency and best practices, hence the current behavior of enforcing the correct device model resolved from the `UIDevice`.

That said, consistency of behavior across platforms is important so we will work on a fix to bri

[2020-04-03 00:27] fernandoaguilar commented on #2398
hey looks like you can force USER_PASSWORD_AUTH with this setting in your awsconfiguration.json `MigrationEnabled: True`, took me a while to find this in the code, couldnt find this documented anywhere, pretty frustrating these past hours have been. Hope this helps.

[2020-04-03 01:08] VinnyScorsatto commented on #2398
Hey @fernandoaguilar , thanks for that. I have found this as well, but not sure how to make it work since I have to do a CUSTOM_AUTH and if the user is not found I do the migration.. Can you share your awsconfiguration.json if that is ok? Thanks a lot for your help

[2020-04-03 04:02] rinosamakanata commented on #2380
@drochetti Thank you for scheduling the fix! Like Android SDK, I hope iOS device model will be stored into Pinpoint's demographic data implicitly.

[2020-04-03 09:45] cornr opened #2404 "Migrating from AWSSignInManager to AWSMobileClient"
Our current app version uses the `AWSSignInManager` for sign in functionality Including Cognito User Pool as well as Google and Facebook (via the `AWSIdentityProvider`s included in AWS-SDK-iOS).
As I have noted in https://github.com/aws-amplify/aws-sdk-ios/issues/1809 there is no `IdentityProvider` implementation for "Sign In With Apple". Therefore we spend the last couple of weeks migrating our w

[2020-04-03 09:46] cornr commented on #2404
This issue looks like a duplication of https://github.com/aws-amplify/aws-sdk-ios/issues/1243 but I am curious if there is a maybe manual process of migrating the credentials.

[2020-04-03 13:51] pablogeek commented on #498
+1

[2020-04-03 14:52] kostiag opened #2405 "Unable to switch Pool configuration"
**State your question**
I have multiple environments dev/test and would like to be able to switch between the 2. However, once logged in to dev I keep getting token from dev environment for user that exists in both or not able to login with a user that exists only in test. I have tried:
mobileClient?.signOut(options: SignOutOptions(signOutGlobally: true, invalidateTokens: true),
as well as

[2020-04-03 16:06] palpatim commented on #2390
We will take this on as a feature request to add a Route53 module/pod to the SDK.

[2020-04-03 16:27] palpatim commented on #2395
Dupe of https://github.com/aws-amplify/aws-sdk-ios/issues/2365

[2020-04-03 16:27] #2395 closed

[2020-04-03 16:32] palpatim commented on #2399
Hi @kamil3

Can you verify that the upload actually completes by going to your S3 destination and seeing the file? Simply waiting is not enough to guarantee that the upload completes successfully.

That said, if you are able to verify that the object is in fact uploaded correctly, and you're still seeing this, then that sounds like a bug we'll need to investigate.

[2020-04-03 16:43] palpatim commented on #2401
Dupe of https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/376

[2020-04-03 16:44] #2401 closed

[2020-04-03 16:49] palpatim commented on #2403
Does the URL in the error message include the `https` scheme, or is it truly just begin with the bare hostname?

[2020-04-03 16:50] palpatim commented on #2404
@cornr There is no supported way of migrating credentials. AWSMobileClient uses different keys and constructions for its persisted credentials.

[2020-04-03 16:56] palpatim commented on #2405
We do not support switching between AWSMobileClient configurations on the fly. In order to support this case, you'd have to re-launch the app and initialize AWSMobileClient with a different set of configuration values.

[2020-04-03 17:10] mickeysox commented on #2401
Yeah sorry about that, I'm struggling to get any answers.  Any idea?

[2020-04-03 17:49] vishal-android-freak commented on #2403
It begins with the bare hostname, no https in the beginning.

[2020-04-03 17:59] kamil3 commented on #2399
Hi @palpatim

I'll try to investigate it next week, because I'm not the owner of this S3.
However, even if it's not there, it would still looks like a bug. Progress and completion handlers are not called, task seems to be frozen.

[2020-04-03 18:03] Ricardo1980 opened #2406 "Questions about S3"
Hello,

I have some questions about S3.

Let’s say I am creating an app like a social network.
Pictures uploaded by users are completely public, everyone can see. Even from outside the system. Because sometimes you receive emails and these emails have a link to one of those pictures. So, I guess I need public URLs, rather than using that logic for signing requests explained here:
https://github.co

[2020-04-03 18:52] vishal-android-freak commented on #2403
https://agnostech.github.io/flutteramplify/#/

I am building this. PubSub package is almost ready too. Android part is ready, I am stuck on iOS because of this issue. Help would be appreciated. If you can guide me to the place where https is not getting appended, I can send a PR :)

[2020-04-03 19:42] palpatim commented on #2393
@julien-tamade I think this is your best bet. You could overload methods, or even better, create a separate method as an extension of the code-generated models, stored in a separate file. That way, you wouldn't lose your changes when you update the API.swift file via codegen, and it would be obvious that it was something other than "default" behavior.

One other option might be to consider the htt

[2020-04-03 19:53] wooj2 commented on #2298
@karasahinemre
Thank you so much for your patience!  The service team has deployed a fix.  It's not exactly what I was expecting because the first response returns a challengeName w/ a value of `"PASSWORD_VERIFIER"`, but I suspect this is sufficient because as a result of responding to this response, we can eventually get the expected `PasswordResetRequiredException`

Here's what I'm seeing based

[2020-04-03 20:01] ppamorim commented on #2396
@palpatim It was caused by that line, I removed it from my script and now it's working!

[2020-04-03 20:16] palpatim commented on #2396
@ppamorim Thanks for the update and the investigation. I'll look on my side to see why that started failing and get a fix in as part of my work getting us to compile on Xcode 11.4/Swift 5.2

[2020-04-03 20:31] lawmicha commented on #1571
hi @Pumpkin-SweetPotato are you still seeing this issue with the latest SDK or were you able to test the workaround?

[2020-04-03 20:38] lawmicha commented on #2343
hi @giovazjim thanks for reporting this issue and the screenshot. Are you able to get more details regarding the connection error such as the reason why the connection errored?

Are you able to check the connection status or simply create a new connection to the websocket when the code enters `applicationDidBecomeActive` ?

[2020-04-03 21:19] kneekey23 commented on #2402
hi @bfallon thanks for reporting the crash, I am so sorry this is suddenly happening. Unfortunately, I am not able to reproduce the crash right now. Is there any other additional information you can provide like your specific Cognito configuration and a bit more of the code so that I can reproduce?

[2020-04-03 21:31] royjit commented on #2392
Hi,

Thank you for reaching out. Can you share the lambda trigger you are using. Please take a look at the [documentation](https://aws-amplify.github.io/docs/sdk/ios/authentication#lambda-trigger-setup) regarding the use of lambda trigger with custom auth. Since AWSMobileClient assumes the initial step of custom auth as SRP_A your lambda trigger should be implemented in a particular way as shown i

[2020-04-03 21:37] royjit commented on #2398
Hi @VinnyScorsatto

Can you please give an idea of your auth flow? We would like to understand the your use case and try to reproduce the scenario. Looks like you are using different type of auth mechanism in a single app and it is not something that AWSMobileClient currently support.
Also, what all lambda triggers are you planning to use?

[2020-04-03 22:22] ppamorim commented on #2396
@palpatim It compiles, the problem is when sending it to Apple.

[2020-04-03 22:43] palpatim commented on #2396
Oh, in that case, please be sure to see the strip frameworks instructions in the README:

[2020-04-03 23:07] palpatim commented on #2365
We will be updating the CI/CD config to build with Xcode 11.4.

We're also investigating the `BUILD_LIBRARY_FOR_DISTRIBUTION` flag, but it doesn't seem to be as simple as merely adding that flag.

[2020-04-03 23:25] palpatim commented on #2365
The root of the issue with setting `BUILD_LIBRARY_FOR_DISTRIBUTION` appears to be a [known issue with Xcode](https://developer.apple.com/documentation/xcode_release_notes/xcode_11_2_release_notes#3402806):

This does not yet appear to be resolved in Xcode 11.4, and so we cannot provide forward compatible binary distributions since renaming either the class or the module would be a significantly br

[2020-04-03 23:55] wooj2 commented on #2379
Hey @kshrikant

I’m having trouble understanding what code you are using and what error you are now seeing.  In your latest response, you have two code snippets.

In the first snippet, it looks like you are attempting to create an `AWSIotDataManager`, which is a higher level client which uses the lower level `AWSIotData` class.  You are encouraged to use the `AWSIotDataManager`, but I’m not exactl

[2020-04-04 05:37] wooj2 commented on #2380
Hi @rinosamakanata ,

I have pushed a draft PR with an attempt to come up with a solution so that you'd be able to add a custom device model, located here:
https://github.com/aws-amplify/aws-sdk-ios/pull/2410

Could you please take a look at the pull request and let us know if you think this will work for your use case?

[2020-04-04 10:03] Sagato opened #2411 "Error using AWSMobileClient with cognito user pool --> Fatal error: Unexpectedly found nil while unwrapping an Optional value: file"
Hello I setup a Cognito User Pool on my aws console.
Now I am trying to setup my ios APP (SwiftUI) with the AWSMobileClient (authentication).
But I am receiving an Error, I can not explain.

On This line:

I provided my awsconfiguration.json file in the project root.

**code snippets**

and called this on my appdelegate:

[code]
I can see the console message --> `UserState: signedOut`

On my login

[2020-04-04 10:49] karasahinemre commented on #2298
Hi,

I tried with same configuration but it still gives invalidParameter. Then I updated my SDK version to 2.13.1 but result is not changed.

**First try:**

[code]

Response headers:
[code]

**Second try:**

[code]

[code]

Am I missing something?

[2020-04-04 12:41] kribby commented on #604
Ensure the time and date on the device is set correctly

[2020-04-04 15:04] kostiag commented on #2405
Thanks that’s unfortunate

[2020-04-04 15:04] #2405 closed

[2020-04-04 17:59] wooj2 commented on #2298
Hey @karasahinemre

Thank you for quickly trying to validate the fix.  Just as an FYI, I wouldn’t expect that the SDK version to change anything given that this is clearly a server side issue.

In full transparency, here’s what happened:
I have an internal ticket against the Cognito team that was set to a  “resolved” state as of 48 hours ago.  After noticing this, I re-tested and posted my results

[2020-04-05 13:03] morfeelright commented on #2360
Hi,

I have a similar issue with the optout parameter.
I try to set it to NONE and nothing changes (it stays "ALL").
This way I can't send push notifications.
Can you help?

This is the code I'm using:
`if let targetingClient = pinpoint?.targetingClient {
                let endpoint = targetingClient.currentEndpointProfile()
                endpoint.optOut = "NONE"
                // Update the e

[2020-04-05 19:34] vishal-android-freak commented on #2403
Any update on this?

[2020-04-05 23:41] VinnyScorsatto commented on #2392
Hey @royjit , thanks for that.

Yep, it seems that the way our lambda was implemented to support our web application ignores SRP as the first step, so that is why I am getting this response.. I will close this issue and keep tracking on #2398, that can help my implementation.. thanks

[2020-04-05 23:41] #2392 closed

[2020-04-06 00:27] VinnyScorsatto commented on #2398
Hey @royjit , thanks for that,

Sure.. So basically I am following our web flow.

I first do CUSTOM_AUTH, but if the user is not found, I do USER_PASSWORD_AUTH that triggers a user migration to from our db to cognito.

Since there is no way to use two auth flows, I will probably need to handle the migration out of the AWSMobileClient.

Discussing with my team, we believe that I can try to use only

[2020-04-06 03:37] VinnyScorsatto commented on #2398
Hey @royjit , I managed to make it worked using USER_PASSWORD_AUTH and setting MigrationEnabled: True. So I will close it for now. Thanks @fernandoaguilar for the tip!

[2020-04-06 03:37] #2398 closed

[2020-04-06 03:39] VinnyScorsatto commented on #2388
Solved for now as mentioned on #2398. Thanks @hossamghareeb and @wooj2

[2020-04-06 03:39] #2388 closed

[2020-04-06 03:41] VinnyScorsatto commented on #1575
@julien-tamade , thanks a lot.. my issue was regarding our lambda that was ignoring SRP initial step because of our web application. Cheers

[2020-04-06 03:44] fernandoaguilar commented on #2398
@Vinnyscorsatto no problem. Glad I could help!

[2020-04-06 04:42] kshrikant commented on #2379
@wooj2 My bad due to some error was trying to add

[code]
While fetching `getThingState`

Can you please let me know as you got there are 2 scenarios in my case

i.e first i want to connect AWS iot using web socket so there i'm using  `AWSIotDataManager` and

second thing i want to `getThingState` so there is i thought only option is go with `AWSIotData` to get state. May i know whats the wrong wi

[2020-04-06 05:50] rinosamakanata commented on #2380
Hi @wooj2 ,

Great! I confirmed that your draft PR worked for my use case to keep custom demographic data. Thank you!

[2020-04-06 10:04] yosuke1985 opened #2418 "How to check username is available or not?"
**State your question**
Cognito setting: Username - Users can use a username and optionally multiple alternatives to sign up and sign in.

I want to check the `username` or `preferred username` is exist or not.
How can I do that?
Only can check by `AWSMobileClient.default().signUp` method by error?
Maybe this method also can check but it needs to set the passwords and also it created the users.

*

[2020-04-06 12:54] cornr commented on #2404
As @Thuran mentioned in #1243 a forced re sign in is no good for the user experience and increases the likelihood of app deletion.

[2020-04-06 13:29] dziwiedz commented on #2399
Hi @palpatim - as @kamil3 wrote - we don't have access to S3, but soon we will have ability to check it by making api request. In the meantime I will try to talk with backend guys do they are able to help me with that.

We will update you when we will have more informations :)

[2020-04-06 15:06] palpatim commented on #2404
Hi @cornr, we'll keep the feature request #1243 on our backlog for evaluation against other enhancements. In the meantime, I'm closing this issue.

[2020-04-06 15:06] #2404 closed

[2020-04-07 00:11] royjit commented on #2291
Closing as there is no response. Please reach out if you are still facing the issue.

[2020-04-07 00:11] #2291 closed

[2020-04-07 00:13] royjit commented on #2340
Closing as there is no response. Feel free to reach out if you are still facing any issue.

[2020-04-07 00:13] #2340 closed

[2020-04-07 03:37] wooj2 commented on #2379
Hey @kshrikant

Thank you so much.  That's a lot more clear -- sounds like you want to
- connect over a websocket to the data plane
- get the state of a thing via its shadow
- update the state of a thing via its shadow

For these three use cases, it seems like you should be able to use the `AWSIotDataManager`, and not have to use the lower level generated classes.

I suspect you already have this

[2020-04-07 05:05] kshrikant commented on #2379
@wooj2 Thanks for details & briefly explanation ill follow and recheck my code and will update you.

[2020-04-07 09:01] temmplar47 commented on #2317
Could you please confirm if iOS SDK calls clearCredentials to update the logins maps, like Android SDK calling the refresh method mentioned in the [doc](https://docs.amazonaws.cn/en_us/cognito/latest/developerguide/developer-authenticated-identities.html#updating-the-logins-map)?
Could you please provide any samples?

[2020-04-07 10:21] kshrikant commented on #2379
@wooj2 Thanks a lot for your time, i've implemented your suggested code it seems working or a while  But now i'm always getting time out issue

i.e. `AWSIoTShadowOperationStatusType` `timeout` The exactly similar issue is opened [AWSIoTDataManager.getShadow() timeout](url) I'm looking into this now, but is there anything due to that this timeout issue is getting ?

[code]

[2020-04-07 10:26] kshrikant commented on #1159
@dholdren  @AndreaPetrelli @minbi @armandr May i know how did you guys resolved this, I'm facing similar problem while getting shadow ?

[2020-04-07 12:50] ruirodrigues-eyenov opened #2419 "possible deadlock with AWSPinpointAnalyticsClient submitEvents"
**Describe the bug**
`AWSPinpointAnalyticsClient:submitEvents` does a `dispatch_sync(dispatch_get_main_queue(),` to get `[UIApplication sharedApplication] isRegisteredForRemoteNotifications]` result. A `dispatch_sync` on main queue can lead to a deadlock when events are sent from queues besides the main queue.

**To Reproduce**
Send an event from a queue other than main queue and block main queue

[2020-04-07 13:25] armandr commented on #1159
@kshrikant  You can try adding a short delay (e.g. 500ms) before getting the shadow and repeat re-try if you still get a timeout.

It's not optimal, but will make the behaviour more deterministic.

[2020-04-07 16:31] wooj2 commented on #2379
Hey @kshrikant

Great! Glad you were able to use the AWSIotDataManager in order to connect via websocket, get status of your thing via a shadow, and (I'm guessing) updating it as well.  With regards to the issue you initially reported, I will be optimistically closing this ticket, but feel free to re-open if needed.

With regards to the timeout issue you are seeing, and based on the [issue you lin

[2020-04-07 16:31] #2379 closed

[2020-04-07 16:46] bfallon commented on #2402
It's a standard Cognito configuration per the documentation, do you have any specific configuration questions?  We cannot reproduce this issue, we are tracking the crashes via Crashlytics.

[2020-04-07 16:52] royjit commented on #2312
Sorry for the delay in replying.

The bug report and code snippet was really useful,  it gave us a clear picture. As shown in most of the report, the crash happens at line 601 in AWSCognitoCredentialsProvider -

```3   AWSCore                       	0x00000001057a8194 __66-[AWSCognitoCredentialsProvider credentialsWithCancellationToken:]_block_invoke + 393620 (AWSCredentialsProvider.m:601)```

I u

[2020-04-07 17:26] julien-tamade commented on #2393
@palpatim, thanks for the response. For now my team's gonna stick with the current sdk because we've got our app released and don't want to risk anything. Can you provide some guidance on extending the code-generated models? is it a matter of changing the operationString? Do you have to create entire new GraphQLSelectionSet structs to store the return data? Is there anything else I'm not consideri

[2020-04-07 18:25] kshrikant commented on #2379
@wooj2  Sure thing mate, thanks a lot for your response.

[2020-04-07 18:39] andybezaire commented on #1809
@Saravanakumar22 did you ever figure your problem out? I am having the same error: Obtaining an identity id in another thread failed or didn't complete within 5 seconds.
(it actually fails, not a timeout. it fails before the timeout)

[2020-04-07 22:25] royjit commented on #2411
Hi @Sagato ,

Can you please provide a complete stack trace?
Also what is `session` object in your code snippet above.

[2020-04-07 22:28] royjit commented on #2402
Can you please provide us with a stack trace of the crash so that we can try to pinpoint the exact issue?

[2020-04-08 02:15] giovazjim commented on #2343
hi @lawmicha So the connection status it's always (5) connectionError .
I don't know if matters but as you can see in the logs as soon as the app becomes active the status connection is (5) connectionError twice and in some case change to (1) connecting. When this happen usually it change to (2) connected, but there are cases where it never try to re-connect again.

![Screen Shot 2020-03-11 at 3 0

[2020-04-08 10:19] kshrikant commented on #1159
@armandr Thank i've added currently delay, let's see if any problem occurs.

[2020-04-08 10:53] Saravanakumar22 commented on #1809
@cornr Can you please share the piece of code used to '**Sign With In Apple**'? I'm getting the same error. And one more doubt do we need to add **Amplify** for **AWSMobileClient**?

@andybezaire nope. facing the same issue

Thanks in advance

[2020-04-08 12:46] cornr commented on #2366
@kneekey23 I think I understood you wrongly. We experience a `.signedOutFederatedTokensInvalid` after 10 minutes. So are we responsible to refresh the token we passed over to `AWSMobileClient.default.federatedSignIn`?

The Diagrams you mentioned e.g. **Enhanced (Simplified) Authflow** don't show a token refresh at the LoginProvider layer.
Is `AWSMobileClient.default.federatedSignIn` actually the r

[2020-04-08 12:47] Ricardo1980 commented on #2406
@palpatim  @royjit
Any recommendation?
Thanks a lot.

[2020-04-08 17:34] futurealecks commented on #1519
Reopening because this is still an issue for us. In app tokens expiring fast and we're unable to extend the length @BillBunting @afriedmanGlacier

[2020-04-08 18:27] rhhjr commented on #2402
Crash stack:

Fatal Exception: NSInternalInconsistencyException
0  CoreFoundation                 0x1b2272a48 __exceptionPreprocess
1  libobjc.A.dylib                0x1b1f99fa4 objc_exception_throw
2  CoreFoundation                 0x1b21681c0 -[NSCache init]
3  AWSCore                        0x104cdee44 (Missing)
4  AWSMobileClient                0x104eadb94 (Missing)
5  miku

[2020-04-08 18:29] rhhjr commented on #2402
Attached is a Log taken during a period when crashes occurred.  This app did not crash but it was taken during a time when we believe user apps were crashing.

[com.miku.mikucare 2020-04-07 04-07 (2).log](https://github.com/aws-amplify/aws-sdk-ios/files/4452176/com.miku.mikucare.2020-04-07.04-07.2.log)

[2020-04-08 19:53] royjit commented on #2418
This is not currently supported by Cognito. I have talked with the Cognito service team and they would take this as a feature request.

[2020-04-08 20:20] kneekey23 commented on #2366
hi @cornr  I thought you said you didn't experience that after ten minutes? What is your Cognito refresh time length set to? but yes if you set your refresh token to expire after ten minutes you are responsible for refreshing the apple jwt and doing another federated sign in.

Cognito Identity Pools (which is what `AWSMobileClient.default.federatedSignIn` is using only launched support for sign in

[2020-04-08 23:15] yosuke1985 commented on #2418
@royjit Thank you. I will wait.

[2020-04-08 23:15] #2418 closed

[2020-04-09 04:17] royjit commented on #2357
You can get more user attributes using the user attribute api. If you are using a social provider, you need to map the attributes - https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-pools-attribute-mapping.html

[2020-04-09 08:30] stijlerg commented on #1045
Running pod install solved the issue for me

[2020-04-09 15:06] rhhjr commented on #2402
- symbolicated error logs to help debug the issue
Not sure why Firebase crashlytics lost the symbolicated traces since they were there when this ticket was created but unfortunately we are unable to symbolicate the logs for that version.

    - check whether there were users registered using the app during the time period of March 19th to April 1st
On average 50 users were registered per day durin

[2020-04-09 17:36] royjit commented on #2402
Thank you for the update.
In the absence of symbolicated crash log, let us try to backtrace from the information what we have. From the crash log it looks like the crash happened from some AWSMobileClient invocation inside `ConfirmMessageViewController.finish()`:
[code]
 Can you provide the code snippet inside this `finish()` method of `ConfirmMessageViewController` class?

[2020-04-09 17:46] bfallon commented on #2402
The `finish()` method calls one of two AWS methods:

`AWSMobileClient.default().confirmSignIn(challengeResponse: code) { (result, error) in
`
or
`AWSMobileClient.default().confirmVerifyUserAttribute(attributeName: "phone_number", code: code) { (error) in`

Which eventually results in an NSException crash in AWSTaskCompletionSource
`- (void)setResult:(nullable id)result {`

This was symbolicated vi

[2020-04-09 19:09] #2105 closed

[2020-04-09 19:38] joccjo commented on #1057
In my case I was running two devices at the same time with the same clientID, so one was disconnecting the other in each reconnection.

[2020-04-09 22:37] royjit commented on #2402
In that case the exception should be coming from here -
[code]
Is there a chance in  your app that the AWSMobileClient api being called multiple times? For example consider the following flow:

1. Invoke `AWSMobileClient.signIn(..)` with username/pwd
2. Ask for MFA challenge from the user
3. Pass the challenge response code to `AWSMobileClient.confirmSignIn(..)`
4. Invoke again `AWSMobileClient.co

[2020-04-10 00:48] royjit commented on #2208
Closing this because of inactivity, please read the suggestion mentioned above. Feel free to open new issue if you still face any problem.

[2020-04-10 00:48] #2208 closed

[2020-04-10 03:17] #2396 closed

[2020-04-10 19:56] palpatim commented on #2393
@julien-tamade

Looking at this more closely, you would probably have to re-create the entire operation structure; the generated code is deeply nested and selection set isn't easy to separate out.

Luckily, Amplify CLI offers support for this, as detailed in the [transformer documentation](https://aws-amplify.github.io/docs/cli-toolchain/graphql). In the Workflows section, "Flow 3: No API changes,

[2020-04-10 21:25] wooj2 commented on #2384
There seems to be something specific in the build/release/signing settings of your application.  Unfortunately, I don't think there's much we can do from our side, so I will be closing this ticket.

Best of luck!

[2020-04-10 21:25] #2384 closed

[2020-04-10 22:53] #2370 closed

[2020-04-10 22:53] #2371 closed

[2020-04-10 23:04] royjit commented on #2341
Hi @pathfinder1989
Looks like the original issue is resolved as per your comment. Looks like the other issue is not SDK related and its more of iOS questions. Feel free to open another issue if you think the problem is with the AWS SDK. Closing this issue.

[2020-04-10 23:04] #2341 closed

[2020-04-10 23:53] palpatim commented on #1809
Latest status of this:

* The Amazon Cognito service now supports Sign in with Apple for federated sign in to Identity Pools, in addition to the previous support for User Pools via HostedUI.
* We have updated the [HostedUI Auth documentation](https://aws-amplify.github.io/docs/ios/authentication#setting-up-hosted-ui-domain-for-sign-in-with-apple) to provide the correct HostedUI identityProvider va

[2020-04-11 16:59] andybezaire commented on #1809
@Saravanakumar22 I got Sign in with Apple working.
I am doing the same steps you mentioned above and was getting the same error. I was actually getting the signedIn state, but that error came when I tried getAWSCredentials.

The fix was not in the app, but in the server. I didn't do the fix, but here are the comments about how it was fixed:

"It seems that on top of the app cognito pool setup you

[2020-04-11 17:02] andybezaire commented on #1809
@palpatim we are having the same issue with google login. Do you know the corresponding IAM setup procedure for google sign in?

[2020-04-13 03:11] rajuashok commented on #2260
I'm still having this issue, but based on this it should be fixed right?

![Screenshot 2020-04-12 20 10 06](https://user-images.githubusercontent.com/2475027/79089091-a8dd5580-7cf9-11ea-8bd1-8cda6f61da61.png)

This is what's in my podfile:

`pod 'AWSMobileClient', '~> 2.13.0'`

I'm running XCode `Version 11.2.1 (11B500)`

[2020-04-13 16:24] lawmicha commented on #2343
hi @giovazjim, you can also add debug logging to get more details?
[code]

I noticed with debug logging enabled, I saw instances of similar behavior to what you are describing where it the connect fails on first try and then succeeds afterwards. with debug logging on, there's more details regarding what actually happened. I'm reproducing this on the sample app here https://github.com/awslabs/aws-s

[2020-04-13 17:10] palpatim commented on #1809
@andybezaire Please open a separate issue for your Google login question. This thread is focused on AWS support of Sign in with Apple for iOS clients.

[2020-04-13 17:55] yepthatsjason opened #2429 "Fetching a token displays confusing alert message to users"
**Describe the bug**
Our app needs to be able to send the JWT ID token to our AWS java backend service so it can validate user API calls. I've noticed this annoying message that shows up whenever the access token needs to get updated (which is extremely frequent), and is displayed even though the user state is already "signedIn". It's not reasonable to display this message to our app users, and fu

[2020-04-13 18:02] yepthatsjason commented on #2429
Additionally, I noticed that after I click this message, it takes me to the built-in web UI login. Which then asks me to login, and after I did.. the it returned and the `getTokens(..)` completed.

Hopefully I'm just doing something wrong here, but it seems like Cognito is making the user perform a full login every time the access token expires, even though their client state is set to "signedIn".

[2020-04-13 18:25] yepthatsjason commented on #2429
It seems like the only reason this alert UI would appear is if the login API wasn't properly maintain access to the Google Sign-In refresh token? Is there possibly an issue in the login flow for native that's not storing the token as expected?

I'm logging in like this into my AWS Cognito User Pool:
[code]

[2020-04-13 23:48] rhhjr commented on #2402
Pinpoint info as requested:
US East (N. Virginia)us-east-1
Pinpoint Project ID: 1927dab206c044ffbcb2406a97fe7564

We will get back to you on mulitple invocations of AWSMobileClient.confirmSignIn(..) tomorrow.

[2020-04-14 00:28] #2383 closed

[2020-04-14 00:28] #1773 closed

[2020-04-14 00:28] #1571 closed

[2020-04-14 03:43] wooj2 commented on #2380
Hi @rinosamakanata ,

Thank you so much for your patience.  We have released a new version of the AWS SDK for iOS [2.13.2](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.13.2) with the ability to update custom demographics.  The call pattern is slightly different than what I had in my initial version, but I believe this should be sufficient for your use case.

You should be able to do s

[2020-04-14 03:43] #2380 closed

[2020-04-14 05:36] MaheshSC commented on #2411
Hi here

When am trying to signing using AWSMobilse SDK

the app crashes with the same error

[code]

[2020-04-14 07:09] MaheshSC commented on #2411
Hi please can you look below my comment and give me reply

[2020-04-14 07:45] rinosamakanata commented on #2380
Thank you @wooj2 ,

I'll try it immediately!

[2020-04-14 07:47] MaheshSC commented on #2148
@rigocarbajal  can you please help me to implement signing flow with AWS Cognito / Mobile Client

[2020-04-14 13:43] bfallon commented on #2402
The multiple invocations is not an issue here. Once the user taps the UI, we present a full screen "connection animation" that blocks all user interaction. Once AWS has completed its task, we remove the animation. In the case we are discussing here, the animation is never dismissed because the app crashes before the closure is called.

For reference, this is the animation we are using that blocks

[2020-04-14 14:00] bfallon commented on #2402
It is also worth noting that the number of crashes has dropped dramatically over the past few days (including versions of the app that have not been updated to the latest SDK). The culprit seems to be something outside of the app/SDK on the server-side that triggered the crash.

Here is a breakdown of the crash activity:
1/16/20 » 2/17/20: 0 < 1 crashes per day.
2/18/20: 3 crashes
2/19/20 » 3/2/20

[2020-04-14 15:32] royjit commented on #2411
@MaheshSC
Please provide the crash log / stack trace, so we can debug the issue.

[2020-04-14 15:45] yepthatsjason commented on #2429
I noticed today that the login session did in fact persist over the night as expected. I'm wondering if maybe there's just a weird simulator issue happening here with the web views credential cash or something, because when I changed to a different iOS simulator that was also previously authenticated, Cognito thought I was signed-in, but it prompted asking to re-open the web view to authenticate a

[2020-04-14 15:45] #2429 closed

[2020-04-14 15:59] MaheshSC commented on #2411
Hi

i don't know what happened i have updated my Xcode & Mac to the latest one now am in Xcode 11.4
and it started working am able to login with username and password

now i need help in implementing custom login flow also by sending the clientMetaData

I will try myself and get back to you if i have any problem

[2020-04-14 17:12] lawmicha commented on #2402
Thanks for the update @bfallon

Just a suggestion in case this is still possible from the end-user's perspective, maybe also disable the button after user taps it, before displaying the progress HUD?

Sorry for the inconvenience caused, are you able to get any symbolicated crash logs for previous crashes or going forward? If the root cause can be found for existing crashes, amidst the spike of err

[2020-04-14 17:34] bfallon commented on #2402
`Just a suggestion in case this is still possible from the end-user's perspective, maybe also disable the button after user taps it, before displaying the progress HUD?`

The moment the user presses the button, it cannot be pressed again since the loader I mentioned above prevents any interaction with the UI.

Now that we have experienced the issue on the newest build, I will provide symbolicated

[2020-04-14 22:55] lawmicha commented on #2411
here's the link to custom auth flow from the docs https://docs.amplify.aws/sdk/auth/custom-auth-flow?platform=ios

closing this issue now, as the original problem is resolved. feel free to open a new issue if you see a bug with the relavant details

[2020-04-14 22:55] #2411 closed

[2020-04-15 07:20] chandusam2002 opened #2434 "S3 uploads are 2 - 3 times slower in IOS compared to Android."
**Describe the bug**
IOS S3 uploads(using TransferUtility/S3 Client) are slower compared to Android. Upload with size 8 MB takes anywhere between 20 and 30 seconds(on a wifi connection) where as the same upload is taking 7 - 9 seconds on Android.
3 MB upload is taking between 15 and 20 seconds.
I understand that IOS is different and uses NSURLSession to submit uploads. But the performance differen

[2020-04-15 12:07] MaheshSC opened #2435 "AWSMobileClient Custom_Auth SignIn pass clientMetaData/Validation data to Define Auth Challenge Trigger"
I have successfully implemented the Custom Auth SignIn using AWSMobileClient SDK

Requirement is
i need to let the backend know what i am logging in with Phone or Email based on it sending SMS / SNS backend will do tho

So i am not able to understand how to do this

I tried sending validation data too but not able to get the validationData in define auth challenge

here is the signIn method

[code

[2020-04-15 12:33] Nicolaidam commented on #2357
I've had luck with mapping attributes for email, first name and ID from Facebook. However I'm not able to get gender/birth. Is that maybe because the "profile" scope only gets a bit information from Facebook?

[2020-04-15 13:39] dziwiedz commented on #1060
[code]

In our case it is happening when app is uploading file using multipart. When during upload app will go to background, then it will crash when app will enter foreground. Not each time, more randomly.  We are also using workaround provided here https://github.com/aws-amplify/aws-sdk-ios/issues/1513#issuecomment-531407454

[2020-04-15 13:50] MaheshSC commented on #2435
@lawmicha
@royjit

Can you please provide me quick help
am struggling from 1 weak just to pass some data to DefineAuthChallenge/CreateAuthChallenge
i want to send some key value pairs

[2020-04-15 15:04] cornr commented on #2366
@kneekey23 We updated Cognito Identity to the new Apple Provider. Login works. The Cognito Refresh Time is 3650 Days.
If I keep the app open I can continue to make API Requests (probably) infinitely. But when I quit the app, wait 10 minutes and start the app again: With the first API Request, the `AWSMobileClient` UserStateListener jumps to `signedOutFederatedTokensInvalid`.
The same happens with

[2020-04-15 15:08] cornr commented on #1809
@palpatim thanks for the update. We are see expiring tokens after app restarts (after 10+ minutes): AWSMobileClient posts a `signedOutFederatedTokensInvalid` in the UserStateHandler. See: https://github.com/aws-amplify/aws-sdk-ios/issues/2366#issuecomment-614094365
Do you have any thoughts on how to solve this with apple sign in?

[2020-04-15 18:14] lawmicha commented on #2394
Hi @mickeysox, can you clarify how you are retrieving the username? Which method on AWSMobileClient are you calling?

[2020-04-16 09:42] Alex-C-Eltima opened #2436 "Error upon file uploading with CEPH"
**State your question**
We use your AWS iOS SDK to work with CEPH server (Ceph Object Gateway S3 API). After switching from AWSS3TransferManager to AWSS3TransferUtility neither uploading nor downloading of any files is working anymore, and returns the error. Below is the code example, we will appreciate your assistance.

**Which AWS Services are you utilizing?**
Ceph Object Gateway S3 API

**Provi

[2020-04-16 11:20] Saravanakumar22 commented on #1809
I finally made it works. 😭

@andybezaire  Thanks

[2020-04-16 13:53] vishal-android-freak commented on #2403
Hey, can anyone please comment on this issue?

[2020-04-16 13:59] MaheshSC commented on #2411
@lawmicha

can you please help me in this

[2020-04-16 15:58] lawmicha commented on #2403
Hi @vishal-android-freak I took a look at the sample here https://github.com/awslabs/aws-sdk-ios-samples/tree/master/IoT-Sample/Swift

and there is a constant for the endpoint in the format of
`let IOT_ENDPOINT = "https://xxxxxxxxxx.iot.<region>.amazonaws.com"`

It gets used when configuring the AWSIoTDataManager
[code]

With the sample app, i am able to connect to the MQTT websocket. I haven't te

[2020-04-16 17:30] vishal-android-freak commented on #2403
YES! It needed `https`. Android doesn't require https in its configuration. :/

But now I have another error
The error says `not found`.

But the policy exists by the name that's mentioned in the code.

@lawmicha any clue about this?

[2020-04-16 17:35] lawmicha commented on #2406
Hi @Ricardo1980, if you want to send dynamic emails with links to your images, does CloudFront fit your use case? https://aws.amazon.com/blogs/networking-and-content-delivery/amazon-s3-amazon-cloudfront-a-match-made-in-the-cloud/

Regarding file access permissions: https://docs.amplify.aws/lib/storage/configureaccess?platform=js (although JS docs, the amplify provisioning is the same across the pl

[2020-04-16 18:43] lawmicha commented on #2403
Hi @vishal-android-freak , glad you were able to resolve the problem. That does seem odd that Android does not require https in its configuration. Although they should be functionally the same, it appears on iOS, the configuration uses `AWSEndpoint` while Android uses the `AWSIotMqttManager` class, which is why they differ.

iOS https://aws-amplify.github.io/docs/sdk/ios/pubsub
Android https://aws

[2020-04-16 18:43] #2403 closed

[2020-04-16 19:55] julien-tamade commented on #2393
Thanks @palpatim that's very helpful and saves a lot of time.

For anybody else reading this, my team found luck with just creating .graphql files containing custom queries and mutations and left them in the generated graphql folder. They seem to get picked up and compiled during the codegen process even when running `amplify codegen` without including `types`.

So that's one option if you want to

[2020-04-16 22:20] karasahinemre commented on #2298
Hi,

Any updates?

[2020-04-17 01:31] #2042 closed

[2020-04-17 09:22] jeky1990 opened #2456 "AWS SNS push notification subscription error(com.amazonaws.AWSSNSErrorDomain error 6.)"
ios version 13.3.1
phone model ios 6s
AWS version -
 - AWSSNS (2.13.1):
 - AWSCore ( 2.13.1)

AWS SNS subscribed successfully with error (com.amazonaws.AWSSNSErrorDomain error 6.)
silent notification not working in ios 13 working fine in ios 12
`let apnsPayload : [String:Any] = ["content-available":1]`
APNS payload with message attributes
[code]

**why I am not able to subscribe successfully witho

[2020-04-17 14:52] lawmicha commented on #2456
hi @jeky1990 I think the error you're seeing corresponds to AWSSNSErrorInvalidParameter

https://github.com/aws-amplify/aws-sdk-ios/blob/df5cb0b37d34759104512fd705a1c9e7e62a2517/AWSSNS/AWSSNSModel.h#L31

It is odd that it started failing in iOS 13.
Did you at any point upgrade the SDK version that may correlate to the failure?
When you say that it subscribed successfully with the error, does that

[2020-04-17 15:03] lawmicha commented on #2436
Hi @Alex-C-Eltima are you able to upload using TransferManager with a proxy like https://www.charlesproxy.com/ connected to see what is the endpoint being uploaded to? I suspect another way you could narrow this down is to use TransferUtility with S3 directly instead of CEPH just to make sure your configuration values are in the right format. You can create a new provision pretty quickly with `amp

[2020-04-17 15:13] lawmicha commented on #2434
Hi @chandusam2002 interesting testing on performance using different clients. I was going to suggest trying to use S3 client directly to see if that improves the performance but it sounds like there is very little difference. The S3 client is the thinnest client we have to interact with S3 service so if the round trip time of the request isn't improved, there isn't much the SDK can improve on and

[2020-04-17 16:45] southparkwyx commented on #2298
Hello Emre,

This is Eric from AWS, I have made the fix recently currently it's in code review. I should be able to give you an update on the estimation deployment date pretty soon

Thank you for finding this bug

[2020-04-17 16:47] southparkwyx commented on #2298
Hello Emre,

This is Eric from AWS, I have made the fix recently. Currently it's in code review and it will be merged today. I should be able to give you an update on the estimation deployment date pretty soon

Thank you for finding this bug

[2020-04-17 17:36] karasahinemre commented on #2330
Same here.

[2020-04-17 17:41] karasahinemre commented on #2039
Hi,

Do you have any plans with this request?

[2020-04-17 18:06] palpatim commented on #2365
We updated the build image to use Xcode 11.4 in [release 2.13.2](https://github.com/aws-amplify/aws-sdk-ios/releases/tag/2.13.2). Closing.

[2020-04-17 18:06] #2365 closed

[2020-04-17 18:10] palpatim commented on #2393
@julien-tamade I'm not aware of any other workflows that would prevent that, but you might want to ask the question on the [CLI repo](https://github.com/aws-amplify/amplify-cli/issues) to get a more educated answer. :)

[2020-04-17 18:21] phani-srikar commented on #2357
The default profile scope in Facebook does not seem to include gender/birth [FB docs](https://developers.facebook.com/docs/facebook-login/permissions/#reference-default)

The fix for this issue has been merged in from this [PR](https://github.com/aws-amplify/aws-sdk-ios/pull/2397). Please update the SDK to get the changes. Closing this issue.

[2020-04-17 18:21] #2357 closed

[2020-04-17 18:52] lawmicha commented on #2389
hi @joeboyscout04, thanks for the clarifiation on your use case.

we should support different user pools for developer's staging purposes and will take this as a bug for investigation to see if we can switch between two user pools and reproduce the behavior. It looks like from the above use case, we should first test
1. sign up/ sign into user pool 1
2. get session
3. switch the configuration, reb

[2020-04-17 20:04] lawmicha commented on #2320
hi @jasonbobier thanks for reporting this issue and the detailed stack trace. We've taken this into consideration and will incorporate these testing practices as continue to improve the code.

Do you have a particular scenario when using AWSMobileClient that is causing issues for you, ie. consistently hitting a race condition with getTokens. Working backwards from a reproducible issue will help us

[2020-04-17 20:14] royjit commented on #2325
Configuration looks, can you please check the url endpoint in callback and signOut section?
![callBackUrl](https://user-images.githubusercontent.com/51138777/79610446-6a56ea80-80ad-11ea-8eec-41caa5d3b1fc.png)

[2020-04-17 22:13] royjit commented on #1211
Thank you for the update.
I am not able to figure out the exact issue yet. Just trying a wild guess here: is there a chance that you are calling `federatedSignIn` multiple times? As per the crash log the issue happens here:
[code]
So if there is multiple concurrent call to `federatedSignIn` , there is a chance that self.credentialsFetchLock.leave() called twice before setting `self.pendingAWSCrede

[2020-04-17 22:54] royjit commented on #1305
Hi @kirilstrax
Apologies for the delayed response, where you able to make it work? Please check whether your backend is configured correctly to use Cognito User Pool as the authorizer - https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-cognito.html.
`AWSMobileClient.default()` should work as the credentialsProvider. If you are still facing any issue, try to ena

[2020-04-17 22:56] royjit commented on #1305
Also here is another documentation from AWSMobileClient to you token as authorization - https://aws-amplify.github.io/docs/sdk/ios/api#cognito-user-pools-authorization

[2020-04-17 23:05] royjit commented on #2070
Hi @AlaaAlHallaq
Thank you for reaching out and sorry to hear that you are facing issues. It looks like you are using `AWSMobileClient` and our old `CognitoSDK` in the same app. It is not a recommended approach.
We recommend just to use `AWSMobileClient` for all your user pool related operations.  Please follow the steps here in [authentication](https://aws-amplify.github.io/docs/sdk/ios/authentic

[2020-04-17 23:14] royjit commented on #2321
Hi @FahadOsaimi
Adding the following code as explained in [here](https://sarunw.com/posts/uinavigationbar-changes-in-ios13/) fixed the issue for me

[code]

[2020-04-18 07:45] jasonbobier commented on #2320
Hey there, it is a race condition, so I don't believe I had anything consistent (this was a month and a half ago and I'm on a different project now, so... memories are hazy :) ).

[2020-04-18 10:13] FahadOsaimi commented on #2321
Thank you @royjit so much , fixed the issue for me too 😊

[2020-04-18 10:13] #2321 closed

[2020-04-20 01:00] pruales commented on #2411
+1 I'm having this exact same problem.

[2020-04-20 08:28] LYM-collab commented on #1603
Going to keep asking here as this is important to us.

[2020-04-20 08:44] dydus0x14 commented on #2053
Hi. Any updates on this? I faced with the same issue. Seems like download/upload request has never been removed from completedTaskDictionary in AWSS3TransferUtility object. Is there any way to do that?

[2020-04-20 09:37] robwithhair commented on #1603
@nikhil-dabhade any update on this?

[2020-04-20 09:39] jeky1990 commented on #2456
hey @lawmicha thanks for replying
-- I got notification successfully.
-- the main issue is silent notification not receiving. (with above parameter)

[2020-04-20 09:40] robwithhair commented on #1603
@royjit any update on this?  Just won't build on Xcode ATM.

[2020-04-20 09:52] jasonbobier commented on #2053
I haven't heard a thing on it. I ended up setting the blocks on the task to nil in my completion block in order to prevent the retain of my objects, but that doesn't solve the original issue.

[2020-04-20 16:21] lawmicha commented on #2456
It sounds like there may have been a breaking change in iOS 13. Can you take a look at this and let us know if it's related to your problem? https://aws.amazon.com/blogs/messaging-and-targeting/sending-push-notifications-to-ios-13-devices-with-amazon-sns/

[2020-04-20 16:30] royjit commented on #2435
Hi @MaheshSC
Could you please share the authentication flow that you are using?
As mentioned [here](https://docs.aws.amazon.com/cognito-user-identity-pools/latest/APIReference/API_InitiateAuth.html#CognitoUserPools-InitiateAuth-request-ClientMetadata) only a few lambda triggers receive the clientMetadata for the initiateAuth flow. `AWSMobileClient.signIn` method internally calls `initiateAuth` and

[2020-04-20 16:43] lawmicha commented on #1837
Hi @jpelayo Sorry for the delay. That sample is a bit outdated, and our recommendation is to use AWSMobileClient, which is a high level client for interacting with AWS Cognito User Pools and Identity Pool.
current docs: https://aws-amplify.github.io/docs/ios/authentication
preview docs: https://docs.amplify.aws/sdk/auth/getting-started?platform=ios

When working with SwiftUI, it should be similar

[2020-04-20 19:53] chandusam2002 commented on #2434
Thanks @lawmicha . I will run tests with transfer acceleration to see whether it improves performance.

[2020-04-20 23:51] adamup928 commented on #1211
Hi @royjit -

Yes, it's certainly possible that `federatedSignIn` is called more than once.  I hope this helps!

[2020-04-21 00:02] Jeremy-Kotai commented on #1603
Please update!

[2020-04-21 04:04] kshrikant opened #2466 "Fetching list of things in things group or things from AWS iOS swift"
@wooj2 Thanks for your precious help on [Connecting to AWS & Updating thing](https://github.com/aws-amplify/aws-sdk-ios/issues/2379) it saved huge time for me. With reference to that as per your suggestion I used `iotDataManager` to connect to AWS and update thing state.

But now I need list of things in group or list of things from AWS with that I tried to find solution from [AWSIoT Reference](ht

[2020-04-21 05:18] rap-morgan commented on #313
+1

[2020-04-21 08:41] MaheshSC commented on #2435
Hi @royjit

as given above the code thats the one am using to sign in the user
and later on another code to confirm signin

I have see the documentation you given links in the comment

but there is no where i can find the client side implementation
like i want the documentation how to achieve this in iOS - Swift, Android - Java
Please help me with this

[2020-04-21 11:10] abenyahya commented on #1937
Hi I'm trying to use HostedUI from AWS but got an error : Error getting token The operation couldn’t be completed. (AWSMobileClient.AWSMobileClientError error 26.), is there any guideline to resolve that ?

[2020-04-21 11:12] abenyahya commented on #1937
& When using direct Auth0 services, I'm able to get user connected, and also tokens from AWSMobileClient, but when I want to use APIs & AWS Services I got another error : `Error:Optional(Error Domain=com.amazonaws.AWSCognitoIdentityErrorDomain Code=8 "(null)" UserInfo={__type=NotAuthorizedException, message=Unauthenticated access is not supported for this identity pool.})`

[2020-04-21 13:45] kwylez commented on #1724
@dpachecols I'm experiencing a very similar problem. Did you ever find a fix?

[2020-04-21 18:04] wooj2 commented on #2466
Hey @kshrikant

Thanks for reaching out again, and glad that we were able to save you some time :).

To be honest, I've never run that request before, but I looked in both in the `AWSIotDataManager` and the `AWSIotManager` and neither seem to have a high level interface you can use to make a `AWSIoTListThingsInThingGroupRequest`.  That being said, I was able to:
1.  Set up an IoT group in my IoT a

[2020-04-21 22:11] hiteshinfostride commented on #938
I am still facing this issue, i'm not sure if it is something related to my AVPlayer. When i hit the preSignedUrl in browser the m3u8 file gets downloaded.
But when i pass the url to my player it does not play anything.

`let videoAsset = AVURLAsset(url: videoURL)
  let playerItem = AVPlayerItem(asset: videoAsset)
  self.player = AVPlayer(playerItem: playerItem)`

Here 'videoURL' is the preSignedU

[2020-04-22 05:12] kshrikant commented on #2466
Thanks @wooj2 ! For quick response. I've enabled log level and tested. All configuration was right only thing i wasn't aware about is how to get response of things, the way to get things is as below.

    let credentialsProvider = AWSCognitoCredentialsProvider(regionType:AWS_REGION,
                                                            identityPoolId:IDENTITY_POOL_ID)

    let controlPlaneSe

[2020-04-22 05:12] #2466 closed

[2020-04-22 06:42] kshrikant commented on #1314
The `AWSMobileClient.default().isSignedIn` is not giving valid state, as i logged in the `AWSMobileClient.default().isSignedIn` is giving `true` But when i reopen the App the state changes to `false`

May i know what the wrong with anything with implementation ?

[2020-04-22 09:14] Alex-C-Eltima commented on #2436
Hello,

Thank you for getting back to me.

Yes, the endpoint is like  https://bucket-name.server-name, bucket name is being used for the host name.

It is working correctly with Amazon, the problem only occurs with CEPH server

But, connection and requests for list of files in the bucket are working correctly, the error occurs only for uploading and downloading operations.

Hope these comments wil

[2020-04-22 10:14] boozi2 commented on #2312
Hi @royjit thank you for the update and the suggested fix.
W've tested the fix for about a week now and i seems to reduce the AWS errors dramatically but not entirely. Though we see less of them we are still getting errors like:
[code]
Any further suggestions ?

[2020-04-22 10:36] RahulDighe opened #2472 "Error Domain=com.amazonaws.AWSCognitoIdentityProviderErrorDomain Code=-1000 ""
**Describe the bug**
I got the following error it is not consistent. Some times it happens some times don't.
**Error Domain=com.amazonaws.AWSCognitoIdentityProviderErrorDomain Code=-1000 "Authentication delegate not set" UserInfo={NSLocalizedDescription=Authentication delegate not set}**

**Code Snippet**
[[[self.user getSession] continueWithBlock:^id _Nullable(AWSTask<AWSCognitoIdentityUserSessio

[2020-04-22 10:42] RahulDighe commented on #2368
I got an error message see the followig code snippet  **Error Domain=com.amazonaws.AWSCognitoIdentityProviderErrorDomain Code=-1000 "Authentication delegate not set" UserInfo={NSLocalizedDescription=Authentication delegate not set}**

[[[self.user getSession] continueWithBlock:^id _Nullable(AWSTask<AWSCognitoIdentityUserSession *> * _Nonnull task) {
// (Error handling not shown)
if(task.error){
NS

[2020-04-22 11:55] cornr commented on #1809
Hey everyone who has got the Sign in with Apple via `AWSMobileClient` working: do you experience the same issue as we do? We get a `signedOutFederatedTokensInvalid` after 10 mins. Even with a Cognito Refresh Time of 3650 Days.
After that I can see no solution to keep the user signed in without presenting the "Sign in with Apple"-Sheet again (which I find a show stopper). Thanks for your help

[2020-04-22 16:41] JamalBelilet commented on #313
Any updates?

[2020-04-22 16:46] wooj2 commented on #2466
Hey @kshrikant !

Great to hear you're unblocked.  In reviewing your code, it looks like your code has `continueOnSuccess` on a separate line, which seems like there is a potential for a race condition with the returning network call.  You might want to consider using something like this, which allows you to get the response & error when making that call:
[code]
Best of luck!

[2020-04-22 17:57] tnsivakumar commented on #2411
I had the same problem. But It got resolved after I drag and drop the awsconfiguration.json from finder into the Xcode. As mentioned in this documentation - https://docs.amplify.aws/sdk/auth/getting-started/q/platform/ios#install-dependencies. But I am not sure you are facing the same.

[2020-04-22 18:23] wooj2 commented on #2472
Hi @RahulDighe

Thanks for reaching out out to us!
1.  Is it possible to share with us any additional information/code samples with regards to how you are configuring Cognito for your application?

2.  When you say "Some times it happens and sometimes don't", How often are you seeing this?  Once every minute? or once every hour? Once every day?  Is there a particular action the app is taking that

[2020-04-23 01:29] abemusic commented on #1106
+1 as well. I commented on PR #1155 mentioned above. Trying to find any workaround that doesn't result in a poor experience for the user. Ideas anyone?

https://github.com/aws-amplify/aws-sdk-ios/pull/1155#issuecomment-618123577

[2020-04-23 04:53] kshrikant commented on #2466
Thank you @wooj2 I will update code as per your suggestion to avoid race condition. Thanks for response! 👍

[2020-04-23 05:28] jeky1990 commented on #2456
@lawmicha
we have set in "**aps**" only one key which is  **["content-available":1]**, so it means the aws automatically set its header value from aps....as per this https://aws.amazon.com/blogs/messaging-and-targeting/sending-push-notifications-to-ios-13-devices-with-amazon-sns/
but it is not set automatically yet... I m also using the latest version of aws sns

[2020-04-23 06:10] RahulDighe commented on #2472
**1. Here is I am configuring Cognito**

    AWSServiceConfiguration *serviceConfiguration =
    [[AWSServiceConfiguration alloc] initWithRegion:[self getAWSRegionFromString:cognitoIdentityUserPoolRegion] credentialsProvider:nil];
    //create a pool
    AWSCognitoIdentityUserPoolConfiguration *configuration =
    [[AWSCognitoIdentityUserPoolConfiguration alloc] initWithClientId:cognitoIdentityUse

[2020-04-23 15:20] rtnlsltn commented on #2033
@kneekey23 I am encountering this issue again. I can't conclude if it was hidden due to token expiration (30 days?) or iOS 13.4/13.4.1 update.

I've got a user who I believe has an expired token and routed back to the sign-in screen. I'm using the same code posted by gadget-man. It is looping through the "startPasswordAuthentication" function twice on "user?.signOut()". I was able to find a crash

[2020-04-23 18:01] wooj2 commented on #2472
Hi @RahulDighe ,

The error you're seeing seems to be emitted from:
https://github.com/aws-amplify/aws-sdk-ios/blob/655e13b7db063a30831cb9c968775999f9e40c90/AWSCognitoIdentityProvider/AWSCognitoIdentityUser.m#L620

Which happens when `self.pool.delegate` is set to nil.  Looking at your configuration, it looks like you are not setting `_pool.delegate`, like in our sample app here:
https://github.co

[2020-04-24 21:06] royjit commented on #2312
Glad to hear that the changes reduced the bugs :)
The new stack trace is not symbolicated. It doesnot show the line number where the issue is happening. Can you please provide the stack trace like the one before?

[2020-04-25 01:22] OthmanT opened #2493 "EC2 not working on iOS"
**Describe the bug**
I an trying to list the instances in my account with no success.
I have the permission set in the IAM.
I have S3 and SNS working with no problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the provided snippet on a iOS project using the AWSEC2 framework

**Observed Behavior**
No instances description returned
Error return `Domain=com.amazonaws.AWSEC2ErrorDomain

[2020-04-25 04:34] #2070 closed

[2020-04-25 04:34] #2393 closed

[2020-04-25 05:32] morris-lu opened #2494 "AwsMobileClient Signin will crash and ShowSignin not working on real device"
**Describe the bug**
Hi, I'm using AWSMobileClient, it was good on my iPhone X and the iOS version is 13.3.
But the show sign in not working and sign in will crash on iPhone XR and iPhone 7, both iOS versions is 13.3.
Also some user can't perform showSignIn and SignIn function.
Here is crash report from Apple connect
<img width="1057" alt="截圖 2020-04-25 13 30 43" src="https://user-images.githubuse

[2020-04-25 12:27] OthmanT commented on #2493
For some reason EC2 does not accept the CognitoPoolID, I have to log using an access key and a secret key to make it work

[2020-04-26 07:29] MaheshSC commented on #2435
If you think my requirement cannot be fulfilled by this flow (MobileClient)
please help me any other flow where i can pass some key-values to backend while logging the users
so backend can use the key-values whether to send SMS/SNS to verify the login

[2020-04-27 06:38] Saravanakumar22 commented on #2400
I am using **AWSMobileClient** `federatedSignIn` for Facebook login. After the successful login, the token has expired within **10 mins** and I'm trying to upload some content to **S3** ended up with this error **Unable to refresh. Error is [Error Domain=com.amazonaws.AWSCognitoIdentityErrorDomain Code=8 "(null)" UserInfo={__type=NotAuthorizedException, message=Invalid login token. Token expired:

[2020-04-27 13:30] royjit commented on #2435
Hi @MaheshSC
The `validationData` passed in `AWSMobileClient.signIn` is internally send as `clientMetadata` and it can be accessed through the following lambda triggers:
- Pre signup
- Pre authentication
- User migration
Note that _Define Auth Challenge_ lambda trigger is not in the list.

Also you can pass `clientMetaData` through `AWSMobileClient.confirmSignIn`, in which case the clientMetaData

[2020-04-27 15:05] Saravanakumar22 commented on #1809
@cornr Yes, I'm also facing the same issue. New token isn't generating. thanks for your help

[2020-04-27 15:07] eduardo-bermudez commented on #1837
Hi @lawmicha - where do you create the UIViewControllerRepresentable with a NavigationController? I am working on a separate project and want to do the same and I am trying to init the navController within didFinishLaunchingWithOptions in my AppDelegate class but I'm still having some issues.

Here is what I currently have:
    import UIKit
    import AWSMobileClient
    @UIApplicationMain
    cla

[2020-04-27 19:03] wooj2 commented on #2494
Hi @morris-lu

Thanks for reaching out.  I noticed that AWSMobileClient.default() seems to not crash on your iPhoneX, but does crash on your iPhone XR and iPhone 7.  I'm not expecting to see any variances in devices, but just in case, I just wrote a sample app, and I was unable to reproduce any issue on an iPhone 7.  I suspect that there is something going on other than it being a device that is a

[2020-04-27 22:05] kylelin47 commented on #2434
I'm seeing the same issue. A simple PutObject for an 800 KB file will take ~2s using the Android SDK and around ~5s using this SDK for the same file.

I am using the API in the Android SDK that takes in a File however, while the iOS SDK does not appear to have an equivalent. Maybe there's something going on in the Android SDK that makes the file streaming more efficient, or something strange about