[2018-07-06 23:37] EthanLozano opened #981 "AuthUI user pool UI confirm code view inaccessible with user error"
* What service are you using?
AWSAuthUI
* In what version of SDK are you facing the problem?
2.6.23
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
No
* Is this problem related to specific iOS version?
No
* How are you consuming the SDK? CocoaPods / Carthage / Prebuilt frameworks?
CocoaPods
* Can you give us steps to

[2018-07-06 23:51] EthanLozano opened #982 "AuthUI user pool sign up UI configurable attribute input fields"
* What service are you using?
AuthUI
* In what version of SDK are you facing the problem?
2.6.23
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
No
* Is this problem related to specific iOS version?
No
* How are you consuming the SDK? CocoaPods / Carthage / Prebuilt frameworks?
CocoaPods
* Can you give us steps to rep

[2018-07-07 00:01] EthanLozano opened #983 "AuthUI user pool sign in UI configurable attribute field labels"
* What service are you using?
AuthUI
* In what version of SDK are you facing the problem?
2.6.23
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
No
* Is this problem related to specific iOS version?
No
* How are you consuming the SDK? CocoaPods / Carthage / Prebuilt frameworks?
CocoaPods
* Can you give us steps to rep

[2018-07-07 03:41] mpirogov commented on #963
@cbommas
Great.

[2018-07-07 15:41] pablogeek commented on #759
Hello @cbommas thanks for the update!!
I tested this but `transferUtility?.getMultiPartUploadTasks().result` always gives me 0 results.

This is what I do to instanciate my transferUtility:

[code]

And then I call this

[code]

It uploads well, but If I restart the app when it raises 50% of the upload it still tells me there are 0 uploads.

[2018-07-07 16:20] 24601 commented on #815
@rohandubal - a use case is any application that uses XCode's Document-based template/patterns, these view controller hierarchies have null NavigationControllers because they are Document based.

We have this issue.

[2018-07-07 16:49] 24601 opened #984 "On sign-up/login UI "tab" on keyboard moves input but UI does not respond"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
MobileHub Cognito Sign-In
* In what version of SDK are you facing the problem?
2.6.23
* Is the issue limited to Simulators / Actual Devices?
Both
* Can your problem be resolved if you bump to a higher version of SDK?
No
* Is this problem related to specific iOS version?
No
* How

[2018-07-07 16:50] 24601 commented on #878
I am not sure this is "fixed" or it's "fix" created a new problem/regression. Regardless, I've opened a separate issue as #984, maybe it's related, maybe it isn't.

[2018-07-07 18:55] trondkr opened #985 "Enable inventory on bucket using API (SDK for iOS)"
I am trying to enable inventory configuration programmatically on a bucket using AWS SDK iOS 2.6.21. I am setting up my credentials (secret key and access id) for the correct region the bucket is in (I have tested that this works as I am able to get bucket versioning etc.). But when I try to enable inventory configuration on the bucket I get a problem with error message:

`Finished put bucket inve

[2018-07-09 05:11] pothunoorisk commented on #893
@behrooziAWS @rohandubal  plz have a look at the above query.

[2018-07-09 05:22] pothunoorisk commented on #893
Hi @rohandubal  @behrooziAWS  and AWS, It's been almost 3 months since this issue is reported. If this issue doesn't get resolved, we will be lagging in our release and all our efforts taken so far will be fruitless citing this very simple (as it seems) issue.  I have provided code snippet above in reply to your last comment for better understanding of this. I request and expect team to go through

[2018-07-09 06:43] minbi commented on #984
Thanks for reporting this issue. We will investigate and follow up here

[2018-07-09 06:43] jeffjvick commented on #769
@cbommas Thanks for these additions, I appreciate it.  Adding status is great as that was something present in the UploadRequests of TransferManager that was not, up til now, present in TransferUtility.  setProgressBlock should also be helpful as I was previously having to keep a list of expressions so I could later set the progress block in a different view but now I can just keep track of the ta

[2018-07-09 06:49] minbi commented on #983
Hi @EthanLozano ,

Thank you for reporting these issues. We will reply back here.

[2018-07-09 06:49] minbi commented on #982
Hi @EthanLozano ,

Thank you for reporting these issues. We will reply back here.

[2018-07-09 06:49] minbi commented on #981
Hi @EthanLozano ,

Thank you for reporting these issues. We will reply back here.

[2018-07-09 09:58] anmolmalhotra opened #987 "Amazon Rekognition documentation in Swift"
This is not an issue in aws-sdk-ios.

I am just trying to confirm if Amazon Rekognition SDK is available in Swift or ObjC?

I am currently referring this documentation - https://docs.aws.amazon.com/rekognition/latest/dg/.

It has Java, .NET, Python and AWS CLI. Any help would be greatly appreciated! Thank you! :)

[2018-07-09 15:14] cornr opened #988 "Facebook Graph Request fails in loginWithSignInProviderKey"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS Auth SDK
* In what version of SDK are you facing the problem?
2.6.18
* Is the issue limited to Simulators / Actual Devices?
no
* Can your problem be resolved if you bump to a higher version of SDK?
no
* Is this problem related to specific iOS version?
no
* How are you consumi

[2018-07-09 16:59] pablogeek commented on #759
@cbommas Would be really helpful if you could add more info here :) thanks! we really want this feature!

[2018-07-09 21:02] cbommas commented on #987
@anmolmalhotra

AWS Rekognition is supported as part of the Mobile SDK (see http://aws.github.io/aws-sdk-ios/docs/reference//Classes/AWSRekognition.html). It is implemented in Obejctive C, but you can use it both from Swift as well as Objective C.

[2018-07-09 23:18] cbommas commented on #759
@pablogeek

A best practice I would suggest is to register the TransferUtility in your app delegate. Once registered, you can look up the client wherever needed using the `AWSS3TransferUtility.s3TransferUtility(forKey: key)` method.

The transferUtility uses the value passed in for the key (see below) to link back to the transfers that were in progress in the previous run of the app

 _AWSS3Transf

[2018-07-10 01:00] cbommas commented on #980
@shashank-rps

Can you share the code snippet for where you are creating the credentialsProvider object that you are passing into the AWSServiceConfiguration

_AWSServiceConfiguration *configuration = [[AWSServiceConfiguration alloc] initWithRegion:AWSRegionAPSoutheast1 credentialsProvider:**credentialsProvider**];_

[2018-07-10 01:54] cbommas commented on #963
@mpirogov

Checking back to see if this worked for you.

[2018-07-10 04:36] anmolmalhotra commented on #987
Hey @cbommas, sorry for not being specific first. I am looking for Amazon Recognition iOS documentation. I found the available documentation in Java, .NET, Python and AWS CLI. Can you tell me where I can refer?

The url you sent me shows the list of methods, properties, classes. I have already referred to that and it was helpful to me but I am not sure if I am writing the code correctly because co

[2018-07-10 06:12] shashank-rps commented on #980
**Here is the full configuration code.**

[code]

[2018-07-10 08:37] pablogeek commented on #759
@cbommas Yes that is always the same key for that specific video. I can't register this in my app delegate as I get the AWS configuration from a service before upload. That should be the same as soon as the key is the same, isn't?

an example of a key is `eu/main/2014_07_14_11_21_27/videos/44/367389/vid/1234567890_part_1.mov`

[code]

Even If I check the result after start the upload, it will give

[2018-07-10 13:01] cbommas commented on #759
@pablogeek

I think there is some confusion. I am referring to the name (or key) that you register the transferUtility client with. The name that you use in the AWSS3TransferUtility.register call creates a TransferUtility client and sets it up within the SDK. This client can be used to transfer any number of files. The best practice here is to create a single instance of the TransferUtility, regis

[2018-07-10 13:10] cbommas commented on #980
@shashank-rps

Thank you. Everything looks good in the code snippet. Can you post logs that contain the error you are seeing?

Also, are you setting up acceleration on the bucket programmatically or are you using the AWS console to do it? Setting accelerateModeEnabled = YES in the transfer utility config just tells the TransferUtility that the bucket has acceleration turned on; it doesn't change t

[2018-07-10 14:00] SanCHEESE commented on #769
@cbommas
Ok, I've tried it out, but its not working. What am I doing wrong?
When app terminates, I suspend all ongoing tasks using `suspend`.
Then when app launches after creating AWSS3TransferUtility, I enumerate utility's `getDownloadTasks.result` tasks and there is none of them in returned array.

[2018-07-10 14:16] pablogeek commented on #759
@cbommas I understand what you mean. In our case, the upload key is we are using is the same one to register AWSUtility. This is because we can't really use the same utility for every upload. As I said the AWS configuration is coming from an API and we need to register a new AWSTransferUtility based in that config.

About the issue I'm having it works here:
[code]

How can I actually check if I ha

[2018-07-10 21:19] cbommas commented on #938
@opteamix-ppalanisamy

Looks like you may be all set on this issue. I will go ahead and close this - please feel free to reopen if you are still running into problems.

[2018-07-10 21:19] #938 closed

[2018-07-10 21:21] cbommas commented on #595
closing this thread as we are tracking this in #769

[2018-07-10 21:21] #595 closed

[2018-07-10 21:32] cbommas commented on #769
@SanCHEESE

The transferUtility uses the value passed in for the key (see below) to link back to the transfers that were in progress in the previous run of the app

_AWSS3TransferUtility.register(with: self.configurationAWSfor(video: video)!, forKey: **key**_

Is the value of the key in your case a constant value? As a best practice, I would suggest is to register the TransferUtility in your app d

[2018-07-10 21:39] cbommas commented on #443
@dimaborenko
Apologies for the delay in the response here. We have made numerous improvements to the `AWSS3TransferUtility` over the past few releases and are positioning that as the recommended path forward for transfers with S3. The `AWSS3TransferManager` is in the process of being deprecated.

I would recommend that you use the TransferUtility in your code base. I would be happy to help you if

[2018-07-11 07:42] jeffjvick commented on #769
@cbommas

I have tested `setProgressBlock` on previously created `AWSS3TransferUtilityMultiPartUploadTask` and it seems to work fine.  This is a nice convince method as previously I had to keep track of all of my expressions so I could later attach a progressBlock to them.  I have not yet test `setCompletionHandler`.

The auto re-assignment of progressBlocks when going in/out of background seems t

[2018-07-11 12:44] cornr commented on #988
Ok, there is nothing wrong in AWS-SDK :)
My problem was the creation of the `FBSDKGraphRequest` which I did before the signIn. It seems the `FBSDKGraphRequest` stores the `tokenString` instead of getting it from `FBSDKAccessToken`.

[2018-07-11 12:44] #988 closed

[2018-07-11 14:05] cbommas commented on #987
@anmolmalhotra

Here is a code sample

        let rekognition = AWSRekognition.default()

        let faceRequest = AWSRekognitionIndexFacesRequest()
        let image = AWSRekognitionImage()
        let s3Object = AWSRekognitionS3Object()
        s3Object?.bucket = "bucket"
        s3Object?.name = "image.jpg"
        image?.s3Object = s3Object

        faceRequest!.image = image
        faceReq

[2018-07-11 15:56] mpirogov commented on #963
@cbommas
sorry to late.
I am still investigating with real users.
it will takes much delay.
will let you know as possible as soon.
thank you.

[2018-07-11 22:25] dawn360 opened #989 "TransferUtility Random Error AWSS3TransferUtilityErrorDomain Code=2 SignatureDoesNotMatch"
I am getting a random error behavior when uploading images or videos. Occasionally I get this error for no reason. Then it will work and fail after a couple more tries. I tried between using the `info.plst` config and config
via code to make sure the region was set right but the issue still persists.

    Failed with error: Error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=2 "
    (n

[2018-07-12 10:04] shashank-rps commented on #980
I am not seeing any error logs in the console, it's just that neither I am getting any progress updates, nor the code hits failure or success blocks.

I have enabled acceleration on the actual bucket as well from the console at our backend.

You can easily reproduce the issue by following the steps I mentioned above.

[2018-07-12 10:38] trondkr opened #990 "Bug in AWSS3ListObjectVersionsRequest ?"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS SDK iOS

* In what version of SDK are you facing the problem?
2.6.21
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
No
* Is this problem related to specific iOS version?
No
* How are you consumi

[2018-07-12 13:09] trondkr commented on #990
It seems I was sending an empty string as parameters and that's not allowed. When I changed the code to the following it worked:

    `let listObjectsRequest: AWSS3ListObjectVersionsRequest = AWSS3ListObjectVersionsRequest()
        listObjectsRequest.bucket = bucket
      //  listObjectsRequest.maxKeys = 1000

        if !marker.isEmpty{
            listObjectsRequest.keyMarker = marker
        }

[2018-07-12 13:30] #990 closed

[2018-07-12 14:21] cbommas commented on #989
@dawn360

sorry to hear that you are running into issues. A few questions that will help narrow this down
- have you been able to identify any patterns in the bucket names and key names where the errors are occurring?
- have you seen it fail intermittently for the same bucket and key combination? If so, could you share two logs 1) when the error occurs 2) when the transfer happens successfully
- a

[2018-07-12 19:12] mattczech commented on #965
@cbommas Thanks for looking into this and for the quick turn-around! v2.6.23 seems much more stable when disconnecting/reconnecting.

I'm still seeing an issue where the `AWSIoTMQTTClient` will attempt to reconnect when the connection status is connected.

Steps to reproduce:

- Start up an application using AWSIoT. Allow it to connect to the MQTT session.
- Background the app and lock the device.

[2018-07-12 19:22] aat2703 commented on #965
Our app is currently on its way to the App Store. I'll request feedback from our customers once it has made its way out, and will circle back on this thread 👍

[2018-07-12 19:37] ntewinkel opened #991 "Cannot Archive: AWS framework was built without full bitcode"
Xcode 9.4.1, using Swift.
AWS-IOS-SDK-2.6.19

I rebuilt your Amazon IoT Sample using the Frameworks steps as described here:
https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-ios-sdk-setup.html

The Swift IoT Sample is from here:
https://github.com/awslabs/aws-sdk-ios-samples/tree/master/IoT-Sample/Swift/

My main app is built without pods, so I chose to build using direct framew

[2018-07-12 20:01] EthanLozano commented on #984
I noticed the same. This is what appears in the "Debug View Hierarchy" when focusing on just the password field:
![screen shot 2018-07-12 at 2 41 58 pm](https://user-images.githubusercontent.com/1757759/42655663-64d3ac00-85e2-11e8-81c7-f34479f1daac.png)
So, there is a UIView covering the UITextField that only seems to disappear when the top view is touched. The source is [here](https://github.com/

[2018-07-12 20:22] dawn360 commented on #989
Thanks for the reply, I have been comparing the verbose log for both successes and failed requests, but I can seem to spot anything out of the ordinary.  But, I suspect this has something to do with the
custom headers I am passing.

    content-type:video/mp4
	host:someBucket.s3.amazonaws.com
	x-amz-acl:public-read
	x-amz-meta-category_id:0
	x-amz-meta-description:Stringofmaxlen50
	x-amz-meta-face

[2018-07-12 21:12] jeffjvick commented on #769
@cbommas @SanCHEESE

I also tested out `transferUtility.getMultiPartUploadTasks().result`.

When `applicationWillTerminate` fires I run though my list of mutlipartUploadTasks and suspend them all.  Then when the app is restarted I check `transferUtility.getMultiPartUploadTasks().result` using let `transferUtility = AWSS3TransferUtility.s3TransferUtility(forKey: "my-advanced-options")`.  Thank you

[2018-07-12 23:38] cbommas commented on #769
@jeffjvick

Let me address your points as best as I can

_The auto re-assignment of progressBlocks when going in/out of background seems to work fine as well. I have not yet experienced any issues of mismatches when uploading multiple files at once._  Just to clarify, for this I am not auto-assigning anything. It is just that when the app goes into the background and transitions back to the foregr

[2018-07-12 23:50] cbommas commented on #769
@SanCHEESE

sorry about the troubles you are having on the timing issue. Unfortunately, the best solution for that is the callback (good news is that I'm working on it) as putting a delay can be hit or miss.

_Why does the download start anew_ - I see that you are suspending the tasks when you get a signal that the app is going to be terminated. When I get the callback working, you will see all th

[2018-07-13 00:42] jeffjvick commented on #769
@cbommas Thanks for the response

Her is the dump of `transferUtility.getMultiPartUploadTasks().result`.  It seems to usually be five:

[code]

[2018-07-13 03:12] #953 closed

[2018-07-13 13:42] cbommas commented on #987
@anmolmalhotra

Just checking back to see if you had any further questions.

[2018-07-13 13:49] cbommas commented on #759
@pablogeek

I am working on adding a completionHandler to the TransferUtility registration call. This will enable you wait for the instantiation to complete and for all ongoing transfers to be loaded. Once that is in place, you should be able to get it working as you require.

I will post back on this thread once the completionHandler has been implemented and released.

[2018-07-13 13:52] cbommas commented on #769
@jeffjvick
This is definitely a bug. I will fix it in an upcoming release. You are correct that all of these are references to the same object. You should only resume one of them.

[2018-07-13 15:07] pablogeek commented on #759
@cbommas Thanks! that would be really good. I was thinking to add a timer or something like that. That approach sounds much better solution.

[2018-07-13 19:57] EthanLozano commented on #815
@masarusanjp solution worked for me with the slight annoyance that AWSAuthUIViewController [presents itself with an animation](https://github.com/aws/aws-sdk-ios/blob/2.6.23/AWSAuthSDK/Sources/AWSAuthUI/AWSAuthUIViewController.m#L44) and [dismisses itself with an animation](https://github.com/aws/aws-sdk-ios/blob/2.6.23/AWSAuthSDK/Sources/AWSUserPoolsSignIn/AWSUserPoolsUIOperations.m#L100). So, th

[2018-07-14 00:29] Abeansits opened #993 "Facebook/Google signup to User Pool"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Cognito

* In what version of SDK are you facing the problem?
2.6.22

* Is the issue limited to Simulators / Actual Devices?
No

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How are you consumi

[2018-07-14 06:20] minbi commented on #993
Hi @Abeansits ,

The service API does not currently support this feature. We will let the service team know that you are interested. The Cognito Hosted UI available in the `cognitoauth` library has the feature if you are interested in web UI.

[2018-07-14 09:49] 0x5e commented on #961
Hello, Is there any solution yet？I have a pod using `MQTTClient`, so I can't import `ATSIoT` because of duplicate symbol.

[2018-07-15 08:02] #958 closed

[2018-07-15 09:11] drazza99 opened #995 "AWSS3, AWSCore:: Undefined symbols for architecture armv7:"
Hi, I am trying to include AWSS3 and AWSCore into my project (iMessage extension project).
 I followed the instructions and used coco pods. The code builds fine and runs in my debug environment.

Steps to reproduce:

1. create an iMessage app with Xcode
2. add cocopod file that includes: AWSS3, AWSCore
3. make reference to the AWSS3 or simply
          #import <AWSS3/AWSS3.h>

build ... it works
W

[2018-07-15 13:42] cbommas commented on #989
@dawn360

This could be related to how the content-type is being passed in. In my testing, I was able to reproduce the signing error consistently when I set the contentType as a header key in addition to specifying it as a parameter in the uploadData call.

     uploadExpression.setValue("video/mp4", forRequestHeader:"content-type")

I did not have any issues with the other header keys. If you are

[2018-07-15 13:46] cbommas commented on #968
@sangios @MrLiuYunPing

Closing this issue as I haven't heard back. Please feel free to reopen if necessary.

[2018-07-15 13:46] #968 closed

[2018-07-15 13:48] cbommas commented on #972
@aat2703 @steelzeh

Closing this issue as we are tracking it in #965

[2018-07-15 13:48] #972 closed

[2018-07-15 15:06] cbommas commented on #489
Closing this issue as I haven't heard back. Also, we are tracking all TransferUtility pause/resume question is #769. Please feel free to reopen if you see fit.

[2018-07-15 15:06] #489 closed

[2018-07-15 15:08] cbommas commented on #755
Closing this thread as we are tracking TransferUtility pause/resume/completion handler restoration/status etc in #769

[2018-07-15 15:08] #755 closed

[2018-07-15 16:43] anmolmalhotra commented on #987
@cbommas Thanks for your help!! It worked perfectly and my app is already live in review! Thank you again. 👍

[2018-07-15 16:43] #987 closed

[2018-07-16 02:53] rickymohk opened #996 "Mapper appendSet save behaviour does not work with set in a map"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSDynamoDB

* In what version of SDK are you facing the problem?
2.6.10
* Is the issue limited to Simulators / Actual Devices?
no
* Can your problem be resolved if you bump to a higher version of SDK?
no

* Is this problem related to specific iOS version?
no
* How are you consum

[2018-07-16 05:44] cbommas commented on #980
@shashank-rps

I have tried to reproduce the error you are seeing, but haven't been able to. It is difficult to debug this without log information. Can you post the code where you are doing the transfer to see if that can shed some light on this issue?

[2018-07-16 06:00] cbommas commented on #965
@mattczech
Thank you for your analysis on why the extra connection attempt is happening. I agree with your hypothesis and applied the fix you suggested. It has made it more stable and so far in my testing I haven't seen the extra connect. I will continue to test - Also, I will get this included in the next rev of the SDK. Thank you for your help in making this library better! 👍

[2018-07-16 15:48] kicsipixel commented on #498
+1

[2018-07-16 23:36] kvasukib commented on #991
Thank you @ntewinkel for reporting to us. Sorry for the inconvenience caused. Currently, AWSMobileClient and AWS Auth SDK frameworks lack full bitcode support. We are looking into it.

[2018-07-17 02:06] #995 closed

[2018-07-17 14:46] nashfive opened #997 "How to setup an app with Cognito UserPools and calls to an authenticated API Gateway ?"
Hi,
I have trouble to figure out how to setup an iOS app that would use a Cognito User Pool to sign-up users and then make calls to an authenticated API Gateway ?
I tried to follow the AWS Mobile (via Mobile Hub) tutorials but it doesn't provide sample code to call an API Gateway. In the same manner, the Cognito documentation doesn't use AWSMobileClient nor provide a way to setup for calling API G

[2018-07-17 16:44] behrooziAWS commented on #997
Just confirming you want to use the user pool id/access token to call your api gateway methods and not sigv4 correct?

[2018-07-17 16:49] nashfive commented on #997
@behrooziAWS I think I need to use sigv4 because my API is configured to be private.
It has an Authorizer that uses a Cognito User Pool.

[2018-07-17 16:56] nashfive commented on #997
@behrooziAWS I can do a signup & a signin, but I can't find a way to setup a API Gateway client that uses the access token I received.
I am not using the AWSMobileClient generated by the MobileHub. I tried but ran into problems too so I decided to kind of build my own stack in order to understand what it does under the hood.

[2018-07-17 17:30] behrooziAWS commented on #997
It sounds like you don't want sigv4, because that would require another step to exchange the user pools token for aws credentials.  Follow the steps here: https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-use-sdk-ios-objc.html except instead of configuring the credentials provider:

[code]

Modify the generated client to set the "Authorization" header to the result of your user's

[2018-07-17 17:40] nashfive commented on #997
@behrooziAWS thanks for your help. I will try it.
In the meantime, how come the generated mobile hub client signs my API request calls with sigv4 ? Is it coming from the way my user pool/identity pool is configured or is it coming out of the box from the generated client ?

[2018-07-17 23:58] Abeansits commented on #993
Thanks for answering my question @minbi.
Yes that feature would be very useful so we could design our own UI. The hosted web UI in an in-app browser is a little janky.

[2018-07-18 01:52] rickymohk commented on #996
Here is the class of the object
[code]

Here is the testing function
[code]

After executing this function, the object stored in dynamodb ended up with
[code]

[2018-07-18 06:08] #945 closed

[2018-07-18 17:46] #957 closed

[2018-07-19 04:59] EthanLozano opened #998 "AWSCognitoAuth sign-out followed by sign-in broken - SFSafariViewController remains"
* What service are you using?
AWSCognitoAuth
* In what version of SDK are you facing the problem?
2.6.24
* Is the issue limited to Simulators / Actual Devices?
No
* Can your problem be resolved if you bump to a higher version of SDK?
No
* Is this problem related to specific iOS version?
No
* How are you consuming the SDK? CocoaPods / Carthage / Prebuilt frameworks?
CocoaPods
* Can you give us step

[2018-07-19 09:50] nilotic opened #999 "AWSCognitoIdentityUserPool isn't initialized"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
 AWSCognitoIdentityUserPool

* In what version of SDK are you facing the problem?
AWSCognito (2.6.25)
AWSCognitoAuth (2.6.25)
AWSCognitoIdentityProvider (2.6.25)
AWSCognitoIdentityProviderASF (1.0.1)
AWSCore (2.6.25)

* Is the issue limited to Simulators / Actual Devices?
Both

*

[2018-07-19 11:20] cbommas commented on #985
@trondkr

version 2.6.25 ( released on 7/18) has the bug fix. Can you upgrade to the latest and let us know how it goes?

[2018-07-19 13:22] cbommas commented on #965
The IoT client implements an exponential backoff strategy for connection retries. The initial value of the `reconnectTime` is set to `baseReconnectTimeInterval` set in the `MQTTConfiguration` object.

When the IoT client detects that it has lost the connection to the server, it will wait until the `reconnectTime` to try  to reconnect. If the reconnect is unsuccessful, it will double the `reconnect

[2018-07-19 13:51] karasahinemre commented on #965
In v2.6.25 we are seeing this log messages too.

ClockTick:64: nothing to republish

[2018-07-19 14:23] cbommas commented on #965
@karasahinemre

Looks like you've set the logs at the debug level. You can eliminate these log messages by setting the log level of info or higher. I will set these messages to verbose in a future release.

[2018-07-19 15:54] cbommas commented on #963
@mpirogov
Take a look at the testUploadAndDownloadData in AWSS3TransferUtilityTests.swift. This line https://github.com/aws/aws-sdk-ios/blob/34cb80c57f6b8b57bbbe92530c2aab999f9eba6f/AWSS3Tests/AWSS3TransferUtilityTests.swift#L119 shows an example of how to get and use the status.

[2018-07-19 16:49] mpirogov commented on #963
Thank you @cbommas
I implemented already.
I am still in investigating with users.
I will let you know soon.
Thanks again.

[2018-07-19 18:38] cbommas commented on #961
@0x5e
This is an item in our roadmap that I am hoping to get prioritized. I do not have a timeline that I can share at this point.

[2018-07-19 18:53] kvasukib commented on #999
Thank you @nilotic for reporting to us. Sorry for the inconvenience caused.

Can you post the complete stacktrace?

Also, can you post the code snippet of how do you create the UserPool object? There are two ways to create this:

1) [Method-1](https://github.com/aws/aws-sdk-ios/blob/master/AWSCognitoIdentityProvider/AWSCognitoIdentityUserPool.h#L62)

2) [Method-2](https://github.com/aws/aws-sdk-io

[2018-07-19 21:38] kvasukib commented on #998
Thank you @EthanLozano for the analysis. We are looking at the pull request submitted.

[2018-07-20 00:53] nilotic commented on #999
Hi @kvasukib.
I uploaded full project in https://github.com/nilotic/CognitoTest

You can check the problem
UserDataManager.swift > line 127( userPool.delegate = self )  > check the userPool memory address

<img width="2624" alt="screen shot 2018-07-20 at 9 44 13 am" src="https://user-images.githubusercontent.com/4756783/42977526-9fef89d2-8c02-11e8-86be-e14fb0fc1976.png">

Thank you  in advance for

[2018-07-20 01:14] nilotic commented on #999
Also, you can create a simple project and check the problem
1. Create new project
2. Install Pod
`platform :ios, '10.0'
use_frameworks!

# ignore all warnings from all pods
inhibit_all_warnings!

def pods
pod 'Fabric'
pod 'Crashlytics'
pod 'AWSCognito'
pod 'AWSCognitoAuth'
pod 'AWSCognitoIdentityProvider'
end

target 'CocoaTest' do
pods
end
`
3. Initialize the AWSCognitoIdentityUserPool

<img widt

[2018-07-20 07:54] nilotic commented on #999
I found the reason why the AWSCognitoIdentityUserPool isn't initialized

I think, before initializing the AWSCognitoIdentityUserPool
Configurations Must be registered (AWSServiceConfiguration, AWSCognitoIdentityUserPoolConfiguration)

Like this
` private lazy var userPool: AWSCognitoIdentityUserPool = {
        let serviceConfiguration = AWSServiceConfiguration(region: Cognito.userPoolRegion, cred

[2018-07-20 18:19] kvasukib commented on #999
Thank you @nilotic  for confirming. You can take a look at the tests here for reference: https://github.com/aws/aws-sdk-ios/blob/a78f49b076e306f2400478ded6002a4056db7f32/AWSCognitoIdentityProviderTests/AWSCognitoIdentityProviderTests.m#L166

[2018-07-20 21:25] #926 closed, assigned to nobody

[2018-07-23 06:37] #999 closed

[2018-07-23 08:42] lucianboboc opened #1001 "Error Code=-2000 "Loading page failed" is received after logout and login again with Google."
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSCognitoAuth and Google federated authentication

* In what version of SDK are you facing the problem?
iOS 11

* Is the issue limited to Simulators / Actual Devices?
no

* Can your problem be resolved if you bump to a higher version of SDK?
no

* Is this problem related to spec

[2018-07-23 11:04] steelzeh opened #1002 "IoT connection issues on packet loss."
* **What service are you using?**
IoT

* **In what version of SDK are you facing the problem?**
2.6.25

* **Is the issue limited to Simulators / Actual Devices?**
Only tested on actual device

* **Can your problem be resolved if you bump to a higher version of SDK?**
No

* **Is this problem related to specific iOS version?**
No

* **How are you consuming the SDK? CocoaPods / Carthage / Prebuilt fr

[2018-07-23 13:52] ksenia834 opened #1003 "AWSCognitoAuth SignIn error=Loading page failed"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSCognitoAuth with SAML Identity Provider (Azure AD)

* In what version of SDK are you facing the problem?
AWSCognitoAuth        - v.2.6.25
AWSUserPoolsSignIn - v.2.6.25
AWSAuthCore             - v.2.6.25

* Is the issue limited to Simulators / Actual Devices?
Issue is reproduci

[2018-07-23 14:11] pablogeek commented on #759
@cbommas Hey first of all, thats for release the new version including this improvement. Unfortunately this doesn't work for me. Again how I register a `AWSS3TransferUtility` :

[code]
`video?.uploadKey` is always the same in this case.

And then I do this:

[code]

[2018-07-23 15:57] cbommas commented on #1002
@steelzeh

Thank you for reporting this issue. I will investigate and get back to you.
Couple of questions
1) In the first case, where the connection error is being reported, are you seeing the connection being retried and established again?
2) Can you share what you have setup in the MQTT Configuration for  retry and keep alive.

[2018-07-23 16:42] kklobe opened #1004 "AWSUserPoolsSignUp shouldn't ask for confirmation code when using Verify Link"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Cognito User Pools built-in UI

* In what version of SDK are you facing the problem?
2.6.25

* Is the issue limited to Simulators / Actual Devices?
No

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

[2018-07-23 16:50] kklobe opened #1005 "AWSUserPoolsSignUp should be able to disable/remove optional fields"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Cognito User Pools built-in UI

* In what version of SDK are you facing the problem?
2.6.25

* Is the issue limited to Simulators / Actual Devices?
No

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

[2018-07-23 20:16] nashfive commented on #997
I managed to sign-in on an user pool without federated identities and by only using the AWSCognitoIdentityProvider SDK.
Thanks for your help!

[2018-07-23 20:16] #997 closed

[2018-07-24 12:41] aat2703 commented on #1002
@cbommas any news

[2018-07-24 14:32] cbommas commented on #1002
@steelzeh @aat2703

I am looking into this and if all works out, will target this to be included in the next rev of the SDK.
Will keep you guys posted.

[2018-07-24 14:32] cbommas commented on #963
@mpirogov Thanks!

[2018-07-24 14:49] mpirogov commented on #963
Hi @cbommas
I have investigated with users.
can not get this issue.
it is working now.
you can close my issue.
Thank you for your help.

[2018-07-24 15:31] cbommas commented on #963
@mpirogov

Great to hear! Please feel free to comment back here if the issue crops up again.

[2018-07-24 15:31] #963 closed

[2018-07-24 18:43] cbommas commented on #961
@0x5e
Update: This is currently in progress and I am targeting to include it in the next rev of the SDK.

[2018-07-24 19:00] cbommas commented on #965
@karasahinemre

The change to move the messages to verbose will be included in the next rev of the SDK.

[2018-07-25 03:41] 0x5e commented on #961
@cbommas Thanks!

[2018-07-25 07:21] steelzeh commented on #1002
Alright thank you @cbommas

[2018-07-25 09:47] pranavansp opened #1006 "AWS Rekongnition can't able to give correct similarity for Search-Face-By-Image Request using rotated face > 90'"
* What service are you using?
Rekongnition
* In what version of SDK are you facing the problem?
Rekongnition v 2.6.21
* Is the issue limited to Simulators / Actual Devices?
Actual Devices
* Can your problem be resolved if you bump to a higher version of SDK?
NO (Douments seems like not possible)
* Is this problem related to specific iOS version?
N/A
* How are you consuming the SDK? CocoaPods / Car

[2018-07-25 13:33] cbommas commented on #965
Closing this issue as we are tracking updates on #1002

[2018-07-25 13:33] #965 closed

[2018-07-25 19:33] minbi commented on #415
Please use TransferUtility from now on. Samples can be found [here](https://github.com/awslabs/aws-sdk-ios-samples/tree/master/S3TransferUtility-Sample)

[2018-07-25 19:49] cbommas commented on #443
@dimaborenko

Closing this as I haven't seen a response. Please feel free to re-open if you have questions.

[2018-07-25 19:49] #443 closed

[2018-07-27 05:12] cbommas commented on #759
@pablogeek
The latest rev of the SDK has the completion handler logic. Here is how you can invoke it

        //Create and register TransferUtility client.
        AWSS3TransferUtility.register(
            with: serviceConfiguration!,
            transferUtilityConfiguration: transferUtilityConfiguration,
            forKey: "S3TransferUtilityPauseResume-Sample"
            ) { (error) in

[2018-07-27 05:13] cbommas commented on #989
@dawn360
I will go ahead and close this as I haven't heard back from. Please feel free to reopen if the problem still persists.

[2018-07-27 05:13] #989 closed

[2018-07-27 05:14] cbommas commented on #985
@trondkr

I will go ahead and close this out as you may be all set. Please feel free to reopen if you are still facing issues.

[2018-07-27 05:14] #985 closed

[2018-07-27 05:16] cbommas commented on #769
@jeffjvick
The bug fixes are included in the latest rev as well as the completion handler code. See my post on the  https://github.com/aws/aws-sdk-ios/issues/759 thread to see how to setup the completion handler.

[2018-07-27 07:31] pablogeek commented on #759
@cbommas now it works! I get those tasks!
The only problem I see is I don't have this function you mentioned before
`task.setCompletionHandler(completionHandler!)`

[code]

[2018-07-27 07:43] pablogeek commented on #759
@cbommas okay I know what is going on. We use `transferUtility?.uploadUsingMultiPart` to start the upload, but once you restart the app and you try to get the pending uploads you get a `AWSS3TransferUtilityTask` instead of `AWSS3TransferUtilityMultiPartUploadTask`

[code]

[2018-07-27 08:13] pablogeek commented on #759
@cbommas Hey! now it works well. I get the pending upload when I restart the app. The only problem is resuming() is not working

[code]

when I do ` task.resume()` it doesn't start uploading again. It does nothing.

Thanks

[2018-07-27 08:23] pablogeek commented on #759
![screen shot 2018-07-27 at 10 20 28](https://user-images.githubusercontent.com/1773546/43310096-eff93bd8-9186-11e8-8ced-9d1b405e676e.png)

@cbommas Maybe this is a clue, I get the pending upload when I restart the app and the task status is `AWSS3TransferUtilityTransferStatusType.error`

[2018-07-27 10:23] path0509 opened #1008 "AWS Cognito Push, can't registerdevice."
-

[2018-07-27 13:35] cbommas commented on #759
@pablogeek

Good to hear that you are seeing the tasks as you expected upon App restart. Can you provide the error details? It should be available in task.error. This will help in debugging this further.

[2018-07-27 13:56] pablogeek commented on #759
@cbommas 'AWSS3TransferUtilityMultiPartUploadTask' has no member 'error'

[2018-07-27 14:16] cbommas commented on #759
ah.. I see that it hasn't been exposed as part of the public interface. Lets try one more tack and see if that works  - can you attach a completion handler to the task using the setCompletionHandler method? It should be called immediately with the error details and you can print the error details there.

[2018-07-27 14:19] pablogeek commented on #759
@cbommas

[code]

it does not call the `completionBlockUpload`

[2018-07-27 16:05] cbommas commented on #759
@pablogeek

Let me think through this and get back to you. The code for setCompletionHandler calls the passed in completion handler immediately if the status is Completed or Error and I need to dig in to understand if we are missing an edge case or nuance.

https://github.com/aws/aws-sdk-ios/blob/34cb80c57f6b8b57bbbe92530c2aab999f9eba6f/AWSS3/AWSS3TransferUtilityTasks.m#L278

Just to help debug th

[2018-07-27 16:23] pablogeek commented on #759
@cbommas

I did it this way

[code]

it still doesn't fire the completion block

[2018-07-27 16:24] #908 closed, assigned to scb01

[2018-07-28 15:43] pablogeek commented on #759
@cbommas Also another bug is when it resumes the upload `progress.totalUnitCount` is always 0, but `progress.completedUnitCount` is okay
[code]

[2018-07-28 18:12] #966 closed

[2018-07-30 00:49] shinhyo commented on #1008
https://medium.com/@thabodavidnyakalloklass/ios-push-with-amazons-aws-simple-notifications-service-sns-and-swift-made-easy-51d6c79bc206

[2018-07-30 03:06] daviskoh opened #1009 "AWS STS assumeRole mock response?"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

STS

* In what version of SDK are you facing the problem?

latest

* Is the issue limited to Simulators / Actual Devices?

No

* Can your problem be resolved if you bump to a higher version of SDK?

No

* Is this problem related to specific iOS version?

No

* How are you consum

[2018-07-30 07:55] jaxondu commented on #993
+ 1 Much needed feature.

[2018-07-30 17:45] #880 closed

[2018-08-01 20:57] daviskoh commented on #950
unbelievable...

[2018-08-02 05:16] cbommas commented on #980
@shashank-rps

Closing this out as I haven't heard back. Hopefully this means that you have been able to resolve your problem. Please feel free to reopen this thread if you are still facing issues.

[2018-08-02 05:16] #980 closed

[2018-08-02 05:42] pablogeek commented on #759
@cbommas thanks for the update.
It doesnt start resuming if I’m in debug mode. In normal mode it resumes. I don’t mean the callback, I mean the whole functionality of resuming

[2018-08-02 09:18] EunjeYu commented on #581
Hello, I have same problem.. I want to access to my S3 bucket, but i can't..
How can i handle this problem..?

[2018-08-02 15:23] minbi commented on #581
Please open an issue with more details here https://github.com/aws/aws-sdk-net
Closed issues are not actively monitored.

[2018-08-03 14:57] cbommas commented on #961
@0x5e
The latest rev (2.6.26) contains the refactored code that addresses the namespace conflict. Please give it a try and let us know how it goes.

[2018-08-03 14:59] cbommas commented on #1002
@steelzeh, @aat2703

The latest rev of the SDK (2.6.26) contains this fix. Please try it out and let us know how it goes.

[2018-08-03 15:01] cbommas commented on #759
@pablogeek
The latest rev of the SDK (2.6.26) contains the fix for the `progress.totalUnitCount` issue. Please try this out and let us know how it goes.

I will continue to look into the callback issue.

[2018-08-03 15:02] cbommas commented on #769
@jeffjvick
Just checking back to see if the fixes helped in resolving the issues you were encountering

[2018-08-03 15:22] pablogeek commented on #759
@cbommas Thanks! it works really good now! it is not a callback issue, basically if you run from debug mode (running the app from xcode) it won't resume, it will just start from 0% again.

[2018-08-03 15:56] cbommas commented on #759
@pablogeek
Oh, good to hear! The reason why it sometimes starts from 0% is that the server will reject a resume on a paused transfer request depending on timing. I have empirically observed that if the transfer is resumed after 20-30s, it will start again from 0%.

When you are in debug mode, it is likely that enough time has elapsed between the pause and resume. I'll go ahead and close out this t

[2018-08-03 19:16] daviskoh commented on #1009
@desokroshan Are there any updates on this? I feel like issues here are often marked as stale by bots due to inactivity from maintainers.

[2018-08-03 21:40] EthanLozano commented on #998
Are there any updates here? My app periodically crashes after signing out, and I'm pretty sure the crashes are related to this issue since the user's sign-out block is called when the safari VC is still presented modally:
[code]

[2018-08-04 11:30] steelzeh commented on #1002
@cbommas we were running our own forked version as we didn't want to wait 10 days for the update to be rolled out.

But it seems to have fixed our issues.

[2018-08-04 13:29] cbommas commented on #1002
@steelzeh

Thank you for confirming. I will go ahead and close this issue. Please reopen if you encounter further issues.

[2018-08-04 13:29] #1002 closed

[2018-08-04 23:43] jeffjvick commented on #769
@cbommas
I was able to try out the new version. I only see one task now instead of 5 so that appears to be fixed.  Adding a completion handler onto the resumed task also works fine.  There seems to be an issue with the progress block though as `progress.fractionCompleted` is always 1.0. Do you have an idea of why this may be occurring?

[2018-08-05 21:55] muellerfr commented on #975
Hello @Dellybro,

I have added this as a feature request in our backlog and have submitted it to the team for prioritization. I do not have specific timeline that I can share at this point. We will let you know, either on this thread, or through a forum announcement when the feature is released in the SDK.

[2018-08-06 07:38] jeffjvick commented on #769
@cbommas
It was only happening for resumes after app restart.  I just tried the new 2.6.26 and it works fine.  It looks like 2.6.25 has this fractionCompleted issue.  Something must have been changed/fixed in 26.

I'm noticing another issue now.  Do we still need to call `AWSS3TransferUtility.interceptApplication(application, handleEventsForBackgroundURLSession: identifier, completionHandler: comp

[2018-08-06 21:02] jeffjvick commented on #759
@cbommas

I'm seeing now where some previously suspended tasks resume uploading and others don't (just stuck at 0%).  This is even with making sure to try to resume within 20s.  Note, the ones that don't resume don't start over, they just don't resume at all.

Also, I don't understand what you mean by the server is rejecting resumes if a task has been paused for more than 20-30s?  What is the poin

[2018-08-06 23:15] moisesrojasGL commented on #1003
Hi @ksenia834 any luck on this? I have the same issue.

[2018-08-07 16:10] rtiwarihr opened #1011 "Not able to register device for Push sync"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS Congnito User pool

* In what version of SDK are you facing the problem?
    pod 'AWSSNS'
    pod 'AWSCognito'
    pod 'AWSCore'

* Is the issue limited to Simulators / Actual Devices?
Actual Device

* Can your problem be resolved if you bump to a higher version of SDK?
Not s

[2018-08-07 18:19] rohandubal commented on #1011
Hello @rtiwarihr

I see that you are calling `registerDevice` immediately after `getIdentityId`. I think it should be called in the completion handler of `getIdentityId`.

Also, if you are just starting to write your app, I would suggest you to use AppSync instead for data synchronization. About AppSync:

Hope this helps,
Rohan

[2018-08-07 22:44] minbi commented on #950
Hi @daviskoh ,

Sorry for the delayed response. The guidance for this use-case is that when a user forgets their password and the developer wants to allow the user to self-serve through forgot password flow, they should already have a verified email address. This means that email should be required during sign-up or shortly after the sign-in to allow the user to use forgot password flow. Otherwise

[2018-08-08 02:56] #974 closed

[2018-08-08 11:49] pothunoorisk commented on #1001
@lucianboboc  same issue. Were you able to resolve this?

[2018-08-08 12:35] rtiwarihr commented on #1011
[code]
This fails when I logout and then login again. It says could not connect to hostname for **registerdevice** event

On logout I do the following,

[code]

The main issue which I suspect is with the Keychain. Its picks the older users credentials and hence fails to register device and subscribe to events. What is the better approach to handle logins of different users

[2018-08-08 18:28] fs-bonlook opened #1012 "Secrets Manager Service"
I am trying to integrate Amazon Secrets Manager Service (without Cognito), in Swift.
My amazon account is set with all requirements. I am able to see my secrets keys in my amazon console.
But I am not able to find any doc about integration of this service in a Swift project. And I can't find any pod about secrets manager in this repository.
What is the pod required for Amazon Secrets Manager Servi

[2018-08-08 23:46] moisesrojasGL commented on #1003
Hi @ksenia834 I think the best solution is to implement `ASWebAuthenticationSession` in some sort of Swift Extension (or in a fork/branch from this SDK) since this is the right way to load web pages to handle one-time login (at least when using Google Sign-in, my case). I hope this be fixed by the AWS guys soon. Please see [this](https://developer.apple.com/documentation/authenticationservices/asw

[2018-08-09 02:14] rohandubal commented on #1012
Hello @fs-bonlook

We currently do not support an SDK for Secrets Manager Service. I have added this as a feature request in our backlog and have submitted it to the team for prioritization. I do not have specific timeline that I can share at this point. We will let you know, either on this thread, or through a forum announcement when the feature is released in the SDK.

Thanks,
Rohan

[2018-08-09 02:39] rohandubal commented on #1011
I think to handle logins of different users, you should ensure you clear the keychain and credentials before logging any user in. Doing that will make sure you have empty keychain.

An important part to note is that you will have to clear multiple keychains. One is of user pools which you are doing. Other is of Cognito Identity (Cognito Credentials Provider.)

Clearing both should give you a good

[2018-08-09 10:16] ShadyBoukhary opened #1014 "AWSCognitoIdentityProvider is not clearing IdentityId when clearKeychain() is invoked. When a new user signs in after the previous one signed out, the previous IdentityId is used."
The IdentityId is not cleared even when clearKeyChain() is called upon signout. I checked the actual method implementation and I found out that it only clears the IdentityId property, but not the one in keyChain. I tried to edit the SDK myself to delete the IdentityId from KeyChain when clearKeyChain() is called. This successfully deletes the IdentityId. When the user signs in again, the old Ident

[2018-08-09 12:11] simeondrage commented on #759
I agree with this.

[2018-08-09 14:19] pablogeek opened #1015 "Resuming multiple times finishes the upload before it has been completed."
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWS S3
* In what version of SDK are you facing the problem?
2.6.26
* Is the issue limited to Simulators / Actual Devices?
All devices
* Can your problem be resolved if you bump to a higher version of SDK?
No, this is the latest one
* Is this problem related to specific iOS versio

[2018-08-09 15:56] cbommas commented on #769
@jeffjvick
You don't need to call the interceptApplication call. With the recent changes in the TransferUtility, I have put in some measures to ensure that the completion handler is fired when the transfer reaches an end state (i.e., completed successfully or ended up in an error)

[2018-08-09 16:12] cbommas commented on #759
@jeffjvick, @simeondrage

For non multipart uploads, I have observed that if you have a delay between pause and resume, the server rejects the request with a `400 Bad Request Request Timeout` error.  While I haven't seen any formal documentation about when this happens, I have seen it to occur after 20 to 30 seconds have elapsed. To account for this, there is logic to retry this transfer ( up to t

[2018-08-09 16:14] cbommas commented on #1015
@pablogeek
I will look into this and get back to you

[2018-08-09 16:41] Yaswanth-C commented on #793
HI @alionthego  Thanks for your workaround solution , did you checked with AWS cognito team for any alternate ?

[2018-08-09 18:39] fs-bonlook commented on #1012
Hi @rohandubal  ,

thank you for your answer.
Maybe I will try to use APIGateway to connect ASM service...

👍

[2018-08-10 07:25] rohandubal commented on #1012
Yes, that can be one of the approach you take.

[2018-08-10 07:25] #1012 closed

[2018-08-10 16:52] ankitnaugariya commented on #950
As of now, Cognito allows sending codes for forgot password only to verified email / phone. If these are not verified, the codes are not sent. This seemed to have been done for security reasons.
As @minbi mentioned, developers can ask users to confirm their email / phone after signup.
Another way to implement forgot password flow for the users is to call AdminUpdateUserAttribute to mark phone / em

[2018-08-10 18:25] rohandubal commented on #1014
Hello @ShadyBoukhary

Sorry that you are having trouble using the SDK. The IdentityId once assigned to a user is always the same and does not change. So, if another user signs in, even if we use the old identity id with the new token, it should return a different identity id from the service.

One possible thing is that the token is stored/ cached in the client too and is not cleared. So if the sa

[2018-08-10 18:38] jeffjvick commented on #769
@cbommas

Okay that seems to align with what I’m seeing.  You should probably update the documents about this and the many other things that have changed (like not needing to enumerate, etc)

I’m still having issues though where the completion handler does always fire when the upload finishes in the background. It seems to happen only when the debugger is not attached which makes debugging it diff

[2018-08-12 19:49] Aviru commented on #728
I am receiving error while uploading multipart data in chunks in S3 bucket using presigned url in Swift. **My code is** : -
[code]
**The error is**: -

[code]
Please help. I have tried different options, but none worked.

[2018-08-12 19:55] Aviru opened #1016 "Presigned Url multipart part upload always returns 403"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSS3

* In what version of SDK are you facing the problem?
AWSS3 (2.6.26)

* Is the issue limited to Simulators / Actual Devices?
Both Simulators and Actual Devices

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific

[2018-08-13 00:04] rohandubal commented on #1011
No, you should not have to perform userPoolConfiguration on every login. The only good practice to follow would be to clear all keychains before every login, even if using the same client/ configuration.

[2018-08-13 03:13] mnovati opened #1017 "CognitoAuth Refresh Token 5 minute refresh window is too small"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSCognitoAuth

* In what version of SDK are you facing the problem?
master and all previous

* Is the issue limited to Simulators / Actual Devices?
all devices

* Can your problem be resolved if you bump to a higher version of SDK?
no

* Is this problem related to specific iOS v

[2018-08-13 06:35] ShadyBoukhary commented on #1014
Hello @rohandubal,
Yes, I am using Cognito Credentials Provider. Please note that I am clearing the token and the identity Id from KeyChain once the user signs out. The only time i get the old Identity Id is when I invoke an API, which automatically tries to retrieve the Identity Id. However, If I call ```credentialsProvider.IdentityId``` manually, It returns the correct one. Here is the code for

[2018-08-13 06:53] ShadyBoukhary commented on #1015
I've had the same issue with the transfer ulitilty. I solved it by manually handling it.

[2018-08-13 07:35] pablogeek commented on #1015
@ShadyBoukhary Manually handling it, you mean? AWSManager?

[2018-08-13 18:17] rtiwarihr opened #1018 "Push not received when App is disconnected from Xcode"
### To help us solve your problem better, please answer the following list of questions.

What service are you using?
AWS Congnito User pool

In what version of SDK are you facing the problem?
pod 'AWSSNS'
pod 'AWSCognito'
pod 'AWSCore'

Is the issue limited to Simulators / Actual Devices?
Actual Device

Can your problem be resolved if you bump to a higher version of SDK?
Not sure

Is this problem

[2018-08-13 18:50] doctorcolinsmith commented on #974
Is there any way to get this re-opened?  This bug is still a problem for our app.

[2018-08-13 19:45] Dellybro opened #1019 "Explicit Sign up / Sign in causes APIClient to misfire"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

AWSMobileHub CogntioIdentityPool stack

* In what version of SDK are you facing the problem?

2.6.22

* Is the issue limited to Simulators / Actual Devices?

No

* Can your problem be resolved if you bump to a higher version of SDK?

No, I just tried that

* Is this problem rela

[2018-08-13 21:17] ShadyBoukhary commented on #1015
@pablogeek I kept a list of unuploaded files in UserDefaults. Then at app launch, I check for them and I reupload the ones that had not finished uploading. Resuming multiple times was unreliable for me so if upload failed, I don't rely on the transfer utility to resume, I just reupload. It's just a workaround. But like a huge portion of the AWS SDK, it's the only solution I found.

[2018-08-13 21:39] sunchunqiang commented on #1018
Hello @rtiwarihr

Can you provide some code snippet so that we can try to reproduce the issue?  Please also provide more detail  about your development environment.

Thanks!

[2018-08-13 22:59] sunchunqiang commented on #1017
Hello @mnovati

If the current access token expires in more than 5 minutes, we will refresh it using the refresh token in
https://github.com/aws/aws-sdk-ios/blob/master/AWSCognitoAuth/AWSCognitoAuth.m#L289

[2018-08-13 23:07] mnovati commented on #1017
https://github.com/aws/aws-sdk-ios/blob/master/AWSCognitoAuth/AWSCognitoAuth.m#L281 shows that if the token expires in more than 5 minutes, it is returned as is and not refreshed. So it's only refreshed if it expires in less than 5 minutes which is a tiny window of time.

[2018-08-13 23:09] sunchunqiang commented on #1019
Hello @Dellybro

What do you mean for "on a RARE occasion"? Do you mean the error is not hit for a same code?

Can you provide some code snippet you are using, so that we can try to reproduce the issue?

[2018-08-13 23:13] mnovati commented on #1017
practically speaking, I can also say that all users in our application (which uses this API exclusively for cognito) had to re-login after 30 days because the tokens weren't refreshed automatically.

[2018-08-13 23:18] Dellybro commented on #1019
[code]

Ye the error is not hit for the same code.

It's like first install on a phone, I get the error that I need some sort of, "Either startCustomAuthentication or startPasswordAuthentication must be implemented...", and this is because during the signup process we send a network request using the APIClient without a logged in user, but the route isn't protected etc etc.

The error ONLY goes aw

[2018-08-13 23:31] rohandubal commented on #1016
Hello,

Could you please explain the use-case of why you want to do the multipart upload manually?

We currently have in-built support for this `S3TransferUtility` and you can use the multipart upload API to achieve this.

The reason you are getting 403 is that the presigned URL is for `put` operation and not multi part upload operation.

Thanks,
Rohan

[2018-08-14 01:17] sunchunqiang commented on #1017
The cod in https://github.com/aws/aws-sdk-ios/blob/master/AWSCognitoAuth/AWSCognitoAuth.m#L281  is to automatically refresh your ID and access tokens if there is a valid (non-expired) refresh token present, and the ID and access tokens have a minimum remaining validity of 5 minutes. If the refresh token is expired, your app user must reauthenticate by signing in again to your user pool.  By defaul

[2018-08-14 01:34] mnovati commented on #1017
In case anyone else reads this in the future looking for help, I'll add more details for the archive.

So the access tokens live very short lives (in minutes). They might be passed around to different services to pass around a user's identity, so if they are leaked, stolen, cached, they will expire so quickly that they become useless.

The refresh token is meant to be stored in one place and never

[2018-08-14 05:27] CSabari commented on #444
@msencenb : Try like this `let percentageUploaded:Float = Float(progress.fractionCompleted) * 100`

[2018-08-14 06:18] sv9988 commented on #498
+1

[2018-08-14 09:50] Aviru commented on #1016
Hi,
Thanks for your response. In documentation it has been stated that:-

[S3TransferUtility](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html)

I am using PUT operation for upload.

[code]

[2018-08-14 10:46] simeondrage commented on #759
@jeffjvick I've tried to replicate the issue and haven't been able to
I hard quit the app about 4 times, then hard reset the device, throttled the bandwidth to 500mbps then quit the app for 15 minutes. After each test the file kept uploading.
Did you get any further finding reproduction steps?

I have encountered this issue however: https://github.com/aws/aws-sdk-ios/issues/1015

[2018-08-14 19:30] 24601 commented on #984
I'm afraid the bot is going to close this without resolution, it's already labled wontfix, can we get a rulin on if this will be fixed?

[2018-08-15 02:09] gaborcsontos opened #1020 "AWS Pool singIn error"
Hey guys,

I am facing with an interesting error, and I already spent a couple of hours trying to solve it.

First, I tried to implement the signIn method with the
[code]
but the didCompleteStepWithError(_ error: Error?) function is never called, no matter how I delegated the pool and where(AppDelegate).

I also tried  this code:
[code]
The interesting thing with it, that when I enter an unregiste

[2018-08-15 07:28] #983 closed

[2018-08-15 07:28] #982 closed

[2018-08-15 11:13] Aviru commented on #1016
@rohandubal , any solution please?

[2018-08-15 17:34] kidcosmic commented on #975
@muellerfr do you have any suggestions for different build environments until then? We'd like to be able to have an awsconfiguration.json and an awsconfiguration-staging.json

[2018-08-15 18:59] Pinturaj commented on #424
Nothing in the post.

[2018-08-15 20:32] ntewinkel commented on #991
Hi @kvasukib, it looks like this has been fixed in 2.6.26 - Thank you!
(I'll let you close, in case there's more details you need to track)

[2018-08-15 22:08] kvasukib commented on #991
Closing this for now. Please feel free to re-open the issue if it persists.

[2018-08-15 22:08] #991 closed

[2018-08-16 00:33] jeffjvick commented on #759
@simeondrage
Are you calling `.suspend()` on each `AWSS3TransferUtilityMultiPartUploadTask` in `applicationWillTerminate`?  This is what I was doing as I was under the impression we were required to do this ourselves as per: https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html#native-background-transfers.

I tested out not doing that and now

[2018-08-16 01:16] #1008 closed

[2018-08-16 07:28] simeondrage commented on #759
@jeffjvick I spoke to @pablogeek who is our developer. He says "we are not calling suspend(), the AWS manual says, you should call suspend when you want to pause an upload when you go to background for example"

Hope that helps

[2018-08-16 08:17] jeffjvick commented on #759
@simeondrage @pablogeek

I told @cbommas back in June 12 that I was suspending all running tasks in `appWillTerminate` as per here: https://github.com/aws/aws-sdk-ios/issues/769#issuecomment-404652481 and he later wrote `In any case, your strategy of suspending all transfers when applicationWillTerminate will enable you to fully control this as you see fit.`. I took this to mean I was supposed to

[2018-08-16 19:52] cbommas commented on #961
@0x5e

I am going to go ahead and close out this thread as I haven't heard back. Please feel free to reach back if you run into issues.

[2018-08-16 19:52] #961 closed

[2018-08-16 20:13] pedromcunha opened #1021 "Memory Leak inside AWSURLSessionManager URLSession delegate"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSCore, AWSS3, AWSKinesis

* In what version of SDK are you facing the problem?
2.6.26

* Is the issue limited to Simulators / Actual Devices?
Actual Devices

* Can your problem be resolved if you bump to a higher version of SDK?
No, as far as I know.

* Is this problem related

[2018-08-16 21:14] cbommas commented on #759
@jeffjvick

Apologies if my earlier comment caused confusion. I was responding to your point  _"Honestly though I'm considering not using this since if a user force quits the app or powers off their phone while uploading they shouldn't really expect it to continue where they left off and as long as I'm not a memory hog I shouldn't get terminated while in the background"_  My intent was to say that

[2018-08-16 21:25] ntewinkel commented on #991
Hi @kvasukib, can we re-open this case?

It looks like the frameworks are now built with bitcode, which is a step in the right direction, and allows archiving, but they were built with bitcode that does not apply to iPhones and iPads, which means I cannot submit the binary to Apple for TestFlight or release.
A simple test for this is to archive the project as I described in the original post, and

[2018-08-16 22:26] #962 closed

[2018-08-17 06:54] jeffjvick commented on #759
@cbommas

No problem.  I think the main thing is it's hard to know / keep track of what we need to do vs what the SDK does for us, especially since the changes are not being documented and the examples are not updated.

There definitely were issues caused by me pausing tasks in `applicationWillTerminate`.  It would often result in me not being able to resume them when the app restarted.  I'm not g

[2018-08-17 07:33] jeffjvick commented on #769
@cbommas

I'm still having an issues where background multipart uploading is not working when I'm NOT connected to the debugger and the upload time is longer than ~1 min.  I think I'm not seeing it when the debugger is attached because the debugger never lets the app actually suspend: https://forums.developer.apple.com/message/42353#42353

I'm starting to think I never tested background uploading

[2018-08-17 08:10] rtiwarihr opened #1022 "Can push sync be ignored for the device from where it is triggered ?"
What service are you using?
AWS Congnito User pool

In what version of SDK are you facing the problem?
pod 'AWSSNS'
pod 'AWSCognito'
pod 'AWSCore'

Is the issue limited to Simulators / Actual Devices?
Actual Device

Can your problem be resolved if you bump to a higher version of SDK?
Not sure

Is this problem related to specific iOS version?
No

How are you consuming the SDK? CocoaPods / Carthage

[2018-08-17 10:15] dluquedavid commented on #1003
I have the same problem only in iOS 10.

[2018-08-17 16:50] cbommas commented on #759
@jeffjvick

Sounds good. I will loop back on this thread once the doc updates have been made and the bug has been fixed.

[2018-08-17 19:26] Aviru commented on #1016
I have also tried using Alamofire multipart stream upload. But no luck. So, any help would be very much helpful.

[2018-08-18 01:33] jeffjvick opened #1023 "AWSS3TranferUtility not calling completionHandler in background on large multipart uploads when not connected to debugger"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSS3TransferUtility iOS
* In what version of SDK are you facing the problem?
2.6.26
* Is the issue limited to Simulators / Actual Devices?
Actual device
* Can your problem be resolved if you bump to a higher version of SDK?
N/A
* Is this problem related to specific iOS version?

[2018-08-20 13:51] savage7 opened #1024 "Crash: [AWSTaskCompletionSource setResult:] (AWSTaskCompletionSource.m:46)"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Cognito

* In what version of SDK are you facing the problem?
2.6.11, updated to 2.6.27. Problem still exists

* Is the issue limited to Simulators / Actual Devices?
Actual Devices. Very hard to reproduce.

* Can your problem be resolved if you bump to a higher version of SDK?
No

[2018-08-21 05:26] vqchau commented on #481
If anyone is looking for a basic credential provider then check out AWSStaticCredentialsProvider

[2018-08-21 11:32] croesus opened #1025 "Crash: -[AWSURLSessionManager URLSession:dataTask:didReceiveData:]"
We've seen one instance of this crash in the wild and haven't managed to reproduce it ourselves.

iOS 11.4.0
iPhone 8 Plus
2% RAM free
18% disk free

Apparently the `Resource temporarily unavailable` exception can be thrown if there is an underlying OS operation that temporarily locks the drive, so it's pretty hard to replicate.

I guess the solution would be to add `@try/@catch` to line 501, and

[2018-08-21 19:34] mcclen commented on #738
I believe I'm seeing something similar with API Gateway and its use of Mantle and also seems similar to this report: https://github.com/aws/aws-sdk-ios/issues/1021#issue-351351734.

here's my screen shot:

<img width="1388" alt="malloc" src="https://user-images.githubusercontent.com/260959/44424606-78eaa880-a53e-11e8-8cfc-ee544f3f93cd.png">

[2018-08-22 05:00] armadsen commented on #498
Add me to the list asking for macOS support.

[2018-08-22 15:55] cbommas commented on #1016
@Aviru

You should be able to control the expiry limit in the Transfer Utility using the `timeoutIntervalForResource` (see code snippet below).
     let serviceConfiguration = AWSServiceManager.default().defaultServiceConfiguration
     let transferUtilityConfiguration = AWSS3TransferUtilityConfiguration()
     //Set the timeoutIntervalForResource parameter (in seconds)
     transferUtilityConfigu

[2018-08-22 16:51] cbommas commented on #1016
@Aviru
I concur with @rohandubal that you should be using the TransferUtility instead of rolling your own implementation.

That said, looking at your code, one thing that jumped out at me was that you are setting the x-amz-acl in the request to upload the part. That header is not allowed for a part ( See https://docs.aws.amazon.com/AmazonS3/latest/API/mpUploadUploadPart.html for a list of all allo

[2018-08-22 18:26] Aviru commented on #1016
@cbommas  Thanks for your response.
You said

But I didn't undersatand what is wrong with my approach. As because AWSTransferUtility doesn't support transfers that take longer than 50 minutes. So, I am using this.

[2018-08-22 18:48] dwsolberg commented on #1014
I'm having what seems to be a related issue where AWSCognitoAuth returns old information:

Here are the steps:
1. I use `cognitoAuth.signOutLocallyAndClearLastKnownUser()` to logout while offline.
2. When back online, I call: `cognitoAuth.getSession(viewController, completion: completion)` Immediately after the page loads in SFSafariViewController, I get an error in the completion closure: 'AWSCog

[2018-08-22 19:39] cbommas commented on #1016
@Aviru

I don't think that there is anything wrong with your approach, it is just a suggestion as the TransferUtility should make it easier for you to do mulitpart uploads.

Regarding the 50 minute limitation, see my earlier post on how you can get around that.

[2018-08-23 10:40] dluquedavid commented on #857
problem only happen when yo set "identity_provider=google", the redirect fail.
We fixed it with @kainoffke solution.

[2018-08-24 12:40] SoftMaker commented on #993
Hello,

is there a way to create user in User Pool with auth token from Google without hosted UI?
For example manually calling https://example.auth.region.amazoncognito.com/ endpoints?

And by the way how it is going with topic's feature development?

[2018-08-24 16:02] chapinmark opened #1026 "Get claims should have a return type of NSDictionary * AWSCognitoIdentityUser"
Retrieving claims in swift causes a EXC_BREAKPOINT exception.  The json generated dictionary can have arrays, etc in the values.  Swift crashes because the return type is NSDictionary<NSString *, NSString *>.  Changing the return type to NSDictionary * or NSDictionary <NSSTing *, NSObject *> fixes the problem.

AWSCognitoAuth has this defined as NSDictionary *

https://github.com/aws/aws-sdk-ios/b

[2018-08-27 13:03] cbommas commented on #1024
@savage7

This looks like a timing issue. The crash is happening because of a safegaurd on AWSTaskCompletionSource that prevents a result being set on it after the Task has been flagged as completed.

Can you share a code snippet to help debug this further?

[2018-08-27 18:56] sfisherjr opened #1027 "Error Domain=com.amazonaws.AWSS3TransferUtilityErrorDomain Code=4"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?

AWS IOS SDK (AWSS3TransferUtility)

* In what version of SDK are you facing the problem?

v2.6.27

* Is the issue limited to Simulators / Actual Devices?

Both

* Can your problem be resolved if you bump to a higher version of SDK?

No

* Is this problem related to specific iOS

[2018-08-27 19:53] cbommas commented on #1027
@sfisherjr

An error code of 4 maps to `AWSS3TransferUtilityErrorLocalFileNotFound`. Can you double check the value for `fileLocation` to see if has been set correctly to the file that you are trying to upload

[2018-08-27 20:08] sfisherjr commented on #1027
Awesome, thanks for the help.

Looks like URL.absoluteString and passing that then converting to URL was the cause.

[2018-08-27 20:08] #1027 closed

[2018-08-27 20:56] kvasukib commented on #1026
@chapinmark Sorry for the inconvenience caused. Can you post the exception message and stack trace following the crash?

[2018-08-27 20:57] ETGgames commented on #745
My awsconfiguration.json file has like no data and looks like this:

`{
  "UserAgent": "MobileHub/1.0",
  "Version": "1.0",
  "CredentialsProvider": {
    "CognitoIdentity": {
      "Default": {
        "PoolId": "eu-west-1:3f7e0e1d-568e-48ad-a255-ae4480b809eb",
        "Region": "eu-west-1"
      }
    }
  },
  "IdentityManager": {
    "Default": {}
  },
  "PinpointAnalytics": {
    "Default": {

[2018-08-28 18:49] cbommas commented on #1016
@Aviru

Looks like your problem has been resolved as I haven't heard back. I will go ahead and close out this issue. Please feel free to reopen if you are running into further issues.

[2018-08-28 18:49] #1016 closed

[2018-08-28 22:13] kvasukib commented on #1022
@rtiwarihr Thank you for reporting to us. Sorry for the inconvenience caused. Can you elaborate on what you mean by "push sync"?

[2018-08-29 09:29] AShandrakov opened #1028 "AWSIoTMQTTClient creates a lot of new threads during webSocketDidOpen."
**Environment:**
iOS: 11.4.1
iPhone 6s
Amazon IoT version: 2.6.19

**Trace:**
[code]

[2018-08-29 10:57] Hardy143 opened #1029 "No error message with Transfer Utility when no network connection- iOS Swift"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
S3 Transfer Utility
* In what version of SDK are you facing the problem?
2.6.13
* Is the issue limited to Simulators / Actual Devices?
I'm running on an iPhone 6s
* Can your problem be resolved if you bump to a higher version of SDK?
Don't know
* Is this problem related to specif

[2018-08-29 16:28] kvasukib commented on #1028
@AShandrakov Sorry for the inconvenience caused. Can you upgrade to the latest AWS SDK for iOS - 2.6.27 and see if you are getting this crash? We have fixed some bugs in the latest releases.
Also, can you share a code snippet from your app?

[2018-08-29 17:44] christiancompton opened #1030 "Migrate SDK to Swift"
* What service are you using?
S3

I'm trying to add object storage to my Swift application running on EC2 https://aws.amazon.com/quickstart/architecture/swift/

This SDK does not work with my server side project.  Are there plans to offer this library in Swift as opposed to Objective-C?

[2018-08-29 17:55] #1004 closed

[2018-08-29 17:55] #1005 closed

[2018-08-29 18:41] kvasukib commented on #1005
@kklobe Sorry for the delayed response. I will take this as a feature request to the team. For complete control and customization of the SignIn, you can build your UI on top of the AWS Cognito UserPools SignIn SDK. https://docs.aws.amazon.com/cognito/latest/developerguide/walkthrough-using-the-ios-sdk.html

[2018-08-30 01:38] kvasukib commented on #993
@SoftMaker Sorry! we have this feature only with HostedUI.

[2018-08-30 06:54] pablogeek commented on #1023
@jeffjvick I haven't had this, in my case it wasn't resuming at all if I'm running the app from xcode (debugging). So it is weird what they are doing here. First time I see different behaviour when debugging.

[2018-08-30 11:27] #1028 closed

[2018-08-30 15:07] chapinmark commented on #1026
I'm new to xcode/ios dev so I hope this is what you are looking for.  If not, let me know.

I had to change the function return type in the AWSCognitoIdentityUser.h as well (but that probably goes without saying ;)

Specifically, I'm trying to find the group a user is assigned to.  The claims "cognito:groups" key returns a json array of groups.  This crashes when bringing it back to swift since it

[2018-08-30 16:47] cbommas commented on #1025
@croesus
We are targeting a fix for this problem in the next rev of the SDK. I will loop back on this thread once I have confirmation and that the release is out.

The approach we have taken here is to add a `@try/@catch` and propogate the error back to the caller as an `NSError`.

[2018-08-30 16:49] cbommas commented on #1015
@pablogeek
I am targeting the fix for this issue in the next rev of the SDK. Will loop back on this thread once the release is out.

[2018-08-30 16:58] pablogeek commented on #1015
@cbommas Sounds great thanks!!!!

[2018-08-30 17:03] EthanLozano commented on #998
ping

[2018-08-31 01:07] kvasukib commented on #1025
The issue has been fixed in 2.6.28. Can you upgrade to the latest version and check if it fixes the issue? Thanks

[2018-08-31 01:07] kvasukib commented on #1015
The issue has been fixed in 2.6.28. Can you upgrade to the latest version and check if it fixes the issue? Thanks

[2018-08-31 12:33] Sreekanth1234 commented on #691
@minbi anyone have for **Cognito user pools**  with Lex Integration? .. If u have code please send me or Link..
Thanks in advance.

[2018-08-31 16:15] simeondrage commented on #1015
tested it. seemed fixed to me. we are going to release our app with the new SDK :)

[2018-08-31 18:55] ntewinkel opened #1031 "Frameworks are built with non-iOS architectures"
The SDK is being built with i386 and x86_64 architectures which are MacOS, not iOS:

See file:
https://github.com/aws/aws-sdk-ios/blob/master/AWSiOSSDKv2.xcodeproj/project.pbxproj
Search for "VALID_ARCHS" and you'll see:
VALID_ARCHS = "arm64 armv7 armv7s i386 x86_64";

This is an issue when we go to submit or validate a release to Apple.
From the Organizer, either "Upload to App Store..." or "Vali

[2018-08-31 21:34] jeffjvick commented on #769
@cbommas

Since you are using `URLSession` I was under the impression that `urlSessionDidFinishEvents(forBackgroundURLSession session: URLSession)` could be called to run our completionHandlers once all the parts have completed.  But maybe there is something different about how a multi-part upload is handling that I'm not understand.

Yes a call would be good, I'm free today, 8/31.

[2018-08-31 22:09] cbommas commented on #769
@jeffjvick

How about 4:00 PM PST at the following conference bridge

United States Toll-Free: +1 855-552-4463
Meeting PIN: 9376 87 1968

[2018-08-31 22:12] jeffjvick commented on #769
@cbommas That works, thanks.

[2018-09-01 01:10] undefobj commented on #1015
@simeondrage @pablogeek @ShadyBoukhary I work on both the AppSync and SDK library team and am interested in the use cases/apps that you might be building with this functionality. If you're open to sharing I would like to chat with you further if you're open to emailing or a phone call. If so could you email me richthr_at_amazon.com (replace the at with @).

[2018-09-01 15:03] tchamblee commented on #916
This really needs to be fixed.  I can't tell you how annoying it is to have to modify my swift classes to add `@objc` to all the properties EVERY TIME the SDK is regenerated.

[2018-09-02 13:50] #1006 closed

[2018-09-03 07:52] simeondrage commented on #1015
@undefobj sure, i'll email you

[2018-09-04 16:50] cbommas commented on #1015
@simeondrage

Thanks for confirming. I will go ahead and close this issue. Please feel to reopen if you run into issues.

[2018-09-04 16:50] #1015 closed

[2018-09-04 17:11] cbommas commented on #1025
@croesus

Unfortunately, we haven't been able to reproduce it either and verify the fix.
I will go ahead and close  this issue - will reopen I if encounter this issue, would appreciate it if you could do the same.

[2018-09-04 17:11] #1025 closed

[2018-09-05 00:15] rohandubal commented on #1031
I think the missing step before publishing the app is to strip the unwanted architectures as mentioned in

https://github.com/aws/aws-sdk-ios/blob/master/README.md#frameworks

The purpose was to have all architectures for debugging on devices like simulators.

Thanks,
Rohan

[2018-09-05 10:54] Bhat123 opened #1032 "clearAllGlobalSessionAttributes is not clearing a session"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Amason Lex Mobile SDK - Voice bot integration

* In what version of SDK are you facing the problem?
Latest

* Is the issue limited to Simulators / Actual Devices?
Devices and simulator

* Can your problem be resolved if you bump to a higher version of SDK?
Nope, already using the

[2018-09-06 09:29] simonmaddox opened #1033 "Add a method to map AWSS3BucketLocationConstraint to AWSRegionType"
Right now, I have to write my own massive `switch` statement to convert between these enum values. I can't simply cast between them because they're in different orders, which will give "EU West 1" a different value depending on if its a `AWSRegionType` or a `AWSS3BucketLocationConstraint`.

I'd like a method, provided by Amazon, that converts these for me. Whenever you add a new region, not only d

[2018-09-06 18:18] rohandubal commented on #1033
Thanks for reporting this @simonmaddox I will take this as a request to the team. I will update the thread here once we have support for this feature. The constraints are different from the region and agreed that the method will be more useful.

Thanks,
Rohan

[2018-09-06 22:50] ntewinkel commented on #1031
@rohandubal , just to make sure I went through the whole process again, but I still get the error messages. So maybe the bug is that the strip frameworks step does not clear all the extra frameworks. I noticed in the instructions it only has the script for AWSCore. My error messages are for AWSAuthCore and AWSUserPoolsSignIn.
I'm following these instructions:
https://docs.aws.amazon.com/aws-mobile

[2018-09-06 23:01] rohandubal commented on #1031
Hello @ntewinkel I will try the process on my side as well and check what the issue is.

[2018-09-07 00:49] rohandubal commented on #1031
I was able to reproduce it as well. I think there might be some bug with the strip script. Could you replace the `Run Script` section to use the following script:

[code]

Reference: https://stackoverflow.com/questions/46404236/failed-to-verify-bitcode-while-exporting-archive-for-ad-hoc-distribution-tried

This worked for me and should unblock you as well. We will work on a fix in the meanwhile to

[2018-09-07 02:25] nilotic opened #1034 "How can I get a new idToken with the refreshToken"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Cognito

* In what version of SDK are you facing the problem?
Lastest

* Is the issue limited to Simulators / Actual Devices?
Both

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How are you cons

[2018-09-07 17:28] rohandubal commented on #1034
Hello @nilotic

Could you please elaborate your use-case?

The SDK currently refreshes and gets a valid id token based on the available refresh token. You are not required to do it explicitly. The code can be found here:

https://github.com/aws/aws-sdk-ios/blob/master/AWSCognitoIdentityProvider/AWSCognitoIdentityUser.m#L187

Thanks,
Rohan

[2018-09-07 17:39] rohandubal commented on #1031
Hey @ntewinkel

Could you confirm if the fix worked for you?

Thanks,
Rohan

[2018-09-07 18:30] ntewinkel commented on #1031
Thank you so much for that solution, @rohandubal ! That worked perfectly and the app passed Apple Validation (in the Xcode Organizer).

-Nico

[2018-09-07 18:52] ntewinkel commented on #1031
There does seem to be a new issue with that script, in that it doesn't seem to play nice with other frameworks that do not have the X86 archs in them:
SnapKit is one example (long paths removed for clarity)...
[code]

[2018-09-07 18:55] rohandubal commented on #1031
Could we scope the script to AWS frameworks? i.e.

Change

`find "$APP_PATH" -name '*.framework' -type d | while read -r FRAMEWORK`

to

`find "$APP_PATH" -name 'AWS*.framework' -type d | while read -r FRAMEWORK`

[2018-09-07 19:04] ntewinkel commented on #1031
Ah yes, good idea. I gave it the full test: None of the red build error marks, all of the happy validation!

[2018-09-07 19:05] behrooziAWS commented on #1001
I haven't been able to get to this yet, it's still on my plate to investigate.

[2018-09-07 22:40] rohandubal commented on #1031
Awesome! Great to hear.

[2018-09-07 22:40] #1031 closed

[2018-09-09 09:06] gaborcsontos commented on #1020
@rohandubal ?
Maybe you are able to answer my question. :) Thanks mate, cheers

[2018-09-09 20:41] #1009 closed

[2018-09-10 01:41] rohandubal commented on #1032
Hello,

Currently, there is no specific way to explicitly clear a session. Although, you could assign a new userId to start a brand new session.

Thanks,
Rohan

[2018-09-10 05:40] rohandubal commented on #1020
Hello @gaborcsontos

Apologies for the delayed response.

Please let me know the responses to these questions so that we can help you better.

Thanks,
Rohan

[2018-09-10 12:15] lucianboboc opened #1035 "AWSCognitoAuth refreshToken is nil after a new accessToken is received from the backend"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSCognitoAuth

* In what version of SDK are you facing the problem?
2.6.27

* Is the issue limited to Simulators / Actual Devices?
both

* Can your problem be resolved if you bump to a higher version of SDK?
no

* Is this problem related to specific iOS version?
no

* How are yo

[2018-09-10 18:51] shawngrona commented on #916
+1

[2018-09-10 18:57] sungjin0213 commented on #916
+1 Please let us know if you have any ETA on this since it's been 4 months from original response, and we have been continually have to investigate the issues caused by not having @objcMembers.

Most of developers will be using Swift 4 and up, so I'm not sure why Swift 4 is not supported yet.

[2018-09-10 22:59] desokroshan commented on #1035
@lucianboboc, Thank you for reporting the issue. I have filed it as a bug. We will fix it and update this thread once the fix is released.

[2018-09-11 00:12] desokroshan commented on #1029
@Hardy143 Thanks for reaching out. uploadFile task can potentially run into two types of errors depending on when the error occurs. There can be error in upload task creation itself (which seems to be the case with you since the phone was already on airplane mode when upload starts). Secondly, there can error after the upload task has been created and is in progress. The completion handler in your

[2018-09-11 01:53] Hardy143 commented on #1029
@desokroshan thanks for your help. I understand what you mean about the errors being two different kinds but unfortunately the code isn't working for me. I've copied your code into mine and it's not printing an error.

[2018-09-11 03:13] nilotic commented on #1034
Hi @rohandubal

I just want to renew the user session after 1 hour (session is expired)

Every time, I refresh user info when the app is resumed.
This is my refresh code.

    func refresh(completion: (() -> Void)? = nil) {
        let user = userPool.currentUser()
        let details = user?.getDetails()

        guard (user?.isSignedIn ?? false) == true else {
            completion?()

[2018-09-11 11:34] ekordin opened #1036 "Get access to Cognito Google identity data (e.g.: email address)"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
Cognito

* In what version of SDK are you facing the problem?
2.6.28

* Is the issue limited to Simulators / Actual Devices?
For any device

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How are

[2018-09-11 13:44] lucianboboc commented on #1035
@desokroshan I spent a few hours today debugging the same issue in `AWSCognitoIdentityUser`.
The `-(AWSTask<AWSCognitoIdentityUserSession*> *) getSession` method have the same logic like AWSCognitoAuth, it is provide the session from keychain or it will get a new one if it is expired.
[code]

In `AWSURLSessionManager` in the `- (void)URLSession:(NSURLSession *)session task:(NSURLSessionTask *)sess

[2018-09-11 16:15] behrooziAWS commented on #1035
Just so we're clear on the request, for calls to getSession, you want the session to contain the refresh token regardless of whether a new one was issued or not?  And refreshes work, it's just that the session object returned is missing the refresh token correct?

[2018-09-11 17:13] lucianboboc commented on #1035
@behrooziAWS yes, that’s correct.

[2018-09-11 17:35] desokroshan commented on #1036
Hello @ekordin,
I have filed this as a feature request in our backlog and have submitted it to the team for prioritization. I do not have specific timeline that I can share at this point. We will let you know, either on this thread, or through a forum announcement when the feature is released in the SDK. Thanks!

[2018-09-12 06:54] gaborcsontos commented on #1020
Hello @rohandubal!

The thing I would like to use my own LoginUI. The problem is as far as I get that the order of the stacks. I would like to use the login as the landing page and if the sign in is success it will present a landing page. When I enter the wrong credentials it will gives an error, but when the credentials are right its crashes.

[2018-09-12 08:33] mrmrdolph opened #1038 "Handle FORCE_CHANGE_PASSWORD without delegate for AWSCognitoIdentityUser"
Iv'e created a custom **AWSIdentityProviderManager** to provide **login maps** from either **Google** or **user pool**. Because i need to support login trough both Im **not** using the **AWSCognitoIdentityInteractiveAuthenticationDelegate** as its tightly coupled with user pool sign in flow. However i have basically copied the behaviour with a custom generic "sign in controller" that signs in user

[2018-09-12 17:34] desokroshan commented on #1019
You can create two instances of AWSMobileClient, one for authenticated calls and the other for unauthenticated calls.

Yes, reuse the AWSMobileClient instances instead of recreating the client for each network call.

[2018-09-13 01:06] seanbehan commented on #498
+1

[2018-09-13 19:00] trondkr commented on #985
@cbommas This works perfectly now. I see that if the XML contains blank fields e.g. `AWSS3InventoryFilter *filter=[AWSS3InventoryFilter new];
    filter.prefix=@"";
   putBucketInventoryRequest.inventoryConfiguration.filter=filter;` it will still fail, but perhaps this is intended? Still, avoiding the empty fields it works well. Thanks

[2018-09-14 06:40] #998 closed

[2018-09-14 08:29] jabarkarim opened #1039 "Port is dropped when custom endpoint"
In my app I have to use AWSS3 to generate presigned URL and when setting a custom endpoint with port (ex: http://localhost:8080) the generated URL does not contain the port.

I have this entry in my Podfile
`
pod 'AWSS3'
`
So I am not sure about the version of AWSS3 that is loaded.

Here is my code:

`
let credential = AWSStaticCredentialsProvider.init(accessKey: "somekey", secretKey: "somesecret"

[2018-09-14 16:49] Dellybro commented on #1019
Hello desokroshan,

So are you suggesting I set a nil parameter for the credentials provider in the follow code?

    AWSServiceConfiguration *serviceConfig = [[AWSServiceConfiguration alloc] initWithRegion:AWSRegionUSWest2 credentialsProvider:nil];

    [AWSAPI_9D9C5LJ1F2_CloudApiClient registerClientWithConfiguration:serviceConfig forKey:CloudLogicAPIKey];
    unauthenticatedClient = [AWSAPI_9D9

[2018-09-14 22:38] desokroshan commented on #1035
@lucianboboc We have fixed this in 2.6.29. The changes are pushed to GitHub. Please upgrade to the latest and let us know if it fixes the issue.

[2018-09-16 10:06] anupsarode commented on #1001
I too encounter this issue frequently.

In my iOS app, I have a facebook signin button. I call the CognitoAuth to get authenticated and it do get the session object that has id token. But only after clicking the signin button twice. The first call always fails and gives the error

Error Domain=com.amazon.cognito.AWSCognitoAuthErrorDomain Code=-2000 "(null)" UserInfo={error=Loading page failed}

An

[2018-09-16 18:37] #950 closed

[2018-09-17 06:56] harsheno8 commented on #957
I am facing the same issue. Using dispatch as mentioned by @michaeleconomy I was able to get it running. What am I doing workng here?
[code]

[2018-09-17 11:09] thomers commented on #815
I second this request - if you look at the code in AWSAuthUIViewController, it creates its own UINavigationController and uses the passed navigation controller only to call presentViewController (which is a UIViewController method, anyway!).

[2018-09-17 21:27] makoni opened #1040 "Carthage can't build SDK with Xcode 10"
### To help us solve your problem better, please answer the following list of questions.

* What service are you using?
AWSiOSSDKv2

* In what version of SDK are you facing the problem?
2.6.29

* Is the issue limited to Simulators / Actual Devices?
No

* Can your problem be resolved if you bump to a higher version of SDK?
No

* Is this problem related to specific iOS version?
No

* How are you con

[2018-09-17 21:40] rohandubal commented on #1040
Hello @makoni

Thanks for reporting this, we  will update the thread once we have a fix for this.

Thanks,
Rohan

[2018-09-17 23:03] kvasukib commented on #1040
@makoni Thank you for pointing this out. I faced the same issue as well on Xcode 10 Beta. Xcode 10 beta uses the new build system where it complains about the `Info.plist` file in copy bundle resources phase of a target. I changed it to use the legacy build system and the error went away. But we are discussing the potential solutions and we will update the thread once we find it. Thanks!

[2018-09-18 01:45] jeffjvick commented on #769
@cbommas Do you have an update on progress towards a version that allows multipart background uploads with more than n parts to complete?

[2018-09-18 01:58] jeffjvick commented on #1023
@pablogeek After talking with some @cbommas I learned that what I’m see is actually expected behavior.  Basically if you background your app while in the middle of a multipart upload it will only complete the current parts and not start any new parts while in the background.  They had concluded that waking the app up periodically to start additional parts would be undesirable.  I was expecting it

[2018-09-18 08:59] simeondrage commented on #1023
@jeffjvick from my testing its working fine for us. I background the app at 200mb uploaded. Wait a minute and its got to 300mb. @pablogeek can explain what hes done in the code.

[2018-09-18 09:49] gaborcsontos commented on #1020
@rohandubal ?

[2018-09-18 20:44] Jonathanrwebb commented on #498
+1

[2018-09-19 00:58] #1011 closed

[2018-09-19 01:26] cbommas commented on #769
@jeffjvick

Thanks for your patience on this issue. I am working on this and am targeting to get this into the next rev of the SDK. I will post back on this thread once I have more info.

[2018-09-19 08:22] takumi-sria opened #1043 "AWSCognitoAuth callback is not executed when login is canceled"
**Describe the bug**
* Callback is not executed when login is canceled
* Can not get error when login canceled
* I can not get error when cancellation after getSession execution

**To Reproduce**
Steps to reproduce the behavior:
1. Start the app and call getSession.
2. Tap "Done" on the login screen to cancel login.
3. AWSCognitoAuthGetSessionBlock: callback not invoked

[code]

**Which AWS servic

[2018-09-19 09:43] qaisershehzad commented on #1034
Hi @nilotic, please check below code if you are still facing this issue.

You can  use getSession() from AWSCognitoIdentityUser it will handle all for you.
Below is a sample code which is used to getSession of current AWSCognitoIdentityUser

  self.user?.getSession().continueOnSuccessWith(block: { [weak self] (task:AWSTask<AWSCognitoIdentityUserSession>) -> Any?    in

            guard let strong

[2018-09-20 00:11] ltblueberry0 commented on #1031
was there no update necessary to the strip-frameworks.sh file in this repository? I did not notice a file change on "strip-frameworks.sh"

[2018-09-20 13:41] sajadkhan opened #1045 "PhaseScriptExecution failed with a nonzero exit code"
I have recently updated the Xcode to 10.0 and after that I'm unable to create archive. This is log I get

PhaseScriptExecution [CP]\ Embed\ Pods\ Frameworks /Users/muhammadsajad/Library/Developer/Xcode/DerivedData/ySkolar-cizrgcsvnlwnczdicazrfqwbihhi/Build/Intermediates.noindex/ySkolar.build/Debug-iphoneos/ySkolar.build/Script-9E682694EA2C01ECB09BB0EB.sh (in target: ySkolar)
    cd /Developer/ysko

[2018-09-20 17:39] ntewinkel commented on #1031
@ltblueberry0 , I agree, strip-frameworks.sh should be updated, or else this will fail for anyone using frameworks integration. The above was a temporary work-around. I assume Amazon has their own internal to-do list this has been added to (I hope).

[2018-09-20 23:43] #906 closed

[2018-09-21 08:19] Snezhana commented on #1040
Anything on this issue? because I cannot build from Xcode 10, even when switching to Legacy? I would really like to see my app on the new phones and this issue is stopping me. Thanks.

[2018-09-21 09:27] chuchuTv opened #1046 "AWS Pinpoint special characters(JSON Format not accepting) issue with deep linking for iOS(2.6.27 Version) and Android(2.6+)"
We are facing some technical issue in AWS Pinpoint. Actually the deep link url worked fine some couple of days back. But now it is not working, it throws invalid URL error in campaigns.

I have used the below URL,
 urlscheme://deeplink/{"newtestdetails": [{"VideoId": "test1","DisplayName": "Test1","ThumbnailName": "test1.jpg"}]}

Note: This works fine in direct messages with device token. The abov

[2018-09-21 16:19] kvasukib commented on #1040
Hi, We have fixed this issue in 2.6.30. Please upgrade to the latest and let us know if it fixes.

[2018-09-21 18:44] kwallace-abvio commented on #966
I use the iOS SDK.  I use -[AWSCognitoAuth getSession:completion:] to sign in using Facebook and -[AWSCognitoAuth signOut:completion:]  to sign out.  If I install my app from scratch, sign in with Facebook works.  Then if I sign out and attempt to sign in again, -[AWSCognitoAuth getSession:completion:] returns with the error AWSCognitoAuthErrorDomain, AWSCognitoAuthClientErrorLoadingPageFailed.  B

[2018-09-21 23:53] hipwelljo opened #1047 "How to implement background uploads and offline support correctly"
**State your question**
I'm looking through [the documentation](https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html) on how to utilize the AWSS3TransferUtility to upload files and support background uploads for an iOS app, and resume them should the app be terminated and relaunched. It appears the documentation is incorrect when it comes to

[2018-09-22 02:04] ddegner commented on #498
+1

[2018-09-22 21:07] #1021 closed

[2018-09-23 15:55] ltblueberry0 commented on #1031
@ntewinkel thanks for the info. Do i also have to use this script if I integrate via Carthage?

[2018-09-24 10:22] sandip-jiniguru opened #1048 "S3 Image upload issue"
When I upload image in s3 bucket. I got below error. I have seen this error in stack overflow but don't get it. Can you please guide me. At which stage i have made mistake.

I have setup my poolid other things in plist which are below.

   ` <key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>amazonaws.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>

[2018-09-24 13:36] JesusMartinAlonso commented on #1043
I have the same problem. I have debugged the SDK and the problems appears to be in the ```-(void) dismissSafariVC: (void (^)(void)) dismissBlock``` function. The ``` [self.svc dismissViewControllerAnimated:NO completion:^{``` works correctly but the completion is not getting called, so the completion of ```getSession``` is never called. This is the whole code of the function:
[code]

[2018-09-24 13:52] cbommas commented on #769
@jeffjvick

Here is an update as promised. I did a bunch of tests using the `TransferUtility` and was able to get consistently get uploads ( including multipart uploads) and downloads to successfully complete in the background. In my tests, I foregrounded and backgrounded the app multiple times and the transfer finished successfully every time.

My setup included
- Running my transfer test app usi

[2018-09-24 13:57] cbommas commented on #1023
@simeondrage
I posted an update in https://github.com/aws/aws-sdk-ios/issues/769 on this topic. Lets consolidate our communication and track it in one place on https://github.com/aws/aws-sdk-ios/issues/769

[2018-09-24 13:57] #1023 closed

[2018-09-24 13:58] cbommas commented on #759
Lets track this in https://github.com/aws/aws-sdk-ios/issues/769.

[2018-09-24 13:58] #759 closed

[2018-09-24 17:34] cbommas commented on #1048
@sandip-jiniguru

Sorry to hear that you are running into issues. I see that you are using the `TransferManager`. I would recommend that you use `TransferUtility` instead. The `TransferManager` is on the deprecation path and will not be supported in the long term.

See https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html for details on how t

[2018-09-25 04:38] fans3210 opened #1049 "AWSS3TransferUtility's urlsession cancelation takes time which might cause potential problem"
**Describe the bug**
A clear and concise description of what the bug is.
We have a use case for the scenario below:
Our app has a logout feature. Currently we might call AWSS3TransferUtility's remove method when user logged out to double confirm and make sure that all pending tasks would be cancelled. This method will cause the URLSession to be cancelled and invalidated, which will remove the AWSS

[2018-09-25 13:41] ravishagnihotri45 commented on #1014
Facing issue that my keychain is not clearing the existing user data while calling Sign-out method and login using the other user

[2018-09-25 16:56] cbommas commented on #1049
@fans3210

Thank you for bringing this to our attention. I will look into checking if we can add error handling mechanisms to track the failure of creating the session.

For your specific scenario, I would recommend that you cancel (see http://aws.github.io/aws-sdk-ios/docs/reference//Classes/AWSS3TransferUtilityTask.html#//api/name/cancel)  all the tasks prior to calling the AWSS3TransferUtility'

[2018-09-25 17:03] cbommas commented on #1029
@Hardy143

Just following up on this thread. I had a couple of questions.
- You mentioned that you get an error when the bucket name is incorrect. Can you post the error message/stack trace?
- what happens when you take the phone off airplane mode? Does the transfer start?

[2018-09-25 20:54] kwallace-abvio opened #1050 "AWSPinpointVersionString Missing"
**Describe the bug**
When I link with the AWS SDK for iOS 2.6.30 CocoaPod, AWSPinpointVersionString is missing.  I see it referenced in the source code but not defined/initialized.

**To Reproduce**
Include the AWSPinpoint CocoaPod and link with it.

**Which AWS service(s) are affected?**
AWSPinpoint

**Expected behavior**
My app should link.

**Screenshots**

Undefined symbols for architecture ar

[2018-09-26 10:46] sainianil opened #1051 "AWSPinpoint events are not sync properly (SDK version, cognitoId, platform)"
**Describe the bug**
Events are not sync properly (SDK version, platform, cognitoId)

**To Reproduce**
Steps to reproduce the behavior:
1. Update AWSPinpoint version to 2.6.30
2. Send events using AWSMobileAnalyticsEventClient

**Which AWS service(s) are affected?**
AWSPinpoint & AWSMobileAnalyticsEventClient

**Actual behavior**
SDK version is not proper - receiving like this "@(#)PROGRAM:AWSPinp

[2018-09-26 11:06] jdriselvato commented on #451
I've run into this issue again but with XCTests only. I can compile my app no problem if I try using XCTest I get the same error. Xcode 10, iOS 11+ Any thoughts?

Setting allow non-modular to YES does nothing.

[2018-09-26 14:06] AndreyPoznyak commented on #459
are there any updates on the this issue guys?
it takes 20 mins for my Mac Pro to compile whole aws-sdk-ios (2.6.30) when I need only 1 library :)
if there are some improvements - what version can be used please?

[2018-09-26 14:13] ObjColumnist commented on #459
@AndreyPoznyak I am using 2.6.1 with Carthage and it just downloads the prebuilt libraries for that, changed a few months ago.

You might not be/want to use Carthage so might not help, but is a possible solution.

[2018-09-27 01:32] r-plus commented on #1025
We are also received this crash on 2.6.26 version of sdk.
We'll report issue when observed crash after update to latest sdk.

Thanks for this information.

[2018-09-27 18:12] minbi commented on #1038
If you are re-implementing the functionality of the SDK, then you will need a handle for `startNewPasswordRequired`. If Google does not have this functionality, then your implementation need not call the handle when handling a Google sign-in.

[2018-09-27 18:24] #1034 closed, assigned to nobody

[2018-09-28 06:42] jeffjvick commented on #769
@cbommas Thanks I will try this out.

I'm guessing it has to do with the interceptApplication part as I had removed that a while ago at your request.  I thought I had tried a test with adding it back in but I was trying a lot of things at the time.

[2018-09-28 07:48] kvasukib commented on #1050
@kwallace-abvio Sorry for the inconvenience caused. This issue has been fixed in 2.6.31. Can you consume the latest to see if the issue has been fixed?

[2018-09-28 13:17] SreekanthGudisi commented on #688
@baqtiste hello,

And What is here **key** means ?

But this is not pure json right .. I'm getting like this

[code]

[2018-09-28 14:28] arekt commented on #313
+1 to support swift package manager, it is more stable now

[2018-09-28 14:42] ShadyBoukhary commented on #1014
@ravishagnihotri45 what about the identity id? I had no problem with the user name just with the identity id.

[2018-09-28 16:31] #1035 closed

[2018-09-28 16:44] cbommas commented on #769
@jeffjvick

Thank you. Please let me know how it goes. By the way, the latest rev of the SDK (2.6.31) contains the fix for the under-reporting of the mulitpart transfer progress bug

[2018-09-28 18:37] offero commented on #805
How do you specify multiple --cognito-identity-providers ?

[2018-09-28 19:50] kwallace-abvio commented on #1050
It doesn't appear to be fixed to me.  I did a pod update/install and I now have version 2.6.31 of all the AWS pods.  The problem still occurs.  I had previously done a git clone of aws-sdk-ios and I just did a git pull to get the latest.  I did the following find:

% find aws-sdk-ios -type f -exec grep AWSPinpointVersionString {} /dev/null \;
aws-sdk-ios/AWSPinpoint/AWSPinpoint.h:FOUNDATION_EXPORT

[2018-09-28 20:42] cbommas commented on #1047
@hipwelljo

Sorry to hear that you are running into difficulties using the SDK. Let me take a crack at answering your questions here

- The transfer utility uses a NSURL Background session for uploading and downloading files. All the transfers, therefore, by default happen in the background.
- The app that initiated the transfers can be in the foreground or in the background at various points duri

[2018-09-28 22:19] hipwelljo commented on #1047
Thank you so much @cbommas! I will dive deeper into this on Monday, but wanted to answer your question.

In regards to offline mode support, I was wondering if the transfer utility will automatically stop uploading once the internet connection is lost, and automatically start uploading again once it is restored. If you try to start an upload while offline, does it successfully upload eventually if

[2018-09-28 22:34] cbommas commented on #1047
Yes, I was mistaken about the `interceptApplication` not being needed. What I've noticed that when the app is in the background or suspended, it will be woken up by iOS _only_ if the `handleEventsForBackgroundURLSession` ( where the `interceptApplication` is called) is implemented in your app delegate.

[2018-09-29 12:07] #1003 closed

[2018-09-30 16:18] SreekanthGudisi opened #1052 "How to add AWSLexButton in chat window?"
**Add AWSLexButton**

**AWS Lex**

**Environment(please complete the following information):**
 - SDK Version: [2.6.30]
 - Dependency Manager: [Cocoapods :- 1.6.0.beta.1]
 - Swift Version : [4.1]

**Device Information (please complete the following information):**
 - Device: [iPhone8, Simulator]
 - iOS Version: [iOS 10.0]

What is **key** here in the below code?
[code]

Getting response using abov

[2018-09-30 16:29] cbommas commented on #1048
@sandip-jiniguru

Just checking back to see if you were able to get the issue resolved. Please let us know.

[2018-10-01 04:18] sandip-jiniguru commented on #1048
Yes , I have resolved issue.

Thanks.... for the support

[2018-10-01 04:49] cbommas commented on #1048
@sandip-jiniguru

Thank you for confirming. I will close this issue - please feel free to reach out if you run into further issues.

[2018-10-01 04:49] #1048 closed

[2018-10-01 07:43] mrmrdolph commented on #1038
I ended up having to make the signin controller an **AWSCognitoIdentityInteractiveAuthenticationDelegate** itself (only if user clicks pool signin) to be able to respond to **force change password** as **get session** will look for a delegate in its source code on fail, there seems to be no other way.

This works but also introduces some memory leek as the sigin controllen can never be deallocated

[2018-10-01 18:12] cbommas commented on #1039
@jabarkarim

Sorry to hear you are running into issues. Can you give me some more information about your use cases - typically, the presigned URL is a mechanism used to provide access to specific S3 files to unauthorized users who are not part of your account or group.

[2018-10-01 18:28] kvasukib commented on #1052
@SreekanthGudisi The key is used to retrieve the AWSLex client object that you create. Each client object that you created can be associated with a key (string) and you can retrieve the object using the key.

For the error response that you are getting, can you post the error message?

[2018-10-01 18:36] SreekanthGudisi commented on #1052
@kvasukib thanks for the reply.

Ok..

I'm not getting any error. Getting response using that code.. Using that response i Need to add Buttons in chat window .
By the by why u closed this is issue ?

[2018-10-01 20:13] hipwelljo commented on #1047
Thanks! I believe I have now implemented everything needed for uploading photos! I tested background transfers and that appears to be working nicely. I'm now testing force quitting the app before transfers are completed to test the process of restoring the progress and completion blocks. It appears the uploads are not starting after doing so. The progress block is never called after that, nor the

[2018-10-02 14:37] mrmrdolph opened #1053 "AWSIoT and AWSAppSync in same project"
Is it not possible to use the **AWSIOT** framework and the **AWSAppSync** framework in the same project?

Ive spent hours trying to get the AWSIoT Framework to compile.
The pod is installed just fine, but trying to build the project results in
_lexical or preprocessor issue_ with multiple files not found.

After lots of time ive realised that its the existing AWSAppSync pod that introduces this pr

[2018-10-02 16:03] hipwelljo commented on #1047
Aw okay. Yes the status is indeed unknown. So what would be the right way to go ahead and restart uploads in this scenario?

[2018-10-02 18:31] cbommas commented on #1053
@mrmrdolph

Unfortunately, you can't use both the AWSIOT and AWSAppSync framework in the same project. The AWSAppSync project has a slightly customized implementation of the AWSIOT implementation with overlapping classes, because of which the two can't be used together in the same app.

We have an item on the roadmap to re-architect the SDK to address this problem. I don't have a firm timeline on

[2018-10-02 21:11] christiancompton commented on #1030
Any updates @kvasukib?

[2018-10-02 22:42] muellerfr opened #1054 "onLogin called twice when app starts"
Originally submitted by @simonhopkin on the aws/aws-mobilehub-helper-ios:

Hi,

I'm seeing the `onLoginWithSignInProvider` call back of `AWSSignInDelegate` called twice when my app starts.

Is this intended behaviour?

I traced it down to the `resumeSessionWithCompletionHandler()` method of `AWSSignInManager`.  This makes a call to `[self.potentialSignInProvider reloadSession]` which in turn resul

[2018-10-03 00:31] cbommas commented on #1029
@Hardy143
Just checking back to see if you were still encountering issues. Please let me know.

[2018-10-03 02:56] sethkor commented on #498
+1

[2018-10-03 02:57] ddegner commented on #498
In the end I had to use python, which was much easier to program, but looks all non-native

[2018-10-03 07:05] mrmrdolph commented on #1053
Glad to hear that its on the roadmap since the two frameworks do not necessarily serve the same purpose.
Luckily at this point i only need to update and get device shadow with IoT which i understand Im able to do without the SDK using REST.

[2018-10-03 07:10] Hardy143 commented on #1029
@cbommas thanks for getting back to me. I was using S3 as part of my end of year uni project. It’s been handed in now and I’ve started straight into a new job and haven’t had a chance to look at my project since. I’ll try and have a look this weekend and answer your above questions.

[2018-10-03 11:19] Bhat123 commented on #1032
Thanks a lot Rohan. Can it be implemented in later releases ?

[2018-10-03 16:10] hipwelljo commented on #1047
That's good to hear thanks! In the case where an internet connection is poor and it fails to upload a photo, does it call the completionHandler with an error object, and then make the request again, and repeat until the retryLimit is exceeded? Thus we could expect to receive up to 10 errors. Or does it not call the completionHandler with an error until it has exceeded the retryLimit?

[2018-10-03 16:43] cbommas commented on #1047
@hipwelljo
For your first question, the completion handler will only be called with an error if the retryLimit has been exceeded. You will only get one error.

Tasks that are completed successfully or errored out will not persist between launches. If the transfer was in progress and did not get to an end state before the app was terminated, it could be in a number of states
- Unknown ( indicating

[2018-10-03 17:31] hipwelljo commented on #1047
Thanks! A follow-up question: when it fails to upload but has not yet met the retryLimit, does it use the same transferID to try again, or does it gain a new transferID?

[2018-10-03 17:38] cbommas commented on #1047
Once a transferID is assigned to a transfer, it is never changed. It will keep the transferID until the retries are exhausted.

[2018-10-03 18:41] muellerfr commented on #498
Hello @mildm8nnered,

I have added this as a feature request in our backlog and have submitted it to the team for prioritization. At this point the team has no plan to support Mac OS X. We will let you know, either on this thread, or through a forum announcement if we add support for Mac OS X.

[2018-10-03 18:41] #498 closed

[2018-10-03 20:41] evanoberholster opened #1055 "Usage on MacOs Mojave, Xcode 10.0 -"
**State your question**
Have this error, that is unresolved.

**Which AWS Services are you utilizing?**
S3

**Provide code snippets (if applicable)**
[code]

**Environment(please complete the following information):**
 - SDK Version: 2.6.29
 - Dependency Manager: Carthage
 - Swift Version : 4.2

**Device Information (please complete the following information):**
 - Device: MacOs Mojave (10.14)
 -

[2018-10-03 21:04] evanoberholster commented on #1055
I was able to figure out a way to work around that error by unchecking "Code Sign on Copy" in Embed Frameworks in the Build Phases tab. Now I receive a new error:

[code]

[2018-10-04 00:14] TriggerJock commented on #1050
I have exactly this problem as well.  Unfortunately I was right in the middle of re-building a project and for the longest time was certain I was doing something wrong.

Any resolution on this?  Failing that, what version should I fall back to instead of 2.6.31 for all my AWS pods until a fix comes out?

Thanks.

[2018-10-04 00:32] muellerfr commented on #1050
Thank you for reporting this issue. We are looking into the problem.

[2018-10-04 00:34] muellerfr commented on #1051
May be related to https://github.com/aws/aws-sdk-ios/issues/1051

[2018-10-04 03:48] muellerfr commented on #756
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-10-04 03:48] #756 closed

[2018-10-04 03:57] muellerfr commented on #700
Hello @RoninSTi  and @Kamaldeep-Singh,

Sorry for the delayed response. Does the issue still reproduce in the latest version of the SDK?

[2018-10-04 04:05] Gvdpoel commented on #1050
Having the exact same problem. The work around I used was to set our Podfile to use version 2.6.27.

pod 'AWSCore', '= 2.6.27'
pod 'AWSMobileAnalytics', '= 2.6.27'
pod 'AWSMobileClient', '= 2.6.27'
pod 'AWSAuthCore', '= 2.6.27'
pod 'AWSPinpoint', '= 2.6.27'
pod 'AWSSNS', '= 2.6.27'

[2018-10-04 04:30] #875 closed

[2018-10-04 07:31] kvasukib commented on #1050
@kwallace-abvio @Gvdpoel @TriggerJock Can you share the reproduction steps? So far, I tried the following and I didn't notice any error.

1) cat Podfile
platform :ios, '9.0'
target :'PinpointTester' do
  use_frameworks!

    pod 'AWSPinpoint', '~> 2.6.31'
    pod 'AWSMobileClient', '~> 2.6.31'

    # other pods

end

2) pod install
3) Open project in XCode (9.2), did a build and build succeeded.

[2018-10-04 16:40] TriggerJock commented on #1050
Here's my Podfile:

[code]

The '~> 2.4' does install 2.6.31.  I added AWSMobileClient while trying to debug this.  I don't use AWSMobileClient (My project is 4 years old).

I'm going to try 2.6.27 to see if that works.

[2018-10-04 17:07] TriggerJock commented on #1050
Switching to 2.6.27 compiled, linked, and ran successfully.

Here's the changed portion of my Podfile:

[code]

[2018-10-04 18:21] kvasukib commented on #1050
@TriggerJock Is there a reason why you are using `pod 'AWSiOSSDKv2', '~> 2.4'` ? Instead, you could just declare the individual dependencies. For example, if you need `AWSPinpoint`, I would recommend using `pod 'AWSPinpoint', '~> 2.6'`.

Regardless, I am trying to reproduce the issue.

[2018-10-04 20:45] TriggerJock commented on #1050
@kvasukib No, not really.  It was probably the right choice years ago.

I've removed AWSiOSSDKv2 and got it working.  I also went back to the latest version, since I don't use Pinpoint, and it compiled and linked just fine.  Yay!

Here's my final pod settings:

[code]

[2018-10-04 23:56] #894 closed

[2018-10-04 23:56] #1022 closed

[2018-10-05 02:17] cbommas commented on #1047
@hipwelljo
Just wanted to let you know that the documentation updates have been deployed.
I am going to go ahead and close out this ticket as it looks that you are good to go.

Thank you for your patience and for working with me to resolve these issues.

[2018-10-05 02:17] #1047 closed

[2018-10-05 13:05] SanCHEESE commented on #1047
@cbommas
Sorry for writing in the closed thread. What are the possible reasons for error status of `AWSS3TransferUtilityDownloadTask` fetched using utility's `getDownloadTasks.result` after restarting an app? I've also suspended this task on app termination. Any way to look at error codes?

Thank you!

[2018-10-05 19:58] kwallace-abvio commented on #1050
I'm not sure why this issue is so difficult to diagnose or address for whomever works on the SDK.  Simply looking at the source code, AWSPinpointVersionString is referenced in AWSPinpointEventRecorder.m.  There is a declaration of AWSPinpointVersionString  in AWSPinpoint.h, but AWSPinpointVersionString is not defined anywhere I can find.  I'm not sure what value AWSPinpointVersionString should tak

[2018-10-05 22:52] mistyleaf opened #1057 "IoT web socket connection continuously getting Connection Error"
**State your question**

We are connecting to IOT using web socket. From time to time (not reproducible at will), we will see the following behavior.

We will successfully establish a connection. But then soon afterwards, we receive a MQTT Connection Error. We keep going in this loop. Sometimes the Connection Error could happen sometimes 5 seconds after connect, or 30 seconds later, or 10 minutes

[2018-10-05 23:00] cbommas commented on #1029
@Hardy143

Thank you, let me know how it goes.

Also, please look at this thread https://github.com/aws/aws-sdk-ios/issues/1047. It has information regarding how the TransferUtility works when the device goes offline.

[2018-10-05 23:00] cbommas commented on #769
@jeffjvick
Just checking back. Let me know if you have any questions/issues that I can help with.

[2018-10-05 23:40] cbommas commented on #1047
@SanCHEESE

I can think of a couple of reasons why it went into error status.
1) The max number of retries were reached.
2) The local file path you specified for the download is no longer valid. This can happen if you are using the temp or Library/Cache directory and it was cleared by the OS.

In any case, you can use this code snippet get more details on the error.

         let errorInfo = err.u

[2018-10-05 23:48] cbommas commented on #1057
@mistyleaf

sorry to hear that you are running into issues. To help debug this further, I have a few questions
- Once the connection is dropped, does it get re-established again automatically?
- Can you share how you have setup your MQTT config? This is typically done as demonstrated here https://github.com/aws/aws-sdk-ios/blob/df3f927b60ba6869db7284c0dc74fa5473100723/AWSIoTTests/AWSIoTDataManager

[2018-10-08 07:43] pablogeek commented on #932
@nick3389 hello, has this fixed your issue? thanks

[2018-10-08 07:56] nick3389 commented on #932
@pablogeek Hi Pablo, yes it is fixed after the update in the sdk.

[2018-10-08 08:41] SanCHEESE commented on #1047
@cbommas

Thank you for quick reply! I've found that printing `AWSS3TransferUtilityTask`'s `sessionTask.error ` also helps.

I've enabled verbose logging and what I've found here that `AWSS3TransferUtility` handles `NSURLSession`'s `NSURLSessionTask` when app starts after force termination and threats this as error:

[code]

Code -999 means that task was cancelled, `NSURLErrorBackgroundTaskCancell

[2018-10-08 09:13] omerwaqaskhan commented on #1043
Facing the same issue on, not getting the session after signing in

[code]

[2018-10-08 15:43] hipwelljo opened #1058 "Completion block is called for transfers that were started while offline after the app is force quit"
**Describe the bug**
I am seeing if you start an upload transfer while offline, then you force quit the app and reopen it, the task's completion block is called with a `nil` error and the task's status is 3 (`AWSS3TransferUtilityTransferStatusCompleted`). This occurs because in `didFinishLaunchingWithOptions` I register the `AWSS3TransferUtility` and in that completion block I reassign the progres

[2018-10-08 19:34] mistyleaf commented on #1057
@cbommas

Thanks for the reply!

Once the connection is dropped, I actually call a disconnect. The reason is that upon a disconnect event, I wanted to clear the access key and the session altogether. In the past (before the reconnection issues were fixed in some of your previous SDK releases), it was the only way for me to disable the auto retries and guarantee that we didn’t get into a reconnecti

[2018-10-08 20:38] jeffjvick commented on #769
@cbommas
So I have been testing it out and I can see that the progress under-reporting is better (which was part of the reason I was thinking it wasn't working before) but I sometimes see it over-report by a few percent.

However, it still seems like the uploads are not continuing when going to the background or are possibly just progressing extremely slowly.  I have see a few times where it finis

[2018-10-08 22:31] cbommas commented on #1057
@mistyleaf

- There isn't an option currently to disable auto-retries currently. However, you can achieve the same behavior by setting the baseReconnectTimeInterval to a larger number ( say 900.0, which is the same as your maxTimeInterval).
- When you connect again, can you check if you are reusing the clientID when you make the next connection. Since you are managing the re-connection yourself, I

[2018-10-08 22:55] mistyleaf commented on #1057
@cbommas

Yes, I am reconnecting with the same clientID. Could that be causing the issue? Do you know under what conditions it may cause it to happen?

Oh, yeah, setting the baseReconnectTimeInterval to something much larger makes sense. So, if I set the baseReconnectTimeInterval to 900 (same as maxTimeInterval), and then get rid of the disconnect/clear-out-the-key logic, would I still be able to

[2018-10-08 23:05] cbommas commented on #1057
@mistyleaf
Also, here is some info regarding the connection states
- Unknown: Not really used any where in the SDK
- Connecting: When a connection is requested, the status will transition to a `connecting` state. From  here it can go to `connected`, `refused` or `error`.
- refused: The connection has been refused by the server and never got established. This is a terminal state and the SDK will no

[2018-10-08 23:13] cbommas commented on #1057
@mistyleaf
What I have observed is that when you connect with the same clientID on more than one connection, one of the connections is dropped by the server ( I am not sure if it is the new connection or the old connection).

So if it is at all possible, change the clientID each time you connect. If that doesn't work for you, then you should still be good when you set the baseReconnectTimeInterval

[2018-10-09 08:50] r-plus opened #1059 "Carthage build from source will start even if download pre-build zip file since v2.6.28."
**Carthage build will start even if download pre-build zip file since v2.6.28.**

We only need download pre-build zip file when `carthage bootstrap` until v2.6.27.

`using Carthage: v0.30.1`

[code]

since v2.6.28, `carthage bootstrap` command will download zip file then build all of the frameworks.

[code]

Is this behavior caused by aws-sdk-ios side or carthage side?

[2018-10-09 10:09] SreekanthGudisi commented on #1052
@kvasukib hello, When it will be solve ? ..

[2018-10-09 12:16] omerwaqaskhan commented on #1043
Any solution found to the problem?

[2018-10-09 15:42] hipwelljo commented on #1058
Thanks @cbommas! No, it would not be possible to have been uploaded successfully since the device was offline the entire time.

[2018-10-09 16:49] kvasukib commented on #1059
@r-plus Thank you for reporting to us. I fixed the issue. Can you try running the carthage command again?

[2018-10-09 17:11] cbommas commented on #1057
One quick addition - you should also look for the `refused` status and connect (without needing to disconnect)

[2018-10-09 17:57] mistyleaf commented on #1057
@cbommas

Thanks for the additional info on the connection states!  That should be really helpful in fine-tuning the reconnection logic.

Also, will try what you suggested and either change the clientID, or set the baseReconnectTimeInterval higher so I can still control retries but not have to clear out the key.

One other question…is there any way to get more info on reasons for Connection Error?

[2018-10-09 18:19] cbommas commented on #769
@jeffjvick

I ran a bunch more uploads using my testapp and the upload speeds were varying rather widely; I couldn't spot a pattern, other than what you observed - in some cases the transfer had completed, in other cases it had stalled out.  However, in all cases, the transfers did eventually finish, which led me to believe that the transfers were progressing extremely slowly.

I looked for inform

[2018-10-09 21:34] kvasukib commented on #1059
Closing this issue. Please feel free to re-open if the issue persists.

[2018-10-09 21:34] #1059 closed

[2018-10-10 01:31] r-plus commented on #1059
@kvasukib Thanks for your quick fix. I confirmed fixed this issue.

[code]

[2018-10-10 04:29] kvasukib commented on #1059
Thank you @r-plus for pointing it out.

[2018-10-10 04:33] kvasukib commented on #1046
@chuchuTv Sorry for the delayed response. Can you answer the following questions?
1) Version of AWS SDK for iOS?
2) Version of iOS?
3) A code snippet
4) a description of your use-case

[2018-10-10 13:49] pablogeek opened #1060 "Crash -[__NSPlaceholderDictionary initWithObjects:forKeys:count:]: attempt to insert nil object from objects[7]"
Hello guys,

I'm having this crash.

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
Some users are having this when upload

**Which AWS service(s) are affected?**
S3
**Expected behavior**
It doesn't crash

**Environment(please complete the following information):**
 - SDK Version: 2.6.31
 - Dependency Manager:  Cocoapods

[2018-10-10 14:13] rodrigoarias89 commented on #916
+1 Really no news on this yet?

[2018-10-10 15:11] cbommas commented on #1060
@pablogeek
I will take a look into this and post an update here with my findings.

[2018-10-10 16:47] ppamorim commented on #623
Any idea when this feature will be added?

[2018-10-10 20:21] kvasukib commented on #623
@ppamorim @freynolds Have you checked out AWSLogs (https://github.com/aws/aws-sdk-ios/tree/master/AWSLogs)?

[2018-10-12 10:51] dsonara opened #1061 "AWSAPIGateWay - Missing authentication issue."
**Describe the bug**
App is not getting successfull api call after hours of in-activity.

**To Reproduce**
Steps to reproduce the behavior:
1. Creation of Amazon Cognito ID.
2. API calls.
3. Put app in background.
4. Refresh code after 8 hours. (initializeAmazonCongnitoProviderWithCompletionBlock mentioned below is called first when app comes to foreground only after 8 hours)
5. Missing auth token

[2018-10-12 18:50] kiroskirin commented on #508
@codeslubber Make sure you run `Carthage` script first like this

<img width="605" alt="screen shot 2018-10-13 at 1 50 17 am" src="https://user-images.githubusercontent.com/311686/46888331-63349800-ce8a-11e8-9347-47bb0f11be95.png">

[2018-10-15 09:52] SanCHEESE commented on #1047
@cbommas

Just checking that you've read my comment above.

[2018-10-15 19:59] Dellybro commented on #1060
This happens to me too, but with AWSAPIGateway, and it's affecting some users, but not all users. And we can not track down the issue at all. The users are on iOS 12, but some other users who don't have this issue are also on iOS 12.

Essentially the response from invoking my API gateway ends up being nil. and it crashes because i attempt to use an object that isn't there, but API Gateway should n

[2018-10-16 06:12] Twinkle24IT commented on #339
@flabrie , Its working like charm.
Thanks you so much :)

[2018-10-16 09:11] omerwaqaskhan commented on #1043
Any update?

[2018-10-16 19:32] cbommas commented on #1047
@SanCHEESE

Sorry, I missed seeing this. I am not sure that resumeData will work, but am happy to give it a shot.
It would be great if you could create a new issue to track this.

[2018-10-16 20:53] cbommas commented on #1060
@Dellybro
This is a crash that is specific to the persistence layer of the Transfer Utility and not related to the API Gateway - can you post a stack trace that will help confirm if it is the same issue.

[2018-10-16 20:55] cbommas commented on #1060
@pablogeek
I have been able to mimic this issue, but not reproduce it. Essentially, what is happening is that the MultiPart upload ID is null when it is trying to be inserted into the DB.

Have you been able to reproduce this in your testing?

[2018-10-16 22:06] pablogeek commented on #1060
@cbommas I haven't been able to reproduce the problem, this is happening only to few customers but multiple times. Seems once the app crashes, they restart the app, the upload restarts and then it crashes again.

[2018-10-16 23:03] ssferrazza opened #1062 "How to get the raw/full error message in ec2?"
**State your question**
Hi,
I'm wondering how to get the full error message as it is in the xml response of a failed ec2 request? E.g.
`<?xml version="1.0" encoding="UTF-8"?>
<Response><Errors><Error><Code>InvalidParameterValue</Code><Message>Invalid value 'i-011111111111' for instanceId. Instance does not have a volume attached at root (/dev/xvda)</Message></Error></Errors><RequestID>some-id</Req

[2018-10-17 08:45] SanCHEESE opened #1063 "If user force terminated app, suspended AWSS3TransferUtilityDownloadTask has error status"
**Describe the bug**
When `AWSS3TransferUtility` handles `NSURLSession's` `NSURLSessionTask` after app start (after force close), it handles such error without resuming download:
[code]

Code -999 means that task was cancelled, `NSURLErrorBackgroundTaskCancelledReasonKey=0` means that user terminated an app manually. There is `NSURLSessionDownloadTaskResumeData` value which has resume data to cont

[2018-10-17 08:47] SanCHEESE commented on #1063
This one was created with @cbommas blessing - https://github.com/aws/aws-sdk-ios/issues/1047#issuecomment-430369830

[2018-10-18 04:33] eimantas opened #1064 "Storyboard doesn't contain a view controller with identifier 'SignIn'"
**Describe the bug**
Application crashes when presenting a sign in view controller.

**To Reproduce**
1. Create new single view application
2. Add AWS SDK for iOS and import these modules into `AppDelegate`:
  - `AWSCore`
  - `AWSAuthCore`
  - `AWSAuthUI`
3. The `AppDelegate.swift` should look like this:

[code]

**Expected behavior**
Application is started with AWS sign in screen.

**Environment(

[2018-10-18 09:38] simeondrage opened #1065 "Uploads not starting on new SDK"
**Describe the bug**
Sometimes our uploads are not starting. The solution is to try a combination of these
a) turn wifi off and on / disconnect reconnect the device
b) turn the device off and on
c) wait for x hours or minutes

**To Reproduce**
I am unable to consistently reproduce this. I have had it reported by about 10 customers and got all files to eventually upload using a combination of the a

[2018-10-18 09:42] simeondrage opened #1066 "Files missing using new SDK"
**Describe the bug**
We have had a series of files missing when 'successfully uploaded'

**To Reproduce**
Unable to consistently reproduce

**Which AWS service(s) are affected?**
S3. We have decided to stop using the new SDK until this bug is resolved.

**Expected behavior**
Files that are successfully uploaded should be in the relevant bucket

**Screenshots**
If applicable, add screenshots to hel

[2018-10-18 10:07] markmarijnissen opened #1067 "AWSS3TransferUtility.default() cannot resume transfers after restart because it changes sessionIdentifier on every launch"
**Describe the bug**
AWSS3TransferUtility.default() does not resume tasks after restart.

**To Reproduce**
Steps to reproduce the behavior:
1. Git clone: https://github.com/awslabs/aws-sdk-ios-samples

2. Enable "debug" logs in the [AppDelegate](https://github.com/awslabs/aws-sdk-ios-samples/blob/master/S3TransferUtility-Sample/Swift/S3BackgroundTransferSampleSwift/AppDelegate.swift)
[code]

3. Ru

[2018-10-18 10:51] pablogeek commented on #1065
We are using AWSS3 2.6.31.

our code to upload is using TransferUtility

[code]

[2018-10-18 12:14] simeondrage commented on #1066
See https://github.com/aws/aws-sdk-ios/issues/1065#issuecomment-430964080 for more information of what we are doing

[2018-10-18 13:11] cbommas commented on #1039
@jabarkarim

I am going to go ahead and close this thread as I haven't heard back. Please feel free to reach back to us if you are still facing issues.

[2018-10-18 13:11] #1039 closed

[2018-10-18 13:41] cbommas commented on #1065
@simeondrage @pablogeek

Hey guys,
Sorry to hear that you are running into this issue. Just so that I am clear - did this issue start with 2.6.31 or has it been present in prior versions of the SDK as well? Please let me know.

Some context: I have seen similar issues with download/upload speeds depending on whether the app is in the foreground, background, amount of charge on the phone, phone bei

[2018-10-18 13:48] simeondrage commented on #1065
@cbommas thanks for getting back to us

We only released the latest version to our customers so not sure if it was present in previous versions of _this_ SDK. It wasn't present in the previous version we were using (Pablo would have to tell you the version we used before).

For the customers whilst they might have backgrounded the app, the upload was not starting when in the foreground. It doesnt

[2018-10-18 13:52] pablogeek commented on #1065
We were using 2.6.25 before

[2018-10-18 13:53] cbommas commented on #1066
@simeondrage  @pablogeek
Sorry to hear that you are running into issues. I took a look at #1065, but that appears to be more about transfer speeds. Can you share the code snippets on how you are calling the resume feature - specifically, the logic around how the TransferUtility is being instantiated and any additional steps you are taking upon app restart.

[2018-10-18 13:56] cbommas commented on #1065
@simeondrage  @pablogeek
Thanks for getting back to me quickly - I have one other question - can you check to see if this issue is restricted to iOS 12 devices or if it is happening on older OS versions as well?

[2018-10-18 13:58] pablogeek commented on #1066
Hello @cbommas

How we resume or start new upload

[code]

How we create transferUtility

[code]

[2018-10-18 14:01] simeondrage commented on #1065
I haven't got any logs of this so will need to ask my team to collect this information

[2018-10-18 15:38] markmarijnissen commented on #1067
Yes, I can confirm the proposed workaround solution works.

Thank you for resolving the issue.

Op do 18 okt. 2018 15:25 schreef Bommas <notifications@github.com>:

[2018-10-18 16:41] palpatim commented on #1050
It looks like the issue is related to importing the library as a static library via CocoaPods. Since it's not a framework, the `AWSPinpointVersionString` is never populated. However, even importing it as a framework causes issues, since CocoaPods creates its own umbrella framework for each Pod, and populates it with an unexpected version value (See #1051). The solution proposed by @kwallace-abvio

[2018-10-18 17:08] muellerfr commented on #1067
Reopening this to make sure we implement the change @cbommas is thinking about.

[2018-10-19 05:02] cbommas commented on #1066
Hello @simeondrage @pablogeek

Thanks for posting the code snippet.  I have some suggestions that will help debug this issue - you should look at the task status and take required actions based on the status of the transfer. Here is a code snippet

            let multiPartUploadTasks = transferUtility.getMultiPartUploadTasks().result
            for task in multiPartUploadTasks! {

[2018-10-19 05:18] cbommas commented on #1065
@simeondrage @pablogeek

One of things that jumped out at me in the code snippet in #1066 is that you are creating a separate TransferUtility for each video that you are uploading. I believe that you are using the video key as the name for the TransferUtility session

      AWSS3TransferUtility.register(with: self.configurationAWSfor(video: video)!, forKey: key)

Each time you register a new key u

[2018-10-19 08:06] pablogeek commented on #1065
@cbommas Hey! We have different keys for each video, thats why we create different configurations in `configurationAWSfor` we get those credentials from our backend. We get different credentials in each upload, thats why we need to create a TransferUtility in each upload.

[2018-10-19 16:57] cbommas commented on #1065
@pablogeek
I see. Thanks for clarifying.

I will continue to look for any documentation on how to tweak the NSURL Background session to increase speeds. Here is some interesting info - see the section on background downloads in https://developer.apple.com/library/archive/documentation/Performance/Conceptual/EnergyGuide-iOS/DeferNetworking.html

[2018-10-19 18:32] rohandubal commented on #1020
Hello @gaborcsontos

Can you please provide me with your user pool configuration? Specifically the part about how the users can login.

One alternative which you can try is to use `interactiveAuth` by calling `getSession` and then using the task completion source to provide the username and password and see if it changes the behavior.

I will try reproducing this on my side.

Thanks,
Rohan

[2018-10-19 22:38] rohandubal commented on #1019
Hello @Dellybro

There is a difference between un-authenticated and open API access. My understanding is that you want to use un-authenticated access. Setting it to nil won't allow un-authenticated access.

To get un-authenticated access using un-auth credentials provider, you should use the following code:

[code]

Thanks,
Rohan

[2018-10-19 23:09] yogesh-zendrive commented on #895
This issue still exists in AWS SDK 2.6.31

[2018-10-21 03:49] Manasi-Bhandare-Bose commented on #905
any timeline on this?

[2018-10-22 07:49] simeondrage commented on #1065
Just had another report of this. User was on iOS 11.3.1

[2018-10-22 17:43] #700 closed

[2018-10-22 17:46] Dellybro commented on #1019
Hello Rohan,

I'm not exactly sure how this creates and unauthenticated client. Currently setting nil as credentials provider seems to be working, I've actually created 2 CloudAPIClients and set one as unauthenticated by feeding it a nil credentials provider.

Is there any way we can get in touch? I have the premium package for AWS.

Thanks,
Travis

[2018-10-22 19:51] hipwelljo commented on #1058
@cbommas Have you been able to take a look at this issue?

[2018-10-22 20:30] joelmbell commented on #1043
Have encountered a similar issue as well. Looks callback to the main queue doesn't get executed sometimes.

[code]

[2018-10-23 07:18] tarunseerayash commented on #786
Facing the same issue Android SDK does provide the custom_challenge with getSession API itself but couldn't find the way in iOS. Can you suggest?

[2018-10-24 05:47] jeffjvick commented on #769
@cbommas Thanks for looking at this.  I had looked as well into how iOS priorities background transfers and like you said there is no definitive answer.  I did read though that the isDiscretionary flag set to true is supposed to make things slower as you are telling iOS to leave it up to its discretion of how to prioritize your upload, which appears to always be "low" 😂. So that makes sense with w

[2018-10-24 21:07] RyanCodes opened #1070 "IoTDataManger Subscribe and 3G network condition"
**State your question**

For some reason when I am not utilizing the network conditioner on my standard Wifi connection. My subscribe event calls back with no problem... it subscribes gives a call back with data and I can move on... but if I have the network conditioner on my device set to 3G for example and try to subscribe the callback is never called? Is there a setting in iotdatamanager that o

[2018-10-24 21:53] #1070 closed

[2018-10-24 21:53] RyanCodes commented on #1070
figured it out

[2018-10-25 06:46] cm-wada-yusuke commented on #1045
I'm having the same issue.
Xcode 10.0

[2018-10-25 06:47] wxsdmy opened #1071 "Crash in [AWSMQTTSession drainSenderQueue]"
2018/10/24 12:22:39:926   --------  Exception --------
reson: NSRangeException
Exception name：*** -[__NSArrayM objectAtIndex:]: index 0 beyond bounds for empty array
Exception stack：(
	0   CoreFoundation                      0x0000000184727f10 <redacted> + 252
	1   libobjc.A.dylib                     0x00000001838f5a40 objc_exception_throw + 56
	2   CoreFoundation                      0x0000000184

[2018-10-25 06:51] sajadkhan commented on #1045
At that time I had just updated my Mac OS. I wasn’t able to fix this trying everything, restarting Xcode, reinstalling Pods, Cleaning Project and Build Folder. Then I restarted my Mac and the error went away. I’m not sure but it had to do something with not restarting my computer after OS update. That might not be the case as the update didn’t require a restart, so we can say it was some kind of b

[2018-10-25 06:58] cm-wada-yusuke commented on #1045
In addition,
* I can build and run on simulator.
* I can't build for device. The above error occurred.
Mac OS: Mojave.

[2018-10-25 12:32] delasign commented on #681
https://gist.github.com/delasign/37a0f763c0dad66d4ddc9e681ee5460c

Incase anyone needs a Swift 4.2 version ^

[2018-10-25 14:28] baris-cincik commented on #1045
Okay in my case the problem turned out to be about keychain access. When you are trying to run your app on an actual apple device you are prompted to enter your Mac password to allow keychain access. The first time this happened I accidentally hit "Deny". Once you hit deny you will never be asked to allow keychain access again and have the error above, UNLESS you restart your mac, which fixed the

[2018-10-25 17:31] rohandubal commented on #1019
Hey @Dellybro

We can setup a meeting if required. But I think I understand your case better now. What you have is an open API client (not un-authenticated) which you are accessing. For doing that, the `nil` credentials provider is enough and you have the correct code.

Thanks,
Rohan

[2018-10-26 01:09] palpatim commented on #1050
This is released on 2.6.33. Please let me know if you see any issues with the new version.

[2018-10-26 01:09] #1050 closed

[2018-10-26 01:09] palpatim commented on #1051
This is released on 2.6.33. Please let me know if you see any issues with the new version.

[2018-10-26 01:09] #1051 closed

[2018-10-26 03:08] ForeandAft commented on #510
This appears to have reappeared.  I just downloaded an SDK from API Gateway and this bad line is still in the source code.

[2018-10-26 07:20] iosfitness opened #1072 "AWS custom authentication (AWSCognitoIdentityProviderAuthFlowTypeCustomAuth)"
I would like to integrate custom authentication flow in AWS

I have the below code from the server

[code]

in iOS, I'm following this link https://medium.com/@victorleungtw/aws-cognito-user-pools-with-mobile-sdk-for-ios-using-custom-challenge-5d40a06a3b07

I need to set the auth flow. I referred to AWSCognitoIdentityProvider class and found this

AWSCognitoIdentityProviderInitiateAuthRequest * re

[2018-10-26 16:08] muellerfr opened #1073 "Login"
Issue was originally opened by @bhanuteja501
https://github.com/awslabs/aws-sdk-ios-samples/issues/316

**State your question**

I newly started application(using aws). i didn't getting how to user name and password send to aws cognito . i didn't gettting swift functions exactly. aws tutorial given other pods with new version. here different . please help me. i want to start implement login .

**W

[2018-10-26 16:38] muellerfr commented on #1029
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-10-26 16:38] #1029 closed

[2018-10-26 16:49] muellerfr commented on #510
@ForeandAft, we're tracking the issue here: https://github.com/aws/aws-sdk-ios/issues/916

[2018-10-26 22:51] cbommas commented on #1067
@markmarijnissen
The latest version of the SDK (2.6.33) contains a fix for this issue. Please try this out when you have a moment and see if it resolves the issue.

[2018-10-26 22:55] cbommas commented on #1058
@hipwelljo
I was able to reproduce this issue. l have an update for you in the next few days

[2018-10-27 12:15] cbommas commented on #1060
@pablogeek

Thanks for letting me know. I have tried it on my side as well without much success. In any case, I have put in some defensive code to make sure that the crash doesn't happen in this scenario - I am targeting this fix to be included in the next rev of the SDK. I will post back here once I have confirmation.

[2018-10-27 12:38] cbommas commented on #1057
@mistyleaf

It looks like you are good to go . I will go ahead and close this out - please feel free to reopen if you are still facing issues.

[2018-10-27 12:38] #1057 closed

[2018-10-27 13:03] ssferrazza commented on #1062
@cbommas Any news on this?

[2018-10-27 15:05] pablogeek commented on #1060
@cbommas Thanks! let me know :)

[2018-10-27 15:14] pablogeek commented on #1066
@cbommas hello, thanks for the code snippet, I totally missed this. I'm gonna implement this. Thank!

[2018-10-27 15:20] cbommas commented on #769
@jeffjvick

_Could you check in your scheduler if this is possibly what was happening? (new parts getting started in the background have the discretionary flag set)._

Very nice analysis! I agree with your findings. This is exactly what is happening - The `discretionary` flag is set per session and defaults to `No`.  In my code, I am using the default value when the NSURLSession is created. For tr

[2018-10-27 17:28] cbommas commented on #769
@jeffjvick

Here is an idea that may help get around this - there is a property in the `AWSS3TransferUtilityConfiguration` called `multiPartConcurrencyLimit`. This sets an upper limit in the number of parts that are being uploaded at any given point of time.

Can you adjust that up to accommodate your typical file sizes - if your typical filesize is 50 MB or lesser, then adjust it to at least 10 s

[2018-10-28 06:08] Wavewash opened #1074 "Verbose Logging statement does not report correct successful submitted events"
**Describe the bug**
AWSPinpointEventRecorder.m line 923
AWSDDLogInfo(@"Successful submission of %lu events. Response code: 202", (unsigned long)[[_processedEvents objectForKey:@"removeEvents"] count]);

Always prints "Successful Submission of 0 events. Response code: 202" - even though many events may have been successfully submitted.

I believe this is due to the fact that we're displaying the k

[2018-10-28 19:34] palpatim commented on #1074
@Wavewash Thanks for the detailed bug report! I confirm the behavior, and we'll get a fix in for an upcoming release.

[2018-10-29 09:29] simeondrage commented on #1066
@cbommas we are going to add the checks but we dont have a reliable way to reproduce the issue so we are going to go back to the old SDK for the moment. thanks

[2018-10-29 16:16] muellerfr opened #1075 "not able do to signin, (if it gives wrong details "user does not exits" , if gives true details) getting these issues"
Issue originally submitted by @santhoshappdev at https://github.com/awslabs/aws-sdk-ios-samples/issues/317

**State your question**

 '*** -[Swift._NSContiguousString substringFromIndex:]: Index 9223372036854775808 out of bounds; string length 47'
![screen shot 2018-10-29 at 5 56 07 pm](https://user-images.githubusercontent.com/35039366/47654633-4221b600-dbb1-11e8-9dfb-7462f1d4dd3a.png)

**Which A

[2018-10-29 16:48] cbommas commented on #769
@jeffjvick
Just a quick update - I ran some experiments over the weekend. The speeds are definitely much improved with a higher setting for the `multiPartConcurrencyLimit`. Let me know how it goes on your side once you've had a chance to try it out.

[2018-10-29 17:01] bennnjamin opened #1076 "Here's how to uses PromiseKit with iOS SDK"
I've done some work on using Promises with this SDK, and it makes working with AWSTask/Swift much more readable for those interested. I got it working on an issue in their repository here: https://github.com/mxcl/PromiseKit/issues/951 and am including the code here. Maybe this could be useful to others

[code]

In order to use, you need to start a promise chain with a void promise like so:

[code]

[2018-10-29 17:17] kwallace-abvio commented on #1050
AWSPinpointVersionString no longer causes a CocoaPods linking issue as of 2.6.33.  Thanks!

[2018-10-29 22:30] palpatim commented on #459
As @ObjColumnist pointed out in their answer above, we do pre-build binaries, which should greatly reduce local compilation times. Unfortunately, without restructuring the package into git submodules (each of which would require its own Github repo), we can't support individual SDK compilation.

[2018-10-29 22:30] #459 closed

[2018-10-29 23:37] ghost opened #1077 "Clock skew not being handled by didCompleteWithError method"
**Describe the bug**
When making a request on a device with wrong time, the response comes with the following error `Signature not yet current: 20130909T170846Z is still later than 20130909T170823Z (20130909T170323Z + 5 min.)`.

**To Reproduce**
Steps to reproduce the behavior:
1. Put your phone clock back 20 minutes
2. Try to make a request to an AWSLambda instance

**Which AWS service(s) are aff

[2018-10-30 00:44] kvasukib commented on #1077
@ghearly Sorry for the inconvenience. Can you post a code snippet that reproduces the issue?

[2018-10-30 07:31] iosfitness commented on #1072
@kvasukib Is there any sample which I can follow to achieve this ?.
Also, I assume I might need to use Lambda triggers for my requirement.

I'm referring to the below links :

https://docs.aws.amazon.com/cognito/latest/developerguide/cognito-user-identity-pools-working-with-aws-lambda-triggers.html#cognito-user-identity-pools-working-with-aws-lambda-triggers-using-lambda

https://docs.aws.amazon.c

[2018-10-30 07:42] bhavinmdesai commented on #1071
I am also having similar kind of exception for my live app users. It has happened sometime to our internal test users as well but we don't have exact steps to reproduce. Here is my stacktrace:

[code]

[2018-10-30 14:13] palpatim commented on #1076
Thanks for this contribution @bennnjamin. I'm adding the "closing soon if no response" label just so this issue doesn't stay open past a week from now, but it will remain in the archive and searchable. It also looks like you're adding it to the PromiseKit snippets repo for others to find, so it should be discoverable that way as well.

[2018-10-30 14:54] #1046 closed

[2018-10-30 17:48] BillBunting commented on #1054
I also notice that resumeSessionWithCompletionHandler is called twice.  Any update on when this will be resolved?

[[AWSSignInManager sharedInstance] resumeSessionWithCompletionHandler:^(id  _Nullable result, NSError * _Nullable error) {
// CALLED TWICE WITH THE SAME RESULT
}

[2018-10-30 18:21] palpatim commented on #1045
@sajadkhan are you still having the problem you reported? If so, are you able to provide a minimal sample code project that demonstrates this problem? I'm able to build and archive for all of "Generic", simulator, and device. The most likely problem is some variation on what @baris-cincik pointed out--a local environment issue that is preventing code signing from working as expected.

[2018-10-30 18:22] palpatim commented on #1045
@cm-wada-yusuke As I noted above, I am able to build for device & simulator, and archive for all, on Xcode 10.

Being unable to build for device is very often a signing issue, which the SDK project, as a CocoaPod, Carthage, or framework dependency, shouldn't impact. Are you able to build your app for device if you remove all references to the AWS SDK? Conversely, are you able to create a barebones

[2018-10-31 07:29] jeffjvick commented on #769
@cbommas

I was able to try increasing the `multiPartConcurrencyLimit`.  I had considered this but I thought I read somewhere that this had a max limit of 5.  Anyway, for our use case the uploads are in the 100's of MB so we would need a very large limit to get everything initiated in the foreground.  I tried setting it to 999 and tried some files around 200 MB and it seemed to work well (as in, n

[2018-10-31 18:15] eclaires opened #1078 "AWSCognito tvOS support"
**Which AWS Services is the feature request for?**
tvOS support for AWSCore, AWSCognito, AWSKinesis

**Is your feature request related to a problem? Please describe.**
When I try to include the pods for the tvOS target I get this
[!] The platform of the target `BTVtvos` (tvOS 11.0) is not compatible with `AWSCognito (2.6.30)`, which does not support `tvos`.
[!] The platform of the target `BTVtvos`

[2018-10-31 18:54] kvasukib commented on #1071
Hi @wxsdmy @bhavinmdesai

Looking at the drainSenderQueue implementation, https://github.com/aws/aws-sdk-ios/blob/master/AWSIoT/Internal/MQTTSDK/AWSM...
we remove the object from the queue until the queue is empty. I see two callers to this method 1) sending a message 2) the timer handler. In addition to this
the encoder dequeues the element at the front of the queue: "- (void)encoder:(AWSMQTTEnco

[2018-10-31 21:58] jeffjvick commented on #769
@cbommas

Hi, also I have another follow-on question for you.  Why did you implement a background scheduler if it seems you can just create all the NSURLSession parts at once and let it do the scheduling?  I assume to limit the number of concurrent parts uploading but it seems even in the foreground there is some sort of internal limit placed on this.

[2018-11-01 06:02] cbommas commented on #1058
@hipwelljo

Just a quick update - I have a fix for this that I am currently testing. Will post back after I finish my testing and get the fix into the release pipeline.

[2018-11-01 14:39] simeondrage commented on #1065
We have 2 ways to getting the upload started
1) turning the device off and on
2) turning the wifi off , hard quit the app and relaunch, then turn wifi back on
neither are 100% reliable but between them we are gettingstuck uploads started

[2018-11-01 17:10] sshilko opened #1080 "Pinpoint Analytics - PN Campaigns - Once - Sessiton heat map shows sessions in past & future, opens for silent pushes"
Hello, we just sent out a campaign A (push notifications channel only to iOS client)
"Once" type-schedule campaign A: created at 16:00 with Scheduled time 17:00 (w/o respect local time) with around 80k iOS APNS (non sandbox) segment endpoints

We now (at 17:30) open AWS Console - Pinpoint - Analytics - Campaigns - select campaign A
and see on "Campaign session heat map" that there are:

- more tha

[2018-11-01 20:49] muellerfr commented on #1078
Hello @eclaires,

Thank you for submitting the feature request. I will take this to the team, and update the issue thread with updates.

[2018-11-01 21:29] eclaires commented on #1078
Thank You!

[2018-11-02 07:31] Jane930525 commented on #769
Thank you for the detailed explanation.

[2018-11-02 07:46] iosfitness commented on #1072
@kvasukib Did u get a chance to look into this issue?

[2018-11-02 11:22] iosfitness opened #1081 "Custom Challenge flag in getSession method call (iOS)"
**Which AWS Services is the feature request for?**
AWSCognito services in AWS on iOS platform

**Is your feature request related to a problem? Please describe.**
 More details can be found here #1072

**Describe the solution you'd like**
Need a flag which can help to edit isInitialCustomChallenge

**Describe alternatives you've considered**
I tried to manually set the flag to **YES** in AWS librar

[2018-11-02 16:32] ghearly commented on #1077
@kvasukib This is the AWSAPIGatewayRequest we are using:
`AWSAPIGatewayRequest *request = [[AWSAPIGatewayRequest alloc] initWithHTTPMethod:@"POST"
                                                                           URLString:@"/users"
                                                                     queryParameters:queryParameters

[2018-11-02 17:40] behrooziAWS commented on #1072
How much of the medium link did you follow?  Implement the `startCustomAuthentication` method of the [AWSCognitoIdentityInteractiveAuthenticationDelegate](http://aws.github.io/aws-sdk-ios/docs/reference/Protocols/AWSCognitoIdentityInteractiveAuthenticationDelegate.html#//api/name/startCustomAuthentication) protocol and set it as a [delegate](https://github.com/aws/aws-sdk-ios/blob/master/AWSCognit

[2018-11-02 18:22] Dellybro commented on #1019
@rohandubal

Setting the credentials provider to nil and obtaining it using default client as so does not work, and it actually provides only SOME users with this error

![image from ios](https://user-images.githubusercontent.com/10732096/47933298-7935e700-de91-11e8-86f0-ce72f583dbe6.jpg)

when i attempt to use clientForKey:cloudLogicKey I then get this error.
![Uploading Screen Shot 2018-11-02 at

[2018-11-02 19:06] fyredave commented on #1019
Hi, I'm a fellow developer here with Dellybro. There seems to be miscommunication. The issue is with an unauthenticated APIGateway client. We aren't using the Mobile Hub user pools, nor Cloud Logic.

[2018-11-02 19:33] palpatim commented on #1052
Hi @SreekanthGudisi,

We don't currently offer a UI control for displaying buttons like those in a custom view. You can craft your own UI components by destructuring the response like so:

[code]

You can find more info in the [API Documentation](http://aws.github.io/aws-sdk-ios/docs/reference//Classes/) (search for "AWSLex" to find the relevant classes.

Hope this helps.

[2018-11-04 22:32] ltblueberry0 commented on #1045
I had a quite similar problem. Restarting the computer solved the problem.

[2018-11-05 00:59] cm-wada-yusuke commented on #1045
@palpatim
I solved it by restarting my computer. If I encounter similar problems again, I will try to build on skeleton project according to your advice. Thank you.

[2018-11-05 05:59] omerwaqaskhan commented on #1043
Any solution?

[2018-11-05 07:29] iosfitness commented on #1072
@behrooziAWS I have I have implemented all of the delegate methods as per the link
https://medium.com/@victorleungtw/aws-cognito-user-pools-with-mobile-sdk-for-ios-using-custom-challenge-5d40a06a3b07

Below is my implementation :

AWS Handler
[code]

Login class
[code]
Below is the observation

[code]

[2018-11-05 15:47] palpatim commented on #1045
Thanks for the followups, all. It sounds like this issue is transient, so I'm going to close this. Feel free to open a new issue if you discover repro steps for an issue that cause this issue to recur.

[2018-11-05 16:20] palpatim commented on #916
Sorry for the delay on this folks. We're preparing a fix to add `@objcMembers` to generated model classes, which should fix this issue. I don't have an ETA just now, but I'll update this thread when it's deployed.

[2018-11-05 17:42] cdellinger opened #1082 "Sign In screen not fully rending"
**Describe the bug**
I'm working with AWS Amplify on iOS to utilize the out of the box user authentication screens but unfortunately they are not fully rendering as shown below. I am using the code from the Amplify tutorial at https://docs.aws.amazon.com/aws-mobile/latest/developerguide/add-aws-mobile-user-sign-in.html. I'm using XCode 10 and I've tried numerous device emulators on v12 and v11.4 o

[2018-11-05 17:45] rohandubal commented on #1082
Hello @cdellinger

This would happen if you do not have any sign in providers in your `awsconfiguration.json`.

You need to add at least 1 sign-in provider among `UserPools`, `Google` or `Facebook` for the UI to render. Do you have any of these in your `awsconfiguration.json` file?

[2018-11-05 18:27] alexander-aernos opened #1084 "5000 memory leaks on registering AWSS3 client with config"
I've been trying to figure out for the past two days why this simple setting up of a AWSS3 configuration could possibly create 5000+ memory leaks.  This is the the code I have running in AppDelegate:

    func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?) -> Bool {
        // SetUp AWS Config
        let myIdentityPool

[2018-11-05 22:53] palpatim commented on #313
We are closing this request for the time being.

1. Swift Package Manager [doesn't support iOS modules like UIKit](https://github.com/apple/swift-package-manager/blob/master/Documentation/Usage.md#depending-on-apple-modules). Workarounds exist to allow SPM-managed dependencies to be used in iOS apps, but they currently are fairly cumbersome.
2. Our SDK is intended to be used in an iOS app and as s

[2018-11-05 23:49] palpatim commented on #1030
There are actually two somewhat related requests here:

1. Enable the SDK to run in a server environment
1. Migrate the SDK to Swift

The current SDK is intended for a mobile use case and as such has strong dependencies on mobile frameworks like UIKit. Simply migrating the SDK to Swift, while something we do want to accomplish in the future, would not fulfill that use case.

I'm investigating the

[2018-11-06 01:06] desokroshan opened #1086 "Polly running on XCUITest with no audio sound"
I made a small test app using Polly to speak some text and it plays well. I then moved the same piece of code to XCUITest, there is no compile or run-time error when the code runs through, but there is no sound came out. Any clue what to look for to solve this problem? Just want to let you know that XCUITest is running on a background thread.

[2018-11-06 01:07] desokroshan commented on #1086
This issue was originally opened by @jingyul.

[2018-11-06 14:21] #1076 closed

[2018-11-06 18:25] muellerfr opened #1087 "Cognito Auth with S3 bucket download"
Originally opened by @gasparuff  at https://github.com/awslabs/aws-sdk-ios-samples/issues/318

**State your question**

I have setup Cognito Auth like in the example, although I cannot download an image directly after logging in. I'm always getting this unauthenticated access is not allowed..." directly after login. I'm using the S3 TransferUtility for this. When I close the app from the backgroun

[2018-11-07 09:19] rivkiG opened #1088 "AWSS3TransferUtility uploadFileUsingMultiPart in background returns HTTP load failed (error code: -1001"
hi, I am working on an app that uploads also in the background in worked fine until I updated the WAS framework to 2.6.31 and now I get lots of this error:
Task <D223536B-8BBD-4EEA-96D2-AA668C3B8592>.<1049> load failed with error Error Domain=NSURLErrorDomain Code=-1001 "The request timed out." UserInfo={_kCFStreamErrorCodeKey=-2102, NSUnderlyingError=0x281451530 {Error Domain=kCFErrorDomainCFNetw

[2018-11-07 16:17] Liab-1337 commented on #1045
**

**

[2018-11-07 17:08] cbommas commented on #1088
@rivkiG

Sorry to hear that you are running into issues. Can you post a code snippet from your side - especially around how you are instantiating the TransferUtility object?

[2018-11-07 17:14] sunchunqiang commented on #1087
Hi @gasparuff

Which version of aws sdk are you using. Can you provide some code snippet for us to reproduce the issue?

[2018-11-07 17:34] cbommas commented on #769
@jeffjvick

_Why did you implement a background scheduler if it seems you can just create all the NSURLSession parts at once and let it do the scheduling?_

The thinking essentially was to provide the controls to the developer on how "rich" of a mix they wanted to run using the 'multiPartConcurrencyLimit' to tune. The one thing that did not occur to me was the impact of the OS prioritization logic

[2018-11-07 17:40] cdellinger commented on #1082
That was exactly it, I didn't have a section for CognitoUserPool.  Thanks for your help, I greatly appreciate it.

[2018-11-07 17:59] #1082 closed

[2018-11-07 18:32] rivkiG commented on #1088
thank you for your answer,
this is my AWSS3TransferUtility object:
 AWSS3TransferUtility *transferUtility = [AWSS3TransferUtility S3TransferUtilityForKey:kCellularConfigurationName];
    [ transferUtility enumerateToAssignBlocksForUploadTask:^(AWSS3TransferUtilityUploadTask * _Nonnull uploadTask, AWSS3TransferUtilityProgressBlock  _Nullable __autoreleasing * _Nullable uploadProgressBlockReference,

[2018-11-07 19:36] rivkiG commented on #1088
its a mistake it needed to be 30000: 50*60
could that be the problem?

[2018-11-07 19:48] cbommas commented on #1088
That certainly is a contributing factor. Are you able to try it out with the longer timeout and see if that helps?

[2018-11-07 19:57] rivkiG commented on #1088
yes im doing it now and I will update you

[2018-11-07 20:01] rivkiG commented on #1088
I still get this error:
Task <39B990DD-A36B-4AB8-85A1-073320A39404>.<563> load failed with error Error Domain=NSURLErrorDomain Code=-1001 "The request timed out." UserInfo={_kCFStreamErrorCodeKey=-2102, NSUnderlyingError=0x28062ae20 {Error Domain=kCFErrorDomainCFNetwork Code=-1001 "(null)" UserInfo={_kCFStreamErrorCodeKey=-2102, _kCFStreamErrorDomainKey=4}}, _NSURLErrorFailingURLSessionTaskErrorKe

[2018-11-07 20:54] cbommas commented on #1088
Some more questions
1) How big is the file you are trying to transfer and how long does it typically take?
2) Are you running this on a device or Simulator?
3) Are you on WiFi or Cellular?

[2018-11-08 07:20] rivkiG commented on #1088
1. 1.5 MB it takes a few seconds
2. I'm running it on a device.
3. I'm on wifi.

it works well when the app is in the front ground but in the background after Background expired this error starts.

[2018-11-08 15:03] palpatim commented on #1074
This is fixed in v2.6.34

[2018-11-08 15:03] #1074 closed

[2018-11-08 15:59] devTechi opened #1090 "Typo in AWSCognitoAuth.m assigning signInRedirectUri"
Hello,

There is a typo in creation of the AWSCognitoAuth.m file. It prevents the user from connecting to Cognito because of a wrong SingIn-Redirecting url.

In order to work as expected please change the [line 1005](https://github.com/aws-amplify/aws-sdk-ios/blob/master/AWSCognitoAuth/AWSCognitoAuth.m#L1005) from

[code]

to

[code]

Please note the change from `signInRedirectUri:signOutRedirectU

[2018-11-08 16:31] cbommas commented on #1071
@wxsdmy @bhavinmdesai

The latest rev of the iOS SDK (2.6.34) contains a fix for this issue. Can you update to the latest rev and let us know how it goes?

[2018-11-08 16:36] cbommas commented on #1062
@ssferrazza

Sorry for the delay on this topic. I looked into it and expected to find the details in the userInfo object that is attached to the error, but saw that was null. Will investigate further and get back to you.

[2018-11-08 16:39] cbommas commented on #1058
@hipwelljo
The latest rev of the SDK 2.6.34 contains the fix for this issue. With this fix, when the app is force closed, the NSURLSession task associated with the transfer is canceled by the OS and the TransferUtility Task will move to an Error status.

Please give this a try and let me know how it goes.

[2018-11-08 16:41] cbommas commented on #1060
@pablogeek

The defensive code is included in the latest rev of the SDK (2.6.34) - Please give this a try when you can and let me know.

I am going to go ahead and close this issue ( given that it has been difficult to reproduce and therefore validate). Please feel free to reopen if you see this issue is still occurring.

[2018-11-08 16:41] #1060 closed

[2018-11-08 16:47] cbommas commented on #1066
@simeondrage @pablogeek
I was able to reproduce at least one instance of where the transfer was being marked as complete erroneously.

This happens in the following sequence - a) An upload or download transfer is initiated b) the app is force-closed c) the NSURLSession task associated with the upload/download is canceled by the OS and marked as "complete with errors" d) App is restarted and the Tr

[2018-11-08 17:50] desokroshan opened #1092 "Token renew token after expiration"
According to https://docs.aws.amazon.com/cognito/latest/developerguide/amazon-cognito-user-pools-using-tokens-with-identity-providers.html#amazon-cognito-user-pools-using-the-refresh-token

The Mobile SDK for iOS and the Mobile SDK for Android automatically refresh your ID and access tokens if there is a valid (non-expired) refresh token present, and the ID and access tokens have a minimum remaini

[2018-11-08 17:53] desokroshan commented on #1092
Originally opened by @evgzor [here](https://github.com/awslabs/aws-sdk-ios-samples/issues/319).

[2018-11-08 19:15] palpatim commented on #1090
@devTechi Thanks very much for finding this, and for so quickly identifying the fix!

I also appreciate that you took it upon yourself to fix as part of PR #1091. Since that PR is quite a bit larger than just this fix, and since this fix represents a regression, we're going to fix the regression on a smaller, targeted commit so we can give your PR more devoted attention without the time pressure o

[2018-11-08 19:22] rex-remind101 commented on #313
@palpatim for many of us the intent isn't to use SPM for iOS but for server side systems on AWS.

I understand that currently this SDK is intended to be used on iOS only and that currently, from what I can tell, it is bound to Obj-C and therefor not capable server-side. On that note, I'm only stating this to voice the needs of many in the Swift community. Many of us hope that some collaboration be

[2018-11-08 19:33] ssferrazza commented on #1062
@cbommas

Thanks for the feedback.
I think I've located the cause for this and hacked a temporary workaround. In `AWSURLSessionManager.m`  is a method called `- (void)URLSession:(NSURLSession *)session task:(NSURLSessionTask *)sessionTask didCompleteWithError:(NSError *)error` and there the error object will be set with the following lines
`if (error) {
                        delegate.error = err

[2018-11-08 20:22] palpatim commented on #313
Thanks for the note @rex-remind101. We're investigating the request to make a server-side Swift SDK: please see #1030.

[2018-11-08 20:59] pablogeek commented on #1066
@cbommas This sounds great! I will give it a try
thanks.

[2018-11-08 22:36] devTechi commented on #1090
Hi @palpatim,
you're welcome.

Will you make the changes by yourself or shall I create another isolated PR?

[2018-11-08 22:59] palpatim commented on #1090
Sorry for the confusion, we have made the changes and are preparing a release.

[2018-11-09 02:11] cbommas commented on #1088
@rivkiG

A suggestion and a question.
1) Suggestion: have you implemented the `handleEventsForBackgroundURLSession` method in you `AppDelegate` as mentioned here https://docs.aws.amazon.com/aws-mobile/latest/developerguide/how-to-transfer-files-with-transfer-utility.html?
2) Question: What do you mean by "Background Expired" - Is the app being terminated in the background by the system or are you

[2018-11-09 13:32] palpatim commented on #1090
This is fixed in 2.6.35

[2018-11-09 13:32] #1090 closed

[2018-11-09 15:00] cbommas commented on #905
@Manasi-Bhandare-Bose

I don't have a specific timeline that I can share at this point. This is in our backlog and waiting for prioritization. I will post back on this thread or through a general forum announcement when I have an update.

[2018-11-09 17:21] hipwelljo commented on #1058
Confirmed this is working, thanks!

[2018-11-09 17:21] #1058 closed

[2018-11-09 18:05] rromanchuk opened #1095 "awspinpoint"
**State your question**

**Which AWS Services are you utilizing?**

**Provide code snippets (if applicable)**

**Environment(please complete the following information):**
 - SDK Version: [e.g. 2.6.29]
 - Dependency Manager: [e.g. Cocoapods, Carthage]
 - Swift Version : [e.g. 4.0]

**Device Information (please complete the following information):**
 - Device: [e.g. iPhone6, Simulator]
 - iOS Versio

[2018-11-09 18:05] #1095 closed

[2018-11-09 19:33] palpatim commented on #1030
After reviewing with the team, there's not really a good way for the mobile SDK team to make this happen. I've gone ahead and let our internal server product teams know of the community interest in a Swift server-side SDK.

[2018-11-09 19:33] #1030 closed

[2018-11-09 21:18] rromanchuk commented on #740
This really still bothers me. I have a bunch of crashes related to `AWSPinpoint`, so today i wanted to go back and make sure it's not a result of SDK drift. I still see this in the official pinpoint integration. For example, here is the integration for analytics.

[code]

Here's my beef with this:
- I don't want to be holding an instance of this client in my app delegate
- It isn't clear (besides

[2018-11-09 21:20] rromanchuk commented on #740
- Also, it would be nice if you offered a swizzling option for notification setup :)

[2018-11-09 23:27] rromanchuk opened #1097 "Velocity of mobile landscape on aws is not fun as a developer and existing users"
I have been using aws for mobile for a very long time. Before mobile serverless software suites were a "thing". My largest use case was interfacing aws services with cognito to provide temporary  unauthenticated credentials backed by IAM policies.  I noticed it's been getting increasingly more difficult and time consuming to keep myself up to date as amazon scrambles to repackage, remarket, and re

[2018-11-10 04:24] #1097 closed, assigned to palpatim

[2018-11-10 10:24] eimantas opened #1098 "Handling duplicate header fields"
I am exploring [aws rest api](https://docs.aws.amazon.com/general/latest/gr/Welcome.html) (and particularly [how to sign requests](https://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html)) by using [its test suite](https://docs.aws.amazon.com/general/latest/gr/signature-v4-test-suite.html) to see if my code generates proper canonical request and string to sign as well as proper

[2018-11-11 10:48] rivkiG commented on #1088
yes, I call handleEventsForBackgroundURLSession
and the  "Background Expired"  - It's being terminated in the background by the system. but i see that it happens right when I go to background it has nothing to do with the background system - my mistake.
I see also that I get -1005 error:
 Task <27833976-A1CA-4049-A307-08A8C8A039D3>.<3129> load failed with error Error Domain=NSURLErrorDomain Code=-

[2018-11-12 01:34] r-plus opened #1101 "git tag for documentation(`docs_2.7.0`) was detected by carthage as latest version."
Hi.

`docs_2.7.0` tag was detected by carthage as latest version since `docs_X.X.X` git tag was published.

[code]

`docs_X.X.X` tag is not include source code, so its build will failed.
Carthage [skip leading any characters](https://github.com/Carthage/Carthage/blob/0.31.2/Source/CarthageKit/Version.swift#L64) before `0-9.`, so `docs_2.7.0` was interpreted as 2.7.0 semantic version.

I suggest `d

[2018-11-12 05:31] rohandubal commented on #1101
Thanks for reporting this @r-plus

As an immediate step, I have removed the documentation tags so that Carthage does not fail. I will tag the documentation with the correct format once I test it with Carthage.

I will update the thread once we have tagged the documentation with the right tag.

Thanks,
Rohan

[2018-11-12 15:35] palpatim commented on #1098
Hi @eimantas,

This repository is for the AWS Mobile SDK, which abstracts those requests into library calls and provides additional functionality for some services. Nonetheless, I'll see if I can answer your question.

I think you're asking about cases like `get-header-key-duplicate`, which includes the raw request payload:

[code]

As you allude to, Foundation models its HTTP header fields as a d

[2018-11-12 15:51] eimantas commented on #1098
Thanks @palpatim, this definitely has helped. So in conclusion - I should just generate uniquely named headers with order dependent values in canonical request, which goes into string to sign and then just sign it. As far as I _should_ be concerned, the Amazon AWS backends will recognize either of the options:

[code]

[code]

Thanks again for your answer!

[2018-11-12 18:01] muellerfr commented on #1052
This issue has been closed because of inactivity. Please open a new issue if are still encountering problems.

[2018-11-12 18:01] #1052 closed

[2018-11-12 22:34] palpatim commented on #1097
Thanks for your candid and detailed feedback @rromanchuk. As you may have noticed, we are attempting to consolidate our SDK documentation under a single site, and updating it to use our currently-recommended best practices. You can find the new documentation for the iOS SDK [here](https://aws-amplify.github.io/docs/ios/start).

However, that documentation doesn't really address your underlying con

[2018-11-13 00:40] nneuberger1 commented on #1053
I'm interesting in understanding when this would be available.

I noticed that there are duplicate files with the same names between the two API's. So I believe I could have a workaround.  I forced a specific library to pull the specific from the corresponding class.

#import <AWSIot/AWSMQTTSession.h>
#import <AWSIot/AWSSRWebSocket.h>

Here's the rough files I had to modify.

AWSIoTDataManager.m
A

[2018-11-13 13:37] cbommas commented on #1088
@rivkiG

When you use Cognito for authentication, you are unfortunately bound by the 50 minute time limit for `timeoutIntervalForResource`.

Here are some options that might help you get around the situation that you are encountering
* increase the value for `multiPartConcurrencyLimit` from 1 to a higher value, say 5. This controls how many parts get uploaded in parallel. So for a 50 MB file, you

[2018-11-13 19:16] jorgej-ramos opened #1103 "forgotPassword when keychain is cleaned on logout"
**State your question**
Hi all. I'm trying to use AWS Cognito on a iOS app and I can signup users, verify their emails with my own UI and everything seems to be ok. But when I perform a signout using `signOutAndClearLastKnownUser()` method, and everything on keychain is cleared, I cannot begin the forgotPassword cycle. The reason is so simple: this app doesn't use `username` for identify users but

[2018-11-14 05:58] rivkiG commented on #1088
thank you for your ideas
do you have a solution may be for the connection issue?

[2018-11-14 13:04] Mazyod opened #1104 "Carthage Swift Version Mismatch in Binary Downloads"
**Describe the bug**
Running `carthage bootstrap --platform iOS --cache-builds` downloads the AWS frameworks binary, but rejects it due to Swift version `4.0.3` mismatch with local Swift version of `4.2.1`.

**To Reproduce**
1. Use Xcode 10.1 as the primary version on the machine
2. Run `carthage bootstrap --platform iOS --cache-builds`

**Which AWS service(s) are affected?**
Latest

**Expected be

[2018-11-14 17:52] desokroshan opened #1105 "Use of AWSCognitoIdentityUserAttributeType"
Under what circumstances do you intend the developer use **AWSCognitoIdentityUserAttributeType** vs **AWSCognitoIdentityProviderAttributeType**?

**Background:**

It could be that I am misunderstanding, but it would appear that the **getDetails** method of **AWSCognitoIdentityUser** would return a response containing attributes of **AWSCognitoIdentityUserAttributeType** but instead the response co

[2018-11-14 18:01] desokroshan opened #1106 "enable sharing of the KeyChain across access groups | iOS Extension (Share Extension)"
Hello,
I want to check is there a way we can getSession() in iOS Extension (Share Extension). As I need to access session token for my api calls. It is again loading Login View Controller while it should give same Identity. Like how I can enable sharing of the  KeyChain across access groups.

I looked into  AWSCognitoIdentityUser.m and in this function
-(AWSTask<AWSCognitoIdentityUserSession*> *)

[2018-11-14 18:08] desokroshan opened #1107 "Cannot find executable for CFBundle ... AWSAuthUI.bundle"
Following the examples laid out (below) I'm getting an error when attempting to login to AWS Cognito.  This issue seems similar to #246 but I'm using Cognito, not Google.  For info, I'm using eu-west-1.  I've found in the past some of the samples seem to be fixed to us-east-1.

Example:
https://docs.aws.amazon.com/aws-mobile/latest/developerguide/getting-started.html
https://docs.aws.amazon.com/aw

[2018-11-14 18:17] desokroshan opened #1108 "'resumeSessionWithCompletionHandler' can call the 'completionHandler' more than once"
PS I forgot to mention that I noticed the 'resumeSessionWithCompletionHandler' can call the 'completionHandler' more than once.  eg.  If I resume with google, and since the delegate is asynchronous, first I see the completionHandler called (not logged in) and then a short while later it calls back from the CompleteGLogin with loggedIn true.  Probably this is intended behavior,  but maybe it needs

[2018-11-15 00:56] sunchunqiang commented on #1104
Hi Mazyod.
Sorry for the inconvenience caused. This is caused by that the carthage framework is built with xcode 9.2 and we cannot generate a framework that can be compatible to all version of xcode. We are still looking for a solution for this. For now, please use  "--no-use-binaries" parameter in your carthage command.

[2018-11-15 06:46] omerwaqaskhan commented on #1043
Is there any solution to it ?

[2018-11-15 06:51] rohandubal commented on #1043
Hello @omerwaqaskhan

We will look into this issue soon.

I would like to point that we released a new SDK (2.6.35+) which now supports SFAuthenticationSession which is the recommended way of handling Web Authentication. Could you please try 2.6.35 and tell if it resolves your issue?

In the meanwhile, we will try to reproduce this on our side.

Thanks,
Rohan

[2018-11-15 06:52] rohandubal commented on #1043
Sorry, closed by mistake. Re-opened.

[2018-11-15 06:56] omerwaqaskhan commented on #1043
Hi @rohandubal

Sure I will look in to SFAuthenticationSession but could you please confirm if it goes smooth with Cognito?

Thanks
Omer

[2018-11-15 10:22] plafue opened #1111 "AWSHealth API Coverage"
Hello! Are there any plans to offer an API to interact with [AWSHealth](https://docs.aws.amazon.com/health/latest/APIReference/Welcome.html)?

**Environment**
 - SDK Version: 2.7.0
 - Dependency Manager: Cocoapods
 - Swift Version : 4.2.1

Thank you very much in advance

[2018-11-15 17:23] cbommas commented on #1111
@plafue

I am not aware of any plans to add support in the iOS SDK for AWSHealth. I will bring it our product team for prioritization. Will loop back once there is more  information.

[2018-11-15 18:37] zigfreid5 commented on #975
Or better yet - not require an awsconfiguration.json and let me define different environment configuration ids in code so I can provide them dynamically in initialization

[2018-11-15 20:40] codeslubber commented on #1045
Omg, is this how you guys do issues?? 'oh sounds like a bunch of people have this problem, but since none of them presented me with a working demonstration, I'm gonna just close this up...'

[2018-11-15 21:49] zigfreid5 commented on #975
@muellerfr Also, why close the thread? If it's on the backlog it should remain open until added to the SDK. It might be beneficial to allow for other input on how it could be implemented. For example, maybe supporting different filenames isn't the best route. I'm deploying three different targets and using preprocessor flags to determine the proper environment. I'd way rather pass in additional pa

[2018-11-16 01:36] Dellybro commented on #975
I think that idea is a pretty good one, passing in the environment as a string. @zigfreid5

The environment should contain the cognito pool Id credentials provider and identity manager. This way for people with setups like mine, who's API isn't the only difference between environments, will be able to change those values as well!

[2018-11-16 02:08] zigfreid5 commented on #975
@Dellybro Yeah, for sure. What I intended to say was that the default environment would be used as a fallback so you wouldn’t have to specify every parameter for every environment if they didn’t vary.
At least that’s how it would work in my head. 😁

[2018-11-16 02:34] muellerfr commented on #975
Reopening the issues until the feature request has been implemented.

[2018-11-16 02:43] muellerfr commented on #1045
Hi @codeslubber,

sorry to hear that you are running into this issue also. I am reopening the issue. We have been unable to reproduce the issue ourselves, which is why we are asking for repro steps. It is not even clear that this is an issue with the AWS SDK for iOS or rather with Cocoapods.

If you can provide any additional information that would help us to reproduce and debug the issue it would

[2018-11-16 05:41] rohandubal commented on #1043
@takumi-sria @joelmbell  @omerwaqaskhan  This issue is resolved in SDK version `2.7.2`

Please try it and let us know if you face any further issues.

Thanks,
Rohan

[2018-11-16 05:41] #1043 closed

[2018-11-16 05:43] rohandubal commented on #1026
Hello @chapinmark

This issue is resolved in SDK version `2.7.1+`

Please use the `tokenClaims` property to access the claims where you can cast it to appropriate type.

Thanks,
Rohan

[2018-11-16 05:43] #1026 closed

[2018-11-16 05:44] rohandubal commented on #1001
Hello @anupsarode @lucianboboc @pothunoorisk

We have released SDK version `2.7.2` which addresses this issue.

Please update the SDK and let us know if you continue experiencing issues.

Thanks,
Rohan

[2018-11-16 05:48] rohandubal commented on #1019
Hello @Dellybro @fyredave

We recently released an updated version of `AWSMobileClient` in SDK version `2.7.0+`  which offers a declarative API for operations like signUp, signIn and also offers direct token access and auto refresh when required. Could you please update to use AWSMobileClient and see if it resolves your issue?

You can find the documentation here: https://aws-amplify.github.io/doc

[2018-11-16 05:50] rohandubal commented on #893
Hello @pothunoorisk,

We recently released an updated version of `AWSMobileClient` in SDK version `2.7.0+` which offers a declarative API for operations like signUp, signIn and also offers direct token access and auto refresh
 of AWSCredentials and UserPool tokens when required. Could you please update to use AWSMobileClient and see if it resolves your issue?

You can find the documentation here:

[2018-11-16 09:18] spencerkohan opened #1112 "Custom IoT Authorizer for iOS SDK?"
**Which AWS Services is the feature request for?**

iOS SDK: AWSIoT component

**Is your feature request related to a problem? Please describe.**

Currently we are using a custom IoT authorizer for our system, and there does not seem to be support to access this (i.e. to get a thing shadow, to subscribe to MQTT topics) using the iOS SDK.

Custom IoT authorizers are a [supported, documented feature

[2018-11-16 16:03] jamesingham opened #1113 "Customising the Auth view using AWSMobileClient"
I have just updated my project to use use AWSMobileClient (2.7.1). I am able to sign in using credentials for a Cognito User Pools user successfully like so:
[code]

When I run this and the user is authenticated, I am then able to call `AWSMobileClient.sharedInstance().getTokens()`.

However I need to be able to customise the login view. So I found a section in the [documentation](https://aws-ampl

[2018-11-16 22:32] muellerfr commented on #1112
Hello @spencerkohan,

we'll take this a feature request and repot back when it's implemented.

[2018-11-17 00:04] Phoenix7351 commented on #1045
Having this issue as well.

[2018-11-17 00:07] codeslubber commented on #1045
Thanks @muellerfr, we resolved this yesterday. I will write up an issue about what fixed it for us. In short: we had to tweak the settings so that the unauth'ed account would not be used while waiting for the user account to auth.

[2018-11-17 01:18] muellerfr commented on #1045
@codeslubber that's great news. Please let us know the details, so we can prepare a fix.

[2018-11-17 04:01] rohandubal commented on #1113
Hello @jamesingham

Sorry that you are having issues using `AWSMobileClient`. The issue which you were facing regarding customization of UI is fixed in the documentation. The API was incorrectly documented.

The correct code(which should be updated in documentation) is:

[code]

Regarding the federation, if you use the above API, the federation is done automatically behind the scenes and you do no

[2018-11-17 12:56] edwin0527 commented on #1113
Hello @rohandubal,

This was helpful, but when I use the following code:

`AWSMobileClient.sharedInstance()
                            .showSignIn(navigationController: self.navigationController!,
                                        signInUIOptions: SignInUIOptions(canCancel: false,
                                                                         logoImage: UIImage(named: "MyCustomLog

[2018-11-17 16:07] edwin0527 opened #1115 "Customize AWS Amplify authentication UI for iOS"
**State your question**
When I use the code in the snippet, the "MyCustomLogo" does not appear and I still see the default logo. However, the background does change to black, but I'm more concern with changing the logo.

**Which AWS Services are you utilizing?**
AWS Amplify Authentication

**Provide code snippets (if applicable)**

    AWSMobileClient.sharedInstance()
                        .show

[2018-11-17 22:09] jamesingham commented on #1113
Thanks for that. I can confirm it's working.

However as mentioned by @edwin0527, setting `logoImage` `UIImage` doesn't actually change the image in the sign in view.

[2018-11-18 01:31] rohandubal commented on #1115
Hello @edwin0527

The "MyCustomLogo" represents putting in an image name part of your app. You need to provide your image input in the `logoImage` argument. Hope this helps.

Thanks,
Rohan

[2018-11-18 01:32] rohandubal commented on #1113
Thanks for reporting this @jamesingham

I will try to reproduce this on my side and update back.

[2018-11-18 03:56] edwin0527 commented on #1115
Thank you, but I understand that part. However, I took an image, named it MyCustomLogo and added it to the project. However, the logo remains with the default and does not display my custom image.

[2018-11-19 05:48] ddDeName commented on #390
Have you solved this problem?

[2018-11-19 08:52] jorgej-ramos commented on #1103
Finally I've ended up using the workaround proposed by @mrdavidrees on [StackOverflow](https://stackoverflow.com/questions/47426017/aws-forgot-password-unable-to-verify-secret-hash-for-client-for-ios/47426018#comment93472843_47426018).

Basically, yo need to calculate a secret hash using the client secret, and username (or alias), with this extension

[code]

And then, launch a forgot password req

[2018-11-19 10:02] r-plus opened #1116 "+[__NSCFString JSONKeyPathsByPropertyKey]: unrecognized selector crash when execute kinesisRecorder submitAllRecords()."
**Describe the bug**
crash log(crashlytics) is detected in our production stage just once.

[code]

**To Reproduce**
Sorry we could not reproduce this crash.

**Which AWS service(s) are affected?**
Kinesis

**Expected behavior**
succeed kinesis submit without crash.

**Environment**
 - SDK Version: 2.6.26
 - Dependency Manager: Carthage
 - Swift Version : 4.1(Xcode9.4.1)

**Device Information**
 -

[2018-11-19 15:30] palpatim commented on #916
This has been deployed to production. Generated SDKs now have `@objcMembers` annotations on model classes.

To be clear, this is a change on the [AWS API Gateway service](https://console.aws.amazon.com/apigateway/home), not the SDK. That means that you will need to re-generate your SDK.

Please let us know if you have any problems.

[2018-11-19 15:30] #916 closed

[2018-11-19 16:41] #1098 closed

[2018-11-19 17:29] muellerfr commented on #390
Hello @ddDeName,

The version of the SDK you are using is quite old. Please upgrade to the latest version, and open a new issue if you still need help.

[2018-11-19 17:35] cbommas commented on #1071
@wxsdmy @bhavinmdesai

Closing this issue as I haven't heard back. Please feel free to reopen if the error is still occurring.

[2018-11-19 17:35] #1071 closed

[2018-11-19 17:55] rohandubal commented on #1103
Hello @jorgej-ramos

While this works, I think the SDK should be able to handle this case as well. If the service allows using phone number, the forgot password should be able to trigger the flow. I will look into this and try to reproduce on my side.

Thanks,
Rohan

[2018-11-19 18:12] palpatim commented on #1030
As a followup for folks who are following this, looking for a server-side AWS SDK written in Swift:

You can investigate the [smoke-aws library](https://github.com/amzn/smoke-aws) for your use case. It is a work in progress, and the team is still [working on getting a working S3 client](https://github.com/amzn/smoke-aws/issues/3), but it is in active development.

Hope this helps.

[2018-11-20 00:57] muellerfr commented on #1045
Hi @codeslubber, can you share your findings?

[2018-11-20 07:07] commando24 commented on #932
@cbommas my completion handler is not being called in AWSS3TransferUtility.uploadFile().

[2018-11-20 07:50] jorgej-ramos commented on #1103
Hello @rohandubal

Agreed. I'm posting this workaround only for the sole purpose of illustrating the answer. But the SDK should provide an "official" method to do that.
Thank you

[2018-11-20 10:04] rivkiG commented on #1088
hi
I get another crash maybe you will have an answer for it.
if I do a big backup after a while I get this error:
'Task created in a session that has been invalidated" and it crashes the app I saw that it crashes in this point:
in the AWSURLSessionManager.m file in the method: didCompleteWithError of NSURLSessionTaskDelegate.
in the line:  [[[AWSTask taskWithResult:nil] continueWithSuccessBlock:^i